<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body class=whitebg>


<!--首页-->
<div class="mui-content">

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">预约提交已完成</h1>
    </header>

    <div class="mui-content">
        <div class="course-list camp-list camp-lesson-list detalis-list list">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media course-listli course-padding padding mb">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="/static/frontend/images/icon02.jpg"
                             style="width: 55px;">
                        <div class="mui-media-body">
                            <span class="colorblue">{$title}</span>
                            <p class="mui-ellipsis">感谢您的预约，我们将在24小时内与您联系</p>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="page-header">
                <span class="course">课程信息</span>
            </div>
            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli detalisli">
                    <a class="mui-navigate-right" href="#">
                        训练营
                        <span>{$billInfo.camp}</span>
                    </a>
                </li>
                <li class="mui-table-view-cell listli detalisli">训练时间<span>{$lessonInfo.week} {$lessonInfo.lesson_time}</span></li>
                <li class="mui-table-view-cell listli detalisli">训练地点<span>{$lessonInfo.court}</span></li>
                <li class="mui-table-view-cell listli detalisli">所属地区<span>{$lessonInfo.province} {$lessonInfo.city} {$lessonInfo.area}</span></li>
            </ul>


            <div class="page-header">
                <span class="course">个人信息</span>
            </div>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell listli detalisli">学员姓名<span>{$studentInfo.student}</span></li>
                <li class="mui-table-view-cell listli detalisli">家长姓名<span>{$studentInfo.member}</span></li>
                <li class="mui-table-view-cell listli detalisli">手机号码<span>{$memberInfo.telephone}</span></li>
                <li class="mui-table-view-cell listli detalisli border-b">提交日期<span>{$billInfo.create_time}</span></li>
            </ul>

        </div>
    </div>
</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    mui("body").on("tap","a",function(){
        window.top.location.href=this.href;
    });
</script>
</html>