.dashboard {
    color: #777 !important;
    text-decoration: none !important;
}

.panel-intro .panel-heading {
    padding: 15px;
    padding-bottom: 0;
    background: #e8edf0;
    border-color: #e8edf0;
    position: relative;
    margin-bottom: 15px;
}
.panel-intro > .panel-heading .panel-lead {
    margin-bottom: 15px;
}