<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>管理赛程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <style>
        .mui-popover-arrow {
            left: auto;
            right: 6px;
        }

        .mui-input-row a {
            display: table;
            width: 100%;
        }

        .mui-input-group .mui-input-row label {
            line-height: 1.5;
        }

        .mui-popover {
            left: 0;
            right: 0;
            top: 130px;
            width: 80%;
            margin: 0 auto;
            position: absolute;
        }

        .checkboxCont label{
            width: 12%;
            padding: 10px;
            text-align: center;
        }
        .checkboxCont font{
            font-size:14px;
        }
        .checkboxCont .firghtTeam{
            margin-left: 25px;
        }
    </style>
</head>

<body>
    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">
            <a href="{:url('match/createScheduleOfLeague1',['league_id'=>$league_id])}">
                <button type="button" style="margin-top: 6px;">直接创建赛程</button>
            </a>
            <button type="button" class="bgblue addSchedule" style="margin-top: 6px;">添加日程</button>
        </h1>
    </header>

    <div class="mui-content">
        <input type="hidden" name="__token__" class="data" value="{$Request.token}" />
        <input type="hidden" name="match" value="{$leagueInfo.name}" class="data">
        <input type="hidden" name="match_id" value="{$league_id}" class="data">
        <input type="hidden" name="match_stage" value="" class="data">
        <input type="hidden" name="match_stage_id" value="" class="data">

        <ul class="mui-table-view mb list">
            <li class="mui-table-view-cell listli">
                <label>比赛阶段</label>
                <span class="match_stage"></span>
            </li>
        </ul>
        <form action="" class="mui-input-group mb44 formList">
            {if condition="empty($matchScheduleInfo)"}
            <div class="scheduleList" data-num="1">
                <div class="page-header bggray2 border-b">
                    <span class="course">比赛日<text class="tnum">1</text></span>
                    <span class="fr f14 deleteModel hide">删除</span>
                </div>
                <div class="mui-input-row timeTap" data-tnum="1" data-options='{"type":"date"}' class="btn mui-btn mui-btn-block">
                    <div class="mui-navigate-right">
                        <label>比赛时间</label>
                        <span class="matchTime"></span>
                    </div>
                </div>
                <div class="operation-box mb clickTap" style="padding:15px;">
                    <div class="mui-input-row">
                        <label class="wd45">选择对阵的球队</label>
                    </div>
                    <div class="box">

                    </div>
                    <div class="operation-btn">
                        <span class="mui-badge">0</span>
                        <a class="all">全选</a>
                        <a class="cancel">取消</a>
                        <a class="del">[删除]</a>
                        <a href="#firght" class="mui-icon mui-icon-personadd add"></a>
                    </div>
                </div>
            </div>
            {/if}

            {volist name="matchScheduleInfo" id="vo1" key="a"}
            <div class="scheduleList" data-num="{$a}">
                <div class="page-header bggray2 border-b">
                    <span class="course">比赛日<text class="tnum">{$a}</text></span>
                    <span class="fr f14 deleteModel">删除</span>
                </div>
                <div class="mui-input-row timeTap" data-tnum="{$a}" data-options='{"type":"date"}' class="btn mui-btn mui-btn-block">
                    <div class="mui-navigate-right">
                        <label>比赛时间</label>
                        <span class="matchTime">{$key}</span>
                    </div>
                </div>
                <div class="operation-box mb clickTap" style="padding:15px;">
                    <div class="mui-input-row">
                        <label class="wd45">选择对阵的球队</label>
                    </div>
                    <div class="box">
                        {volist name="vo1" id="vo2" key="b"}
                        <div class="mui-input-row mui-checkbox checkboxCont " data-id="{$vo2.id}">
                            <div class="mui-row mui-text-center f14" style="line-height: 41px;">
                                <div class="mui-col-xs-2 order">{$b}</div>
                                <div class="mui-col-xs-2 matchGroup" data-group_id="{$vo2.match_group_id}">{$vo2.match_group}</div>
                                <div class="mui-col-xs-6 mui-ellipsis mui-text-left">{$vo2.home_team} VS
                                    {$vo2.away_team}</div>
                                <input type="checkbox" name="" class="firght" value="" {if condition="$vo2.status >= 2"
                                    } disabled="disabled" {/if} data-status="{$vo2.status}" data-home_team="{$vo2.home_team}"
                                    data-home_team_id="{$vo2.home_team_id}" data-home_team_logo="{$vo2.home_team_logo}"
                                    data-home_team_alias="{$vo2.home_team_alias}" data-away_team="{$vo2.away_team}"
                                    data-away_team_id="{$vo2.away_team_id}" data-away_team_logo="{$vo2.away_team_logo}"
                                    data-match_time="{$vo2.match_time}" data-away_team_alias="{$vo2.away_team_alias}"
                                    data-homeaway_team_id="{$vo2.home_team_id}-{$vo2.away_team_id}">
                            </div>
                        </div>
                        {/volist}
                    </div>
                    <div class="operation-btn">
                        <span class="mui-badge">{$key+1}</span>
                        <a class="all">全选</a>
                        <a class="cancel">取消</a>
                        <a class="del">[删除]</a>
                        <a href="#firght" class="mui-icon mui-icon-personadd add"></a>
                    </div>
                </div>
            </div>
            {/volist}


        </form>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-col-xs-12 opli bggreen" onclick="submitAction()">
                提交
            </li>
        </ul>
    </div>

    <!--选择对阵球队-->
    <div id="firght" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="page-header">
            <span class="f14 ">
                <strong>选择对阵球队</strong>
            </span>
            <span class="fr">
                <button type="button" id="closeConfirm">关闭</button>
            </span>
            <span class="fr">
                <button class="mui-btn-blue" id="firghtConfirm">确认</button>
            </span>
        </div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <form class="mui-input-group firghtList"></form>
            </div>
        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/mui.picker.min.js"></script>
    <script src="/static/frontend/js/mui.poppicker.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        //弹出框滚动必须写在mui专用的初始化
        (function ($) {
            $(".mui-scroll-wrapper").scroll({
                //bounce: false,//滚动条是否有弹力默认是true
                indicators: true //是否显示滚动条,默认是true
            });
            // 关闭弹出菜单
            $("body").on('tap', '.mui-backdrop', function () {
                mui(".mui-popover.mui-active").popover("toggle");
            })
        })(mui);

        //选择器
        (function ($, doc) {
            $(document).on("tap", ".timeTap", function () {
                var tnum = this.getAttribute('data-tnum');
                this.classList.add("btnTime" + tnum);
                this.children[0].children[1].classList.add("match_time" + tnum);
                var resultTime = $('.match_time' + tnum)[0];
                var btnTime = $('.btnTime' + tnum);
                btnTime.each(function (i, btn) {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var id = this.getAttribute('id');
                    var picker = new $.DtPicker(options);
                    picker.show(function (rs) {
                        resultTime.innerText = rs.text;
                        picker.dispose();
                    });
                });
            })
        })(mui, document);

        $(function () {
            getbattle(); //获取对阵信息
            matchStage(); //获取比赛阶段数据

            // 添加赛程
            $(".addSchedule").on("tap", "", function () {
                let listLength = $(".scheduleList").length + 1;
                let str =
                    `<div class="scheduleList" data-num="${listLength}">
                        <div class="page-header bggray2 border-b">
                            <span class="course">比赛日<text class="tnum">${listLength}</text></span>
                            <span class="fr f14 deleteModel">删除</span>
                        </div>
                        <div class="mui-input-row timeTap" data-tnum="${listLength}" data-options='{"type":"date"}' class="btn mui-btn mui-btn-block">
                            <div class="mui-navigate-right">
                                <label>比赛时间</label>
                                <span class="matchTime"></span>
                            </div>
                        </div>
                        <div class="operation-box mb clickTap" style="padding:15px;">
                            <div class="mui-input-row">
                                <label class="wd45">选择对阵的球队</label>
                            </div>
                            <div class="box">

                            </div>
                            <div class="operation-btn">
                                <span class="mui-badge">0</span>
                                <a class="all">全选</a>
                                <a class="cancel">取消</a>
                                <a class="del">[删除]</a>
                                <a href="#firght" id="setleagueScoreBox" class="mui-icon mui-icon-personadd add"></a>
                            </div>
                        </div>
                    </div>`;
                $(".formList").prepend(str);

                if ($(".scheduleList").length > 1) {
                    $('.deleteModel').show();
                }
                // 滚回到顶部
                $('html,body').animate({
                    scrollTop: '0px'
                }, 500);
            });

            //获取序号并且赋值到对阵列表
            $(document).on("tap", ".add", function () {
                $(".firghtList input[type=checkbox]").attr("data-num", $(this).parents(".scheduleList")
                    .attr("data-num"));
            })

            // 选择添加
            $("#firghtConfirm").on('tap', function () {
                var dataNum = $(this).parents("#firght").find("input[type=checkbox]").attr("data-num");
                var str = '';
                var team_id = '';
                var check = "";

                $(".firghtList input[type=checkbox]:checked:not(:disabled)").each(function () {
                    str +=
                        ` <div class="mui-input-row mui-checkbox checkboxCont ">
                                <div class="mui-row mui-text-center f14" style="line-height: 41px;">
                                    <div class="mui-col-xs-2 order"></div>
                                    <div class="mui-col-xs-2 matchGroup" data-group_id="${$(this).siblings("span").attr("data-group_id")}">${$(this).siblings("span").text()}</div>
                                    <div class="mui-col-xs-6 mui-ellipsis mui-text-left">${$(this).attr("data-home_team")} VS ${$(this).attr("data-away_team")}</div>
                                    <input type="checkbox" name="" class="firght" value="" data-status="${$(this).attr("data-status")}" data-home_team="${$(this).attr("data-home_team")}" data-home_team_id="${$(this).attr("data-home_team_id")}"
                                data-home_team_logo="${$(this).attr("data-home_team_logo")}" data-home_team_alias="${$(this).attr("data-home_team_alias")}" data-away_team="${$(this).attr("data-away_team")}"
                                data-away_team_id="${$(this).attr("data-away_team_id")}" data-away_team_logo="${$(this).attr("data-away_team_logo")}" 
                                data-away_team_alias="${$(this).attr("data-away_team_alias")}" data-match_time="0"
                                data-homeaway_team_id="${$(this).attr("data-home_team_id")}-${$(this).attr("data-away_team_id")}">
                                </div>
                            </div>`

                });

                $(".scheduleList").each(function () {
                    // 把选中的球队插入到对应的组别中
                    if (dataNum == $(this).attr("data-num")) {
                        if ($(this).find(".box .checkboxCont").length == 0) {
                            $(this).find(".box").append(str);
                            mui("#firght").popover("toggle");
                        } else {
                            check = "Yes";
                            if (check == "Yes") {
                                $(this).find(".box").append(str);
                                mui("#firght").popover("toggle");
                            }
                        }
                        var i = 1;
                        $(this).find(".checkboxCont").each(function () { //循环checkboxCont
                            $(this).find(".order").text(i++); //更新序号
                        });
                        totalNum = $(this).find(".checkboxCont").length;
                        $(this).find(".mui-badge").text(totalNum);
                    }
                });


            });
            $(document).on("tap", "#closeConfirm", function () {
                mui("#firght").popover("toggle");
            })


            //列表复选框赋值
            $(document).on("tap", ".add", function () {
                $(".firghtList input[type=checkbox]").attr("data-num", $(this).parents(".scheduleList")
                    .attr("data-num"));
                //每次打开先清空所有选择
                $(".firghtList input[type='checkbox']").prop("checked", false);
                $(".firghtList input[type='checkbox']").prop("disabled", false);
                //然后遍历出对应所选
                var dataNum = $(".firghtList input[type=checkbox]").attr("data-num");
                $(this).parents(".operation-btn").siblings(".box").find(".checkboxCont").each(function () {
                    if (dataNum == $(this).parents(".scheduleList").attr("data-num")) {
                        var homeaway_team_id = $(this).find("input[type=checkbox]").attr(
                            "data-homeaway_team_id")
                        $(".firghtList input[type=checkbox]").each(function () {
                            if ($(this).attr("data-homeaway_team_id") ==
                                homeaway_team_id) {
                                $(this).prop("checked", true);
                                $(this).prop("disabled", "disabled")
                            }
                        })
                    }
                })
            });

            // 删除整个比赛日
            $(document).on("tap", ".deleteModel", function () {
                var btnArray = ['取消', '确认'];
                var thisdiv = $(this).parents(".scheduleList");
                mui.confirm("确认删除该比赛日程？", "提示", btnArray, function (e) {
                    if (e.index == 1) {
                        thisdiv.remove();
                        if ($(".scheduleList").length == 1) {
                            $('.deleteModel').hide();
                        }

                        // 比赛日序号的更新
                        var i = $(".scheduleList").length;
                        $(".scheduleList").each(function () {
                            $(this).find(".tnum").text(i--); //更新序号
                        });
                    }
                })
            })

            //全选
            $(".all").on('tap', function () {
                $(".checkboxCont").find('input').prop('checked', true)
            })
            //取消全选
            $(".cancel").on('tap', function () {
                $(".checkboxCont").find('input').prop('checked', false)
            })
            //删除对阵信息
            $(document).on('tap', '.del', function () {
                var thisBox = $(this).parents(".operation-btn").siblings(".box")
                thisBox.find(".firght:checked").parents(
                    ".checkboxCont").remove();
                var i = $(".scheduleList").length;
                thisBox.find(".checkboxCont").each(function () { //循环checkboxCont
                    $(this).find(".order").text(i--); //更新序号
                });
                totalNum = thisBox.find(".checkboxCont").length;
                $(this).parents(".operation-btn").find(".mui-badge").text(totalNum);
            });

        });

        var schedules = [];
        var league_id = "{$league_id}";

        // 比赛阶段
        function matchStage() {
            mui.ajax("{:url('api/league/getmatchstagelist','','',true)}", {
                data: {
                    league_id: league_id,
                    type: 1
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        $("input[name=match_stage]").val(data.data[0].name);
                        $("input[name=match_stage_id]").val(data.data[0].id);
                        $(".match_stage").text(data.data[0].name);
                    } else {
                        var btnArray = ['取消', '确认'];
                        mui.alert("请先创建小组赛比赛阶段", function (e) {
                            window.location =
                                "{:url('Match/creatematchstage',['league_id'=>$leagueInfo.id])}";
                        });
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        }

        // 请求api 获取对阵信息
        function getbattle() {
            var urlBuildBatte = "{:url('api/league/buildschedulebygroup')}";
            var match_id = "{$league_id}";
            mui.ajax({
                url: urlBuildBatte,
                data: {
                    group_id: 0,
                    match_id: match_id
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    console.log(data);
                    var newli = '';
                    if (data.code == 200) {

                        for (var i = 0; i <= data.data.length - 1; i++) {
                            for (var j = 0; j <= data.data[i].battles.length - 1; j++) {
                                var battlesArray = data.data[i].battles[j]
                                newli +=
                                    `<div class="mui-input-row mui-checkbox mui-left">
                                    <span class="matchGroup" data-group_id="${data.data[i].group_id}">${data.data[i].group_name}</span>
                                    <label class="wd mui-ellipsis">${battlesArray.home_team} VS ${battlesArray.away_team}</label>
                                    <input name="checkbox-firght" type="checkbox" data-home_team="${battlesArray.home_team}" data-status="0"
                                          data-home_team_id="${battlesArray.home_team_id}" data-home_team_logo="${battlesArray.home_team_logo}" 
                                          data-home_team_alias="${battlesArray.home_team_alias}"  data-away_team="${battlesArray.away_team}"
                                        data-away_team_id="${battlesArray.away_team_id}" data-away_team_logo="${battlesArray.away_team_logo}"
                                        data-away_team_alias="${battlesArray.away_team_alias}" 
                                            data-homeaway_team_id="${battlesArray.home_team_id}-${battlesArray.away_team_id}"> 
                                </div>`
                            }

                        }
                        if (newli != '') {
                            $(".firghtList").empty().append(newli);
                        }
                    } else {
                        $(".firghtList").html('<p class="nodata">没有相关数据哦</p>');
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        }

        // 获取数据并进行提交
        function submitAction() {

            schedules = []
            var isCheck = true;
            $(".scheduleList").each(function () {

                var matchTime = $(this).find(".matchTime").text();
                if (matchTime == '') {
                    var dayTime = $(this).find(".tnum").text();
                    mui.toast("请选择比赛日" + dayTime + "的比赛时间");
                    isCheck = false;
                    return false;
                }
                $(this).find(".checkboxCont").each(function () {
                    var status = $(this).find(".firght").attr("data-status");
                    if (status == 0 || status == 1) {
                        var match_group = $(this).find(".matchGroup").text();
                        var match_group_id = $(this).find(".matchGroup").attr("data-group_id");
                        var home_team = $(this).find(".firght").attr("data-home_team");
                        var home_team_id = $(this).find(".firght").attr("data-home_team_id");
                        var home_team_logo = $(this).find(".firght").attr("data-home_team_logo");
                        var home_team_alias = $(this).find(".firght").attr("data-home_team_alias");
                        var away_team = $(this).find(".firght").attr("data-away_team");
                        var away_team_id = $(this).find(".firght").attr("data-away_team_id");
                        var away_team_logo = $(this).find(".firght").attr("data-away_team_logo");
                        var away_team_alias = $(this).find(".firght").attr("data-away_team_alias");
                        var status = $(this).find(".firght").attr("data-status");
                        var match_time = $(this).find(".firght").attr("data-match_time");
                        // 用于判断原来时间与最后选择时间是否一致
                        var match_time_yyr = match_time.substr(0, 10); //年月日
                        var match_time_hm = match_time.substr(11, 16); //时分
                        // 如果时间不一样，就把最新的时间和原本的时分拼接提交
                        if (match_time_yyr != matchTime) {
                            match_time = matchTime + ' ' + match_time_hm
                        }
                        //a
                        if (match_time == 0) {
                            match_time = matchTime
                        }
                        var id = $(this).attr("data-id");
                        if (id != undefined) {
                            schedules.push({
                                match_time,
                                match_group,
                                match_group_id,
                                home_team,
                                home_team_id,
                                home_team_logo,
                                home_team_alias,
                                away_team,
                                away_team_id,
                                away_team_logo,
                                away_team_alias,
                                status,
                                id: id
                            })
                        } else {
                            schedules.push({
                                match_time,
                                match_group,
                                match_group_id,
                                home_team,
                                home_team_id,
                                home_team_logo,
                                home_team_alias,
                                away_team,
                                away_team_id,
                                away_team_logo,
                                away_team_alias,
                                status
                            })
                        }

                    }
                })

            })
            if (!isCheck) {
                return isCheck
            }
            console.log(schedules)
            var btnArray = ['取消', '确认'];
            mui.confirm("本赛程为初次预排，提交后需编辑完善修改信息后才能生效", "提示", btnArray, function (e) {
                if (e.index == 1) {
                    var data = wooApi.getInputData('input', 'data');
                    datas = wooApi.getInputData('select', 'data', data);
                    // 获取其他标签值
                    arrData = wooApi.getDomData('domData', datas);
                    var objData = wooApi.arrTOobj(arrData);
                    objData.schedules = JSON.stringify(schedules);
                    var url = "{:url('api/league/saveallmatchschedule')}";
                    var ajaxResult = wooApi.asyncF(url, objData);
                    if (ajaxResult.code == 200) {
                        mui.alert('创建成功', '确定', function () {
                            var goUrl = "{:url('match/scheduleListOfLeague')}" + '/league_id/' +
                                "{$league_id}";
                            window.top.location.href = goUrl;
                        })
                    } else {
                        mui.alert(ajaxResult.msg, '创建失败');
                        mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                            if (data.code === 200) {
                                $('input[name=__token__]').val(data.data);
                            }
                        }, 'json');
                    }
                }
            })

        };
    </script>
</body>

</html>