<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>新建赛程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <style>
        .mui-popover-arrow {
            left: auto;
            right: 6px;
        }

        .mui-input-row a {
            display: table;
            width: 100%;
        }

        .mui-input-group .mui-input-row label {
            line-height: 1.5;
        }
      
        .mui-popover {
            left: 0 !important;
            right: 0;
            top: 130px;
            width: 95%;
            height: 450px;
            margin: 0 auto;
            position: absolute;
        }
        .mui-popover .mui-control-content{
            height: 359px;
        }
        .addInput {
            margin-top: 15px;
        }

        .addBtn {
            margin-top: 15px;
            padding: 12px 11px;
        }
        .scheduleNumList{
            text-align: center;
            font-size: 14px;
            line-height: 43px;
            border-bottom: 1px solid #ddd;
            color: #737373;
        }
        .homeTeamTap,.awayTeamTap{
            margin-left: 0 !important;
        }
        .HomeTeam:empty::before,.AwayTeam:empty::before{
			content:attr(placeholder);
        }
        .clearOperation{
            margin: 20px 0 60px 0;
            text-align: center;
        }
      
    </style>
</head>

<body>
    <header class="mui-bar mui-bar-nav subheader">
        <a href="{:url('match/scheduleListOfLeague',['league_id'=>$league_id])}" class="mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">
            <button type="button" class="bgblue addSchedule" style="margin-top: 6px;">添加日程</button>
        </h1>
    </header>

    <div class="mui-content">
        <input type="hidden" name="__token__" class="data" value="{$Request.token}" />
        <input type="hidden" name="match" value="{$leagueInfo.name}" class="data">
        <input type="hidden" name="match_id" value="{$leagueInfo.id}" class="data">
        <input type="hidden" name="add_mode" value="2" class="data">
        <input type="hidden" name="match_stage" value="" class="data">
        <input type="hidden" name="match_stage_id" value="" class="data">
        <form action="" class="mui-input-group mb44">
            <div class="mui-input-row">
                <div class="mui-navigate-right">
                    <label>比赛阶段</label>
                    <span class="select-row">
                        <select name="type" class="match_stage"></select>
                    </span>
                </div>
            </div>
            <p class="pline formList"></p>
            {if condition="empty($matchScheduleInfo)"}
            <div class="scheduleList" data-num="1">
                <div class="page-header bggray2 border-b">
                    <span class="course">比赛日{$dayCount+1}</span>
                </div>
                <div class="mui-input-row timeTap" data-tnum="1" data-options='{"type":"date"}'>
                    <div class="mui-navigate-right">
                        <label>比赛时间</label>
                        <span class="ui-alert"></span>
                    </div>
                </div>

                <div class="operation-box mb" style="padding:15px;">
                    <div class="mui-input-row">
                        <label class="wd45">选择对阵的球队</label>
                    </div>
                    <div class="box">
                        <div class="mui-input-row mui-checkbox checkboxCont " data-status="0" data-match_time="0">
                            <div class="mui-row mui-text-center f14" style="line-height: 41px;">
                                <div class="mui-col-xs-2 order">1</div>
                                <div class="mui-col-xs-4 mui-ellipsis mui-text-center">
                                    <a href="#teamListType" class="choiseTeam" data-TeamNum="1">
                                        <text class="HomeTeam teamText" contenteditable placeholder="请选择主队"></text>
                                        <input type="hidden" name="home_team_id" value="" class="checkId">
                                        <input type="hidden" class="class2" name="home_team_logo" value="">
                                    </a>
                                </div>
                                <div class="mui-col-xs-1">VS</div>
                                <div class="mui-col-xs-4 mui-ellipsis mui-text-center">
                                    <a href="#teamListType" class="choiseTeam" data-TeamNum="2">
                                        <text class="AwayTeam teamText" contenteditable placeholder="请选择客队"></text>
                                        <input type="hidden" name="away_team_id" value="" class="checkId">
                                        <input type="hidden" class="class2" name="away_team_logo" value="">
                                    </a>
                                </div>
                                <input type="checkbox" name="" class="firght" value="" style="right:5px;">
                            </div>
                        </div>
                    </div>
                    <div class="operation-btn">
                        <span class="mui-badge">1</span>
                        <a class="all">全选</a>
                        <a class="cancel">取消</a>
                        <a class="del">[删除]</a>
                        <a class="addSingleSchedule colorblue fr" style="margin-right:45px">添加赛程</a>
                    </div>
                </div>
            </div>
            {/if}
            {volist name="matchScheduleInfo" id="vo1" key="a"}
            <div class="scheduleList" data-num="{$a}">
                <div class="page-header bggray2 border-b">
                    <span class="course">比赛日<text class="tnum">{$vo1.match_day_num}</text></span>
                    <span class="fr f14 deleteModel">删除</span>
                </div>
                <div class="mui-input-row timeTap" data-tnum="{$a}" data-options='{"type":"date"}' class="btn mui-btn mui-btn-block">
                    <div class="mui-navigate-right">
                        <label>比赛时间</label>
                        <span class="ui-alert">{$key}</span>
                    </div>
                </div>
                <div class="operation-box mb" style="padding:15px;">
                    <div class="mui-input-row">
                        <label class="wd45">选择对阵的球队</label>
                    </div>
                    <div class="box">
                        {volist name="vo1.scheduleList" id="vo2" key="b"}
                        <div class="mui-input-row mui-checkbox checkboxCont" data-id="{$vo2.id}" data-status="{$vo2.status}"
                            data-match_time="{$vo2.match_time}">
                            <div class="mui-row mui-text-center f14" style="line-height: 41px;">
                                <div class="mui-col-xs-2 order">{$b}</div>
                                <div class="mui-col-xs-4 mui-ellipsis mui-text-center">
                                    <a href="#teamListType" class="choiseTeam" data-TeamNum="1">
                                        <text class="HomeTeam teamText" contenteditable="" placeholder="请选择主队">{$vo2.home_team}</text>
                                        <input type="hidden" name="home_team_id" value="{$vo2.home_team_id}" class="checkId">
                                        <input type="hidden" class="class2" name="home_team_logo" value="{$vo2.home_team_logo}">
                                    </a>
                                </div>
                                <div class="mui-col-xs-1">VS</div>
                                <div class="mui-col-xs-4 mui-ellipsis mui-text-center">
                                    <a href="#teamListType" class="choiseTeam" data-TeamNum="2">
                                        <text class="AwayTeam teamText" contenteditable="" placeholder="请选择客队">{$vo2.away_team}</text>
                                        <input type="hidden" name="away_team_id" value="{$vo2.away_team_id}" class="checkId">
                                        <input type="hidden" class="class2" name="away_team_logo" value="{$vo2.home_team_logo}">
                                    </a>
                                </div>
                                <input type="checkbox" name="" class="firght" value="" style="right:5px;">
                            </div>
                        </div>
                        {/volist}


                    </div>
                    <div class="operation-btn">
                        <span class="mui-badge">{$key+1}</span>
                        <a class="all">全选</a>
                        <a class="cancel">取消</a>
                        <a class="del">[删除]</a>
                        <a class="addSingleSchedule colorblue fr" style="margin-right:45px">添加赛程</a>
                    </div>
                </div>
            </div>
            {/volist}
        </form>
        <p class="clearOperation hide">需要清空赛程？点击<a class="clearScheduleList colororange">清空</a></p>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-col-xs-12 opli bggreen" onclick="submitAction()">
                提交
            </li>
        </ul>
    </div>

    <!--球队-->
    <div id="teamListType" class="mui-popover list">
        <div class="mui-popover-arrow"></div>
        <div class="page-header border-b">
            <span class="course wd36">
                <strong>选择对手</strong>
            </span>
            <span class="fr">
                <button class="mui-btn" id="teamDel">清除</button>
            </span>
        </div>
        <div class="camp-lesson-list">
            <div class="mui-segmented-control">
                <a class="mui-control-item mui-active" href="#item1">晋级球队</a>
                <a class="mui-control-item" href="#item2">全部球队</a>
            </div>
        </div>
        <div id="item1" class="mui-control-content mui-active">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="teamAList promotionList">
                        <li class="nodata">
                            <i class="icon iconfont icon-logo-Big"></i>
                            <p>没有相关数据,请先选择比赛阶段</p>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div id="item2" class="mui-control-content">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="teamAList teamList"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/mui.picker.min.js"></script>
    <script src="/static/frontend/js/mui.poppicker.js"></script>
    <script src="/static/frontend/js/city.data-3.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        //弹出框滚动必须写在mui专用的初始化
        (function ($) {
            $(".mui-scroll-wrapper").scroll({
                //bounce: false,//滚动条是否有弹力默认是true
                indicators: true //是否显示滚动条,默认是true
            });
            // 关闭弹出菜单
            $("body").on('tap', '.mui-backdrop', function () {
                mui(".mui-popover.mui-active").popover("toggle");
            })
        })(mui);
        // a标签跳转
        mui("header").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        //选择器
        (function ($, doc) {
            $(document).on("tap", ".timeTap", function () {
                var tnum = this.getAttribute('data-tnum');
                this.classList.add("btnTime" + tnum);
                this.children[0].children[1].classList.add("match_time" + tnum);
                var resultTime = $('.match_time' + tnum)[0];
                var btnTime = $('.btnTime' + tnum);
                btnTime.each(function (i, btn) {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var id = this.getAttribute('id');
                    var picker = new $.DtPicker(options);
                    picker.show(function (rs) {
                        resultTime.innerText = rs.text;
                        picker.dispose();
                    });
                });
            })
        })(mui, document);

        var pstageId = ''
        var stageVal = wooApi.GetQueryString('match_stage_id');
        $(function () {
            matchStage(1); //比赛阶段

            // 根据比赛阶段，显示管理赛程页面
            $(document).on("change", ".match_stage", function () {
                var match_stage_id = $(this).children('option:selected').val();
                if (match_stage_id == "{$firstMatchStageId}") {
                    window.location.href = "{:url('match/createSchedule',['league_id'=>$league_id])}"
                } else {
                    window.location.href =
                        "{:url('match/createScheduleOfLeague1',['league_id'=>$league_id])}/" +
                        "?match_stage_id=" + match_stage_id
                }
            });

            // 当赛程数量大于等于1条的时候显示清空按钮
            if ($(".scheduleList").length >= 1) {
                $(".clearOperation").show();
            }


            // 根据比赛阶段来显示选择列表
            // if (stageVal == 1) {
            //     getbattle();
            //     $(".promotionList").empty();
            //     promotionTeamList(stageVal);
            // } else {
            //     allTeamList();
            //     $(".promotionList").empty();
            //     promotionTeamList(stageVal);
            // }

            // 添加日程
            $(".addSchedule").on("tap", "", function () {
                var listLength = $(".scheduleList").length + 1 + {$dayCount};
                var str =
                    `<div class="scheduleList" data-num="${listLength}">
                <div class="page-header bggray2 border-b">
                    <span class="course">比赛日<text class="tnum">${listLength}</text></span>
                    <span class="fr f14 deleteModel">删除</span>
                </div>
                <div class="mui-input-row timeTap" data-tnum="${listLength}" data-options='{"type":"date"}'>
                    <div class="mui-navigate-right">
                        <label>比赛时间</label>
                        <span class="ui-alert"></span>
                    </div>
                </div>

                <div class="operation-box mb" style="padding:15px;">
                    <div class="mui-input-row">
                        <label class="wd45">选择对阵的球队</label>
                    </div>
                    <div class="box"></div>
                    <div class="operation-btn">
                        <span class="mui-badge">0</span>
                        <a class="all">全选</a>
                        <a class="cancel">取消</a>
                        <a class="del">[删除]</a>
                        <a class="addSingleSchedule colorblue fr" style="margin-right:45px">添加赛程</a>
                    </div>
                </div>
            </div>`;
                $(".formList").after(str);
                matchStage(1); //比赛阶段
                // 滚回到顶部
                $('html,body').animate({
                    scrollTop: '0px'
                }, 500);

            });

            // 添加赛程
            $(document).on("tap", ".addSingleSchedule", function () {
                var listLength = $(this).parents().siblings(".box").find(".checkboxCont").length + 1;
                var str =
                    ` <div class="mui-input-row mui-checkbox checkboxCont" data-status="0" data-match_time="0">
                            <div class="mui-row mui-text-center f14" style="line-height: 41px;">
                                <div class="mui-col-xs-2 order">${listLength}</div>
                                <div class="mui-col-xs-4 mui-ellipsis mui-text-center">
                                    <a href="#teamListType" class="choiseTeam" data-TeamNum="1">
                                        <text class="HomeTeam teamText" contenteditable placeholder="请选择主队">请选择主队</text>
                                        <input type="hidden" name="home_team_id" value="" class="checkId">
                                        <input type="hidden" class="class2" name="home_team_logo" value="">
                                    </a>
                                </div>
                                <div class="mui-col-xs-1">VS</div>
                                <div class="mui-col-xs-4 mui-ellipsis mui-text-center">
                                    <a href="#teamListType" class="choiseTeam" data-TeamNum="2">
                                        <text class="AwayTeam teamText" contenteditable placeholder="请选择客队">请选择客队</text>
                                        <input type="hidden" name="away_team_id" value="" class="checkId">
                                        <input type="hidden" class="class2" name="away_team_logo" value="">
                                    </a>
                                </div>
                                <input type="checkbox" name="" class="firght" value="" style="right:5px;">
                            </div>
                        </div>`;
                $(this).parents(".scheduleList").find(".box").append(str);
                $(this).parents(".scheduleList").find(".mui-badge").empty().append(listLength);
            });

            // 给每个模块传标记值
            $(document).on("tap", ".choiseTeam", function () {
                var dataNum = $(this).parents(".scheduleList").attr("data-num"); //比赛日所带序号
                var dataOrder = $(this).parents().siblings(".order").text(); //对阵球队序号
                var dataTeamNum = $(this).attr("data-TeamNum"); //主客队编号
                $("#teamListType li").attr("data-teamNum", dataNum + "-" + dataOrder + "-" +
                    dataTeamNum);
                $("#teamListType .addBtn").attr("data-teamNum", dataNum + "-" + dataOrder + "-" +
                    dataTeamNum);
                $("#teamListType #teamDel").attr("data-teamNum", dataNum + "-" + dataOrder + "-" +
                    dataTeamNum);
            });

            // 选择主队
            // 主队自主填写
            $(document).on('tap', '#teamListType .addBtn', function () {
                var team = $(this).siblings(".addInput").val();
                var team_id = -1;
                var team_logo = "{:url('/static/frontend/images/basketball.png')}";
                var liNum = $(this).attr("data-teamNum");
                $(".checkId").each(function () {
                    var checkNum = $(this).parents(".scheduleList").attr("data-num"); //比赛日所带序号
                    var checkOrder = $(this).parents(".mui-ellipsis").siblings(".order").text(); //对阵球队序号
                    var checkTeamNum = $(this).parents(".choiseTeam").attr("data-TeamNum");
                    var linkNum = checkNum + "-" + checkOrder + "-" + checkTeamNum
                    if (liNum == linkNum) {

                        $(this).siblings(".teamText").text(team);
                        $(this).val(team_id);
                        $(this).siblings(".class2").val(team_logo);
                        mui("#teamListType").popover("toggle");
                    }
                })
            });
            // 晋级球队列表选择操作
            $(document).on('tap', '#teamListType .promotionli', function () {
                var team = $.trim($(this).find("text").text());
                var team_id = $(this).attr("data-team_id");
                var team_logo = $(this).find(".teamlogo").attr("src");
                var liNum = $(this).attr("data-teamNum");
                $(".checkId").each(function () {
                    var checkNum = $(this).parents(".scheduleList").attr("data-num"); //比赛日所带序号
                    var checkOrder = $(this).parents(".mui-ellipsis").siblings(".order").text(); //对阵球队序号
                    var checkTeamNum = $(this).parents(".choiseTeam").attr("data-TeamNum");
                    var linkNum = checkNum + "-" + checkOrder + "-" + checkTeamNum
                    if (liNum == linkNum) {
                        var otherTeamId = $(this).parents(".mui-ellipsis").siblings(".mui-ellipsis").find(".checkId").val();
                        if (otherTeamId == team_id) {
                            mui.toast("同一场比赛两支球队不能相同,请选择其他球队");
                            return false;
                        }
                        $(this).siblings(".teamText").text(team);
                        $(this).val(team_id);
                        $(this).siblings(".class2").val(team_logo);
                        mui("#teamListType").popover("toggle");
                    }
                })
            });
            // 分组球队列表选择操作
            $(document).on('tap', '#teamListType .tlistli', function () {
                var team = $.trim($(this).find("text").text());
                var team_id = $(this).attr("data-team_id");
                var team_logo = $(this).find(".teamlogo").attr("src");
                var liNum = $(this).attr("data-teamNum");
                $(".checkId").each(function () {
                    var checkNum = $(this).parents(".scheduleList").attr("data-num"); //比赛日所带序号
                    var checkOrder = $(this).parents(".mui-ellipsis").siblings(".order").text(); //对阵球队序号
                    var checkTeamNum = $(this).parents(".choiseTeam").attr("data-TeamNum");
                    var linkNum = checkNum + "-" + checkOrder + "-" + checkTeamNum
                    if (liNum == linkNum) {
                        var otherTeamId = $(this).parents(".mui-ellipsis").siblings(".mui-ellipsis").find(".checkId").val();
                        if (otherTeamId == team_id) {
                            mui.toast("同一场比赛两支球队不能相同，请选择其他球队");
                            return false;
                        }
                        $(this).siblings(".teamText").text(team);
                        $(this).val(team_id);
                        $(this).siblings(".class2").val(team_logo);
                        mui("#teamListType").popover("toggle");
                    }
                })
            });
            // 全部球队列表选择操作
            $(document).on('tap', '#teamListType .allli', function () {
                var team = $.trim($(this).find("text").text());
                var team_id = $(this).attr("data-team_id");
                var team_logo = $(this).find(".teamlogo").attr("src");
                var liNum = $(this).attr("data-teamNum");
                $(".checkId").each(function () {
                    var checkNum = $(this).parents(".scheduleList").attr("data-num"); //比赛日所带序号
                    var checkOrder = $(this).parents(".mui-ellipsis").siblings(".order").text(); //对阵球队序号
                    var checkTeamNum = $(this).parents(".choiseTeam").attr("data-TeamNum");
                    var linkNum = checkNum + "-" + checkOrder + "-" + checkTeamNum
                    if (liNum == linkNum) {
                        var otherTeamId = $(this).parents(".mui-ellipsis").siblings(".mui-ellipsis").find(".checkId").val();
                        if (otherTeamId == team_id) {
                            mui.toast("同一场比赛两支球队不能相同，请选择其他球队");
                            return false;
                        }
                        $(this).siblings(".teamText").text(team);
                        $(this).val(team_id);
                        $(this).siblings(".class2").val(team_logo);
                        mui("#teamListType").popover("toggle");
                    }
                })
            });
            // 删除主队
            $(document).on('tap', '#teamDel', function () {
                var liNum = $(this).attr("data-teamNum");
                $(".checkId").each(function () {
                    var checkNum = $(this).parents(".scheduleList").attr("data-num"); //比赛日所带序号
                    var checkOrder = $(this).parents(".mui-ellipsis").siblings(".order").text(); //对阵球队序号
                    var checkTeamNum = $(this).parents(".choiseTeam").attr("data-TeamNum");
                    var linkNum = checkNum + "-" + checkOrder + "-" + checkTeamNum
                    if (liNum == linkNum) {
                        $(this).siblings(".teamText").text('');
                        $(this).val('');
                        $(this).siblings(".class2").val('');
                        mui("#teamListType").popover("toggle");
                    }
                })
            });


            //全选
            $(document).on('tap', ".all", function () {
                $(this).parents().siblings(".box").find('input').prop('checked', true)
            })
            //取消全选
            $(document).on('tap', ".cancel", function () {
                $(this).parents().siblings(".box").find('input').prop('checked', false)
            })
            //删除对阵信息
            $(document).on('tap', '.del', function () {
                var thisBox = $(this).parents(".operation-btn").siblings(".box")
                thisBox.find(".firght:checked").parents(
                    ".checkboxCont").remove();
                var i = 1;
                thisBox.find(".checkboxCont").each(function () { //循环checkboxCont
                    $(this).find(".order").text(i++); //更新序号
                });
                totalNum = thisBox.find(".checkboxCont").length;
                $(this).parents(".operation-btn").find(".mui-badge").text(totalNum);
            });

            // 删除整个比赛日
            $(document).on("tap", ".deleteModel", function () {
                var btnArray = ['取消', '确认'];
                var thisdiv = $(this).parents(".scheduleList");
                var date = $(this).parents(".page-header").siblings(".timeTap").find(".ui-alert").text();
                var league_id = "{$league_id}";
                var $this = $(this);
                mui.confirm("确认删除该比赛日程？", "提示", btnArray, function (e) {
                    if (e.index == 1) {
                        mui.ajax("{:url('api/league/delmatchschedulebydate','','',true)}", {
                            data: {
                                match_id: league_id,
                                date: date
                            },
                            dataType: 'json', //服务器返回json格式数据
                            type: 'post', //HTTP请求类型
                            timeout: 10000, //超时时间设置为10秒；
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            success: function (data) {
                                console.log(data)
                                if (data.code == 200) {
                                    mui.toast("删除成功");
                                    thisdiv.remove();
                                    if ($(".scheduleList").length == 1) {
                                        $('.deleteModel').hide();
                                    }
                                    // 比赛日序号的更新
                                    var i = 1;
                                    $(".scheduleList").each(function () {
                                        $(this).find(".tnum").text(i++); //更新序号
                                    });
                                } else {
                                    $this.parents(".scheduleList").remove();
                                }
                            },
                        });

                    }
                })
            });

            // 清空赛程操作-未产生赛果情况下才可以清空
            $(document).on("tap", ".clearScheduleList", function () {
                mui.confirm("确定清空该阶段所有赛程？", "提示", ['取消', '确定'], function (e) {
                    if (e.index == 1) {
                        var league_id = "{$league_id}";
                        var match_stage_id = $(".match_stage").children("option:selected").val();
                        mui.ajax("{:url('api/league/clearmatchschedule','','',true)}", {
                            data: {
                                match_id: league_id,
                                match_stage_id: match_stage_id
                            },
                            dataType: 'json', //服务器返回json格式数据
                            type: 'post', //HTTP请求类型
                            timeout: 10000, //超时时间设置为10秒；
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            success: function (data) {
                                console.log(data)
                                if (data.code == 200) {
                                    mui.toast(data.msg);
                                    setTimeout('location.reload()', 1000);
                                } else {
                                    mui.toast(data.msg);
                                }
                            },
                        });
                    }
                })
            })
        });

        // 比赛阶段
        function matchStage() {
            var league_id = "{$league_id}";
            mui.ajax("{:url('api/league/getmatchstagelist','','',true)}", {
                data: {
                    league_id: league_id,
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var newli = '';
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli +=
                                ` <option value="${data.data[i].id}" data-pstage_id="${data.data[i].pstage_id}">${data.data[i].name}</option>`
                        }
                        $(".match_stage").append(newli)
                        $('.match_stage option[value="' + stageVal + '"]').prop("selected", true);
                        $("input[name=match_stage]").val($(".match_stage").children("option:selected").text())
                        $("input[name=match_stage_id]").val($(".match_stage").val());
                        pstageId = $(".match_stage").children('option:selected').attr("data-pstage_id");
                        if ("{$hasGroup}" == 0) {
                            allTeamList();
                            promotionTeamList(pstageId);
                        } else {
                            getbattle();
                            promotionTeamList(pstageId);
                        }
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        }
        // 联赛晋级球队列表
        function promotionTeamList(pstageId) {
            var url = "{:url('api/league/getmatchstageadvteams')}";
            var league_id = "{$league_id}";
            mui.ajax({
                url: url,
                data: {
                    match_id: league_id,
                    match_stage_id: pstageId
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli +=
                                `<li class="mui-table-view-cell listli promotionli" data-team="${data.data[i].team}" data-team_id="${data.data[i].team_id}">
                                            <label><img class="img24 teamlogo mui-pull-left" src="${data.data[i].team_logo}"><text>${data.data[i].team}</text></label>
                                            <span class="wd36">${data.data[i].match_group}</span>
                                        </li>`
                        }
                        $(".promotionList").empty().append(newli);
                    } else {
                        $(".promotionList").empty().append(
                            '<div class="mui-text-center"><p class="nohave">没有查找到数据哦</p><input type="text" class="addInput wd66" value="" placeholder="输入对阵名称" /><button class="mui-btn addBtn">确认</button></div>'
                        );

                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        }

        // 联赛全部球队列表
        function allTeamList() {
            var url = "{:url('api/league/leagueteampage')}";
            var league_id = "{$league_id}";
            mui.ajax({
                url: url,
                data: {
                    league_id: league_id
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.data.length - 1; i++) {
                            newli +=
                                `<li class="mui-table-view-cell listli allli" data-team="${data.data.data[i].team.name}" data-team_id="${data.data.data[i].team_id}">
                                            <img class="img24 teamlogo mui-pull-left" src="${data.data.data[i].team.logo}"><text>${data.data.data[i].team.name}</text>
                                        </li>`
                        }
                        $(".teamList").empty().append(newli);

                        if (newli == '') {
                            $(".teamList").empty().append(
                                '<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据</p></li>'
                            );
                        }
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        }

        // 分组列表
        function getbattle() {
            var url = "{:url('api/league/leaguegroupwithteamspage','','',true)}";
            var league_id = "{$league_id}";
            mui.ajax({
                url: url,
                data: {
                    league_id: league_id
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    console.log(data);
                    var newli = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.data.length - 1; i++) {
                            newli +=
                                `<ul class="mui-table-view list border-b"><li class="mui-table-view-cell mui-collapse listli mui-active">`;
                            newli +=
                                `<a class="mui-navigate-right"  href="javascript:void(0)"><p>${data.data.data[i].name}</p></a>`
                            newli +=
                                `<div class="mui-collapse-content" style="padding-left:0"><ul class="mui-table-view list" style="margin-top:-8px;margin-left:-20px;">`;
                            for (var j = 0; j <= data.data.data[i].group_teams.length - 1; j++) {
                                newli +=
                                    `<li class="mui-table-view-cell tlistli" data-team_id="${data.data.data[i].group_teams[j].team_id}">
                                            <img class="img24 mui-pull-left teamlogo" src="${data.data.data[i].group_teams[j].team_logo}"><text>${data.data.data[i].group_teams[j].team.team}</text>
                                        <li>`;
                            }
                            newli += `</ul></div></li></ul>`
                        }
                        $(".teamList").empty().append(newli);
                    } else {
                        $(".teamList").empty().append(
                            '<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据</p></li>'
                        );
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        }


        // 获取数据并进行提交
        function submitAction() {
            scheduleList = []
            var isOk = true

            $(".scheduleList").each(function () {
                var matchTime = $(this).find(".ui-alert").text();
                $(this).find(".checkboxCont").each(function () {
                    var status = $(this).attr("data-status");
                    if (status == 0 || status == 1) {
                        var home_team = $(this).find(".HomeTeam").text();
                        var home_team_id = $(this).find("input[name=home_team_id]").val();
                        var home_team_logo = $(this).find("input[name=home_team_logo]").val();
                        var away_team = $(this).find(".AwayTeam").text();
                        var away_team_id = $(this).find("input[name=away_team_id]").val();
                        var away_team_logo = $(this).find("input[name=away_team_logo]").val();
                        var scheduleName = $(this).parents(".scheduleList").find(".course").text();
                        var match_time = $(this).attr("data-match_time");
                        // 用于判断原来时间与最后选择时间是否一致
                        var match_time_yyr = match_time.substr(0, 10); //年月日
                        var match_time_hm = match_time.substr(11, 16); //时分
                        // 如果时间不一样，就把最新的时间和原本的时分拼接提交
                        if (match_time_yyr != matchTime) {
                            match_time = matchTime + ' ' + match_time_hm
                        }
                        //a
                        if (match_time == 0) {
                            match_time = matchTime
                        }
                        if (match_time == '') {
                            mui.toast("请选择" + scheduleName + "的比赛时间");
                            return isOk = false;
                        }
                        if (home_team_id == '') {
                            mui.toast("请选择" + scheduleName + "的主队");
                            return isOk = false;
                        }
                        if (away_team_id == '') {
                            mui.toast("请选择" + scheduleName + "的客队");
                            return isOk = false;
                        }
                        var id = $(this).attr("data-id");
                        if (id != undefined) {
                            scheduleList.push({
                                match_time,
                                home_team,
                                home_team_id,
                                home_team_logo,
                                away_team,
                                away_team_id,
                                away_team_logo,
                                status,
                                id
                            });
                        } else {
                            scheduleList.push({
                                match_time,
                                home_team,
                                home_team_id,
                                home_team_logo,
                                away_team,
                                away_team_id,
                                away_team_logo,
                                status
                            });
                        }
                    }
                });
            })
            if (!isOk) {
                return isOk
            }
            console.log(scheduleList)
            var data = wooApi.getInputData('input', 'data');
            datas = wooApi.getInputData('select', 'data', data);
            // 获取其他标签值
            arrData = wooApi.getDomData('domData', datas);
            var objData = wooApi.arrTOobj(arrData);
            objData.scheduleList = JSON.stringify(scheduleList);
            var url = "{:url('api/league/saveallcustommatchschedule')}";
            var ajaxResult = wooApi.asyncF(url, objData);
            if (ajaxResult.code == 200) {
                mui.alert('编辑成功', '确定', function () {
                    var goUrl = "{:url('match/scheduleListOfLeague')}" + '/league_id/' + "{$league_id}";
                    window.top.location.href = goUrl;
                })
            } else {
                mui.alert(ajaxResult.msg, '编辑失败');
                mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                    if (data.code === 200) {
                        $('input[name=__token__]').val(data.data);
                    }
                }, 'json');
            }
        };
    </script>
</body>

</html>