<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>赛程列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
</head>

<body>

    <header class="mui-bar mui-bar-nav for-tab">
        <div class="camp-lesson-list">
            <div class="mui-segmented-control mb">
                <a class="mui-control-item mui-icon mui-icon-left-nav" href="{:url('match/leagueManage',['league_id'=>$leagueInfo.id])}"></a>
                <a class="mui-control-item mui-active schedule1" href="#onList">已发布</a>
                <a class="mui-control-item schedule0" href="#offList">预排</a>
            </div>
        </div>
    </header>

    <div class="mui-content">
        <div class="location-frame">
            <span class="location-choise">
                <select class="fenzu">
                    <option value="0">全部分组</option>
                    {volist name="groups" id="vo"}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
                </select>
            </span>
        </div>
        <div class="tab-pullRefresh">

            <div id="onList" class="mui-scroll-wrapper mui-control-content mui-active" style="margin-top:45"px;>
                <div class="mui-scroll">
                    <ul class="mui-table-view list scheduleList1"></ul>
                </div>
            </div>
            <div id="offList" class="mui-scroll-wrapper mui-control-content" style="margin-top:45px;">
                <div class="mui-scroll">
                    <ul class="mui-table-view list scheduleList0"></ul>
                </div>
            </div>

            <div class="hideList hide"></div>
        </div>


        <ul class="mui-table-view operation mt">
            <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                <a href="{:url('match/leaguemanage',['league_id'=>$leagueInfo.id])}">
                    <span class="mui-icon icon iconfont icon-nav-Home"></span>
                </a>
            </li>
            <!-- <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3 opli bgblue createArray">创建对阵</li> -->
            <li class="mui-table-view-cell mui-col-sm-5 mui-col-xs-5 opli bgblue createSchedule">创建赛程</li>
            <li class="mui-table-view-cell mui-col-sm-5 mui-col-xs-5 opli bgred createNextSchedule">创建下一赛程</li>
            <!-- <li class="mui-table-view-cell mui-col-sm-5 mui-col-xs-5 opli bgblue hide notEmpty">
                <a href="{:url('Match/createscheduleofleague1',['league_id'=>$leagueInfo.id])}">创建下一赛程</a>
            </li>
            <li class="mui-table-view-cell mui-col-sm-10 mui-col-xs-10 opli bgblue hide isEmpty">
                <a href="{:url('Match/createscheduleofleague1',['league_id'=>$leagueInfo.id])}">创建下一赛程</a>
            </li> -->
        </ul>

    </div>
    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/getDate.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        mui("body").on("tap", "a", function () {
            window.top.location.href = this.href;
        });
        //弹出框滚动必须写在mui专用的初始化
        (function ($) {
            $(".mui-scroll-wrapper").scroll({
                //bounce: false,//滚动条是否有弹力默认是true
                indicators: true //是否显示滚动条,默认是true
            });
            // 关闭弹出菜单
            $("body").on('tap', '.mui-backdrop', function () {
                mui(".mui-popover.mui-active").popover("toggle");
            })
        })(mui);
        var btnArray = ['取消', '确认'];
        $(function () {

            $(".createNextSchedule").on("tap", function () {
                mui.confirm("你可以在此手动创建自定义赛程！", "提示", btnArray, function (e) {
                    if (e.index == 1) {
                        window.location =
                            "{:url('Match/createscheduleofleague1',['league_id'=>$leagueInfo.id])}";
                    }
                });
            });
            // var league_id = "{$league_id}";
            // // $showBtn = 1; 没分组 => 创建下一赛程（自填）
            // // $showBtn = 2; 有分组&没赛程 => 创建赛程（预览） + 创建下一赛程（自填）
            // // $showBtn = 3; 有分组&有赛程 => 创建下一赛程（自填）
            // // $showBtn = 4; 有分组&有系统添加的赛程 => 创建下一赛程（自填）
            // // $showBtn = 5; 有分组的赛程信息 => 创建下一赛程（自填）
            // var showBtn = "{$showBtn}"
            // if (showBtn == 1 || showBtn == 4 || showBtn == 3 || showBtn == 5) {
            //     $(".isEmpty").show();
            // } else if (showBtn == 2) {
            //     $(".notEmpty").show();
            // }

            // 清空赛程操作-未产生赛果情况下才可以清空
            $(document).on("tap", ".clearList", function () {
                mui.confirm("确定清空所有赛程？", "提示", ['取消', '确定'], function (e) {
                    if (e.index == 1) {
                        mui.ajax("{:url('api/league/clearmatchschedule','','',true)}", {
                            data: {
                                match_id: league_id,
                            },
                            dataType: 'json', //服务器返回json格式数据
                            type: 'post', //HTTP请求类型
                            timeout: 10000, //超时时间设置为10秒；
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            success: function (data) {
                                console.log(data)
                                if (data.code == 200) {
                                    mui.toast(data.msg);
                                    setTimeout('location.reload()', 2000);
                                } else {
                                    mui.toast(data.msg);
                                }
                            },
                        });
                    }
                })
            })
            toList()
            getbattle()
        })

        function getbattle() {
            var urlBuildBatte = "{:url('api/league/buildschedulebygroup')}";
            var match_id = "{$league_id}"
            mui.ajax({
                url: urlBuildBatte,
                data: {
                    match_id: match_id
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    console.log(data);
                    var newli = '';
                    $(".createSchedule").on("tap", function () {
                        if (data.code == 200) {
                            mui.confirm("小组分组对阵信息已经生成，为你的比赛日程添加赛程吧！", "提示", btnArray, function (e) {
                                if (e.index == 1) {
                                    window.location =
                                        "{:url('Match/createschedule',['league_id'=>$leagueInfo.id])}";
                                }
                            });
                        } else {
                            mui.confirm("暂无分组信息对阵信息，请先创建分组！", "提示", btnArray, function (e) {
                                if (e.index == 1) {
                                    window.location =
                                        "{:url('Match/groupsListOfLeague',['league_id'=>$leagueInfo.id])}";
                                }
                            });
                        }

                    });

                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        }

        // 接口获取数据并追加到页面
        function toList() {
            var url = "{:url('api/league/getmatchschedulelistbytime')}";
            var league_id = "{$league_id}"
            mui.ajax({
                url: url,
                data: {
                    league_id: league_id,
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli += `<div class="page-header border-b bggray2">`
                            if (data.data[i].date == 0) {
                                newli += `<span class="course" style="padding-left:8px;">比赛时间待定</span>`
                            } else {
                                newli +=
                                    `<span class="course" style="padding-left:8px;">比赛日${i+1}</span>
                                    <span class="fr f14">${data.data[i].date} </span>`
                            }
                            newli +=
                                `</div><ul class="mui-table-view list border-b">
                                      <p style="margin-bottom: 0;padding: 10px 0 0 22px;">${data.data[i].stage.name}</p>`;
                            //赛程信息   
                            for (var j = 0; j <= data.data[i].stage.schedules.length - 1; j++) {
                                var dataSchedule = data.data[i].stage.schedules[j]
                                if (dataSchedule.match_timestamp == '') {
                                    var Ttime = "待定"
                                } else {
                                    var Ttime = getTimeHM(dataSchedule.match_timestamp * 1000);
                                }
                                var urls = "{:url('match/editscheduleofleague')}" + '/league_id/' +
                                    league_id + '/id/' + dataSchedule.id + '/?from=scheduleList';
                                newli += `<a href="${urls}">`
                                newli +=
                                    `<li class="mui-table-view-cell listli border-b" data-id="${dataSchedule.id}"  data-match_timestamp="${dataSchedule.match_timestamp}" data-status="${dataSchedule.status}" data-match_group_id="${dataSchedule.match_group_id}">
                                        <div class="mui-slider-right mui-disabled">
                                            <span class="mui-btn mui-btn-red" data-schedule_id="${dataSchedule.id}">删除</span>
                                        </div>
                                        <div class="mui-slider-handle">
                                            <div class="mui-media-body wd">
                                                    <p class="f14" style="margin-bottom: 8px;">
                                                        <img class="img24 homeImg" src="${dataSchedule.home_team_logo}" style="margin-right:10px;"><text class="homeTeamClass">${dataSchedule.home_team}</text></p>
                                                    <p class="f14">
                                                        <img class="img24 awayImg" src="${dataSchedule.away_team_logo}" style="margin-right:10px;"><text class="awayTeamClass">${dataSchedule.away_team}</text></p>
                                                </div>
                                                <div class="price-frame mui-text-left" style="padding-top:0;border-left: 1px solid #ddd;padding-left: 6px;width: 16% !important">`;
                                if (dataSchedule.match_group_id == '') {
                                    newli += `<p style="line-height:62px;">${Ttime}</p>`
                                } else {
                                    newli +=
                                        `<p class="lineHeight32 match_group">${dataSchedule.match_group}</p><p class="lineHeight32">${Ttime}</p>`
                                }

                                newli += `</div></div></li></a>`
                            }
                            newli += `</ul>`
                        }
                    } else {
                        $(".fenzu").parents(".location-frame").hide();
                        $("#onList").css("margin","0");
                        $("#offList").css("margin","0");
                        $(".scheduleList0").append('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>');
                        $(".scheduleList1").append('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>');
                    }
                    $(".hideList").empty().append(newli);

                    // ///////////
                    var liPublic = ''
                    var liStatus12 = ''
                    var liStatus0 = ''
                    $(".hideList ul").each(function () {
                        liStatus0 +=
                            `<div class="page-header border-b bggray2">
                                <span class="course" style="padding-left:8px;">${$(this).prev().find(".course").text()}</span>
                                <span class="fr f14">${$(this).prev().find(".f14").text()}</span>
                            </div>
                            <ul class="mui-table-view list border-b">
                                <p style="margin-bottom: 0;padding: 10px 0 0 22px;">${$(this).children("p").text()}</p>`
                        liStatus12 +=
                            `<div class="page-header border-b bggray2">
                                <span class="course" style="padding-left:8px;">${$(this).prev().find(".course").text()}</span>
                                <span class="fr f14">${$(this).prev().find(".f14").text()}</span>
                            </div>
                            <ul class="mui-table-view list border-b">
                                <p style="margin-bottom: 0;padding: 10px 0 0 22px;">${$(this).children("p").text()}</p>`
                        $(this).find("li").each(function () {
                            var status = $(this).attr("data-status");
                            var urls = "{:url('match/editscheduleofleague')}" +
                                '/league_id/' + league_id + '/id/' + $(this).attr("data-id") +
                                '/?from=scheduleList';
                            if (status == 0) {
                                liStatus0 += `<a href="${urls}">`
                                liStatus0 +=
                                    `<li class="mui-table-view-cell listli border-b">
                                        <div class="mui-slider-right mui-disabled">
                                            <span class="mui-btn mui-btn-red" data-schedule_id="${$(this).find(".mui-btn").attr("data-schedule_id")}">删除</span>
                                        </div>
                                        <div class="mui-slider-handle">
                                            <div class="mui-media-body wd">
                                                <p class="f14" style="margin-bottom: 8px;">
                                                    <img class="img24" src="${$(this).find(".homeImg").attr("src")}" style="margin-right:10px;">${$(this).find(".homeTeamClass").text()}</p>
                                                <p class="f14">
                                                    <img class="img24" src="${$(this).find(".awayImg").attr("src")}" style="margin-right:10px;">${$(this).find(".awayTeamClass").text()}</p>
                                            </div>
                                        <div class="price-frame mui-text-left" style="padding-top:0;border-left: 1px solid #ddd;padding-left: 6px;width: 16% !important">`
                                if ($(this).attr("data-match_timestamp") == '') {
                                    liStatus0 +=
                                        `<p style="line-height:62px;">待定</p>`
                                } else {
                                    liStatus0 +=
                                        `<p class="lineHeight32">${$(this).find(".match_group").text()}</p>
                                              <p class="lineHeight32">${getTimeHM(dataSchedule.match_timestamp * 1000)}</p>`
                                }
                                liStatus0 += `</div></li></a>`;
                                $(".scheduleList0").empty().append(liStatus0);
                            } else {
                                liStatus12 +=
                                    `<li class="mui-table-view-cell listli border-b">
                                        <div class="mui-slider-right mui-disabled">
                                            <span class="mui-btn mui-btn-red" data-schedule_id="${$(this).find(".mui-btn").attr("data-schedule_id")}">删除</span>
                                        </div>
                                        <div class="mui-slider-handle">
                                            <div class="mui-media-body wd">
                                                <p class="f14" style="margin-bottom: 8px;">
                                                    <img class="img24" src="${$(this).find(".homeImg").attr("src")}" style="margin-right:10px;">${$(this).find(".homeTeamClass").text()}</p>
                                                <p class="f14">
                                                    <img class="img24" src="${$(this).find(".awayImg").attr("src")}" style="margin-right:10px;">${$(this).find(".awayTeamClass").text()}</p>
                                            </div>
                                        <div class="price-frame mui-text-left" style="padding-top:0;border-left: 1px solid #ddd;padding-left: 6px;width: 16% !important">
                                            <p class="lineHeight32">${$(this).find(".match_group").text()}</p>
                                            <p class="lineHeight32">16:16</p>
                                        </div>
                                    </li>`;
                                $(".scheduleList1").empty().append(liStatus12);

                            }
                        })
                        liStatus0 += `</ul>`;
                        liStatus12 += `</ul>`;

                    })
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

        //删除单个赛程
        $('.schedule').on('tap', '.mui-btn', function () {
            var elem = this;
            var li = elem.parentNode.parentNode;
            var txt = elem.innerHTML;
            var match_id = "{$league_id}"
            var schedule_id = elem.getAttribute('data-schedule_id');
            mui.confirm('确认删除赛程?', '提示', btnArray, function (e) {
                if (e.index == 1) {
                    var apiurl = "{:url('api/team/removeevent')}";
                    mui.ajax(apiurl, {
                        data: {
                            match_id: match_id,
                            schedule_id: schedule_id
                        },
                        dataType: 'json',
                        type: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                li.parentNode.removeChild(li);
                                location.reload();
                            } else {
                                mui.toast(data.msg);
                                mui.swipeoutClose(li);
                            }
                        },
                        error: function (xhr, type, errotThrown) {
                            mui.toast('网络异常,请稍候再试');
                        }
                    });
                } else {
                    setTimeout(function () {
                        mui.swipeoutClose(li);
                    }, 0);
                }
            });
        });
    </script>
</body>

</html>