<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>赛程列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .marginLeft10 {
            margin-left: 10px !important
        }

        .marginRight0 {
            margin-right: 0 !important
        }
    </style>
</head>

<body class="whitebg">
    <header class="mui-bar mui-bar-nav subheader">
        <a href="{:url('match/leagueManage',['league_id'=>$leagueInfo.id])}" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">赛程列表</h1>
    </header>

    <div class="mui-content">

        <div id="refreshContainer" class="mui-scroll-wrapper mt44">
            <div class="mui-scroll">
                <div class="schedule"></div>
            </div>
        </div>

        <ul class="mui-table-view operation mt">
            <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                <a href="{$homeurl}">
                    <span class="mui-icon icon iconfont icon-nav-Home"></span>
                </a>
            </li>
            <li class="mui-table-view-cell mui-col-sm-5 mui-col-xs-5 opli bgred">
                <a href="{:url('Match/createscheduleofleague',['league_id'=>$leagueInfo.id])}">创建赛程</a>
            </li>
            <li class="mui-table-view-cell mui-col-sm-5 mui-col-xs-5 opli bgblue">
                <a href="{:url('Match/createscheduleofleague1',['league_id'=>$leagueInfo.id])}">创建下一阶段赛程</a>
            </li>
        </ul>

    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script>
        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        $(function () {

            //初始化全局变量
            var onCount = 1;
            var offCount = 1;

            mui('#refreshContainer').pullRefresh({
                down: {
                    //下拉刷新
                    height: 50,//可选.默认50.触发下拉刷新拖动距离
                    auto: true,//可选,默认false.自动下拉刷新一次
                    contentdown: "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                    contentover: "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                    contentrefresh: "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                    callback: pulldownRefreshOn
                },
                up: {
                    //上拉加载
                    height: 150,//可选.默认50.触发上拉加载拖动距离
                    //auto:true,//可选,默认false.自动上拉加载一次
                    contentrefresh: '正在加载...',
                    contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                    callback: pullupRefreshOn
                }
            });

            //下拉刷新具体业务实现
            function pulldownRefreshOn() {
                setTimeout(function () {
                    onCount = 1;//刷新并显示第一页
                    var page = onCount;
                    var gType = 1;//代表下拉刷新
                    toList(page, gType);//具体取数据的方法
                }, 100);
            }

            //上拉加载具体业务实现
            function pullupRefreshOn() {
                setTimeout(function () {
                    onCount++;//翻下一页
                    var page = onCount;
                    var gType = 2;//代表上拉加载
                    toList(page, gType);//具体取数据的方法
                }, 100);
            }

        })

        //接口获取数据并追加到页面
        var toList = function (page, gType) {
            //搜索关键字不能完全为空，否则查询为空
            var url = "{:url('api/league/getmatchschedulelistbytime','','',true)}" + '/?page=' + page;
            var league_id = "{$league_id}";
            mui.ajax({
                url: url,
                data: {
                    page: page,
                    league_id: league_id
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli += `<div class="page-header border-b bggray2">`
                            if (data.data[i].date == 0) {
                                newli += `<span class="course" style="padding-left:8px;">比赛时间待定</span>`
                            } else {
                                newli += `<span class="course" style="padding-left:8px;">${data.data[i].date} </span>`
                            }
                            newli += `</div><ul class="mui-table-view list border-b">
                                      <p style="margin-bottom: 0;padding: 10px 0 0 22px;">${data.data[i].stage.name}</p>`;
                            //赛程信息   
                            for (var j = 0; j <= data.data[i].stage.schedules.length - 1; j++) {
                                var dataSchedule = data.data[i].stage.schedules[j]
                                if (dataSchedule.match_timestamp == '') {
                                    var Ttime = "待定"
                                } else {
                                    var Ttime = gettimeh(dataSchedule.match_timestamp * 1000);
                                }
                                var urls = "{:url('match/editscheduleofleague')}" + '/league_id/' + league_id + '/id/' + dataSchedule.id+'/?from=scheduleList';
                                newli += `<li class="mui-table-view-cell listli">
                                                <a href="${urls}"><div class="mui-media-body wd">
                                                    <p class="f14" style="margin-bottom: 8px;">
                                                        <img class="img24" src="${dataSchedule.home_team_logo}" alt="">${dataSchedule.home_team}</p>
                                                    <p class="f14">
                                                        <img class="img24" src="${dataSchedule.away_team_logo}" alt="">${dataSchedule.away_team}</p>
                                                </div>
                                                <div class="price-frame mui-text-left" style="padding-top:0;border-left: 1px solid #ddd;padding-left: 6px;width: 16% !important">`;
                                if (dataSchedule.match_group_id == '') {
                                    newli += `<p style="line-height:62px;">${Ttime}</p>`
                                } else {
                                    newli += `<p style="line-height:32px;">${dataSchedule.match_group}</p><p style="line-height:32px;">${Ttime}</p>`
                                }
                                newli += `</div></a></li>`
                            }
                            newli += `</ul>`
                        }

                    }
                    if (gType == 1) {
                        //上拉刷新
                        $(".schedule").empty().append(newli);
                        mui('#refreshContainer').pullRefresh().endPulldownToRefresh();
                        mui('#refreshContainer').pullRefresh().refresh(true);
                        if (newli == '') {
                            $(".schedule").html('<p class="nodata">没有相关数据哦</p>');
                        }
                    } else {
                        //下拉加载 gType==2
                        $(".schedule").append(newli);
                    }
                    if (newli != '') {
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    } else {
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }

                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            });
        };


        //创建补0函数
        function p(s) {
            return s < 10 ? '0' + s : s;
        }
        function gettimeh(h) {
            var _time = new Date(h);
            var hours = _time.getHours();
            var minutes = _time.getMinutes();
            return p(hours) + ":" + p(minutes);
        }
    </script>
</body>

</html>