

<script type="text/javascript">
    var getTips = function(a_m_n){
    
        switch(a_m_n){
            case "a_m_155":
            getWithdrawN();
            break;
        }
    }


    //获取申请中的训练营提现数量
    function getWithdrawN(){
        var w_data = JSON.stringify({
            status:1
        })
        var result = sendRequest('post',"{:url('api/camp_withdraw/getCountApi')}",1,w_data,function(result){
            console.log(result);
            var a_m_p_4 = document.getElementById("a_m_p_4");
            var a_m_155 = document.getElementById("a_m_155");
            // console.log(a_m_p_4);
            var a_m_p_4_v = a_m_p_4.innerText;
            a_m_p_4.innerText = (a_m_p_4_v+result.data);

            var a_m_155_v = a_m_155.innerText;
            a_m_155.innerText = (result.data);
        });
        
    }




    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp=new XMLHttpRequest();
    }else{
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    function sendRequest(method,url,async,data,Fn){
        xmlhttp.responseType = 'json';
        async?async="true" : async ="false";
        xmlhttp.open(method,url,async);
        xmlhttp.setRequestHeader("Content-type","application/json; charset=utf-8");
        xmlhttp.send(data);
        xmlhttp.onreadystatechange = function(){
            //0->（未初始化）：还没有调用 open() 方法。
            //1->（载入）：已调用 send() 方法，正在发送请求。
            //2->载入完成）：send() 方法完成，已收到全部响应内容。
            //3->（解析）：正在解析响应内容。
            //4->（完成）：响应内容解析完成，可以在客户端调用。
            
            if(xmlhttp.readyState==4 && xmlhttp.status==200){
                Fn(xmlhttp.response)
                    // console.log(xmlhttp.response);
                // return xmlhttp.response;
    
                    // console.log(xmlhttp.status);
                    // console.log(xmlhttp.readyStatus);
                
            }
        }
    }  



    function convertData(data){ 
      if( typeof data === 'object' ){ 
        var convertResult = "" ;  
        for(var c in data){  
          convertResult+= c + "=" + data[c] + "&";  
        }  
        convertResult=convertResult.substring(0,convertResult.length-1) 
        return convertResult; 
      }else{ 
        return data; 
      } 
    }
</script>


<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{$admin.avatar}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{$admin.username}</p>
                <a href="#"><i class="fa fa-circle text-success aaa"></i> Online</a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            {volist name = '_sidebar_menus' id ='vol'}
            {if !empty($vol['daughter'])}
            <li class="treeview  {if $_location[0]['title'] == $vol.title } active {/if} ">
                <a href="{$vol.url_value}">
                    <i class="{$vol.icon}"></i> <span>{$vol.title}</span>
                    
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <span class="pull-right-container">
                      <small class="label pull-right bg-red a_m_p_{$vol.id}" id="a_m_p_{$vol.id}"></small>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {volist name = "$vol['daughter']" id ='v'}
                    <li>
                        <a href="/{$v.url_value}">
                            <i class="{$v.icon}"></i> <span>{$v.title}</span>
                            <span class="pull-right-container">
                              <small class="label pull-right bg-yellow a_m_{$v.id}" id="a_m_{$v.id}"></small>
                              <script type="text/javascript">getTips('a_m_'+{$v.id})</script>
                            </span>
                        </a>
                    </li>
                      
                    {/volist}
                </ul>
                
            </li>
            {else /}
            <li class="treeview">
                <a href="/{$vol.url_value}">
                    <i class="{$vol.icon}"></i> <span>{$vol.title}</span>
                    <span class="pull-right-container">
                      <small class="label pull-right bg-red a_m_{$vol.id}"></small>
                      <script type="text/javascript">getTips('a_m_'+{$vol.id})</script>
                    </span>
                </a>

            </li>
            {/if}
            {/volist}
        </ul>
        <!-- /.sidebar-menu -->
    </section>
</aside>


