._*
Runtime/
._*.*
runtime/
/.idea
/.gitignore
/.git

database.php

.env
.idea
.gitignore
.git

.vscode/
.idea/
.gitignore/
.git/
/public/static/frontend/images/Thumbs.db
/public/uploads/

/doc/html/AdminLTE/