<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>训练场地详情页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!--等级星星样式-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/feedback.css"/>
</head>

<body>
    <header id="header" class="mui-bar mui-bar-transparent">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">训练场地详情</h1>
    </header>
    <div class="mui-content">

        <!--图片轮播-->
        <div id="slider" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="{$courtInfo['covers'][0]}">
                    </a>
                </div>
                <!-- 第一张 -->
                {volist name="courtInfo.covers" id="vol"}
                <div class="mui-slider-item">
                    <a href="">
                        <img src="{$vol}">
                    </a>
                </div>
                {/volist}
                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="{$courtInfo['covers'][0]}">
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                {volist name="courtInfo.covers" id="vol"}
                <div class="mui-indicator {if condition='$key' value=0} mui-active{/if}"></div>
                {/volist}
            </div>
        </div>

        <div class="list detalis-list">
            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli detalisli">{$courtInfo.court} <h4>{$courtInfo.outdoors}</h4> 
                    {gt name="power" value="2" }
                    <span class="wd58"><a href="{:url('court/updateCourt')}">编辑</a></span>
                    {eq name="isCourt" value='-1'}    
                    <button>添加到我的场地库</button>
                    {/eq}
                    {/gt}
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell listli detalisli">所属地区<span>{$courtInfo.province} {$courtInfo.city} {$courtInfo.area}</span></li>
                <li class="mui-table-view-cell listli detalisli">
                    具体地址<span><i class="mui-icon mui-icon-location"></i>{$courtInfo.location}</span>
                </li>
                <li class="mui-table-view-cell listli detalisli">联系人<span>{$courtInfo.principal}</span></li>
                <li class="mui-table-view-cell listli detalisli">营业时间<span class="fixed">{$courtInfo.open_time}</span></li>
                <li class="mui-table-view-cell listli detalisli">散场<span>{$courtInfo.chip_rent}元/人</span></li>
                <li class="mui-table-view-cell listli detalisli">半场包场<span>{$courtInfo.half_rent}元/小时</span></li>
                <li class="mui-table-view-cell listli detalisli">全场包场<span>{$courtInfo.full_rent}元/小时</span></li>
                <li class="mui-table-view-cell listli detalisli">咨询电话<span>{$courtInfo.contract}</span></li>
                <li class="mui-table-view-cell listli detalisli">温馨提示
                    <div class="tips">
                        {$courtInfo.remarks}
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<script src="/static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    //轮播
    var slider = mui("#slider");
    slider.slider({
        interval: 5000
    });
</script>
</body>
</html>