<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>添加场地</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body>

<div class="mui-content">

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">添加训练营场地</h1>
    </header>
    <div class="mui-content pt">
        <div class="register mt25">
            <form action="" class="mui-input-group">
                    <div class="mui-input-row"><label>场地名称</label>
                        <input type="text" class="" placeholder="请输入训练场地名称"></div>
                    <div class="mui-input-row"><label>所属地区</label>
                        <input type="text" class="" placeholder=""></div>
                    <div class="mui-input-row"><label>具体地址</label>
                        <input type="text" class="" placeholder="请输入具体地址"></div>
                    <div class="mui-input-row"><label>地图位置</label>
                        <input type="text" class="" placeholder=""></div>
                    <div class="mui-input-row"><label>营业时间</label>
                        <input type="text" class="" placeholder="请输入营业时间"></div>
                    <div class="mui-input-row"><label>联系电话</label>
                        <input type="text" class="" placeholder="请输入咨询电话"></div>
                    <div class="mui-input-row"><label>联系人</label>
                        <input type="text" class="" placeholder="请输入咨询电话"></div>
                    <div class="mui-input-row"><label>散场(一次)</label>
                        <input type="text" class="" placeholder="请输入散场价格"></div>
                    <div class="mui-input-row"><label>半场包场(每小时)</label>
                        <input type="text" class="" placeholder="请输入半场价格"></div>
                    <div class="mui-input-row"><label>全场包场(每小时)</label>
                        <input type="text" class="" placeholder="请输入全场价格"></div>
                    <div class="mui-input-row"><label>场地类型</label>
                        <input type="checkbox" name="outdoors" value="室内" />室内
                        <input type="checkbox" name="outdoors" value="室外" />室外
                        <input type="checkbox" name="outdoors" value="室内|室外" />室内|室外
                     </div>
                    <div class="mui-input-row"><label>温馨提示</label>
                        <textarea>1、篮球场包场2小时起订 /n 2、周一至周五的18:00至20:00，20:00至22:00为固定时间段预定\n3、如退订请提前12小时联系场馆客服人员</textarea>
                    </div>
                    <div class="mui-input-row h-auto">
                        <a href="#" class="mui-navigate-right"><label>场地环境</label>
                            <!--上传照片后的界面-->
                            <img class="coachicon icon01" src="/static/frontend/images/yuantiao.jpg" alt="">
                            <!--<span>上传</span>-->
                        </a>
                    </div>

                <span class="tip-box">此处显示验证提示</span>
                <div class="tip-box mt55">
                    <label>提交后平台审核通过方为生效</label>
                </div>
                <ul class="mui-table-view operation list">
                    <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen" style="color: #fff">提交场地</li>
                </ul>
            </form>
        </div>
    </div>

</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    function clickButton(obj) {
        var obj = $(obj);
        obj.attr("disabled", "disabled");
        /*按钮倒计时*/
        var time = 60;
        var set = setInterval(function () {
            obj.val(--time + "(s)");
        }, 1000);
        /*等待时间*/
        setTimeout(function () {
            obj.attr("disabled", false).val("重新获取验证码");
            /*倒计时*/
            clearInterval(set);
        }, 60000);
    }
</script>
</html>