<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>消息列表-详情页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>

<body class="whitebg">
<!--消息列表-详情页-->
<div class="mui-content whitebg">
    <div class="detalis-list">

        <div class="details-page-header">
            <div class="ph-left">
                <h4 class="title">体验课报名通知</h4>
                <p class="date">2017-07-18</p>
            </div>
            <span class="ph-right">通知</span>
        </div>

        <div class="mui-content-padded">
            <p>
                <img src="images/yuantiao.jpg" data-preview-src="" data-preview-group="1" alt="">
            </p>
            <p>壹运动旨在让大家多一个坚持运动，保留青春的分享小窗口，希望不会给你经济上造成太大的负担，理论上它是保本的，入会费1元人民币，退会费1元人民币。</p>
            <p>运作规则:任何时候，你完成一次30分钟以上的运动，上传一张自拍照，发一个一元红包到你所属的俱乐部奖金池，一个月发照片最多的领取资金池多有奖金，如遇到相同多次数情况，平分奖金</p>
            <p>你的青春，我奉陪！加油！</p>
        </div>
    </div>
</div>
</body>
<script src="js/mui.min.js"></script>
<script src="js/mui.zoom.js"></script>
<script src="js/mui.previewimage.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    //图片预览
    mui.previewImage();
</script>
</html>