*{ margin: 0; padding: 0; }
/* body { font-family: "Microsoft Yahei"; font-size: 12px; color: #888; } */
/* a, a:hover { color: #888; text-decoration: none; } */
/* ul, li { list-style: none; } */ 

.calendar {
  display: none;
  width: 100%;
  padding-bottom:3px;
  /* margin: 30px auto 0; */
  background-color: #fafafa;
  border-radius: 9px;
  border:1px solid #ddd;
 }
.calendar-title {
  position: relative;
  padding: 0 15px;
  height: 44px;
  line-height: 44px;
  background: #dd524d
}
.calendar-title .iconfont {
  font-size: 34px;
  color: #fff
}
.calendar-title .title {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  vertical-align: top;
  text-indent: 20px;
}
#backToday {
  position: absolute;
  left: 70%;
  top: 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(255, 128, 142);
  font-size: 18px;
}
.calendar-title .arrow {
  position: absolute;
  top: 0;
  right: 15px;
  width: 65px;
}
.calendar-title .arrow span {
  color: #fff;
  font-size: 26px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.calendar-title .arrow span:hover {
  color: #ddd;
}
.calendar-title .arrow-prev {
  float: left;
}
.calendar-title .arrow-next {
  float: right;
}
.calendar-week,
.calendar-date {
  overflow: hidden;
}

.calendar-week .item,
.calendar-date .item {
  float: left;
  width: 7%;
  height: auto;
  line-height: 45px;
  margin: 2px 13.5px;
  text-align: center;
}


@media screen and (min-width: 320px) {
  .calendar-week .item,
  .calendar-date .item {
    margin: 2px 11.5px;
  }
}
@media screen and (min-width: 360px) {
  .calendar-week .item,
  .calendar-date .item {
    margin: 2px 13px;
  }
}
@media screen and (min-width: 375px) {
  .calendar-week .item,
  .calendar-date .item {
    margin: 2px 13.5px;
  }
}
@media screen and (min-width: 411px) {
  .calendar-week .item,
  .calendar-date .item {
    margin: 2px 14.9px;
  }
}
@media screen and (min-width: 414px) {
  .calendar-week .item,
  .calendar-date .item {
    margin: 2px 15px;
  }
}

@media screen and (min-width: 768px) {
  .calendar-week .item,
  .calendar-date .item {
    margin: 2px 11.5px;
  }
}

.calendar-week {
  font-size: 12px;
}
.calendar-date {}
.calendar-date .item {
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  color: #ddd;
}
.calendar-date .item:hover,
.calendar-date .item-curMonth:hover {
  background-color: #f0f0f0;
}
.calendar-date .item-curMonth {
  color: #333;
}
.calendar-date .item-curDay,
.calendar-date .item-curDay:hover {
  color: #fff;
  background-color: rgb(35, 223, 243);
}
.calendar-today {
  display: none !important;
  opacity: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 90px;
  height: 48px;
  padding: 6px 10px;
  background-color: rgb(255, 128, 142);
  border-radius: 5px;
}
.calendar-today .triangle {
  position: absolute;
  top: 50%;
  left: -16px;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent rgb(255, 128, 142) transparent transparent;
}
.calendar-today p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.endDK {
  background: #ff7f00 !important;
  color: #fff !important;
  border-radius: 50%;
}