
.coupon {list-style:none; margin: 0px; padding:0px;}
.coupon li{position:relative;width:45%;height:28px;margin-right:4%; line-height:26px;background:#FFA826;display:inline-block; color: #FFF; font-size: 12px;}
.coupon li:last-child{margin-right:0;}
.coupon li:before{content:"";position:absolute;left:0px;top:0;width:10px;height:100%; z-index: -1px;}
.coupon li:before,
.coupon li:after{content: "";position: absolute;top: -20px;display: block;width:10px;height: 100%;margin-top: 20px;background-size: 20px 5px;}
.coupon li:after{right: -10px;background-color: #FFA826;background-position: 100% 20%;
	background-image: linear-gradient(-45deg, #fff 25%, transparent 25%, transparent),
	linear-gradient(-135deg, #fff 25%, transparent 25%, transparent),
	linear-gradient(-45deg, transparent 75%, #fff 75%),
	linear-gradient(-135deg, transparent 75%, #fff 75%);
}
.coupon div { width: 95%; position: relative; height: 28px; overflow: hidden; text-align: right; }
.coupon span { width: 75% !important; text-align: center !important; border-right:1px dashed #FFC20D; padding: 0px 8px 0px 10px; position: absolute; left:0px; z-index:2; }
.coupon i { position: absolute; left: -170%; top: -100px; height: 190px; width: 390px; background-color: #F39B00; transform: rotate(-30deg); z-index: 1; }


.stamp * {
	padding: 0;
	margin: 0;
	list-style:none;
	font-family:"Microsoft YaHei", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}
.stamp {
	width: 91%;
	height: 95px;
	padding: 0 10px;
	margin: 0px auto 10px;
	position: relative;
	overflow: hidden;
}
.stamp:before {
	content: '';
	position: absolute;
	top:0;
	bottom:0;
	left:10px;
	right:10px;
	z-index: -1;
}
.stamp i {
	position: absolute;
	left: -10%;
	top: 45px;
	height: 190px;
	width: 390px;
	background-color: rgba(255, 255, 255, .15);
	transform: rotate(-30deg);
}
.stamp .par {
	float: left;
	padding: 10px 15px;
	width: 68%;
	border-right:2px dashed rgba(255, 255, 255, .3);
	text-align: left;
}
.stamp .par p {
	color:#fff;
	font-size: 12px;
	line-height: 21px;
}
.stamp .par span {
	font-size: 24px;
	color:#fff;
	margin-right: 5px;
	line-height: 36px;
}
.stamp .par .sign {
	font-size: 22px;
}
.stamp .par sub {
	position: relative;
	top:-2px;
	color:rgba(255, 255, 255, .8);
}
.stamp .copy {
	display: inline-block;
	padding:21px 14px;
	width:32%;
	vertical-align: text-bottom;
	font-size: 14px;
	color:rgb(255,255,255);
	text-align: center;
	line-height: initial;
}
.stamp .copy p {
	font-size: 12px;
	margin-top: 5px;
}
.stamp01 {
	background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #F39B00 5px);
	background-size: 15px 15px;
	background-position: 9px 3px;
}
.stamp01:before {
	background-color:#F39B00;
}
.stamp02 {
	background: radial-gradient(transparent 0, transparent 5px, #D24161 5px);
	background-size: 15px 15px;
	background-position: 9px 3px;
}
.stamp02:before {
	background-color:#D24161;
}
.stamp03 {
	background: radial-gradient(transparent 0, transparent 5px, #7EAB1E 5px);
	background-size: 15px 15px;
	background-position: 9px 3px;
}
.stamp03:before {
	background-color:#7EAB1E;
}
.stamp03 .copy {
	padding: 10px 6px 10px 12px;
	font-size: 24px;
}
.stamp03 .copy p {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 8px;
}
.stamp03 .copy a {
	background-color:#fff;
	color:#333;
	font-size: 14px;
	text-decoration:none;
	padding:5px 10px;
	border-radius:3px;
	display: block;
}
.stamp04 {
	width: 390px;
	background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 4px, #50ADD3 4px);
	background-size: 12px 8px;
	background-position: -5px 10px;
}
.stamp04:before {
	background-color:#50ADD3;
	left: 5px;
	right: 5px;
}
.stamp04 .copy {
	padding: 10px 6px 10px 12px;
	font-size: 24px;
}
.stamp04 .copy p {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 8px;
}
.stamp04 .copy a {
	background-color:#fff;
	color:#333;
	font-size: 14px;
	text-decoration:none;
	padding:5px 10px;
	border-radius:3px;
	display: block;
}