
.mini-coupon {list-style:none; margin: 0px; padding:0px;}
.mini-coupon li{position:relative;width:45%;height:28px;margin-right:4%; line-height:26px;background:#FF9900;display:inline-block; color: #FFF; font-size: 12px;}
.mini-coupon li:last-child{margin-right:0;}
.mini-coupon li:before{content:"";position:absolute;left:0px;top:0;width:10px;height:100%; z-index: -1;}
.mini-coupon li:before,
.mini-coupon li:after{content: "";position: absolute;top: -20px;display: block;width:10px;height: 100%;margin-top: 20px;background-size: 20px 5px;}
.mini-coupon li:after{right: -10px;background-color: #FF9900;background-position: 100% 20%;
	background-image: linear-gradient(-45deg, #fff 25%, transparent 25%, transparent),
	linear-gradient(-135deg, #fff 25%, transparent 25%, transparent),
	linear-gradient(-45deg, transparent 75%, #fff 75%),
	linear-gradient(-135deg, transparent 75%, #fff 75%);
}
.mini-coupon div { width: 95%; position: relative; height: 28px; overflow: hidden; text-align: right; }
.mini-coupon span { width: 75% !important; text-align: center !important; border-right:1px dashed #FFC20D; padding: 0px 8px 0px 10px; position: absolute; left:0px; z-index:2; }
.mini-coupon i { position: absolute; left: 10px; top: -10px; height: 100px; width: 300px; opacity: 0.1; background-color: #FFFFFF; transform: rotate(-30deg); z-index: 1; }

/* coupon pop */


/* coupon card */

.coupon{
	width:90%;
	background-color:#FFFFFF;
	color:#FFFFFF;
	margin:0px auto 20px;
	border-radius:4px;
}
.coupon .tips {
	padding:5px 15px;
	height: 45px;
	color:#AAAAAA;
	font-size:12px;
}
.coupon .tips button{
	padding:4px 12px;
	margin-top: 2px;
}
.coupon a{
	float:right;
	margin-top: 4px;
	font-size: 12px;
}
.coupon a span{
	font-size: 14px;
	margin-left: 5px;
	color:#aaa;
}
.coupon .orangebg {
	width: 100%;
	height: 120px;
	border-radius:4px;
	background: #ff9900;
	background-image: -webkit-gradient(linear, 50% 0, 0 100%, from(transparent), color-stop(.5, transparent), color-stop(.5, #FFFFFF), to(#FFFFFF)),
	-webkit-gradient(linear, 50% 0, 100% 100%, from(transparent), color-stop(.5, transparent), color-stop(.5, #FFFFFF), to(#FFFFFF));
	background-size: 10px 5px;
	background-repeat: repeat-x;
	background-position: -4px 100%;
	position:relative;
	overflow:hidden;
}
.coupon .orangebg div{
	position: absolute;
	z-index:9;
}

.coupon i {
	position: absolute;
	left: 50px;
	top: 30px;
	height: 190px;
	width: 390px;
	opacity: 0.1;
	background-color: #FFFFFF;
	transform: rotate(-30deg);
	z-index: 1;
}
.coupon .cFrom {
	top:15px;
	left:15px;
	font-size:16px;
}
.coupon .cID{
	top:15px;
	right:15px;
	font-size:12px;
	opacity: 0.3;
}
.coupon .cName {
	top:60px;
	left:15px;
	font-size:28px;
	font-weight:bold;
}
.coupon .cDate {
	top:88px;
	left:18px;
	font-size:12px;
	opacity: 0.6;
}
.coupon .cNum {
	font-size:48px;
	font-weight:bold;
	position:absolute;
	right:15px;
	bottom:24px;
}
.coupon .cNum span{
	font-size:14px;
	margin-left: 5px;
}


/* coupon card middle */

.middle-coupon .coupon .cName {
	top:15px;
	font-size:18px;
	font-weight: normal;
}
.middle-coupon .coupon .cDate {
	top:38px;
}
.middle-coupon .coupon .cNum {
	font-size:28px;
}
.middle-coupon .coupon .orangebg {
	height: 68px;
}
.middle-coupon .tips {
	height: 32px;
}
.middle-coupon a {
	margin-top: 0px;
	font-size:12px;
}

/* coupon bonus */

#giftpopover {
	height: 450px;
	width: 85% !important;
}
#giftpopover .page-header{
	height: 90px;
	overflow: hidden;
}
#giftpopover .page-header h4{
	font-size:16px;
	text-align: center;
}
#giftpopover .page-header p{
	padding:5px;
	text-align: center;
}
#giftpopover .mui-scroll-wrapper{
	top: 95px;
	bottom:50px;
}
#giftpopover .hbTips{
	width: 100%;
	position: absolute;
	bottom:15px;
	text-align: center;
	font-size: 12px;
	color:#999;
}
#giftpopover .hbTips span{
	font-size: 12px;
	color:#aaa;
}

#gift-open{
	background:#C02125 url("../images/hongbao.jpg") no-repeat center center; background-size:100%; border-radius: 7px; width: 100%;height: 100%; z-index: 9989;position: absolute;
}

#gift-close {
	position:  absolute;top: 8px;left: 8px;color: #8B2121;font-size: 36px;z-index: 9999;
}