* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

.clear {
    clear: both;
}

html,
body {
    font-size: 62.5%;
    font-family: "Microsoft YaHei", "SimSun", Helvetica, Arial, sans-serif;
    background: #f1f5f8;
}

.box {
    width: 100%;
    height: 100%;
}

.head {
    width: 100%;
    height: 3.5rem;
    cursor: pointer;
    background: #dd524d;
    color: #fff;
}

.head .prev,
.head .next {
    width: 15%;
    text-align: center;
    float: left;
    line-height: 3.5rem;
    font-size: 4em;
}

.head .tomon {
    width: 45%;
    float: left;
    text-align: left;
    line-height: 3.5rem;
    font-size: 1.8rem;
}

.head .hot {
    width: 25%;
    float: left;
    text-align: center;
    /* line-height: 2.0rem; */
}
.head .hot .iconfont {
    font-size: 4.5em !important;
    display: inline-block;
    margin-top: 11px;
}

.date ol {
    width: 100%;
    /* height: 4rem;
    padding: 0; */
}

.date ol li {
    display: block;
    float: left;
    width: 14.2857%;
    text-align: center;
    font-size: 1rem;
    border: none;
    padding: 0;
    line-height: 2.5rem;
    height: 2.5rem;
    background: #Fff;
}

.date ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (min-width: 320px) {
    .date ul li {
        width: 12%;
        height: 3.2rem;
        margin: 3px 1.14%;
    }
    
    .date ul li span {
        line-height: 3.2rem;
    }
    
    .date ul .no_date {
        line-height: 3.2rem;
    }
}

@media screen and (min-width: 375px) {
    .date ul li {
        width: 12%;
        height: 3.7rem;
        margin: 3px 1.14%;
    }
    
    .date ul li span {
        line-height: 3.7rem;
    }
    
    .date ul .no_date {
        line-height: 3.7rem;
    }
}

@media screen and (min-width: 414px) {
    .date ul li {
        width: 10%;
        height: 3.45rem;
        margin: 3px 2.14%;
    }
    
    .date ul li span {
        line-height: 3.45rem;
    }
    
    .date ul .no_date {
        line-height: 3.45rem;
    }
}
@media screen and (min-width: 568px) {
    .date ul li {
        width: 9%;
        height: 5rem;
        margin: 3px 2.64%;
    }
    
    .date ul li span {
        line-height: 5rem;
    }
    
    .date ul .no_date {
        line-height: 5rem;
    }
}
@media screen and (min-width: 768px) {
    .date ul li {
        width: 9%;
        height: 5.9rem;
        margin: 3px 2.64%;
    }
    
    .date ul li span {
        line-height: 5.9rem;
    }
    
    .date ul .no_date {
        line-height:  5.9rem;
    }
}

.date ul li {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    background: #fff;
    position: relative;
}

.date ul li span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.date ul li i{
    display: none;
}
.date ul .no_date {
    color: #cacaca;
}

.date ul .act_wk {
    color: #e35925;
}

.date ul .act_date {
    background: #dd524d;
    color: #fff;
    border-radius: 50%;
}

.date ul .act_ds {
    background: #005bac;
    color: #fff;
}
.endDK {
    background: #ff7f00 !important;
    color: #fff !important;
    border-radius: 50%;
}