a {
  color: #fff; }

li {
  list-style: none; }

.mui-table-view:before, .mui-table-view:after {
  height: 0; }

.mui-bar-nav {
  box-shadow: none !important; }

.mui-icon-star-filled {
  font-size: 16px !important; }

.whitebg {
  background-color: #fff; }

.bgblue {
  background-color: #006dd9; }

.bggreen {
  background-color: #59b200; }

.colororange {
  color: #ff7f00; }

.colorgreen {
  color: #59b200; }

.colorblue {
  color: #006dd9; }

.mb {
  margin-bottom: 4px; }

.height20 {
  height: 20px; }

.pt {
  padding-top: 44px; }

.fl {
  float: left; }

.fr {
  float: right; }

.tr {
  text-align: right; }

.border-b {
  border-bottom: 1px solid #ddd; }

.platform-title {
  background-color: #323232;
  box-shadow: none !important; }
  .platform-title .mui-title {
    color: #fff; }

.subheader {
  background-color: #fff;
  border-bottom: 1px solid #ddd; }
  .subheader .arrow {
    color: #737373; }
  .subheader .mui-title {
    right: 20px !important;
    text-align: right;
    font-size: 14px; }

.tjbtn {
  height: 45px;
  margin-left: 60px;
  margin-right: 60px; }
  .tjbtn .btn {
    height: 100%;
    width: 100%;
    background-color: #468c00;
    color: #fff;
    font-size: 18px; }

.search.mui-grid-view.mui-grid-9 {
  margin-top: 0 !important;
  background-color: #666;
  border: 0; }
  .search.mui-grid-view.mui-grid-9 > .searchli {
    padding: 7px 0;
    font-size: 11px;
    border: 0;
    color: #fff; }
    .search.mui-grid-view.mui-grid-9 > .searchli .address {
      font-size: 14px;
      display: inline-block;
      vertical-align: text-bottom; }
    .search.mui-grid-view.mui-grid-9 > .searchli a {
      padding: 0; }
    .search.mui-grid-view.mui-grid-9 > .searchli .mui-input-clear {
      height: 30px;
      margin-bottom: 0;
      font-size: 1.2em;
      text-align: left; }
    .search.mui-grid-view.mui-grid-9 > .searchli input::placeholder {
      color: #ccc; }
  .search.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active {
    background: 0; }

.search2 {
  background-color: #666;
  border: 0;
  color: #ccc; }
  .search2 input {
    color: #ccc; }
  .search2 input::placeholder {
    color: #ccc;
    text-align: left;
    font-size: 14px; }
  .search2 .mui-pull-left {
    color: #ccc; }
  .search2 .searchicon {
    float: right; }

.search3 .value {
  width: 20%;
  padding: 6px 20px;
  margin-right: -4px;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border-radius: 3px; }

.search .mui-segmented-control {
  border: 0;
  height: 45px;
  padding: 10px;
  margin-bottom: 4px;
  background-color: #fff; }
  .search .mui-segmented-control .mui-control-item {
    border-color: transparent;
    border-left: 0;
    color: #737373;
    width: 16%;
    height: 30px;
    display: block;
    float: left;
    line-height: 30px;
    margin: 0 5px;
    font-size: 14px;
    border-radius: 4px; }
  .search .mui-segmented-control .mui-active {
    background-color: #ff7f00;
    color: #fff; }
.search .hot-search {
  padding-top: 20px;
  overflow: hidden;
  background: #fff; }
  .search .hot-search h4 {
    font-weight: normal;
    color: #737373;
    font-size: 16px;
    padding-left: 20px; }
  .search .hot-search .hot-search-frame {
    background: #fff;
    border: 0; }
    .search .hot-search .hot-search-frame .mui-table-view-cell {
      border: 0;
      padding: 30px 0; }
      .search .hot-search .hot-search-frame .mui-table-view-cell button {
        padding: 10px 16px;
        margin-right: 9px;
        border-radius: 0; }
    .search .hot-search .hot-search-frame .mui-active {
      background-color: #fff; }
.search .search-list .search-listli {
  font-size: 14px;
  color: #737373; }

.location-frame {
  overflow: hidden;
  padding: 10px;
  font-size: 14px;
  color: #737373;
  background-color: #fff;
  border-bottom: 5px solid #efeff4; }
  .location-frame .location {
    float: left; }
  .location-frame .location-choise {
    float: right;
    margin-top: 4px;
    margin-right: 10px; }
    .location-frame .location-choise i {
      font-size: 16px;
      margin-left: 5px; }

.nav-list .nav-list-frame {
  border: 0;
  background-color: #fff; }
  .nav-list .nav-list-frame .navli {
    width: 20%;
    padding: 0;
    border: 0; }
    .nav-list .nav-list-frame .navli span {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      display: block;
      border: 1px solid #ccc;
      border-radius: 50%; }
  .nav-list .nav-list-frame .mui-table-view-cell.mui-active {
    background: 0; }
  .nav-list .nav-list-frame .num {
    font-size: 19px !important; }

.page-header {
  overflow: hidden;
  padding: 11px 15px;
  background-color: #fff;
  color: #737373;
  border-bottom: 1px solid #ddd; }
  .page-header .course {
    width: 69%;
    height: 20px;
    font-size: 16px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .page-header .more {
    float: right;
    font-size: 14px; }
  .page-header .iconsize {
    font-size: 14px; }

.show-list {
  margin-top: 8px; }
  .show-list .show-list-cont {
    padding: 10px 10px 30px 0px; }
    .show-list .show-list-cont .typename {
      margin-bottom: 5px;
      text-align: left;
      font-size: 14px !important; }
    .show-list .show-list-cont .frame {
      font-size: 12px; }
      .show-list .show-list-cont .frame .typename-num {
        float: left;
        color: #ccc; }
      .show-list .show-list-cont .frame .typename-money {
        float: right;
        color: #ff7f00; }

.list .list-wide {
  border-bottom: 4px solid #efeff4; }
  .list .list-wide:after {
    height: 0; }
  .list .list-wide .sex {
    vertical-align: sub;
    margin-left: 10px; }
.list .registf {
  background-color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center; }
.list span {
  margin-right: 18px;
  float: right;
  color: #737373;
  width: 72%;
  text-align: right; }
.list .pass {
  text-align: center;
  padding-top: 15px; }
  .list .pass a {
    color: #737373; }
.list .line-height40 li:nth-child(3),
.list .line-height40 li:nth-child(4),
.list .line-height40 li:nth-child(5) {
  line-height: 40px; }

.coach-info {
  height: 200px;
  padding: 30px 0;
  background-color: #666; }
  .coach-info .mui-grid-9 {
    background: transparent;
    border: 0; }
  .coach-info .mui-table-view-cell, .coach-info .mui-media-body {
    border: 0 !important;
    color: #fff !important; }
  .coach-info .mui-active {
    background: transparent !important; }
  .coach-info .num {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-size: 2em; }
  .coach-info .coachid {
    text-align: center;
    color: #fff; }

.operation-module.mui-grid-9 {
  margin-top: 7px;
  margin-bottom: 70px;
  background-color: #fff; }

.login-frame {
  background-color: #fff;
  text-align: center; }
  .login-frame .logo {
    padding: 35px 0 10px 0; }
  .login-frame .tjlogin {
    margin-bottom: 30px;
    font-size: 18px; }
  .login-frame .tjdlbtn {
    height: 45px;
    margin-left: 60px;
    margin-right: 60px; }
    .login-frame .tjdlbtn button {
      height: 100%;
      width: 100%;
      background-color: #468c00;
      color: #fff;
      font-size: 18px; }
      .login-frame .tjdlbtn button span {
        font-size: 30px;
        margin-right: 10px; }
  .login-frame .other-login {
    font-size: 18px;
    padding: 30px 0; }
  .login-frame .line {
    height: 1px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #ccc;
    display: inline-block; }
  .login-frame .login h3 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: #737373; }
  .login-frame .login .mui-input-row {
    height: 45px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px; }
    .login-frame .login .mui-input-row input::placeholder {
      font-size: 15px; }
    .login-frame .login .mui-input-row .password {
      width: 70%;
      float: left;
      border-right: 0; }
    .login-frame .login .mui-input-row .forgot-password {
      width: 33%;
      height: 40px;
      margin-left: -10px;
      border: 1px solid #d2d2d2;
      border-left: 0;
      border-radius: 3px;
      display: inline-block; }
      .login-frame .login .mui-input-row .forgot-password a {
        vertical-align: middle;
        line-height: 40px;
        color: #737373;
        font-size: 14px; }

.success-frame {
  text-align: center; }
  .success-frame .logowz {
    padding: 30px; }
  .success-frame .choise-identity {
    width: 67%;
    margin: auto;
    font-size: 15px;
    color: #737373; }
  .success-frame .choise {
    padding-top: 20px;
    margin: 0 45px; }
    .success-frame .choise button {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      font-size: 18px;
      color: #737373; }
    .success-frame .choise .enter-platform {
      margin-left: 10px;
      color: #f00;
      font-size: 15px; }

.public-list .mui-segmented-control {
  border: 0;
  border-radius: 0;
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2; }
  .public-list .mui-segmented-control .mui-control-item {
    color: #737373;
    border-left: none; }
  .public-list .mui-segmented-control .mui-control-item.mui-active {
    color: #007aff;
    background-color: transparent; }
.public-list .item-list .listli {
  color: #737373; }
.public-list .item-list .notice-icon {
  float: left;
  padding-top: 15px; }
.public-list .item-list .list-cont {
  width: 65%;
  padding-left: 15px;
  float: left; }
  .public-list .item-list .list-cont h4 {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: normal;
    color: #585858; }
  .public-list .item-list .list-cont p {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden; }
.public-list .item-list .date {
  padding-right: 20px;
  padding-top: 15px;
  float: right;
  font-size: 12px; }

.detalis-list .details-page-header {
  overflow: hidden;
  padding: 15px;
  margin: 15px;
  border-bottom: 1px solid #d2d2d2;
  color: #737373; }
  .detalis-list .details-page-header .ph-left {
    float: left; }
    .detalis-list .details-page-header .ph-left .title {
      font-size: 20px;
      font-weight: normal; }
    .detalis-list .details-page-header .ph-left .date {
      margin: 0; }
  .detalis-list .details-page-header .ph-right {
    float: right;
    padding-right: 5px;
    padding-top: 15px; }
.detalis-list .mui-content-padded {
  margin: 15px; }
  .detalis-list .mui-content-padded img {
    max-width: 100%;
    height: auto; }
.detalis-list .camp-num {
  font-size: 12px;
  color: #737373; }
  .detalis-list .camp-num ul {
    padding: 0; }
.detalis-list .dropdown {
  text-align: center;
  background: #fff;
  margin: 0;
  border-top: 1px solid #ddd;
  padding-bottom: 20px;
  padding-top: 5px;
  font-size: 12px; }
  .detalis-list .dropdown a {
    color: #999; }
.detalis-list .detalisli {
  position: relative; }
  .detalis-list .detalisli .coachicon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    float: right; }
    .detalis-list .detalisli .coachicon:first-child {
      margin-right: 20px; }
  .detalis-list .detalisli .icon01 {
    border-radius: 0; }
  .detalis-list .detalisli .rzicon {
    vertical-align: sub;
    padding-right: 5px; }
  .detalis-list .detalisli .about {
    font-size: 12px;
    color: #737373 !important;
    width: 68%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden; }
    .detalis-list .detalisli .about a {
      position: absolute;
      right: 35px;
      top: 55px;
      color: #737373; }
  .detalis-list .detalisli .code-btn {
    float: right;
    background-color: #006dd9;
    color: #fff;
    width: 30%;
    padding: 4px 12px; }
  .detalis-list .detalisli .tips {
    width: 75%;
    float: right; }
    .detalis-list .detalisli .tips p {
      line-height: 24px;
      font-size: 14px;
      color: #000; }
.detalis-list .input {
  width: 45%;
  float: right;
  font-size: 14px;
  height: 0;
  margin: 0;
  border: 0;
  background: transparent;
  text-align: right; }

.course-list .course-listli .mui-media-object {
  max-width: 70px;
  height: 55px;
  line-height: 55px; }
.course-list .course-listli .mui-media-body {
  line-height: 27px;
  font-size: 17px;
  width: 39%;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden; }
  .course-list .course-listli .mui-media-body p {
    font-size: 13px; }
.course-list .course-listli .price-frame {
  float: right;
  padding-top: 8px;
  text-align: center; }
  .course-list .course-listli .price-frame .price {
    font-size: 18px;
    color: #ff7f00; }
    .course-list .course-listli .price-frame .price span {
      color: #737373;
      font-size: 12px; }
  .course-list .course-listli .price-frame .address {
    font-size: 12px; }
.course-list .course-listli .singup-num {
  padding-top: 34px;
  font-size: 12px;
  color: #737373; }
.course-list .course-padding a {
  padding: 25px 15px; }
.course-list .cover {
  width: 100%;
  height: 175px; }
.course-list .list-li {
  padding: 14px 15px;
  font-size: 14px;
  color: #000; }
  .course-list .list-li:after {
    left: 0; }
.course-list .course-detailsli {
  padding: 14px 15px;
  font-size: 14px;
  color: #737373; }
  .course-list .course-detailsli:after {
    left: 0; }
  .course-list .course-detailsli span {
    margin-right: 18px;
    float: right;
    color: #000;
    width: 72%;
    text-align: right; }
    .course-list .course-detailsli span i {
      font-size: 14px; }
    .course-list .course-detailsli span button {
      padding: 1px 3px;
      margin-right: 5px;
      border-radius: 0; }
    .course-list .course-detailsli span .mui-btn-warning {
      background-color: #ff7f00 !important;
      border-color: #ff7f00; }

.coach .coachicon {
  border-radius: 50%;
  width: 55px; }
.coach .nothing {
  background-color: #fff;
  padding: 50px; }
.coach .table {
  padding-left: 0;
  font-size: 14px;
  text-align: center; }

.operation {
  overflow: hidden;
  padding: 0;
  border-top: 1px solid #d2d2d2; }
  .operation .opli {
    float: left;
    height: 45px;
    text-align: center;
    font-size: 14px; }
    .operation .opli span {
      font-size: 22px; }
    .operation .opli:nth-child(2) {
      color: #fff; }
    .operation .opli:nth-child(3) {
      color: #fff; }
    .operation .opli:after {
      left: 0; }

#delete {
  margin-bottom: 70px; }
  #delete textarea {
    height: 110px;
    margin-bottom: 0;
    color: #737373; }

.public-list .public-listli {
  font-size: 14px; }
  .public-list .public-listli:last-child {
    line-height: 45px; }
  .public-list .public-listli .documents {
    height: 45px;
    margin-right: 10px;
    border: 1px dashed #ccc;
    color: #737373; }

/*# sourceMappingURL=style.css.map */
