@charset "UTF-8";
@import url(iconfont.css);
a {
  color: #737373; }

li {
  list-style: none; }

input, select, textarea {
  font-size: 14px; }

input::placeholder {
  color: #999999; }

#header {
  font-size: 13px !important; }

#header span.title {
  line-height: 42px;
  margin: 0px 10px; }

.mui-bar-nav.mui-bar .mui-icon {
  vertical-align: middle; }

.mui-collapse a span {
  width: auto !important;
  color: #666; }

.mui-toast-container {
  position: fixed;
  top: 115px; }

.mui-btn-success {
  background-color: #dd524d;
  border: 1px solid #dd524d; }

.mui-btn-primary {
  background-color: #007BD7;
  border: 1px solid #007BD7; }

.mui-bar-tab .mui-tab-item {
  color: #666; }

.mui-navigate-right:after, .mui-push-right:after {
  right: 10px;
  top: 48%; }

.mui-navigate-right span {
  margin-right: 15px; }

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
  font-size: 13px; }

.mui-bar-tab .mui-tab-item .mui-icon {
  font-size: 28px;
  width: 30px; }

.mui-table-view:before, .mui-table-view:after {
  height: 0; }

.mui-table-view-cell:after {
  background-color: #DADAE7; }

.mui-bar-nav ~ .mui-content .mui-pull-top-pocket {
  top: 0px; }

.mui-input-group:after {
  height: 0; }
.mui-input-group .mui-input-row {
  height: 43px; }
  .mui-input-group .mui-input-row label {
    font-size: 14px;
    color: #737373; }
  .mui-input-group .mui-input-row span {
    font-size: 14px;
    text-align: right;
    float: right;
    line-height: 43px;
    padding-right: 15px;
    color: #737373; }
  .mui-input-group .mui-input-row input, .mui-input-group .mui-input-row select, .mui-input-group .mui-input-row textarea {
    font-size: 14px;
    text-align: right; }
  .mui-input-group .mui-input-row .mui-input-numbox {
    text-align: center; }
.mui-input-group .select-arrow {
  padding-right: 30px !important;
  position: relative; }
  .mui-input-group .select-arrow select {
    width: 100%;
    direction: rtl; }
.mui-input-group .select-arrow:after {
  top: 22px !important;
  right: 10px !important;
  content: '\e581';
  font-family: Muiicons;
  font-size: inherit;
  line-height: 1;
  position: absolute;
  top: 10px;
  right: 0px;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  color: #bbb;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 black; }
.mui-input-group .mui-input-row:after {
  left: 0; }
.mui-input-group .h-auto {
  height: auto !important;
  padding: 10px 0; }
.mui-input-group img {
  width: 56px;
  height: 42px;
  float: right;
  margin-right: 35px; }
.mui-input-group .code-btn {
  float: right;
  background-color: #007BD7;
  color: #fff;
  width: 25%;
  height: 42px; }

.mui-segmented-control {
  border: 1px solid #333;
  border-radius: 0px; }
  .mui-segmented-control .mui-control-item {
    color: #333;
    font-size: 14px;
    border-color: #333;
    line-height: 32px; }
  .mui-segmented-control .mui-control-item.mui-active {
    background-color: #333;
    color: #FFFFFF; }

.mui-bar-nav {
  box-shadow: none !important; }

.mui-icon-star-filled {
  font-size: 14px !important; }

.mui-popover .mui-table-view .mui-table-view-cell:last-child > a:not(.mui-btn) {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.mui-popover input[type=search] {
  border-radius: 0px; }

.mui-grid-9 .iconfont {
  font-size: 2.2em !important; }

.mui-input-row select {
  direction: rtl; }
  .mui-input-row select optgroup, .mui-input-row select option {
    direction: ltr; }

input[type=checkbox], input[type=radio] {
  width: 16px;
  height: 16px; }

.mui-search {
  background: #FFFFFF; }
  .mui-search input[type=search] {
    font-size: 14px;
    border-radius: 0px !important;
    margin-bottom: 0px !important; }
  .mui-search .mui-placeholder {
    font-size: 14px !important; }
    .mui-search .mui-placeholder .mui-icon {
      color: #999999; }

.mui-search.mui-active:before {
  top: 70%; }

.tipCorner {
  margin-left: 5px;
  padding: 1px 3px;
  color: #fff;
  border-radius: 4px;
  font-size: 11px; }

/* recommend info */
.recommend {
  padding: 6px 15px;
  text-align: center;
  background: #fff; }
  .recommend .recomTxt {
    line-height: 39px;
    font-size: 12px;
    color: #737373; }
  .recommend img {
    width: 30px !important;
    height: 30px !important;
    margin-top: 4px;
    border-radius: 50%; }
  .recommend .recomLine {
    border: 0.03rem solid #ddd;
    margin: 19px 0; }

.hotimg {
  width: 45px !important;
  height: 45px !important;
  float: initial !important;
  display: block; }

.selectTotal, .selectDom {
  margin: 5px 0px 5px 6px !important;
  padding: 3px 6px !important;
  border-radius: 3px !important; }

button.selectTotal div, button.selectDom div {
  font-size: 12px;
  color: #ff7f00; }

.newline {
  white-space: normal !important; }

label .iconfont, label .mui-icon {
  float: none !important;
  width: auto !important;
  font-size: 22px !important;
  margin-right: 8px !important;
  vertical-align: middle; }

.icon-sex1, .icon-sex2 {
  margin-left: 8px;
  font-size: 1.1em !important;
  color: #2672ec; }

.icon-sex2 {
  color: #f94877; }

.for-tab {
  padding: 0px; }
  .for-tab .mui-segmented-control {
    top: 0px; }
  .for-tab .mui-icon {
    padding: 0px !important; }

.tab-pullRefresh .mui-scroll-wrapper {
  top: 45px; }
.tab-pullRefresh .mui-control-content {
  position: absolute;
  width: 100%; }

.fulllist {
  border-bottom: 4px solid #efeff4; }
  .fulllist .fTop {
    font-size: 14px;
    padding-top: 5px; }
  .fulllist .fBottom {
    font-size: 12px; }
  .fulllist .fMiddle {
    font-size: 12px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding: 8px 0px;
    margin: 8px 0px; }
  .fulllist span {
    width: auto !important;
    font-size: 12px;
    float: right; }

.hot-ads {
  margin-top: 0px; }
  .hot-ads img {
    width: 100%; }

.validate-result span {
  display: block;
  color: red; }

.proportion4x3 {
  width: 68px !important;
  height: 51px !important;
  max-width: 68px !important;
  margin-right: 10px; }

.logoCircle50 {
  width: 50px !important;
  height: 50px !important;
  max-width: none;
  line-height: 50px;
  border-radius: 50%;
  margin-right: 10px; }

.img1x1, .img4x3, .img16x9 {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  background-color: #EEEEEE;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }

.img24 {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border-radius: 50%;
  margin: 0px 5px; }

.img40 {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  margin: 0px 5px; }

.img45 {
  width: 45px;
  height: 45px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px; }

.img50 {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px; }

.img16x9 {
  padding-bottom: 56%; }

.img4x3 {
  padding-bottom: 75%; }

.nofloat {
  float: inherit !important; }

.nodata {
  text-align: center;
  padding: 65px 0px 30px; }
  .nodata .icon {
    color: #BBBBBB;
    font-size: 50px !important; }
  .nodata p {
    margin: 20px; }

.mui-popover nodata {
  background-color: transparent; }

.whitebg {
  background-color: #fff !important; }

.bgblack {
  background-color: #000 !important;
  color: #fff;
  border: none !important; }

.bgblue {
  background-color: #007BD7 !important;
  color: #fff;
  border: none !important; }

.bgred {
  background-color: #dd524d !important;
  color: #fff;
  border: none !important; }

.bgorange {
  background-color: #ff7f00 !important;
  color: #fff;
  border: none !important; }

.bggray {
  background-color: #ccc !important;
  color: #fff;
  border: none !important; }

.bggray2 {
  background-color: #efeff4 !important;
  border: none !important; }

.bggreen {
  background-color: #59b200 !important;
  color: #fff;
  border: none !important; }

.colororange {
  color: #ff7f00 !important; }

.coloryellow {
  color: #FFB400 !important; }

.colorgreen {
  color: #59b200 !important; }

.colorblue {
  color: #007BD7 !important; }

.colorgray {
  color: #737373 !important; }

.colorred {
  color: #dd524d !important; }

.show {
  display: block; }

.hide {
  display: none; }

.pline {
  background: #efeff4;
  height: 4px;
  margin: 0; }

.mline {
  position: relative;
  text-align: center; }

.mline:before, .mline:after {
  content: '';
  position: absolute;
  top: 52%;
  background: #DDD;
  width: 23%;
  height: 1px; }

.mline:before {
  left: 2%; }

.mline:after {
  right: 2%; }

.mb {
  margin-bottom: 4px !important; }

.mt {
  margin-top: 4px !important; }

.mb12 {
  margin-bottom: 12px !important; }

.mtnone {
  margin-top: 0 !important; }

.mt25 {
  margin-top: 25px !important; }

.mt55 {
  margin-bottom: 55px !important; }

.mb44 {
  margin-bottom: 44px !important; }

.mt44 {
  margin-top: 44px !important; }

.line-height40 {
  line-height: 40px; }

.height20 {
  height: 20px; }

.height127 {
  height: 127px !important; }

.font26 {
  font-size: 2.6em; }

.f10 {
  font-size: 10px !important; }

.f12 {
  font-size: 12px !important; }

.f14 {
  font-size: 14px !important; }

.f16 {
  font-size: 16px !important; }

.f18 {
  font-size: 18px !important; }

.pt4 {
  padding-top: 4px !important; }

.pb4 {
  padding-bottom: 4px !important; }

.ptb4 {
  padding: 4px 0 !important; }

.pt {
  padding-top: 44px; }

.pd {
  padding: 2px 0 !important; }

.pb44 {
  padding-bottom: 44px; }

.pdr {
  padding-right: 30px !important; }

.pdr5 {
  padding-right: 5px !important; }

.pdr15 {
  padding-right: 15px !important; }

.fl {
  float: left; }

.fr {
  float: right; }

.tr {
  text-align: right; }

.border-t {
  border-top: 1px solid #DDDDDD; }

.border-b {
  border-bottom: 1px solid #DADAE7; }

.border-b4 {
  border-bottom: 4px solid #DADAE7; }

.nobr {
  border: none !important; }

.wd {
  width: 77% !important; }

.wd25 {
  width: 25% !important; }

.wd27 {
  width: 27% !important; }

.wd36 {
  width: 36% !important; }

.wd45 {
  width: 45% !important; }

.wd49 {
  width: 49% !important; }

.wd52 {
  width: 52% !important; }

.wd58 {
  width: 58% !important; }

.wd60 {
  width: 60% !important; }

.wd66 {
  width: 66% !important; }

.wd73 {
  width: 73% !important; }

.wd83 {
  width: 83% !important; }

.btmfixed {
  width: 100%;
  position: fixed;
  bottom: 20px;
  left: 0px;
  text-align: center; }

.tip-box {
  padding: 15px;
  font-size: 14px;
  text-align: center;
  display: block; }

.min-height {
  min-height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #737373; }

.nohave {
  margin: 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-top: none;
  text-align: center; }

.unit {
  float: right;
  line-height: 42px;
  padding-right: 15px; }

.page-header {
  overflow: hidden;
  padding: 11px 15px;
  color: #737373;
  position: relative; }
  .page-header .course, .page-header .title {
    width: 69%;
    height: 20px;
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    float: left; }
  .page-header .more {
    float: right;
    font-size: 12px;
    padding-right: 10px; }
  .page-header .iconsize {
    font-size: 14px; }
  .page-header .title {
    width: auto; }

.borderStyle {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom: 4px; }

/* 分享引导 start*/
#shareGuide.mui-popover,
#shareGuide.mui-popover .mui-popover-arrow {
  height: initial;
  position: fixed !important;
  top: 80px !important;
  right: 20px !important;
  left: auto !important; }

#shareGuide.mui-popover.mui-active {
  display: block;
  background: none;
  box-shadow: none; }

#shareGuide .shareGuideText {
  color: #fff;
  height: 6rem;
  line-height: 35px;
  font-size: 18px; }
#shareGuide img {
  width: 27%; }
#shareGuide .shareEllipsis {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0px 4px;
  font-size: 20px; }

/* 分享引导  end*/
/* 删除弹框验样式 */
#deletepl.mui-popover {
  height: 40px !important;
  position: fixed;
  top: 360px !important;
  border-radius: 0; }
  #deletepl.mui-popover .mui-popover-arrow {
    display: none; }
  #deletepl.mui-popover .commemtDeleteBtn {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #000; }

.tjbtn-next {
  margin: 25px 95px !important;
  height: 35px !important; }
  .tjbtn-next .btn {
    font-size: 14px !important; }

.tjbtn {
  height: 45px;
  margin-left: 10%;
  margin-right: 10%; }
  .tjbtn .btn {
    height: 100%;
    width: 100%;
    background-color: #007BD7;
    border: none;
    color: #fff;
    font-size: 18px; }
    .tjbtn .btn span {
      font-size: 30px;
      margin-right: 10px; }

.pbselect {
  width: 60%;
  padding-right: 6px;
  margin-bottom: 0;
  padding: 0;
  font-size: 14px;
  color: #737373;
  direction: rtl; }

/* 底部按钮点击去除背景颜色 */
.operation .opli a.mui-active {
  background-color: inherit; }

.mui-popover .close-popover {
  position: absolute;
  z-index: 30;
  top: 8px;
  right: 8px;
  text-align: center; }

.mui-popover .mui-scroll .mui-table-view {
  border-bottom: 1px solid #DDDDDD;
  border-radius: 0px; }

.mui-popover {
  width: 80%;
  height: 300px; }
  .mui-popover button {
    line-height: 1;
    margin-left: 5px; }
  .mui-popover .page-header {
    z-index: 10; }
  .mui-popover .mui-scroll-wrapper {
    margin: 0;
    top: 50px; }
  .mui-popover .mui-control-content {
    height: 200px;
    font-size: 14px; }
    .mui-popover .mui-control-content .mui-scroll-wrapper {
      top: 0px !important; }
  .mui-popover .pop-search {
    height: 38px;
    padding: 4px 8px 4px 0px;
    background-color: #DDDDDD; }
    .mui-popover .pop-search input {
      background-color: #DDDDDD;
      height: 30px;
      width: 80%;
      font-size: 13px;
      text-align: left; }
    .mui-popover .pop-search .searchicon {
      float: right;
      color: #666666; }
  .mui-popover .mui-pager a, .mui-popover .mui-pager span {
    font-size: 12px; }
  .mui-popover .mui-pager span {
    background: none;
    border: none;
    padding: 5px; }

.mui-bar-tab .mui-tab-item.mui-active {
  color: #dd524d; }

.search1 {
  background-color: #444;
  border: 0;
  z-index: 8;
  color: #ccc; }
  .search1 input {
    font-size: 14px;
    color: #ccc;
    margin: 5px 0px !important;
    background-color: #333; }
  .search1 input::placeholder {
    color: #999999;
    text-align: left; }
  .search1 .mui-pull-left {
    color: #ccc;
    margin-top: 2px;
    width: 65%;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .search1 .searchicon {
    float: right; }
  .search1 .searchType {
    width: 20%;
    line-height: 38px; }
  .search1 .mui-icon-back {
    width: 10%;
    font-size: 16px; }
  .search1 .mui-icon-location {
    margin-right: 6px !important;
    width: 25% !important; }
  .search1 .mui-icon-location:before {
    font-size: 18px; }

.search2 {
  background-color: #666;
  border: 0;
  color: #ccc; }
  .search2 input {
    color: #ccc; }
  .search2 input::placeholder {
    color: #999999;
    text-align: left;
    font-size: 14px; }
  .search2 .mui-pull-left {
    color: #ccc; }
  .search2 .searchicon {
    float: right; }

.search3 .value {
  width: 20%;
  padding: 6px 20px;
  margin-right: -4px;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border-radius: 3px; }

.basic-search {
  height: 38px;
  padding: 4px 8px 4px 0px;
  background-color: #DDDDDD; }
  .basic-search input {
    background-color: #DDDDDD;
    height: 30px;
    width: 80%;
    font-size: 13px;
    text-align: left; }
  .basic-search .searchicon {
    float: right;
    color: #666666; }

.subheader {
  background-color: #fff;
  border-bottom: 1px solid #ddd; }
  .subheader .arrow {
    color: #737373; }
  .subheader .mui-title {
    right: 20px !important;
    text-align: right;
    font-size: 14px; }
  .subheader font {
    padding-right: 10px;
    color: #737373;
    font-size: 12px; }
  .subheader .return {
    font-size: 14px; }

.subheader-other {
  background: transparent;
  border: 0;
  height: 30px; }
  .subheader-other a {
    padding: 5px !important;
    color: #fff !important; }
  .subheader-other h1 {
    line-height: 30px;
    font-size: 12px;
    color: #fff; }

.form-row.mui-table-view {
  width: 98%;
  height: 36px;
  margin: 4px auto !important;
  border-radius: 5px;
  border: 1px solid #DDD;
  background-color: #FFF; }

.form-row.mui-table-view, .form-row select, .form-row input {
  background-color: #FFF !important;
  font-size: 13px !important;
  text-align: left !important;
  color: #737373 !important;
  margin-bottom: 0px !important;
  padding: 0px 0px 0px 10px !important; }

.form-row .mui-table-view-cell {
  padding: 0px !important; }

.form-row .date-btn span {
  display: block;
  text-align: right;
  padding: 6px 30px 6px 0px !important;
  font-size: 13px !important; }

.form-row .date-btn:after {
  content: '\e581';
  font-family: Muiicons;
  font-size: inherit;
  line-height: 1;
  position: absolute;
  top: 10px;
  right: 0px;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  color: #bbb;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 black;
  top: 15px;
  left: auto !important;
  right: 6px !important; }

.form-row .select-arrow:after {
  content: '\e581';
  font-family: Muiicons;
  font-size: inherit;
  line-height: 1;
  position: absolute;
  top: 10px;
  right: 0px;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  color: #bbb;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 black;
  top: 3px;
  left: auto !important;
  right: 4px !important; }

.input-icon {
  position: relative;
  overflow: hidden;
  clear: left; }

.input-icon .mui-icon {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 0;
  width: 38px;
  height: 25px;
  text-align: center;
  color: #999; }

.location-frame {
  overflow: hidden;
  padding: 10px;
  font-size: 14px;
  color: #737373;
  background-color: #fff;
  border-bottom: 5px solid #efeff4; }
  .location-frame .mui-icon-location {
    font-size: 21px;
    margin-right: 2px; }
  .location-frame .location {
    float: left;
    margin-left: 5px; }
  .location-frame .location-choise {
    float: right;
    position: relative;
    margin-top: 4px;
    margin-left: 12px;
    padding-right: 18px;
    text-align: right; }
    .location-frame .location-choise select {
      padding: 0;
      margin: 0;
      direction: rtl; }
    .location-frame .location-choise option {
      direction: ltr; }
    .location-frame .location-choise i {
      font-size: 16px;
      float: right;
      line-height: 22px; }
  .location-frame .location-choise:after {
    content: '\e581';
    font-family: Muiicons;
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 10px;
    right: 0px;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #bbb;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 0 black; }
  .location-frame .max {
    width: 50% !important; }
  .location-frame .location-chosie-initial {
    margin: 0;
    float: left; }

.select {
  width: 16%;
  margin: 0;
  padding: 0; }

.editor .image-items {
  background-color: #fff;
  height: auto;
  padding: 15px;
  padding-bottom: 0;
  overflow: hidden; }
  .editor .image-items .imagef {
    border: 1px dashed #ddd;
    text-align: center;
    font-size: 14px;
    height: 100px;
    line-height: 100px; }
    .editor .image-items .imagef img {
      width: 100%;
      height: 100%; }
  .editor .image-items .mui-input-group {
    margin-top: 15px;
    font-size: 14px; }
    .editor .image-items .mui-input-group .mui-input-row {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      height: inherit; }
      .editor .image-items .mui-input-group .mui-input-row:after {
        left: 0; }
      .editor .image-items .mui-input-group .mui-input-row input:before {
        font-size: 26px; }
    .editor .image-items .mui-input-group .name {
      margin-left: 15px; }
    .editor .image-items .mui-input-group .operation-btn {
      overflow: hidden;
      padding: 10px 0; }
      .editor .image-items .mui-input-group .operation-btn a {
        color: #737373;
        margin-left: 8px; }
      .editor .image-items .mui-input-group .operation-btn .mui-badge {
        margin-left: 8px;
        color: #fff;
        background: #f00; }
      .editor .image-items .mui-input-group .operation-btn .add {
        float: right;
        margin-right: 8px; }

.list .listinitial {
  padding: 11px 15px !important; }
.list .listli {
  padding: 11px 15px;
  font-size: 13px;
  color: #737373; }
  .list .listli:after {
    left: 0; }
  .list .listli .iconfont {
    font-size: 2em;
    margin-right: 2px;
    vertical-align: middle; }
  .list .listli .mui-media-object {
    width: 55px !important;
    height: 55px !important;
    max-width: none;
    line-height: 55px; }
  .list .listli .mui-media-body {
    line-height: 27px;
    font-size: 14px;
    width: 39%;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden; }
    .list .listli .mui-media-body p {
      font-size: 12px;
      text-indent: 0; }
  .list .listli .price-frame {
    float: right;
    padding-top: 8px;
    text-align: right; }
    .list .listli .price-frame .price {
      font-size: 12px;
      color: #ff7f00; }
      .list .listli .price-frame .price strong {
        font-weight: normal;
        font-size: 16px;
        vertical-align: top; }
      .list .listli .price-frame .price span {
        color: #737373; }
    .list .listli .price-frame .address {
      font-size: 12px; }
  .list .listli .singup-num {
    padding-top: 29px;
    font-size: 12px;
    color: #737373; }
  .list .listli span {
    float: right;
    width: 71%;
    text-align: right; }
    .list .listli span i {
      font-size: 14px; }
    .list .listli span button {
      padding: 1px 3px;
      margin-left: 5px;
      border-radius: 0; }
    .list .listli span .mui-btn-warning {
      background-color: #ff7f00 !important;
      border-color: #ff7f00; }
  .list .listli .mui-slider-right span {
    width: auto !important; }
.list .list-wide {
  border-bottom: 4px solid #efeff4; }
  .list .list-wide:after {
    height: 0; }
  .list .list-wide .sex {
    vertical-align: sub;
    margin-left: 10px; }
.list .padding a {
  padding: 25px 15px; }
.list .line-height40 li:nth-child(3),
.list .line-height40 li:nth-child(4),
.list .line-height40 li:nth-child(5) {
  line-height: 40px; }
.list .more-cont {
  height: 40px !important;
  padding: 0;
  margin-right: 15px !important; }

.comment-list li {
  color: #737373;
  font-size: 12px; }

.comment-list .mui-pull-right {
  color: #aaa; }

.comment-list .coachicon {
  margin-right: 10px;
  width: 32px !important;
  height: 32px !important; }

.comment-list p {
  font-size: 13px;
  margin-left: 42px; }

.detalis-list .detalisli {
  position: relative; }
  .detalis-list .detalisli .coachicon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    float: right; }
  .detalis-list .detalisli .icon01 {
    border-radius: 0; }
  .detalis-list .detalisli .rzicon {
    vertical-align: sub;
    padding-right: 5px; }
  .detalis-list .detalisli .about {
    color: #737373 !important;
    width: 68%;
    max-height: 40px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    .detalis-list .detalisli .about a {
      position: absolute;
      font-size: 13px;
      right: 15px;
      top: 34px;
      color: #737373;
      background-color: #FFF; }
  .detalis-list .detalisli .code-btn {
    float: right;
    background-color: #007BD7;
    color: #fff;
    width: 30%;
    padding: 4px 12px; }
  .detalis-list .detalisli .tips {
    width: 75%;
    float: right; }
    .detalis-list .detalisli .tips p {
      line-height: 24px;
      font-size: 14px;
      color: #000; }
    .detalis-list .detalisli .tips textarea {
      font-size: 14px;
      float: right;
      margin: 0;
      border: 0;
      padding: 0 12px; }
.detalis-list .details-page-header {
  overflow: hidden;
  padding: 15px;
  margin: 15px;
  border-bottom: 1px solid #d2d2d2;
  color: #737373; }
  .detalis-list .details-page-header .ph-left {
    float: left; }
    .detalis-list .details-page-header .ph-left .title {
      font-size: 20px;
      font-weight: normal; }
    .detalis-list .details-page-header .ph-left .date {
      margin: 0; }
  .detalis-list .details-page-header .ph-right {
    float: right;
    padding-right: 5px;
    padding-top: 15px; }
.detalis-list .mui-content-padded {
  margin: 15px; }
  .detalis-list .mui-content-padded img {
    max-width: 100%;
    height: auto; }

.card-list {
  overflow: hidden;
  margin-bottom: 65px; }
  .card-list .mui-card {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px; }
  .card-list .mui-card-header {
    font-size: 14px;
    background-color: #f7f7f7; }
    .card-list .mui-card-header .card-left .time {
      color: #ff7f00; }
    .card-list .mui-card-header .card-right a {
      color: #000; }
    .card-list .mui-card-header .court {
      margin-left: 15px; }
  .card-list .mui-card-content h4 {
    color: #737373;
    font-size: 16px; }
  .card-list .mui-card-content .name {
    margin-left: 15px;
    font-size: 14px;
    color: #737373; }
  .card-list .mui-card-content .students {
    margin: 15px 0px 0px; }
  .card-list .mui-card-content .cont {
    padding-top: 10px;
    color: #6d6d72; }
  .card-list .mui-card-footer {
    font-size: 12px; }

.schedule-list.weeklist {
  background-color: #333; }
  .schedule-list.weeklist .mui-tab-item {
    color: #fff;
    border-left: 1px solid #4c4c4c; }
  .schedule-list.weeklist .mui-active {
    color: #59b200; }

.echart {
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #fff; }
  .echart .chart {
    height: 200px;
    margin: 0px;
    padding: 0px; }
  .echart p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding-bottom: 10px; }

.nav-list .nav-list-frame {
  border: 0;
  background-color: #fff; }
  .nav-list .nav-list-frame .navli {
    width: 20%;
    padding: 2px 0;
    border: 0; }
    .nav-list .nav-list-frame .navli span {
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      display: block; }
    .nav-list .nav-list-frame .navli .icon {
      font-size: 40px; }
    .nav-list .nav-list-frame .navli .mui-media-body {
      font-size: 12px !important;
      margin-top: 0px; }
  .nav-list .nav-list-frame .num {
    font-size: 19px !important; }
  .nav-list .nav-list-frame a {
    padding: 0 !important; }
    .nav-list .nav-list-frame a span {
      font-size: 13px; }
    .nav-list .nav-list-frame a .mui-media-body {
      font-size: 18px !important;
      height: 21px !important;
      line-height: 20px !important; }

.show-list {
  margin-top: 8px; }
  .show-list .page-header {
    background-color: #FFF; }
  .show-list .show-list-cont {
    padding: 10px 10px 30px 0px; }
    .show-list .show-list-cont .typename {
      margin-bottom: 5px;
      text-align: left;
      font-size: 14px !important; }
    .show-list .show-list-cont .frame {
      font-size: 12px; }
      .show-list .show-list-cont .frame .typename-num {
        float: left;
        color: #bbbbbb; }
      .show-list .show-list-cont .frame .typename-money {
        float: right;
        color: #ff7f00; }

.search {
  background-color: #FFF; }
  .search .mui-segmented-control {
    border: 0;
    height: 45px;
    padding: 10px;
    margin-bottom: 4px; }
    .search .mui-segmented-control .mui-control-item {
      border-color: transparent;
      border-left: 0;
      color: #666;
      width: 22%;
      height: 30px;
      display: block;
      float: left;
      line-height: 30px;
      margin: 0 5px;
      font-size: 14px;
      border-radius: 4px; }
    .search .mui-segmented-control .mui-active {
      background-color: #ff7f00;
      color: #fff; }
  .search .hot-search {
    padding: 10px 0 20px;
    overflow: hidden;
    border-top: 4px solid #efeff4; }
    .search .hot-search h4 {
      font-weight: normal;
      color: #737373;
      font-size: 16px;
      padding: 15px 25px;
      text-align: left; }
    .search .hot-search .hot-search-frame {
      margin: 0px;
      padding: 0px;
      font-size: 14px;
      color: #666; }
      .search .hot-search .hot-search-frame li {
        display: inline-block;
        width: 32%;
        padding: 10px 5px; }
        .search .hot-search .hot-search-frame li span {
          display: block;
          padding: 10px 15px;
          border: 1px solid #DDD;
          border-radius: 5px; }
  .search .search-list .search-listli {
    font-size: 14px;
    color: #737373; }

.register .registf {
  background-color: #fff;
  font-size: 14px;
  padding: 10px;
  text-align: center; }
.register .pass {
  text-align: center;
  padding-top: 15px; }
  .register .pass a {
    color: #737373; }
.register .logo {
  width: 50px !important;
  height: 35px;
  border: 1px dashed #ddd; }

.login-frame {
  background-color: #fff;
  text-align: center; }
  .login-frame .logo {
    margin: 35% 0%; }
  .login-frame .logo1 {
    margin: 25% 0%; }
  .login-frame .logo2 {
    margin: 10% 0%; }
  .login-frame .tjlogin {
    margin-bottom: 30px;
    font-size: 16px; }
  .login-frame .other-login {
    font-size: 16px;
    padding: 30px 0; }
  .login-frame .line {
    height: 1px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    background-color: #ccc;
    display: inline-block; }
  .login-frame .login {
    margin-bottom: 25px; }
    .login-frame .login h3 {
      margin-bottom: 30px;
      text-align: center;
      font-size: 20px;
      color: #737373; }
    .login-frame .login .mui-input-row {
      margin-left: 60px;
      margin-right: 60px; }
      .login-frame .login .mui-input-row input::placeholder {
        font-size: 15px; }
      .login-frame .login .mui-input-row .password {
        width: 70%;
        float: left;
        border-right: 0;
        margin-bottom: 0; }
      .login-frame .login .mui-input-row .forgot-password {
        width: 33%;
        height: 40px;
        margin-left: -10px;
        border: 1px solid #d2d2d2;
        border-left: 0;
        border-radius: 3px;
        display: inline-block; }
        .login-frame .login .mui-input-row .forgot-password a {
          vertical-align: middle;
          line-height: 40px;
          color: #737373;
          font-size: 14px; }
      .login-frame .login .mui-input-row .regspan {
        height: 25px;
        line-height: 25px;
        padding-left: 15px;
        font-size: 12px;
        float: left; }

.success-frame2 {
  background-color: #fff;
  padding-bottom: 70px;
  padding-top: 30px; }

.success-frame {
  text-align: center; }
  .success-frame .logowz {
    padding: 40px 0px 10px; }
  .success-frame .choise-identity {
    width: 80%;
    text-align: center;
    margin: 40px auto 30px;
    font-weight: bold;
    font-size: 16px;
    color: #737373; }
  .success-frame .choise {
    padding-top: 10px;
    margin: 0 45px; }
    .success-frame .choise button {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      font-size: 18px; }
    .success-frame .choise .enter-platform {
      margin-left: 10px;
      color: #f00;
      font-size: 15px; }
  .success-frame .opsuccess {
    padding-left: 35px;
    padding-right: 40px; }
    .success-frame .opsuccess .text {
      padding-top: 20px;
      font-size: 20px; }

.student-list {
  margin-bottom: 70px; }
  .student-list .fontid {
    padding-left: 5px;
    font-size: 12px;
    color: #737373; }
  .student-list .mui-segmented-control .mui-control-item {
    width: auto; }
  .student-list .drow-stselect.mui-active {
    border-bottom: 0 !important; }
  .student-list .stselect {
    margin-bottom: 0 !important;
    width: auto;
    padding-bottom: 13px;
    padding-right: 0px;
    padding-left: 0;
    direction: rtl; }

.camp-list .cover {
  width: 100%; }
.camp-list .camp-num {
  font-size: 12px;
  color: #737373; }
  .camp-list .camp-num ul {
    padding: 0; }

.camp-lesson-list .mui-media-body .state {
  margin-left: 10px;
  font-size: 12px; }
.camp-lesson-list .listli > .width {
  width: 50%; }
.camp-lesson-list .listli .editor-btn {
  margin-top: 10px;
  margin-right: 20px;
  color: #737373; }

.program .program-view2, .program .program-view3, .program .program-view4, .program .program-view5, .program .program-view6 {
  padding: 15px; }
.program .program-view2 {
  overflow: hidden;
  background: #fff;
  font-size: 14px;
  color: #737373;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }
.program .program-view4 dl {
  font-size: 14px; }
  .program .program-view4 dl dt {
    font-weight: bold; }
  .program .program-view4 dl dd {
    margin: 0;
    color: #737373;
    padding: 2px 0; }
.program .program-view5 .image-items {
  padding: 0; }
.program .program-view6 input {
  margin-right: 10px;
  vertical-align: middle; }

.grade-list .nump {
  padding-top: 22px;
  padding-right: 16px; }
.grade-list .mui-icon-info {
  font-size: 14px;
  padding-left: 5px; }

.message-list .mui-segmented-control, .camp-lesson-list .mui-segmented-control {
  border: 0;
  border-radius: 0;
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2; }
  .message-list .mui-segmented-control .mui-control-item, .camp-lesson-list .mui-segmented-control .mui-control-item {
    color: #000;
    border-left: 1px solid #ccc;
    font-size: 13px;
    line-height: 35px; }
  .message-list .mui-segmented-control .mui-control-item.mui-active, .camp-lesson-list .mui-segmented-control .mui-control-item.mui-active {
    border-bottom: 5px solid #dd524d;
    border-left: 1px solid #ccc;
    color: #000 !important;
    background-color: #fff;
    font-weight: bold; }
  .message-list .mui-segmented-control i, .camp-lesson-list .mui-segmented-control i {
    font-size: 1.2em; }
.message-list .seg-control, .camp-lesson-list .seg-control {
  width: 50%;
  display: inline-table; }
  .message-list .seg-control .mui-control-item, .camp-lesson-list .seg-control .mui-control-item {
    border: 1px solid #000;
    line-height: 24px; }
  .message-list .seg-control .mui-control-item.mui-active, .camp-lesson-list .seg-control .mui-control-item.mui-active {
    background: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important; }
.message-list .item-list .listli, .camp-lesson-list .item-list .listli {
  color: #737373; }
.message-list .item-list .notice-icon, .camp-lesson-list .item-list .notice-icon {
  float: left;
  padding-top: 15px; }
.message-list .item-list .list-cont1, .camp-lesson-list .item-list .list-cont1 {
  width: 100%;
  padding-left: 0;
  text-align: left; }
  .message-list .item-list .list-cont1 h4, .camp-lesson-list .item-list .list-cont1 h4 {
    font-size: 14px;
    font-weight: normal; }
.message-list .item-list .list-cont, .camp-lesson-list .item-list .list-cont {
  width: 65%;
  padding-left: 15px;
  float: left; }
  .message-list .item-list .list-cont h4, .camp-lesson-list .item-list .list-cont h4 {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: normal;
    color: #3c3c3c; }
  .message-list .item-list .list-cont p, .camp-lesson-list .item-list .list-cont p {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden; }
.message-list .item-list .date, .camp-lesson-list .item-list .date {
  padding-right: 20px;
  padding-top: 15px;
  float: right;
  font-size: 12px;
  color: #737373; }
.message-list .item-list .money, .camp-lesson-list .item-list .money {
  width: 25%;
  padding-right: 0;
  font-size: 18px; }

.court-list {
  margin-top: 47px;
  background-color: #fff; }
  .court-list .test {
    margin: 0;
    padding: 20px;
    background-color: #fff;
    text-align: center; }
  .court-list .checkbox {
    margin-right: 3px;
    margin-bottom: 2px;
    vertical-align: middle; }

.mineTeam {
  padding: 20px 0;
  background: url("../images/myteamBg.png") no-repeat 100% 100%;
  background-size: cover; }
  .mineTeam p {
    margin-bottom: 0;
    font-size: 12px; }
  .mineTeam .enterPerson {
    height: 42px;
    background: #d83e38;
    width: 4%;
    line-height: 42px;
    float: right; }
  @media screen and (min-width: 320px) {
    .mineTeam p {
      line-height: 20px; }
    .mineTeam .enterPerson {
      height: 42px;
      line-height: 42px; } }
  @media screen and (min-width: 375px) {
    .mineTeam p {
      line-height: 25px; }
    .mineTeam .enterPerson {
      height: 49px;
      line-height: 49px; } }
  @media screen and (min-width: 414px) {
    .mineTeam p {
      line-height: 27px; }
    .mineTeam .enterPerson {
      height: 54px;
      line-height: 54px; } }
  .mineTeam .tmLogo {
    width: 90%; }
  .mineTeam .mineNum {
    font-size: 26px;
    color: #dd524d;
    font-weight: bold; }
  .mineTeam .myIntegral {
    border-right: 1px solid #9c9797; }
  .mineTeam .medalText {
    margin-top: 17px;
    margin-bottom: 8px; }
  .mineTeam .medal {
    background: none;
    border: none; }
    .mineTeam .medal li {
      width: 9%;
      margin-right: 4px !important;
      display: inline-block; }
      .mineTeam .medal li img {
        width: 100%; }

.member-setup {
  position: absolute;
  top: 12px;
  right: 12px; }
  .member-setup .icon {
    font-size: 24px;
    color: #FFF; }

.coach .coachicon {
  border-radius: 50%;
  width: 55px; }
.coach .nothing {
  background-color: #fff;
  padding: 50px; }
.coach .table {
  padding-left: 0;
  font-size: 13px; }
  .coach .table i {
    font-size: 1.2em; }
.coach .coach-info {
  padding: 30px 0;
  background: #666 url("../images/membercenter-bg.jpg") no-repeat;
  background-size: cover;
  text-align: center; }
  .coach .coach-info .mui-grid-9 {
    border: 0;
    background: transparent !important; }
  .coach .coach-info .mui-table-view-cell, .coach .coach-info .mui-media-body {
    border: 0 !important;
    color: #fff !important; }
  .coach .coach-info .mui-active {
    background: transparent !important; }
  .coach .coach-info .num {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-size: 1.5em; }
  .coach .coach-info .coachid {
    text-align: center;
    color: #fff; }
.coach .dropdown {
  text-align: center;
  background: #fff;
  margin: 0;
  border-top: 1px solid #DDD;
  padding-bottom: 20px;
  padding-top: 5px;
  font-size: 12px; }
  .coach .dropdown a {
    color: #999; }
.coach .choise-module.mui-grid-9 {
  margin-top: 7px;
  margin-bottom: 70px;
  background-color: #fff; }
.coach .choise-module2.mui-grid-9 {
  background-color: #fff; }

.operation {
  overflow: hidden;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5; }
  .operation .opli {
    float: left;
    height: 43px;
    text-align: center;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #d2d2d2;
    padding: 11px 5px; }
    .operation .opli span {
      font-size: 22px; }
    .operation .opli .icon-nav-Home {
      font-size: 23px !important; }
    .operation .opli:first-child {
      border-left: none; }
    .operation .opli:after {
      left: 0;
      background: none; }

.mine .wallet-show {
  padding: 20px 0;
  height: auto;
  text-align: center;
  background-color: #ff7f00; }
  .mine .wallet-show p {
    color: #fff; }
    .mine .wallet-show p:nth-child(1), .mine .wallet-show p:nth-child(2) {
      opacity: 0.5; }
    .mine .wallet-show p:nth-child(3) {
      font-size: 22px; }
.mine .frame {
  padding-top: 100px; }
  .mine .frame .btn {
    margin-bottom: 10px;
    padding: 6px 20px; }
  .mine .frame p a {
    color: #737373; }
.mine .frame1 {
  padding-top: 20px;
  padding-bottom: 10px; }
  .mine .frame1 p {
    margin-bottom: 0; }
.mine .integral-show {
  height: auto;
  text-align: center;
  background-color: #007BD7;
  padding: 45px 0 20px 0; }
  .mine .integral-show p {
    font-size: 28px;
    opacity: 1;
    color: #fff; }
.mine .explain .explain-title {
  border-bottom: 0; }
  .mine .explain .explain-title span {
    font-size: 16px; }
.mine .explain .explain-cont {
  background-color: #fff;
  padding: 10px 15px 15px 35px; }
.mine .yqewm {
  padding: 100px 0;
  text-align: center; }
.mine .list-cont {
  padding-left: 0 !important; }
.mine .prompt {
  padding: 15px;
  margin-bottom: 0;
  text-align: center; }
  .mine .prompt a {
    color: #ff7f00;
    text-decoration: underline; }

#delete {
  margin-bottom: 70px; }
  #delete textarea {
    height: 110px;
    margin-bottom: 0;
    color: #737373;
    font-size: 14px; }
  #delete p {
    margin: 0;
    padding: 6px 15px; }

#calendar {
  background-color: #fff; }
  #calendar .tips {
    padding: 25px 15px;
    text-align: center; }
  #calendar .fc-header {
    height: 44px; }
    #calendar .fc-header .fc-header-center {
      padding-top: 16px; }
    #calendar .fc-header .fc-corner-left {
      margin: 11px 0;
      margin-left: 10px; }
    #calendar .fc-header .fc-corner-right {
      position: absolute;
      right: 13px;
      margin: 11px 0; }
  #calendar .fc-widget-header {
    background: #313131;
    color: #fff;
    padding: 6px !important; }
  #calendar .fc-day-number {
    float: left;
    color: #737373; }
  #calendar .fc-event {
    border: 0;
    background-color: transparent;
    color: #ff7f00;
    text-shadow: none; }

.actionsheet {
  margin-bottom: 0 !important; }
  .actionsheet h5 {
    padding: 15px;
    margin: 0; }
    .actionsheet h5 a {
      float: right;
      line-height: 15px; }
  .actionsheet .operation {
    margin: 0 !important; }
    .actionsheet .operation .opli {
      color: #fff;
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      background-color: #007BD7; }

.public-list .public-listli {
  font-size: 14px; }
  .public-list .public-listli:last-child {
    line-height: 45px; }
  .public-list .public-listli .documents {
    height: 45px;
    margin-right: 10px;
    border: 1px dashed #ccc;
    color: #737373; }

#logoframe .logostyle {
  width: 45px !important;
  height: 45px !important;
  margin-top: 4px;
  border-radius: 50%; }

.examineBox {
  padding: 10px;
  background-color: #fff; }

.examine {
  width: 100%;
  min-height: 40px;
  font-size: 14px;
  color: #737373; }

.Eleditor-area, .tuwenIntro {
  padding: 15px; }

.Eleditor-area img, .tuwenIntro img {
  float: none;
  width: 100%;
  height: auto;
  margin: 3px 0px; }

.muicol {
  padding: 0 9px; }

.introBox {
  padding: 0 0 25px !important; }

.desimg img {
  width: 100%; }

#articleEditor p {
  margin-bottom: 0 !important; }

.operationDiv {
  position: relative; }
  .operationDiv .desimg {
    width: 100%;
    height: auto;
    float: none;
    margin: 0; }
  .operationDiv .delbtn {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 18px;
    height: 18px;
    z-index: 9999;
    line-height: 18px !important;
    font-size: 18px !important; }
  .operationDiv h5 {
    height: 30px;
    line-height: 30px;
    color: #000;
    margin: 0;
    font-weight: bold; }
  .operationDiv p {
    margin: 0; }
  .operationDiv div.title, .operationDiv div.textarea {
    -webkit-user-select: text !important; }

.tuwenEditor {
  height: auto !important;
  padding: 10px 0; }

.tuwenEditor .textarea, .tuwenEditor .title {
  min-height: 20px;
  padding: 10px 15px;
  _height: 120px;
  margin-left: auto;
  margin-right: auto;
  outline: 0;
  font-size: 14px;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto; }

.tuwenEditor .title {
  font-weight: bold; }

.tuwenEditor .textarea:empty::before, .tuwenEditor .title:empty::before {
  color: #b1b0b0;
  content: attr(placeholder); }

.tuwenEditor .bgorange .textarea:empty::before, .tuwenEditor .bgorange .title:empty::before {
  color: #FFFFFF;
  content: attr(placeholder); }

.tuwenEditor .frame {
  width: 100%;
  padding: 15px 2px;
  font-size: 14px;
  border: 1px dashed #ddd;
  color: #b1b0b0; }

.teamMemberCover .img4x3 {
  position: relative;
  padding-bottom: 55% !important; }
.teamMemberCover .position {
  position: absolute;
  z-index: 2;
  top: 0; }

@media screen and (min-width: 320px) {
  .teamMemberCover .tmcLeft .teamMemberLogo {
    width: 70%;
    margin-top: 4rem; }
  .teamMemberCover .tmcLeft .teamMemberText {
    width: 41%;
    margin-left: 3.4rem;
    margin-top: 0.3rem; }
  .teamMemberCover .tmcLeft .assess {
    margin-top: 0.1rem;
    float: right;
    margin-bottom: 0;
    font-size: 12px;
    margin-right: -15px; }

  .teamMemberCover .tmcRight .teamMemberCircle {
    width: 65%;
    margin-left: 1.6rem;
    margin-top: 5.5rem;
    position: relative; }
  .teamMemberCover .tmcRight .tmValueNum {
    position: absolute;
    top: 6.8rem;
    left: 2.6rem;
    font-size: 2.7rem;
    color: #f00; }
  .teamMemberCover .tmcRight .tmValue {
    position: absolute;
    top: 9.8rem;
    left: 3.3rem;
    font-size: 12px; }
  .teamMemberCover .tmcRight .unknown {
    position: absolute;
    top: 4rem;
    right: 1.4rem;
    width: 15%; } }
@media screen and (min-width: 375px) {
  .teamMemberCover .tmcLeft .teamMemberLogo {
    width: 70%;
    margin-top: 4rem; }
  .teamMemberCover .tmcLeft .teamMemberText {
    width: 41%;
    margin-left: 4.1rem;
    margin-top: 0.3rem; }
  .teamMemberCover .tmcLeft .assess {
    margin-top: 0.3rem;
    float: right;
    margin-bottom: 0;
    font-size: 12px;
    margin-right: 0.1rem; }

  .teamMemberCover .tmcRight .teamMemberCircle {
    width: 65%;
    margin-left: 1.8rem;
    margin-top: 5.7rem;
    position: relative; }
  .teamMemberCover .tmcRight .tmValueNum {
    position: absolute;
    top: 7.6rem;
    left: 3.1rem;
    font-size: 3.0rem;
    color: #f00; }
  .teamMemberCover .tmcRight .tmValue {
    position: absolute;
    top: 11rem;
    left: 4.1rem;
    font-size: 12px; }
  .teamMemberCover .tmcRight .unknown {
    position: absolute;
    top: 4rem;
    right: 1.4rem;
    width: 15%; } }
@media screen and (min-width: 414px) {
  .teamMemberCover .tmcLeft .teamMemberLogo {
    width: 70%;
    margin-top: 4rem; }
  .teamMemberCover .tmcLeft .teamMemberText {
    width: 41%;
    margin-left: 4.3rem;
    margin-top: 0.3rem; }
  .teamMemberCover .tmcLeft .assess {
    margin-top: 0.3rem;
    float: right;
    margin-bottom: 0;
    margin-right: 1.0rem; }

  .teamMemberCover .tmcRight .teamMemberCircle {
    width: 65%;
    margin-left: 1.8rem;
    margin-top: 5.7rem;
    position: relative; }
  .teamMemberCover .tmcRight .tmValueNum {
    position: absolute;
    top: 7.9rem;
    left: 3.3rem;
    font-size: 3.2rem;
    color: #f00; }
  .teamMemberCover .tmcRight .tmValue {
    position: absolute;
    top: 11.6rem;
    left: 4.5rem;
    font-size: 12px; } }
@media screen and (min-width: 768px) {
  .teamMemberCover .tmcLeft .teamMemberLogo {
    width: 70%;
    margin-top: 4rem; }
  .teamMemberCover .tmcLeft .teamMemberText {
    width: 46%;
    margin-left: 8.0rem;
    margin-top: 1.3rem; }
  .teamMemberCover .tmcLeft .assess {
    margin-top: 1.3rem;
    float: right;
    margin-bottom: 0;
    font-size: 1.2rem;
    margin-right: 3.7rem; }

  .teamMemberCover .tmcRight .teamMemberCircle {
    width: 65%;
    margin-left: 2.8rem;
    margin-top: 7.7rem;
    position: relative; }
  .teamMemberCover .tmcRight .tmValueNum {
    position: absolute;
    top: 11.8rem;
    left: 5.2rem;
    font-size: 6.5rem;
    color: #f00; }
  .teamMemberCover .tmcRight .tmValue {
    position: absolute;
    top: 19.5rem;
    left: 8.2rem;
    font-size: 20px; } }
.operation-box {
  background-color: #fff;
  height: auto;
  padding: 30px 15px;
  padding-bottom: 0;
  overflow: hidden; }
  .operation-box .operation-btn {
    overflow: hidden;
    padding: 10px 0;
    font-size: 14px; }
  .operation-box .mui-input-row {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd; }
  .operation-box .mui-badge {
    margin-left: 8px;
    color: #fff;
    background: #f00;
    font-size: 12px; }
  .operation-box .add {
    float: right;
    margin-right: 8px; }
  .operation-box a {
    color: #737373;
    margin-left: 8px; }

.mainInfo .mainInfoLeft {
  border: 1px solid #ddd;
  border-radius: 8px; }
  .mainInfo .mainInfoLeft .month {
    border-radius: 8px 8px 0px 0px;
    padding: 5px 21px;
    font-size: 18px; }
  .mainInfo .mainInfoLeft .day {
    padding: 0 21px;
    font-size: 48px;
    margin-bottom: 0; }
  .mainInfo .mainInfoLeft .hours {
    font-size: 16px;
    padding-bottom: 5px; }
.mainInfo .mainInfoRight {
  padding-left: 17px; }
  .mainInfo .mainInfoRight .title {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 22px;
    font-weight: bold; }
  .mainInfo .mainInfoRight .status {
    font-size: 12px;
    width: 46px;
    text-align: left; }
  .mainInfo .mainInfoRight .divFrame p {
    font-size: 14px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .mainInfo .mainInfoRight .opFrame {
    padding-top: 9px; }
    .mainInfo .mainInfoRight .opFrame .opbtn {
      padding: 8px 22px; }
.mainInfo .imgShow {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 14px; }
  .mainInfo .imgShow img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
.mainInfo .singUpTip {
  width: 82px !important;
  line-height: 36px;
  font-size: 14px; }

.overflow-x {
  width: 100% !important;
  white-space: nowrap !important;
  overflow-x: scroll; }

.picFrame {
  padding: 20px 10px; }
  .picFrame ul {
    overflow: hidden;
    padding: 0;
    margin: 0px; }
    .picFrame ul li {
      float: left;
      width: 25%;
      height: 50px;
      text-align: center;
      padding: 0px;
      overflow: hidden; }
      .picFrame ul li img {
        width: 100%;
        height: 100%;
        padding: 0 5px; }

.record .colorred {
  color: #dd524d !important; }

.impress {
  padding: 22px 15px;
  overflow: hidden; }
  .impress span {
    padding: 5px 9px;
    border-radius: 5px;
    font-size: 13px;
    background: #ececec;
    float: left;
    margin-right: 5px;
    margin-bottom: 8px; }

.impressSide {
  padding: 22px 15px;
  overflow: hidden; }
  .impressSide span {
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 13px;
    background: #ececec;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    color: #000; }
  .impressSide .bgorange {
    color: #fff;
    background-color: #ff7f00 !important; }

.otherInfo .tmLeft {
  padding: 25px 15px; }
.otherInfo .tmRight {
  text-align: center; }
.otherInfo #personalData ul {
  background: #3c3c3c; }
  .otherInfo #personalData ul li {
    padding: 11px 8px !important; }
    .otherInfo #personalData ul li .mui-media-body {
      font-size: 18px !important;
      color: #fff; }
.otherInfo .poplShirt {
  position: relative;
  padding-bottom: 15px; }
  .otherInfo .poplShirt .shirt {
    width: 45%;
    height: 100%; }
  .otherInfo .poplShirt p.position {
    font-size: 20px;
    color: #3e3e3e;
    font-weight: bold;
    position: absolute;
    width: 100%;
    top: 31%; }
  .otherInfo .poplShirt p.number {
    font-size: 44px;
    color: #3e3e3e;
    font-weight: bold;
    width: 100%;
    position: absolute;
    top: 53%; }

.rightLocation {
  line-height: 52px;
  padding-right: 15px;
  padding-top: 0 !important; }

.lineHeight20 {
  line-height: 20px !important; }

.lineHeight32 {
  line-height: 32px !important; }

.leagueNav {
  background-color: #fff;
  margin-bottom: 4px;
  padding: 11px 0; }

.leagueGroup {
  vertical-align: middle;
  display: inline-flex; }

.codeNum {
  line-height: 32px;
  margin-right: 10px; }

.siteNum {
  font-size: 20px;
  font-weight: bold; }

.spanText {
  padding: 4px 0px !important; }

.circleIcon {
  margin-right: 10px;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%; }

.leagueTable {
  width: 100%;
  text-align: center; }
  .leagueTable tbody {
    background-color: #fff; }
    .leagueTable tbody tr {
      border-bottom: 1px solid #ddd; }
      .leagueTable tbody tr td p {
        margin: 0;
        line-height: 25px; }
      .leagueTable tbody tr td .pGroup {
        width: 100%;
        padding: 10px 10px 10px 18px; }
      .leagueTable tbody tr .tdpPadding {
        padding: 15px; }
      .leagueTable tbody tr .borderC {
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd; }

/* 球员 */
.personalFrame {
  background: url("../images/Tindex.png") no-repeat;
  background-size: cover;
  height: 205px;
  width: 100%; }
  .personalFrame .tmFrameLeft {
    padding: 19px 0 19px 30px; }
    .personalFrame .tmFrameLeft .avatarImg {
      width: 65px;
      height: 65px;
      border-radius: 50%; }
    .personalFrame .tmFrameLeft .nameFrame {
      margin: 5px 0; }
      .personalFrame .tmFrameLeft .nameFrame .tmName {
        font-size: 22px; }
    .personalFrame .tmFrameLeft p {
      margin-bottom: 0;
      color: #5d5d5d; }
  .personalFrame .tmFrameRight {
    padding: 20px 0; }
    .personalFrame .tmFrameRight .tmIntegral {
      background: url("../images/jifenbg.png") no-repeat;
      background-size: cover;
      width: 70%;
      right: 0;
      float: right; }
      .personalFrame .tmFrameRight .tmIntegral .integralNum {
        text-align: center;
        display: block;
        color: #fff;
        font-size: 24px;
        line-height: 37px;
        padding-left: 34%; }
    @media screen and (min-width: 320px) {
      .personalFrame .tmFrameRight .tmIntegral {
        width: 85%; } }
    @media screen and (min-width: 375px) {
      .personalFrame .tmFrameRight .tmIntegral {
        width: 77%; } }
    @media screen and (min-width: 414px) {
      .personalFrame .tmFrameRight .tmIntegral {
        width: 70%; } }
    .personalFrame .tmFrameRight .integral {
      text-align: right;
      margin-top: 10px;
      margin-bottom: 0;
      padding-right: 9%;
      font-size: 12px;
      float: right; }
  .personalFrame .cjButton {
    padding: 10px 20px; }
  .personalFrame .openText {
    margin-top: 10px; }

.guide {
  margin-top: 140px;
  font-size: 12px;
  color: #8f8f94;
  text-align: right;
  margin-right: 9%; }
  .guide .guideIcon {
    width: 20px;
    height: 20px;
    background: #555;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    color: #fff; }

.lifeStyle {
  background: #efeff4;
  text-align: center;
  padding: 15px;
  color: #333; }

/* 裁剪图片样式 */
#clipArea {
  height: 300px; }

.fileFrame {
  color: #FFF;
  width: 35%;
  height: 40px;
  background: #007BD7;
  border: 1px solid #ddd;
  margin-left: 30px;
  margin-top: 15px;
  text-align: center;
  padding-top: 10px;
  float: left;
  font-size: 14px;
  border-radius: 3px; }

#file {
  height: 25px;
  top: 310px;
  left: 30px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 30%;
  opacity: 0;
  cursor: pointer;
  margin: 10px; }

#clipBtn {
  float: right;
  padding: 12px 20px;
  margin: 15px 30px 0 0;
  border-radius: 3px;
  width: 35%;
  color: #FFF;
  background: #007BD7; }

#view {
  width: 68px;
  height: 51px;
  border: 1px solid #CCC;
  float: right;
  margin-right: 35px; }

#txpopover.mui-popover {
  height: 370px;
  background: #333 !important; }

/*# sourceMappingURL=style.css.map */
