$colorwhite: #fff;
$colorgray: #737373;
$colorgray1: #ccc;
$colororange: #ff7f00;
$colorgreen: #59b200;
$colorblue: #006dd9;
a {
  color: $colorwhite;
}

li {
  list-style: none;
}

.mui-table-view:before, .mui-table-view:after {
  height: 0;
}

.mui-bar-nav {
  box-shadow: none !important;
}

.mui-icon-star-filled {
  font-size: 16px !important;
}

.whitebg {
  background-color: $colorwhite;
}

.bgblue {
  background-color: $colorblue;
}

.bggreen {
  background-color: $colorgreen;
}

.colororange {
  color: $colororange;
}

.colorgreen {
  color: $colorgreen;
}

.colorblue {
  color: $colorblue;
}

.mb {
  margin-bottom: 4px;
}

.pt {
  padding-top: 44px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tr {
  text-align: right;
}

.border-b {
  border-bottom: 1px solid #ddd;
}

//**************************************************

//顶部导航
.platform-title {
  background-color: #323232;
  box-shadow: none !important;
  .mui-title {
    color: #fff;
  }
}

.subheader {
  background-color: $colorwhite;
  border-bottom: 1px solid #ddd;
  .arrow {
    color: $colorgray;
  }
  .mui-title {
    right: 20px !important;
    text-align: right;
    font-size: 14px;
  }
}

//平台首页  包含搜索1`````````````````````````````````````````````````````
.search.mui-grid-view.mui-grid-9 {
  margin-top: 0 !important;
  background-color: #666;
  border: 0;
  > .searchli {
    padding: 7px 0;
    font-size: 11px;
    border: 0;
    color: $colorwhite;
    .address {
      font-size: 14px;
      display: inline-block;
      vertical-align: text-bottom;
    }
    a {
      padding: 0;
    }
    .mui-input-clear {
      height: 30px;
      margin-bottom: 0;
      font-size: 1.2em;
      text-align: left;
    }
    input::placeholder {
      color: $colorgray1;
    }
  }

  .mui-table-view-cell.mui-active {
    background: 0;
  }

}

.search2 {
  background-color: #666;
  border: 0;
  color: $colorgray1;
  input {
    color: $colorgray1;
  }
  input::placeholder {
    color: $colorgray1;
    text-align: left;
    font-size: 14px;
  }
  .mui-pull-left {
    color: $colorgray1;
  }
  .searchicon {
    float: right;
  }
}

.search3 {
  .value {
    width: 20%;
    padding: 6px 20px;
    margin-right: -4px;
    color: #ccc;
    background-color: rgba(0, 0, 0, .1);
    font-size: 14px;
    border-radius: 3px;
  }
}

.search {
  .mui-segmented-control {
    border: 0;
    height: 45px;
    padding: 10px;
    margin-bottom: 4px;
    background-color: $colorwhite;
    .mui-control-item {
      border-color: transparent;
      border-left: 0;
      color: $colorgray;
      width: 16%;
      height: 30px;
      display: block;
      float: left;
      line-height: 30px;
      margin: 0 5px;
      font-size: 14px;
      border-radius: 4px;
    }
    .mui-active {
      background-color: $colororange;
      color: $colorwhite;
    }
  }
  .hot-search {
    padding-top: 20px;
    overflow: hidden;
    background: #fff;
    h4 {
      font-weight: normal;
      color: #737373;
      font-size: 16px;
      padding-left: 20px;
    }
    .hot-search-frame {
      background: $colorwhite;
      border: 0;
      .mui-table-view-cell {
        border: 0;
        padding: 30px 0;
        button {
          padding: 10px 16px;
          margin-right: 9px;
          border-radius: 0;
        }
      }
      .mui-active {
        background-color: $colorwhite;
      }
    }
  }
  .search-list {
    .search-listli {
      font-size: 14px;
      color: $colorgray;
    }
  }
}

.location-frame {
  overflow: hidden;
  padding: 10px;
  font-size: 14px;
  color: $colorgray;
  background-color: $colorwhite;
  border-bottom: 5px solid #efeff4;
  .location {
    float: left;
  }
  .location-choise {
    float: right;
    margin-top: 4px;
    margin-right: 10px;
    i {
      font-size: 16px;
      margin-left: 5px;
    }
  }
}

.nav-list {
  .nav-list-frame {
    border: 0;
    background-color: $colorwhite;
    .navli {
      width: 20%;
      padding: 0;
      border: 0;
      span {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        display: block;
        border: 1px solid $colorgray1;
        border-radius: 50%;
      }
    }
    .mui-table-view-cell.mui-active {
      background: 0;
    }
    .num {
      font-size: 19px !important;
    }
  }
}

//page-header````````````````````````````````````````````````````
.page-header {
  overflow: hidden;
  padding: 11px 15px;
  background-color: $colorwhite;
  color: $colorgray;
  border-bottom: 1px solid #ddd;
  .course {
    width: 77%;
    height: 20px;
    font-size: 16px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .more {
    float: right;
    font-size: 14px;
  }
}

.show-list {
  margin-top: 8px;
  .show-list-cont {
    padding: 10px 10px 30px 0px;
    .typename {
      margin-bottom: 5px;
      text-align: left;
      font-size: 14px !important;
    }
    .frame {
      font-size: 12px;
      .typename-num {
        float: left;
        color: $colorgray1;
      }
      .typename-money {
        float: right;
        color: $colororange;
      }
    }
  }
}

.list {
  .list-wide {
    border-bottom: 4px solid #efeff4;
    &:after {
      height: 0;
    }
    .sex {
      vertical-align: sub;
      margin-left: 10px;
    }
  }

}

//coach``````````````````````````````````````
.coach-info {
  height: 200px;
  padding: 30px 0;
  background-color: #666;
  .mui-grid-9 {
    background: transparent;
    border: 0;
  }
  .mui-table-view-cell, .mui-media-body {
    border: 0 !important;
    color: $colorwhite !important;
  }
  .mui-active {
    background: transparent !important;
  }
  .num {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-size: 2em;
  }
  .coachid {
    text-align: center;
    color: #fff;
  }
}

.operation-module.mui-grid-9 {
  margin-top: 7px;
  margin-bottom: 70px;
  background-color: $colorwhite;
}

//会员登陆
.login-frame {
  background-color: $colorwhite;
  text-align: center;
  .logo {
    padding: 35px 0 10px 0;
  }
  .tjlogin {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .tjdlbtn {
    height: 45px;
    margin-left: 60px;
    margin-right: 60px;
    button {
      height: 100%;
      width: 100%;
      background-color: #468c00;
      color: $colorwhite;
      font-size: 18px;
      span {
        font-size: 30px;
        margin-right: 10px;
      }
    }
  }
  .other-login {
    font-size: 18px;
    padding: 30px 0;
  }
  .line {
    height: 1px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: $colorgray1;
    display: inline-block;
  }

  .login {
    h3 {
      margin-bottom: 30px;
      text-align: center;
      font-weight: normal;
      font-size: 20px;
      color: $colorgray;
    }
    .mui-input-row {
      height: 45px;
      margin-left: 60px;
      margin-right: 60px;
      margin-bottom: 15px;
      input::placeholder {
        font-size: 15px;
      }
      .password {
        width: 70%;
        float: left;
        border-right: 0;
      }
      .forgot-password {
        width: 33%;
        height: 40px;
        margin-left: -10px;
        border: 1px solid #d2d2d2;
        border-left: 0;
        border-radius: 3px;
        display: inline-block;
        a {
          vertical-align: middle;
          line-height: 40px;
          color: $colorgray;
          font-size: 14px;
        }
      }
    }
  }
}

//登陆成功
.success-frame {
  text-align: center;
  .logowz {
    padding: 30px;
  }
  .choise-identity {
    width: 67%;
    margin: auto;
    font-size: 15px;
    color: $colorgray;
  }
  .choise {
    padding-top: 20px;
    margin: 0 45px;
    button {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      font-size: 18px;
      color: $colorgray;
    }
    .enter-platform {
      margin-left: 10px;
      color: #f00;
      font-size: 15px;
    }
  }
}

//消息列表
.public-list {
  .mui-segmented-control {
    border: 0;
    border-radius: 0;
    background-color: $colorwhite;
    border-bottom: 1px solid #d2d2d2;
    .mui-control-item {
      color: $colorgray;
      border-left: none;
    }
    .mui-control-item.mui-active {
      color: #007aff;
      background-color: transparent;
    }
  }
  .item-list {
    .listli {
      color: $colorgray;
    }
    .notice-icon {
      float: left;
      padding-top: 15px;
    }
    .list-cont {
      width: 65%;
      padding-left: 15px;
      float: left;
      h4 {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: normal;
        color: #585858;
      }
      p {
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .date {
      padding-right: 20px;
      padding-top: 15px;
      float: right;
      font-size: 12px;
    }
  }
}

//详情
.detalis-list {
  .details-page-header {
    overflow: hidden;
    padding: 15px;
    margin: 15px;
    border-bottom: 1px solid #d2d2d2;
    color: $colorgray;
    .ph-left {
      float: left;
      .title {
        font-size: 20px;
        font-weight: normal;
      }
      .date {
        margin: 0;
      }
    }
    .ph-right {
      float: right;
      padding-right: 5px;
      padding-top: 15px;
    }
  }
  .mui-content-padded {
    margin: 15px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .camp-num {
    ul {
      padding: 0;
    }
    font-size: 14px;
    color: $colorgray;
  }
  .detalisli {
    position: relative;
    .coachicon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      float: right;
      &:first-child {
        margin-right: 20px;
      }
    }
    .about {
      font-size: 12px;
      color: $colorgray !important;
      width: 70%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      a {
        position: absolute;
        right: 35px;
        color: $colorgray;
      }
    }

    .dropdown {
      text-align: center;
      background: $colorwhite;
      margin: 0;
      border-top: 1px solid #ddd;
      padding-bottom: 20px;
      padding-top: 5px;
      font-size: 12px;
      a {
        color: #999;
      }
    }
    .code-btn {
      float: right;
      background-color: $colorblue;
      color: $colorwhite;
      width: 30%;
      padding: 4px 12px;
    }
  }
  .input {
    width: 45%;
    float: right;
    font-size: 14px;
    height: 0;
    margin: 0;
    border: 0;
    background: transparent;
    text-align: right;
  }

}

//课程列表
.course-list {

  .course-listli {
    .mui-media-object {
      max-width: 70px;
      height: 55px;
      line-height: 55px;
    }
    .mui-media-body {
      line-height: 27px;
      font-size: 17px;
      width: 43%;
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      p {
        font-size: 13px;
      }
    }
    .price-frame {
      float: right;
      padding-top: 8px;
      text-align: center;
      .price {
        font-size: 18px;
        color: $colororange;
        span {
          color: $colorgray;
          font-size: 12px;
        }
      }
      .address {
        font-size: 12px;
      }
    }
    .singup-num {
      padding-top: 34px;
      font-size: 12px;
      color: #737373;
    }
  }
  .course-padding {
    a {
      padding: 25px 15px;
    }
  }
  .cover {
    width: 100%;
    height: 175px;
  }
  .course-detailsli {
    padding: 14px 15px;
    font-size: 14px;
    color: $colorgray;
    &:after {
      left: 0;
    }
    span {
      margin-right: 18px;
      float: right;
      color: #000;
      i {
        font-size: 14px;
      }
      button {
        padding: 1px 3px;
        margin-right: 5px;
        border-radius: 0;
      }
      .mui-btn-warning {
        background-color: $colororange !important;
        border-color: $colororange;
      }
    }

  }

}

.coach {
  .coachicon {
    border-radius: 50%;
    width: 55px;
  }
}

.operation {
  overflow: hidden;
  padding: 0;
  border-top: 1px solid #d2d2d2;
  .opli {
    float: left;
    height: 45px;
    text-align: center;
    font-size: 14px;
    span {
      font-size: 22px;
    }
    &:nth-child(2) {
      color: $colorwhite;
    }
    &:nth-child(3) {
      color: $colorwhite;
    }
    &:after {
      left: 0;
    }
  }
}

//public-list````````````````````````
.public-list {
  .public-listli {
    font-size: 14px;
    &:last-child {
      line-height: 45px;
    }
    .documents {
      height: 45px;
      margin-right: 10px;
      border: 1px dashed #ccc;
      color: $colorgray;
    }
  }
}
