.search1,.search2 { background-color: #D1292E; color: #FFF; }
.search1 input, .search2 input  { background-color: #B52522; color: #FFF }
.search1 input::placeholder,.search2 input::placeholder  { color: #EFAFAD; }
.search1 .mui-pull-left,.search2 .mui-pull-left { color: #FFF; }