@charset "UTF-8";
@import "iconfont";
//system public css
$colorwhite: #fff;
$colorgray: #737373;
$colorgray1: #ccc;
$colororange: #ff7f00;
$colorgreen: #59b200;
$colorblue: #007BD7;
$colorred: #dd524d;
a {
  color: $colorgray;
}

li {
  list-style: none;
}

// mixin Style

@mixin downArrow{
  content:'\e581';
  font-family: Muiicons;
  font-size: inherit;
  line-height: 1;
  position: absolute;
  top: 10px;
  right:0px;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  color: #bbb;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 black;
}

// MUI style
#header { font-size: 13px !important; }
#header span.title { line-height: 42px; margin: 0px 10px; }
.mui-bar-nav.mui-bar .mui-icon { vertical-align: middle;}
.mui-collapse a span { width:auto !important; color:#666; }
.mui-toast-container { position: fixed; top:115px; }
.mui-btn-success { background-color: $colorred; border:1px solid $colorred; }
.mui-btn-primary { background-color: $colorblue; border:1px solid $colorblue; }
.mui-bar-tab .mui-tab-item { color:#666; }
.mui-navigate-right:after, .mui-push-right:after { right: 10px; top:48%; }
.mui-navigate-right span { margin-right:15px; }
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body { font-size: 14px; }
.mui-bar-tab .mui-tab-item .mui-icon { font-size:28px; width:30px; }
.mui-table-view:before, .mui-table-view:after { height:0;  }
.mui-table-view-cell:after{ background-color:#DADAE7; }
.mui-bar-nav~.mui-content .mui-pull-top-pocket{ top:0; }
.mui-input-group {
  &:after {
    height: 0;
  }
  .mui-input-row {
    height:43px;

    label{
      font-size: 14px;
      color:#737373;
    }
    span{
      font-size: 14px;
      text-align: right;
      float:right;
      line-height: 43px;
      padding-right: 15px;
      color:#737373;
    }
    input,select,textarea{
      font-size: 14px;
      text-align: right;
    }
    .mui-input-numbox{
      text-align: center;
    }

  }
  .select-arrow{
    padding-right: 30px !important;
    position: relative;
    select{
      width: 100%;
      direction: rtl;
    }
  }
  .select-arrow:after{
    top:22px !important;
    right:10px !important;;
    @include downArrow;
  }
  .mui-input-row:after{
    left:0;
  }
  .h-auto{
    height:auto !important;
    padding:10px 0;
  }
  img{
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 35px;
  }
  .code-btn {
    float: right;
    background-color: $colorblue;
    color: $colorwhite;
    width: 25%;
    height:42px;
  }
}

.mui-segmented-control {
  border: 1px solid #333;
  border-radius: 0px;
  .mui-control-item {
    color:#333;
    font-size: 14px;
    border-color:#333;
    line-height:32px;
  }
  .mui-control-item.mui-active{
    background-color: #333;
    color:#FFFFFF;
  }
}

.mui-bar-nav {
  box-shadow: none !important;
}

.mui-icon-star-filled {
  font-size: 16px !important;
}

.mui-popover .mui-table-view .mui-table-view-cell:last-child > a:not(.mui-btn) {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.mui-popover input[type=search] {
  border-radius:0px;
}

.mui-grid-9 .iconfont {
  font-size:2.6em !important;
}
.mui-input-row select{
  direction:rtl;
  optgroup,option{
    direction:ltr;
  }
}
input[type=checkbox], input[type=radio]{
  width:16px;
  height: 16px;
}
.mui-search{
  background: #FFFFFF;
  input[type=search]{
    font-size: 14px;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
  }
  .mui-placeholder{
    font-size: 14px !important;
    .mui-icon{
      color:#999999;
    }
  }
}
.mui-search.mui-active:before{top:70%;}

//**************************************************
//pbulic css
.for-tab{
  padding: 0px;
  .mui-segmented-control{
    top:0px;
  }
  .mui-icon{
    padding:0px !important;
  }
}
.tab-pullRefresh{
  .mui-scroll-wrapper{
    top:45px;
  }
  .mui-control-content{
    position: absolute;
  }
}
.fulllist{
  border-bottom: 4px solid #efeff4;
  .fTop{
    font-size: 14px;
    padding-top:5px;
  }
  .fBottom{
    font-size: 12px;
  }
  .fMiddle{
    font-size: 12px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding: 8px 0px;
    margin: 8px 0px;

  }
  span{
    width: auto !important;
    font-size:12px;
    float: right;
  }
}
.hot-ads{
  margin-top: 0px;
  img{
    width: 100%;
  }
}

.validate-result span{
  display: block;
  color:red;
}

.img1x1,.img4x3 {
  width:100%;
  height: 0px;
  padding-bottom:100%;
  background-color:#EEEEEE;
  -webkit-background-size:cover;
  background-size:cover;
  background-position: center;
}

.img4x3 {
  padding-bottom:75%;
}

.nofloat {
  float: inherit !important;
}
.nodata{
  text-align: center;
  padding: 50px;
  .icon{
    color: #999;
    font-size:120px !important;
  }
  p{
    margin: 20px;
  }
}
.mui-popover nodata {
  background-color:transparent;
}

.whitebg {
  background-color: $colorwhite !important;
}

.bgblue {
  background-color: $colorblue !important;
  color:$colorwhite;
  border:none !important;
}
.bgred {
  background-color: $colorred !important;
  color:$colorwhite;
  border:none !important;
}
.bggray {
  background-color: $colorgray1 !important;
  color:$colorwhite;
  border:none !important;
}

.bggreen {
  background-color: $colorgreen !important;
  color:$colorwhite;
  border:none !important;
}

.colororange {
  color: $colororange;
}

.colorgreen {
  color: $colorgreen;
}

.colorblue {
  color: $colorblue;
}

.colorgray {
  color: $colorgray;
}

.colorred {
  color: $colorred;
}

.show {
  display: block;
}
.hide {
  display: none;
}
.mb {
  margin-bottom: 4px !important;
}

.mt {
  margin-top: 4px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt55 {
  margin-bottom: 55px !important;
}
.mb44 {
  margin-bottom: 44px !important;
}
.mt44 {
  margin-top: 44px !important;
}

.line-height40 {
  line-height: 40px;
}

.height20 {
  height: 20px;
}

.height127 {
  height: 127px !important;
}

.font26 {
  font-size: 2.6em;
}
.f12 {
  font-size: 12px !important;
}
.f16 {
  font-size: 16px !important;
}
.f18 {
  font-size: 18px !important;
}

.pt {
  padding-top: 44px;
}
.pb44 {
  padding-bottom: 44px;
}
.pdr {
  padding-right: 30px !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tr {
  text-align: right;
}

.border-t {
  border-top: 1px solid #DDDDDD;
}
.border-b {
  border-bottom: 1px solid #DADAE7;
}
.border-b4{
  border-bottom: 4px solid #DADAE7;
}
.nobr {
  border:none !important;
}

.wd {
  width: 77% !important;
}

.wd25 {
  width: 25% !important;
}

.wd27 {
  width: 27% !important;
}

.wd36 {
  width: 36% !important;
}

.wd45 {
  width: 45% !important;
}

.wd49 {
  width: 49% !important;
}

.wd52 {
  width: 52% !important;
}

.wd58 {
  width: 58% !important;
}

.wd60 {
  width: 60% !important;
}

.wd66 {
  width: 66% !important;
}

.wd73 {
  width: 73% !important;
}

.wd83 {
  width: 83% !important;
}

.btmfixed {
  width: 100%;
  position: fixed;
  bottom: 20px;
  left: 0px;
  text-align: center;
}

.tip-box {
  padding:15px;
  font-size: 14px;
  text-align: center;
  display: block;
}

.min-height {
  min-height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: $colorgray;
}

.page-header {
  overflow: hidden;
  padding: 11px 15px;
  color: $colorgray;
  position: relative;
  .course,.title {
    width: 69%;
    height: 20px;
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    float: left;
  }
  .more {
    float: right;
    font-size: 12px;
    padding-right:10px;
  }
  .iconsize {
    font-size: 14px;
  }
  .title{
    width: auto;
  }
}

//tj btn
.tjbtn-next {
  margin: 25px 95px !important;
  height: 35px !important;
  .btn {
    font-size: 14px !important;
  }
}

.tjbtn {
  height: 45px;
  margin-left: 10%;
  margin-right: 10%;
  .btn {
    height: 100%;
    width: 100%;
    background-color: $colorblue;
    border:none;
    color: #fff;
    font-size: 18px;
    span {
      font-size: 30px;
      margin-right: 10px;
    }
  }
}

.pbselect {
  width: 60%;
  padding-right: 6px;
  margin-bottom: 0;
  padding: 0;
  font-size: 14px;
  color: #737373;
  direction: rtl;
}

//弹框样式
.mui-popover .close-popover { position: absolute; z-index: 30; top: 8px; right: 8px; text-align: center;}
.mui-popover .mui-scroll .mui-table-view { border-bottom: 1px solid #DDDDDD; border-radius: 0px; }
.mui-popover {
  height: 300px;
  button{
    line-height: 1;
    margin-left: 5px;
  }
  .page-header{
    z-index: 10;
  }
  .mui-scroll-wrapper {
    margin: 0;
    top:50px;
  }
  .mui-control-content{
    height: 200px;
    font-size: 14px;
    .mui-scroll-wrapper {
      top:0px !important;
    }
  }
  .pop-search{
    height: 38px;
    padding:4px 8px 4px 0px;
    background-color: #DDDDDD;
    input{
      background-color: #DDDDDD;
      height: 30px;
      width:80%;
      font-size: 13px;
      text-align: left;
    }
    .searchicon{
      float: right;
      color: #666666;
    }
  }
  .mui-pager{
    a,span{
      font-size: 12px;
    }
    span{
      background: none;
      border:none;
      padding: 5px;
    }
  }
}

.mui-bar-tab .mui-tab-item.mui-active {
  color: $colorred;
}

//search1
.search1 {
  background-color: #444;
  border: 0;
  z-index: 8;
  color: $colorgray1;
  input {
    font-size: 14px;
    color: $colorgray1;
    margin:5px 0px !important;
    background-color:#333;
  }
  input::placeholder {
    color: #888888;
    text-align: left;
  }
  .mui-pull-left {
    color: $colorgray1;
    margin-top: 2px;
    width: 65%;
    font-size: 14px;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
  .searchicon {
    float: right;
  }
  .searchType{
    width: 20%;
    line-height:38px;
  }
  .mui-icon-back{
    width: 10%;
    font-size: 16px;
  }
  .mui-icon-location{
    margin-right: 6px !important;
    width: 25% !important;

  }
  .mui-icon-location:before{
    font-size:18px;
  }
}

//search2
.search2 {
  background-color: #666;
  border: 0;
  color: $colorgray1;
  input {
    color: $colorgray1;
  }
  input::placeholder {
    color: #888888;
    text-align: left;
    font-size: 14px;
  }
  .mui-pull-left {
    color: $colorgray1;
  }
  .searchicon {
    float: right;
  }
}

//search3
.search3 {
  .value {
    width: 20%;
    padding: 6px 20px;
    margin-right: -4px;
    color: #ccc;
    background-color: rgba(0, 0, 0, .1);
    font-size: 14px;
    border-radius: 3px;
  }
}

.basic-search{
  height: 38px;
  padding:4px 8px 4px 0px;
  background-color: #DDDDDD;
  input{
    background-color: #DDDDDD;
    height: 30px;
    width:80%;
    font-size: 13px;
    text-align: left;
  }
  .searchicon{
    float: right;
    color: #666666;
  }
}

//subheader
.subheader {
  background-color: $colorwhite;
  border-bottom: 1px solid #ddd;
  .arrow {
    color: $colorgray;
  }
  .mui-title {
    right: 20px !important;
    text-align: right;
    font-size: 14px;
  }
  font {
    padding-right: 10px;
    color: #737373;
    font-size: 12px;
  }
  .return {
    font-size: 14px;
  }
}

.subheader-other {
  background: transparent;
  border: 0;
  height: 30px;
  a {
    padding: 5px !important;
    color: $colorwhite !important;
  }
  h1 {
    line-height: 30px;
    font-size: 12px;
    color: $colorwhite;
  }
}

//choise-location
.location-frame {
  overflow: hidden;
  padding: 10px;
  font-size: 14px;
  color: $colorgray;
  background-color: $colorwhite;
  border-bottom: 5px solid #efeff4;
  .mui-icon-location {
    font-size:21px;
    margin-right:2px;
  }
  .location {
    float: left;
    margin-left: 5px;
  }
  .location-choise {
    float: right;
    position: relative;
    margin-top: 4px;
    margin-left: 12px;
    padding-right: 18px;
    text-align: right;
    select {
      padding: 0;
      margin: 0;
      direction: rtl;
    }
    option {
      direction: ltr;
    }
    i {
      font-size: 16px;
      float: right;
      line-height:22px;
    }
  }
  .location-choise:after{
    @include downArrow;
  }
  .max{
    width: 50% !important;
  }
  .location-chosie-initial {
    margin: 0;
    float: left;
  }
}

.select {
  width: 16%;
  margin: 0;
  padding: 0;
}

.editor {
  .image-items {
    background-color: #fff;
    height: auto;
    padding: 15px;
    padding-bottom: 0;
    overflow: hidden;
    .imagef {
      border: 1px dashed #ddd;
      text-align: center;
      font-size: 14px;
      height: 100px;
      line-height: 100px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .mui-input-group {
      margin-top: 15px;
      font-size: 14px;
      .mui-input-row {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        height: inherit;
        &:after {
          left: 0;
        }
        input:before {
          font-size: 26px;
        }
      }
      .name {
        margin-left: 15px;
      }
      .operation-btn {
        overflow: hidden;
        padding: 10px 0;
        a {
          color: $colorgray;
          margin-left: 8px;
        }
        .mui-badge {
          margin-left: 8px;
          color: #fff;
          background: #f00;
        }
        .all {

        }
        .cancel {

        }
        .add {
          float: right;
          margin-right: 8px;
        }
      }
    }
  }
}

//list

.list {
  .listinitial {
    padding: 11px 15px !important;
  }
  .listli {
    padding: 11px 15px;
    font-size: 13px;
    color: $colorgray;
    &:after {
      left: 0;
    }
    .iconfont{
      font-size: 1.8em;
      margin-right:2px;
      vertical-align:middle;
    }
    .mui-media-object {
      width: 55px !important;
      height: 55px !important;
      max-width: none;
      line-height: 55px;
    }
    .mui-media-body {
      line-height: 27px;
      font-size: 14px;
      width: 39%;
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      p {
        font-size: 12px;
        text-indent: 0;
      }
    }
    .price-frame {
      float: right;
      padding-top: 8px;
      text-align: right;
      .price {
        font-size: 18px;
        color: $colororange;
        span {
          color: $colorgray;
          font-size: 12px;
        }
      }
      .address {
        font-size: 12px;
      }
    }
    .singup-num {
      padding-top: 29px;
      font-size: 12px;
      color: #737373;
    }
    span {
      float: right;
      width: 71%;
      text-align: right;
      i {
        font-size: 14px;
      }
      button {
        padding: 1px 3px;
        margin-left: 5px;
        border-radius: 0;
      }
      .mui-btn-warning {
        background-color: $colororange !important;
        border-color: $colororange;
      }
    }
    .mui-slider-right{
      span{
        width:auto !important;;
      }
    }
  }
  .list-wide {
    border-bottom: 4px solid #efeff4;
    &:after {
      height: 0;
    }
    .sex {
      vertical-align: sub;
      margin-left: 10px;
    }
  }
  .padding {
    a {
      padding: 25px 15px;
    }
  }
  .line-height40 {
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5) {
      line-height: 40px;
    }
  }
  .more-cont {
    //white-space: initial;
    //display: -webkit-box;
    //-webkit-box-orient: vertical;
    //-webkit-line-clamp: 2;
    //overflow: hidden;
    height: 40px !important;
    padding: 0;
    margin-right: 15px !important;
  }
}

//comment-list

.comment-list li {
  color:#737373;
  font-size: 12px;
}
.comment-list .mui-pull-right {
  color:#aaa;
}
.comment-list .coachicon{
  margin-right: 10px;
  width:32px !important;
  height:32px !important;
}
.comment-list p {
  font-size: 13px;
}

//details-list
.detalis-list {
  .detalisli {
    position: relative;
    .coachicon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      float: right;
      &:first-child {
        margin-right: 20px;
      }
    }
    .icon01 {
      border-radius: 0;
    }
    .rzicon {
      vertical-align: sub;
      padding-right: 5px;
    }
    .about {
      color: $colorgray !important;
      width: 68%;
      text-align: left;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      a {
        position: absolute;
        font-size:13px;
        right: 18px;
        top: 55px;
        color: $colorgray;
        background-color: #FFF;
      }
    }

    .code-btn {
      float: right;
      background-color: $colorblue;
      color: $colorwhite;
      width: 30%;
      padding: 4px 12px;
    }
    .tips {
      width: 75%;
      float: right;
      p {
        line-height: 24px;
        font-size: 14px;
        color: #000;
      }
      textarea {
        font-size: 14px;
        float: right;
        margin: 0;
        border: 0;
        padding: 0 12px;
      }
    }
  }
  .details-page-header {
    overflow: hidden;
    padding: 15px;
    margin: 15px;
    border-bottom: 1px solid #d2d2d2;
    color: $colorgray;
    .ph-left {
      float: left;
      .title {
        font-size: 20px;
        font-weight: normal;
      }
      .date {
        margin: 0;
      }
    }
    .ph-right {
      float: right;
      padding-right: 5px;
      padding-top: 15px;
    }
  }
  .mui-content-padded {
    margin: 15px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

//mui-card
.card-list {
  overflow: hidden;
  margin-bottom: 65px;
  .mui-card {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
    border-radius: 6px;
  }
  .mui-card-header {
    font-size: 14px;
    background-color: #f7f7f7;
    .card-left {
      .time {
        color: $colororange;
      }
    }
    .card-right {
      a {
        color: #000;
      }
    }
    .court{
      margin-left: 15px;
    }
  }
  .mui-card-content {
    h4 {
      color: $colorgray;
      font-size: 16px;
    }
    .name {
      margin-left: 15px;
      font-size: 14px;
      color: $colorgray;
    }
    .students{
      margin: 15px 0px 0px;
    }
    .cont {
      padding-top: 10px;
      color: #6d6d72;
    }
  }
  .mui-card-footer{
    font-size: 12px;
  }
}

.schedule-list.weeklist {
  background-color: #333;
  .mui-tab-item {
    color: $colorwhite;
    border-left: 1px solid #4c4c4c;
  }
  .mui-active {
    color: $colorgreen;
  }
}

//日期选择器
//[data-type=time] [data-id=title-d], [data-type=time] [data-id=picker-d] {
//  display: block !important;
//  float: left;
//}
//[data-type=time] .mui-dtpicker-title h5, [data-type=time] .mui-picker {
//  width: 33.3% !important;
//}

//index
.echart {
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: $colorwhite;
  .chart {
    height: 200px;
    margin: 0px;
    padding: 0px;
  }
  p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding-bottom: 10px;
  }
}

.nav-list {
  .nav-list-frame {
    border: 0;
    background-color: $colorwhite;
    .navli {
      width: 20%;
      padding: 10px 0;
      border: 0;
      span {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        display: block;
      }
      .icon{
        font-size:40px;
      }
      .mui-media-body {
        font-size: 12px !important;
        margin-top:0px;
      }
    }
    .mui-table-view-cell.mui-active {
      background: 0;
    }
    .num {
      font-size: 19px !important;
    }
    a {
      padding: 0 !important;
      span {
        font-size: 13px;
      }
      .mui-media-body {
        font-size: 24px !important;
        height: 24px !important;
        line-height: 24px !important;
      }
    }

  }
}

.show-list {
  margin-top: 8px;
  .page-header{
    background-color: #FFF;
  }
  .show-list-cont {
    padding: 10px 10px 30px 0px;
    .typename {
      margin-bottom: 5px;
      text-align: left;
      font-size: 14px !important;
    }
    .frame {
      font-size: 12px;
      .typename-num {
        float: left;
        color: $colorgray1;
      }
      .typename-money {
        float: right;
        color: $colororange;
      }
    }
  }
}

//search page
.search {
  background-color: #FFF;
  .mui-segmented-control {
    border: 0;
    height: 45px;
    padding: 10px;
    margin-bottom: 4px;
    .mui-control-item {
      border-color: transparent;
      border-left: 0;
      color: #666;
      width: 22%;
      height: 30px;
      display: block;
      float: left;
      line-height: 30px;
      margin: 0 5px;
      font-size: 14px;
      border-radius: 4px;
    }
    .mui-active {
      background-color: $colororange;
      color: $colorwhite;
    }
  }
  .hot-search {
    padding: 10px 0 20px;
    overflow: hidden;
    border-top:4px solid #efeff4;
    h4 {
      font-weight: normal;
      color: #737373;
      font-size: 16px;
      padding: 15px 25px;
      text-align: left;
    }
    .hot-search-frame {
      margin:0px;
      padding:0px;
      font-size: 14px;
      color: #666;
      li {
        display: inline-block;;
        width: 32%;
        padding:10px 5px;
        span {
          display: block;
          padding: 10px 15px;
          border: 1px solid #DDD;
          border-radius:5px;
        }
      }
    }
  }
  .search-list {
    .search-listli {
      font-size: 14px;
      color: $colorgray;
    }
  }
}

//register
.register {
  .registf {
    background-color: $colorwhite;
    font-size: 14px;
    padding:10px;
    text-align: center;
  }
  .pass {
    text-align: center;
    padding-top: 15px;
    a {
      color: $colorgray;
    }
  }
  .logo {
    width: 50px !important;
    height: 35px;
    border: 1px dashed #ddd;
  }
}

//login
.login-frame {
  background-color: $colorwhite;
  text-align: center;
  .logo {
    margin:35% 0%;
  }
  .logo1 {
    margin:25% 0%;
  }
  .logo2 {
    margin:10% 0%;
  }
  .tjlogin {
    margin-bottom: 30px;
    font-size: 16px;
  }
  .other-login {
    font-size: 16px;
    padding: 30px 0;
  }
  .line {
    height: 1px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    background-color: $colorgray1;
    display: inline-block;
  }

  .login {
    margin-bottom: 25px;
    h3 {
      margin-bottom: 30px;
      text-align: center;
      font-size: 20px;
      color: $colorgray;
    }
    .mui-input-row {
      //height: 45px;
      margin-left: 60px;
      margin-right: 60px;
      //margin-bottom: 15px;
      input::placeholder {
        font-size: 15px;
      }
      .password {
        width: 70%;
        float: left;
        border-right: 0;
        margin-bottom: 0;
      }
      .forgot-password {
        width: 33%;
        height: 40px;
        margin-left: -10px;
        border: 1px solid #d2d2d2;
        border-left: 0;
        border-radius: 3px;
        display: inline-block;
        a {
          vertical-align: middle;
          line-height: 40px;
          color: $colorgray;
          font-size: 14px;
        }
      }
      .regspan {
        height: 25px;
        line-height: 25px;
        padding-left:15px;
        font-size: 12px;
        float: left;
      }
    }
  }
}

//login-success
.success-frame2 {
  background-color: $colorwhite;
  padding-bottom: 70px;
  padding-top: 30px;
}

.success-frame {
  text-align: center;
  .logowz {
    padding: 40px 0px 10px;
  }
  .choise-identity {
    width: 80%;
    text-align: center;
    margin: 40px auto 30px;
    font-weight: bold;
    font-size: 16px;
    color: $colorgray;
  }
  .choise {
    padding-top: 10px;
    margin: 0 45px;
    button {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      font-size: 18px;
    }
    .enter-platform {
      margin-left: 10px;
      color: #f00;
      font-size: 15px;
    }
  }
  .opsuccess {
    padding-left: 35px;
    padding-right: 40px;
    .text {
      padding-top: 20px;
      font-size: 20px;
    }
  }
}

//student-list
.student-list {
  margin-bottom: 70px;
  .fontid {
    padding-left: 5px;
    font-size: 12px;
    color: $colorgray;
  }
  .mui-segmented-control {
    .mui-control-item {
      width: auto;
    }
  }
  .drow-stselect.mui-active {
    border-bottom: 0 !important;
  }
  .stselect {
    margin-bottom: 0 !important;
    width: auto;
    padding-bottom: 13px;
    padding-right: 0px;
    padding-left: 0;
    direction: rtl;
  }
}

//camp-list
.camp-list {
  .cover {
    width: 100%;
  }
  .camp-num {
    ul {
      padding: 0;
    }
    font-size: 12px;
    color: $colorgray;
  }
}

.camp-lesson-list {
  .mui-media-body {
    .state {
      margin-left: 10px;
      font-size: 12px;
    }
  }
  .listli {
    > .width {
      width: 50%;
    }
    .editor-btn {
      margin-top: 10px;
      margin-right: 20px;
      color: $colorgray;
    }
  }
}

.program {
  .program-view2, .program-view3, .program-view4, .program-view5, .program-view6 {
    padding: 15px;
  }
  .program-view2 {
    overflow: hidden;
    background: #fff;
    font-size: 14px;
    color: #737373;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
  .program-view4 {
    dl {
      font-size: 14px;
      dt {
        font-weight: bold;
      }
      dd {
        margin: 0;
        color: #737373;
        padding: 2px 0;
      }
    }
  }
  .program-view5 {
    .image-items {
      padding: 0;
    }
  }
  .program-view6 {
    input {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

//grade-list
.grade-list {
  .nump {
    padding-top: 22px;
    padding-right: 16px;
  }
  .mui-icon-info {
    font-size: 14px;
    padding-left: 5px;
  }
}

//message-list //camp-lesson-list
.message-list, .camp-lesson-list {
  .mui-segmented-control {
    border: 0;
    border-radius: 0;
    background-color: $colorwhite;
    border-bottom: 1px solid #d2d2d2;
    .mui-control-item {
      color: #000;
      border-left: 1px solid #ccc;
      font-size: 13px;
      line-height:35px;
    }
    .mui-control-item.mui-active {
      border-bottom: 5px solid #dd524d;
      border-left: 1px solid #ccc;
      color: #000 !important;
      background-color: $colorwhite;
      font-weight: bold;
    }
    i {
      font-size: 1.2em;
    }
  }
  .seg-control {
    width: 50%;
    display: inline-table;
    .mui-control-item {
      border: 1px solid #000;
      line-height: 24px;
    }
    .mui-control-item.mui-active {
      background: #000 !important;
      color: #fff !important;
      border: 1px solid #000 !important;
    }
  }
  .item-list {
    .listli {
      color: $colorgray;
    }
    .notice-icon {
      float: left;
      padding-top: 15px;
    }
    .list-cont1 {
      width: 100%;
      padding-left: 0;
      text-align: left;
      h4 {
        font-size: 14px;
        font-weight: normal;
      }
    }
    .list-cont {
      width: 65%;
      padding-left: 15px;
      float: left;
      h4 {
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: normal;
        color: #3c3c3c;
      }
      p {
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .date {
      padding-right: 20px;
      padding-top: 15px;
      float: right;
      font-size: 12px;
      color: $colorgray;
    }
    .money {
      width: 25%;
      padding-right: 0;
      font-size: 18px;
    }
  }
}

.court-list {
  margin-top: 47px;
  background-color: $colorwhite;
  .test {
    margin: 0;
    padding: 20px;
    background-color: $colorwhite;
    text-align: center;
  }
  .checkbox {
    margin-right: 3px;
    margin-bottom: 2px;
    vertical-align: middle;
  }
}

//coach / member
.member-setup{
  position: absolute;
  top:12px;
  right: 12px;
  .icon{
    font-size: 24px;
    color:#FFF;
  }
}
.coach {
  .coachicon {
    border-radius: 50%;
    width: 55px;
  }
  .nothing {
    background-color: $colorwhite;
    padding: 50px;
  }
  .table {
    padding-left: 0;
    font-size: 13px;
    i {
      font-size: 1.2em;
    }
  }
  .coach-info {
    padding: 30px 0;
    background: #666 url('../images/membercenter-bg.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    .mui-grid-9 {
      border: 0;
      background: transparent !important;
    }
    .mui-table-view-cell, .mui-media-body {
      border: 0 !important;
      color: $colorwhite !important;
    }
    .mui-active {
      background: transparent !important;
    }
    .num {
      height: 40px;
      line-height: 40px;
      display: inline-block;
      font-size: 2em;
    }
    .coachid {
      text-align: center;
      color: #fff;
    }

  }
  .dropdown {
    text-align: center;
    background: $colorwhite;
    margin: 0;
    border-top: 1px solid #DDD;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 12px;
    a {
      color: #999;
    }
  }
  .choise-module.mui-grid-9 {
    margin-top: 7px;
    margin-bottom: 70px;
    background-color: $colorwhite;
  }
  .choise-module2.mui-grid-9 {
    background-color: $colorwhite;
  }
}

//operation module
.operation {
  overflow: hidden;
  padding: 0;
  border-top: 1px solid #d2d2d2;
  position: fixed;
  bottom:0;
  width:100%;
  .opli {
    float: left;
    height: 45px;
    text-align:center;
    font-size: 14px;
    span {
      font-size: 22px;
    }
    &:nth-child(2) {
      border-left:1px solid #ddd;
    }
    &:nth-child(3) {
      border-left:1px solid #ddd;
    }
    &:after {
      left: 0;
      background: none;
    }
  }

}

.mine {
  .wallet-show {
    padding: 20px 0;
    height: auto;
    text-align: center;
    background-color: $colororange;
    p {
      color: $colorwhite;
      &:nth-child(1), &:nth-child(2) {
        opacity: 0.5;
      }
      &:nth-child(3) {
        font-size: 22px;
      }
    }
  }
  .frame {
    padding-top: 100px;
    .btn {
      margin-bottom: 10px;
      padding: 6px 20px;
    }
    p {
      a {
        color: $colorgray;
      }

    }
  }
  .frame1 {
    padding-top: 20px;
    padding-bottom: 10px;
    p {
      margin-bottom: 0;
    }
  }
  .integral-show {
    height: auto;
    text-align: center;
    background-color: $colorblue;
    padding: 45px 0 20px 0;
    p {
      font-size: 28px;
      opacity: 1;
      color: #fff;
    }
  }
  .explain {
    .explain-title {
      border-bottom: 0;
      span {
        font-size: 16px;
      }
    }
    .explain-cont {
      background-color: $colorwhite;
      padding: 10px 15px 15px 35px;
    }
  }
  .yqewm {
    padding: 100px 0;
    text-align: center;
  }
  .list-cont {
    padding-left: 0 !important;
  }
  .prompt {
    padding: 15px;
    margin-bottom: 0;
    text-align: center;
    a {
      color: $colororange;
      text-decoration: underline;
    }
  }
}

#delete {
  margin-bottom: 70px;
  textarea {
    height: 110px;
    margin-bottom: 0;
    color: $colorgray;
    font-size: 14px;
  }
  p {
    margin: 0;
    padding: 6px 15px;
  }
}

//日历课程表
#calendar {
  background-color: $colorwhite;
  .tips {
    padding: 25px 15px;
    text-align: center;
  }
  .fc-header {
    height: 44px;
    .fc-header-center {
      padding-top: 16px;
    }
    .fc-corner-left {
      margin: 11px 0;
      margin-left: 10px;
    }
    .fc-corner-right {
      position: absolute;
      right: 13px;
      margin: 11px 0;
    }
  }

  .fc-widget-header {
    background: #313131;
    color: #fff;
    padding: 6px !important;
  }
  .fc-day-number {
    float: left;
    color: $colorgray;
  }
  .fc-event {
    border: 0;
    background-color: transparent;
    color: $colororange;
    text-shadow: none;
  }
}

.actionsheet {
  margin-bottom: 0 !important;
  h5 {
    padding: 15px;
    margin: 0;
    a {
      float: right;
      line-height: 15px;
    }
  }
  .operation {
    margin: 0 !important;
    .opli {
      color: $colorwhite;
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      background-color: $colorblue;
    }
  }
}

//coach  gerendangan ---
.public-list {
  .public-listli {
    font-size: 14px;
    &:last-child {
      line-height: 45px;
    }
    .documents {
      height: 45px;
      margin-right: 10px;
      border: 1px dashed #ccc;
      color: $colorgray;
    }
  }
}
