{extend name="layout/common"/} 
<link rel="stylesheet" href="/static/plugins/iCheck/all.css">
{block name="css"}
<style>
    .img-md {
        float: none;
    }

    label {
        line-height: 34px;
        margin-bottom: 0;
    }
</style>
{/block} {block name="page-content"}
<div class="box no-border">
    <form role="form" action="" method="post" enctype="multipart/form-data">
        {:token()}
        <div class="box-body">
            <input type="hidden" name="memberData" value="">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">班级名称</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        {$gradeInfo.grade}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">课程名称</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        {$gradeInfo.lesson}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">训练时间</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <input type="text" class="form-control" placeholder="请输入训练时间" name="lesson_time" id="datetimepicker">
                        //2018-9-14 17:33:13 跟前端一样
                    </div>
                </div>
            </div>
            <style>
                /* 区域选择器页面样式调整 */
                .city-picker-span {
                    border: 1px solid #ddd;
                    padding-left: 15px;
                }
            </style>
            <div id="distpicker">
                <div class="form-group" style="position: relative;">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 text-right">
                            <label for="">所属地区</label>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <input type="text" id="city-picker3" class="form-control" placeholder="请选择所属地区" name="address" data-toggle="city-picker">
                        </div>
                    </div>
                    <input type="hidden" name="province" value="{$gradeInfo.province}">
                    <input type="hidden" name="city" value="{$gradeInfo.city}">
                    <input type="hidden" name="area" value="{$gradeInfo.area}">
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">训练地点</label>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <input type="hidden" class="form-control" name="court" value="{$gradeInfo.court}">
                        <input type="text" class="form-control" placeholder="请选择训练地点" value="{$gradeInfo.court}" disabled="disabled">
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <select name="court_id">
                            <option value="0">自选地址</option>
                            {volist name="courtList" id="v"}
                            <option value="{$v.id}">{$v.court}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button  class="btn btn-success">更换默认场地</button>    
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">具体地址</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <input type="text" class="form-control" placeholder="请输入具体地址" name="location" value="{$gradeInfo.location}">
                    </div>
                </div>
            </div>
           
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">请选择主教练</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                       <select name="coach_id">
                            {volist name="coachList" id="v"}
                            <option value="{$v.id}" {if $gradeInfo.coach_id == $v.id} selected="selected" {/if} >{$v.coach}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">请选择助理教练</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                       
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">请选择领队</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <select name="leader_id">
                            {volist name="fansList" id="v"}
                            <option value="{$v.id}" {if $gradeInfo.leader_id == $v.member_id} selected="selected" {/if} >{$v.member}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">请选择班主任</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <select name="leader_id">
                            {volist name="fansList" id="v"}
                            <option value="{$v.id}" {if $gradeInfo.teacher_id == $v.member_id} selected="selected" {/if} >{$v.member}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">上课照片</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="box-header">
                            <div class="col-sm-12 col-md-12">
                                <a class="btn-banner" href="#" title="点击替换图片">
                                    <img class="img-thumbnail" id="uploader-preview1" src="">
                                    <div class="row">
                                        <div id="filePicker1">选择上传</div>
                                    </div>
                                    <input id="uploader-input1" type="hidden" name="cover" value="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="form-group">
                <div class="row box-body">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">选择上课学生</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="memberInput-row">
                                <label class="">
                                    <div class="icheckbox_flat-green" aria-checked="false" aria-disabled="false" style="position: relative;">
                                        <input type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;">
                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            
                                        </ins>
                                    </div>
                                </label>
                                <label class="">
                                    <div class="icheckbox_flat-green checked" aria-checked="true" aria-disabled="false" style="position: relative;">
                                        <input type="checkbox" class="flat-red" style="position: absolute; opacity: 0;">
                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"> 
                                        </ins>
                                    </div>
                                </label>
                                <label>
                                  <div class="icheckbox_flat-green disabled" aria-checked="false" aria-disabled="true" style="position: relative;"><input type="checkbox" class="flat-red" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                  Flat green skin checkbox
                                </label>
                            <div style="margin-bottom:10px;">
                                <button type="button" class="btn btn-default choiseAll">全选</button>
                                <button type="button" class="btn btn-default choiseCancel">取消</button>
                                <button type="button" class="btn btn-danger choiseDelete">删除</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                        <label for="">备注</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <input type="text" class="form-control" placeholder="请输入备注信息" name="remarks">
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-right">
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <button type="submit" class="btn btn-success">提 交</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>





{/block} {block name='js'}

<script src="/static/backend/plugins/webuploader/webuploader.min.js"></script>
<script>
    var serverUrl = "{:url('Upload/uploadImg',['dir'=>'schedule'])}";
</script>
<script src="/static/backend/adminlte/js/upload/banner.js"></script>
<!-- <script type="text/javascript" charset="utf-8" src="/static/UEditor/ueditor.config.js"></script> -->
<!-- <script type="text/javascript" charset="utf-8" src="/static/UEditor/ueditor.all.js"></script> -->
<script type="text/javascript" src="/static/backend/adminlte/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/backend/adminlte/js/city-picker.data.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/backend/adminlte/js/city-picker.js" charset="UTF-8"></script>
<link rel="stylesheet" href="/static/backend/adminlte/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/backend/adminlte/css/city-picker.css">
<script src="/static/backend/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">

    $(function () {

        // boostrap时间选择器
        $('#datetimepicker').datetimepicker({
            format: 'hh:ii',
            startView: 1,
            autoclose: true,
        });

        // 获取省市区
        $(document).on("click", ".province a", function () {
            $("input[name=province]").val($(this).text());
        })
        $(document).on("click", ".city a", function () {
            $("input[name=city]").val($(this).text());
        })
        $(document).on("click", ".district a", function () {
            $("input[name=area]").val($(this).text());
        })






        

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass   : 'iradio_minimal-blue'
        })
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
        checkboxClass: 'icheckbox_minimal-red',
        radioClass   : 'iradio_minimal-red'
        })
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass   : 'iradio_flat-green'
        })

        

})
</script> 
{/block}