<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>课程订单支付-</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body class=whitebg>

<header id="header" class="mui-bar mui-bar-nav subheader">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
    <h1 class="mui-title">订单详情</h1>
</header>
<div class="mui-content">

    <!--课程订单支付-->
    <div class="mui-content">
        <div class="list">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media listli mb">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="/static/frontend/images/shuijiao.jpg">
                        <div class="mui-media-body wd45">
                            {$lessonInfo.lesson}
                            <p class="mui-ellipsis">{$lessonInfo.gradecate}</p>
                        </div>
                        <div class="price-frame singup-num">
                            {$lessonInfo.students}人已报名
                        </div>
                    </a>
                </li>
            </ul>

            <ul class="mui-table-view">
                <li class="mui-table-view-cell listli">
                    <a class="mui-navigate-right">
                        所属训练营<span class="wd66">{$lessonInfo.camp}</span>
                    </a>
                </li>
                <li class="mui-table-view-cell listli">课程单价<span><b class="colororange">￥{$billInfo.price}</b>（元）</span></li>
                <li class="mui-table-view-cell listli">所选课量<span><b class="colororange" id="total">{$billInfo.total}</b>（节）</span></li>
                <li class="mui-table-view-cell listli">训练时间<span>{$lessonInfo.week}.{$lessonInfo.lesson_time}</span></li>
                <li class="mui-table-view-cell listli">训练地点<span>{$lessonInfo.location}</span></li>
                <li class="mui-table-view-cell listli">所属地区<span>{$lessonInfo.province}{$lessonInfo.city}{$lessonInfo.area}</span></li>
                <li class="mui-table-view-cell listli"><span>课程总价<b class="colororange">￥{$billInfo.balance_pay}</b></span></li>
                <li class="mui-table-view-cell listli"><span>课程所需积分<b class="colororange">{$billInfo.score_pay}</b></span></li>
            </ul>

            <ul class="mui-table-view operation">
                <li class="mui-table-view-cell mui-media mui-col-xs-8 opli">个人剩余积分:{$memberInfo['score']}<b class="colororange">￥{$billInfo.balance_pay}</b></li>
                {switch name="billInfo.is_pay"}
                {case value="已付款"}
                <li class="mui-table-view-cell mui-media mui-col-xs-4 opli bggreen"><a href="{:url('Bill/finishBill',['bill_no'=>$billInfo['id']])}">已付款</a></li>
                {/case}
                {case value="未付款"}
                <li class="mui-table-view-cell mui-media mui-col-xs-4 opli bggreen"><a href="{:url('Bill/finishBill',['bill_no'=>$billInfo['id']])}">立即支付</a></li>
                {/case}
                {case value="申请退款"}
                <li class="mui-table-view-cell mui-media mui-col-xs-4 opli bggreen"><a href="{:url('Bill/finishBill',['bill_no'=>$billInfo['id']])}">取消申请</a></li>
                {/case}
                {case value="已退款"}
                <li class="mui-table-view-cell mui-media mui-col-xs-4 opli bggreen"><a href="{:url('Bill/finishBill',['bill_no'=>$billInfo['id']])}">已退款</a></li>
                {/case}
                {/switch}
            </ul>

        </div>
    </div>

</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    var total = sessionStorage.getItem('total');

    var memberInfo = "";
    console.log(memberInfo);
</script>
</html>