{extend name="layout/common"/}

{block name="page-content"}
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead">
            <em>课时详情</em>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <p>上课成员</p>
                <ul class="list-group">
                    {foreach $students as $vo}
                    <li class="list-group-item">{$vo}</li>
                    {/foreach}
                </ul>
            </div>
            <div class="col-md-9 col-sm-12">
                <form class="form-horizontal coach-form" method="post" action="#">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-sm-2 control-label">班级名称</div>
                            <div class="col-sm-5">
                                {$data.grade}
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">班级类型</div>
                            <div class="col-sm-5">
                                {$data.grade_category}
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">上课时间</div>
                            <div class="col-sm-5">
                                {$data.lesson_time}
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">所属训练营</div>
                            <div class="col-sm-5">
                                {$data.camp}
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">课程名称</div>
                            <div class="col-sm-5">
                                {$data.lesson}
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">班主任</div>
                            <div class="col-sm-5">
                                {$data.teacher}
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">教练员</div>
                            <div class="col-sm-5">
                                {$data.coach}
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">助教</div>
                            <div class="col-sm-5">
                                {$data.assistant}
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">上课场地</div>
                            <div class="col-sm-5">
                                {$data.court}
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">平台备注</div>
                            <div class="col-sm-5">
                                {$data.remarks}
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">状态</div>
                            <div class="col-sm-5">
                                {$data.status}
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}