<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>“龙翔杯”篮球联赛 简报</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!--标准mui.css-->
  <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
  <!--自定义style.css-->
  <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
  <style>


    form,
    ul,
    ol,
    dl,
    dt,
    dd {
      margin: 0;
      padding: 0;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      border-right: 1px solid #111;
      border-top: 1px solid #111;
    }

    table td,
    table th {
      padding: 10px 15px;
      text-align: center;
      border-left: 1px solid #111;
      border-bottom: 1px solid #111;
    }

    table th {
      background-color: #333;
      color: #FFF;
    }

    table strong {
      color: #C00;
    }

    .gData {
      /* margin: 50px auto; */
      /* width: 740px; */
      background-color: #FFF;
      border: 2px solid #111;
      /* position: relative; */
    }

    .gData p {
      margin: 0px;
      padding: 20px 30px;
      border: 1px solid #666;
    }

    #gameScoreBoard tr:first-child td,
    #gameScoreBoard tr td:first-child {
      font-weight: bold;
      background-color: #F1F1F1;
    }

    #gameScoreBoard td,
    #gameScoreBoard th {
      font-size: 0.6em;
      padding: 10px 2px;
      width: 60px;
    }

    #gameScoreBoard table span {
      display: block;
    }
  </style>

</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
    <h1 class="mui-title">积分对阵表</h1>
  </header>

  <div class="mui-content">
    <div id="gameScoreBoard">
      <div class="gData">
        <div class="page-header border-b">
          <span class="course">
            <strong>A 组</strong> - 对阵积分表
          </span>
          <span class="more">小组循环赛</span>
        </div>
        <table width="100%">
          <tbody>
            <tr>
              <th>A 组</th>
              <td>机关联队</td>
              <td>平湖所</td>
              <td>机训大队</td>
              <td>平南所</td>
              <td>六约所</td>
              <td>盛平所</td>
              <td>荷坳所</td>
              <td>南岭所</td>
              <td>得失分率</td>
              <td>积分</td>
              <td>名次</td>
            </tr>
            <tr>
              <td>机关联队</td>
              <td class="current">-</td>
              <td>36 : 22</td>
              <td>42 : 34</td>
              <td class="">20 : 0</td>
              <td class="">40 : 20</td>
              <td>18 : 27</td>
              <td class="">41 : 32</td>
              <td>20 : 0</td>
              <td></td>
              <td class="jf">13</td>
              <td class=""></td>
            </tr>
            <tr>
              <td>平湖所</td>
              <td class="">22 : 36</td>
              <td class="current">-</td>
              <td>20 : 26</td>
              <td>26 : 18</td>
              <td>17 : 27</td>
              <td class="" style="color:red">27 : 26</td>
              <td class="">14 : 32</td>
              <td>20 : 0</td>
              <td></td>
              <td class="jf">10</td>
              <td class=""></td>
            </tr>
            <tr>
              <td>机训大队</td>
              <td>34 : 42</td>
              <td>26 : 20</td>
              <td class="current">-</td>
              <td class="">20 : 19</td>
              <td>23 : 28</td>
              <td>40 : 23</td>
              <td>29 : 46</td>
              <td>20 : 0</td>
              <td></td>
              <td class="jf">11</td>
              <td class=""></td>
            </tr>
            <tr>
              <td>平南所</td>
              <td>0 : 20</td>
              <td>18 : 26</td>
              <td>19 : 20</td>
              <td class="current">-</td>
              <td>0 : 20</td>
              <td>0 : 20</td>
              <td>0 : 20</td>
              <td>0 : 20</td>
              <td></td>
              <td class="jf">2</td>
              <td class=""></td>
            </tr>
            <tr>
              <td>六约所</td>
              <td>20 : 40</td>
              <td>27 : 17</td>
              <td>28 : 23</td>
              <td class="">20 : 0</td>
              <td class="current">-</td>
              <td>31 : 21</td>
              <td class="">21 : 23</td>
              <td>33 : 24</td>
              <td></td>
              <td class="jf">12</td>
              <td class=""></td>
            </tr>
            <tr>
              <td>盛平所</td>
              <td>27 : 18</td>
              <td style="color:red">26 : 27</td>
              <td>23 : 40</td>
              <td>20 : 0</td>
              <td>21 : 31</td>
              <td class="current">-</td>
              <td>38 : 16</td>
              <td class="">27 : 40</td>
              <td></td>
              <td class="jf">10</td>
              <td class=""></td>
            </tr>
            <tr>
              <td>荷坳所</td>
              <td>32 : 41</td>
              <td>32 : 14</td>
              <td>46 : 29</td>
              <td>20 : 0</td>
              <td>23 : 21</td>
              <td>16 : 38</td>
              <td class="current">-</td>
              <td>59 : 41</td>
              <td></td>
              <td class="jf">12</td>
              <td class=""></td>
            </tr>
            <tr>
              <td>南岭所</td>
              <td>0 : 20</td>
              <td>0 : 20</td>
              <td>0 : 20</td>
              <td>20 : 0</td>
              <td>24 : 33</td>
              <td>40 : 27</td>
              <td>41 : 59</td>
              <td class="current">-</td>
              <td></td>
              <td class="jf">6</td>
              <td class=""></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mui-text-center">
      <button id="gogo" style="margin:30px;">计算排名</button>
    </div>

  </div>
  <script src="/static/frontend/js/mui.min.js"></script>
  <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
  <script>

    $(".gData").each(function () {
      PaiMing($(this).find(".jf"))
    });

    //小组赛对战表排名
    function PaiMing($sTable) {
      //根据积分计算排名（含并列排名）
      var sArr = [];
      $sTable.each(function () {
        if ($.isNumeric($(this).text()))
          sArr.push($(this).text());
      });
      sArr.sort(function (a, b) { return parseFloat(a) - parseFloat(b); }).reverse();
      $sTable.each(function () {
        for (var j = 0; j < sArr.length; j++) {
          if ($.isNumeric($(this).text()) && $(this).text() == sArr[j].toString()) {
            $(this).next().text(j + 1);
            break;
          }
        }
      });
      console.log(sArr)
      //判断两队并列排名并根据“胜负关系”再次排名 
      $sTable.next().each(function () {
        var $getPM = $(this).text();
        if ($sTable.next().filter(function (index) { return $(this).text() == $getPM }).length == 2) {
          var t1x = $(this).parent().index();
          var t2x = $sTable.next().filter(function (index) { return $(this).text() == $getPM && $(this).parent().index() != t1x }).parent().index();
          var $tb = $sTable.parent().parent();
          var getGS = $tb.find("tr:eq(" + t1x + ") td:eq(" + t2x + ")").text().split(":");
          if (getGS.length > 1) {
            if (Number(getGS[0]) > Number(getGS[1])) {
              $tb.find("tr:eq(" + t2x + ") .jf").next().text(Number($(this).text()) + 1);
            } else {
              $tb.find("tr:eq(" + t1x + ") .jf").next().text(Number($(this).text()) + 1);
            }
          }
        }
      });
      //判断三队或以上并列排名并根据“得失分率”再次排名 
      $sTable.next().each(function () {
        var $getPM = $(this).text();
        if ($sTable.next().filter(function (index) { return $(this).text() == $getPM }).length > 2) {
          var t1x = $(this).parent().index();
          var $tb = $sTable.parent().parent();
          var df = 0;
          var sf = 0;
          $sTable.next().filter(function (index) { return $(this).text() == $getPM && $(this).parent().index() != t1x }).each(function () {
            var t2x = $(this).parent().index();
            var getGS = $tb.find("tr:eq(" + t1x + ") td:eq(" + t2x + ")").text().split(":");
            if (getGS.length > 1) {
              df = df + Number(getGS[0]);
              sf = sf + Number(getGS[1]);
            }
          });
          $tb.find("tr:eq(" + t1x + ") .jf").prev().text(df - sf);
        }
      });
      //计算得失分后再排名
      $sTable.next().each(function () {
        var $getPM = $(this).text();
        if ($sTable.next().filter(function (index) { return $(this).text() == $getPM }).length > 2) {
          var $repeatPM = $sTable.next().filter(function (index) { return $(this).text() == $getPM });
          var sArr = [];
          $repeatPM.each(function () {
            if ($.isNumeric($(this).prev().prev().text()))
              sArr.push($(this).prev().prev().text());
          });
          sArr.sort(function (a, b) { return parseFloat(a) - parseFloat(b); }).reverse();
          $repeatPM.each(function () {
            for (var j = 0; j < sArr.length; j++) {
              if ($.isNumeric($(this).prev().prev().text()) && $(this).prev().prev().text() == sArr[j].toString()) {
                $(this).text(j + Number($getPM));
                break;
              }
            }
          });

        }
      });
    }

  </script>
</body>

</html>