<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>联赛战绩</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--自定义多色图标icon.js-->
    <script src="/static/frontend/iconfont/iconfont.js"></script>
    <style>
        .page-header .more {}

        .nav-list .nav-list-frame .navli {
            width: 25%;
        }


        .leagueLine {
            line-height: 32px !important;
            color: #dd524d !important;
        }

        .leagueTypeSet {
            color: #737373;
            font-size: 14px;
        }

        .leaguePadding {
            padding: 11px 15px !important;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>

<body class="whitebg">

    <header class="mui-bar mui-bar-transparent">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
    </header>

    <div class="mui-content">

        <div class="list mt55 coach">

            <div class="img4x3" style="background-image:url('{$leagueInfo.cover}')"></div>

            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell mui-media listli">
                    <h4>{$leagueInfo.name}</h4>
                    <div class="mui-media-body wd73" style="line-height:20px !important">
                        <p class="mui-ellipsis">主办单位：{$leagueInfo.match_org.name}</p>
                        <p>{$leagueInfo.city} {$leagueInfo.area}</p>
                        <p>参赛队：
                            <strong class="colororange">{$leagueInfo.teams_count}</strong>支 | 粉丝：
                            <strong class="colororange">{$leagueInfo.fans_num}</strong>
                        </p>
                    </div>
                    <div class="price-frame" style="padding-top:17px">
                        <button type="button" class="mui-btn mui-btn-danger follow" style="padding: 8px 9px;">关注</button>
                    </div>
                </li>
            </ul>

            <nav class="mui-bar-tab leagueNav">
                <a class="mui-tab-item" href="{:url('match/leagueregulation', ['league_id' => $leagueInfo.id])}">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">章程</span>
                </a>
                <a class="mui-tab-item" href="{:url('match/leagueSchedule', ['league_id' => $leagueInfo.id])}">
                    <span class="mui-icon mui-icon-email"></span>
                    <span class="mui-tab-label">赛程</span>
                </a>
                <a class="mui-tab-item mui-active" href="{:url('match/leagueRecord', ['league_id' => $leagueInfo.id])}">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">战绩</span>
                </a>
                <a class="mui-tab-item" href="{:url('match/leagueData', ['league_id' => $leagueInfo.id])}">
                    <span class="mui-icon mui-icon-gear"></span>
                    <span class="mui-tab-label">数据</span>
                </a>
            </nav>

            <div class="camp-lesson-list">
                <div id="segmentedControl" class="mui-segmented-control mb">
                    <a class="mui-control-item mui-active" href="#item1">小组赛|循环赛</a>
                    <a class="mui-control-item" href="#item2">决赛|淘汰赛</a>
                </div>
            </div>

            <div class="item-list">
                <!-- 小组赛 | 循环赛 -->
                <div id="item1" class="mui-control-content mui-active">
                    <ul class="mui-table-view mui-text-center leagueTypeSet groupsList"></ul>
                </div>

                <!-- 决赛 | 淘汰赛 -->
                <div id="item2" class="mui-control-content">
                    <div class="rankList"></div>
                </div>

            </div>

            <!--底部操作-->
            <ul class="mui-table-view operation mt">
                <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                    <a href="/keeper/">
                        <span class="mui-icon icon iconfont icon-nav-Home"></span>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3 opli">
                    <a href="">咨询</a>
                </li>
                <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3 opli">分享 </li>
                <li class="mui-table-view-cell mui-col-sm-4 mui-col-xs-4 opli bgred">
                    <a href="{:url('match/leagueInfo',['league_id'=>$league_id])}">主页</a>
                </li>
            </ul>

        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script>
        mui.init({
            swipeBack: false
        });
        // a标签跳转
        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        followStatus(); //判断当前的关注状态
        rankList(); //淘汰赛列表
        groupList();//小组循环赛列表

        // 关注联赛
        $(".follow").on("tap", '', function () {
            var league_id = "{$league_id}";
            mui.ajax("{:url('api/follow/focus')}", {
                data: {
                    type: 5,
                    league_id: league_id
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    //服务器返回响应，根据响应结果，分析是否登录成功；
                    console.log(data);
                    if (data.code == 200) {
                        mui.toast(data.msg);
                        followStatus();
                    } else {
                        mui.toast(data.msg);
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        });

        // 判断当前的关注状态
        function followStatus() {
            var league_id = "{$league_id}";
            mui.ajax("{:url('api/follow/getfollow')}", {
                data: {
                    type: 5,
                    team_id: league_id
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        if (data.data === 1) {
                            $(".follow").text("取消关注");
                        } else {
                            $(".follow").text("关注");
                        }
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        }

        function groupList() {
            //搜索关键字不能完全为空，否则查询为空
            var url = "{:url('api/league/getmatchranklist')}";
            var league_id = "{$league_id}"
            mui.ajax({
                url: url,
                data: {
                    league_id: league_id,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            // if (data.data[i].stage_name == '小组循环赛') {
                            newli += `
                                    <li class="mui-table-view-cell bggray2">
                                        <ul class="mui-table-view mui-row">
                                            <li class="mui-col-sm-6 mui-col-xs-6">${data.data[i].group_name}排名</li>
                                            <li class="mui-col-sm-2 mui-col-xs-2">胜</li>
                                            <li class="mui-col-sm-2 mui-col-xs-2">负</li>
                                            <li class="mui-col-sm-2 mui-col-xs-2">积分</li>
                                        </ul>
                                    </li>`
                            for (var j = 0; j <= data.data[i].teams.length - 1; j++) {
                                newli += `<li class="mui-table-view-cell">
                                            <ul class="mui-table-view mui-row">
                                                <li class="mui-col-sm-2 mui-col-xs-2 lineHeight32 siteNum">${j + 1}</li>
                                                <li class="mui-col-sm-4 mui-col-xs-4 leagueGroup">
                                                    <img src="${data.data[i].teams[j].team_logo}" class="circleIcon" />
                                                    <span style="padding-top: 6px;">${data.data[i].teams[j].team}</span>
                                                </li>
                                                <li class="mui-col-sm-2 mui-col-xs-2 leagueLine">${data.data[i].teams[j].win_count}</li>
                                                <li class="mui-col-sm-2 mui-col-xs-2 leagueLine">${data.data[i].teams[j].lose_count}</li>
                                                <li class="mui-col-sm-2 mui-col-xs-2 leagueLine">${data.data[i].teams[j].score}</li>
                                            </ul>
                                        </li>`
                            }
                            // }
                        }
                        $(".groupsList").empty().append(newli)
                    } else {
                        $(".groupsList").append('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>');
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        }

        function rankList() {
            var url = "{:url('api/league/matchrecordlistbystage','','',true)}";
            var league_id = "{$league_id}";
            mui.ajax({
                url: url,
                data: {
                    league_id: league_id
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli += `  
                                <div class="page-header border-b">
                                    <span class="course">第${i + 1}轮 ${data.data[i].stage.name}</span>
                                    <span class="more">A组 8强</span>
                                </div>
                                <table class="leagueTable">
                                    <tbody>`
                            for (var j = 0; j <= data.data[i].stage.records.length - 1; j++) {
                                var recordsArr = data.data[i].stage.records[j]
                                newli += `
                                <tr>
                                    <td class="borderC">
                                        <p class="leagueGroup pGroup border-b">
                                            <span class="siteNum codeNum">${j + 1}</span>
                                            <img src="${recordsArr.home_team_logo}" class="circleIcon" />
                                            <span class="spanText">${recordsArr.home_team}</span>
                                        </p>
                                        <p></p>
                                        <p class="leagueGroup pGroup">
                                            <span class="siteNum codeNum">2</span>
                                            <img src="${recordsArr.away_team_logo}" class="circleIcon" />
                                            <span class="spanText">${recordsArr.away_team}</span>
                                        </p>
                                    </td>
                                    <td>
                                        <p>${recordsArr.home_score} ：${recordsArr.away_score}</p>`
                                if (recordsArr.home_score > recordsArr.away_score) {
                                    newli += `
                                        <p class="leagueGroup">
                                            <img src="${recordsArr.home_team_logo}" class="circleIcon" />
                                            <span class="spanText colorred">${recordsArr.home_team}</span>
                                        </p> `
                                } else {
                                    newli += `
                                        <p class="leagueGroup">
                                            <img src="${recordsArr.away_team_logo}" class="circleIcon" />
                                            <span class="spanText colorred">${recordsArr.away_team}</span>
                                        </p>`
                                }

                                newli += `<p>（晋级）</p>
                                    </td></tr>
                                <tr class="pline"></tr>`
                            }
                            newli += `</tbody></table>`
                        }
                        $(".rankList").empty().append(newli);
                    } else {
                        $(".rankList").append('<li class="nodata whitebg"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>');
                    }

                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        }

    </script>

</body>

</html>