{extend name="layout/common"/}
{block name="css"}
<link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
{/block}
{block name="page-content"}


<div class="row">
	<div class="col-xs-12">
		<div class="box" style="margin: 0; box-shadow: none;">
			<div class="box-body">
				<div class="dataTables_wrapper form-inline dt-bootstrap">
					<div class="row hotTbHeader">
						<div class="col-sm-12">
							<div class="form-group">
								<!-- /.input group -->
								<label>统计时间：</label>
								<div class="input-group">
									<input type="text" name="dateYM" class="form-control pull-right" id="dateYM">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
							</div>
							<div class="form-group">
								<!-- /.input group -->
								<button type="button" class="btn btn-default" id="goSearch">确认查询</button>
							</div>
							<h3 class="totalRight">
								<span><small>本月总收益：</small><strong class="text-yellow monthIn"></strong></span>
							</h3>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
</div>

<div class="panel panel-default panel-intro">
	<div class="panel-heading">
		<h3 class="totalRight pull-right">
			<span><small>课时收益：</small><strong class="text-yellow sShouruTotal"></strong></span>
			<span><small>购买课量：</small><strong class="text-yellow sKeciTotal"></strong></span>
			<span><small>购课人次：</small><strong class="text-yellow sRenciTotal"></strong></span>
			<span><small>活动收益：</small><strong class="text-yellow eShouruTotal"></strong></span>
			<span><small>报名人次：</small><strong class="text-yellow eRenciTotal"></strong></span>
		</h3>
		<ul class="nav nav-tabs">
			<li class="active"><a href="#scheduleCount" data-toggle="tab">课时收益</a></li>
			<li><a href="#eventCount" data-toggle="tab">活动收益</a></li>
		</ul>
	</div>
	<div class="panel-body">

		<div class="tab-content">
			<!-- 系统统计 -->
			<div class="tab-pane fade active in" id="scheduleCount">
				<div class="col-md-12 col-sm-12">
					<!-- Info boxes -->
					<div class="row pab10">

						<table id="scheduleList" class="table table-bordered table-striped dataTable" role="grid"
							   aria-describedby="example1_info">
							<thead>
							<tr role="row">
								<th class="sorting_asc">训练营</th>
								<th>课程</th>
								<th>课量</th>
								<th>人次</th>
								<th>课时收入</th>
								<th>课时总价</th>
								<th>详情</th>
							</tr>
							</thead>
							<tbody>
							{volist name="list3" id="vol"}
							<tr role="row" class="odd">
								<td class="sorting_1">{$vol.camp}</td>
								<td>{$vol.lesson}</td>
								<td class="sKeci">{$vol.c_id}</td>
								<td class="sRenci">{$vol.s_students}</td>
								<td class="sShouru">{$vol.s_schedule_income}</td>
								<td class="sXuefei">{$vol.s_income}</td>
								<td><a href="#" class="btn btn-xs btn-info" data-lesson="{$vol.lesson}" data-lesson_id="{$vol.lesson_id}" linkTo="/management/Statistics_Camp/lessonSchedule/lesson_id/{$vol.lesson_id}/"><i class="fa fa-inbox"></i> 查看详情</a></td>
							</tr>
							{/volist}
							</tbody>
							<tfoot>
							<tr role="row">
								<td>合计</td>
								<td></td>
								<td class="sKeciTotal"></td>
								<td class="sRenciTotal"></td>
								<td class="sShouruTotal"></td>
								<td class="sXuefeiTotal"></td>
								<td>-</td>
							</tr>
							</tfoot>
						</table>

					</div>
					<!-- /.row -->
				</div>
			</div>


			<!-- 微信统计 -->
			<div class="tab-pane fade" id="eventCount">
				<div class="col-md-12 col-sm-12">
					<!-- Info boxes -->
					<div class="row pab10">

						<table id="eventList" class="table table-bordered table-striped dataTable" role="grid"
							   aria-describedby="example1_info">
							<thead>
							<tr role="row">
								<th class="sorting_asc">训练营</th>
								<th>活动名称</th>
								<th>活动单价</th>
								<th>报名人次</th>
								<th>活动收入</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>

							{volist name="list2" id="vol"}
							<tr role="row" class="odd">
								<td class="sorting_1">{$vol.camp}</td>
								<td>{$vol.goods}</td>
								<td>{$vol.price}</td>
								<td class="eRenci">{$vol.s_total}</td>
								<td class="eShouru">{$vol.s_income}</td>
								<td><a href="#" class="btn btn-xs btn-info" linkTo="/management/Statistics_Camp/campBillList/goods_type/2/"><i class="fa fa-inbox"></i> 查看详情</a></td>
							</tr>
							{/volist}
							</tbody>
							<tfoot>
							<tr role="row">
								<td>合计</td>
								<td></td>
								<td></td>
								<td class="eRenciTotal"></td>
								<td class="eShouruTotal"></td>
								<td>-</td>
							</tr>
							</tfoot>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>




{/block}


{block name='js'}

<script src="/static/backend/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/backend/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/static/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>

    var currDateYM = localStorage.getItem('currDateYM');

    $(function () {

        //=========================== 初始化数据 ==============================//

        //判断是否有年月的本地存储，没则获取当前月的上一个月
        if(currDateYM==''||currDateYM==null) {
            var currDate = new Date();
            var currYear = currDate.getFullYear();
            var currMonth = currDate.getMonth();
            if(currMonth==0){
                currDateYM = parseInt(currYear)-1+'-12';
            }else{
                currMonth = currMonth<10 ? "0"+currMonth:currMonth;
                currDateYM = currYear+'-'+ currMonth ;
            }
            localStorage.setItem('currDateYM',currDateYM);
        }

        //判断是否有指定训练营和教练员的本地存储
        $("input[name=dateYM]").val(currDateYM);


        //=========================== 初始化数据 ==============================//



        //遍历需要统计的数据列，并赋值到对应位置
        var sKeci=0;
        $(".sKeci").each(function () {
            sKeci = sKeci + parseInt($(this).text());
        });
        var sRenci=0;
        $(".sRenci").each(function () {
            sRenci = sRenci + parseInt($(this).text());
        });
        var sShouru=0;
        $(".sShouru").each(function () {
            sShouru = sShouru + parseFloat($(this).text());
        });
        var sXuefei=0;
        $(".sXuefei").each(function () {
            sXuefei = sXuefei + parseFloat($(this).text());
        });
        var eRenci=0;
        $(".eRenci").each(function () {
            eRenci = eRenci + parseInt($(this).text());
        });
        var eShouru=0;
        $(".eShouru").each(function () {
            eShouru = eShouru + parseFloat($(this).text());
        });

        $(".sKeciTotal").text(sKeci);
        $(".sRenciTotal").text(sRenci);
        $(".sShouruTotal").text(sShouru.toFixed(2));
        $(".sXuefeiTotal").text(sXuefei.toFixed(2));
        $(".eRenciTotal").text(eRenci);
        $(".eShouruTotal").text(eShouru.toFixed(2));
        var mIn = parseFloat(sXuefei)+parseFloat(eShouru);
        $(".monthIn").text(mIn.toFixed(2));




        $('#scheduleList,#eventList').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : true
        });

        //选择年月
        $('#dateYM').datepicker({
            language: 'zh-CN',
            autoclose: true,
            format: "yyyy-mm",
            minViewMode: 1,
            todayBtn: true
        });


        //查询统计
        $("#goSearch").on("click", function () {
            var getYM = $("input[name=dateYM]").val();
            if(getYM==""){
                alert("请选择年月份！");
                return false;
            }
            //设置本地存储
            localStorage.setItem('currDateYM',getYM);
            //拆分日期
            var arrYM = getYM.split('-');
            var getLastDate = new Date(arrYM[0],arrYM[1],0);
            var beginDate = arrYM[0]+arrYM[1]+'01';
            var endDate =  arrYM[0]+arrYM[1]+getLastDate.getDate();

            window.location.href="{:url('/management/Statistics_Camp/campIncome/')}"+"/monthstart/"+beginDate+"/monthend/"+endDate;
        })

        //点击链接到详情页面
        $("#scheduleList a.btn").on("click", function () {
            var getLink = $(this).attr("linkTo");
            var getLessonName = $(this).attr("data-lesson");
            var getLessonID = $(this).attr("data-lesson_id");
            localStorage.setItem('currLessonName',getLessonName);
            localStorage.setItem('currLessonID',getLessonID);
            localStorage.removeItem('currCoachName');
            localStorage.removeItem('currMemberID');
            var getYM = $("input[name=dateYM]").val();
            //拆分日期
            var arrYM = getYM.split('-');
            var getLastDate = new Date(arrYM[0],arrYM[1],0);
            var beginDate = arrYM[0]+arrYM[1]+'01';
            var endDate =  arrYM[0]+arrYM[1]+getLastDate.getDate();

            window.open(getLink+"/monthstart/"+beginDate+"/monthend/"+endDate);
        })

        //点击链接到详情页面
        $("#eventList a.btn").on("click", function () {
            var getLink = $(this).attr("linkTo");
            localStorage.setItem('currGoodTypeID',"2");
            var getYM = $("input[name=dateYM]").val();
            //拆分日期
            var arrYM = getYM.split('-');
            var getLastDate = new Date(arrYM[0],arrYM[1],0);
            var beginDate = arrYM[0]+arrYM[1]+'01';
            var endDate =  arrYM[0]+arrYM[1]+getLastDate.getDate();

            window.open(getLink+"/monthstart/"+beginDate+"/monthend/"+endDate);
        })


    })




</script>
{/block}