{extend name="layout/common"/}
{block name="css"}
<style>
</style>
{/block}
{block name="page-content"}




<!----------------------------------- 训练营（课时结算版）课时统计 ： 开始-------------------------------------------->

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!--<div class="box-header">-->
            <!--<h3 class="box-title">教练员收益统计</h3>-->
            <!--</div>-->
            <!-- /.box-header -->
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row hotTbHeader">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <!-- /.input group -->
                                <label>统计时间：</label>
                                <div class="input-group">
                                    <input type="text" name="dateYM" class="form-control pull-right" id="dateYM">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- /.input group -->
                                <button type="button" class="btn btn-default" id="goSearch">确认查询</button>
                            </div>
                            <h3 class="totalRight">
                                <span><small>合计购买：</small><strong class="text-yellow monthBill"></strong></span>
                                <span><small>合计赠送：</small><strong class="text-yellow monthGift"></strong></span>
                                <span><small>合计退费：</small><strong class="text-yellow monthRefund"></strong></span>
                                <span><small>合计已上课：</small><strong class="text-yellow monthSchedule"></strong></span>
                                <!--<span><small>总剩余课时（应该是未上的课时）：</small><strong class="text-yellow monthTX"></strong></span>-->
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="monthLesson" class="table table-bordered table-striped dataTable hotTable">
                                <thead>
                                <tr role="row">
                                    <th>课程</th>
                                    <th>单价</th>
                                    <th>购买课时</th>
                                    <th>赠送课时</th>
                                    <th>退费课时</th>
                                    <th>已上课时</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row">
                                    <td>
                                        <ul class="dataCol-1">
                                            {volist name='buyList' id='vol'}
                                            <li>{$key}</li>
                                            {/volist}
                                            <li>合计</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="dataCol-1">
                                            {volist name='buyList' id='vol'}
                                            <li>{$vol.price}</li>
                                            {/volist}
                                            <li>-</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="dataCol-1 colCount">
                                            {volist name='buyList' id='vol'}
                                            <li>{$vol.s_total}</li>
                                            {/volist}
                                            <li class="colTotal" id="bill">-</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="dataCol-1 colCount">
                                            {volist name='giftList' id='vol'}
                                            <li>{$vol.s_gift_schedule}</li>
                                            {/volist}
                                            <li class="colTotal" id="gift">-</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="dataCol-1 colCount">
                                            {volist name='refundScheduleList' id='vol'}
                                            <li>{$vol.s_totalRefund}</li>
                                            {/volist}
                                            <li class="colTotal" id="refund">-</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="dataCol-1 colCount">
                                            {volist name='totalScheduleList' id='vol'}
                                            <li>{$vol.s_students}</li>
                                            {/volist}
                                            <li class="colTotal" id="schedule">-</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

<!----------------------------------- 训练营（课时结算版）课时统计 ： 结束-------------------------------------------->





{/block}




{block name='js'}

<script src="/static/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>

    var currDateYM = localStorage.getItem('currDateYM');

    $(function () {

        //=========================== 初始化数据 ==============================//

        //判断是否有年月的本地存储，没则获取当前月的上一个月
        if(currDateYM==''&&currDateYM!=null) {
            var currDate = new Date();
            var currYear = currDate.getFullYear();
            var currMonth = currDate.getMonth();
            if(currMonth==0){
                currDateYM = parseInt(currYear)-1+'-12';
            }else{
                currMonth = currMonth<10 ? "0"+currMonth:currMonth;
                currDateYM = currYear+'-'+ currMonth ;
            }
            localStorage.setItem('currDateYM',currDateYM);
        }

        //判断是否有指定训练营和教练员的本地存储
        $("input[name=dateYM]").val(currDateYM);

        //隔行变色
        $(".hotTable tbody td ul").find("li:odd").addClass("even");


        //遍历需要统计的数据列，并赋值到对应位置
        $(".colCount").each(function () {
            var liNum = 0;
            $(this).find("li").not(".colTotal").each(function () {
                liNum = liNum + parseInt($(this).text());
            });
            $(this).find("li.colTotal").text(liNum);
        });

        $(".monthBill").text($("#bill").text());
        $(".monthGift").text($("#gift").text());
        $(".monthSchedule").text($("#schedule").text());
        $(".monthRefund").text($("#refund").text());

        //=========================== 初始化数据 ==============================//


        //选择年月
        $('#dateYM').datepicker({
            language: 'zh-CN',
            autoclose: true,
            format: "yyyy-mm",
            minViewMode: 1,
            todayBtn: true
        });



        //查询统计
        $("#goSearch").on("click", function () {
            var getYM = $("input[name=dateYM]").val();
            if(getYM==""){
                alert("请选择年月份！");
                return false;
            }
            //设置本地存储
            localStorage.setItem('currDateYM',getYM);
            //拆分日期
            var arrYM = getYM.split('-');
            var getLastDate = new Date(arrYM[0],arrYM[1],0);
            var beginDate = arrYM[0]+arrYM[1]+'01';
            var endDate =  arrYM[0]+arrYM[1]+getLastDate.getDate();

            window.location.href="{:url('management/StatisticsCamp/campScheduleStatistics')}"+"/monthstart/"+beginDate+"/monthend/"+endDate;
        })


    })



</script>
{/block}

