{extend name="layout/common"/}
{block name="css"}


{/block}
{block name="page-content"}

<!----------------------------------- 训练营提现列表 ： 开始-------------------------------------------->

<div class="row">
    {if $campInfo.rebate_type == 1}
	<div class="col-lg-6 col-xs-6 btn">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>课时收入</h3>

          <p>课时收入只能于每月15号后申请,并且只能提现上个月之前的收入</p>
        </div>
        <div class="icon inner">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="{:url('withdraw',['type'=>1])}" class="small-box-footer">
            选择此提现
            <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>



    <div class="col-lg-6 col-xs-6 btn">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>其他收入</h3>

          <p>其他收入只能于每周日后申请,并且只能提现上周日之前的收入</p>
        </div>
        <div class="icon inner">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a hrefa="{:url('withdraw',['type'=>2])}" class="small-box-footer">
            选择此提现
            <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

    {/if}
</div>

<!----------------------------------- 训练营提现列表 ： 结束-------------------------------------------->


<div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">{$title}</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="studentAll" style="height: 400px"></div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">当前训练营余额 <span class="pull-right">{$campInfo.balance}</span></a>
        </li>
        {if $campInfo.rebate_type == 1}
        <li><a href="#">上个月底至上次提现之前的课时收入 <span class="pull-right text-green"> <i class="fa fa-angle-right"></i> &nbsp; {$income}</span></a>
        </li>
        <li><a href="#">上个月底至上次提现之前的赠课支出
          <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i>  &nbsp;  -{$output}</span></a></li>
        {else /}
        <li><a href="#">上个星期日至上次提现之前的订单收入 <span class="pull-right text-green"> <i class="fa fa-angle-right"></i> &nbsp; {$income}</span></a>
        </li>
        <li><a href="#">上个星期日至上次提现之前的赠课支出
          <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i>  &nbsp;  -{$output}</span></a></li>
        {/if}
        {if $campInfo.rebate_type == 1}
            <li>
                <a href="#">提现手续费
                    <span class="pull-right text-yellow"></i>0</span>
                </a>
            </li>
            {else /}
            <li>
                <a href="#">提现手续费
                    <span class="pull-right text-red">
                        {if ($income-$output)<$campInfo['balance'] && ($income-$output)>0}
                            {$income* $campInfo.schedule_rebate}
                        {elseif (($income-$output)<$campInfo['balance'] && ($income-$output))<0}
                             0 
                        {else /}
                            {$campInfo['balance']*$campInfo['schedule_rebate']}
                        {/if}
                    </span>
                </a>
            </li>
        {/if}
        <li><a href="#">提现账号:</a>
        </li>
    
        {if $campBankcard}
        <li><a href="#">银行 <span class="pull-right">{$campBankcard.bank}</span></a>
            
        </li>
        <li><a href="#">支行 <span class="pull-right">{$campBankcard.bank_branch}</span></a>
        </li>
        <li><a href="#">银行卡用户名 <span class="pull-right">{$campBankcard.account}</span></a>
        </li>
        <li><a href="#">卡号 <span class="pull-right">{$campBankcard.bank_card}</span></a>
        </li>
        <li><a href="#">联系手机 <span class="pull-right">{$campBankcard.telephone}</span></a>
        </li>
        {else /}
        <li>
                <a ><button class="btn btn-danger" id="add_bankcard">点击添加银行账号,方可提现</button></a>
            
        </li>
        {/if}
        <li><a href="">
            <strong href="#">可提现
          <span class="pull-right text-red">{if ($income-$output)<$campInfo['balance'] && ($income-$output)>0}{$income-$output}{elseif ($income-$output)<$campInfo['balance'] && ($income-$output)<0} 不可提现 {else /}{$campInfo.balance}{/if}</span></strong></a></li>
      </ul>
    </div>
    <!-- /.footer -->
    <form method="post">
        <div class="box-footer pull-right">
            {if $campBankcard}
            <input type="hidden" name="bank_id" value="{$campBankcard.id}">
            {/if}
            <input type="hidden" name="type" value="{$type}">
            <button type="submit" class="btn btn-success" {if ($income-$output<=0)||!$campBankcard} disabled="disabled"{/if} >提现</button>
        </div>
    </form>
</div>


{/block}


{block name='js'}
    
<script src="/static/plugins/echart/echarts.min.js"></script>
<script src="/static/plugins/echart/hot.js"></script>
<script type="text/javascript">
    $(function(){
        $('#add_bankcard').on('click',function(){
            var iframeurl = "{:url('management/bankcard/createBankcard')}";
            // alert(iframeurl);return;
            var title = "添加银行卡";
            layui.use('layer', function() {
                var layer = layui.layer;
                    
                    layer.open({
                    skin:'layui-layer-lan',
                    type: 2,
                    title: title,
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['400px', '650px'],
                    content: iframeurl
                });
            });
        })
    })
</script>

<script type="text/javascript">
    var domSA = document.getElementById("studentAll");
    var studentAll = echarts.init(domSA,"hot");
    console.log({$legend})
    var legend = {$legend};
    option = { 
        title : {
            text: "{$title}",
            subtext: "{$campInfo.camp}",
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient : 'vertical',
            x : 'left',
            data:legend
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {
                    show: true, 
                    type: ['pie', 'funnel'],
                    option: {
                        funnel: {
                            x: '25%',
                            width: '50%',
                            funnelAlign: 'center',
                            max: 1548
                        }
                    }
                },
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        series : [
            {
                name:'数据来源',
                type:'pie',
                radius : ['50%', '70%'],
                itemStyle : {
                    normal : {
                        label : {
                            show : false
                        },
                        labelLine : {
                            show : false
                        }
                    },
                    emphasis : {
                        label : {
                            show : true,
                            position : 'center',
                            textStyle : {
                                fontSize : '30',
                                fontWeight : 'bold'
                            }
                        }
                    }
                },
                data:[
                {if $campInfo.rebate_type==1}
                    {value:{$income}, name:legend[0]},
                    {value:{$output}, name:legend[1]},
                {else /}
                    {value:{$income1}, name:legend[0]},
                    {value:{$income2}, name:legend[1]},
                    {value:{$output}, name:legend[3]},
                {/if}
                ]
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    studentAll.setOption(option);                
</script>


<script type="text/javascript">
    $('form').submit(function(){
        $(this).attr("disabled","true");
    });
</script>
{/block}


