<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>添加招募</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <link href="/static/frontend/css/webuploader.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"><span class="return">返回</span></a>
        <h1 class="mui-title">{$campInfo.camp}</h1>
    </header>
    <div class="mui-content pt">

        <div class="camp-list camp-lesson-list" style="margin-top: 4px">
            <input type="hidden" name="__token__" class="data" value="{$Request.token}" />

            <form action="" class="mui-input-group mt55">

                <div class="mui-input-row">
                    <div class="mui-navigate-right">
                        <label>招募类型</label>
                        <span class="select-row ">
                            <select id="" class="data" name="recruitment_type">
                                <option value="1" >教练员</option>
                                <option value="2" >兼职</option>
                                <option value="3" >篮球队</option>
                            </select>
                        </span>
                    </div>
                </div>

                <div class="mui-input-row">
                    <label>招募名称</label>
                    <input type="text" name="recruitment" class="data" value="" placeholder="请输入招募名称">
                </div>

                <div class="mui-input-row">
                    <label>招募人数</label>
                    <div class="mui-numbox">
                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                        <input class="mui-input-numbox data recruit_number" type="number" name="max" value="">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </div>

                <div class="mui-input-row">
                    <label>是否面议</label>
                    <div class="mui-switch" data-switch="1" style="transition-duration: 0.2s;">
                        <div class="mui-switch-handle" style="transition-duration: 0.2s; transform: translate(0px, 0px);"></div>
                    </div>
                </div>

                <div class="mui-input-row">
                    <label>薪酬范围（最少）</label>
                    <div class="mui-numbox">
                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                        <input class="mui-input-numbox data min" type="number" name="max" value="">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </div>

                <div class="mui-input-row">
                    <label>薪酬范围（最多）</label>
                    <div class="mui-numbox">
                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                        <input class="mui-input-numbox data max" type="number" name="max" value="">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </div>

                <div class="mui-input-row h-auto">
                    <label>招募简介</label>
                    <textarea rows="5" class="data" name="recruitment_des" placeholder="填写简介"></textarea>
                </div>

                <div class="mui-input-row h-auto">
                    <label>招募要求</label>
                    <textarea rows="5" class="data" name="requirement" placeholder="填写要求"></textarea>
                </div>

                <div class="mui-input-row">
                    <label>截止日期</label>
                    <input type="text" name="deadline" class="data" value="" placeholder="请输入截止日期">
                </div>

                <div class="mui-input-row" id='showCityPicker3'>
                    <div class="mui-navigate-right">
                        <label>所属地区</label>
                        <span id="cityResult3" class="ui-alert domData" name="address"></span>
                    </div>
                </div>

                <div class="mui-input-row">
                    <label>联系人</label>
                    <input type="text" name="contract" class="data" value="" placeholder="请输入联系人">
                </div>

                <div class="mui-input-row">
                    <label>联系电话</label>
                    <input type="text" name="telephone" class="data telephoneBlur" value="" placeholder="请输入联系电话">
                </div>

                <div class="mui-input-row h-auto">
                    <a class="portraits filePicker mui-navigate-right" onclick="add_id(1)">
                        <label>招募封面</label>
                        <img id="preview_1" class="coachicon icon01 upload-preview" alt="">
                        <input type="hidden" name="cover" value='' class="data">
                    </a>
                </div>


            </form>

            <ul class="mui-table-view operation">
                <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen" style="color: #fff" onclick="submitAction()">
                    提交
                </li>
            </ul>
        </div>
    </div>

    <!--联系人-->
    <div id="recruitContract" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="page-header">
            <span class="course"><strong>招募联系人</strong></span>
        </div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view list campMemberList"></ul>
            </div>
        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <!-- 选择器 -->
    <script src="/static/frontend/js/mui.picker.min.js"></script>
    <script src="/static/frontend/js/mui.poppicker.js"></script>
    <script src="/static/frontend/js/city.data-3.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/libs/webuploader.min.js"></script>
    <script>
                                                                                                                  var uploadApiUrl = "{:url('api/upload/imgwupload', ['usage' => 'event'])}";
    </script>
    <script src="/static/frontend/libs/webuploader.cert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/uploadcert.js?v=<?php echo time();?>"></script>

    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });


        //弹出框滚动必须写在mui专用的初始化
        (function ($) {
            $(".mui-scroll-wrapper").scroll({
                //bounce: false,//滚动条是否有弹力默认是true
                indicators: true //是否显示滚动条,默认是true
            });
            // 关闭弹出菜单
            $("body").on('tap', '.mui-backdrop', function () {
                mui(".mui-popover.mui-active").popover("toggle");
            });

            mui('.mui-content .mui-switch').addEventListener('toggle', function(event) {
                //event.detail.isActive 可直接获取当前状态
                this.parentNode.querySelector('span').innerText = '状态：' + (event.detail.isActive ? 'true' : 'false');
            });
        })(mui);

        //选择器
        var getProvince = '';
        var getCity = '';
        var getArea = '';
        (function ($, doc) {
            $.ready(function () {
                var _getParam = function (obj, param) {
                    return obj[param] || '';
                };

                ///级联示例
                var cityPicker3 = new $.PopPicker({
                    layer: 3
                });

                // 设置默认值
                cityPicker3.pickers[0].setSelectedIndex(18);
                cityPicker3.pickers[1].setSelectedIndex(2);
                cityPicker3.pickers[2].setSelectedIndex(2);

                cityPicker3.setData(cityData3);
                var showCityPickerButton = doc.getElementById('showCityPicker3');
                var cityResult3 = doc.getElementById('cityResult3');
                showCityPickerButton.addEventListener('tap', function (event) {
                    cityPicker3.show(function (items) {
                        cityResult3.innerText = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(items[2], 'text');
                        //返回 false 可以阻止选择框的关闭
                        //return false;
                        getProvince = _getParam(items[0], 'text');
                        getCity = _getParam(items[1], 'text');
                        getArea = _getParam(items[2], 'text');
                    });
                }, false);

                //开始时间
                var resultStart = $('#resultStart')[0];
                var btnStart = $('.btnStart');
                btnStart.each(function (i, btn) {
                    btn.addEventListener('tap', function () {
                        var optionsJson = this.getAttribute('data-options') || '{}';
                        var options = JSON.parse(optionsJson);
                        var id = this.getAttribute('id');
                        var picker = new $.DtPicker(options);

                        picker.show(function (rs) {
                            resultStart.innerText = rs.text;
                            picker.dispose();
                        });
                    }, false);
                });

                //结束时间
                var resultEnd = $('#resultEnd')[0];
                var btnEnd = $('.btnEnd');
                btnEnd.each(function (i, btn) {
                    btn.addEventListener('tap', function () {
                        var optionsJson = this.getAttribute('data-options') || '{}';
                        var options = JSON.parse(optionsJson);
                        var id = this.getAttribute('id');
                        var picker = new $.DtPicker(options);

                        picker.show(function (rs) {
                            resultEnd.innerText = rs.text;
                            picker.dispose();
                        });
                    }, false);
                });

            });
        })(mui, document);

        $(function () {

            // 招募联系人
            $(".campMemberList").on('tap', 'li', function () {
                var contract = $.trim($(this).children(".member").text());
                var contract_id = $(this).attr('data-id');
                $(".contract_id").val(contract_id);
                $("input[name=contract]").val(contract);
                mui("#recruitContract").popover("toggle");
            });

            // 调用训练营身份列表
            toCampMemberList();
        })


        //自定义获取训练营身份列表有分页
        var toCampMemberList = function () {
            var url = "{:url('api/camp_member/getCampMemberListApi','','',true)}";
            var campID = "{$campInfo.id}";
            mui.ajax({
                url: url,
                data: {
                    camp_id: campID
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                //processData:false,
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var newli = '';
                        for (var i = 0; i <= data.data.data.length - 1; i++) {
                            newli = newli + '<li class="mui-table-view-cell listli detalisli cost" data-id="' + data.data.data[i].member_id + '"><font class="member">' + data.data.data[i].member + '</font><span>' + data.data.data[i].type + '</span></li>'
                        }
                        $("ul.campMemberList").empty();
                        if (newli == '') {
                            newli = '<p class="mui-text-center">没有查找到数据哦</p>'
                        }
                        $("ul.campMemberList").append(newli);

                    } else {
                        mui.toast('数据获取失败,请稍候再试');
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

        // 获取数据并进行提交
        function submitAction(all) {

            $(".telephoneBlur").blur(function () {
                if (!(/^1[34578]\d{9}$/).test($("input[name=telephone]").val())) {
                    mui.alert("请输入正确的手机格式");
                    return;
                };
            });

            var data = wooApi.getInputData('input', 'data');
            datas = wooApi.getInputData('select', 'data', data);
            // 获取其他标签值
            arrData = wooApi.getDomData('domData', datas);
            var objData = wooApi.arrTOobj(arrData);
            var event_des = $('textarea.data').val();
            objData.event_des = event_des;
            var url = "{:url('api/event/updateRecruitmentApi')}";
            var ajaxResult = wooApi.asyncF(url, objData);
            if (ajaxResult.code == 200) {
                mui.alert(ajaxResult.msg, '招募创建成功', '确定', function () {
                    var goUrl = "{:url('recruit/recruitmentlistOfCamp')}" + '/recruitment_id/' + ajaxResult.data;
                    window.top.location.href = goUrl;
                })
            } else {
                mui.alert(ajaxResult.msg, '招募创建失败', '确定', function () {

                })
            }
        };


    </script>
</body>

</html>