{extend name="layout/common"/}

{block name="css"}

{/block}




{block name="page-content"}


<div class="box no-border">
    <form role="form" action="" method="post" enctype="multipart/form-data">
    	<div class="form-group">
            <div class="row">
                <div class="col-md-2 col-sm-2 text-right">
                    <label for="lesson_id">选择课程</label>
                </div>
                <div class="col-md-5 col-sm-5">
                    <select class="form-control" name="l_id">
                    	{volist name="lessonList" id="vol"}
                        <option value="{$key}" data="{$vol.cost}">{$vol.lesson}</option>
                    	{/volist}
                    </select>
                </div>
            </div>
            <div class="row  {if $campInfo.rebate_type==2} hide{/if}">
            	<div class="col-md-2 col-sm-2 text-right"></div>
            	<div class="col-md-5 col-sm-5">
	            	注意:购买赠课将会扣除余额<span class="c color-red"></span>元
	            </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 col-sm-2 text-right">
                    <label for="quantity">购买数量</label>
                </div>
                <div class="col-md-5 col-sm-5">
                    <input type="number" class="form-control" placeholder="请输入购买数量" name="quantity">
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-2 col-sm-2 text-right">
                </div>
                <div class="col-md-5 col-sm-5">
                    <button type="submit" class="btn btn-success">提 交</button>
                </div>
            </div>
        </div>
    </form>
</div>


{/block}



{block name="js"}
<script type="text/javascript">
	var fn_c = function(){
		var c = $("select[name=l_id]").find("option:selected").attr('data');
		$('.c').text(c);
	}
	

	$("select[name=l_id]").on('change',function(){
		fn_c();
	})

	fn_c();
</script>
{/block}