<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>图文详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .mui-popover-arrow {
            left: auto;
            right: 6px;
        }

        .mui-input-row a {
            display: table;
            width: 100%;
        }

        .mui-card-content-inner img {
            width:100%;
        }
    </style>
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">{$articleInfo.title}</h1>
    </header>
    <!--文章详情页-->
    <div class="mui-content">

        <div class="mui-card">
            <div class="mui-card-header img16x9" style="background-image:url('{$articleInfo.covers}')"></div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <p>{$articleInfo.abstract}</p>
                    <p>{$articleInfo.content}</p>
                </div>
            </div>
            <div class="mui-card-footer">
                <a class="mui-card-link">{$articleInfo.organization}</a>
                <a class="mui-card-link">{$articleInfo.update_time}</a>
            </div>
        </div>
    </div>

    



<script src="/static/frontend/js/mui.min.js"></script>
<script>
    
</script>

</body>

</html>