{extend name="layout/common"/}

{block name="css"}

{/block}

{block name="page-content"}
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead">
            <em>系统收支</em>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="{:url('incomeList')}" >平台收入</a></li>
            <li><a href="{:url('outputList')}" >平台支出</a></li>
        </ul>

                <form action="" class="form-inline" method="get">
                <fieldset>
                    
                    <div class="form-group">
                        <label>月份</label>
                        <input class="form-control" type="text" name="Ym" value="{$Ym}">
                    </div>

                    <div class="form-group">
                        <label>类型</label>
                        <select name="type" class="form-control" >
                            <option value=""></option>
                            <option value="1">课时版订单收入</option>
                            <option value="2">营业额版训练营提现收入</option>
                            <option value="3">课时版赠课收入</option>
                            <option value="4">个人平台充值收入</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-info btn-flat">搜索</button>
                            <button type="reset" class="btn btn-default btn-flat">重置</button>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            总计: {$total}
                        </div>
                    </div>
                </fieldset>

            </form>


    </div>
    <div class="panel-body">
        <div class="tab-content">
            <!--#info-->
            <div class="tab-pane fade active in" id="info">
                <div class="col-md-12 col-sm-12">
                   <!-- 主体 -->
                    <div class="box-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center order_by" data-order = 'member'>序号</th>
                                <th class="text-center order_by" data-order = 'money'>收入</th>
                                <th class="text-center order_by" data-order = 'type'>类型</th>
                                <th class="text-center order_by" data-order = 's_balance'>训练营</th>
                                <th class="text-center order_by" data-order = 'id'>日期</th>
                                <th class="text-center order_by" data-order = 'system_remarks'>系统备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="vol"}
                            <tr>
                                <td class="text-center">{$i}</td>
                                
                                <td class="text-center">
                                    {$vol.income}
                                </td>
                                <td class="text-center">
                                    {$vol.type}
                                </td>
                                <td class="text-center">
                                    {$vol.camp}
                                </td>
                                
                                <td class="text-center">{$vol.create_time}</td>
                                <td class="text-center">{$vol.system_remarks}</td>
                                
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    
                </div>

            </div>
            <!--end #info-->

        </div>
    </div>
</div>

{/block}

{block name="js"}
<script src="/static/backend/plugins/webuploader/webuploader.min.js"></script>
<script>
    var serverUrl = "{:url('Upload/systemBanner')}";
</script>
<script src="/static/backend/adminlte/js/upload/banner.js"></script>
{/block}