<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>创建打卡规则</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <style>
        .mui-input-row a {
            display: table;
            width: 100%;
        }

        .publicTip {
            padding: 15px;
        }

        .publicTip .publicTitle {
            vertical-align: middle;
            display: inline-flex;
            margin-bottom: 5px;
        }

        .publicTip .publicTitle strong {
            line-height: 40px;
            padding-left: 5px;
        }

        .publicTip .publicTitle img {
            width: 15%;
            height: 15%;
        }

        .publicTip .publicText {
            padding-left: 43px;
        }

        .publicTip .publicText p {
            margin-bottom: 0;
            font-size: 12px
        }
    </style>
</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-icon mui-icon-left-nav mui-pull-left arrow backHref"></a>
        <h1 class="mui-title">创建打卡规则</h1>
    </header>

    <div class="mui-content">
        <input type="hidden" class="data" name="group" value="{$groupInfo.group}">
        <input type="hidden" class="data" name="group_id" value="{$groupInfo.id}">
        <input type="hidden" class="data" name="pool" value="{$groupInfo.group}">
        <form action="" class="mui-input-group">
            <div class="mui-input-row">
                <label>金额/每卡</label>
                <span class="colororange">HT</span>
                <input type="number" name="stake" class="data wd45" value="" placeholder="金额/每卡" style="padding-right: 5px;height: 41px;">
            </div>
            <div class="mui-input-row picker btnStart" data-options='{"type":"date"}'>
                <div class="mui-navigate-right">
                    <label>开始时间</label>
                    <span id="resultStart" class="ui-alert domData" name="starts"></span>
                </div>
            </div>
            <div class="mui-input-row picker btnEnd" data-options='{"type":"date"}'>
                <div class="mui-navigate-right">
                    <label>结束时间</label>
                    <span id="resultEnd" class="ui-alert domData" name="ends"></span>
                </div>
            </div>
            <div class="mui-input-row">
                <label class="wd45">个人每天打卡上限</label>
                <input type="number" name="" class="data wd52" value="" placeholder="请输入个人每天打卡上限">
            </div>
            <div class="mui-input-row h-auto">
                <label>打卡说明</label>
                <textarea name="rule" rows="3" value="" class="rule" placeholder="请填写内容"></textarea>
            </div>
        </form>

        <div class="publicTip mb44">
            <p class="publicTitle">
                <img src="/static/frontend/images/hot.png" alt="">
                <strong class="f16">温馨提示</strong>
            </p>
            <div class="publicText">
                <p>1、必须创建打卡规则才能在社群打卡</p>
                <p>2、为保护打卡会员权益，打卡规则一旦创建，将不可修改</p>
            </div>
        </div>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-col-xs-12 mui-col-sm-12 opli bggreen" onclick="submitAction()">
                创建打卡规则
            </li>
        </ul>

    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <!-- 选择器 -->
    <script src="/static/frontend/js/mui.picker.min.js"></script>
    <script src="/static/frontend/js/mui.poppicker.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>
        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        (function ($, doc) {
            $.ready(function () {
                //开始时间
                var resultStart = $('#resultStart')[0];
                var btnStart = $('.btnStart');
                btnStart.each(function (i, btn) {
                    btn.addEventListener('tap', function () {
                        var optionsJson = this.getAttribute('data-options') || '{}';
                        var options = JSON.parse(optionsJson);
                        var id = this.getAttribute('id');
                        var picker = new $.DtPicker(options);

                        picker.show(function (rs) {
                            resultStart.innerText = rs.text;
                            picker.dispose();
                        });
                    }, false);
                });

                //结束时间
                var resultEnd = $('#resultEnd')[0];
                var btnEnd = $('.btnEnd');
                btnEnd.each(function (i, btn) {
                    btn.addEventListener('tap', function () {
                        var optionsJson = this.getAttribute('data-options') || '{}';
                        var options = JSON.parse(optionsJson);
                        var id = this.getAttribute('id');
                        var picker = new $.DtPicker(options);

                        picker.show(function (rs) {
                            resultEnd.innerText = rs.text;
                            picker.dispose();
                        });
                    }, false);
                });

            });
        })(mui, document);


        $(function () {
            var createGroupId = wooApi.GetQueryString('createGroupId');
            if (createGroupId != null) {
                $(".backHref").attr("href", "{:url('group/groupInfo')}/" +"group_id/"+ createGroupId);
            } else {
                $(".backHref").addClass("mui-action-back");
            }
        })

        // 获取数据并进行提交
        function submitAction() {
            var time = new Date();
            var year = time.getFullYear();
            var month = time.getMonth() + 1;
            if (month < 10) {
                month = "0" + month;
            }
            var day = time.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            var nowTime = year + "-" + month + "-" + day;
            var start = $("#resultStart").text();
            var end = $("#resultEnd").text();

            if (start < nowTime) {
                mui.toast("开始时间不能小于当前时间");
                return false;
            }
            if (end == '') {
                mui.toast("请选择结束时间");
                return false;
            }

            var data = wooApi.getInputData('input', 'data');
            datas = wooApi.getInputData('select', 'data', data);
            // 获取其他标签值
            arrData = wooApi.getDomData('domData', datas);
            var objData = wooApi.arrTOobj(arrData);
            objData.notice = $(".notice").val();
            objData.rule = $(".rule").val();
            var url = "{:url('api/pool/createPoolApi')}";
            var ajaxResult = wooApi.asyncF(url, objData);
            if (ajaxResult.code == 200) {
                mui.alert(ajaxResult.msg, '创建成功', '确定', function () {
                    var goUrl = "{:url('group/poolList')}" + "/group_id/" + "{$groupInfo.id}";
                    window.top.location.href = goUrl;
                })
            } else {
                mui.alert(ajaxResult.msg, '创建失败');
                mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                    if (data.code === 200) {
                    }
                }, 'json');
            }
        };

    </script>
</body>

</html>