<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>社群详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--自定义多色图标icon.js-->
    <script src="/static/frontend/iconfont/iconfont.js"></script>
    <style>
        .coloricon {
            width: 2.3em;
            height: 2.3em;
            vertical-align: -0.7em;
            fill: currentColor;
            overflow: hidden;
        }

        .bottomButton {
            margin: 40px 0;
        }

        .bottomButton .aBtn {
            padding: 9px 30px;
            font-size: 14px;
            border-radius: 3px;
        }

        .mui-grid-view.mui-grid-9 .mui-table-view-cell {
            border: none;
        }
    </style>
</head>

<body>
    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">社群详情</h1>
    </header>

    <div class="mui-content">
        <div class="list mb44">

            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli" id="logoframe">
                    <div class="mui-media-body  wd66">
                        <strong class="f16 tmName">{$groupInfo.group}</strong>
                        <img class="mui-media-object mui-pull-left logostyle" src="{$groupInfo.logo}" style="width:60px !important;height:60px !important;margin-top:5px">
                        <p class="mui-ellipsis lineHeight20">发起人：{$groupInfo.member}</p>
                        <p class="mui-ellipsis lineHeight20">成员:
                            <text class="colororange">{$groupInfo.members}</text>
                        </p>
                    </div>
                    <div class="price-frame">
                        <button class="mui-btn bgred joinGropu" style="margin-top:26px">加入</button>
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-opponent colororange"></span>上期擂主：
                        <text class="colororange">擂主名称</text>
                    </label>
                    <span class="wd45 pdr15 mui-navigate-right">往届</span>
                </li>
            </ul>

            <div class="page-header whitebg">
                <span class="course">
                    本期打卡
                </span>
                <span class="more pdr15">
                    <a href="" class="mui-navigate-right">社群规则</a>
                </span>
            </div>
            <div class="nav-list mb">
                <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-home-game"></use>
                            </svg>
                            <div class="mui-media-body" style="font-size: 14px !important">个人</div>
                            <h3 class=" colororange">12</h3>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-home-activity"></use>
                            </svg>
                            <div class="mui-media-body" style="font-size: 14px !important">社群</div>
                            <h3 class=" colororange">1123</h3>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="{:url('group/poolList',['group_id'=>$groupInfo.id])}">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-home-team"></use>
                            </svg>
                            <div class="mui-media-body" style="font-size: 14px !important">奖金池</div>
                            <h3 class=" colororange">{$groupInfo.bonus}</h3>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="page-header">
                <span class="course">
                    打卡记录
                </span>
                <span class="more pdr15">
                    <a href="" class="mui-navigate-right">更多</a>
                </span>
            </div>
            <ul class="mui-table-view mb punchList"></ul>

            <!-- <div class="success-frame mt55">
                <div class="choise">
                    <button type="button" class="mui-btn mui-btn-danger f16 outGroup">退出社群</button>
                </div>
            </div> -->

            <!--底部操作-->
            <ul class="mui-table-view operation">
                <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                    <a href="{$homeurl}">
                        <span class="mui-icon icon iconfont icon-nav-Home"></span>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3 opli ">
                    <a href="">分享</a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3 opli outGroup hide">
                    退出社群
                </li>
                <li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3 opli groupEdit hide">
                    <a href="{:url('group/groupEdit',['group_id'=>$groupInfo.id])}">群管理</a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-4 mui-col-sm-4 opli bgred">
                    <a href="{:url('punch/createPunch')}">打卡</a>
                </li>
            </ul>

        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });
        var count = 1;
        $(function () {
            var group_member = "{$groupInfo.member}";
            var member = "{$memberInfo.member}";
            var member_id = "{$memberInfo.id}";
            var group_id = "{$groupInfo.id}";
            var group_member_id = "{$groupInfo.member_id}";

            if (group_member != member) {
                $(".outGroup").show();
            } else {
                $(".groupEdit").show();
            }

            // 加入社群
            $(".joinGropu").on("tap", '', function () {
                mui.ajax("{:url('api/group/createGroupMemberApi')}", {
                    data: {
                        group_id: group_id
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            mui.toast("申请加入成功，待管理员审核...");
                        } else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            //退出社群
            $(".outGroup").on('tap', function () {
                mui.confirm("确认退出社群？", "提示", function (e) {
                    if (e.index == 1) {
                        mui.ajax("{:url('api/group/dropGroup')}", {
                            data: {
                                member_id: member_id,
                                group_id: group_id,
                            },
                            dataType: 'json',//服务器返回json格式数据
                            type: 'post',//HTTP请求类型
                            timeout: 10000,//超时时间设置为10秒；
                            headers: { 'Content-Type': 'application/json' },
                            success: function (data) {
                                console.log(data);
                                if (data.code == 200) {
                                    mui.toast(data.msg);
                                    window.setTimeout("window.location='{group/index}'", 2000);
                                } else {
                                    mui.toast(data.msg);
                                }
                            },
                            error: function (xhr, type, errorThrown) {
                                //异常处理；
                                console.log(type);
                            }
                        });
                    }
                })
            })

            toPunchList(); //获取我的打卡记录列表
        })

        //下拉刷新具体业务实现
        function pulldownRefresh() {
            setTimeout(function () {
                count = 1;//刷新并显示第一页
                var page = count;
                var gType = 1;//代表下拉刷新
                toPunchList(page, gType);//具体取数据的方法
            }, 100);
        }
        //上拉加载具体业务实现
        function pullupRefresh() {
            setTimeout(function () {
                count++;//翻下一页
                var page = count;
                var gType = 2;//代表上拉加载
                toPunchList(page, gType);//具体取数据的方法
            }, 100);
        }
        //获取我的打卡记录列表
        function toPunchList(page, gType) {
            var url = "{:url('api/punch/getGroupPunchListByPageApi','','',true)}";
            mui.ajax({
                url: url,
                data: {
                    page: page,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var newli = "";
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.data.length - 1; i++) {
                            var urls = "{:url('punch/punchInfo')}/" + 'punch_id/' + data.data.data[i].id;
                            newli += ' <li class="mui-table-view-cell mui-media listli"><a href="' + urls + '" class="mui-navigate-right">';
                            newli += '<img class="mui-media-object mui-pull-left" src="' + data.data.data[i].image_url + '"><div class="mui-media-body wd f16"><text style="font-weight: bold;">' + data.data.data[i].name + '</text>';
                            newli += '<p class="lineHeight20"><i class="icon iconfont icon-activity-Startingtim colororange f14"></i>' + data.data.data[i].punch_time + ' &nbsp;打卡金<text class="colororange">0</text> &nbsp;打赏<text class="colororange">' + data.data.data[i].rewords_money + '</text></p>';
                            newli += '</div></a></li>'
                        }
                        if (newli == '') {
                            $("ul.punchList").html('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>');
                        }
                    }

                    if (gType == 1) {
                        //上拉刷新
                        $("ul.punchList").empty().append(newli);
                    } else {
                        //下拉加载 gType==2
                        $("ul.punchList").append(newli);
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

    </script>
</body>

</html>