<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>编辑社群</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--选择器样式-->
    <link href="/static/frontend/css/webuploader.css" rel="stylesheet">
    <!--自定义多色图标icon.js-->
    <script src="/static/frontend/iconfont/iconfont.js"></script>
    <style>
        .borderStyle img {
            width: 70%;
        }

        .nav-list .nav-list-frame .navli {
            width: 20%;
            padding: 2px 0;
            border: 0;
        }

        .mui-input-group img {
            width: 50px;
            height: 50px;
            float: right;
            margin-right: 35px;
            margin-top: -4px;
        }
    </style>

</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">编辑社群</h1>
    </header>

    <div class="mui-content coach">

        <div class="nav-list borderStyle mb12">
            <div class="page-header">
                <span class="course">
                    社群成员（
                    <text class="groupMemberNum">0</text>）
                </span>
            </div>
            <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame ptb4">
                <li class="mui-table-view-cell navli memberList">
                    <a href="#groupAddMember">
                        <p>
                            <i class="mui-icon mui-icon-plusempty" style="font-size: 3.3rem;border: 1px solid #ddd;"></i>
                        </p>
                    </a>
                </li>
                <li class="mui-table-view-cell navli">
                    <a href="#groupMember">
                        <p>
                            <i class="mui-icon mui-icon-minus" style="font-size: 3.3rem;border: 1px solid #ddd;"></i>
                        </p>
                    </a>
                </li>
            </ul>
        </div>

        <ul class="mui-table-view mb list">
            <li class="mui-table-view-cell listli">
                <label>奖金池</label>
                <span class="wd25 pdr15">
                    <a href="{:url('group/poolList',['group_id'=>$groupInfo.id])}" class="mui-navigate-right colororange">管理奖金池</a>
                </span>
            </li>
        </ul>

        <form action="" class="mui-input-group mt55">
            <input type="hidden" class="data" name="group_id" value="{$groupInfo.id}">
            <div class="mui-input-row">
                <a href="{:url('group/groupApplyList',['group_id'=>$groupInfo.id])}" class="mui-navigate-right">
                    <label>入群申请</label>
                    <span class="colororange">查看申请列表</span>
                </a>
            </div>
            <div class="mui-input-row h-auto">
                <a href="#txpopover" class="mui-navigate-right">
                    <label>社群Logo</label>
                    <div id="view" style="width: 51px; background-image:url('{$groupInfo.logo}')"></div>
                </a>
                <input type="hidden" name="logo" value="{$groupInfo.logo}" class="data">
            </div>
            <div class="mui-input-row">
                <div class="mui-navigate-right">
                    <label>社群类型</label>
                    <span class="select-row">
                        <select id="groupType" class="data" name="type">
                            <option value="">请选择</option>
                            <option value="1">单位</option>
                            <option value="2">球队</option>
                            <option value="3">同学</option>
                            <option value="4">朋友</option>
                            <option value="5">家族</option>
                            <option value="6">其他</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="mui-input-row">
                <label>最大人数</label>
                <input type="text" name="max" class="data" value="{$groupInfo.max}" placeholder="最大人数">
            </div>
            <div class="mui-input-row h-auto">
                <label>社群口号</label>
                <textarea name="tenet" rows="3" value="{$groupInfo.tenet}" class="tenet" placeholder="请填写内容">{$groupInfo.tenet}</textarea>
            </div>
            <div class="mui-input-row h-auto">
                <label>公告</label>
                <textarea name="notice" rows="3" value="{$groupInfo.notice}" class="notice" placeholder="请填写内容">{$groupInfo.notice}</textarea>
            </div>

        </form>

        <ul class="mui-table-view operation">
            <!-- <li class="mui-table-view-cell mui-col-xs-6 mui-col-sm-6 opli bgred deleteOut">
                删除并退出
            </li> -->
            <li class="mui-table-view-cell mui-col-xs-12 mui-col-sm-12 opli bggreen" onclick="submitAction()">
                保存修改
            </li>
        </ul>

    </div>

    <!--添加成员-->
    <div id="groupAddMember" class="mui-popover" style="margin: 0">
        <div class="mui-popover-arrow"></div>
        <div class="page-header border-b">
            <span class="course wd60" style="margin-top: 5px">
                <strong>粉丝列表</strong>
                <text class="colororange memberAdd">邀请微信好友</text>
            </span>
        </div>
        <div class="mui-scroll-wrapper" style="top:50px !important;">
            <div class="mui-scroll">
                <ul class="mui-table-view list addMemberList"></ul>
            </div>
        </div>
    </div>



    <!--删除成员-->
    <div id="groupMember" class="mui-popover" style="margin: 0">
        <div class="mui-popover-arrow"></div>
        <div class="page-header">
            <span class="course wd45">
                <strong>社群成员</strong>
            </span>
            <span class="fr">
                <button class="mui-btn bgred" id="memberDel">删除</button>
            </span>
        </div>
        <div class="mui-scroll-wrapper" style="top:50px !important;">
            <div class="mui-scroll">
                <form class="mui-input-group delMemberList mb44"></form>
            </div>
        </div>
    </div>
    <!-- 头像截图弹框 -->
    <div id="txpopover" class="mui-popover mui-popover-action mui-popover-bottom actionsheet">
        <div id="clipArea"></div>
        <div class="fileFrame">选择图片
            <input type="file" id="file">
        </div>
        <button id="clipBtn">截取</button>
    </div>
    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/libs/webuploader.min.js"></script>
    <script>
        var uploadApiUrl = "{:url('api/upload/imgwupload', ['usage' => 'group'])}";
    </script>
    <script src="/static/frontend/libs/webuploader.cert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/uploadcert.js?v=<?php echo time();?>"></script>
    <!--上传截图头像-->
    <script src="/static/plugins/cropper/hammer.min.js"></script>
    <script src="/static/plugins/cropper/iscroll-zoom-min.js"></script>
    <script src="/static/plugins/cropper/lrz.all.bundle.js"></script>
    <script src="/static/plugins/cropper/PhotoClip.js"></script>
    <script>
        var group_id = "{$groupInfo.id}";
        var member_id = "{$groupInfo.member_id}"
        $(function () {
            // 设置社群类型默认值
            $('#groupType option[value="{$groupInfo.type}"]').prop("selected", true);

            //删除并退出
            // $(".deleteOut").on('tap', function () {
            //     mui.confirm("确认删除并退出社群吗？", "提示", function (e) {
            //         if (e.index == 1) {
            //             var group_id = "{$groupInfo.id}";
            //             var member_id = "{$groupInfo.member_id}"
            //             mui.ajax("{:url('api/group/dropGroup')}", {
            //                 data: {
            //                     group_id: group_id,
            //                     member_id: member_id
            //                 },
            //                 dataType: 'json',//服务器返回json格式数据
            //                 type: 'post',//HTTP请求类型
            //                 timeout: 10000,//超时时间设置为10秒；
            //                 headers: { 'Content-Type': 'application/json' },
            //                 success: function (data) {
            //                     console.log(data);
            //                     if (data.code == 200) {
            //                         mui.toast(data.msg);
            //                     } else {
            //                         mui.toast(data.msg);
            //                     }
            //                 },
            //                 error: function (xhr, type, errorThrown) {
            //                     //异常处理；
            //                     console.log(type);
            //                 }
            //             });
            //         }
            //     });
            // });


            // 分享邀请成员
            $(".memberAdd").on("tap", function () {
                mui("#groupAddMember").popover("toggle");
                mui.confirm('请前往社群详情分享链接邀请好友加入', '提示', ['取消', '前往分享'], function (e) {
                    if (e.index === 1) {
                        window.location.href = "{:url('group/groupInfo',['group_id'=>$groupInfo.id])}";
                    }
                });
            });

            // 添加成员
            $(document).on("tap", ".addMemberList li", function () {
                var member = $(this).attr("data-member");
                var member_id = $(this).attr("data-member_id");
                var member_avatar = $(this).attr("data-member_avatar");
                mui.toast("暂未开放，敬请期待")
                // mui.confirm("确认发送邀请？", function (e) {
                //     if (e.index == 1) {
                //         mui.ajax("{:url('api/group_apply/createGroupApplyApi')}", {
                //             data: {
                //                 group_id: group_id,
                //                 member: member,
                //                 member_id: member_id,
                //                 avatar: member_avatar
                //             },
                //             dataType: 'json',//服务器返回json格式数据
                //             type: 'post',//HTTP请求类型
                //             timeout: 10000,//超时时间设置为10秒；
                //             headers: { 'Content-Type': 'application/json' },
                //             success: function (data) {
                //                 console.log(data);
                //                 if (data.code == 200) {
                //                     mui.toast(data.msg);
                //                 } else {
                //                     mui.toast(data.msg);
                //                 }
                //             },
                //             error: function (xhr, type, errorThrown) {
                //                 //异常处理；
                //                 console.log(type);
                //             }
                //         });
                //     }
                // })
            })

            // 删除成员
            $("#memberDel").on('tap', function () {
                let list = [];
                let groupMember_id = ''
                $(".delMemberList input[type=checkbox]:checked").each(function (i) {
                    groupMember_id = $(this).val();
                    list.push(groupMember_id);
                })
                let idList = JSON.stringify(list);
                console.log(idList)
                mui.confirm("确认删除选中成员吗？", "提示", function (e) {
                    if (e.index == 1) {
                        mui.ajax("{:url('api/group/dropGroups')}", {
                            data: {
                                group_id: group_id,
                                idList: idList
                            },
                            dataType: 'json',//服务器返回json格式数据
                            type: 'post',//HTTP请求类型
                            timeout: 10000,//超时时间设置为10秒；
                            headers: { 'Content-Type': 'application/json' },
                            success: function (data) {
                                console.log(data);
                                if (data.code == 200) {
                                    mui.toast(data.msg);
                                } else {
                                    mui.toast(data.msg);
                                }
                            },
                            error: function (xhr, type, errorThrown) {
                                //异常处理；
                                console.log(type);
                            }
                        });
                    }
                });
            });

            groupMember();
            myFansList();
        })

        //我的粉丝列表
        function myFansList() {
            var url = "{:url('api/follow/myfans')}" + '/?page=' + 1;
            mui.ajax({
                url: url,
                data: {
                    type: 1
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var newli = '';
                        for (var i = 0; i <= data.data.data.length - 1; i++) {
                            $(".groupMemberNum").text(data.data.data.length)
                            newli += '<li class="mui-table-view-cell listli" data-member="' + data.data.data[i].member + '" data-member_id="' + data.data.data[i].member_id + '" data-member_avatar="' + data.data.data[i].member_avatar + '">';
                            newli += '<img class="img24" src="' + data.data.data[i].member_avatar + '">' + data.data.data[i].member + '</li>';
                        }
                        $(".addMemberList").append(newli);
                    } else {
                        mui.toast('数据获取失败,请稍候再试');
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

        //自定义列表
        function groupMember() {
            var url = "{:url('api/group/getGroupMemberListByPageApi','','',true)}";
            var group_id = "{$groupInfo.id}"
            mui.ajax({
                url: url,
                data: {
                    status: 1,
                    group_id: group_id,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var newli = '';
                        var div = '';
                        for (var i = 0; i <= data.data.data.length - 1; i++) {
                            newli += '<li class="mui-table-view-cell navli"><img src="' + data.data.data[i].avatar + '" alt=""><p class="mui-ellipsis">' + data.data.data[i].member + '</p></li>'
                            $(".groupMemberNum").text(data.data.data.length)
                            if (data.data.data[i].member_id != member_id) {
                                div += '<div class="mui-input-row mui-checkbox mui-left"><label class="lineHeight20" style="width:85%">' + data.data.data[i].member + '</label><input name="checkbox1" value="' + data.data.data[i].id + '" data-member="' + data.data.data[i].member + '" type="checkbox"></div>';
                            }
                        }
                        $(".memberList").before(newli);
                        $(".delMemberList").append(div);
                        if (div == '') {
                            $(".delMemberList").append('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有社群成员</p></li>');
                        }
                    } else {
                        mui.toast('数据获取失败,请稍候再试');
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

        // 获取数据并进行提交
        function submitAction() {

            if (!(/^[0-9]*$/).test($("input[name=max]").val())) {
                mui.toast("最大人数请填写数字");
                return false;
            }

            var data = wooApi.getInputData('input', 'data');
            datas = wooApi.getInputData('select', 'data', data);
            // 获取其他标签值
            arrData = wooApi.getDomData('domData', datas);
            var objData = wooApi.arrTOobj(arrData);
            objData.tenet = $(".tenet").val();
            objData.notice = $(".notice").val();
            var url = "{:url('api/group/updateGroupApi')}";
            var ajaxResult = wooApi.asyncF(url, objData);
            console.log(ajaxResult)
            if (ajaxResult.code == 200) {
                mui.alert(ajaxResult.msg, '修改成功', '确定', function () {
                    var goUrl = "{:url('group/groupInfo')}" + "/group_id/" + "{$groupInfo.id}";
                    window.top.location.href = goUrl;
                })
            } else {
                mui.alert(ajaxResult.msg, '修改失败');
                mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                    if (data.code === 200) {
                    }
                }, 'json');
            }
        };

    </script>
    <script>
        var imgurl = '';
        var pc = new PhotoClip('#clipArea', {
            size: 260,
            outputSize: 640,
            //adaptive: ['60%', '80%'],
            file: '#file',
            view: '#view',
            ok: '#clipBtn',
            //img: 'img/mm.jpg',
            loadStart: function () {
                console.log('开始读取照片');
            },
            loadComplete: function () {
                console.log('照片读取完成');
            },
            done: function (dataURL) {
                console.log(dataURL);
                mui.post("{:url('api/upload/imgcropupload')}", {
                    dataurl: dataURL,
                    path: 'cert'
                }, function (res) {
                    console.log(res);
                    logo = res.path;
                    $("input[name=logo]").val(logo)
                    mui("#txpopover").popover("toggle");
                }, 'json');
            },
            fail: function (msg) {
                alert(msg);
            }
        });

    </script>
</body>

</html>