<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$groupInfo.group}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .for-tab{ background-color: #efeff4;}
        .sheader{ padding: 8px 12px 8px 20px !important;}
        .sheader span{ line-height: 24px; }
        #groupPunch img { width: 45px !important; height: 45px !important; }
        #groupPunch .list .listli .mui-media-body { line-height: 42px; }
        #groupPunch .colororange { font-size: 16px; }
        .mui-badge { margin-left: 10px; }
        .mui-segmented-control .fr { margin-right: 15px; color: #999; }
        .mui-icon-bars { margin:0px 0px 0px 5px !important; font-size: 16px !important; }
    </style>
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav for-tab">
        <ul class="mui-table-view detalis-list">
            <li class="listli sheader mui-clearfix mui-text-center">
                <a class="mui-pull-left mui-icon mui-icon-left-nav" href="{:url('group/groupInfo',['group_id'=>$groupInfo.id])}"></a>
                <span class="title-name">第 {$poolInfo.season} 期 - {$poolInfo.pool}</span>
                <a href="#poolList" class="mui-pull-right">往期<span class="mui-icon mui-icon-bars" style=""></span></a>
            </li>
        </ul>
        <div class="camp-lesson-list mb mt">
            <div id="segmentedControl" class="mui-segmented-control">
                <a class="mui-control-item" href="#groupPunch" id="tGroupPunch">全员 <text class="groupBadge colororange">{$poolInfo.members}</text> 卡</a>
                <a class="mui-control-item mui-active" href="#memberPunch" id="tMemberPunch"><text class="memberName">{$memberInfo.member}</text> <text class="memberBadge colororange">0</text> 卡</a>
            </div>
        </div>
    </header>

    <div class="mui-content">

        <div class="tab-pullRefresh">
            <div id="memberPunch" class="mui-scroll-wrapper mui-control-content mui-active" style="top:88px;">
                <div class="mui-scroll">
                    <ul class="mui-table-view detalis-list list border-b memberPunchList"></ul>
                </div>
            </div>
            <div id="groupPunch" class="mui-scroll-wrapper mui-control-content" style="top:88px;">
                <div class="mui-scroll">
                    <ul class="mui-table-view detalis-list list border-b groupMemberList"></ul>
                </div>
            </div>
        </div>

    </div>

        <!--往期弹出菜单-->
        <div id="poolList" class="mui-popover">
            <div class="mui-popover-arrow"></div>
            <div class="page-header border-b">
                <span class="course wd36">
                    <strong>选择往期奖池</strong>
                </span>
            </div>
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-table-view list poolList">
                    </ul>
                    <ul class="mui-pager">
                        <li>
                            <a href="#" class="prev_page">上一页</a>
                        </li>
                        <li>
                            <span class="currPage">0</span>/
                            <span class="totalPage">0</span>
                        </li>
                        <li>
                            <a href="#" class="next_page">下一页</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>

        //弹出框滚动必须写在mui专用的初始化
        (function ($) {
            $(".mui-scroll-wrapper").scroll({
                indicators: true //是否显示滚动条,默认是true
            });
            // 关闭弹出菜单
            $("body").on('tap', '.mui-backdrop', function () {
                mui(".mui-popover.mui-active").popover("toggle");
            })
        })(mui);

         mui("body").on("tap", "a", function () {
            window.top.location.href = this.href;
        });
        var group_id = "{$groupInfo.id}"
        var member = "{$memberInfo.member}"
        var member_id = "{$memberInfo.id}"
        var pool_id = "{$poolInfo.id}"


        var getTab = wooApi.GetQueryString('tab');
        if(getTab=="groupPunch"){
            $(".mui-control-item").removeClass("mui-active");
            $("#tGroupPunch").addClass("mui-active");
            $(".mui-control-content").removeClass("mui-active");
            $("#groupPunch").addClass("mui-active");
        }

        $(function () {

            //初始化全局变量
            var mCount = 1;
            var gCount = 1;

            /////////////////////////////////////////////////////////////////往期奖池列表
            var pagePool = 1;
            //页面加载上运行一次获取列表
            toPoolList(1)

            //领队粉丝弹出框页码控制
            $("ul.poolList").on('tap', '.next_page', function () {
                var getTotalPage = $("ul.poolList .totalPage").text();
                pagePool++;
                if (pagePool > getTotalPage) {
                    mui.toast("已经最后一页了");
                    pagePool = getTotalPage;
                } else {
                    toPoolList(pagePool);
                }
            })
            $("ul.poolList").on('tap', '.prev_page', function () {
                pagePool--;
                if (pagePool < 1) {
                    mui.toast("已经是第一页了");
                    pagePool = 1;
                } else {
                    toPoolList(pagePool);
                }
            })
            ///////////////////////////////////////////////////////////////

            mui('#memberPunch').pullRefresh({
                down: {
                    //下拉刷新
                    height: 50,//可选.默认50.触发下拉刷新拖动距离
                    auto: true,//可选,默认false.自动下拉刷新一次
                    contentdown: "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                    contentover: "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                    contentrefresh: "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                    callback: pulldownRefreshM
                },
                up: {
                    //上拉加载
                    height: 150,//可选.默认50.触发上拉加载拖动距离
                    //auto:true,//可选,默认false.自动上拉加载一次
                    contentrefresh: '正在加载...',
                    contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                    callback: pullupRefreshM
                }
            });

            mui('#groupPunch').pullRefresh({
                down: {
                    //下拉刷新
                    height: 50,//可选.默认50.触发下拉刷新拖动距离
                    auto: true,//可选,默认false.自动下拉刷新一次
                    contentdown: "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                    contentover: "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                    contentrefresh: "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                    callback: pulldownRefreshG
                },
                up: {
                    //上拉加载
                    height: 150,//可选.默认50.触发上拉加载拖动距离
                    //auto:true,//可选,默认false.自动上拉加载一次
                    contentrefresh: '正在加载...',
                    contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                    callback: pullupRefreshG
                }
            });

            //下拉刷新具体业务实现
            function pulldownRefreshM() {
                setTimeout(function () {
                    mCount = 1;//刷新并显示第一页
                    var page = mCount;
                    var gType = 1;//代表下拉刷新
                    toMemberList(member_id, page, gType);//具体取数据的方法
                }, 100);
            }
            //上拉加载具体业务实现
            function pullupRefreshM() {
                setTimeout(function () {
                    mCount++;//翻下一页
                    var page = mCount;
                    var gType = 2;//代表上拉加载
                    toMemberList(member_id, page, gType);//具体取数据的方法
                }, 100);
            }

            //下拉刷新具体业务实现
            function pulldownRefreshG() {
                setTimeout(function () {
                    gCount = 1;//刷新并显示第一页
                    var page = gCount;
                    var gType = 1;//代表下拉刷新
                    toGroupList(page, gType);//具体取数据的方法
                }, 100);
            }
            //上拉加载具体业务实现
            function pullupRefreshG() {
                setTimeout(function () {
                    gCount++;//翻下一页
                    var page = gCount;
                    var gType = 2;//代表上拉加载
                    toGroupList(page, gType);//具体取数据的方法
                }, 100);
            }

            //接口获取数据并追加到页面
            var toMemberList = function (member_id,page, gType) {
                //搜索关键字不能完全为空，否则查询为空
                var url = "{:url('api/punch/getGroupPunchListByPageApi','','',true)}" + '/?page=' + page;
                mui.ajax({
                    url: url,
                    data: {
                        group_id: group_id,
                        pool_id:pool_id,
                        member_id: member_id
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data)
                        var newli = '';
                        if (data.code == 200) {
                            for (var i = 0; i <= data.data.data.length - 1; i++) {
                                var urls = "{:url('punch/punchInfo')}/" + 'punch_id/' + data.data.data[i].punch.id + '/?punch=info';
                                newli += ' <li class="mui-table-view-cell mui-media listli"><a href="' + urls + '" class="mui-navigate-right">';
                                newli += '<img class="mui-media-object mui-pull-left" src="' + data.data.data[i].punch.image_url + '"><div class="mui-media-body wd f16"><text style="font-weight: bold;">' + data.data.data[i].punch.name + '</text>';
                                newli += '<p class="lineHeight20"><i class="icon iconfont icon-activity-Startingtim colororange f14"></i>' + data.data.data[i].punch.punch_time + ' &nbsp;打卡金<text class="colororange">' + data.data.data[i].punch.stakes + '</text> &nbsp;打赏<text class="colororange">' + data.data.data[i].punch.rewards_money + '</text></p>';
                                newli += '</div></a></li>'
                            }
                            $(".memberBadge").text(data.data.total)
                        }
                        if (gType == 1) {
                            //上拉刷新
                            $("ul.memberPunchList").empty().append(newli);
                            mui('#memberPunch').pullRefresh().endPulldownToRefresh();
                            mui('#memberPunch').pullRefresh().refresh(true);
                            if (newli == '') {
                                $("ul.memberPunchList").html('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>'+member+'本期还没打卡哦</p></li>');
                            }
                        } else {
                            //下拉加载 gType==2
                            $("ul.memberPunchList").append(newli);
                        }
                        if (newli != '') {
                            mui('#memberPunch').pullRefresh().endPullupToRefresh(false);
                        } else {
                            mui('#memberPunch').pullRefresh().endPullupToRefresh(true);
                        }

                    },
                    error: function (xhr, type, errerThrown) {
                        mui.toast('网络异常,请稍候再试');
                        mui('#memberPunch').pullRefresh().endPullupToRefresh(true);
                    }
                });
            };


            //接口获取数据并追加到页面
            var toGroupList = function (page, gType) {
                //搜索关键字不能完全为空，否则查询为空
                var member_id = "{$memberInfo.id}"
                var url = "{:url('api/pool/getPoolPunchsApi','','',true)}" + '/?page=' + page;
                mui.ajax({
                    url: url,
                    data: {
                        group_id: group_id,
                        pool_id: pool_id
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data)
                        var newli = '';
                        var pCount = 0;
                        if (data.code == 200) {
                            for (var i = 0; i <= data.data.length - 1; i++) {
                                var urls = "{:url('punch/punchInfo')}/" + 'punch_id/' + data.data[i].id + '/?punch=info';
                                newli += ' <li class="mui-table-view-cell mui-media listli"><a href="javascript:;" class="mui-navigate-right" data-memberName=' + data.data[i].member + ' data-mid=' + data.data[i].member_id + '>';
                                newli += '<img class="mui-media-object mui-pull-left img45" src="' + data.data[i].avatar + '"><div class="mui-media-body wd"><strong>' + data.data[i].member + '</strong>';
                                if(data.data[i].c_id==null){
                                    pCount = 0
                                }else{
                                    pCount = data.data[i].c_id
                                }
                                newli += '<p class="mui-pull-right"><text class="colororange">' + pCount + '</text></p>';
                                newli += '</div></a></li>'
                            }
                        }
                        if (gType == 1) {
                            //上拉刷新
                            $("ul.groupMemberList").empty().append(newli);
                            mui('#groupPunch').pullRefresh().endPulldownToRefresh();
                            mui('#groupPunch').pullRefresh().refresh(true);
                            if (newli == '') {
                                $("ul.groupMemberList").html('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>');
                            }
                        } else {
                            //下拉加载 gType==2
                            $("ul.groupMemberList").append(newli);
                        }
                        if (newli != '') {
                            mui('#groupPunch').pullRefresh().endPullupToRefresh(false);
                        } else {
                            mui('#groupPunch').pullRefresh().endPullupToRefresh(true);
                        }

                    },
                    error: function (xhr, type, errerThrown) {
                        mui.toast('网络异常,请稍候再试');
                        mui('#groupPunch').pullRefresh().endPullupToRefresh(true);
                    }
                });
            };


            //点击群员链接替换个人卡tab内容
            $(".groupMemberList").on("tap", "a", function () {
                member_id = $(this).attr("data-mid");
                member = $(this).attr("data-memberName");
                mCount = 1;//刷新并显示第一页
                toMemberList(member_id, mCount, 1);//具体取数据的方法
                //setTimeout(function(){
                    $(".memberName").text(member)
                    $(".mui-control-item").removeClass("mui-active");
                    $("#tMemberPunch").addClass("mui-active");
                    $(".mui-control-content").removeClass("mui-active");
                    $("#memberPunch").addClass("mui-active");
                //},1000);
            });

        });

            //接口获取数据并追加到页面
            var toPoolList = function (page) {

                //搜索关键字不能完全为空，否则查询为空
                var url = "{:url('api/pool/getPoolListApi','','',true)}" + '/?page=' + page;
                var group_id = "{$groupInfo.id}"
                mui.ajax({
                    url: url,
                    data: {
                        group_id: group_id
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {

                        if (data.code == 200) {
                            var newli = '';
                            for (var i = 0; i <= data.data.length - 1; i++) {
                               var urls = "{:url('group/groupMemberPunch')}" + '/group_id/' + data.data[i].group_id + '/pool_id/' + data.data[i].id;
                                newli += '<li class="mui-table-view-cell mui-media listli">';
                                newli += '<a href="' + urls + '" class="mui-navigate-right"><label>第'+data.data[i].season+ '期 - ' + data.data[i].pool + '</label>';
                                if (data.data[i].status == 1) {
                                    newli += '<font class="tipCorner bgorange">未开启</font>';
                                } else if (data.data[i].status == 2) {
                                    newli += '<font class="tipCorner bgred">进行中</font>';
                                } else if (data.data[i].status == -1) {
                                    newli += '<font class="tipCorner bggray">已结束</font>';
                                } else if (data.data[i].status == -2) {
                                    newli += '<font class="tipCorner bggray">已终止</font>';
                                }
                                newli += '</li>';
                            }
                            $("ul.poolList").empty();
                            if (newli == '') {
                                newli = '<li class="nodata"><i class="icon iconfont icon-hothome-trainingpoi"></i><p>没有查找到数据哦</p></li>'
                            }
                            $("ul.poolList").append(newli);
                            $("ul.poolList .currPage").text(data.data.current_page);
                            $("ul.poolList .totalPage").text(data.data.last_page);
                        } else {
                            mui.toast('数据获取失败,请稍候再试');
                        }
                    },
                    error: function (xhr, type, errerThrown) {
                        mui.toast('网络异常,请稍候再试');
                    }
                });
            };

    </script>
</body>

</html>