<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>社群详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--自定义多色图标icon.js-->
    <script src="/static/frontend/iconfont/iconfont.js"></script>
    <style>
        .coloricon {
            width: 2.3em;
            height: 2.3em;
            vertical-align: -0.7em;
            fill: currentColor;
            overflow: hidden;
        }

        .bottomButton {
            margin: 40px 0;
        }

        .bottomButton .aBtn {
            padding: 9px 30px;
            font-size: 14px;
            border-radius: 3px;
        }

        .mui-grid-view.mui-grid-9 .mui-table-view-cell {
            border: none;
        }
    </style>
</head>

<body>
    <header class="mui-bar mui-bar-transparent">
        <a href="{:url('group/index')}" class="mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <!-- <h1 class="mui-title">社群详情</h1> -->
    </header>

    <div class="mui-content">
        <div class="list mb44">
            <div class="img4x3" style="background-image:url('/static/frontend/images/sport.jpg');padding-bottom: 31%"></div>
            <ul class="mui-table-view borderStyle" style="margin-top: 3px;">
                <li class="mui-table-view-cell listli" id="logoframe">
                    <div class="mui-media-body  wd66">
                        <strong class="f16 tmName">{$groupInfo.group}</strong>
                        <img class="mui-media-object mui-pull-left logostyle" src="{$groupInfo.logo}" style="width:60px !important;height:60px !important;margin-top:5px">
                        <p class="mui-ellipsis lineHeight20">发起人：{$groupInfo.member}</p>
                        <p class="mui-ellipsis lineHeight20">成员:
                            <text class="colororange">{$groupInfo.members}</text>
                        </p>
                    </div>
                    <div class="price-frame">
                        <button class="mui-btn bgred joinGroup" style="margin-top:26px">加入</button>
                        <a href="{:url('group/groupEdit',['group_id'=>$groupInfo.id])}">
                            <button class="mui-btn bgred groupAdmin hide" style="margin-top:26px">管理</button>
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-opponent colororange"></span>上期擂主：
                        <text class="colororange winer">{volist name="winnerList" id="vol" empty="暂无擂主"}{$vol.winner},{/volist}</text>
                    </label>
                    <span class="wd25 pdr15 mui-navigate-right">
                        <!-- 往届 -->
                        <a href="{:url('group/poolWinnerList',['group_id'=>$groupInfo.id])}">往届</a>
                    </span>
                </li>
            </ul>


            <ul class="mui-table-view whitebg" style="border-bottom: 1px solid #f5f5f5;">
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-opponent colororange"></span>本期打卡
                    </label>
                    <span class="wd25 pdr15 mui-navigate-right">
                        <a href="{:url('group/groupTenet',['group_id'=>$groupInfo.id])}" class="mui-navigate-right" style="font-size: 13px;">社群规则</a>
                    </span>
                </li>
            </ul>

            <div class="nav-list borderStyle">
                <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm4">
                        <a href="{:url('group/groupMemberPunch',['group_id'=>$groupInfo.id])}">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-punch-Personal"></use>
                            </svg>
                            <span class="f14" style="display: block;">个人</span>
                            <div class="mui-media-body f18 colororange" style="margin-top: 2px;">{$totalPunch}</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="{:url('group/groupMemberList',['group_id'=>$groupInfo.id])}">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-punch-masses"></use>
                            </svg>
                            <span class="f14" style="display: block;">社群</span>
                            <div class="mui-media-body f18 colororange" style="margin-top: 2px;">{$membersPunch}</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="" class="createPool">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-punch-bonuspool"></use>
                            </svg>
                            <span class="f14" style="display: block;">奖金池</span>
                            <div class="mui-media-body f18 colororange" style="margin-top: 2px;">{$totalBonus}</div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="page-header">
                <span class="course">
                    打卡记录
                </span>
                <span class="more pdr15">
                    <a href="{:url('punch/punchList')}/?group_id={$groupInfo.id}" class="mui-navigate-right">更多</a>
                </span>
            </div>
            <ul class="mui-table-view mb punchList"></ul>

            <p class="mui-text-center f12 mt55" style="margin-top: 20px">需要退出社群? 请点击 |
                <text class="outGroup colororange">退出</text>
            </p>

            <!--底部操作-->
            <ul class="mui-table-view operation  initialBottom">
                <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                    <a href="{$homeurl}">
                        <span class="mui-icon icon iconfont icon-nav-Home"></span>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-2 mui-col-sm-2 opli ">
                    <a href="#shareGuide">分享</a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-8 mui-col-sm-8 opli bgred">
                    <a href="{:url('punch/createPunch')}/?group_id={$groupInfo.id}" class="createPunch">打卡</a>
                </li>
            </ul>
            <ul class="mui-table-view operation otherBottom hide">
                <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                    <a href="{$homeurl}">
                        <span class="mui-icon icon iconfont icon-nav-Home"></span>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-10 mui-col-sm-10 opli ">
                    <a href="#shareGuide">分享</a>
                </li>
            </ul>

        </div>
    </div>
    <!--分享-->
    <div id="shareGuide" class="mui-popover">
        <div class="shareGuideText">1、点击右上角的
            <span class="shareEllipsis">···</span>
            <img src="/static/frontend/images/esp.png" alt="">
        </div>
        <div class="shareGuideText">2、选择发送给朋友或分享到朋友圈</div>
    </div>
    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });
        var count = 1;
        var group_member = "{$groupInfo.member}";
        var member = "{$memberInfo.member}";
        var member_id = "{$memberInfo.id}";
        var group_id = "{$groupInfo.id}";
        var group_member_id = "{$groupInfo.member_id}";
        var avatar = "{$memberInfo.avatar}";
        var id = "{$id}"; //是否在社群内，是则id有值，否则为空
        $(function () {

            // 打卡提示
            $(".createPunch").on("tap", function () {
                if (group_member != member && "{$nowPool.status}" != 2) {
                    $(this).attr("href", "javascript:;");
                    mui.alert("该群还未设置打卡规则,暂不能在该群打卡");
                    return false;
                } else if (group_member == member && "{$nowPool.status}" != 2) {
                    $(this).attr("href", "javascript:;");
                    var btnArray = ['取消', '前往'];
                    mui.confirm('该群还未设置打卡规则,请前往创建', '提示', btnArray, function (e) {
                        if (e.index == 1) {
                            window.location.href = "{:url('group/createPool')}" + '/group_id/' + "{$groupInfo.id}";
                        }
                    })
                }
            });


            // 判断是否可以创建奖金池
            $(".createPool").on("tap", function () {
                if (group_member != member) {
                    mui.toast("只有社群群主才能创建奖金池");
                    return false;
                }
            });
            if (group_member != member) {
                $(".createPool").attr("href", "javascript:;");
                return false;
            } else {
                $(".createPool").attr("href", "{:url('group/poolList',['group_id'=>$groupInfo.id])}");
            }

            var groupIndex = wooApi.GetQueryString('groupIndex');
            if (groupIndex == "otherGroup") {
                $(".initialBottom").hide();
                $(".otherBottom").show();
            }

            // 判断底部按钮退出与管理 
            if (id != '' && group_member != member) {
                $(".outGroup").show();
                $(".joinGroup").hide();
            } else if (id != '' && group_member == member) {
                $(".groupAdmin").show();
                $(".joinGroup").hide();
            } else if (id == '' && group_member == member) {
                $(".groupAdmin").show();
            }

            // 加入社群
            $(".joinGroup").on("tap", '', function () {
                mui.ajax("{:url('api/group_apply/createGroupApplyApi')}", {
                    data: {
                        member: member,
                        member_id: member_id,
                        avatar: avatar,
                        group_id: group_id
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            mui.toast("申请加入成功，待管理员审核...");
                        } else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            //退出社群
            $(".outGroup").on('tap', function () {
                mui.confirm("确认退出社群？", "提示", function (e) {
                    if (e.index == 1) {
                        mui.ajax("{:url('api/group/dropGroup')}", {
                            data: {
                                id: id,
                                member_id: member_id,
                                group_id: group_id,
                            },
                            dataType: 'json',//服务器返回json格式数据
                            type: 'post',//HTTP请求类型
                            timeout: 10000,//超时时间设置为10秒；
                            headers: { 'Content-Type': 'application/json' },
                            success: function (data) {
                                console.log(data);
                                if (data.code == 200) {
                                    mui.toast(data.msg);

                                    window.setTimeout("window.location.href='{:url('group/index')}'", 1500);
                                } else {
                                    mui.toast(data.msg);
                                }
                            },
                            error: function (xhr, type, errorThrown) {
                                //异常处理；
                                console.log(type);
                            }
                        });
                    }
                })
            })



            toPunchList(); //获取我的打卡记录列表
        })

        //下拉刷新具体业务实现
        function pulldownRefresh() {
            setTimeout(function () {
                count = 1;//刷新并显示第一页
                var page = count;
                var gType = 1;//代表下拉刷新
                toPunchList(page, gType);//具体取数据的方法
            }, 100);
        }
        //上拉加载具体业务实现
        function pullupRefresh() {
            setTimeout(function () {
                count++;//翻下一页
                var page = count;
                var gType = 2;//代表上拉加载
                toPunchList(page, gType);//具体取数据的方法
            }, 100);
        }
        //获取我的打卡记录列表
        function toPunchList(page, gType) {
            var url = "{:url('api/punch/getGroupPunchListByPageApi','','',true)}";
            mui.ajax({
                url: url,
                data: {
                    page: page,
                    group_id: group_id
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var newli = "";
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.data.length - 1; i++) {
                            var urls = "{:url('punch/punchInfo')}/" + 'punch_id/' + data.data.data[i].id + '/?punch=info';
                            newli += ' <li class="mui-table-view-cell mui-media listli"><a href="' + urls + '" class="mui-navigate-right">';
                            newli += '<img class="mui-media-object mui-pull-left" src="' + data.data.data[i].punch.image_url + '"><div class="mui-media-body wd f16"><text style="font-weight: bold;">' + data.data.data[i].punch.name + '</text>';
                            newli += '<p class="lineHeight20"><i class="icon iconfont icon-activity-Startingtim colororange f14"></i>' + data.data.data[i].punch.punch + ' &nbsp;打卡金<text class="colororange">' + data.data.data[i].punch.stakes + '</text> &nbsp;打赏<text class="colororange">' + data.data.data[i].punch.rewards_money + '</text></p>';
                            newli += '</div></a></li>'
                        }
                        if (newli == '') {
                            $("ul.punchList").html('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>');
                        }
                    }

                    if (gType == 1) {
                        //上拉刷新
                        $("ul.punchList").empty().append(newli);
                    } else {
                        //下拉加载 gType==2
                        $("ul.punchList").append(newli);
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

    </script>
    <script>
        wx.config({
            //debug: true,
            appId: "{$jsapi['appId']}",
            timestamp: "{$jsapi['timestamp']}",
            nonceStr: "{$jsapi['nonceStr']}",
            signature: "{$jsapi['signature']}",
            jsApiList: [
                // 所有要调用的 API 都要加到这个列表中
                'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ'
            ]
        });
        wx.ready(function () {
            // 分享到朋友圈
            wx.onMenuShareTimeline({
                title: "{$groupInfo.group}",
                link: "{$shareurl}/pid/{$mid}",
                imgUrl: "{:request()->root(true)}{$groupInfo.logo}",
                success: function () { },
                cancel: function () { }
            });
            // 分享给朋友
            wx.onMenuShareAppMessage({
                title: "{$groupInfo.group}",
                desc: "{$groupInfo.tenet}",
                link: "{$shareurl}/pid/{$mid}",
                imgUrl: "{:request()->root(true)}{$groupInfo.logo}",
                type: "",
                dataUrl: '',
                success: function () { },
                cancel: function () { }
            });

        });
    </script>
</body>

</html>