<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$groupInfo.group}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .for-tab{ background-color: #efeff4;}
        .sheader{ padding: 8px 15px !important;}
        .sheader span{ line-height: 24px; }
        #groupPunch img { width: 45px !important; height: 45px !important; }
        #groupPunch .list .listli .mui-media-body { line-height: 42px; }
        #groupPunch .colororange { font-size: 16px; }
        .mui-badge { margin-left: 10px; }
        .mui-segmented-control .fr { margin-right: 15px; color: #999; }

    </style>
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav for-tab">
        <ul class="mui-table-view detalis-list">
            <li class="listli sheader mui-clearfix">
                <a class="mui-pull-left mui-icon mui-icon-left-nav" href="{:url('group/groupInfo',['group_id'=>$groupInfo.id])}"></a>
                <span class="mui-pull-right title-name">第 {$poolInfo.season} 期 - {$poolInfo.pool}</span>
            </li>
        </ul>
        <div class="camp-lesson-list mb mt">
            <div id="segmentedControl" class="mui-segmented-control">
                <a class="mui-control-item mui-active" href="#memberPunch" id="tMemberPunch">个人 <text class="memberBadge">0 </text>卡</a>
                <a class="mui-control-item" href="#groupPunch" id="tGroupPunch">群员 <text class="groupBadge">0</text> 卡</a>
            </div>
        </div>
    </header>

    <div class="mui-content">

        <div class="tab-pullRefresh">
            <div id="memberPunch" class="mui-scroll-wrapper mui-control-content mui-active" style="top:88px;">
                <div class="mui-scroll">
                    <ul class="mui-table-view detalis-list list border-b memberPunchList"></ul>
                </div>
            </div>
            <div id="groupPunch" class="mui-scroll-wrapper mui-control-content" style="top:88px;">
                <div class="mui-scroll">
                    <ul class="mui-table-view detalis-list list border-b groupMemberList"></ul>
                </div>
            </div>
        </div>

    </div>
    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>
         mui("body").on("tap", "a", function () {
            window.top.location.href = this.href;
        });
        var group_id = "{$groupInfo.id}"
        var member_id = "{$memberInfo.id}"
        var pool_id = "{$poolInfo.id}"


        var getTab = wooApi.GetQueryString('tab');
        if(getTab=="groupPunch"){
            $(".mui-control-item").removeClass("mui-active");
            $("#tGroupPunch").addClass("mui-active");
            $(".mui-control-content").removeClass("mui-active");
            $("#groupPunch").addClass("mui-active");
        }

        $(function () {

            //初始化全局变量
            var mCount = 1;
            var gCount = 1;


            mui('#memberPunch').pullRefresh({
                down: {
                    //下拉刷新
                    height: 50,//可选.默认50.触发下拉刷新拖动距离
                    auto: true,//可选,默认false.自动下拉刷新一次
                    contentdown: "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                    contentover: "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                    contentrefresh: "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                    callback: pulldownRefreshM
                },
                up: {
                    //上拉加载
                    height: 150,//可选.默认50.触发上拉加载拖动距离
                    //auto:true,//可选,默认false.自动上拉加载一次
                    contentrefresh: '正在加载...',
                    contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                    callback: pullupRefreshM
                }
            });

            mui('#groupPunch').pullRefresh({
                down: {
                    //下拉刷新
                    height: 50,//可选.默认50.触发下拉刷新拖动距离
                    auto: true,//可选,默认false.自动下拉刷新一次
                    contentdown: "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                    contentover: "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                    contentrefresh: "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                    callback: pulldownRefreshG
                },
                up: {
                    //上拉加载
                    height: 150,//可选.默认50.触发上拉加载拖动距离
                    //auto:true,//可选,默认false.自动上拉加载一次
                    contentrefresh: '正在加载...',
                    contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                    callback: pullupRefreshG
                }
            });

            //下拉刷新具体业务实现
            function pulldownRefreshM() {
                setTimeout(function () {
                    mCount = 1;//刷新并显示第一页
                    var page = mCount;
                    var gType = 1;//代表下拉刷新
                    toMemberList(member_id, page, gType);//具体取数据的方法
                }, 100);
            }
            //上拉加载具体业务实现
            function pullupRefreshM() {
                setTimeout(function () {
                    mCount++;//翻下一页
                    var page = mCount;
                    var gType = 2;//代表上拉加载
                    toMemberList(member_id, page, gType);//具体取数据的方法
                }, 100);
            }

            //下拉刷新具体业务实现
            function pulldownRefreshG() {
                setTimeout(function () {
                    gCount = 1;//刷新并显示第一页
                    var page = gCount;
                    var gType = 1;//代表下拉刷新
                    toGroupList(page, gType);//具体取数据的方法
                }, 100);
            }
            //上拉加载具体业务实现
            function pullupRefreshG() {
                setTimeout(function () {
                    gCount++;//翻下一页
                    var page = gCount;
                    var gType = 2;//代表上拉加载
                    toGroupList(page, gType);//具体取数据的方法
                }, 100);
            }

            //接口获取数据并追加到页面
            var toMemberList = function (member_id,page, gType) {
                //搜索关键字不能完全为空，否则查询为空
                var url = "{:url('api/punch/getGroupPunchListByPageApi','','',true)}" + '/?page=' + page;
                mui.ajax({
                    url: url,
                    data: {
                        group_id: group_id,
                        pool_id:pool_id,
                        member_id: member_id
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data)
                        var newli = '';
                        if (data.code == 200) {
                            for (var i = 0; i <= data.data.data.length - 1; i++) {
                                var urls = "{:url('punch/punchInfo')}/" + 'punch_id/' + data.data.data[i].id + '/?punch=info';
                                newli += ' <li class="mui-table-view-cell mui-media listli"><a href="' + urls + '" class="mui-navigate-right">';
                                newli += '<img class="mui-media-object mui-pull-left" src="' + data.data.data[i].punch.image_url + '"><div class="mui-media-body wd f16"><text style="font-weight: bold;">' + data.data.data[i].punch.name + '</text>';
                                newli += '<p class="lineHeight20"><i class="icon iconfont icon-activity-Startingtim colororange f14"></i>' + data.data.data[i].punch.punch + ' &nbsp;打卡金<text class="colororange">' + data.data.data[i].punch.stakes + '</text> &nbsp;打赏<text class="colororange">' + data.data.data[i].punch.rewards_money + '</text></p>';
                                newli += '</div></a></li>'
                            }
                        }
                        if (gType == 1) {
                            //上拉刷新
                            $("ul.memberPunchList").empty().append(newli);
                            mui('#memberPunch').pullRefresh().endPulldownToRefresh();
                            mui('#memberPunch').pullRefresh().refresh(true);
                            if (newli == '') {
                                $("ul.memberPunchList").html('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>');
                            }
                        } else {
                            //下拉加载 gType==2
                            $("ul.memberPunchList").append(newli);
                        }
                        if (newli != '') {
                            mui('#memberPunch').pullRefresh().endPullupToRefresh(false);
                        } else {
                            mui('#memberPunch').pullRefresh().endPullupToRefresh(true);
                        }

                    },
                    error: function (xhr, type, errerThrown) {
                        mui.toast('网络异常,请稍候再试');
                        mui('#memberPunch').pullRefresh().endPullupToRefresh(true);
                    }
                });
            };


            //接口获取数据并追加到页面
            var toGroupList = function (page, gType) {
                //搜索关键字不能完全为空，否则查询为空
                var member_id = "{$memberInfo.id}"
                var url = "{:url('api/pool/getPoolPunchsApi','','',true)}" + '/?page=' + page;
                mui.ajax({
                    url: url,
                    data: {
                        group_id: group_id,
                        pool_id: pool_id
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data)
                        var newli = '';
                        var pCount = 0;
                        if (data.code == 200) {
                            for (var i = 0; i <= data.data.length - 1; i++) {
                                var urls = "{:url('punch/punchInfo')}/" + 'punch_id/' + data.data[i].id + '/?punch=info';
                                newli += ' <li class="mui-table-view-cell mui-media listli"><a href="' + urls + '" class="mui-navigate-right">';
                                newli += '<img class="mui-media-object mui-pull-left img45" src="' + data.data[i].avatar + '"><div class="mui-media-body wd"><text style="font-weight: bold;">' + data.data[i].member + '</text>';
                                if(data.data[i].c_id==null){
                                    pCount = 0
                                }else{
                                    pCount = data.data[i].c_id
                                }
                                newli += '<p class="mui-pull-right"><text class="colororange">' + pCount + '</text></p>';
                                newli += '</div></a></li>'
                            }
                        }
                        if (gType == 1) {
                            //上拉刷新
                            $("ul.groupMemberList").empty().append(newli);
                            mui('#groupPunch').pullRefresh().endPulldownToRefresh();
                            mui('#groupPunch').pullRefresh().refresh(true);
                            if (newli == '') {
                                $("ul.groupMemberList").html('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>');
                            }
                        } else {
                            //下拉加载 gType==2
                            $("ul.groupMemberList").append(newli);
                        }
                        if (newli != '') {
                            mui('#groupPunch').pullRefresh().endPullupToRefresh(false);
                        } else {
                            mui('#groupPunch').pullRefresh().endPullupToRefresh(true);
                        }

                    },
                    error: function (xhr, type, errerThrown) {
                        mui.toast('网络异常,请稍候再试');
                        mui('#groupPunch').pullRefresh().endPullupToRefresh(true);
                    }
                });
            };

        });

    </script>
</body>

</html>