<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>打卡规则详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--自定义多色图标icon.js-->
    <script src="/static/frontend/iconfont/iconfont.js"></script>
    <style>
        .coloricon {
            width: 2.3em;
            height: 2.3em;
            vertical-align: -0.7em;
            fill: currentColor;
            overflow: hidden;
        }

        .bottomButton {
            margin: 40px 0;
        }

        .bottomButton .aBtn {
            padding: 9px 30px;
            font-size: 14px;
            border-radius: 3px;
        }
    </style>
</head>

<body>
    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">打卡规则</h1>
    </header>

    <div class="mui-content">
        <div class="list mb44">

            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-opponent colororange"></span>奖金池名称
                    </label>
                    <span class="wd60">{$poolInfo.group}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-Quantity colororange"></span>打卡人数
                    </label>
                    <span class="colororange" style="width: 8%">人</span>
                    <span class="wd60">{$poolInfo.members}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-opponent colororange"></span>奖金池金额
                    </label>
                    <span class="colororange" style="width: 8%">HT</span>
                    <span class="wd45">{$poolInfo.bonus}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-opponent colororange"></span>奖金分配
                    </label>
                    <span class="wd60">
                            {if ($poolInfo.third_scale==0||$poolInfo.third_scale==null) && ($poolInfo.second_scale==0||$poolInfo.second_scale==null)}
                                奖励第一名
                            {elseif ($poolInfo.third_scale==0||$poolInfo.third_scale==null) && $poolInfo.second_scale>0}
                                奖励前二名（奖金比例 {$poolInfo.first_scale}:{$poolInfo.second_scale}）
                            {else/}
                                奖励前三名（奖金比例 {$poolInfo.first_scale}:{$poolInfo.second_scale}:{$poolInfo.third_scale}）
                            {/if}
                    </span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-Contact colororange"></span>擂主
                    </label>
                    <span class="wd60"></span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-opponent colororange"></span>每次打卡金额
                    </label>
                    <span class="colororange" style="width: 8%">HT</span>
                    <span class="wd45">{$poolInfo.stake}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-opponent colororange"></span>个人每天打卡上限
                    </label>
                    <span class="colororange" style="width: 8%">次</span>
                    <span class="wd45">{$poolInfo.times}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-Startingtim colororange"></span>开始时间
                    </label>
                    <span class="wd60">{$poolInfo.start}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-EndTime colororange"></span>结束时间
                    </label>
                    <span class="wd60">{$poolInfo.end}</span>
                </li>
            </ul>

        </div>
    </div>

    <ul class="mui-table-view operation">
        {if $poolInfo.members==0}
        <li class="mui-table-view-cell mui-col-xs-12 mui-col-sm-12 opli bggreen">
            <a href="{:url('group/poolEdit',['group_id'=>$poolInfo.group_id])}">修改打卡规则</a>
        </li>
        {else/}
        <li class="mui-table-view-cell mui-col-xs-12 mui-col-sm-12 opli bggray">
            已有打卡记录，不允许修改
        </li>
        {/if}
    </ul>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });
    </script>
</body>

</html>