<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>创建球队</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .mui-input-row a {
            display: table;
            width: 100%;
        }

        .role {
            margin: 0;
            direction: inherit !important;
            color: #737373
        }
        .tip{
            color: red;
            font-size: 22px;
            vertical-align: -webkit-baseline-middle;
        }
    </style>
</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow">
            <span class="return">返回</span>
        </a>
    </header>

    <div class="mui-content pt">

        <input type="hidden" name="__token__" class="data" value="{$Request.token}" />
        <input type="hidden" name="member_id" class="data" value="-1" />
        <input type="hidden" name="type" class="data" value="3" />
        <input type="hidden" name="match_id" class="data" value="{$league_id}" />
        <input type="hidden" name="cover" class="data" value="/static/frontend/images/membercenter-bg.jpg" />

        <form action="" class="mui-input-group">

            <div class="mui-input-row">
                <label>球队名称</label>
                <input type="text" name="name" value="" class="data" placeholder="请填写球队名称">
            </div>
            <div class="mui-input-row h-auto">
                <a href="#txpopover" class="mui-navigate-right">
                    <label>球队徽标</label>
                    <div class="viewStyleSquare view img45" style="background-image: url('/static/frontend/images/basketball.jpg')"></div>
                    <input type="hidden" name="logo" value="" class="data">
                </a>
            </div>

            <!-- 队长信息 -->
            <div class="page-header bggray2">
                <span class="f14">必填（领队信息，认领球队时做验证使用）<i class="tip">*</i></span>
            </div>
            <div class="operation-box captainCont" style="padding:15px;">
                <div class="mui-input-row mui-checkbox checkboxCont">
                    <div class="mui-row mui-text-center f14" style="line-height: 41px;">
                        <div class="mui-col-xs-1 order">1</div>
                        <div class="mui-col-xs-3">
                            <input type="text" name="name" value="" placeholder="姓名" class="mui-text-center captainName">
                        </div>
                        <div class="mui-col-xs-2">
                            <select name="role" class="captainRole role" disabled>
                                <option value="6">领队</option>
                            </select>
                        </div>
                        <div class="mui-col-xs-5">
                            <input type="text" name="telephone" value="" class="mui-text-left captainTelephone"
                                placeholder="手机号码" class="mui-text-left">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 参赛队员信息 -->
            <div class="page-header bggray2">
                <span class="f14">选填（<text class="colororange">参赛队员</text>信息，如领队也参赛，也需要填写在下表中，手机号码供认领数据时做验证使用）</span>
            </div>
            <div class="operation-box teamMemberCont" style="padding:15px;">
                <div class="box">
                    <div class="mui-input-row mui-checkbox checkboxCont">
                        <div class="mui-row mui-text-center f14" style="line-height: 41px;">
                            <div class="mui-col-xs-1 order">1</div>
                            <div class="mui-col-xs-3">
                                <input type="text" name="name" value="" placeholder="姓名" class="mui-text-center relname">
                            </div>
                            <div class="mui-col-xs-2">
                                <select name="role" class="role" disabled>
                                    <option value="">队员</option>
                                </select>
                            </div>
                            <div class="mui-col-xs-5">
                                <input type="text" name="telephone" value="" class="mui-text-left captain" placeholder="手机号码"
                                    class="mui-text-left">
                            </div>
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="operation-btn">
                    <span class="mui-badge">0</span>
                    <a class="all">全选</a>
                    <a class="cancel">取消</a>
                    <a class="del">[删除]</a>
                    <a href="javascript:void(0);" class="mui-icon mui-icon-personadd addMember add"></a>
                </div>
            </div>

        </form>

        <div class="publicTip mb44">
            <p class="publicTitle">
                <img src="/static/frontend/images/hot.png" alt="">
                <strong class="f16">温馨提示</strong>
            </p>
            <div class="publicText">
                <p>1、球队名称必填，球队logo选填，队员信息可选填</p>
                <p>2、队长信息必填，供认领球队数据使用</p>
                <p>3、手机号码供球员认领数据使用</p>
            </div>
        </div>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-col-xs-12 opli bggreen" onclick="submitAction()">
                提交
            </li>
        </ul>
    </div>

    <!-- logo -->
    <div id="txpopover" class="mui-popover mui-popover-action mui-popover-bottom actionsheet">
        <div class="clipAreaStyle clipArea"></div>
        <div class="fileFrame">选择图片
            <input type="file" class="fileStyle file">
        </div>
        <button class="clipBtnStyle clipBtn">截取</button>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/libs/webuploader.min.js"></script>
    <script>
        var uploadApiUrl = "{:url('api/upload/imgwupload', ['usage' => 'team'])}";
    </script>
    <script src="/static/frontend/libs/webuploader.cert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/uploadcert.js?v=<?php echo time();?>"></script>
    <!--上传截图头像-->
    <script src="/static/plugins/cropper/hammer.min.js"></script>
    <script src="/static/plugins/cropper/iscroll-zoom-min.js"></script>
    <script src="/static/plugins/cropper/lrz.all.bundle.js"></script>
    <script src="/static/plugins/cropper/PhotoClip.js"></script>

    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });
        var flagPhone = false;
        $(function () {
            // 添加队员
            $(".addMember").on("tap", "", function () {
                var listLength = $(this).parents(".operation-btn").siblings(".box").find(
                    ".checkboxCont").length + 1;
                var str =
                    `<div class="mui-input-row mui-checkbox checkboxCont">
                        <div class="mui-row mui-text-center f14" style="line-height: 41px;">
                            <div class="mui-col-xs-1 order">${listLength}</div>
                            <div class="mui-col-xs-3">
                                <input type="text" name="name" value="" placeholder="姓名" class="mui-text-center relname">
                            </div>
                            <div class="mui-col-xs-2 mui-text-left" style="color:#737373" name="role">队员</div>
                            <div class="mui-col-xs-5">
                                <input type="text" name="telephone" value="" class="mui-text-left captain" placeholder="手机号码"
                                    class="mui-text-left">
                            </div>
                            <input type="checkbox">
                        </div>
                    </div>`;
                $(this).siblings(".mui-badge").text(listLength)
                $(".box").append(str);
            });

            //全选
            $(".all").on('tap', function () {
                $(".checkboxCont").find('input').prop('checked', true)
            })
            //取消全选
            $(".cancel").on('tap', function () {
                $(".checkboxCont").find('input').prop('checked', false)
            })
            //删除对阵信息
            $(document).on('tap', '.del', function () {
                var thisBox = $(this).parents(".operation-btn").siblings(".box")
                thisBox.find("input[type=checkbox]:checked").parents(
                    ".checkboxCont").remove();
                var i = 1;
                thisBox.find(".checkboxCont").each(function () { //循环checkboxCont
                    $(this).find(".order").text(i++); //更新序号
                });
                totalNum = thisBox.find(".checkboxCont").length;
                $(this).parents(".operation-btn").find(".mui-badge").text(totalNum);
            });


            // 判断手机号码不能重复
            // $(document).on("blur", "input[name=telephone]", function () {
            //     var numberCount = 0;
            //     var thisNumber = $(this).val();
            //     $(".checkboxCont input[name=telephone]").each(function () {
            //         if (thisNumber === $(this).val() && thisNumber !== '') {
            //             numberCount++;
            //         }
            //     });
            //     if (numberCount > 1) {
            //         mui.toast("手机号码不能重复");
            //         $(this).val('');
            //         $(this).focus();
            //         flagPhone = false;
            //         return false;
            //     } else {
            //         flagPhone = true
            //     }
            // });
        });
        // 获取数据并进行提交
        function submitAction() {

            var name = $("input[name=name]").val();
            var logo = $("input[name=logo]").val();
            var captainName = $(".captainCont .captainName").val()
            var captainRole = $(".captainCont .captainRole").val();
            var captainTelephone = $(".captainCont .captainTelephone").val();
            if (name == '') {
                mui.toast("请填写球队名称");
                return false;
            }
            if (logo == '') {
                $("input[name=logo]").val('/static/frontend/images/basketball.jpg');
            }
            if (captainName == '') {
                mui.toast("请填写队长（或领队）真实姓名");
                return false;
            }
            if (captainRole == '') {
                mui.toast("请选择职务");
                return false;
            }
            if (captainTelephone == '') {
                mui.toast("请填写队长（或领队）手机号码");
                return false;
            } else {
                if (!(/^1[34578]\d{9}$/).test(captainTelephone)) {
                    mui.toast("请输入正确的手机格式");
                    return isOk = false;
                };
            }

            var team_member_list = [];
            var team_member_role_list = [];
            var isOk = true //用变量记住状态
            // 队员信息判断
            $(".box .checkboxCont").each(function () {
                var name = $(this).find("input[name=name]").val();
                var telephone = $(this).find("input[name=telephone]").val();
                if (name == '' && telephone == '') {
                    $(this).remove();
                }
                if (telephone != '') {
                    if (!(/^1[34578]\d{9}$/).test(telephone)) {
                        mui.toast("请输入正确的手机格式");
                        return isOk = false;
                    };
                }
                if (name == '' && telephone != '') {
                    mui.toast("请输入队员真实姓名");
                    return isOk = false;
                }
            });
             // 提交数据
             $(".captainCont .checkboxCont").each(function () {
                var name = $(this).find("input[name=name]").val();
                var role = $(this).find(".role option:selected").val();
                var telephone = $(this).find("input[name=telephone]").val();
                team_member_role_list.push({
                    name,
                    role,
                    telephone
                })
            });
            if (!isOk) {
                return isOk
            }
            console.log(team_member_role_list)
            // 提交数据
            $(".teamMemberCont .checkboxCont").each(function () {
                var name = $(this).find("input[name=name]").val();
                var telephone = $(this).find("input[name=telephone]").val();
                var team_member_id = $(this).attr("data-team_member_id");
                team_member_list.push({
                    name,
                    telephone
                })
            });
            if (!isOk) {
                return isOk
            }
            console.log(team_member_list)
            
            var data = wooApi.getInputData('input', 'data');
            datas = wooApi.getInputData('select', 'data', data);
            // 获取其他标签值
            arrData = wooApi.getDomData('domData', datas);
            var objData = wooApi.arrTOobj(arrData);
            objData.team_member_list = JSON.stringify(team_member_list);
            objData.team_member_role_list = JSON.stringify(team_member_role_list);
            var url = "{:url('api/team/saveVirtualTeam')}";
            var ajaxResult = wooApi.asyncF(url, objData);
            if (ajaxResult.code == 200) {
                mui.alert(ajaxResult.msg, '球队创建成功', '确定', function () {
                    window.history.go(-1);
                })
            } else {
                mui.alert(ajaxResult.msg, '创建失败');
                mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                    if (data.code === 200) {
                        $('input[name=__token__]').val(data.data);
                    }
                }, 'json');
            }

        };
    </script>
    <script>
        var pc = new PhotoClip('.clipArea', {
            size: 260,
            outputSize: 640,
            file: '.file',
            view: '.view',
            ok: '.clipBtn',
            loadStart: function () {
                console.log('开始读取照片');
            },
            loadComplete: function () {
                console.log('照片读取完成');
            },
            done: function (dataURL) {
                console.log(dataURL);
                mui.post("{:url('api/upload/imgcropupload')}", {
                    dataurl: dataURL,
                    path: 'cert'
                }, function (res) {
                    console.log(res);
                    $("input[name=logo]").val(res.path)
                    mui("#txpopover").popover("toggle");
                }, 'json');
            },
            fail: function (msg) {
                alert(msg);
            }
        });
    </script>

</body>

</html>