<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>活动详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css" />
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
</head>

<body class=whitebg>

    <header id="header" class="mui-bar mui-bar-transparent">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
    </header>

    <div class="mui-content">
        <div class="list coach mt55">
            <div class="img4x3" style="background-image:url('{$eventInfo.cover}')"></div>

            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell mui-media listli">
                    <a href="javascript:;">
                        <div class="mui-media-body wd52">
                            <strong>{$eventInfo.event}</strong>
                            <p class="mui-ellipsis">{$eventInfo.event_type}</p>
                        </div>
                        <div class="price-frame f18 rightLocation">{$eventInfo.team}</div>
                    </a>
                </li>
            </ul>

            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli">
                    <label>开始时间</label>
                    <span>{$eventInfo.start_time}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>结束时间</label>
                    <span>{$eventInfo.end_time}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>所属地区</label>
                    <span>{$eventInfo.province} {$eventInfo.city} {$eventInfo.area}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>活动地点</label>
                    <span>{$eventInfo.location}</span>
                </li>
                <div class="page-header" style="background: #efeff4;">
                    <span class="course">活动详情</span>
                </div>
                <li class="mui-table-view-cell listli introBox">{$eventInfo.event_des}</li>
            </ul>

            <ul class="mui-table-view detalis-list list mainInfo mb">
                <div class="page-header">
                    <span class="course colororange statusText">报名人员</span>
                    <span class="more">
                        <a href="{:url('team/eventSignupList',['team_id'=>$teamInfo['id'],'event_id'=>$eventInfo['id']])}" class="mui-navigate-right">
                            <b class="colororange">{$eventInfo.reg_number}</b> 人
                        </a>
                    </span>
                </div>

                <li class="mui-table-view-cell listli">
                    <div class="imgShow"></div>
                </li>
            </ul>

            <div class="page-header whitebg">
                <span class="course">活动花絮</span>
            </div>

            <!--图片轮播-->
            <div id="slider" class="mui-slider" style="height:120px">
                {notempty name="eventInfo.album"}
                <div class="mui-slider-group mui-slider-loop">
                    <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <img src="{$eventInfo.album[0]}">
                    </div>
                    <!-- 第一张 -->
                    {volist name="eventInfo.album" id="vol"}
                    <div class="mui-slider-item">
                        <img src="{$vol}">
                    </div>
                    {/volist}
                    <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <img src="{$eventInfo.album|array_pop}">
                    </div>
                </div>
                {else/}
                <p class="mui-text-center" style="padding-top:45px;">还没有上传花絮图哦</p>
                {/notempty}
            </div>

            <div class="page-header whitebg border-b">
                <span class="course wd52">评论</span>
                <span class="more">评论
                    <small class="comment_count">0</small>&nbsp;|&nbsp;
                    <i class="mui-icon-extra mui-icon-extra-like f16 thumbsup"></i>：
                    <samll class="thumbup_count">0</samll>
                </span>
            </div>

            <ul class="mui-table-view comment-list"></ul>

            <!--底部操作-->
            <ul class="mui-table-view operation mt status1" style="display:none">
                <a href="#fbcomment">
                    <li class="mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12 opli bgblue">
                        发表评论
                    </li>
                </a>
            </ul>

            <ul class="mui-table-view operation mt status2" style="display:none">
                <li class="mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12 opli bgred signupBtn">
                    报名参加
                </li>
            </ul>

            <ul class="mui-table-view operation mt status3" style="display:none">
                <a href="#fbcomment">
                    <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6 opli bgblue">
                        发表评论
                    </li>
                </a>
                <a href="{:url('team/eventEdit',['team_id'=>$teamInfo['id'],'event_id'=>$eventInfo['id']])}">
                    <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6 opli bggreen">
                        编辑/录入
                    </li>
                </a>
            </ul>

            <ul class="mui-table-view operation mt status4" style="display:none">
                <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6 opli bgred signupBtn">
                    报名参加
                </li>
                <a href="{:url('team/eventEdit',['team_id'=>$teamInfo['id'],'event_id'=>$eventInfo['id']])}">
                    <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6 opli bggreen">
                        编辑/录入
                    </li>
                </a>
            </ul>

        </div>

    </div>


    <!-- 发表评论 -->
    <div id="fbcomment" class="mui-popover mui-popover-action mui-popover-bottom actionsheet">
        <div class="list camp-list camp-lesson-list detalis-list grade-list coach">
            <ul class="mui-table-view operation">
                <h5>
                    <span class="type">发表评论</span>
                    <a href="#fbcomment" class="mui-icon mui-icon-closeempty"></a>
                </h5>
                <li class="listli">
                    <textarea rows="4" class="comment" placeholder="为这个活动做做评价吧。"></textarea>
                </li>
                <li class="mui-col-xs-12 opli commentBtn">提交申请</li>
            </ul>
        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script type="text/javascript" src="/static/frontend/js/wooApi.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        // a标签跳转
        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        //轮播
        var slider = mui("#slider");
        slider.slider({
            interval: 5000
        });

        var count = 1;

        $(function () {

            pulldownRefresh(); //页面打开时获取一次最新评论信息
            isthumbsup(); //点赞状态
            toSignUpList()

            // 活动详情默认的提示
            if ($(".introBox").html() == '') {
                $(".introBox").append("<p class='nohave'>还没有活动详情描述哦</p>")
            }

            // 判断身份显示操作按钮
            var teamrole = "{$teamrole}";
            var is_finished = "{$eventInfo.is_finished}";

            if (teamrole > 0 && is_finished == "已结束") {
                $(".status3").show();
            } else if (teamrole > 0 && is_finished == "未开始") {
                $(".status4").show();
            }

            if (teamrole == 0 && is_finished == "已结束") {
                $(".status1").show();
            } else if (teamrole == 0 && is_finished == "未开始") {
                $(".status2").show();
            }

            // 报名/参与人员的文字显示
            if (is_finished == "已结束") {
                $(".statusText").text("参与者");
            }

            //报名功能
            $(".signupBtn").on('tap', function () {
                //判断是否登陆会员
                var event_id = "{$eventInfo.id}";
                mui.ajax("{:url('api/team/jointeamevent')}", {
                    data: {
                        event_id: event_id,
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            mui.alert('报名成功', function () {
                                location.reload();
                            });
                        } else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            //评论功能
            $(".commentBtn").on('tap', function () {
                var commented_id = "{$eventInfo.id}";
                var comment = $(".comment").val();

                if (comment == '') {
                    mui.toast("评价内容不能为空哦");
                    return false;
                }

                mui.ajax("{:url('api/team/addteamcomment')}", {
                    data: {
                        commented_id: commented_id,
                        comment_type: 2,
                        comment: comment
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            mui.alert('评价成功，感谢你的评价！', function () {
                                location.reload();
                            });
                            mui('#fbcomment').popover('toggle');
                        } else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            //点赞功能
            $(".thumbsup").on('tap', function () {
                var commented_id = "{$eventInfo.id}";
                mui.ajax("{:url('api/team/dianzan')}", {
                    data: {
                        commented_id: commented_id,
                        comment_type: 2,
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            $(".thumbup_count").text(data.thumbup_count);
                            isthumbsup();
                        } else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });
        })

        // 点赞状态
        function isthumbsup() {
            var commented_id = "{$eventInfo.id}";
            mui.ajax("{:url('api/team/isthumbup')}", {
                data: {
                    commented_id: commented_id,
                    comment_type: 2,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        $(".thumbup_count").text(data.thumbsup_count);
                        if (data.thumbsup == 1) {
                            $(".thumbsup").css("color", "red");
                        } else {
                            $(".thumbsup").css("color", "#737373");
                        }
                    } else {
                        mui.toast(data.msg);
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        }

        //获取已经报名的活动人员列表
        function toSignUpList() {
            var url = "{:url('api/team/teameventmemberall')}";
            var event_id = "{$eventInfo.id}";
            mui.ajax({
                url: url,
                data: {
                    event_id: event_id,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var inactiveDiv = '';
                        $(".imgShow").empty();
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            inactiveDiv += '<img src="' + data.data[i].avatar + '" style="margin-right:3px">'
                        };
                        $(".imgShow").append(inactiveDiv);
                    }
                    if (data.code == 100) {
                        $(".imgShow").append('<p class="mui-text-center">还没有人员哦</p>');
                    }
                },
                error: function (xhr, type, errerThrown) {
                    console.log(type);
                }
            });
        };


        //下拉刷新具体业务实现
        function pulldownRefresh() {
            setTimeout(function () {
                count = 1;//刷新并显示第一页
                var page = count;
                var gType = 1;//代表下拉刷新
                toCommentList(page, gType);//具体取数据的方法
            }, 100);
        }
        //上拉加载具体业务实现
        function pullupRefresh() {
            setTimeout(function () {
                count++;//翻下一页
                var page = count;
                var gType = 2;//代表上拉加载
                toCommentList(page, gType);//具体取数据的方法
            }, 100);
        }
        //获取评论列表
        function toCommentList(page, gType) {
            var url = "{:url('api/team/teamcommentlist','','',true)}/?page=" + page;
            var commented_id = "{$eventInfo.id}";
            mui.ajax({
                url: url,
                data: {
                    commented_id: commented_id,
                    comment_type: 2,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    if (data.code == 200) {
                        $(".comment_count").text(data.data.length);
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli = newli + '<li class="mui-table-view-cell listli border-b"><div class="mui-pull-right">' + data.data[i].create_time + '</div><img class="mui-pull-left coachicon" src="' + data.data[i].member_avatar + '">' + data.data[i].member + '<p>' + data.data[i].comment + '</p></li>'
                        }
                    }
                    if (gType == 1) {
                        //上拉刷新
                        $("ul.comment-list").empty().append(newli);
                        if (newli == '') {
                            $("ul.comment-list").html('<p class="nodata">还没有评论哦，你来说几句吧！</p>');
                        }
                    } else {
                        //下拉加载 gType==2
                        $("ul.comment-list").append(newli);
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };
    </script>
</body>

</html>