<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>课时录入</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet"/>
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/static/frontend/css/webuploader.css">
    <style>
        .mui-input-row a.mui-navigate-right {
            width: 100%;
            height: 100%;
            display: block;
        }

        .mui-popover-arrow {;
            left: auto;
            right: 6px;
        }

        .mui-popover {
            height: 300px;
        }

        .mui-toast-container {
            top: 250px
        }
        .number{
            width: 20% !important;
        }
    </style>
</head>

<body>
    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"><span class="return">返回</span></a>
        <h1 class="mui-title">{$gradeInfo.camp}</h1>
    </header>

    <div class="mui-content">

        <div class="camp-list camp-lesson-list detalis-list grade-list editor mt">

            <ul class="mui-table-view list mb">
                <li class="mui-table-view-cell mui-media listli">
                    <a href="javascript:;" class="mui-navigate-right">
                        <div class="mui-media-body wd83">
                            <strong class="grade">{$gradeInfo.grade}{$gradeInfo.id}</strong>
                            <p class="mui-ellipsis camp" style="text-indent: 0" data-id="{$campid}">{$gradeInfo.camp} | {$gradeInfo.gradecate}</p>
                            <input type="hidden" name="camp" value="{$gradeInfo.camp}">
                            <input type="hidden" name="grade_id" value="{$gradeInfo.grade_id}">
                            <input type="hidden" name="camp_id" value="{$gradeInfo.camp_id}">
                            <input type="hidden" name="camp_id" value="{$gradeInfo.camp_id}">
                            <input type="hidden" name="camp_id" value="{$gradeInfo.camp_id}">
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="page-header">
                    <span class="course">参训学员</span>
                </div>

                <div class="image-items">
                    <form class="mui-input-group">
                     <!--    <div class="imagef image">
                            上传合照
                        </div> -->
                        <div class="mui-input-row h-auto">
                            <a class="portraits filePicker" onclick="add_id(3)">
                                <label>上传合照</label>
                                <img id="preview_3" class="coachicon icon01" src='{notempty name="coachInfo.portraits"}{$coachInfo.portraits}{/notempty}'>
                                <input type="hidden" class="cover" name="portraits" value='{notempty name="coachInfo.portraits"}{$coachInfo.portraits}{/notempty}'>
                            </a>
                        </div>
                    </form>

                    <form class="mui-input-group">
                        <div class="box">
                            <div class="mui-input-row mui-checkbox checkboxCont">
                                <label class="number">0</label><font class="student_str">请添加学员</font>
                                <input name="checkbox1" value="Item 3" type="checkbox">
                            </div>
                        </div>
                        <div class="operation-btn">
                            <span class="mui-badge">{$countStudentList}</span>
                            <a class="all">全选</a>
                            <a class="cancel">取消</a>
                            <a class="del">[删除]</a>
                            <a href="#addStudent" class="mui-icon mui-icon-personadd add"></a>
                        </div>
                    </form>

                </div>

                <form class="mui-input-group mt55">


                    <div class="mui-input-row picker btn" id="demo5" data-options='{"type":"time"}'>
                        <a href="#" class="mui-navigate-right">
                            <label>训练时间</label>
                            <span id="result" class="ui-alert lesson_time">{$gradeInfo.lesson_time}</span>
                        </a>
                    </div>

                    <div class="mui-input-row">
                        <a href="#trainCourt" class="mui-navigate-right">
                            <label>训练地点</label>
                            <span class="trainCourtCont">{$gradeInfo.court}</span>
                        </a>
                    </div>

                    <div class="mui-input-row" id='showCityPicker3'>
                        <a href="#" class="mui-navigate-right">
                            <label>所属地区</label>
                            <span id="cityResult3" class="ui-alert">{$gradeInfo.province} {$gradeInfo.city} {$gradeInfo.area}</span>
                        </a>
                    </div>

                    <div class="mui-input-row">
                        <a href="#mainCoach" class="mui-navigate-right">
                            <label>主教练</label>
                            <span class="mainCoachCont coach">{$gradeInfo.coach}</span>
                            <input type="hidden" name="coach_id" value="{$gradeInfo.coach_id}">
                        </a>
                    </div>

                    <div class="mui-input-row">
                        <a href="#assistantCoach" class="mui-navigate-right">
                            <label>助理教练</label>
                            <span class="assistantCoachCont assistant">{$gradeInfo.assistants}</span>
                            <input type="text" name="dom" style="display: none">
                            <input type="hidden" name="assistant_id" value="{$gradeInfo.assistant_id}">
                        </a>
                    </div>

                    <div class="mui-input-row">
                        <a href="#leader" class="mui-navigate-right">
                            <label>领队</label>
                            <span class="leaderCont leader">{$gradeInfo.leader}</span>
                        </a>
                    </div>

                    <div class="mui-input-row">
                        <a href="#headMaster" class="mui-navigate-right">
                            <label>班主任</label>
                            <span class="headMasterCont teacher">{$gradeInfo.teacher}</span>
                        </a>
                    </div>

                    <div class="mui-input-row">
                        <a href="#project" class="mui-navigate-right">
                            <label>训练项目</label>
                            <span class="projectCont"></span>
                        </a>
                    </div>

                    <div class="mui-input-row">
                        <label>场地租金</label>
                        <input type="text" name="" value="{$gradeInfo.rent}" class="rent">
                    </div>

                    <div class="mui-input-row">
                        <label style="width:74%">主教佣金<font style="font-size: 12px">(底薪+人数x基数)x主教人数</font></label>
                        <input type="text" name="" value="{$gradeInfo.coach_salary}"  style="width: 26%">
                    </div>

                    <div class="mui-input-row">
                        <label style="width:74%">助教佣金<font style="font-size: 12px">(底薪+人数x基数)x助教人数)</font></label>
                        <input type="text" name="" value="{$gradeInfo.assistant_salary}" style="width: 26%">
                    </div>

                    <div class="mui-input-row">
                        <label>备注</label>
                        <input type="text" class="remarks" value="{$gradeInfo.remarks}">
                    </div>

                </form>

                <ul class="mui-table-view operation">
                    <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen operationBtn" style="color: #fff">
                        提交录入
                    </li>
                </ul>

            </div>


        </div>

        <!--主教练-->
        <div id="mainCoach" class="mui-popover">
            <div class="mui-popover-arrow"></div>
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="camp-list camp-lesson-list detalis-list mt">
                        <div class="page-header">
                            <span class="course"><strong>教练列表</strong></span>
                        </div>
                        <ul class="mui-table-view list mainCoach coach">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--助理教练-->
        <div id="assistantCoach" class="mui-popover">
            <div class="mui-popover-arrow"></div>
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="camp-list camp-lesson-list detalis-list">
                        <div class="page-header">
                            <span class="course wd36"><strong>助理教练</strong></span>
                            <span class="fr"><button class="mui-btn-blue" id="domConfirm">确认</button></span>
                        </div>
                        <form class="mui-input-group">
                            <div class="mui-input-row mui-checkbox mui-left">
                                <label>教练1</label>
                                <input name="checkbox-dom" value="教练1" type="checkbox">
                            </div>
                            <div class="mui-input-row mui-checkbox mui-left">
                                <label>教练2</label>
                                <input name="checkbox-dom" value="教练2" type="checkbox">
                            </div>
                            <div class="mui-input-row mui-checkbox mui-left">
                                <label>教练3</label>
                                <input name="checkbox-dom" value="教练3" type="checkbox">
                            </div>
                            <div class="mui-input-row mui-checkbox mui-left">
                                <label>教练4</label>
                                <input name="checkbox-dom" value="教练4" type="checkbox">
                            </div>
                            <div class="mui-input-row mui-checkbox mui-left">
                                <label>教练5</label>
                                <input name="checkbox-dom" value="教练5" type="checkbox">
                            </div>
                            <div class="mui-input-row mui-checkbox mui-left">
                                <label>教练6</label>
                                <input name="checkbox-dom" value="教练6" type="checkbox">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--训练地点-->
        <div id="trainCourt" class="mui-popover">
            <div class="mui-popover-arrow"></div>
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="camp-list camp-lesson-list detalis-list mt">
                        <div class="page-header">
                            <span class="course"><strong>训练地点</strong></span>
                        </div>
                        <div class="mui-indexed-list-search mui-input-row mui-search">
                            <input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="">
                            <span class="mui-icon mui-icon-clear mui-hidden"></span>
                            <span class="mui-placeholder"><span class="mui-icon mui-icon-search"></span><span>请输入场地名称搜索</span></span>
                        </div>
                        <ul class="mui-table-view list courtlist">
                           <li class="mui-table-view-cell listli detalisli trainCourt">训练地点</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--班主任-->
    <div id="headMaster" class="mui-popover">
        <div class="close-popover"><span class="mui-icon mui-icon-close"></span></div>
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="camp-list camp-lesson-list detalis-list">
                    <div class="camp-lesson-list">
                        <div id="" class="mui-segmented-control mb">
                            <a class="mui-control-item mui-active" href="#item1">粉丝列表</a>
                            <a class="mui-control-item" href="#item2">教练列表</a>
                        </div>
                    </div>
                    <div id="item1" class="mui-control-content mui-active">
                        <div class="mui-scroll">
                            <ul class="mui-table-view list">
                                <li class="mui-table-view-cell listli detalisli headMaster">
                                    粉丝列表
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="item2" class="mui-control-content">
                        <div class="mui-scroll">
                            <ul class="mui-table-view list">
                                <li class="mui-table-view-cell listli detalisli headMaster">
                                    教练列表
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--领队-->
    <div id="leader" class="mui-popover">
        <div class="close-popover"><span class="mui-icon mui-icon-close"></span></div>
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="camp-list camp-lesson-list detalis-list">
                    <div class="camp-lesson-list">
                        <div id="" class="mui-segmented-control mb">
                            <a class="mui-control-item mui-active" href="#item3">粉丝列表</a>
                            <a class="mui-control-item" href="#item4">教练列表</a>
                        </div>
                    </div>
                    <div id="item3" class="mui-control-content mui-active">
                        <div class="mui-scroll">
                            <ul class="mui-table-view list">
                                <li class="mui-table-view-cell listli detalisli leader">
                                    粉丝列表
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="item4" class="mui-control-content">
                        <div class="mui-scroll">
                            <ul class="mui-table-view list">
                                <li class="mui-table-view-cell listli detalisli leader">
                                    教练列表
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 训练项目 -->
    <div id="project" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="camp-list camp-lesson-list detalis-list">
                    <div class="page-header">
                        <span class="course"><strong>训练项目</strong></span>
                    </div>
                    <ul class="mui-table-view list">
                        <li class="mui-table-view-cell listli detalisli project">
                            训练项目
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--学员名单-->
    <div id="addStudent" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="camp-list camp-lesson-list detalis-list mt">
                    <div class="page-header">
                        <span class="course wd36"><strong>学员名单</strong></span>
                        <span class="fr"><button class="mui-btn-blue" id="studentConfirm">确认</button></span>
                    </div>
                    <form class="mui-input-group addStudentList">
                        <div class="mui-input-row mui-checkbox mui-left">
                            <label>学员</label>
                            <input name="checkbox-dom" value="学员" type="checkbox">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <!-- 选择器 -->
    <script src="/static/frontend/js/mui.picker.min.js"></script>
    <script src="/static/frontend/js/mui.poppicker.js"></script>
    <script src="/static/frontend/js/city.data-3.js"></script>
    <script>
        var uploadApiUrl = "{:url('api/upload/imgwupload', ['usage' => 'cert'])}";
    </script>
    <script src="/static/frontend/libs/webuploader.cert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/uploadcert.js?v=<?php echo time();?>"></script>
    <script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    //弹出菜单
    mui('.mui-scroll-wrapper').scroll();

    //选择器
    var getProvince = '';
    var getCity = '';
    var getArea = '';
    (function ($, doc) {
        $.ready(function () {
            var _getParam = function (obj, param) {
                return obj[param] || '';
            };

            //选择地区
            var cityPicker3 = new $.PopPicker({
                layer: 3
            });
            cityPicker3.setData(cityData3);
            var showCityPickerButton = doc.getElementById('showCityPicker3');
            var cityResult3 = doc.getElementById('cityResult3');
            showCityPickerButton.addEventListener('tap', function (event) {
                cityPicker3.show(function (items) {
                    cityResult3.innerText = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(items[2], 'text');
                    //返回 false 可以阻止选择框的关闭
                    //return false;
                    getProvince = _getParam(items[0], 'text');
                    getCity = _getParam(items[1], 'text');
                    getArea = _getParam(items[2], 'text');
                });
            }, false);

            //选择时间
            var result = $('#result')[0];
            var btns = $('.btn');
            btns.each(function (i, btn) {
                btn.addEventListener('tap', function () {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var id = this.getAttribute('id');
                    var picker = new $.DtPicker(options);

                    picker.show(function (rs) {
                        result.innerText = rs.text;
                        picker.dispose();
                    });
                }, false);
            });
        });
    })(mui, document);

    //更新序号函数
    function changeIndex() {
        var i = 1;
        $(".checkboxCont").each(function () { //循环checkboxCont
            $(this).find("label").text(i++);//更新序号
        });
    }

    $(function () {

        //全选
        $(".all").click(function () {
            $(".checkboxCont").find('input').prop('checked', true)
        })

        //取消全选
        $(".cancel").click(function () {
            $(".checkboxCont").find('input').prop('checked', false)
        })

        //删除
        $(".del").click(function () {
            $("input[name='checkbox1']:checked").each(function () { // 遍历选中的checkbox
                n = $(this).parents("checkboxCont").index();  // 获取checkbox所在行的顺序
                $(".checkboxCont:eq(" + n + ")").remove();
            });
        });

        // 训练地点
        $(".trainCourt").click(function () {
            var trainCourt = $(this).text();
            $(".trainCourtCont").text(trainCourt);
            mui("#trainCourt").popover("toggle");
        })
        // 主教练
        $(".mainCoach").click(function () {
            var mainCoach = $(this).text();
            $(".mainCoachCont").text(mainCoach);
            mui("#mainCoach").popover("toggle");
        })
        // 助教练
        $("#domConfirm").click(function () {
            //选择多个助教练
            $("input[name='dom']").val($("input[name='checkbox-dom']:checked").map(function () {
                return $(this).val()
            }).get().join(","));
            $(".assistantCoachCont").text($("input[name='dom']").val());
            mui('#assistantCoach').popover('toggle');
        })

        // 班主任
        $(".headMaster").click(function () {
            var headMaster = $(this).text();
            $(".headMasterCont").text(headMaster);
            mui("#headMaster").popover("toggle");
        })
        // 领队
        $(".leader").click(function () {
            var leader = $(this).text();
            $(".leaderCont").text(leader);
            mui("#leader").popover("toggle");
        })
        // 训练项目
        $(".project").click(function () {
            var project = $(this).text();
            $(".projectCont").text(project);
            mui("#project").popover("toggle");
        })

        //检测输入是否为数字
        $(".checkNum").blur(function () {
            var num = $(this).val();
            if (isNaN(num)) {
                mui.toast("请填写数字");
                return false;
            }
        })

        //检测输入是否为汉字
        $(".checkChinese").blur(function () {
            var str = $(this).val();
            if (!/^[\u4e00-\u9fa5]+$/.test(str)) {
                mui.toast("请填写汉字");
                return false;
            }
        })

        // 关闭弹出菜单
        $(".close-popover").click(function () {
            mui($(this).parent()).popover("toggle");
        })

        // 添加学员
        var str = '';
        var totalNum = '';
        $("#studentConfirm").click(function () {
            //选择多个学员
            $(".addStudentList input[type=checkbox]:checked").each(function() {
                str +='<div class="mui-input-row mui-checkbox checkboxCont"><label class="number"></label><font class="student_str">'+$(this).val()+'</font><input name="checkbox1" value="Item 3" type="checkbox"></div>';
            })
            // $(".operation-btn").before(str);//在增删按钮前加一行
            $(".box").append(str);//在增删按钮前加一行
            changeIndex();//调用-更新序号
            mui("#addStudent").popover("toggle");
            //角标随checkboxCont的数量变化
            totalNum = $(".checkboxCont").length;
            $(".mui-badge").text(totalNum);
        });
        
        //获取学员列表
        toScheduleList();

        //录课
        $(".operationBtn").click(function () {
            var cover =$(".cover").val();
            var campid = $('.camp').attr('data-id');
            var grade = $(".grade").text();
            var court = $(".trainCourtCont").text();
            var student_str = $(".student_str").text();
            var lesson_time = $(".lesson_time").text();
            var coach = $(".mainCoachCont").text();
            var assistant = $(".assistantCoachCont").text();
            var leader = $(".leaderCont").text();
            var teacher = $(".headMasterCont").text();
            var rent = $(".rent").val();
            var remarks = $(".remarks").val();
            // if (image != '' && lesson_time != '' && location != '' && coach != '' && assistant != '' && leader != '' && teacher != '') {
            //     return false;
            // }
            mui.ajax("{:url('api/schedule/recordScheduleApi',['grade_id'=>$gradeInfo['id']])}", {
                data: {
                    'cover':cover,
                    'student_str': student_str,
                    'grade': grade,
                    'grade_id': "{$gradeInfo.id}",
                    'camp_id': campid,
                    'lesson_time': lesson_time,
                    'court': court,
                    'province': getProvince,
                    'city': getCity,
                    'area': getArea,
                    'coach': coach,
                    'coach_id': "{$memberInfo.id}",
                    'assistant': assistant,
                    'leader': leader,
                    'teacher': teacher,
                    'teacher_id': "{$memberInfo.id}",
                    'rent': rent,
                    'remarks': remarks,
                },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: {'Content-Type': 'application/json'},
                    success: function (data) {
                        //服务器返回响应，根据响应结果，分析是否登录成功；
                        console.log(data)
                        if (data.code == 200) {
                            // var url = "{:url('grade/gradeInfoOfCamp',['grade_id'=>$gradeInfo['id']])}";
                            // window.location.href=url
                        } else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
        })
    })

    //获取学员列表
    var toScheduleList = function() {
        var lesson_id ="{$gradeInfo.lesson_id}";
        mui.ajax("{:url('api/lesson/getActiveLessonStudentsApi')}", {
            data: {'lesson_id': lesson_id,},
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: {'Content-Type': 'application/json'},
            success: function (data) {
            //服务器返回响应，根据响应结果，分析是否登录成功；
            console.log(data)
            var div = '';
            if (data.code == 200) {
                for (var i = 0; i <= data.data.length - 1; i++) {
                    div = div + '<div class="mui-input-row mui-checkbox mui-left"><label>' + data.data[i].student + '</label><input name="checkbox-student" class="student" value="' + data.data[i].student + '" type="checkbox" data-id="'+ data.data[i].id +'"></div>'
                }
                $(".addStudentList").append(div);
            }
        },
        error: function (xhr, type, errorThrown) {
                //异常处理；
                console.log(type);
            }
        });
    };



</script>
</body>
</html>