<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>课时列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body class=whitebg>

<div class="mui-content">

    <div class="list camp-list camp-lesson-list detalis-list coach">

        <div class="camp-lesson-list">
            <div id="segmentedControl" class="mui-segmented-control mb">
                <a class="mui-control-item mui-active" href="#item2">我的课时</a>
                <a class="mui-control-item" href="#item3">训练营</a>
            </div>
        </div>

        <div class="nav-list">
            <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4"><a href="#">
                    <span>本月课量</span>
                    <div class="mui-media-body">0</div>
                </a></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4"><a href="#">
                    <span>本年课量</span>
                    <div class="mui-media-body">0</div>
                </a></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4"><a href="#">
                    <span>总课量</span>
                    <div class="mui-media-body">0</div>
                </a></li>
            </ul>
        </div>

        <ul class="mui-table-view mui-text-center">
            <li class="mui-table-view-cell">
                <ul class="mui-row table">
                    <li class="mui-col-xs-2 mui-col-sm-2">状态</li>
                    <li class="mui-col-xs-4 mui-col-sm-4">日期</li>
                    <li class="mui-col-xs-4 mui-col-sm-4">班级</li>
                    <li class="mui-col-xs-2 mui-col-sm-4">人数</li>
                </ul>
            </li>

            {volist name="scheduleList" id="vol"}
            <li class="mui-table-view-cell">
                <a href="{:url('schedule/scheduleInfo',['schedule_id'=>$vol['id'],'camp_id'=>$vol['camp_id']])}"
                   style="white-space: normal;">
                    <ul class="mui-row table">
                        <li class="mui-col-xs-2 mui-col-sm-2"><i class="mui-icon mui-icon-checkmarkempty"></i></li>
                        <li class="mui-col-xs-4 mui-col-sm-4">{$vol.lesson_time}</li>
                        <li class="mui-col-xs-4 mui-col-sm-4">{$vol.grade}</li>
                        <li class="mui-col-xs-2 mui-col-sm-2">{$vol.students}</li>
                    </ul>
                </a>
            </li>
            {/volist}
        </ul>

    </div>

</div>

<!--底部导航-->
{layout name="Layout/footer"}
<script src="/static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>
</body>
</html>