<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>课时详情页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <style>
        .scoreCont {
            background-color: #fff;
        }

        .scoreStart {
            width: 90%;
            padding: 15px;
            margin: 0 auto;
            text-align: center;
            border-bottom: 1px solid #ddd;
            font-size: 14px;
        }

        .mui-page-content .mui-icon-star {
            font-size: 20px !important;
        }

        .mui-icon-star-filled {
            font-size: 20px !important;
            color: #FFB400;
        }
    </style>
</head>

<body>

<div class="mui-content">
    <div class="camp-list camp-lesson-list grade-list coach">

        <ul class="mui-table-view list mb">
            <li class="mui-table-view-cell mui-media listli">
                {eq name="updateSchedule" value="1"}
                <a href="{:url('schedule/updateschedule',['schedule_id'=>$scheduleInfo['id'],'camp_id'=>$scheduleInfo['camp_id']])}"
                   class="mui-navigate-right">
                    <div class="mui-media-body wd">
                        <strong>{$scheduleInfo.grade}</strong><font class="state">[{$scheduleInfo.status}]</font>
                        <p class="mui-ellipsis">{$scheduleInfo.camp} | {$scheduleInfo.lesson}</p>
                    </div>
                    <div class="price-frame">
                        <span>编辑</span>
                        <p class="nump">{$scheduleInfo.students} 队员</p>
                    </div>
                </a>
                {else/}
                <div class="mui-media-body wd">
                    <strong>{$scheduleInfo.grade}</strong><font class="state">[{$scheduleInfo.status}]</font>
                    <p class="mui-ellipsis">{$scheduleInfo.camp} | {$scheduleInfo.lesson}</p>
                </div>
                <div class="price-frame">
                    <p class="nump">{$scheduleInfo.students}/队员</p>
                </div>
                {/eq}
            </li>
        </ul>

        <ul class="mui-table-view list detalis-list mb">
            <li class="mui-table-view-cell listli">训练时间<span>{$scheduleInfo.lesson_time|date="Y-m-d H:i",###}</span>
            </li>
            <li class="mui-table-view-cell listli detalisli">学员名单<span class="students">{volist name="studentList" id="vol"}{$vol.student},{/volist}{volist name="expstudentList" id="vol"}{$vol.student},{/volist}</span>
            </li>
            <li class="mui-table-view-cell listli">所属课程<span>{$scheduleInfo.lesson}</span></li>
            <li class="mui-table-view-cell listli">课程类型<span>{$scheduleInfo.grade}</span></li>
            <li class="mui-table-view-cell listli">训练地点<span>{$scheduleInfo.court}</span></li>
            <li class="mui-table-view-cell listli">所属地区<span>{$scheduleInfo.province}&nbsp;{$scheduleInfo.city}&nbsp;{$scheduleInfo.area}</span>
            </li>
            <li class="mui-table-view-cell listli">主教练<span>{$scheduleInfo.coach}</span></li>
            <li class="mui-table-view-cell listli">助教练<span>{$scheduleInfo.assistants}</span></li>
            <li class="mui-table-view-cell listli">领队<span>{$scheduleInfo.coach}</span></li>
            <li class="mui-table-view-cell listli">班主任<span>{$scheduleInfo.teacher}</span></li>
            <li class="mui-table-view-cell listli">主教底薪<span>{$scheduleInfo.coach_salary}</span></li>
            <li class="mui-table-view-cell listli">助教底薪<span>{$scheduleInfo.assistant_salary}</span></li>
            <li class="mui-table-view-cell listli">备注<span>{$scheduleInfo.remarks}</span></li>
            <li class="mui-table-view-cell listli">教案<span>{$scheduleInfo.plan}</span></li>
        </ul>
        <div class="exerciseList">
                <div class="page-header">
                    <span class="course"><b>训练项目</b></span>
                </div>
                    {volist name = "$scheduleInfo.exerciseList" id="vol" empty="<ul class='mui-table-view list eType'><li class='mui-table-view-cell listli detalisli'>没填写训练项目</li></ul>"}
                    <ul class="mui-table-view list eType">
                        <li class="mui-table-view-cell listli detalisli">
                            <h5><strong class="daType">{$vol.exercise}</strong></h5>
                            {volist name="$vol.sub" id="v"}
                            <p>{$v.exercise} <i class="fr f12">{$v.exercise_time} 分钟</i></p>
                            {/volist}
                        </li>
                    </ul>
                    {/volist}
        </div>

        <div class="page-header mt">
            <span class="course"><b>学员评价</b></span>
        </div>

        <ul class="mui-table-view list mui-text-center min-height">
            {volist name='commentList' id="vol" empty="暂无评论"}
            <li class="mui-table-view-cell mui-media listli">
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left coachicon" src="{$vol.member_avatar}">
                    <div class="mui-media-body">
                        {$vol.member}
                        <p class="mui-ellipsis">{empty name="$vol.comment"}无评论留言{else/}{$vol.comment}{/empty}</p>
                    </div>
                    <div class="price-frame">
                        <p>{$vol.create_time}</p>
                    </div>
                </a>
            </li>
            {/volist}
        </ul>

        <p class="dropdown mt55"><a href="#">查看更多评论</a></p>

        {eq name="updateSchedule" value="0"}
        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-media mui-col-xs-6 opli">
                <span class="mui-icon mui-icon-phone"></span>电话咨询
            </li>
            <a href="#score">
                <li class="mui-table-view-cell mui-media mui-col-xs-6 opli"
                    style="color:#000;border-left: 1px solid #ccc;">
                    <span class="mui-icon mui-icon-star mui-icon-star-filled"></span>我要评分
                </li>
            </a>
        </ul>
        {/eq}
    </div>
</div>

<!-- 弹出框-评分内容 -->
<div id="score" class="mui-popover mui-popover-action mui-popover-bottom actionsheet" style="height: 438px;">
    <div class="scoreCont">

        <h5 class="mui-text-left">我要评价<a class="mui-icon mui-icon-closeempty" href="#score"></a></h5>
        <button id="submit" style="display: none"></button>
        <div id='image-list' id="question" style="display:none"></div>
        <input type="hidden" name="schedule_id" class="data" value="{$scheduleInfo.id}">
        <input type="hidden" name="coach_id" class="data" value="{$scheduleInfo.coach_id}">
        <input type="hidden" name="coach" class="data" value="{$scheduleInfo.coach}">
        <input type="hidden" name="camp_id" class="data" value="{$scheduleInfo.camp_id}">
        <input type="hidden" name="camp" class="data" value="{$scheduleInfo.camp}">
        <input type="hidden" name="__token__" class="data" value="{$Request.token}">
        <div class="mui-row scoreStart">
            <div class="mui-col-xs-3 mui-col-sm-3">教学气氛</div>
            <div class="mui-col-xs-7 mui-col-sm-7">
                <div class="mui-page-content">

                    <div class="icons mui-inline">
                        <i data-index="1" class="mui-icon mui-icon-star"></i>
                        <i data-index="2" class="mui-icon mui-icon-star"></i>
                        <i data-index="3" class="mui-icon mui-icon-star"></i>
                        <i data-index="4" class="mui-icon mui-icon-star"></i>
                        <i data-index="5" class="mui-icon mui-icon-star"></i>
                    </div>
                </div>
            </div>
            <div class="mui-col-xs-2 mui-col-sm-2"><span class="domData" name="score_item1">0</span>分</div>
        </div>

        <div class="mui-row scoreStart">
            <div class="mui-col-xs-3 mui-col-sm-3">课堂纪律</div>
            <div class="mui-col-xs-7 mui-col-sm-7">
                <div class="mui-page-content">
                    <div class="icons mui-inline">
                        <i data-index="1" class="mui-icon mui-icon-star"></i>
                        <i data-index="2" class="mui-icon mui-icon-star"></i>
                        <i data-index="3" class="mui-icon mui-icon-star"></i>
                        <i data-index="4" class="mui-icon mui-icon-star"></i>
                        <i data-index="5" class="mui-icon mui-icon-star"></i>
                    </div>
                </div>
            </div>
            <div class="mui-col-xs-2 mui-col-sm-2"><span class="domData" name="score_item2">0</span>分</div>
        </div>

        <div class="mui-row scoreStart">
            <div class="mui-col-xs-3 mui-col-sm-3">技术指导</div>
            <div class="mui-col-xs-7 mui-col-sm-7">
                <div class="mui-page-content">
                    <div class="icons mui-inline">
                        <i data-index="1" class="mui-icon mui-icon-star"></i>
                        <i data-index="2" class="mui-icon mui-icon-star"></i>
                        <i data-index="3" class="mui-icon mui-icon-star"></i>
                        <i data-index="4" class="mui-icon mui-icon-star"></i>
                        <i data-index="5" class="mui-icon mui-icon-star"></i>
                    </div>
                </div>
            </div>
            <div class="mui-col-xs-2 mui-col-sm-2"><span class="domData" name="score_item3">0</span>分</div>
        </div>

        <div class="mui-row scoreStart">
            <div class="mui-col-xs-3 mui-col-sm-3">工作态度</div>
            <div class="mui-col-xs-7 mui-col-sm-7">
                <div class="mui-page-content">
                    <div class="icons mui-inline">
                        <i data-index="1" class="mui-icon mui-icon-star"></i>
                        <i data-index="2" class="mui-icon mui-icon-star"></i>
                        <i data-index="3" class="mui-icon mui-icon-star"></i>
                        <i data-index="4" class="mui-icon mui-icon-star"></i>
                        <i data-index="5" class="mui-icon mui-icon-star"></i>
                    </div>
                </div>
            </div>
            <div class="mui-col-xs-2 mui-col-sm-2"><span class="domData" name="score_item4">0</span>分</div>
        </div>
        <div class="mui-row scoreStart" style="border-bottom: 0;">
            <textarea rows="3" placeholder="感谢您的评价，顺便写点意见吧" style="font-size: 14px" name="comment" class="data"></textarea>
        </div>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-media mui-col-xs-12 opli" style="border-radius: 0" onclick="submitAction()">提交</li>
        </ul>
    </div>
</div>

<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script src="/static/frontend/js/mui.view.js "></script>
<script src="/static/frontend/js/feedback.js"></script>
<script src="/static/frontend/js/wooApi.js"></script>
<script>
    mui.init();

    // 教练评分
    mui('.icons').on('tap', 'i', function () {
        var index = parseInt(this.getAttribute("data-index"));//获取当前元素的索引值
        $(this).parent().parent().parent().siblings().children().text(index);
    });


    //去掉学生最后一个逗号
    var cDoms = $(".students").text();
    cDoms = cDoms.substring(0, cDoms.length - 1);
    $(".students").text(cDoms);


    // 获取数据并进行提交
    function submitAction() {
        var data = wooApi.getInputData('input', 'data');
        // 获取其他标签值
        arrData = wooApi.getDomData('domData', data);
        var objData = wooApi.arrTOobj(arrData);
        var comment_txt = $('textarea.data').val();
        objData.comment = comment_txt;
        var url = "{:url('api/schedule/starScheduleApi')}";
        var ajaxResult = wooApi.asyncF(url, objData);
        console.log(objData);
        console.log(ajaxResult);
        if (ajaxResult) {
            mui('#score').popover('toggle');
            mui.alert(ajaxResult.msg, function() {
                setTimeout(function() {
                    location.reload();
                }, 1000);
            });
        }
    }

</script>
</body>
</html>