<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>工作人员详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">工作人员详情</h1>
    </header>

    <div class="mui-content">

        <form action="" class="mui-input-group">
            <input type="hidden" name="league_id" class="data" value="{$league_id}">
            <input type="hidden" name="member_id" class="data" value="{$matchMemberInfo.member_id}">
            <div class="page-header bggray2">
                <span class="course wd45">
                    <strong>基本信息</strong>
                </span>
            </div>
            <div class="mui-input-row">
                <label>姓名</label>
                <span>{$matchMemberInfo.realname}</span>
            </div>
            <div class="mui-input-row">
                <label>电话</label>
                {if $matchMemberInfo.telephone==0}
                <input type="text" name="telephone" value="" class="data" placeholder="请填写电话">
                {else/}
                <input type="text" name="telephone" value="{$matchMemberInfo.telephone}" class="data" placeholder="请填写电话">
                {/if}
            </div>
            <div class="page-header bggray2">
                <span class="course wd45">
                    <strong>角色</strong>
                </span>
                <span class="fr f14 colorblue addRole">添加角色</span>
            </div>

        </form>

        <ul class="mui-table-view operation mt">
            <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                <a href="{:url('match/leaguemanage')}">
                    <span class="mui-icon icon iconfont icon-nav-Home"></span>
                </a>
            </li>
            {if $memberInfo.id == $matchMemberInfo.member_id}
            <li class="mui-table-view-cell mui-col-sm-10 mui-col-xs-10 opli bggreen confirmBtn">
                提交
            </li>
            {else/}
            <li class="mui-table-view-cell mui-col-sm-5 mui-col-xs-5 opli bgred deleteWorker">
                <a href="#myWorkerList">删除</a>
            </li>
            <li class="mui-table-view-cell mui-col-sm-5 mui-col-xs-5 opli bggreen confirmBtn">
                提交
            </li>
            {/if}
        </ul>

    </div>

    <!--工作人员-->
    <div id="workerList" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="page-header border-b">
            <span class="course">
                <strong>工作人员</strong>
            </span>
            <span class="fr">
                <button class="mui-btn" id="viceCaptainDel">清除</button>
            </span>
        </div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view list workerList">
                    {volist name="types" id="vo"}
                    <li class="mui-table-view-cell listli" data-type="{$key}">{$vo}</li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>

    <!--我的身份-->
    <div id="myWorkerList" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="page-header border-b">
            <span class="course">
                <strong>选择你要删除的角色</strong>
            </span>
            <span class="fr">
                <button class="mui-btn" id="closeModal">关闭</button>
            </span>
        </div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view list myWorkerList"></ul>
            </div>
        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>
        var league_id = "{$league_id}";
        var member_id = "{$matchMemberInfo.member_id}";
        // var type = "{$matchMemberInfo.type}";
        // if (type == 10) {
        //     $(".spanType").text("负责人");
        // } else if (type == 9) {
        //     $(".spanType").text("管理员");
        // } else if (type == 8) {
        //     $(".spanType").text("记录员");
        // } else if (type == 7) {
        //     $(".spanType").text("裁判员");
        // } else if (type == 0) {
        //     $(".spanType").text("工作人员");
        // }
        // $('#roleSelect option[value="{$matchMemberInfo.type}"]').prop("selected", true);

        var role_list = '';
        workerPersonList();
        //添加角色
        $(document).on("tap", ".addRole", function () {
            var listLength = $(".roleCont").length + 1;
            var str =
                `  <div class="page-header bggray2">
                <span class="fr f14 deleteRole">删除</span>
            </div>
           <div class="roleCont">
            <div class="mui-input-row">
                            <a href="#workerList" class="typeRole">
                                <div class="mui-navigate-right">
                                    <label>角色<text>${listLength}</text></label>
                                    <span class="worker" data-member="{$matchMemberInfo.member}" data-member_id="{$matchMemberInfo.member_id}" data-id="" data-type=""></span>
                                </div>
                            </a>
                        </div>
                        <div class="mui-input-row">
                            <label>职称</label>
                            <input type="text" name="job_description" value="" 
                                placeholder="请填写职称信息">
                        </div></div>`;

            $(".mui-input-group").append(str)
        })
        //获取序号并且赋值到工作人员列表
        $(document).on("tap", ".typeRole", function () {
            $(".workerList").attr("data-num", $(this).find("text").text());
        })

        // 修改工作人员
        $(".workerList").on('tap', 'li', function () {
            var worker = $(this).text();
            var worker_type = $(this).attr('data-type');
            var worker_id = $(this).attr('data-id');
            var dataNum = $(this).parents(".workerList").attr("data-num");
            var isOk = true
            $(".roleCont").each(function () {
                // 判断选择的角色是否存在
                var roleContType = $(this).find(".worker").attr("data-type");
                if (worker_type == roleContType) {
                    mui.toast("你已经是" + worker + ", 请选择其他角色")
                    return isOk = false;
                }
                if (dataNum == $(this).find("text").text()) {
                    $(this).find(".worker").text(worker);
                    $(this).find(".worker").attr("data-type", worker_type);
                    $(this).find(".worker").attr("data-id", worker_id);
                }
            });
            if (!isOk) {
                return isOk
            }
            mui("#workerList").popover("toggle");
        });
        //关闭
        $("#workerClose").on('tap', '', function () {
            mui("#workerList").popover("toggle");
        });
        $("#closeModal").on('tap', '', function () {
            mui("#myWorkerList").popover("toggle");
        });

        // 删除工作人员
        $(document).on('tap', '.myWorkerList li', function () {
            var btnArray = ['取消', '确认'];
            var id = $(this).attr("data-id");
            var roleText = $(this).text();
            mui.confirm('确认删除该' + roleText + '职位吗', '提示', btnArray, function (e) {
                if (e.index == 1) {
                    var apiurl = "{:url('api/league/delmatchmember')}";
                    mui.ajax(apiurl, {
                        data: {
                            id: id,
                        },
                        dataType: 'json',
                        type: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                mui.toast(data.msg);
                                window.history.go(-1)
                            } else {
                                mui.toast(data.msg);
                            }
                        },
                        error: function (xhr, type, errotThrown) {
                            mui.toast('网络异常,请稍候再试');
                        }
                    });
                }
            });
        });

        // 删除页面新增的角色
        $(document).on('tap', '.deleteRole', function () {
            $(this).parent().next().remove();
            $(this).parent().remove();
            var i = 1;
            $(".roleCont").each(function () { //循环checkboxCont
                $(this).find("text").text(i++); //更新序号
            });
        });

        // 工作人员角色
        function workerPersonList() {
            mui.ajax("{:url('api/league/getMatchMembers','','',true)}", {
                data: {
                    league_id: league_id,
                    member_id: member_id
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    var newli1 = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli +=
                                `
                                <div class="roleCont">
                        <div class="mui-input-row">
                            <a href="#workerList" class="typeRole">
                                <div class="mui-navigate-right">
                                    <label>角色<text>${i+1}</text></label>
                                    <span class="worker" data-id="${data.data[i].id}" data-type="${data.data[i].type}">${data.data[i].type_text}</span>
                                </div>
                            </a>
                        </div>
                        <div class="mui-input-row">
                            <label>职称</label>`
                            if (data.data[i].job_description == null) {
                                newli +=
                                    ` <input type="text" name="job_description" value="" 
                                placeholder="请填写职称信息">`
                            } else {
                                newli +=
                                    ` <input type="text" name="job_description" value="${data.data[i].job_description}" 
                                placeholder="请填写职称信息">`
                            }

                            newli += `</div>
                        </div>
                        `
                            newli1 +=
                                `<li class="mui-table-view-cell listli" data-id="${data.data[i].id}" data-type="${data.data[i].type}">${data.data[i].type_text}</li>`
                        }

                    }
                    $(".mui-input-group").append(newli);
                    $(".myWorkerList").append(newli1);
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        }

        // 获取数据并进行提交
        $(document).on('tap', '.confirmBtn', function () {

            role_list = []
            $(".roleCont").each(function () {
                var type = $(this).find(".worker").attr("data-type");
                var id = $(this).find(".worker").attr("data-id");
                var job_description = $(this).find("input[name=job_description]").val();
                role_list.push({
                    type,
                    id,
                    job_description
                });
            });
            console.log(role_list)

            var data = wooApi.getInputData('input', 'data');
            datas = wooApi.getInputData('select', 'data', data);
            // 获取其他标签值
            arrData = wooApi.getDomData('domData', datas);
            var objData = wooApi.arrTOobj(arrData);
            objData.role_list = JSON.stringify(role_list);
            var url = "{:url('api/league/updateMatchMembers')}";
            var ajaxResult = wooApi.asyncF(url, objData);
            if (ajaxResult.code == 200) {
                mui.alert(ajaxResult.msg, '提交成功', '确定', function () {
                    var goUrl = "{:url('match/worklistofleague')}" + '/league_id/' + "{$league_id}";
                    window.top.location.href = goUrl;
                })
            } else {
                mui.alert(ajaxResult.msg, '提交失败');
                mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                    if (data.code === 200) {
                        $('input[name=__token__]').val(data.data);
                    }
                }, 'json');
            }
        });
    </script>
</body>




</html>