<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>工作人员详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">工作人员详情</h1>
    </header>

    <div class="mui-content">


        <form action="" class="mui-input-group">

            <div class="page-header bggray2">
                <span class="course wd45">
                    <strong>基本信息</strong>
                </span>
            </div>
            <div class="mui-input-row">
                <label>姓名</label>
                <span></span>
            </div>
            <div class="mui-input-row">
                <label>角色</label>
                <span></span>
            </div>
            <div class="mui-input-row">
                <label>职能</label>
                <input type="text" name="" value="" class="data" placeholder="请填写职能信息">
            </div>

            <div class="mui-input-row">
                <label>电话</label>
                <input type="text" name="" value="" class="data" placeholder="请填写电话">
            </div>

        </form>

        <ul class="mui-table-view operation mt">
            <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                <a href="{:url('match/leaguemanage')}">
                    <span class="mui-icon icon iconfont icon-nav-Home"></span>
                </a>
            </li>
            <li class="mui-table-view-cell mui-col-sm-5 mui-col-xs-5 opli modifyWorker">
                <a href="#typePopover">修改角色</a>
            </li>
            <li class="mui-table-view-cell mui-col-sm-5 mui-col-xs-5 opli bgred deleteWorker">
                删除
            </li>
        </ul>

    </div>

    <!-- 工作人员角色popover -->
    <div id="typePopover" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="page-header border-b">
            <span class="f14">
                <strong>请选择修改的角色</strong>
            </span>
        </div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view list typeList">
                    {volist name="types" id="vo"}
                    <li class="mui-table-view-cell listli" data-type="{$key}">
                        {$vo}
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script>
        markNum()
        followStatus()
        // 关注联赛
        $(".follow").on("tap", '', function () {
            var league_id = "{league_id}";
            mui.ajax("{:url('api/follow/focus')}", {
                data: {
                    type: 5,
                    league_id: league_id
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    //服务器返回响应，根据响应结果，分析是否登录成功；
                    console.log(data);
                    if (data.code == 200) {
                        mui.toast(data.msg);
                        followStatus();
                    } else {
                        mui.toast(data.msg);
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        });

        // 联赛工作人员列表
        var url = "{:url('api/league/getmatchmembers','','',true)}";
        var match_id = "{leagueInfo.id}";
        mui.ajax({
            url: url,
            data: {
                match_id: match_id
            },
            dataType: 'json', //服务器返回json格式数据
            type: 'post', //HTTP请求类型
            timeout: 10000, //超时时间设置为10秒；
            headers: {
                'Content-Type': 'application/json'
            },
            success: function (data) {
                console.log(data)
                var newli = '';
                if (data.code == 200) {
                    for (var i = 0; i <= data.data.length - 1; i++) {
                        var urls = "{:url('member/memberInfoother')}" + '/member_id/' + data.data[i].member_id;
                        newli +=
                            `<li class="mui-table-view-cell mui-collapse listli">
                                <a class="mui-navigate-right">
                                    <text class="realName">${data.data[i].realname}</text>
                                    <span class="colororange" data-type="${data.data[i].type}">${data.data[i].type_text}</span>
                                </a>
                                <div class="mui-collapse-content dataCollapse">
                                <div class="fl wd60">
                                    <p>职能：暂定</p>
                                    <p>联系电话：暂定</p>
                                </div>`
                        if (data.data[i].type != 10) {
                            newli +=
                                `<button class="btn bgred fr deleteWorker" data-id="${data.data[i].id}" style="margin-top: 6px;padding: 4px 8px;">删除</button>
                                <a href="#typePopover" class="modifyBtn" data-id="${data.data[i].id}">
                                    <button class="btn fr modifyWorker" style="margin-top: 6px;margin-right: 6px;padding: 4px 8px;">修改角色</button>
                                 </a>`
                        }
                        newli += `</div>
                            </li>`
                    }
                }
                $("ul.worker").empty().append(newli);
                if (newli == '') {
                    $("ul.worker").html('<p class="nodata">没有相关数据哦</p>');
                }
            },
            error: function (xhr, type, errerThrown) {
                mui.toast('网络异常,请稍候再试');
            }
        });

        // 删除工作人员
        $(document).on('tap', '.deleteWorker', function () {
            var btnArray = ['确认', '取消'];
            var id = $(this).attr("data-id");
            mui.confirm('确认删除该工作人员吗', '提示', btnArray, function (e) {
                if (e.index == 0) {
                    var apiurl = "{:url('api/league/delmatchmember')}";
                    mui.ajax(apiurl, {
                        data: {
                            id: id,
                        },
                        dataType: 'json',
                        type: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                mui.toast(data.msg);
                                location.reload();
                            } else {
                                mui.toast(data.msg);
                            }
                        },
                        error: function (xhr, type, errotThrown) {
                            mui.toast('网络异常,请稍候再试');
                        }
                    });
                }
            });
        });

        // 点击修改角色给 typelist赋值
        $(document).on("tap", ".modifyBtn", function () {
            $(".typeList").attr("data-id", $(this).attr("data-id"));
            $(".typeList").attr("data-name", $(this).parent(".dataCollapse").siblings().find(".realName").text());
            $(".typeList").attr("data-type", $(this).parent(".dataCollapse").siblings().find("span").attr(
                "data-type"));
            $(".typeList li").each(function () {
                $(this).show();
                var thisType = $(this).attr("data-type");
                var parentType = $(this).parent().attr("data-type");
                if (thisType == parentType) {
                    $(this).hide();
                }
            })
        });

        // 修改工作人员角色
        $(document).on('tap', '.typeList li', function () {
            var btnArray = ['取消', '确认'];
            var type = $(this).attr("data-type");
            var id = $(this).parent().attr("data-id");
            var name = $(this).parent().attr("data-name");
            var thisRole = $(this).text();
            mui.confirm('确认把' + name + '设置为' + thisRole + '吗？', '提示', btnArray, function (e) {
                if (e.index == 1) {
                    var apiurl = "{:url('api/league/updateMatchMember')}";
                    mui.ajax(apiurl, {
                        data: {
                            id: id,
                            type: type
                        },
                        dataType: 'json',
                        type: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                mui.toast(data.msg);
                                location.reload();
                            } else {
                                mui.toast(data.msg);
                            }
                        },
                        error: function (xhr, type, errotThrown) {
                            mui.toast('网络异常,请稍候再试');
                        }
                    });
                }
            });
        });


        // 判断当前的关注状态
        function followStatus() {
            var league_id = "{league_id}";
            mui.ajax("{:url('api/follow/getfollow')}", {
                data: {
                    type: 5,
                    league_id: league_id
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        if (data.data === 1) {
                            $(".follow").text("已关注");
                            $(".follow").removeClass("mui-btn-danger");
                        } else {
                            $(".follow").text("关注");
                            $(".follow").addClass("mui-btn-danger");
                        }
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        }

        function markNum() {
            var organization_id = "{league_id}";
            mui.ajax("{:url('api/apply/getApplyListByPageApi','','',true)}", {
                data: {
                    organization_id: organization_id,
                    apply_type: 1,
                    status: 1
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        $(".markNum").text(data.data.total)
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        }
    </script>
</body>




</html>