<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>工作人员详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">工作人员详情</h1>
    </header>

    <div class="mui-content">

        <form action="" class="mui-input-group">
            <input type="hidden" name="member_id" class="data" value="{$matchMemberInfo.member_id}">
            <input type="hidden" name="league_id" class="data" value="{$league_id}">
            <div class="page-header bggray2">
                <span class="course wd45">
                    <strong>基本信息</strong>
                </span>
            </div>
            <div class="mui-input-row">
                <label>姓名</label>
                <span>{$matchMemberInfo.realname}</span>
            </div>
            <div class="mui-input-row">
                <div class="mui-navigate-right typeRole">
                    <label>角色</label>
                    {if $memberInfo.id == $matchMemberInfo.member_id}
                    <span name="type" class="data spanType"></span>
                    {else}
                    <span class="select-row">
                        <select name="type" id="roleSelect" class="data">
                            {volist name="types" id="vo"}
                            <option value="{$key}">{$vo}</option>
                            {/volist}
                        </select>
                    </span>
                    {/if}
                </div>
            </div>
            <div class="mui-input-row">
                <label>职称</label>
                <input type="text" name="job_description" value="{$matchMemberInfo.job_description}" class="data"
                    placeholder="请填写职称信息">
            </div>
            <div class="mui-input-row">
                <label>电话</label>
                {if $matchMemberInfo.telephone==0}
                <input type="text" name="telephone" value="" class="data" placeholder="请填写电话">
                {else/}
                <input type="text" name="telephone" value="{$matchMemberInfo.telephone}" class="data" placeholder="请填写电话">
                {/if}
            </div>
        </form>

        <ul class="mui-table-view operation mt">
            <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                <a href="{:url('match/leaguemanage')}">
                    <span class="mui-icon icon iconfont icon-nav-Home"></span>
                </a>
            </li>
            {if $memberInfo.id == $matchMemberInfo.member_id}
            <li class="mui-table-view-cell mui-col-sm-10 mui-col-xs-10 opli bggreen confirmBtn">
                提交
            </li>
            {else/}
            <li class="mui-table-view-cell mui-col-sm-5 mui-col-xs-5 opli bgred deleteWorker">
                删除
            </li>
            <li class="mui-table-view-cell mui-col-sm-5 mui-col-xs-5 opli bggreen confirmBtn">
                提交
            </li>
            {/if}
        </ul>

    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>
        var type = "{$matchMemberInfo.type}";
        if (type == 10) {
            $(".spanType").text("负责人");
        } else if (type == 9) {
            $(".spanType").text("管理员");
        } else if (type == 8) {
            $(".spanType").text("记录员");
        } else if (type == 7) {
            $(".spanType").text("裁判员");
        } else if (type == 0) {
            $(".spanType").text("工作人员");
        }
        $('#roleSelect option[value="{$matchMemberInfo.type}"]').prop("selected", true);

        // 删除工作人员
        $(document).on('tap', '.deleteWorker', function () {
            var btnArray = ['取消', '确认'];
            var id = "{$matchMemberInfo.id}";
            mui.confirm('确认删除该工作人员吗', '提示', btnArray, function (e) {
                if (e.index == 1) {
                    var apiurl = "{:url('api/league/delmatchmember')}";
                    mui.ajax(apiurl, {
                        data: {
                            id: id,
                        },
                        dataType: 'json',
                        type: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                mui.toast(data.msg);
                                window.history.go(-1)
                            } else {
                                mui.toast(data.msg);
                            }
                        },
                        error: function (xhr, type, errotThrown) {
                            mui.toast('网络异常,请稍候再试');
                        }
                    });
                }
            });
        });

        // 获取数据并进行提交
        $(document).on('tap', '.confirmBtn', function () {
            var data = wooApi.getInputData('input', 'data');
            datas = wooApi.getInputData('select', 'data', data);
            // 获取其他标签值
            arrData = wooApi.getDomData('domData', datas);
            var objData = wooApi.arrTOobj(arrData);
            var url = "{:url('api/league/updateMatchMember')}";
            var ajaxResult = wooApi.asyncF(url, objData);
            if (ajaxResult.code == 200) {
                mui.alert(ajaxResult.msg, '提交成功', '确定', function () {
                    var goUrl = "{:url('match/worklistofleague')}" + '/league_id/' + "{$league_id}";
                    window.top.location.href = goUrl;
                })
            } else {
                mui.alert(ajaxResult.msg, '提交失败');
                mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                    if (data.code === 200) {
                        $('input[name=__token__]').val(data.data);
                    }
                }, 'json');
            }
        });
    </script>
</body>




</html>