{extend name="layout/common"/}

{block name="page-content"}


<div class="row">

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="icon iconfont icon-training-wage"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">本月营业额</span>
                <span class="info-box-number">￥{$monthBill}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="icon iconfont icon-training-wage"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">总营业额</span>
                <span class="info-box-number">￥{$totalBill}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="icon iconfont icon-training-wage"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">本月收益</span>
                <span class="info-box-number">￥{$monthIncome}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="icon iconfont icon-training-wage"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">总收益</span>
                <span class="info-box-number">￥{$totalIncome}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="icon iconfont icon-training-record"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">本月已上课量</span>
                <span class="info-box-number">{$monthSchedule} <small>节</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="icon iconfont icon-training-record"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">总已上课量</span>
                <span class="info-box-number">{$totalSchedule} <small>节</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="icon iconfont icon-team-member"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">本月上课人流量</span>
                <span class="info-box-number">{$monthStudents} <small>人次</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="icon iconfont icon-team-member"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">总上课人流量</span>
                <span class="info-box-number">{$totalStudents} <small>人次</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="icon iconfont icon-team-member"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">本月新增会员</span>
                <span class="info-box-number">160 <small>人</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="icon iconfont icon-team-member"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">本月离营学员</span>
                <span class="info-box-number">10 <small>人</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->


    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="icon iconfont icon-team-member"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">在学会员</span>
                <span class="info-box-number">1960 <small>人</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="icon iconfont icon-team-member"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">历史学员</span>
                <span class="info-box-number">2,410 <small>人</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    
</div>

<section class="content">

    <div class="row">
        <div class="col-md-6">
            <!-- AREA CHART -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">学员分布（训练点） </h3>
                </div>
                <div class="box-body">
                    <div id="canvasLocation" style="height: 400px"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-6">
            <!-- AREA CHART -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">课程购买（占比） </h3>
                </div>
                <div class="box-body">
                    <div id="canvasLesson" style="height: 400px"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <!-- LINE CHART -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">营业额折线图（本月）</h3>
                </div>
                <div class="box-body">
                    <div id="turnoverMonth" style="height: 400px"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->


        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">

            <!-- LINE CHART -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">营业额折线图（本年）</h3>
                </div>
                <div class="box-body">
                    <div id="turnoverYear" style="height: 400px"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-md-6">

            <!-- LINE CHART -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">学员总人数折线图（本年）</h3>
                </div>
                <div class="box-body">
                    <div id="studentAll" style="height: 400px"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->


        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">

            <!-- LINE CHART -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">学员训练点分布折线图（本年）</h3>
                </div>
                <div class="box-body">
                    <div id="studentLocation" style="height: 400px"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->

    <div>
    </div>



</section>



{/block}

{block name='js'}

<script src="/static/plugins/echart/echarts.min.js"></script>
<script src="/static/plugins/echart/hot.js"></script>


<script type="text/javascript">


    var date=new Date;
    var currYear=date.getFullYear();
    var currMonth=date.getMonth()+1;
    var currDate=date.getDate();
    var arrDate = new Array();
    for(var i=1;i<=currDate;i++){
        arrDate.push(i)
    }

    /////////////////////////////////////////////////////////////////////////////////////// 营业额折线图（本月）


    let eventBill = JSON.parse('{$eventBill}');
    let lessonBill = JSON.parse('{$lessonBill}');
    let eventBillYear = JSON.parse('{$eventBillYear}');
    let lessonBillYear = JSON.parse('{$lessonBillYear}');
    let gradeCourtData = JSON.parse('{$gradeCourtData}');
    let lessonBuyData = JSON.parse('{$lessonBuyData}');
    let monthlyCourtStudentsData = JSON.parse('{$monthlyCourtStudentsData}');
    let monthlyStudentsData = JSON.parse('{$monthlyStudentsData}');
    var domTM = document.getElementById("turnoverMonth");
    var turnoverMonth = echarts.init(domTM,"hot");

    // 指定图表的配置项和数据
    optionTM = {
        title: {
            text: currYear+'年'+currMonth+'月'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['培训','活动']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: arrDate
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'培训',
                type:'line',
                data:lessonBill
            },
            {
                name:'活动',
                type:'line',
                data:eventBill
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    turnoverMonth.setOption(optionTM,true);


    /////////////////////////////////////////////////////////////////////////////////////// 营业额折线图（本年）


    var domTY = document.getElementById("turnoverYear");
    var turnoverYear = echarts.init(domTY,"hot");
    console.log(lessonBillYear)
    // 指定图表的配置项和数据
    optionTY = {
        title: {
            text: "{:date('Y',time())} 年营业额折线图"
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['培训','活动']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'培训',
                type:'line',
                data:lessonBillYear
            },
            {
                name:'活动',
                type:'line',
                data:eventBillYear
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    turnoverYear.setOption(optionTY);


    /////////////////////////////////////////////////////////////////////////////////////// 学员分布


    var domLC = document.getElementById("canvasLocation");
    var canvasLocation = echarts.init(domLC,"hot");
    console.log(gradeCourtData.legend)
    // 指定图表的配置项和数据
    optionLCT = {
        title : {
            text: '学生训练点分布',
            subtext: gradeCourtData.legend.length+'个训练点',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: gradeCourtData.legend
        },
        series : [
            {
                name: '学生分布',
                type: 'pie',
                radius : '65%',
                center: ['50%', '50%'],
                data:gradeCourtData.series,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    canvasLocation.setOption(optionLCT);

    /////////////////////////////////////////////////////////////////////////////////////// 学员分布

    var domLS = document.getElementById("canvasLesson");
    var canvasLesson = echarts.init(domLS,"hot");
    console.log(lessonBuyData)
    // 指定图表的配置项和数据
    optionLS = {
        title : {
            text: '课程购买饼图',
            subtext: lessonBuyData.legend.length+'个课程',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: lessonBuyData.legend
        },
        series : [
            {
                name: '学生分布',
                type: 'pie',
                radius: ['45%', '65%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:lessonBuyData.series,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    canvasLesson.setOption(optionLS);


    /////////////////////////////////////////////////////////////////////////////////////// 学员折线图（本年）


    var domSA = document.getElementById("studentAll");
    var studentAll = echarts.init(domSA,"hot");

    // 指定图表的配置项和数据
    optionSA = {
        title: {
            text: currYear
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['学员']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'学员',
                type:'line',
                data:monthlyStudentsData
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    studentAll.setOption(optionSA);


    /////////////////////////////////////////////////////////////////////////////////////// 学员分布流动折线图（本年）


    var domSL = document.getElementById("studentLocation");
    var studentLocation = echarts.init(domSL,"hot");

    // 指定图表的配置项和数据
    optionSL = {
        title: {
            text: currYear
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['前海北头','鼎泰风华','南山小学','南外二小','松坪小学']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'前海北头',
                type:'line',
                data:[10, 20, 30, 30, 20, 10, 10, 20, 30, 40, 30, 60, 20]
            },
            {
                name:'鼎泰风华',
                type:'line',
                data:[100, 200, 300, 300, 200, 150, 100, 240, 300, 400, 350, 600, 200]
            },
            {
                name:'南山小学',
                type:'line',
                data:[54, 23, 43, 54, 43, 54, 43, 43, 56, 54, 54, 45, 45]
            },
            {
                name:'南外二小',
                type:'line',
                data:[30, 24, 30, 30, 20, 50, 10, 24, 30, 40, 30, 60, 20]
            },
            {
                name:'松坪小学',
                type:'line',
                data:[20, 20, 30, 30, 20, 80, 10, 20, 34, 40, 50, 50, 20]
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    studentLocation.setOption(optionSL);

</script>





{/block}
