<!DOCTYPE html>
<html>
<head>
    <title>添加会员</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/backend/adminlte/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/backend/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/backend/plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/backend/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/backend/adminlte/css/master.css">
</head>
<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="box no-border">
                    <form role="form" action="" method="post">
                        {:token()}
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">用户名</label>
                                <input type="text" class="form-control" name="member" value="{$memberInfo.member}" disabled="disabled">
                                <input type="hidden" name="member_id" value="{$memberInfo.id}">
                            </div>
                            <div class="form-group">
                                <label for="">电话号码</label>
                                <input type="text" class="form-control" placeholder="电话号码" name="emergency_telephone" value="{$memberInfo.telephone}">
                            </div>
                            <div class="form-group">
                                <label for="">学生姓名</label>
                                <input type="text" class="form-control" placeholder="学生姓名" name="student" value="" required="required">
                            </div>
                            <div class="form-group">
                                <label for="">学生性别</label>
                                <select name="student_sex">
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                    <option value="3">未知</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">省</label>
                                <input type="text" class="form-control" placeholder="广东省" name="student_province" value="广东省">
                            </div>
                            <div class="form-group">
                                <label for="">市</label>
                                <input type="text" class="form-control" placeholder="深圳市" name="student_city" value="深圳市">
                            </div>
                            <div class="form-group">
                                <label for="">区</label>
                                <input type="text" class="form-control" placeholder="南山区" name="student_area" value="南山区">
                            </div>
                            <div class="form-group">
                                <label for="">学校</label>
                                <input type="text" class="form-control" placeholder="大热小学" name="school">
                            </div>
                            <div class="form-group">
                                <label for="">体重</label>
                                <input type="text" class="form-control" placeholder="45.5" name="student_weight">
                            </div>
                            <div class="form-group">
                                <label for="">身高</label>
                                <input type="text" class="form-control" placeholder="150.5" name="student_height">
                            </div>
                            <div class="form-group">
                                <label for="">鞋码</label>
                                <input type="text" class="form-control" placeholder="26码" name="student_shoe_code">
                            </div>
                            <div class="form-group">
                                <label for="">系统备注</label>
                                <textarea class="form-control" placeholder="随便备注" name="system_remarks">
                                    
                                </textarea>
                            </div>
                        </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success">提  交</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/backend/layui/layui.js"></script>
</html>