{extend name="layout/common" /}

{block name="page-content"}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">学员档案</h3>
            </div>
            <form class="form-horizontal student-form" method="post" action="">
                <input type="hidden" id="student-id" name="id" value="{$student.id}">
                {:token()}
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">学员姓名</div>
                        <div class="col-sm-5">
                            <h5>{$student.student}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">所在训练营/班级</div>
                        <div class="col-sm-5">
                            <h5>
                            {foreach name="student._incamp" item="vo"}
                            {$vo.camp} -- {$vo.grade}<br>
                            {/foreach}
                            </h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">性别</div>
                        <div class="col-sm-5">
                            <h5>{$student.student|format_sex}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">出生日期</div>
                        <div class="col-sm-5">
                            <h5>{$student.student_birthday}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">身高</div>
                        <div class="col-sm-5">
                            <h5>{$student.student_height}cm</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">体重</div>
                        <div class="col-sm-5">
                            <h5>{$student.student_weight}kg</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">鞋码</div>
                        <div class="col-sm-5">
                            <h5>{$student.student_shoe_code}码</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">所属地区</div>
                        <div class="col-sm-5">
                            <h5>{$student.student_province}-{$student.student_city}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">所读学校</div>
                        <div class="col-sm-5">
                            <h5>{$student.school}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">注册时间</div>
                        <div class="col-sm-5">
                            <h5>{$student.create_time}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">性格特征</div>
                        <div class="col-sm-5">
                            <h5>{$student.student}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">家长姓名</div>
                        <div class="col-sm-5">
                            <h5>{$student.parent}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">手机号码</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.telephone}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">紧急电话</div>
                        <div class="col-sm-5">
                            <h5>{$student.emergency_telephone}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>

                </div>
                
            </form>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">会员 详细资料</h3>
            </div>
            <form class="form-horizontal" method="post" action="">
                <input type="hidden" id="member-id" name="mid" value="{$student.member.id}">
                {:token()}
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户名</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.member}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">电话号码</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.telephone}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">电子邮箱</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.email}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">证件</div>
                        <div class="col-sm-5">
                            {notempty name="student.member.cert_id"}
                            <img src="{$student.member.cert.photo_positive}" class="img-thumbnail" alt="">
                            {/notempty}
                        </div>
                        <div class="col-sm-5">
                            {notempty name="student.member.cert_id"}
                            {notempty name="student.member.cert.photo_back"}
                            <img src="{$student.member.cert.photo_back}" class="img-thumbnail" alt="">
                            {/notempty}
                            {/notempty}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">头像</div>
                        <div class="col-sm-5">
                            {notempty name="student.member.avatar"}
                            <img src="{$student.member.avatar}" class="img-thumbnail" alt="">
                            {/notempty}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">性别</div>
                        <div class="col-sm-5">
                            <h5>
                            {switch name="student.member.sex"}
                            {case value="1"}男{/case}
                            {case value="2"}女{/case}
                            {default/}未知
                            {/switch}
                            </h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">生日</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.birthday}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">所在地区</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.province}-{$student.member.city}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">居住地址</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.location}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">流量</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.flow}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">阶衔</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.level}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">积分余额</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.score}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">人民币余额</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.balance}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">身高 体重 鞋码</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.height}cm  {$student.member.weight}kg {$student.member.shoe_code}码</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">注册时间</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.create_time}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">个人备注</div>
                        <div class="col-sm-5">
                            <h5>{$student.member.remarks}</h5>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
