<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$orgCampInfo.camp}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css" />
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style_red.css" />
    <!--顶部下滑菜单 menu-wrapper.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/menu.wrapper.css" />
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <!--自定义多色图标icon.js-->
    <script src="/static/frontend/iconfont/iconfont.js"></script>
    <style type="text/css">
        .coloricon {
            width: 2.3em;
            height: 2.3em;
            vertical-align: -0.7em;
            fill: currentColor;
            overflow: hidden;
        }

        .goConfirm .mui-media-body {
            height: 24px !important;
            line-height: 24px !important;
        }

        #hot-guide {
            margin: 25px 0px 80px;
            font-size: 14px;
            position: relative;
        }

        #hot-guide .icon {
            font-size: 3em;
            vertical-align: middle;
            color: #999;
        }

        .mui-backdrop {
            background: rgba(0, 0, 0, 0.69)
        }

        @media screen and (min-width: 320px) {
            .imgShowEvent {
                width: 70% !important;
            }
        }

        @media screen and (min-width: 375px) {
            .imgShowEvent {
                width: 73% !important;
            }
        }

        @media screen and (min-width: 414px) {
            .imgShowEvent {
                width: 78% !important;
            }
        }

        .logRegOperation {
            padding: 2px 6px !important;
        }

        .search .mui-segmented-control .mui-control-item {
            width: 30%;
        }
    </style>
</head>

<body class="mt44">


<!--首页-->
<div class="mui-content mt55">
    <!--定位、搜索触发-->
    <header id="header" class="mui-bar mui-bar-nav search1">
        <div class="mui-pull-left mui-icon mui-icon-location" id="showCityPicker3">
            <span class="address" id="cityResult3">大热市</span>
        </div>
        <div class="mui-pull-left">
            <input type="search" id="search-input" placeholder="搜课程/活动/教师等">
        </div>
        <span class="mui-icon mui-icon-search searchicon" id="search-Btn"></span>
    </header>

    <div id="tabbar" class="mui-control-content mui-active">
        <!--图片轮播-->
        <div id="slider" class="mui-slider">
            {if condition="count($bannerList) gt 1"}
            <div class="mui-slider-group mui-slider-loop morePic">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="{$lastBanner.url}">
                        <img src="{$lastBanner.image}">
                    </a>
                </div>
                <!-- 第一张 -->
                {volist name="bannerList" id="vol"}
                <div class="mui-slider-item">
                    <a href="{$vol.url}">
                        <img src="{$vol.image}">
                    </a>
                </div>
                {/volist}
                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="{$bannerList[0]['url']}">
                        <img src="{$bannerList[0]['image']}">
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                {volist name="bannerList" id="vol"}
                <div class="mui-indicator"></div>
                {/volist}
            </div>
            {else/}
            <div class="mui-slider-group mui-slider-loop onePic">
                <div class="mui-slider-item">
                    <a href="{$bannerList[0]['url']}">
                        <img src="{$bannerList[0]['image']}">
                    </a>
                </div>
            </div>
            {/if}
        </div>

        <!--图文导航-->
        <div class="nav-list mb">
            <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame ptb4">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 navli">
                    <a href="{:url('camp/campinfo')}/camp_id/{$orgCampInfo.id}">
                        <svg class="coloricon" aria-hidden="true">
                            <use xlink:href="#icon-home-campus"></use>
                        </svg>
                        <div class="mui-media-body">简介</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 navli">
                    <a href="{:url('article/articleList')}/?organ_type=2&organ_id={$orgCampInfo.id}&category=3&organ_name={$orgCampInfo.camp}">
                        <svg class="coloricon" aria-hidden="true">
                            <use xlink:href="#icon-home-news"></use>
                        </svg>
                        <div class="mui-media-body">新闻</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 navli">
                    <a href="{:url('lesson/lessonListOfOrganization')}">
                        <svg class="coloricon" aria-hidden="true">
                            <use xlink:href="#icon-home-course"></use>
                        </svg>
                        <div class="mui-media-body">课程</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 navli">
                    <a href="{:url('event/eventListOfOrganization')}">
                        <svg class="coloricon" aria-hidden="true">
                            <use xlink:href="#icon-home-Collection"></use>
                        </svg>
                        <div class="mui-media-body">活动</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 navli">
                    <a href="{:url('coach/coachListOfOrganization')}">
                        <svg class="coloricon" aria-hidden="true">
                            <use xlink:href="#icon-home-coach"></use>
                        </svg>
                        <div class="mui-media-body">师资</div>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 广告图 -->
        <div class="hot-ads">
            <img src="/static/frontend/images/ads2.jpg" />
        </div>

        <!-- 最新新闻 -->
        <div class="page-header  border-b">
                <span class="course">最近新闻
                    <span class="noDataTip"></span>
                </span>
            <span class="more">
                    <!-- <a href="{:url('article/articleList')}" class="mui-navigate-right">更多</a> -->
                    <a href="{:url('article/articleList')}/?organ_type=2&organ_id={$orgCampInfo.id}&category=3&organ_name={$orgCampInfo.camp}">更多</a>
                </span>
        </div>
        <ul class="mui-table-view list mainInfo newList"></ul>


        <!--热门课程-->
        <div class="show-list mt mb">
            <div class="page-header border-b">
                    <span class="course">热门课程
                        <span class="noDataTip"></span>
                    </span>
                <span class="more">
                        <a href="{:url('lesson/lessonListOfOrganization')}" class="mui-navigate-right">更多</a>
                    </span>
            </div>
            <ul class="mui-table-view mui-grid-view show-list-cont" id="hot-lesson"></ul>
        </div>

        <!-- 《篮球管家》操作指南-->
        <div id="hot-guide" class="mline">
            <a href="{:url('article/articleList')}/?organ_type=1&organ_id=0&category=1&organ_name=篮球管家">运动管家
                <span class="icon iconfont icon-training-camp"></span> 操作指南 </a>
        </div>
    </div>
</div>


<div id="menu-wrapper" class="menu-wrapper hidden">
    <div id="menu" class="menu search">
        <!--搜索执行-->
        <header id="header-search" class="mui-bar mui-bar-nav search1" style="position: relative !important;">
            <div class="mui-pull-left mui-icon mui-icon-back" id="close-search"></div>
            <div class="mui-pull-left searchType">
                搜
                <span>课程</span>
            </div>
            <div class="mui-pull-left">
                <input type="search" id="searchInput" class="mui-input-clear" placeholder="请输入搜索关键字">
            </div>
            <span class="mui-icon mui-icon-search searchicon" id="searchBtn"></span>
        </header>
        <div class="search">
            <div id="segmentedControl" class="mui-segmented-control">
                <span class="mui-control-item mui-active choise-segment" s-table="/frontend/lesson/lessonListOfOrganization/">课程</span>
                <span class="mui-control-item choise-segment" s-table="/frontend/event/eventListOfOrganization/">活动</span>
                <span class="mui-control-item choise-segment" s-table="/frontend/coach/coachListOfOrganization/">教师</span>
            </div>

            <div class="hot-search">
                <h4>热门搜索</h4>
                <ul class="hot-search-frame">
                    <li>
                        <span>暂无</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="menu-backdrop" class="menu-backdrop"></div>

<!--底部导航-->
{layout name="Layout/footer"}
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<!--选择器-->
<script src="/static/frontend/js/mui.picker.min.js"></script>
<script src="/static/frontend/js/mui.poppicker.js"></script>
<script src="/static/frontend/js/common.js?v={:time()}"></script>
<script src="/static/frontend/js/city.data-3.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    //轮播
    var slider = mui("#slider");
    slider.slider({
        interval: 5000
    });
    mui("body").on("tap", "a", function () {
        window.top.location.href = this.href;
    });


    $(function () {
        // banner第一个点点焦点样式
        $('.mui-slider-indicator .mui-indicator').eq(0).addClass('mui-active');
        //未开发提示
        $(".goConfirm").click(function () {
            mui.toast('暂未开放，敬请期待');
        })

        // if(window.localStorage){ alert("浏览支持localStorage") }else{ alert("浏览暂不支持localStorage") }

        //localStorage.clear();

        //获取定位省市区
        var getLocationTB = getCampLocationApi("{$orgCampInfo.province}", "{$orgCampInfo.city}", "{$orgCampInfo.area}");
        var sCity = getLocationTB['city'];
        $(".address").text(sCity);

        // //获取热门课程
        toLessonList();

        //提示框
        if ("{$memberInfo['id']}" == 0) {
            mui.confirm('请完善您的信息，以便进行后续操作，谢谢！', '提示', ['取消', '前往完善'], function (e) {
                if (e.index === 1) {
                    window.location.href = "{$fasturl}";
                }
            });
        }

        //搜索子页：类型选择
        $(".mui-segmented-control").find(".choise-segment").click(function () {
            $(".searchType span").text($(this).text());
        })
        //搜索子页：搜索提交
        $("#searchBtn").click(function () {
            var sKeyword = $("#searchInput").val();
            if (sKeyword == 0) {
                mui.toast('请输入您要搜索的内容');
            } else {
                var getType = $(".mui-segmented-control .mui-active").attr("s-table");
                var searchUrl = getType + '?keyword=' + sKeyword;
                window.top.location.href = searchUrl;
            }
        });


        //热门搜索
//        $(".hot-search ul li").click(function () {
//            var gradecate_id = $(this).attr("s-keyword");
//            var sUrl = $(this).attr("s-table");
//            var searchUrl = sUrl + '?gradecate_id=' + gradecate_id;
//            window.top.location.href = searchUrl;
//        })




        toNewList(); // 最近新闻
    })


    //拼接搜索地址
    function getSearchUrl(tb, ty, kw) {
        var searchUrl = '/frontend/' + tb + '/' + tb + 'List/?' + ty + '=' + kw;

    }

    //搜索子页面
    var menuWrapper = document.getElementById("menu-wrapper");
    var menu = document.getElementById("menu");
    var menuWrapperClassList = menuWrapper.classList;
    var backdrop = document.getElementById("menu-backdrop");
    backdrop.addEventListener('tap', toggleMenu);
    var closeSearch = document.getElementById("close-search");
    closeSearch.addEventListener('tap', toggleMenu);
    document.getElementById("search-input").addEventListener('tap', toggleMenu);
    document.getElementById("search-Btn").addEventListener('tap', toggleMenu);

    var busying = false;
    function toggleMenu() {
        if (busying) {
            return;
        }
        busying = true;
        if (menuWrapperClassList.contains('mui-active')) {
            document.body.classList.remove('menu-open');
            menuWrapper.className = 'menu-wrapper fade-out-up animated';
            menu.className = 'menu bounce-out-up animated';
            setTimeout(function () {
                backdrop.style.opacity = 0;
                menuWrapper.classList.add('hidden');
            }, 500);
        } else {
            document.body.classList.add('menu-open');
            menuWrapper.className = 'menu-wrapper fade-in-down animated mui-active';
            menu.className = 'menu bounce-in-down animated';
            backdrop.style.opacity = 1;
        }
        setTimeout(function () {
            busying = false;
        }, 500);
    }


    var member_id = "{$memberInfo.id}"
    var camp_id = "{$o_id}"

    //获取热门课程并追加到页面
    var toLessonList = function () {
        var url = "{:url('api/lesson/getHotLessonListApi','','',true)}";
        mui.ajax({
            url: url,
            data: {
                status: 1,
                hot: 1,
                camp_id: camp_id,
                isprivate: 0
            },
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: { 'Content-Type': 'application/json' },
            //processData:false,
            success: function (data) {
                if (data.code == 200) {
                    var newli = '';
                    for (var i = 0; i <= data.data.length - 1; i++) {
                        var urls = "{:url('lesson/lessonInfo')}" + '/lesson_id/' + data.data[i].id;
                        newli = newli + '<li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="' + urls + '"><div class="img4x3" style="background-image:url(' + data.data[i].cover + ')"></div><div class="mui-media-body typename">' + data.data[i].lesson + '</div><div class="frame"><span class="typename-num">已报名：' + data.data[i].students + '</span><span class="typename-money">￥' + data.data[i].cost + '</span></div></a></li>'
                    }
                    if (newli == '') {
                        newli = '<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>'
                    }
                    $("ul#hot-lesson").html(newli);

                } else {
                    // newli = '<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>';
                    // $("ul#hot-lesson").html(newli);
                    $("ul#hot-lesson").prev().find(".noDataTip").append("（暂无数据）");
                }

            },
            error: function (xhr, type, errerThrown) {
                mui.toast('网络异常,请稍候再试');
            }
        });
    };

    //获取最近一条新闻
    function toNewList() {
        mui.ajax("{:url('api/article/getArticleListByPageApi')}", {
            data: {
                category: 3,
                organization_type: 2,
                organization_id: camp_id,
                status: 1
            },
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: { 'Content-Type': 'application/json' },
            success: function (data) {
                console.log(data)
                var div = '';
                if (data.code == 200) {
                    // 将时间戳转成日期格式
                    for (var i = 0; i <= data.data.data.slice(0, 3).length - 1; i++) {
                        let urls = "{:url('article/articleInfo')}" + "/article_id/" + data.data.data[i].id;
                        div += '<li class="mui-table-view-cell listli"><a href="' + urls + '"><img class="mui-pull-left proportion4x3" src="' + data.data.data[i].covers + '"><div style="line-height:26px;"><strong>' + data.data.data[i].title + '</strong>';
                        div += '<p class="mui-ellipsis f12">' + data.data.data[i].create_time + '<span class="wd45"><font style="margin-right: 8px !important;"><i class="mui-icon-extra mui-icon-extra-comment f14"></i>&nbsp;' + data.data.data[i].comments + '</font><font><i class="mui-icon-extra mui-icon-extra-like f14"></i>&nbsp;' + data.data.data[i].likes + '</span></span></p></div>';
                        div += '</a></li>';
                    }
                    $(".newList").empty().append(div);
                    if (div == '') {
                        // $(".newList").empty().append('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>还没有新闻数据哦</p></li>');
                        $(".newList").prev().find(".noDataTip").append("（暂无数据）");
                    }
                }
            },
            error: function (xhr, type, errorThrown) {
                //异常处理；
                console.log(type);
            }
        });
    };


    //创建补0函数
    function p(s) {
        return s < 10 ? '0' + s : s;
    }
    function gettimem(m) {
        var _time = new Date(m);
        var month = _time.getMonth() + 1;
        return p(month);
    }
    function gettimed(d) {
        var _time = new Date(d);
        var day = _time.getDate();
        return p(day);
    }
    function gettimeh(h) {
        var _time = new Date(h);
        var hours = _time.getHours();
        var minutes = _time.getMinutes();
        return p(hours) + ":" + p(minutes);
    }
    // 将时间戳转成日期格式
    function gettimeM(M) {
        var _time = new Date(M);
        var month = _time.getMonth() + 1;
        var day = _time.getDate();
        return p(month) + "月" + p(day) + "日"
    }
    function gettimeY(Y) {
        var _time = new Date(Y);
        var year = _time.getFullYear();
        return p(year) + "年";
    }


</script>

</html>