.<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>班级详情页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body>
    <div class="mui-content">

        <div class="camp-list camp-lesson-list grade-list">

            <ul class="mui-table-view list mb">
                <li class="mui-table-view-cell mui-media listli">
                    <a href="javascript:;" class="mui-navigate-right">
                        <div class="mui-media-body wd">
                            <strong>{$gradeInfo.grade}</strong><font class="state">[{$gradeInfo.status}]</font>
                            <p class="mui-ellipsis">{$gradeInfo.camp} | {$gradeInfo.lesson}</p>
                        </div>
                    </a>
                </li>
            </ul>

            <ul class="mui-table-view list detalis-list">
                <li class="mui-table-view-cell listli detalisli">学员名单
                    <span class="mui-navigate-right" style="padding-right: 10px">{$gradeInfo.student_str}</span>
                </li>
                <li class="mui-table-view-cell listli">训练时间<span>{$gradeInfo.lesson_time}</span></li>
                <li class="mui-table-view-cell listli">训练地点<span>{$gradeInfo.court}</span></li>
                <li class="mui-table-view-cell listli">所属地区<span>{$gradeInfo.province} {$gradeInfo.city} {$gradeInfo.area}</span></li>
                <li class="mui-table-view-cell listli">具体地址<span>{$gradeInfo.location}</span></li>
                <li class="mui-table-view-cell listli">领队<span>{$gradeInfo.coach}</span></li>
                <li class="mui-table-view-cell listli">班主任<span>{$gradeInfo.teacher}</span></li>
                <li class="mui-table-view-cell listli">主教练<span>{$gradeInfo.coach}</span></li>
                <li class="mui-table-view-cell listli">助教练<span>{$gradeInfo.assistant}</span></li>
                <li class="mui-table-view-cell listli">所属课程<span>{$gradeInfo.lesson}</span></li>
                <li class="mui-table-view-cell listli">班级类型<span>{$gradeInfo.grade}</span></li>
                <li class="mui-table-view-cell listli">
                    <a href="{:url('plan/planList')}" class="mui-navigate-right">
                        教案<span>{$gradeInfo.plan}</span>
                    </a>
                </li>
                <li class="mui-table-view-cell listli">场地租金<span>{$gradeInfo.rent}</span></li>
                <li class="mui-table-view-cell listli">备注<span>{$gradeInfo.remarks}</span></li>
            </ul>

        </div>

    </div>
    <script src="/static/frontend/js/mui.min.js"></script>
    <script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    </script>
</body>
</html>