<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>班级详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"><span class="return">返回</span></a>
        <h1 class="mui-title">
            <font>({$gradeInfo.lesson})</font>{$gradeInfo.camp}</h1>
    </header>

    <div class="mui-content">

        <div class="camp-list camp-lesson-list grade-list">

            <ul class="mui-table-view list mb">
                <li class="mui-table-view-cell mui-media listli">
                    <a href="{:url('grade/updateGrade',['grade_id'=>$gradeInfo['id']])}" class="mui-navigate-right">
                        <div class="mui-media-body wd">
                            <strong>{$gradeInfo.grade}</strong>
                            <font class="state">[{$gradeInfo.status}]</font>
                            <p>{$gradeInfo.students} 名正式学员</p>
                        </div>
                        {eq name="updateGrade" value='1'}
                        <div class="price-frame" style="padding-top:16px;">
                            <span>编辑</span>

                        </div>
                        {/eq}
                    </a>
                </li>
            </ul>

            <ul class="mui-table-view list detalis-list">
                <li class="mui-table-view-cell listli detalisli">学员名单<span class="students">{$gradeInfo.student_str}</span></li>
                <li class="mui-table-view-cell listli">班级类型<span>{$gradeInfo.gradecate}</span></li>
                <li class="mui-table-view-cell listli">所属课程<span>{$gradeInfo.lesson}</span></li>
                <li class="mui-table-view-cell listli">训练时间<span id="weektime">{$gradeInfo.week} {$gradeInfo.lesson_time}</span></li>
                <li class="mui-table-view-cell listli">训练地点<span>{$gradeInfo.court}</span></li>
                <li class="mui-table-view-cell listli">所属地区<span>{$gradeInfo.province}&nbsp;{$gradeInfo.city}&nbsp;{$gradeInfo.area}</span></li>
                <li class="mui-table-view-cell listli">具体地址<span>{$gradeInfo.location}</span></li>
                <li class="mui-table-view-cell listli">主教练<span>{$gradeInfo.coach}</span></li>
                <li class="mui-table-view-cell listli">主教底薪
                    <a href="#coachSalary" style="display:inline-flex; padding: 0;margin-left: 0">
                        <i class="mui-icon mui-icon-info" style="padding-left: 0"></i>
                    </a>
                    <span>{$gradeInfo.coach_salary}</span>
                </li>
                <li class="mui-table-view-cell listli">助理教练<span>{$gradeInfo.assistants}</span></li>
                <li class="mui-table-view-cell listli">助教底薪
                    <a href="#assistantSalary" style="display:inline-flex; padding: 0;margin-left: 0">
                        <i class="mui-icon mui-icon-info" style="padding-left: 0"></i>
                    </a>
                    <span>{$gradeInfo.assistant_salary}</span>
                </li>
                <li class="mui-table-view-cell listli">基数
                    <a href="#mainBase" style="display:inline-flex; padding: 0;margin-left: 0">
                        <i class="mui-icon mui-icon-info" style="padding-left: 0"></i>
                    </a>
                    <span>{$gradeInfo.salary_base}</span>
                </li>
                <li class="mui-table-view-cell listli">领队<span>{$gradeInfo.leader}</span></li>
                <li class="mui-table-view-cell listli">班主任<span>{$gradeInfo.teacher}</span></li>
                <li class="mui-table-view-cell listli">教案<span>{$gradeInfo.plan}</span></li>

                <!-- <li class="mui-table-view-cell listli">场地租金<span>{$gradeInfo.rent}</span></li> -->
                <li class="mui-table-view-cell listli">备注<span>{$gradeInfo.remarks}</span></li>
            </ul>

        </div>

        <!--主教底薪-->
        <div id="coachSalary" class="mui-popover">
            <div class="mui-popover-arrow"></div>
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="mine">
                        <ul class="mui-table-view list">
                            <li class="mui-table-view-cell listli detalisli">主教底薪</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--助教底薪-->
        <div id="assistantSalary" class="mui-popover">
            <div class="mui-popover-arrow"></div>
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="mine">
                        <ul class="mui-table-view list">
                            <li class="mui-table-view-cell listli detalisli">助教底薪</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--主教基数-->
        <div id="mainBase" class="mui-popover">
            <div class="mui-popover-arrow"></div>
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="mine">
                        <div class="explain">
                            <div class="page-header explain-title">
                                <span class="course">基数说明</span>
                            </div>
                            <div class="explain-cont">
                                <p>1、基数说明;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });
        $(function () {
            //组合周期和时间
            var weeks = "{$gradeInfo.week}"
            var times = "{$gradeInfo.lesson_time}"
            var wk = weeks.split(',');
            var ts = times.split(',');
            var weekTime = "";
            for (var i = 0; i < wk.length; i++) {
                weekTime += wk[i] + "（" + ts[i] + "）"
            }
            $("#weektime").text(weekTime);
        })

    </script>
</body>

</html>