<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>班级编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet"/>
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet"/>
    <style>
        .mui-input-row a.mui-navigate-right{
            width: 100%;
            height: 100%;
            display: block;
        }
        .mui-popover-arrow {
            left: auto;
            right: 6px;
        }
        .mui-popover {
            height: 300px;
        }
        .mui-toast-container{
            top: 250px
        }
    </style>
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"><span class="return">返回</span></a>
        <h1 class="mui-title"><font>({$gradeInfo.lesson})</font>{$gradeInfo.camp}</h1>
    </header>

    <div class="mui-content">

        <div class="camp-list camp-lesson-list detalis-list grade-list mt55">

            <form action="" class="mui-input-group">

                <div class="mui-input-row">
                    <label>班级名称</label>
                    <span class="grade">{$gradeInfo.grade}</span>
                </div>

                <div class="mui-input-row">
                    <a href="#student" class="mui-navigate-right">
                        <label>学员名单</label>
                        <span class="studentCont student">{volist name="studentList" id="vol"}{$vol.student},{/volist}</span>
                        <input type="text" name="student" style="display: none">
                    </a>
                </div>

                <div class="mui-input-row">
                    <a href="#gradeType" class="mui-navigate-right">
                        <label>班级类型</label>
                        <span class="gradeTypeCont gradecate">{$gradeInfo.gradecate}</span>
                    </a>
                </div>
                <div class="mui-input-row">
                    <label>所属课程</label>
                    <span class="lesson">{$gradeInfo.lesson}</span>
                </div>
                <div class="mui-input-row">
                    <label>训练日期</label>
                    <span class="select-arrow week">
                        <select class="select">
                            <option>周日</option>
                            <option>周一</option>
                            <option>周二</option>
                            <option>周三</option>
                            <option>周四</option>
                            <option>周五</option>
                            <option>周六</option>
                        </select>
                    </span>
                </div>

                <div class="mui-input-row picker btn" id="demo5" data-options='{"type":"time"}'>
                    <a href="#" class="mui-navigate-right">
                        <label>训练时间</label>
                        <span id="result" class="ui-alert lesson_time"></span>
                    </a>
                </div>

                <div class="mui-input-row">
                    <a href="#trainLocation" class="mui-navigate-right">
                        <label>训练地点</label>
                        <span class="trainLocationCont location">{$gradeInfo.court}</span>
                    </a>
                </div>

                <div class="mui-input-row" id='showCityPicker3'>
                    <a href="#" class="mui-navigate-right">
                        <label>所属地区</label>
                        <span id="cityResult3" class="ui-alert">{$gradeInfo.province} {$gradeInfo.city} {$gradeInfo.area}</span>
                    </a>
                </div>

                <div class="mui-input-row">
                    <label>具体地址</label>
                    <span class="locatin">{$gradeInfo.location}</span>
                </div>

                <div class="mui-input-row">
                    <a href="#mainCoach" class="mui-navigate-right">
                        <label>主教练</label>
                        <span class="mainCoachCont coach">{$gradeInfo.coach}</span>
                    </a>
                </div>

                <div class="mui-input-row">
                    <a href="#assistantCoach" class="mui-navigate-right">
                        <label>助理教练</label>
                        <span class="assistantCoachCont assistant">{$gradeInfo.assistants}</span>
                        <input type="text" name="dom" style="display: none">
                    </a>
                </div>

                <div class="mui-input-row">
                    <label>主教底薪<a href="#salary"><i class="mui-icon mui-icon-info"></i></a></label>
                    <span class="coach_salary">{$gradeInfo.coach_salary}</span>
                </div>

                <div class="mui-input-row">
                    <label>助教底薪<a href="#salary"><i class="mui-icon mui-icon-info"></i></a></label>
                    <span class="assistant_salary">{$gradeInfo.assistant_salary}</span>
                </div>

                <div class="mui-input-row">
                    <label>主教基数<a href="#mainBase"><i class="mui-icon mui-icon-info"></i></a></label>
                    <span class="salary_base">{$gradeInfo.salary_base}</span>
                </div>

                <div class="mui-input-row">
                    <a href="#leader" class="mui-navigate-right">
                        <label>领队</label>
                        <span class="leaderCont leader">{$gradeInfo.leader}</span>
                    </a>
                </div>

                <div class="mui-input-row">
                    <a href="#headMaster" class="mui-navigate-right">
                        <label>班主任</label>
                        <span class="headMasterCont teacher">{$gradeInfo.teacher}</span>
                    </a>
                </div>

                <div class="mui-input-row">
                    <a href="#teachingPlan" class="mui-navigate-right">
                        <label>教案</label>
                        <span class="teachingPlanCont plan">{$gradeInfo.plan}</span>
                    </a>
                </div>

                <div class="mui-input-row">
                    <label>场地租金</label>
                    <input type="text" name="" class="checkNum rent" value="{$gradeInfo.rent}">
                </div>
                <div class="mui-input-row">
                    <label>是否预排</label>
                    <span class="select-arrow status">
                        <select class="select">
                            <option>预排</option>
                            <option>正常</option>
                            <option>下架</option>
                        </select>
                    </span>
                </div>
                <div class="mui-input-row">
                    <label>备注</label>
                    <input type="text" class="remarks checkChinese" value="{$gradeInfo.remarks}" onblur="checkChinese()">
                </div>

            </form>

            <ul class="mui-table-view operation">
                <li class="mui-table-view-cell mui-col-xs-12 opli bggreen editorbtn" style="color: #fff">
                    提交
                </li>
            </ul>

        </div>

    </div>


    <!--主教练-->
    <div id="mainCoach" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="camp-list camp-lesson-list detalis-list mt">
                    <div class="page-header">
                       <span class="course"><strong>主教练</strong></span>
                   </div>
                   <ul class="mui-table-view list">
                    {volist name="staffList" id="vol"}
                    <li class="mui-table-view-cell listli detalisli mainCoach" data-id="{$vol.member_id}">
                       {$vol.member}
                   </li>
                   {/volist}
               </ul>
           </div>
       </div>
   </div>
</div>    
<!--学员名单-->
<div id="student" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="camp-list camp-lesson-list detalis-list mt">
                <div class="page-header">
                    <span class="course wd36"><strong>学员名单</strong></span>
                    <span class="fr"><button class="mui-btn-blue" id="studentConfirm">确认</button></span>
                </div>
                <form class="mui-input-group">
                    {volist name="studentList" id="vol"}
                    <div class="mui-input-row mui-checkbox mui-left">
                        <label>{$vol.member}</label>
                        <input name="checkbox-student" value="{$vol.member}" type="checkbox" data-id="{$vol.member_id}">
                    </div>
                    {/volist}
                </form>
            </div>
        </div>
    </div>
</div>
<!--助理教练-->
<div id="assistantCoach" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="camp-list camp-lesson-list detalis-list mt">
                <div class="page-header">
                    <span class="course wd36"><strong>助理教练</strong></span>
                    <span class="fr"><button class="mui-btn-blue" id="domConfirm">确认</button></span>
                </div>
                <form class="mui-input-group">
                    {volist name="staffList" id="vol"}
                    <div class="mui-input-row mui-checkbox mui-left">
                        <label>{$vol.member}</label>
                        <input name="checkbox-dom" value="{$vol.member}" type="checkbox" data-id="{$vol.member_id}">
                    </div>
                    {/volist}
                </form>
            </div>
        </div>
    </div>
</div>
<!--主教底薪-->
<div id="salary" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="mine">
                <ul class="mui-table-view list">
                    <li class="mui-table-view-cell listli detalisli salary">主教底薪</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--助教底薪-->
<div id="salary" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="mine">
                <ul class="mui-table-view list">
                    <li class="mui-table-view-cell listli detalisli salary">助教底薪</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--主教基数-->
<div id="mainBase" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="mine">
                <div class="explain">
                    <div class="page-header explain-title">
                        <span class="course">主教基数说明</span>
                    </div>
                    <div class="explain-cont">
                        <p>1、助教基数说明;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--班级类型-->
<div id="gradeType" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="camp-list camp-lesson-list detalis-list mt">
                <div class="page-header">
                    <span class="course"><strong>班级类型</strong></span>
                </div>
                <ul class="mui-table-view list">
                    {volist name="gradecateList" id="vol"}
                    <li class="mui-table-view-cell listli detalisli">
                        {$vol.name}
                        {notempty name="vol._data"}

                        {volist name="$vol['_data']" id="v"}
                        <li class="mui-table-view-cell listli detalisli gradeType" data-id="{$v.id}">
                            {$v.name}
                        </li>
                        {/volist}

                        {/notempty}
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
</div>
<!--训练地点-->
<div id="trainLocation" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="camp-list camp-lesson-list detalis-list mt">
                <div class="page-header">
                    <span class="course"><strong>训练地点</strong></span>
                </div>
                <ul class="mui-table-view list">
                    {volist name="courtList" id="vol"}
                    <li class="mui-table-view-cell listli detalisli trainLocation" data-id="{$v.id}">
                        {$vol.court}
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
</div>
<!--班主任-->
<div id="headMaster" class="mui-popover">
    <div class="close-popover"><span class="mui-icon mui-icon-close"></span></div>
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="camp-list camp-lesson-list detalis-list mt">
                <div class="camp-lesson-list">
                    <div id="segmentedControl" class="mui-segmented-control mb">
                        <a class="mui-control-item mui-active" href="#item1">粉丝列表</a>
                        <a class="mui-control-item" href="#item2">教练列表</a>
                    </div>
                </div>
                <div id="item1" class="mui-control-content mui-active">
                    <div class="mui-scroll">
                        <ul class="mui-table-view list">
                            {volist name="staffList" id="vol"}
                            {lt name="$vol['type']" value="1"}
                            <li class="mui-table-view-cell listli detalisli headMaster" data-id="{$vol.member_id}">
                                {$vol.member}
                            </li>
                            {/lt}
                            {/volist}
                        </ul>
                    </div>
                </div>
                <div id="item2" class="mui-control-content">
                    <div class="mui-scroll">
                        <ul class="mui-table-view list">
                            {volist name="staffList" id="vol"}
                            {gt name="$vol['type']" value="1"}
                            <li class="mui-table-view-cell listli detalisli headMaster" data-id="{$vol.member_id}">
                                {$vol.member}
                            </li>
                            {/gt}
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--领队-->
<div id="leader" class="mui-popover">
    <div class="close-popover"><span class="mui-icon mui-icon-close"></span></div>
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="camp-list camp-lesson-list detalis-list mt">
                <div class="camp-lesson-list">
                    <div id="segmentedControl" class="mui-segmented-control mb">
                        <a class="mui-control-item mui-active" href="#item3">粉丝列表</a>
                        <a class="mui-control-item" href="#item4">教练列表</a>
                    </div>
                </div>
                <div id="item3" class="mui-control-content mui-active">
                    <div class="mui-scroll">
                        <ul class="mui-table-view list">
                            {volist name="staffList" id="vol"}
                            {lt name="$vol['type']" value="1"}
                            <li class="mui-table-view-cell listli detalisli leader" data-id="{$vol.member_id}">
                                {$vol.member}
                            </li>
                            {/lt}
                            {/volist}
                        </ul>
                    </div>
                </div>
                <div id="item4" class="mui-control-content">
                    <div class="mui-scroll">
                        <ul class="mui-table-view list">
                            {volist name="staffList" id="vol"}
                            {gt name="$vol['type']" value="1"}
                            <li class="mui-table-view-cell listli detalisli leader" data-id="{$vol.member_id}">
                                {$vol.member}
                            </li>
                            {/gt}
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--教案-->
<div id="teachingPlan" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="camp-list camp-lesson-list detalis-list mt">
                <div class="page-header">
                    <span class="course"><strong>教案列表</strong></span>
                </div>
                <ul class="mui-table-view list">
                    {volist name="planList" id="vol"}
                    <li class="mui-table-view-cell listli detalisli teachingPlan" data-id="{$v.id}">
                        {$vol.outline}
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
</div>


<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<!-- 选择器 -->
<script src="/static/frontend/js/mui.picker.min.js"></script>
<script src="/static/frontend/js/mui.poppicker.js"></script>
<script src="/static/frontend/js/city.data-3.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    
    //选择器
    (function ($, doc) {
        $.ready(function () {
            var _getParam = function (obj, param) {
                return obj[param] || '';
            };
            
            //选择地区
            var cityPicker3 = new $.PopPicker({
                layer: 3
            });
            cityPicker3.setData(cityData3);
            var showCityPickerButton = doc.getElementById('showCityPicker3');
            var cityResult3 = doc.getElementById('cityResult3');
            showCityPickerButton.addEventListener('tap', function (event) {
                cityPicker3.show(function (items) {
                    cityResult3.innerText = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(items[2], 'text');
                    //返回 false 可以阻止选择框的关闭
                    //return false;
                });
            }, false);

            //选择时间
            var result = $('#result')[0];
            var btns = $('.btn');
            btns.each(function (i, btn) {
                btn.addEventListener('tap', function () {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var id = this.getAttribute('id');
                    var picker = new $.DtPicker(options);

                    picker.show(function (rs) {
                        result.innerText = rs.text;
                        picker.dispose();
                    });
                }, false);
            });

        });
    })(mui, document);

    //弹出菜单滚动
    mui('.mui-scroll-wrapper').scroll();

    //弹出框选择
    $(function(){
        // 学员名单
        $("#studentConfirm").click(function(){
            //选择多个学员
            $("input[name='student']").val($("input[name='checkbox-student']:checked").map(function(){
                return $(this).val()
            }).get().join(",") );
            $(".studentCont").text($("input[name='student']").val());
            mui('#student').popover('toggle');
        })
        // 班级类型
        $(".gradeType").click(function(){
            var gradeType = $(this).html();
            $(".gradeTypeCont").html(gradeType);
            mui("#gradeType").popover("toggle");
        })
        // 训练地点
        $(".trainLocation").click(function(){
            var trainLocation = $(this).html();
            $(".trainLocationCont").html(trainLocation);
            mui("#trainLocation").popover("toggle");
        })
        // 主教练
        $(".mainCoach").click(function(){
            var mainCoach = $(this).html();
            $(".mainCoachCont").html(mainCoach);
            mui("#mainCoach").popover("toggle");
        })
         // 助教练
         $("#domConfirm").click(function(){
            //选择多个助教练
            $("input[name='dom']").val($("input[name='checkbox-dom']:checked").map(function(){
                return $(this).val()
            }).get().join(",") );
            $(".assistantCoachCont").text($("input[name='dom']").val());
            mui('#assistantCoach').popover('toggle');
        })

        // 班主任
        $(".headMaster").click(function(){
            var headMaster = $(this).html();
            $(".headMasterCont").html(headMaster);
            mui("#headMaster").popover("toggle");
        })
        // 领队
        $(".leader").click(function(){
            var leader = $(this).html();
            $(".leaderCont").html(leader);
            mui("#leader").popover("toggle");
        })
         // 教案
         $(".teachingPlan").click(function(){
            var teachingPlan = $(this).html();
            $(".teachingPlanCont").html(teachingPlan);
            mui("#teachingPlan").popover("toggle");
        })
     })

    // 关闭弹出菜单
    $(".close-popover").click(function(){
        mui($(this).parent()).popover("toggle");
    })

    //检测输入是否为数字
    $(".checkNum").blur(function(){
        var num =$(this).val();
        if(isNaN(num)){
            mui.toast("请填写数字");
            return false;
        }
    })


    //检测输入是否为汉字
    $(".checkChinese").blur(function(){
        var str =$(this).val();
        if(!/^[\u4e00-\u9fa5]+$/.test(str)){
            mui.toast("请填写汉字");
            return false;
        }
    }) 


    //更新班级
    $(".editorbtn").click(function(){
        var  grade = $(".grade").html();
        var  gradecate = $(".gradecate").html();
        var  week = $(".week option:selected").text();
        var  lesson_time = $(".lesson_time").html();
        var  location = $(".location").html();
        var  coach_salary = $(".coach_salary").html();
        var  assistant_salary = $(".assistant_salary").html();
        var  salary_base = $(".salary_base").html();
        var  coach = $(".coach").html();
        var  assistant = $(".assistant").html();
        var  leader = $(".leader").html();
        var  teacher = $(".teacher").html();
        var  plan = $(".plan").html();
        var  rent = $(".rent").val();
        var  status = $(".status option:selected").text();
        var  remarks = $(".remarks").val();
        if(gradecate!=''&&week!=''&&lesson_time!=''&&location!=''&&coach!=''&&assistant!=''&&leader!=''&&teacher!=''&&plan!=''&&rent!=''){
            mui.ajax("{:url('api/grade/updateGradeApi',['grade_id'=>$gradeInfo['id']])}",{
                data:{
                    'grade':grade,
                    'gradecate':gradecate,
                    'week':week,
                    'lesson_time':lesson_time,
                    'location':location,
                    'coach_salary':coach_salary,
                    'assistant_salary':assistant_salary,
                    'salary_base':salary_base,
                    'coach':coach,
                    'assistants':assistant,
                    'leader':leader,
                    'teacher':teacher,
                    'plan':plan,
                    'rent':rent,
                    'status':status,
                    'remarks':remarks,
                },
                dataType:'json',//服务器返回json格式数据
                type:'post',//HTTP请求类型
                timeout:10000,//超时时间设置为10秒；
                headers:{'Content-Type':'application/json'},                  
                success:function(data){
                    //服务器返回响应，根据响应结果，分析是否登录成功；
                    console.log(data)
                    if(data.code==100){
                       // var url = "{:url('grade/gradeInfoOfCamp',['grade_id'=>$gradeInfo['id']])}";
                       // window.location.href=url
                   }else{
                    mui.toast(data.msg);
                }


            },
            error:function(xhr,type,errorThrown){
                    //异常处理；
                    console.log(type);
                }
            });
        }else{
            mui.toast("选项不能为空");
        }


    })

    //班级学员批量变动（编辑可用）
    $("#studentConfirm").click(function(){
        var grade = $(".grade").html();
        if(grade!=''){
            mui.ajax("{:url('api/grade/updateGradeMemberAllApi')}",{
                data:
                [{
                    "grade":grade,
                    "grade_id":"{$gradeInfo.id}"
                }],
                dataType:'json',//服务器返回json格式数据
                type:'post',//HTTP请求类型
                timeout:10000,//超时时间设置为10秒；
                headers:{'Content-Type':'application/json'},                  
                success:function(data){
                    //服务器返回响应，根据响应结果，分析是否登录成功；
                    console.log(data)
                    if(data.code!=100){
                        mui.toast(data.msg)
                    }
                },
                error:function(xhr,type,errorThrown){
                    //异常处理；
                    console.log(type);
                }
            });

        }else{
            return false;
            mui.toast("选项不能为空");
        }
    })
</script>
</body>
</html>