{extend name="layout/common"/}
{block name="css"}
<style>
</style>
{/block}
{block name="page-content"}




<!----------------------------------- 教练员资金账单 ： 开始-------------------------------------------->

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <!--<div class="box-header">-->
      <!--<h3 class="box-title">教练员收益统计</h3>-->
      <!--</div>-->
      <!-- /.box-header -->
      <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row hotTbHeader">
            <div class="col-sm-12">
              <div class="form-group">
                <!-- /.input group -->
                <label>统计时间：</label>
                <div class="input-group">
                  <input type="text" name="dateYM" class="form-control pull-right" id="dateYM">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <!-- /.input group -->
                <button type="button" class="btn btn-default" id="goSearch">确认查询</button>
              </div>
              <h3 class="totalRight">
                <span><small>本月收入：</small><strong class="text-yellow monthIn"></strong></span>
                <span><small>本月支出：</small><strong class="text-yellow monthOut"></strong></span>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table id="example3" class="table table-bordered table-striped dataTable hotTable">
                <thead>
                <tr role="row">
                  <th>结算日期</th>
                  <th>支出</th>
                  <th class="mixTitle">
                    <ul class="dataCol-1">
                      <li>收入</li>
                      <li>
                        <ul class="dataCol-2">
                          <li>课时</li>
                        </ul>
                        <ul class="dataCol-2">
                          <li>返利</li>
                        </ul>
                      </li>
                    </ul>
                  </th>
                  <th>余额</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row">
                  <td>
                    <ul class="dateList dataCol-1">
                      {volist name='list1' id='vol'}
                      <li>{$key}</li>
                      {/volist}
                      <li>小计</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="dataCol-1 colCount">
                      {volist name='list2' id='vol'}
                      <li><a href="#" target="_blank">{$vol.s_salary}</a></li>
                      {/volist}
                      <li class="colTotal" id="mOut"></li>
                    </ul>
                  </td>
                  <td>
                    <ul class="dataCol-2 colCount">
                      {volist name='list1' id='vol'}
                      <li>{$vol.s_salary+$vol.s_push_salary}</li>
                      {/volist}
                      <li class="colTotal" id="sIn"></li>
                    </ul>
                    <ul class="dataCol-2">
                      {volist name='list1' id='vol'}
                      <li>0</li>
                      {/volist}
                      <li class="colTotal" id="rIn">{$s_rebate}</li>
                    </ul>
                  </td>
                  <td>
                    <ul class="dataCol-1">
                      {volist name='list1' id='vol'}
                      <li>-</li>
                      {/volist}
                      <li>-</li>
                    </ul>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr role="row">
                  <th>合计</th>
                  <th>本月支出：<span class="monthOut"></span></th>
                  <th>本月收入：<span class="monthIn"></span></th>
                  <th>本月所剩余额：</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>

<!----------------------------------- 教练员资金账单 ： 结束-------------------------------------------->



{/block}




{block name='js'}

<script src="/static/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>

    var currCoachName = '{$camp_member.member}';
    var currMemberID = '{$camp_member.member_id}';
    var currDateYM = localStorage.getItem('currDateYM');

    $(function () {

        //=========================== 初始化数据 ==============================//

        //判断是否有年月的本地存储，没则获取当前月的上一个月
        if(currDateYM==''&&currDateYM!=null) {
            var currDate = new Date();
            var currYear = currDate.getFullYear();
            var currMonth = currDate.getMonth();
            if(currMonth==0){
                currDateYM = parseInt(currYear)-1+'-12';
            }else{
                currMonth = currMonth<10 ? "0"+currMonth:currMonth;
                currDateYM = currYear+'-'+ currMonth ;
            }
            localStorage.setItem('currDateYM',currDateYM);
        }

        //判断是否有指定训练营和教练员的本地存储
        $("input[name=dateYM]").val(currDateYM);
        //隔行变色
        $(".hotTable tbody td ul").find("li:odd").addClass("even");

        //遍历需要统计的数据列，并赋值到对应位置
        $(".colCount").each(function () {
            var liNum = 0;
            $(this).find("li").not(".colTotal").each(function () {
                liNum = liNum + parseInt($(this).text());
            });
            $(this).find("li.colTotal").text(liNum);
        });

        $("#rIn").prev().text('{$s_rebate}');
        var mOut = $("#mOut").text();
        var mIn = parseInt($("#sIn").text())+parseInt($("#rIn").text());
        $(".monthIn").text(mIn);
        $(".monthOut").text(mOut);


        //=========================== 初始化数据 ==============================//


        //选择年月
        $('#dateYM').datepicker({
            language: 'zh-CN',
            autoclose: true,
            format: "yyyy-mm",
            minViewMode: 1,
            todayBtn: true
        });


        //查询统计
        $("#goSearch").on("click", function () {
            var getYM = $("input[name=dateYM]").val();
            if(getYM==""){
                alert("请选择年月份！");
                return false;
            }
            //设置本地存储
            localStorage.setItem('currDateYM',getYM);
            //拆分日期
            var arrYM = getYM.split('-');
            var getLastDate = new Date(arrYM[0],arrYM[1],0);
            var beginDate = arrYM[0]+arrYM[1]+'01';
            var endDate =  arrYM[0]+arrYM[1]+getLastDate.getDate();

            window.location.href="{:url('management/StatisticsCoach/coachBill')}"+"/monthstart/"+beginDate+"/monthend/"+endDate+"/yearmonth/"+arrYM[0]+arrYM[1];
        })


    })



</script>
{/block}