<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>班级列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body class=whitebg>

<div class="mui-content">

    <div class="list camp-list camp-lesson-list detalis-list coach">
        <div class="camp-lesson-list">
            <div id="segmentedControl" class="mui-segmented-control mb">
                <a class="mui-control-item" href="#item1">录课</a>
                <a class="mui-control-item mui-active" href="#item2">我的课时</a>
                <a class="mui-control-item" href="#item3">训练营</a>
            </div>
        </div>
        <div class="nav-list">
            <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4"><a href="#">
                    <span>本月课量</span>
                    <div class="mui-media-body">23</div>
                </a></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4"><a href="#">
                    <span>本年课量</span>
                    <div class="mui-media-body">35</div>
                </a></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4"><a href="#">
                    <span>总课量</span>
                    <div class="mui-media-body">352</div>
                </a></li>
            </ul>
        </div>

        <ul class="mui-table-view mui-text-center">
            <li class="mui-table-view-cell">
                <ul class="mui-row table">
                    <li class="mui-col-xs-2">状态</li>
                    <li class="mui-col-xs-4">上课时间</li>
                    <li class="mui-col-xs-4">上课人数</li>
                </ul>
            </li>
            {volist name="scheduleList" id="vol"}
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right">
                    <ul class="mui-row table">
                        <li class="mui-col-xs-2"><i class="mui-icon mui-icon-checkmarkempty"></i></li>
                        <li class="mui-col-xs-4">{$vol.lesson_time}</li>
                        <li class="mui-col-xs-4">{$vol.grade}</li>
                        <li class="mui-col-xs-4">{$vol.students}</li>
                    </ul>
                </a>
            </li>
            {/volist}
        </ul>

    </div>

</div>

<!--底部导航-->
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item mui-active" href="#tabbar">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-chat">
        <span class="mui-icon mui-icon-chatbubble"></span>
        <span class="mui-tab-label">消息</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-contact">
        <span class="mui-icon mui-icon-checkmarkempty"></span>
        <span class="mui-tab-label">录课</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-contact">
        <span class="mui-icon mui-icon-extra mui-icon-extra-class"></span>
        <span class="mui-tab-label">商城</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-map">
        <span class="mui-icon mui-icon-contact mui-icon-icon-contact-filled"></span>
        <span class="mui-tab-label">我的</span>
    </a>
</nav>

</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<!--等级星星样式-->
<script src="/static/frontend/js/feedback.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    mui('body').on('shown', '.mui-popover', function (e) {
        //console.log('shown', e.detail.id);//detail为当前popover元素
    });
    mui('body').on('hidden', '.mui-popover', function (e) {
        //console.log('hidden', e.detail.id);//detail为当前popover元素
    });
    var info = document.getElementById("info");
    mui('body').on('tap', '.mui-popover-action li>a', function () {
        var a = this,
            parent;
        //根据点击按钮，反推当前是哪个actionsheet
        for (parent = a.parentNode; parent != document.body; parent = parent.parentNode) {
            if (parent.classList.contains('mui-popover-action')) {
                break;
            }
        }
        //关闭actionsheet
        mui('#' + parent.id).popover('toggle');
        info.innerHTML = "你刚点击了\"" + a.innerHTML + "\"按钮";
    })
</script>
</html>