<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>报名表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!-- webuploader -->
    <link rel="stylesheet" href="/static/frontend/css/webuploader.css">
    <style>
        .tipContent {
            margin: 25px 28px 0 28px;
            line-height: 54px;
            vertical-align: middle;
            /* display: inline-flex; */
        }

        .tipContent .tipContentText p {
            line-height: 20px;
            color: #666;
        }

        .registerFrom {
            margin: 10px 25px 0px;
            background: none;
        }

        .registerFrom .mui-input-row {
            margin-top: 15px;
            background: #fff;
        }

        .tipBottom {
            margin: 15px 40px;
        }

        .tipBottom p {
            margin-bottom: 0;
            color: #999;
        }
    </style>
</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
        <h1 class="mui-title">活动登记表</h1>
    </header>

    <div class="mui-content mt55" style="background: none !important">
        <ul class="mui-table-view list" style="margin-top: 0">
            <li class="listli desimg">{$eventInfo.event_des}</li>
        </ul>
        <div class="tipContent">
            <div class="tipContentText">
                <p>
                    <strong>活动登记说明：</strong>
                </p>
                <p>{$eventInfo.apps_des}</p>
            </div>
        </div>

        <form action="" class="mui-input-group registerFrom">
            <input type="hidden" name="__token__" class="data" value="{$Request.token}" />
            <input type="hidden" name="member_id" class="data" value="{$memberInfo['id']}" />
            <input type="hidden" name="type" class="data" value="1" />
            <input type="hidden" name="f_id" class="data" value="{$eventInfo.id}" />

            <div class="mui-input-row mName {if $memberInfo.id>0}hide{else/}show{/if}">
                <label class="colororange">会员名</label>
                <input type="text" class="data" name="member" value="{$memberInfo.member}" placeholder="会员名">
            </div>

            <div class="mui-input-row">
                <label class="colororange">真实姓名</label>
                <input type="text" class="data" name="realname" value="{$memberInfo.realname}" placeholder="真实姓名">
            </div>
            <div class="mui-input-row mixForm">
                <a class="mui-navigate-right">
                    <label class="colororange">性别</label>
                    <select name="sexSelect" style="padding-right: 30px;">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </a>
                <input type="hidden" name="sex" value="男">
            </div>

            <div class="mui-input-row mixForm">
                <label class="colororange">所属社区</label>
                <input type="text" class="" name="community" value="" placeholder="户口所在街道社区">
            </div>

            <div class="mui-input-row mixForm">
                <label class="colororange">居住地</label>
                <input type="text" class="" name="address" value="" placeholder="现居住地址">
            </div>

            <div class="mui-input-row mixForm">
                <label class="colororange">籍贯</label>
                <input type="text" class="" name="native_place" value="" placeholder="籍贯">
            </div>

            <div class="mui-input-row mixForm">
                <label class="colororange">身份证号码</label>
                <input type="text" name="idno" value="{$cert.cert_no}" class="input wd54 idno" placeholder="请输入身份证号码">
            </div>

            <div class="mui-input-row mixForm">
                <a class="mui-navigate-right filePicker" onclick="add_id(1)">
                    <label class="colororange">身份证</label>
                    <img id="preview_1" class="coachicon icon01 upload-preview" alt="" src="{$cert.photo_positive}">
                    <input type="hidden" name="photo_positive" value="{$cert.photo_positive}">
                </a>
            </div>

            <div class="mui-input-row">
                <label class="colororange">联系电话</label>
                <input type="text" class="data telephone mixForm" name="telephone" value="{$memberInfo.telephone}" placeholder="联系电话">
            </div>

            <div class="mui-input-row smsValidate {if $memberInfo.id>0}hide{else/}show{/if}">
                <label class="colororange">短信验证码</label>
                <input type="button" class="code-btn" value="获取验证码" onclick="sendCode(this)" style="width: 30%;">
                <input id="code" type="text" class="input reg_code reg_validate" placeholder="输入验证码" style="width: 30%;">
            </div>

            <div class="mui-input-row" style="height: auto !important;">
                <textarea name="remarks" class="mui-text-left remarks" rows="4" value="" placeholder="备注:"></textarea>
            </div>
        </form>
        <div class="tipBottom">
            <p>本活动最终解释权归</p>
            <p>巨星培训所有</p>
        </div>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen" id="submitAction">
                提交
            </li>
        </ul>

    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/libs/yzvalidate.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <script src="/static/frontend/js/city.data-3.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>
        var uploadApiUrl = "{:url('api/upload/imgwupload', ['usage' => 'cert'])}";
    </script>
    <script src="/static/frontend/libs/webuploader.cert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/uploadcert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/smsCode.js"></script>
    <script>

        //定义全局变量
        var flagPhone = false;
        var flagSMS = false;
        var flagMember = false;
        var flagCreate = true;
        var mID = "{$memberInfo.id}";
        var mName = "{$memberInfo.member}";
        var mTel = "{$memberInfo.telephone}";

        $(function () {

            //获取定位省市区
            var getLocationTB = getLocationApi("{:url('api/Location/getLocation')}");
            var gCity = getLocationTB['city'];
            var gProvince = getLocationTB['province'];
            var gArea = getLocationTB['area'];
            if (gCity == null || gCity == "undefined") {
                gCity = "";
            }
            if (gProvince == null || gProvince == "undefined") {
                gProvince = "";
            }
            if (gArea == null || gArea == "undefined") {
                gArea = "";
            }

            var sexNum = "{$memberInfo.sex}";
            if (sexNum == "2") {
                $('select[name="sexSelect"] option[value="女"]').prop("selected", true);
            }
            // 选择是否需要填表
            $('select[name="sexSelect"]').change(function () {
                $('input[name="sex"]').val($(this).val());
            });

            //验证短信验证码
            $('#code').on("blur", function () {
                var code = document.getElementById('code').value;
                var codeReg = /^\d{6,6}$/;
                if (!codeReg.test(code)) {
                    mui.toast('请填写正确的验证码');
                    flagSMS = false;
                } else {
                    var telephone = $(".telephone").val();
                    var result = smsCode.validateSmsCodeApi(telephone, code, "{:url('api/sms/validateSmsCodeApi','','',true)}");
                    if (result.code == 200) {
                        flagSMS = true;
                        mui.toast(result.msg);
                    } else {
                        flagSMS = false;
                        mui.toast(result.msg);
                    }
                }
            });


            //验证是否注册的手机号
            $('.telephone').on("blur", function () {
                var telephone = $(this).val();
                if (telephone != "") {
                    //已登陆会员并没修改电话（本人报名）
                    //隐藏会员名和短信验证，跳过验证
                    if (mTel == telephone) {
                        $('input[name="member"]').val(mName);
                        $(".mName").hide();
                        $(".smsValidate").hide();
                        flagPhone = true;
                        flagSMS = true;
                        flagMember = true;
                        return false;
                    }
                    //非会员或会员但修改了号码（帮别人报名）
                    //判断手机号码格式是否正确
                    if (!(/^1[34578]\d{9}$/).test(telephone)) {
                        mui.toast("请填写正确的手机格式");
                        flagPhone = false;
                        return false;
                    } else {
                        //判断是否已经注册的会员手机号
                        mui.ajax("{:url('api/login/isFieldRegisterApi')}", {
                            data: {
                                'field': 'telephone',
                                'value': telephone
                            },
                            dataType: 'json',//服务器返回json格式数据
                            type: 'post',//HTTP请求类型
                            async: false,
                            timeout: 10000,//超时时间设置为10秒；
                            headers: { 'Content-Type': 'application/json' },
                            success: function (data) {
                                console.log(data);
                                //判断该手机号码是否已经是注册会员
                                if (data.msg == 1) {
                                    mui.alert("该手机号码是本平台已注册会员、请让本人自行报名，谢谢！");
                                    flagPhone = false;
                                } else {
                                    flagPhone = true;
                                }
                            },
                            error: function (xhr, type, errorThrown) {
                                console.log(type);
                            }
                        });

                    }
                }

            });

            $("input[name='member']").on("blur", function () {

                var member = $.trim($(this).val());
                $(this).val(member);

                //判断会员名格式
                if (((/\s/).test(member)) === true) {
                    flagMember = false;
                    mui.alert("会员名不许有空格");
                    return false;
                } else if ((/^[\u4E00-\u9FA5A-Za-z0-9_]{2,15}$/).test(member) === false) {
                    flagMember = false;
                    mui.alert("会员名只能包含英文、数字或中文，长度为2-15位");
                    return false;
                }

                //判断用户名是否存在
                mui.ajax("{:url('api/login/isFieldRegisterApi')}", {
                    data: {
                        'field': 'member',
                        'value': member
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.msg == 1) {
                            flagMember = false;
                            mui.alert("该会员名称已经存在，请使用其他名称！");
                            return false;
                        } else {
                            flagMember = true;
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        console.log(type);
                    }
                });
            });


            $("#submitAction").on("click", "", function () {

                var member = $("input[name='member']").val();
                var telephone = $("input[name='telephone']").val();
                var token = $('input[name=__token__]').val();

                //如果是非会员，判断是否通过验证
                //如果是会员并修改了手机号码（帮报名），判断是否通过验证
                if (mID == "" || mID != "" && mTel != telephone) {
                    if (flagMember == false) {
                        mui.toast("提交失败，会员名填写有误，请重新填写！");
                        return false;
                    };
                    if (flagPhone == false) {
                        mui.toast("提交失败，手机号填写有误，请重新填写");
                        return false;
                    };
                    if (flagSMS == false) {
                        mui.toast("提交失败，验证码填写有误");
                        return false;
                    };
                    //如已经通过以上验证则创建会员账号
                    mui.ajax("{:url('api/login/registerApi')}", {
                        data: {
                            member: member,
                            telephone: telephone,
                            province: gProvince,
                            city: gCity,
                            area: gArea,
                            __token__: token
                        },
                        dataType: 'json',//服务器返回json格式数据
                        type: 'post',//HTTP请求类型
                        async: false,
                        timeout: 10000,//超时时间设置为10秒；
                        headers: { 'Content-Type': 'application/json' },
                        success: function (data) {
                            //服务器返回响应，根据响应结果，分析是否登录成功；
                            console.log(data);
                            if (data.code == 100) {
                                flagCreate = false;
                                mui.alert(data.msg, '提交失败', '确定', function () {
                                    mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                                        if (data.code === 200) {
                                            $('input[name=__token__]').val(data.data);
                                        }
                                    }, 'json');
                                })
                            } else {
                                flagCreate = true;
                                $("input[name='member_id']").val(data.id)
                                mui.toast("提交中...");
                            }

                        },
                        error: function (xhr, type, errorThrown) {
                            //异常处理；
                            console.log(type);
                        }
                    });
                }

                if (flagCreate == false) {
                    return false;
                }


                //组合自定义表单项
                var mixFrom = '';
                $(".mixForm").each(function () {
                    mixFrom += '<li><span class="fTitle">' + $(this).find("label").text() + '</span><span class="fValue">' + $(this).find("input").val() + '</span></li>'
                });
                mixFrom = '<ul class="diyList">' + mixFrom + '</ul>'

                var realname = $("input[name=realname]").val();
                var community = $("input[name=community]").val();
                var address = $("input[name=address]").val();
                var native_place = $("input[name=native_place]").val();
                if (realname == '') {
                    mui.toast("请填写真实姓名");
                    return false;
                }
                if (community == '') {
                    mui.toast("请填写所属社区");
                    return false;
                }
                if (address == '') {
                    mui.toast("请填写居住地");
                    return false;
                }
                if (native_place == '') {
                    mui.toast("请填写籍贯");
                    return false;
                }

                var data = wooApi.getInputData('input', 'data');
                var objData = wooApi.arrTOobj(data);
                objData.content = mixFrom;
                objData.remarks = $(".remarks").val();
                var url = "{:url('api/apps_apply/createAppsApplyApi')}";
                var ajaxResult = wooApi.asyncF(url, objData);
                if (ajaxResult.code == 200) {
                    mui.alert('登记成功，工作人员将会尽快与您联系')
                } else {
                    mui.alert(ajaxResult.msg, '提交失败', function () { });
                    mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                        if (data.code === 200) {
                            $('input[name=__token__]').val(data.data);
                        }
                    }, 'json');
                }

            });

        })

        // 发送短信验证码
        function sendCode(obj) {
            var telephone = $(".telephone").val();
            var telephoneReg = /^1[34578]\d{9}$/;
            if (!telephoneReg.test(telephone)) {
                mui.toast('请填写正确的手机号码');
            } else {
                var result = smsCode.getMobileCodeApi(obj, telephone, "{:url('api/sms/getMobileCodeApi','','',true)}");
                if (result.code == 200) {
                    mui.toast(result.msg);
                } else {
                    mui.toast(result.msg);

                }
            }
        }

        // 获取数据并进行提交
//        function submitAction() {
//
//             if (!(/^1[34578]\d{9}$/).test($("input[name=telephone]").val())) {
//                 mui.toast("请填写正确的手机格式");
//                 return false;
//             };
//
//             if (flag == false) {
//                 mui.toast("请填写正确的验证码");
//                 return false;
//             };
//
//            //组合自定义表单项
//            var mixFrom = '';
//            $(".mixForm").each(function () {
//                mixFrom += '<li><span class="fTitle">'+$(this).find("label").text()+'</span><span class="fValue">'+$(this).find("input").val()+'</span></li>'
//            });
//            mixFrom = '<ul class="diyList">'+mixFrom+'</ul>'
//
//
//            var data = wooApi.getInputData('input', 'data');
//            var objData = wooApi.arrTOobj(data);
//            objData.content = mixFrom;
//            objData.remarks = $(".remarks").val();
//            var url = "{:url('api/apps_apply/createAppsApplyApi')}";
//            var ajaxResult = wooApi.asyncF(url, objData);
//            if (ajaxResult.code == 200) {
//                mui.alert('登记成功，工作人员将会尽快与您联系', "", '确定', function () {
//                    window.location.href = "{:url('frontend/member/index')}"
//                })
//            } else {
//                mui.alert(ajaxResult.msg, '提交失败', function () { });
//                mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
//                    if (data.code === 200) {
//                        $('input[name=__token__]').val(data.data);
//                    }
//                }, 'json');
//            }
//        };

    </script>
</body>

</html>