<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>联赛组织注册成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <style>
        .success-frame .logowz { padding: 55px 0px 5px; }
    </style>
</head>

<body  class="whitebg">
<!--首次登陆成功-->
<div class="mui-content whitebg">
    <div class="success-frame">

        <div class="logowz">
            <img src="/static/frontend/images/Logo-Gray.png" width="90" alt="篮球管家">
        </div>
        <div class="tip-box">
            联赛组织注册成功
        </div>

        <a href="{:url('match/createleaguematch', ['org_id'=> $org_id])}">
            <div class="choise">
                <button type="button" class="mui-btn mui-btn-primary">创建联赛</button>
            </div>
        </a>

        <a href="{:url('keeper/index/index')}">
            <div class="choise">
                <button type="button" class="mui-btn mui-btn-primary">前往首页</button>
            </div>
        </a>
    </div>
    <div class="tip-box mt25"><h6>POWER BY HotTECH</h6></div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>
</html>