<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>联赛列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .textOverFlow {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 12px;
            line-height: 22px;
            font-weight: inherit;
            font-size: 16px;
        }

        .list .listli .mui-media-body p {
            font-size: 14px;
            line-height: 24px;
        }

        @media screen and (max-width: 320px) {
            .list .listli .mui-media-body {
                width: 46% !important;
            }
        }
    </style>
</head>

<body class=whitebg>
    <header class="mui-bar mui-bar-transparent">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    </header>

    <div class="mui-content mb44">

        <!--图片轮播-->
        <div id="slider" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="/uploads/images/banner/5aaa3794b58b1.jpg" alt="">
                    </a>
                </div>
                <!-- 第一张 -->
                <div class="mui-slider-item">
                    <a href="">
                        <img src="/uploads/images/banner/5aaa37804a107.jpg" alt="">
                    </a>
                </div>
                <!-- 第二张 -->
                <div class="mui-slider-item">
                    <a href="">
                        <img src="/uploads/images/banner/5aaa3794b58b1.jpg" alt="">
                    </a>
                </div>
                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="/uploads/images/banner/5aaa37804a107.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                <div class="mui-indicator mui-active"></div>
                <div class="mui-indicator"></div>
            </div>
        </div>

        <div class="location-frame">
            <span class="location" style="margin-top: 4px;"></span>
            <span class="location-choise">
                <select id="areaSelect">
                    <option value="">全部区域</option>
                </select>
            </span>
            <span class="location-choise">
                <select id="leagueType" class="data" name="type">
                    <option value="">比赛类型</option>
                    <option value="5">邀请赛</option>
                    <option value="6">公开赛</option>
                    <option value="7">企业联赛</option>
                    <option value="8">机关联赛</option>
                    <option value="9">校园联赛</option>
                </select>
            </span>
        </div>

        <!-- 列表信息 -->
        <ul class="mui-table-view detalis-list list border-b league"></ul>

        <!--底部操作-->
        <ul class="mui-table-view operation mt">
            <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                <a href="{$homeurl}">
                    <span class="mui-icon icon iconfont icon-nav-Home"></span>
                </a>
            </li>
            <li class="mui-table-view-cell mui-col-sm-10 mui-col-xs-10 opli bgred">
                <a href="#" class="create-league" data-hasorg="{$hasMatchOrg}">创建联赛</a>
            </li>
        </ul>

    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <script>
        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        $(function () {
            toList();
            //初始化全局变量
            var count = 1;
            var sType = '';
            var sArea = '';

            //获取定位省市区
            var getLocationTB = getLocationApi("{:url('api/Location/getLocation')}");
            var sCity = getLocationTB['city'];
            var sProvince = getLocationTB['province'];
            var allArea = getLocationTB['areas'];
            $('.location').text(sCity);

            //生成区域选择下拉菜单
            var arrArea = allArea.split(',');
            var selectArea = '';
            $.each(arrArea, function (i, areaName) {
                selectArea += '<option value="' + areaName + '">' + areaName + '</option>';
            });
            $('#areaSelect').append(selectArea);

            //搜索联赛
            $("#searchBtn").on("click", function () {
                keyword = $(".keyword").val();
                toList()
            })

            //选择联赛类型下拉
            $("#leagueType").on("change", function () {
                sType = $(this).find("option:checked").val();
                toList()
            });

            //选择地区下拉
            $("#areaSelect").on("change", function () {
                sArea = $(this).val();
                toList()
            });


            // 创建联赛 提示无联赛组织询问框
            $('.create-league').on('tap', function () {
                // 会员真实姓名为空需要完善信息
                var realname = "{$memberInfo.realname}";
                if (realname.length == 0 || realname == "") {
                    mui.confirm('需要完善实名信息', '提示', ['取消', '完善信息'], function (e) {
                        if (e.index === 1) {
                            window.location.href = "{:url('member/memberInfo')}";
                        }
                    });
                    return;
                }
                var hasOrg = $(this).attr('data-hasorg');
                if (hasOrg == 0) {
                    mui.confirm('您无联赛组织是否创建？', '提示', ['取消', '创建联赛组织'], function (e) {
                        if (e.index === 1) {
                            window.location.href = "{:url('match/createorganization')}";
                        }
                    });
                } else {
                    window.location.href = "{:url('match/createLeagueMatch')}";
                }
            });

            //接口获取数据并追加到页面
            function toList() {
                var url = "{:url('api/league/platformleaguelist','','',true)}";
                mui.ajax({
                    url: url,
                    data: {
                        province: sProvince,
                        city: sCity,
                        area: sArea,
                        type: sType,
                        status: 1
                    },
                    dataType: 'json', //服务器返回json格式数据
                    type: 'post', //HTTP请求类型
                    timeout: 10000, //超时时间设置为10秒；
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    success: function (data) {
                        console.log(data)
                        var newli = '';
                        if (data.code == 200) {
                            for (var i = 0; i <= data.data.length - 1; i++) {
                                var urls = "{:url('match/leagueInfo')}" + '/league_id/' + data.data[
                                    i].id;
                                newli += '<li class="mui-table-view-cell mui-media listli">';
                                newli += '<a href="' + urls +
                                    '" class="mui-navigate-right"><h4 class="textOverFlow">' +data.data[i].name +
                                    '</h4><img class="proportionBig mui-pull-left" src="' +
                                    data.data[i].cover + '">';
                                newli +=
                                    ' <div class="mui-media-body" style="width:55%"><p class="mui-ellipsis">' +
                                    data.data[i].start_time + '&nbsp/&nbsp' + data.data[i].end_time +
                                    '</p><p class="mui-ellipsis">' + data.data[i].city +
                                    '&nbsp;' + data.data[i].area +
                                    '  &nbsp;参赛球队：<font class="colororange">' + data.data[i].teams_count +
                                    '</font></p>';
                                if (data.data[i].cansignup == -1) {
                                    newli += '<p class="mui-ellipsis">' + data.data[i].type +
                                        '<font class="tipCorner bgorange" style="margin-left: 10px !important;">等待报名</font>';
                                } else if (data.data[i].cansignup == 0) {
                                    newli += '<p class="mui-ellipsis">' + data.data[i].type +
                                        '<font class="tipCorner bggreen" style="margin-left: 10px !important;">报名</font>';
                                } else if (data.data[i].cansignup == 1) {
                                    newli += '<p class="mui-ellipsis">' + data.data[i].type +
                                        '<font class="tipCorner bgred" style="margin-left: 10px !important;">进行中</font>';
                                } else if (data.data[i].cansignup == 2) {
                                    newli += '<p class="mui-ellipsis">' + data.data[i].type +
                                        '<font class="tipCorner bggray" style="margin-left: 10px !important;">已结束</font>';
                                }
                                newli += '</p></div></a></li>'
                            }
                        }

                        $("ul.league").empty().append(newli);
                        if (newli == '') {
                            $("ul.league").html(
                                '<li class="nodata"><i class="icon iconfont icon-m-Trainingteam1"></i><p>没有相关数据哦</p></li>'
                            );
                        }
                    },
                    error: function (xhr, type, errerThrown) {
                        mui.toast('网络异常,请稍候再试');
                    }
                });
            };

        })
    </script>
</body>

</html>