<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>编辑比赛</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <link href="/static/frontend/css/webuploader.css" rel="stylesheet">
    <style>
        .mui-popover-arrow {
            left: auto;
            right: 6px;
        }

        .mui-input-row a {
            display: table;
            width: 100%;
        }

        .mui-input-group .mui-input-row label {
            line-height: 1.5;
        }
    </style>
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow">
            <span class="return">返回</span>
        </a>
    </header>

    <div class="mui-content">

        <div class="camp-list camp-lesson-list">
            <input type="hidden" name="__token__" class="data" value="{$Request.token}" />

            <form action="" class="mui-input-group mt55">

                <div class="mui-input-row">
                    <div class="mui-navigate-right">
                        <label>比赛类型</label>
                        <span class="select-row">
                            <select id="matchType" class="data" name="type">
                                <option value="1">小组赛</option>
                                <option value="2">排位赛</option>
                            </select>
                        </span>
                    </div>
                </div>

                <div class="mui-input-row" id='showCityPicker3'>
                    <div class="mui-navigate-right">
                        <label>比赛地点</label>
                        <span id="cityResult3" class="ui-alert"></span>
                        <input type="hidden" name="province" value="" class="data" id="province">
                        <input type="hidden" name="city" value="" class="data" id="city">
                        <input type="hidden" name="area" value="" class="data" id="area">
                    </div>
                </div>
                <div class="mui-input-row picker btnStart">
                    <div class="mui-navigate-right">
                        <label>比赛时间</label>
                        <span id="resultStart" class="ui-alert domData" name="start_time"></span>
                    </div>
                </div>


                <div class="mui-input-row">
                    <label>球队A</label>
                    <input type="text" name="charge_name" value="" class="data" placeholder="球队A">
                </div>
                <div class="mui-input-row">
                    <label>球队B</label>
                    <input type="text" name="charge_name" value="" class="data" placeholder="球队B">
                </div>

                <div class="mui-input-row">
                    <label>裁判</label>
                    <input type="text" name="entry_fees" value="" class="data" placeholder="输入裁判">
                </div>
                <div class="mui-input-row">
                    <label>记分员</label>
                    <input type="text" name="deposit" value="" class="data" placeholder="输入记分员">
                </div>
                <div class="mui-input-row">
                    <label>啦啦队</label>
                    <input type="text" name="deposit" value="" class="data" placeholder="输入啦啦队">
                </div>

            </form>

            <ul class="mui-table-view operation">
                <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen" onclick="submitAction()">
                    提交
                </li>
            </ul>
        </div>
    </div>


    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <!-- 选择器 -->
    <script src="/static/frontend/js/mui.picker.min.js"></script>
    <script src="/static/frontend/js/mui.poppicker.js"></script>
    <script src="/static/frontend/js/city.data-3.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/libs/webuploader.min.js"></script>
    <script>
        var uploadApiUrl = "{:url('api/upload/imgwupload', ['usage' => 'eventOfTeam'])}";
    </script>
    <script src="/static/frontend/libs/webuploader.cert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/uploadcert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/uploadduotu.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/tuwen.js?v=<?php echo time();?>"></script>

    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        //选择器
        var getProvince = '';
        var getCity = '';
        var getArea = '';
        (function ($, doc) {
            $.ready(function () {
                var _getParam = function (obj, param) {
                    return obj[param] || '';
                };

                ///级联示例
                var cityPicker3 = new $.PopPicker({
                    layer: 3
                });

                // 设置默认值
                cityPicker3.pickers[0].setSelectedIndex(18);
                cityPicker3.pickers[1].setSelectedIndex(2);
                cityPicker3.pickers[2].setSelectedIndex(2);

                cityPicker3.setData(cityData3);
                var showCityPickerButton = doc.getElementById('showCityPicker3');
                var cityResult3 = doc.getElementById('cityResult3');
                showCityPickerButton.addEventListener('tap', function (event) {
                    cityPicker3.show(function (items) {
                        cityResult3.innerText = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(items[2], 'text');
                        //返回 false 可以阻止选择框的关闭
                        //return false;
                        getProvince = _getParam(items[0], 'text');
                        getCity = _getParam(items[1], 'text');
                        getArea = _getParam(items[2], 'text');
                        document.getElementById('province').value = getProvince;
                        document.getElementById('city').value = getCity;
                        document.getElementById('area').value = getArea;
                    });
                }, false);

                //开始时间
                var resultStart = $('#resultStart')[0];
                var btnStart = $('.btnStart');
                btnStart.each(function (i, btn) {
                    btn.addEventListener('tap', function () {
                        var optionsJson = this.getAttribute('data-options') || '{}';
                        var options = JSON.parse(optionsJson);
                        var id = this.getAttribute('id');
                        var picker = new $.DtPicker(options);

                        picker.show(function (rs) {
                            resultStart.innerText = rs.text;
                            picker.dispose();
                        });
                    }, false);
                });

                //结束时间
                var resultEnd = $('#resultEnd')[0];
                var btnEnd = $('.btnEnd');
                btnEnd.each(function (i, btn) {
                    btn.addEventListener('tap', function () {
                        var optionsJson = this.getAttribute('data-options') || '{}';
                        var options = JSON.parse(optionsJson);
                        var id = this.getAttribute('id');
                        var picker = new $.DtPicker(options);

                        picker.show(function (rs) {
                            resultEnd.innerText = rs.text;
                            picker.dispose();
                        });
                    }, false);
                });

            });
        })(mui, document);

        // 联赛组织选择框
        $('.select-matchOrg').change(function () {
            var matchOrgId = $(this).find('option:selected').val();
            var matchOrg = $(this).find('option:selected').text();
            if (matchOrgId == 0) {
                matchOrg = '';
            }
            $('input[name=match_org_id]').val(matchOrgId);
            $('input[name=match_org]').val(matchOrg);
        });

        // 获取数据并进行提交
        // function submitAction() {
        //     var data = wooApi.getInputData('input', 'data');
        //     datas = wooApi.getInputData('select', 'data', data);
        //     // 获取其他标签值
        //     arrData = wooApi.getDomData('domData', datas);
        //     var objData = wooApi.arrTOobj(arrData);
        //     var url = "{:url('api/league/creatematch')}";
        //     var ajaxResult = wooApi.asyncF(url, objData);
        //     if (ajaxResult.code == 200) {
        //         mui.alert('联赛创建成功，请等待审核', '确定', function () {
        //             var goUrl = "{:url('match/leaguemanage')}" + '/league_id/' + ajaxResult.data;
        //             window.top.location.href = goUrl;
        //         })
        //     } else {
        //         mui.alert(ajaxResult.msg, '联赛创建失败');
        //         mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
        //             if (data.code === 200) {
        //                 $('input[name=__token__]').val(data.data);
        //             }
        //         }, 'json');
        //     }
        // };

    </script>
</body>

</html>