<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>数据编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .mui-popover-arrow {
            left: auto;
            right: 6px;
        }

        .mui-input-row a {
            display: table;
            width: 100%;
        }

        .mui-input-group .mui-input-row label {
            line-height: 1.5;
        }

        .bottomButton {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
            bottom: 50px;
        }

        .addOperation {
            float: right;
            font-size: 14px;
            display: flex;
            color: #ff7f00;
        }

        .addInput {
            padding: 0 !important;
            height: 21px !important;
        }

        .addOperation text {
            padding-top: 2px;
        }

        .dataIcon text {
            width: 22px;
            height: 22px;
            display: inline-block;
            text-align: center;
            background-color: #ddd;
            border: 1px solid #ddd;
            border-radius: 25px;
            background-clip: padding-box;
        }

        .dataIcon i {
            color: #fff;
            font-size: 22px;
        }

        .dataCollapse .dataTitle {
            border: 1px solid #ddd;
            padding: 9px;
        }

        .dataCollapse,
        .dataCollapse input {
            text-align: center;
        }

        .dataCollapse input::-webkit-input-placeholder {
            color: #ff7f00;
        }

        .dataCollapse input {
            border-left: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            color: #ff7f00;
        }

        .dataCollapse .dataText {
            padding: 9px;
            border-bottom: 1px solid #ddd;
        }

        .dataCollapse .dataTextLeft {
            border-left: 1px solid #ddd;
        }

        .dataCollapse .sfText {
            padding: 9px;
        }

        .dataCollapse .sfButton,
        .dataCollapse .confirmBtn,
        .dataCollapse .clearBtn {
            padding: 5px;
        }
    </style>
</head>

<body>

    <header class="mui-bar mui-bar-nav for-tab">
        <div class="camp-lesson-list">
            <div class="mui-segmented-control mb">
                <a class="mui-action-back mui-control-item mui-icon mui-icon-left-nav"></a>
                <a class="mui-control-item mui-active" href="#onMatchSetting">比赛信息</a>
                <a class="mui-control-item" href="#onHomeTeam">{$matchRecordInfo.home_team}</a>
                <a class="mui-control-item" href="#onAwayTeam">{$matchRecordInfo.away_team}</a>
            </div>
        </div>
    </header>

    <div class="mui-content">

        <div class="tab-pullRefresh">
            <!-- 比赛设置信息 -->
            <div id="onMatchSetting" class="mui-scroll-wrapper mui-control-content mui-active">
                <div class="mui-scroll">
                    <form action="" class="mui-input-group">
                        <div class="page-header bggray2">
                            <span class="course wd45">
                                <strong>基本信息</strong>
                            </span>
                        </div>
                        <div class="mui-input-row">
                            <label>比赛类型</label>
                            <span>{$matchRecordInfo.match_stage}</span>
                        </div>
                        <div class="mui-input-row h-auto">
                            <label>比赛场地</label>
                            <span>{$matchRecordInfo.court}</span>
                        </div>
                        <div class="mui-input-row">
                            <label>比赛时间</label>
                            <span class="match_time">{$matchRecordInfo.match_time}</span>
                        </div>

                        <div class="page-header bggray2">
                            <span class="course wd45">
                                <strong>裁判名单</strong>
                            </span>
                        </div>
                        <div class="mui-input-row">
                            <label>主裁判</label>
                            <span style="width: 60%">{$matchRecordInfo.referee1}</span>
                        </div>
                        <div class="mui-input-row">
                            <label>副裁判</label>
                            <span style="width: 60%">{$matchRecordInfo.referee2}</span>
                        </div>
                        <div class="mui-input-row">
                            <label>副裁判</label>
                            <span style="width: 60%">{$matchRecordInfo.referee3}</span>
                        </div>

                        <div class="page-header bggray2">
                            <span class="course wd45">
                                <strong>记分员</strong>
                            </span>
                        </div>
                        <div class="box">
                            {volist name="matchRecordInfo.scorers_list" id="vol"}
                            <div class="mui-input-row mui-checkbox">
                                <label>{$key+1}
                                    <font style="margin-left: 15px;">{$vol.realname}</font>
                                </label>
                            </div>
                            {/volist}
                        </div>
                    </form>
                </div>
            </div>

            <!-- 主队信息 -->
            <div id="onHomeTeam" class="mui-scroll-wrapper mui-control-content teamTap" data-team="{$matchRecordInfo.home_team}" data-team_id="{$matchRecordInfo.home_team_id}">
                <div class="mui-scroll">
                    <form action="" class="mui-input-group mt55">
                        <div class="mui-input-row">
                            <label>得分</label>
                            <span class="teamScore">{$matchRecordInfo.home_score}</span>
                        </div>
                        <div class="mui-input-row">
                            <label>球衣颜色</label>
                            <span>{$matchRecordInfo.home_team_color}</span>
                        </div>
                        <div class="page-header bggray2">
                            <span class="course">球员数据</span>
                        </div>
                        <ul class="mui-table-view list border-b dataList homeMembersList"></ul>
                    </form>
                </div>
                <div class="bottomButton  mui-text-center">
                    <button type="button" class="mui-btn bggreen wd52 submitAction">提交主队数据</button>
                </div>
            </div>

            <!-- 客队信息 -->
            <div id="onAwayTeam" class="mui-scroll-wrapper mui-control-content teamTap" data-team="{$matchRecordInfo.away_team}" data-team_id="{$matchRecordInfo.away_team_id}">
                <div class="mui-scroll">
                    <form action="" class="mui-input-group mt55">
                        <div class="mui-input-row">
                            <label>得分</label>
                            <span class="teamScore">{$matchRecordInfo.away_score}</span>
                        </div>
                        <div class="mui-input-row">
                            <label>球衣颜色</label>
                            <span>{$matchRecordInfo.away_team_color}</span>
                        </div>
                        <div class="page-header bggray2">
                            <span class="course">球员数据</span>
                        </div>
                        <ul class="mui-table-view list border-b dataList awayMembersList"></ul>
                    </form>
                </div>
                <div class="bottomButton  mui-text-center">
                    <button type="button" class="mui-btn bggreen wd52 submitAction">提交客队数据</button>
                </div>
            </div>

        </div>
    </div>

</body>

<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script src="/static/frontend/js/wooApi.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    var teams = [];
    var members = [];
    $(function () {

        $(".match_time").text(gettime())

        // 确认是否出席
        $(document).on("tap", ".attend button", function () {
            var isAttend = $(this).hasClass("bggreen");
            if (isAttend == true) {
                $(this).removeClass("bggreen");
                $(this).siblings("input[name=is_attend]").val(0)
            } else {
                $(this).addClass("bggreen");
                $(this).siblings("input[name=is_attend]").val(1)
            }
        });

        // 确认标志完成
        $(document).on("tap", ".confirmBtn button", function () {
            var confirmText = $(this).text();
            if (confirmText == "确认") {
                $(this).parents(".dataCollapse").siblings().find("text").css("background-color", "#59b200");
                $(this).text("取消");
            } else {
                $(this).parents(".dataCollapse").siblings().find("text").css("background-color", "#ddd");
                $(this).text("确认");
            }
        });

        // 清空技术统计数据
        $(document).on("tap", ".clearBtn button", function () {
            $(this).parents(".mui-row").siblings().find("input").val('');
        });

        // 输入数字判断
        $(document).on("blur", ".checkNum", function () {
            if (!(/^[0-9]*$/).test($(this).val())) {
                $(this).val('').focus();
                mui.toast("请输入数字");
                return false;
            };
        });

        $(document).on("blur", "input[name=fg]", function () {
            var fga = $(this).parents().siblings().children("input[name=fga]").val(); //二分出手数
            if (parseInt($(this).val()) > parseInt(fga)) {
                mui.toast("二分命中次数不能大于出手次数");
                $(this).val('').focus();
                return false;
            }
        });
        $(document).on("blur", "input[name=threepfg]", function () {
            var threepfga = $(this).parents().siblings().children("input[name=threepfga]").val();//三分出手数
            if (parseInt($(this).val()) > parseInt(threepfga)) {
                mui.toast("三分命中次数不能大于出手次数");
                $(this).val('').focus();
                return false;
            }
        });
        $(document).on("blur", "input[name=ft]", function () {
            var fta = $(this).parents().siblings().children("input[name=fta]").val(); //罚球出手数
            if (parseInt($(this).val()) > parseInt(fta)) {
                mui.toast("罚球命中次数不能大于罚球数");
                $(this).val('').focus();
                return false;
            }
        });
        // 是否首发
        $(document).on("tap", ".isLineup", function () {
            var lineUp = $(this).siblings("input[name=lineup]");
            if (lineUp.val() == "0") {
                lineUp.val("1");
            } else {
                lineUp.val("0");
            }
        });
        toHomeMembersList();
        toAwayMembersList();
    });

    // 主队球员名单
    function toHomeMembersList() {
        var url = "{:url('api/matchdata/getleaguerecordstaticsbyteam','','',true)}";
        var match_record_id = "{$matchRecordInfo.id}";
        var match_id = "{$matchRecordInfo.match_id}";
        var team_id = "{$matchRecordInfo.home_team_id}";
        mui.ajax({
            url: url,
            data: {
                team_id: team_id,
                match_id: match_id,
                match_record_id: match_record_id
            },
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: { 'Content-Type': 'application/json' },
            success: function (data) {
                console.log(data)
                var newli = '';
                if (data.code == 200) {
                    var newli = '';
                    for (var i = 0; i < data.data.length; i++) {
                        newli += `
                        <li class="mui-table-view-cell mui-collapse listli">
                                <a class="mui-navigate-right">
                                    <div class="mui-row">
                                        <div class="mui-col-xs-4 member" data-member="${data.data[i].member}" data-member_id="${data.data[i].member_id}" 
                                        data-team_member_id="${data.data[i].team_member_id}">${data.data[i].name}</div>
                                        <div class="mui-col-xs-4 colororange">
                                            <input type="text" name="number" class="addInput" value="${data.data[i].number}" disabled>
                                        </div>
                                        <div class="mui-col-xs-4 mui-text-center dataIcon">
                                            <text class="bgcolor">
                                                <i class="mui-icon mui-icon-checkmarkempty"></i>
                                            </text>
                                        </div>
                                    </div>
                                </a>
                                <div class="mui-collapse-content dataCollapse">
                                    <div class="mui-row dataTitle">
                                        <div class="mui-col-xs-6">出手次数</div>
                                        <div class="mui-col-xs-6">命中次数</div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">二分</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="fga" class="checkNum" value="${data.data[i].fga}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">二分</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="fg" class="checkNum" value="${data.data[i].fg}" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">三分</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="threepfga" class="checkNum" value="${data.data[i].threepfga}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">三分</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="threepfg" class="checkNum" value="${data.data[i].threepfg}" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">罚球</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="fta" class="checkNum" value="${data.data[i].fta}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">罚中</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="ft" class="checkNum" value="${data.data[i].ft}" placeholder="0">
                                        </div>
                                    </div>
                                    <p class="pline"></p>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">篮板</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="reb" class="checkNum" value="${data.data[i].reb}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">助攻</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="ast" class="checkNum" value="${data.data[i].ast}" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">抢断</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="stl" class="checkNum" value="${data.data[i].stl}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">封盖</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="blk" class="checkNum" value="${data.data[i].blk}" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">失误</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="turnover" class="checkNum" value="${data.data[i].turnover}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">犯规</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="foul" class="checkNum" value="${data.data[i].foul}" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 sfText">首发</div>
                                        <div class="mui-col-xs-2 sfButton">
                                            <div class="mui-switch isLineup mui-switch-mini mui-switch-mini">
                                                <div class="mui-switch-handle"></div>
                                            </div>
                                            <input type="hidden" name="lineup" value="${data.data[i].lineup}">
                                        </div>
                                        <div class="mui-col-xs-2 sfButton">
                                            <button type="button" class="mui-btn">出席</button>
                                        </div>
                                        <div class="mui-col-xs-3 mui-text-right clearBtn">
                                            <button type="button" class="mui-btn">清空</button>
                                        </div>
                                        <div class="mui-col-xs-3 mui-text-right confirmBtn">
                                            <button type="button" class="mui-btn bggreen">确认</button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="personalScoreCont" value="">
                                </div>
                            </li>`
                    }
                    $(".homeMembersList").empty().append(newli);
                    mui('.mui-switch').switch();
                } else {
                    $(".homeMembersList").html('<li class="nohave"><p>没有相关数据哦</p></li>');
                }
            },
            error: function (xhr, type, errerThrown) {
                mui.toast('网络异常,请稍候再试');
            }
        });
    }

    // 主队球员名单
    function toAwayMembersList() {
        var url = "{:url('api/matchdata/getleaguerecordstaticsbyteam','','',true)}";
        var match_record_id = "{$matchRecordInfo.id}";
        var match_id = "{$matchRecordInfo.match_id}";
        var team_id = "{$matchRecordInfo.away_team_id}";
        mui.ajax({
            url: url,
            data: {
                team_id: team_id,
                match_id: match_id,
                match_record_id: match_record_id
            },
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: { 'Content-Type': 'application/json' },
            success: function (data) {
                console.log(data)
                var newli = '';
                if (data.code == 200) {
                    var newli = '';
                    for (var i = 0; i < data.data.length; i++) {
                        newli += `
                        <li class="mui-table-view-cell mui-collapse listli">
                                <a class="mui-navigate-right">
                                    <div class="mui-row">
                                        <div class="mui-col-xs-4 member" data-member="${data.data[i].member}" data-member_id="${data.data[i].member_id}" 
                                        data-team_member_id="${data.data[i].team_member_id}">${data.data[i].name}</div>
                                        <div class="mui-col-xs-4 colororange">
                                            <input type="text" name="number" class="addInput" value="${data.data[i].number}" disabled>
                                        </div>
                                        <div class="mui-col-xs-4 mui-text-center dataIcon">
                                            <text class="bgcolor">
                                                <i class="mui-icon mui-icon-checkmarkempty"></i>
                                            </text>
                                        </div>
                                    </div>
                                </a>
                                <div class="mui-collapse-content dataCollapse">
                                    <div class="mui-row dataTitle">
                                        <div class="mui-col-xs-6">出手次数</div>
                                        <div class="mui-col-xs-6">命中次数</div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">二分</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="fga" class="checkNum" value="${data.data[i].fga}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">二分</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="fg" class="checkNum" value="${data.data[i].fg}" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">三分</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="threepfga" class="checkNum" value="${data.data[i].threepfga}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">三分</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="threepfg" class="checkNum" value="${data.data[i].threepfg}" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">罚球</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="fta" class="checkNum" value="${data.data[i].fta}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">罚中</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="ft" class="checkNum" value="${data.data[i].ft}" placeholder="0">
                                        </div>
                                    </div>
                                    <p class="pline"></p>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">篮板</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="reb" class="checkNum" value="${data.data[i].reb}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">助攻</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="ast" class="checkNum" value="${data.data[i].ast}" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">抢断</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="stl" class="checkNum" value="${data.data[i].stl}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">封盖</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="blk" class="checkNum" value="${data.data[i].blk}" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 dataText dataTextLeft">失误</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="turnover" class="checkNum" value="${data.data[i].turnover}" placeholder="0">
                                        </div>
                                        <div class="mui-col-xs-2 dataText">犯规</div>
                                        <div class="mui-col-xs-4">
                                            <input type="text" name="foul" class="checkNum" value="${data.data[i].foul}" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="mui-row">
                                        <div class="mui-col-xs-2 sfText">首发</div>
                                        <div class="mui-col-xs-2 sfButton">
                                            <div class="mui-switch isLineup mui-switch-mini mui-switch-mini">
                                                <div class="mui-switch-handle"></div>
                                            </div>
                                            <input type="hidden" name="lineup" value="${data.data[i].lineup}">
                                        </div>
                                        <div class="mui-col-xs-2 sfButton">
                                            <button type="button" class="mui-btn">出席</button>
                                        </div>
                                        <div class="mui-col-xs-3 mui-text-right clearBtn">
                                            <button type="button" class="mui-btn">清空</button>
                                        </div>
                                        <div class="mui-col-xs-3 mui-text-right confirmBtn">
                                            <button type="button" class="mui-btn bggreen">确认</button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="personalScoreCont" value="">
                                </div>
                            </li>`
                    }
                    $(".awayMembersList").empty().append(newli);
                    mui('.mui-switch').switch();
                } else {
                    $(".awayMembersList").html('<li class="nohave"><p>没有相关数据哦</p></li>');
                }
            },
            error: function (xhr, type, errerThrown) {
                mui.toast('网络异常,请稍候再试');
            }
        });
    }

    // 提交
    $(".submitAction").on("tap", function () {
        var members = [];
        var personalScoreAll = 0;
        $(this).parents().siblings(".mui-scroll").find(".dataCollapse").each(function () {
            var team_member_id = $(this).siblings().find(".member").attr("data-team_member_id");
            if (team_member_id == undefined) {
                team_member_id = 0;
            }
            var match_record_member_id = ''
            var member = $(this).siblings().find(".member").attr("data-member"); //会员姓名
            var member_id = $(this).siblings().find(".member").attr("data-member_id");
            var name = $(this).siblings().find(".member").text(); //球员姓名
            var number = $(this).siblings().find("input[name=number]").val(); //球员号码
            var lineup = $(this).find("input[name=lineup]").val(); //首发
            var fga = $(this).find("input[name=fga]").val(); //二分出手次数
            var fg = $(this).find("input[name=fg]").val(); //二分命中数
            var threepfga = $(this).find("input[name=threepfga]").val(); //三分出手次数
            var threepfg = $(this).find("input[name=threepfg]").val(); //三分命中数
            var fta = $(this).find("input[name=fta]").val(); //罚球次数
            var ft = $(this).find("input[name=ft]").val(); //罚球命中数
            var reb = $(this).find("input[name=reb]").val(); //篮板
            var ast = $(this).find("input[name=ast]").val(); //助攻
            var stl = $(this).find("input[name=stl]").val(); //抢断
            var blk = $(this).find("input[name=blk]").val(); //封盖
            var turnover = $(this).find("input[name=turnover]").val(); //失误
            var foul = $(this).find("input[name=foul]").val(); //犯规
            var is_attend = $(this).find("input[name=is_attend]").val();

            personalScore = fg * 2 + threepfg * 3 + ft * 1; //单个球员得分
            $(this).find("input[name=personalScoreCont]").val(personalScore); //单个球员得分赋值在personalScoreCont变量中
            personalScoreCont = $(this).find("input[name=personalScoreCont]").val();
            members.push({ member, member_id, name, team_member_id, number, lineup, fga, fg, threepfga, threepfg, fta, ft, reb, ast, stl, blk, turnover, foul, match_record_member_id, is_attend });
        });
        console.log(members)
        // 遍历求和球员总得分
        $(this).parents(".teamTap").find("input[name=personalScoreCont]").each(function () {
            personalScoreAll += parseInt($(this).val());
        })
        var teamScore = $(this).parents().siblings(".mui-scroll").find(".teamScore").text();
        console.log(personalScoreAll)
        console.log(teamScore)
        if (personalScoreAll > teamScore) {
            mui.alert("主队球员总得分不能大于主队总得分");
            return false;
        }

        var team = $(this).parents(".teamTap").attr("data-team");
        var team_id = $(this).parents(".teamTap").attr("data-team_id");
        var match = "{$matchRecordInfo.match}";
        var match_id = "{$matchRecordInfo.match_id}";
        var match_time = $(".match_time").text();
        var match_record_id = "{$matchRecordInfo.id}";
        var memberList = JSON.stringify(members)
        mui.ajax("{:url('api/matchdata/savematchstatisticsbyteam')}", {
            data: {
                match_record_id: match_record_id,
                team: team,
                team_id: team_id,
                match: match,
                match_id: match_id,
                match_time: match_time,
                members: memberList
            },
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: { 'Content-Type': 'application/json' },
            success: function (data) {
                console.log(data);
                if (data.code == 200) {
                    mui.alert('提交成功', '确定', function () {
                        var goUrl = "{:url('match/matchlistofleague')}" + '/league_id/' + "{$league_id}";
                        window.top.location.href = goUrl;
                    })
                } else {
                    mui.toast(data.msg)
                }
            },
            error: function (xhr, type, errorThrown) {
                console.log(type);
            }
        });
    })

    //创建补0函数
    function p(s) {
        return s < 10 ? '0' + s : s;
    }
    function gettime() {
        var _time = new Date();
        var year = _time.getFullYear();
        var month = _time.getMonth() + 1;
        var day = _time.getDate();
        var hours = _time.getHours();
        var minutes = _time.getMinutes();
        return p(year) + "-" + p(month) + "-" + p(day) + " " + p(hours) + ":" + p(minutes);
    }
</script>

</html>