<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>教练列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!--等级星星样式-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/feedback.css"/>
    <link href="/static/frontend/css/mui.indexedlist.css" rel="stylesheet">
</head>

<body>
    <!--头部搜索2-->
    <header id="header" class="mui-bar mui-bar-nav" style="border-bottom: solid 1px #e3e3e3;">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title" style="text-align: left;font-size: 14px;">教练列表</h1>
        <a href="{:url('coach/coachExamineListOfCamp')}" class="mui-pull-right " style="font-size: 14px;line-height: 44px;color: #000">教练申请</a>
    </header>

    <div class="mui-content">

        <div class="mui-indexed-list-search mui-input-row mui-search">
            <input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="">
            <span class="mui-icon mui-icon-clear mui-hidden"></span>
            <span class="mui-placeholder"><span class="mui-icon mui-icon-search"></span><span>搜索教练</span></span>
        </div>

        <ul class="mui-table-view list">
            {volist name="campList" id="vol"}
            <li class="mui-table-view-cell mui-media listli padding">
                <a href="{:url('camp/campInfo',['camp_id'=>$vol['camp_id']])}">
                    <img class="mui-media-object mui-pull-left" src="{$vol.logo}">
                    <div class="mui-media-body">
                        {$vol.camp}
                        <p class="mui-ellipsis">已报名{$vol.act_member}&nbsp;&nbsp;已上课{$vol.finished_lessons}节</p>
                    </div>
                    <div class="price-frame">
                        <div class="icons mui-inline">{$vol.star}
                            <i data-index="1" class="mui-icon mui-icon-star-filled"></i>
                            <i data-index="2" class="mui-icon mui-icon-star-filled"></i>
                            <i data-index="3" class="mui-icon mui-icon-star-filled"></i>
                        </div>
                        <p class="address">{$vol.province} {$vol.city}</p>
                    </div>
                </a>
            </li>
            {/volist}
        </ul>

    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/mui.indexedlist.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

    </script>
</body>
</html>