<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>训练营设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet"/>
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet"/>
</head>

<body class=whitebg>

<div class="mui-content">
    <div class="list camp-list camp-lesson-list detalis-list coach">
        <div class="camp-lesson-list">
            <div id="segmentedControl" class="mui-segmented-control mb">
                <a class="mui-control-item mui-active" href="#item1">基本信息</a>
                <a class="mui-control-item" href="#item2">认证信息</a>
            </div>
        </div>

        <div class="item-list">
            <div id="item1" class="mui-control-content mui-active">
                <ul class="mui-table-view list">
                    <li class="mui-table-view-cell listli detalisli listinitial">训练营名称<span class="wd52">{$campInfo.camp}</span>
                    </li>
                    <li class="mui-table-view-cell listli detalisli listinitial">训练营创建者<span class="wd52">{$campInfo.realname}</span>
                    </li>
                    <li class="mui-table-view-cell listli detalisli">
                        <a href="#" class="mui-navigate-right">训练营LOGO
                            <img class="coachicon icon01" src="{$campInfo.logo}" alt="">
                        </a>
                    </li>
                    <li class="mui-table-view-cell listli detalisli detalisli">
                        <a href="#" class="mui-navigate-right">训练营封面
                            <img class="coachicon icon01" src="{$campInfo.banner}" alt="">
                        </a>
                    </li>
                    <li class="mui-table-view-cell listli detalisli listinitial">
                        <a href="#" class="mui-navigate-right">
                            所属公司<span>{$campInfo.company}</span>
                        </a>
                    </li>
                    <li class="mui-table-view-cell listli detalisli listinitial">
                        <a href="#" class="mui-navigate-right">
                            总部地址<span>{$campInfo.location}</span>
                        </a>
                    </li>
                    <li class="mui-table-view-cell listli detalisli listinitial">
                        <a href="#" class="mui-navigate-right">
                            所属地区<span>{$campInfo.province} {$campInfo.city} {$campInfo.area}</span>
                        </a>
                    </li>
                    <li class="mui-table-view-cell listli detalisli listinitial border-b">
                        训练营简介
                        <span class="mui-navigate-right wd66">{$campInfo.camp_introduction}</span>
                    </li>
                </ul>
            </div>
            <div id="item2" class="mui-control-content">
                <ul class="mui-table-view list">
                    <li class="mui-table-view-cell listli detalisli listinitial">
                        <a href="#" class="mui-navigate-right">营业执照
                            <img class="coachicon icon01" src="/static/frontend/images/yuantiao.jpg" alt="">
                        </a>
                    </li>
                    <li class="mui-table-view-cell listli detalisli listinitial">
                        <a href="#" class="mui-navigate-right">法人身份证
                            <img class="coachicon icon01" src="/static/frontend/images/yuantiao.jpg" alt="">
                        </a>
                    </li>
                    <li class="mui-table-view-cell listli detalisli listinitial">
                        <a href="#" class="mui-navigate-right">
                            法人身份证号<span class="wd52">440321554618564485</span>
                        </a>
                    </li>
                    <li class="mui-table-view-cell listli detalisli listinitial">
                        <a href="#" class="mui-navigate-right">创建者身份证
                            <img class="coachicon icon01" src="/static/frontend/images/yuantiao.jpg" alt="">
                        </a>
                    </li>
                    <li class="mui-table-view-cell listli detalisli listinitial">
                        <a href="#" class="mui-navigate-right">
                            创建者身份证号<span class="wd52">440321554618564485</span>
                        </a>
                    </li>
                    <li class="mui-table-view-cell listli detalisli listinitial border-b">
                        <a href="#" class="mui-navigate-right">其他证明
                            <img class="coachicon icon01" src="/static/frontend/images/yuantiao.jpg" alt="">
                            <img class="coachicon icon01" src="/static/frontend/images/yuantiao.jpg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="success-frame success-frame2">
                    <div class="choise-identity">
                        修改后需要重新审核认证信息，审核通过前课程的发布、展示、购买功能将停止使用
                    </div>

                    <div class="choise">
                        <button type="button" class="mui-btn">提交修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<!--选择器-->
<script src="/static/frontend/js/mui.picker.min.js"></script>
<script src="/static/frontend/js/mui.poppicker.js"></script>
<script src="/static/frontend/js/city.data.js"></script>
<script src="/static/frontend/js/city.data-3.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    //选择器
    (function ($, doc) {
        $.init();
        $.ready(function () {
            var _getParam = function (obj, param) {
                return obj[param] || '';
            };
            ///级联示例
            var cityPicker3 = new $.PopPicker({
                layer: 3
            });
            cityPicker3.setData(cityData3);
            var showCityPickerButton = doc.getElementById('showCityPicker3');
            var cityResult3 = doc.getElementById('cityResult3');
            showCityPickerButton.addEventListener('tap', function (event) {
                cityPicker3.show(function (items) {
                    cityResult3.innerText = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(items[2], 'text');
                    //返回 false 可以阻止选择框的关闭
                    //return false;
                });
            }, false);
        });
    })(mui, document);

    //验证码
    function clickButton(obj) {
        var obj = $(obj);
        obj.attr("disabled", "disabled");
        /*按钮倒计时*/
        var time = 60;
        var set = setInterval(function () {
            obj.val(--time + "(s)");
        }, 1000);
        /*等待时间*/
        setTimeout(function () {
            obj.attr("disabled", false).val("重新获取验证码");
            /*倒计时*/
            clearInterval(set);
        }, 60000);
    }

    //流程跳转
    $(function () {
        $(".registerbtn1").click(function () {
            $(".form1").hide();
            $(".form2").show();
        });
        $(".registerbtn2").click(function () {
            $(".form2").hide();
            $(".form3").show();
        });
        $(".registerbtn3").click(function () {
            $(".form3").hide();
            $(".form1").show();
        });
    })


</script>
</html>