<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>训练营设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet"/>
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet"/>
</head>

<body class=whitebg>

<div class="mui-content">
    <div class="list camp-list camp-lesson-list detalis-list coach">
        <div class="camp-lesson-list">
            <div id="segmentedControl" class="mui-segmented-control mb">
                <a class="mui-control-item mui-active" href="#item1">基本信息</a>
                <a class="mui-control-item" href="#item2">认证信息</a>
            </div>
        </div>

        <div class="item-list">
            <div id="item1" class="mui-control-content mui-active">

                <form id="form1" action="" class="mui-input-group mt25">
                    <div class="mui-input-row">
                        <label>训练营名称</label><span>{$campInfo.camp}</span>
                        <input type="hidden" name="campid" value="{$camp.id}">
                    </div>
                    <div class="mui-input-row h-auto">
                        <a class="mui-navigate-right camplogo filePicker" onclick="add_id(1)">
                            <label>训练营LOGO</label>
                            <img id="preview_1" class="coachicon icon01 logo upload-preview">
                            <input type="hidden" name="logo" value="{$campInfo.logo}">
                        </a>
                    </div>
                    <div class="mui-input-row h-auto">
                        <a  class="mui-navigate-right campbanner filePicker" onclick="add_id(2)">
                            <label>训练营封面</label>
                            <img id="preview_2" class="coachicon icon01 banner upload-preview" >
                            <input type="hidden" name="banner" value="{$campInfo.banner}">
                        </a>
                    </div>
                    <div class="mui-input-row">
                        <label>所属公司</label>
                        <input type="text" name="company" class="input company" value="{$campInfo.company}" placeholder="非机构可不填">
                    </div>
                    <div class="mui-input-row">
                        <label>总部地址</label>
                        <input type="text" class="input" name="location" value="{$campInfo.location}" placeholder="非机构可不填">
                    </div>
                    <div class="mui-input-row" id='showCityPicker3'>
                        <a href="#" class="mui-navigate-right">
                            <label>所属地区</label>
                            <span id="cityResult3" class="ui-alert location" style="color:#737373">选择</span>
                        </a>
                        <input id="location-input" type="hidden" name="locationStr" value="{$campInfo.province} {$campInfo.city} {$campInfo.area}">
                    </div>
                    <!--<div class="mui-input-row">
                        <label>电话号码</label>
                        <input type="text" class="input camp_telephone">
                    </div>-->
                    <div class="mui-input-row h-auto">
                        <label>训练营简介</label>
                        <textarea rows="5" class="intro" placeholder="填写训练营简介">{$campInfo.camp_introduction}</textarea>
                    </div>
                </form>
                <span class="tip-box tip"></span>

                <div class="success-frame success-frame2">
                    <div class="choise-identity">
                        修改后需要重新审核认证信息，审核通过前课程的发布、展示、购买功能将停止使用
                    </div>

                    <div class="choise">
                        <button type="button" class="mui-btn" id="submit-form1">提交修改</button>
                    </div>
                </div>

            </div>
            <div id="item2" class="mui-control-content">

                <form id="form2" action="" class="mui-input-group mt25">
                    <div class="mui-input-row">
                        <label>训练营名称</label><span>{$campInfo.camp}</span>
                        <input type="hidden" name="campid" value="{$camp.id}">
                    </div>

                    <div class="mui-input-row h-auto">
                        <a class="mui-navigate-right filePicker"  onclick="add_id(1)">
                            <label>营业执照</label>
                            <img id="preview_1" class="coachicon icon01 upload-preview" >
                            <input type="hidden" name="cert" value="{$campcert.cert}">
                        </a>
                    </div>
                    <div class="mui-input-row h-auto">
                        <a class="mui-navigate-right filePicker"  onclick="add_id(2)">
                            <label>法人身份证</label>
                            <img id="preview_2" class="coachicon icon01 upload-preview">
                            <input type="hidden" name="fr_idcard" value="{$campcert.fr.photo_positive}">
                        </a>
                    </div>
                    <div class="mui-input-row">
                        <label>法人身份证号</label>
                        <input type="text" class="input fridno" value="{$campcert.fr.cert_no}" placeholder="请输入身份证号码">
                    </div>
                    <div class="mui-input-row h-auto">
                        <a class="mui-navigate-right filePicker"  onclick="add_id(3)">
                            <label>创建者身份证</label>
                            <img id="preview_3" class="coachicon icon01 upload-preview" >
                            <input type="hidden" name="cjz_idcard" value="{$campcert.cjz.photo_positive}">
                        </a>
                    </div>
                    <div class="mui-input-row">
                        <label>创建者身份证号</label>
                        <input type="text" class="input cjzidno" value="{$campcert.cjz.cert_no}" placeholder="请输入创建者身份证号码">
                    </div>
                    <div class="mui-input-row border-b h-auto">
                        <a class="mui-navigate-right filePicker"  onclick="add_id(4)">
                            <label>其他证明</label>
                            <img id="preview_4" class="coachicon icon01" >
                            <input type="hidden" name="other_cert" value="{$campcert.other}">
                        </a>
                    </div>
                </form>
                <span class="tip-box tip"></span>

                <div class="success-frame success-frame2">
                    <div class="choise-identity">
                        修改后需要重新审核认证信息，审核通过前课程的发布、展示、购买功能将停止使用
                    </div>

                    <div class="choise">
                        <button type="button" class="mui-btn" id="submit-form2">提交修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<!--选择器-->
<script src="/static/frontend/js/mui.picker.min.js"></script>
<script src="/static/frontend/js/mui.poppicker.js"></script>
<script src="/static/frontend/js/city.data.js"></script>
<script src="/static/frontend/js/city.data-3.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    //选择器
    (function ($, doc) {
        $.init();
        $.ready(function () {
            var _getParam = function (obj, param) {
                return obj[param] || '';
            };
            ///级联示例
            var cityPicker3 = new $.PopPicker({
                layer: 3
            });
            cityPicker3.setData(cityData3);
            var showCityPickerButton = doc.getElementById('showCityPicker3');
            var cityResult3 = doc.getElementById('cityResult3');
            showCityPickerButton.addEventListener('tap', function (event) {
                cityPicker3.show(function (items) {
                    cityResult3.innerText = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(items[2], 'text');
                    //返回 false 可以阻止选择框的关闭
                    //return false;
                });
            }, false);
        });
    })(mui, document);


</script>
</html>