<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$campInfo['camp']}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body class="whitebg">

<div class="mui-content">

    <div id="tabbar" class="mui-control-content mui-active coach">
        <!--操作模块-->
        <div class="img4x3" style="background-image: url({$campInfo['banner']})">
            <!--<ul class="mui-table-view mui-grid-view mui-grid-9">-->
                <!--<li class="mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">-->
                    <!--<a href="#">-->
                        <!--<img class="coachicon" src="{$memberInfo['avatar']}">-->
                        <!--<div class="f16">{$memberInfo['member']}</div>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<p class="coachid f12">ID:{$memberInfo['hot_id']}</p>-->
        </div>
        <!--图文导航-->
        <div class="page-header">
            <a href="{:url('camp/index')}" class="mui-icon mui-icon-left-nav mui-pull-left arrow"
               style="color: #737373;font-size: 21px"></a>
            <span class="more"> {$campInfo['camp']}统计及图表</span>
        </div>
        <div class="nav-list">
            <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>本月营业额</span>
                        <div class="mui-media-body colororange">￥28960</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>本月收益</span>
                        <div class="mui-media-body colororange">￥2,4130</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>本月已上课量</span>
                        <div class="mui-media-body colororange">2,00 <small>节</small></div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>本月上课人流量</span>
                        <div class="mui-media-body colororange">876 <small>人次</small></div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>本月新增会员</span>
                        <div class="mui-media-body colororange">160 <small>人</small></div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>本月离营学员</span>
                        <div class="mui-media-body colororange">10 <small>人</small></div>
                    </a>
                </li>
            </ul>
            <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>总收益</span>
                        <div class="mui-media-body colororange">￥28960</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>总营业额</span>
                        <div class="mui-media-body colororange">￥28960</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>报名次数</span>
                        <div class="mui-media-body colororange">123 <small>次</small></div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>课程</span>
                        <div class="mui-media-body colororange">123 <small>个</small></div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>在学会员</span>
                        <div class="mui-media-body colororange">1200 <small>人</small></div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>历史学员</span>
                        <div class="mui-media-body colororange">2,410 <small>人</small></div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>总已上课量</span>
                        <div class="mui-media-body colororange">2,410 <small>节</small></div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>总上课人流量</span>
                        <div class="mui-media-body colororange">2,4100 <small>人</small></div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span>班级</span>
                        <div class="mui-media-body colororange"></div>
                    </a>
                </li>
            </ul>
        </div>


        <!--图表模块-->
        <ul class="mui-table-view mui-grid-view mui-grid-9 choise-module" style="margin-bottom: 7px;">

            <li class="mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                <div id="turnoverMonth" style="height: 400px"></div>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                <div id="turnoverYear" style="height: 400px"></div>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                <div id="studentAll" style="height: 400px"></div>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-12 mui-col-sm-12">
                <div id="studentLocation" style="height: 400px"></div>
            </li>
        </ul>


    </div>




</div>
{layout name="Layout/footer"}
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>
<script src="/static/plugins/echart/echarts.min.js"></script>
<script src="/static/plugins/echart/hot.js"></script>


<script type="text/javascript">


    var date=new Date;
    var currYear=date.getFullYear();
    var currMonth=date.getMonth()+1;
    var currDate=date.getDate();
    var arrDate = new Array();
    for(var i=1;i<=currDate;i++){
        arrDate.push(i)
    }

    /////////////////////////////////////////////////////////////////////////////////////// 营业额折线图（本月）


    let eventBill = JSON.parse('{$eventBill}');
    let lessonBill = JSON.parse('{$lessonBill}');
    let eventBillYear = JSON.parse('{$eventBillYear}');
    let lessonBillYear = JSON.parse('{$lessonBillYear}');
    let gradeCourtData = JSON.parse('{$gradeCourtData}');
    let lessonBuyData = JSON.parse('{$lessonBuyData}');
    var domTM = document.getElementById("turnoverMonth");
    var turnoverMonth = echarts.init(domTM,"hot");

    // 指定图表的配置项和数据
    optionTM = {
        title: {
            text: currYear+'年'+currMonth+'月'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['培训','活动']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: arrDate
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'培训',
                type:'line',
                data:lessonBill
            },
            {
                name:'活动',
                type:'line',
                data:eventBill
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    turnoverMonth.setOption(optionTM,true);


    /////////////////////////////////////////////////////////////////////////////////////// 营业额折线图（本年）


    var domTY = document.getElementById("turnoverYear");
    var turnoverYear = echarts.init(domTY,"hot");
    console.log(lessonBillYear)
    // 指定图表的配置项和数据
    optionTY = {
        title: {
            text: "{:date('Y',time())} 年营业额折线图"
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['培训','活动']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'培训',
                type:'line',
                data:lessonBillYear
            },
            {
                name:'活动',
                type:'line',
                data:eventBillYear
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    turnoverYear.setOption(optionTY);


    /////////////////////////////////////////////////////////////////////////////////////// 学员分布


    var domLC = document.getElementById("canvasLocation");
    var canvasLocation = echarts.init(domLC,"hot");
    console.log(gradeCourtData.legend)
    // 指定图表的配置项和数据
    optionLCT = {
        title : {
            text: '学生训练点分布',
            subtext: gradeCourtData.legend.length+'个训练点',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: gradeCourtData.legend
        },
        series : [
            {
                name: '学生分布',
                type: 'pie',
                radius : '65%',
                center: ['50%', '50%'],
                data:gradeCourtData.series,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    canvasLocation.setOption(optionLCT);

    /////////////////////////////////////////////////////////////////////////////////////// 学员分布

    var domLS = document.getElementById("canvasLesson");
    var canvasLesson = echarts.init(domLS,"hot");
    console.log(lessonBuyData)
    // 指定图表的配置项和数据
    optionLS = {
        title : {
            text: '课程购买饼图',
            subtext: lessonBuyData.legend.length+'个课程',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: lessonBuyData.legend
        },
        series : [
            {
                name: '学生分布',
                type: 'pie',
                radius: ['45%', '65%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:lessonBuyData.series,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    canvasLesson.setOption(optionLS);



</script>
</html>