<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>训练营注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .mui-popover {
            height: 370px;
            background: #fff !important;
        }
    </style>
</head>

<body>
    <header class="mui-bar mui-bar-nav subheader header3">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">完善训练营信息</h1>
    </header>
    <div class="mui-content pt">

        <div id="form3" class="register">
            <form action="" class="mui-input-group">

                <div class="mui-input-row ">
                    <label>训练营名称</label>
                    <span>{if condition="$camp"}{$camp.camp}{/if}</span>
                    <input type="hidden" name="campid" value="{$camp.id}">
                </div>

                <div class="mui-input-row h-auto">
                    <div class="mui-navigate-right" onclick="upload(1,this)">
                        <label>营业执照</label>
                        <div class="viewStyle"></div>
                        <input type="hidden" name="cert" value="">
                    </div>
                </div>
                <div class="mui-input-row h-auto">
                    <div class="mui-navigate-right" onclick="upload(2,this)">
                        <label>法人身份证</label>
                        <div class="viewStyle"></div>
                        <input type="hidden" name="fr_idcard" value="">
                    </div>
                </div>
                <div class="mui-input-row">
                    <label class="wd45">法人身份证号</label>
                    <input type="text" class="input fridno wd52" placeholder="请输入身份证号码">
                </div>
                <div class="mui-input-row h-auto">
                    <div class="mui-navigate-right" onclick="upload(3,this)">
                        <label>创建者身份证</label>
                        <div class="viewStyle"></div>
                        <input type="hidden" name="cjz_idcard" value="">
                    </div>
                </div>
                <div class="mui-input-row">
                    <label class="wd45">创建者身份证号</label>
                    <input type="text" class="input cjzidno" placeholder="请输入创建者身份证号码" style="width: 55%">
                </div>
                <div class="mui-input-row border-b h-auto">
                    <div class="mui-navigate-right" onclick="upload(4,this)">
                        <label>其他证明</label>
                        <div class="viewStyle"></div>
                        <input type="hidden" name="other_cert" value="">
                    </div>
                </div>

            </form>

            <span class="tip-box tip"></span>
            <div class="tjbtn">
                <button type="button" class="mui-btn btn camp-step3">完善认证信息</button>
            </div>
            <p class="pass mb44">
                <a href="{:url('index/index')}">[ 跳过，稍后完善 ]</a>
            </p>
        </div>
        <!-- #form3 end -->
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <!--上传截图头像-->
    <script src="/static/plugins/cropper/hammer.min.js"></script>
    <script src="/static/plugins/cropper/iscroll-zoom-min.js"></script>
    <script src="/static/plugins/cropper/lrz.all.bundle.js"></script>
    <script src="/static/plugins/cropper/PhotoClip.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        $(function () {

            // 注册 step3
            $('.camp-step3').click(function () {
                var campid = $('input[name=campid]').val();
                var cert = $('input[name=cert]').val();
                var fr_idcard = $('input[name=fr_idcard]').val();
                var fr_idno = $('.fridno').val();
                var cjz_idcard = $('input[name=cjz_idcard]').val();
                var cjz_idno = $('.cjzidno').val();
                var other_cert = $('input[name=other_cert]').val();

                var idno = /^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
                if (!(idno).test(fr_idno) || !(idno).test(cjz_idno)) {
                    mui.toast("请输入正确身份证号码");
                    return false;
                };
                if (cert == "" || fr_idcard == "" || cjz_idcard == "") {
                    mui.toast("请上传证件照");
                    return false;
                };

                mui.ajax("{:url('api/camp/updatecampcert')}", {
                    data: {
                        camp_id: campid,
                        cert: cert,
                        fr_idcard: fr_idcard,
                        fr_idno: fr_idno,
                        cjz_idcard: cjz_idcard,
                        cjz_idno: cjz_idno,
                        other_cert: other_cert
                    },
                    dataType: 'json',
                    type: 'post',
                    timeout: 10000,
                    headers: { 'Content-Type': 'application/json' },
                    success: function (res) {
                        if (res.code == 200) {
                            mui.toast(res.msg + ',等待申核');
                            setTimeout(window.location.href = "{:url('camp/registerSuccess')}", 3000);
                        } else {
                            mui.toast(res.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        console.log(type);
                    }
                });
            });
        });
    </script>
    <script>  
        // 长方形图片
        function upload(i, thisDiv) {
            str = `<div id="txpopover${i}" class="mui-popover mui-popover-action mui-popover-bottom actionsheet">
                    <div class="clipAreaStyle clipArea${i}"></div>
                    <div class="fileFrame">选择图片
                        <input type="file" class="fileStyle file${i}">
                    </div>
                    <button class="clipBtnStyle clipBtn${i}">截取</button>
                </div>`
            $(".mui-content").find("#txpopover" + i).remove();
            $(".mui-content").append(str);
            mui("#txpopover" + i).popover("toggle");
            $(thisDiv).find(".viewStyle").addClass("view" + i)
            var pc = new PhotoClip('.clipArea' + i, {
                size: 260,
                outputSize: 640,
                adaptive: ['80%', '60%'],
                file: '.file' + i,
                view: '.view' + i,
                ok: '.clipBtn' + i,
                loadStart: function () {
                    console.log('开始读取照片');
                },
                loadComplete: function () {
                    console.log('照片读取完成');
                },
                done: function (dataURL) {
                    console.log(dataURL);
                    mui.post("{:url('api/upload/imgcropupload')}", {
                        dataurl: dataURL,
                        path: 'cert'
                    }, function (res) {
                        $(thisDiv).find("input").val(res.path)
                        mui("#txpopover" + i).popover("toggle");
                    }, 'json');
                },
                fail: function (msg) {
                    alert(msg);
                }
            });
        }
    </script>
</body>

</html>