<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>修改成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body class="whitebg">
<!--首次登陆成功-->
<div class="mui-content whitebg">
    <div class="success-frame">
        <p style="height: 30px"></p>

        {switch name="edit"}
        {case value="1"}
        <div class="choise-identity">
            修改认证信息成功,请等待重新审核资料<br />先到平台逛逛吧，谢谢！
        </div>

        <div class="choise">
            <a href="{:url('index/index')}"><button type="button" class="mui-btn">逛逛平台</button></a>
        </div>
        {/case}
        {case value="2"}
        <div class="choise-identity">
            设置训练营关闭/开启状态成功
        </div>
        <div class="choise">
            <a href="{:url('index/index')}"><button type="button" class="mui-btn">返回平台</button></a>
        </div>
        {/case}
        {default/}
        <div class="choise-identity">
            修改基本信息成功<br />
        </div>
        <div class="choise">
            <a href="{:url('coach/coachList')}"><button type="button" class="mui-btn mui-btn-success">查找并邀请教练员</button></a>
        </div>

        <div class="choise">
            <a href="{:url('lesson/createLesson')}"><button type="button" class="mui-btn mui-btn-success">创建课程</button></a>
        </div>

        <div class="choise">
            <a href="{:url('camp/index')}"><button type="button" class="mui-btn">返回训练营</button></a>
        </div>
        {/switch}
    </div>
</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>
</html>