<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>轨迹</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css" />
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css" />
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--自定义多色图标icon.js-->
    <script src="/static/frontend/iconfont/iconfont.js"></script>
    <style type="text/css">
        .coloricon {
            width: 2.4em;
            height: 2.4em;
            vertical-align: -0.7em;
            fill: currentColor;
            overflow: hidden;
        }
        
        .goConfirm .mui-media-body {
            height: 24px !important;
            line-height: 24px !important;
        }
        
        /*.nav-list .nav-list-frame .navli {
            width: 25% !important;
        }*/
        
        .list .listli .mui-navigate-right {
            padding-right: 15px;
            width: auto;
            font-size: 12px;
        }
    </style>
</head>

<body class="whitebg">

    <div class="mui-content">

        <div id="tabbar" class="mui-control-content mui-active coach">
            <!--操作模块-->
            <div class="coach-info">
                <ul class="mui-table-view mui-grid-view mui-grid-9">

                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="#">
                            <img class="coachicon" src="{$memberInfo['avatar']}">
                            <div class="f16">{$memberInfo['member']}</div>
                        </a>
                    </li>
                </ul>
                <p class="coachid f12">ID:{$memberInfo['hot_id']}</p>
            </div>

            <!--图文导航-->
            <div class="nav-list mb">
                <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame ptb4">
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 navli">
                        <a href="{:url('member/mygrade')}">
                            <div class="goConfirm">
                                <svg class="coloricon" aria-hidden="true">
                                    <use xlink:href="#icon-training-class"></use>
                                </svg>
                                <div class="mui-media-body">班级</div>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 navli">
                        <a href="{:url('Team/myteam')}">
                            <div class="goConfirm">
                                <svg class="coloricon" aria-hidden="true">
                                    <use xlink:href="#icon-mine-team"></use>
                                </svg>
                                <div class="mui-media-body">球队</div>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 navli">
                        <div class="goConfirm">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-mine-Album"></use>
                            </svg>
                            <div class="mui-media-body">相册</div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 navli">
                        <a href="{:url('member/followlist')}">
                            <div class="goConfirm">
                                <svg class="coloricon" aria-hidden="true">
                                    <use xlink:href="#icon-mine-attention"></use>
                                </svg>
                                <div class="mui-media-body">关注</div>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 navli">
                        <a href="{:url('member/invitation')}">
                            <div class="goConfirm">
                                <svg class="coloricon" aria-hidden="true">
                                    <use xlink:href="#icon-mine-attention"></use>
                                </svg>
                                <div class="mui-media-body">邀请</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <!--最新消息-->
            <div class="page-header mb" style="background-color: #FFF;">
                <a href="{:url('message/index')}">
                    <span class="course wd83">最新消息：{notempty name="messageList"}{$messageList[0]['title']}{/notempty}</span>
                    <span class="more">更多</span>
                </a>
            </div>
            {volist name="campList" id="vol"}
            <div class="mb">
                <ul class="mui-table-view list">
                    {if condition="($vol.type == '粉丝') or ($vol.type == '学生')" }
                    <a href="{:url('camp/clientOfcamp',['camp_id'=>$vol['camp_id']])}">
                {else/}
                <a href="{:url('camp/powerCamp',['camp_id'=>$vol['camp_id']])}">
                {/if}
                    <li class="mui-table-view-cell listli"><img src="{$vol.camp.logo}"> {$vol.camp.camp}<span class="mui-navigate-right">{$vol.type}</span></li>
                </a>
                </ul>
                <ul class="mui-table-view mui-grid-view mui-grid-9 choise-module2">
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="{:url('camp/campInfo',['camp_id'=>$vol['camp_id']])}">
                            <span class="icon iconfont icon-training-camp"></span>
                            <div class="mui-media-body">训练营介绍</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="{:url('lesson/lessonList')}?camp_id={$vol['camp_id']}&camp_name={$vol.camp.camp}">
                            <!-- <a href="lesson/lessonList/?camp_id={$vol.id}"> -->
                            <span class="icon iconfont icon-training-course"></span>
                            <div class="mui-media-body">课程</div>
                        </a>
                    </li>
                    {if condition="($vol.type == '粉丝') or ($vol.type == '学生')" }
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="{:url('camp/clientOfcamp',['camp_id'=>$vol['camp_id']])}">
                            <span class="icon iconfont icon-training-training"></span>
                            <div class="mui-media-body colororange">我的档案</div>
                        </a>
                    </li>
                    {else/}
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="{:url('grade/gradeListWeek',['camp_id'=>$vol['camp_id']])}">
                            <span class="icon iconfont icon-training-record"></span>
                            <div class="mui-media-body colororange">录课</div>
                        </a>
                    </li>
                    {/if}
                </ul>
            </div>
            {/volist}


            <div class="success-frame success-frame2">
                <div class="choise">
                    <a href="{:url('camp/camplist')}"><button type="button" class="mui-btn" style="font-size: 16px;">找训练营/俱乐部</button></a>
                </div>
            </div>

        </div>


        <!--底部导航-->
        {layout name="Layout/footer"}

    </div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    $(function () {

        //未开发提示
        $(".goConfirm").click(function () {
            mui.toast('暂未开放，敬请期待');
        })

    })

</script>

</html>