<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>训练营</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body class="whitebg">

<div class="mui-content">

    <div id="tabbar" class="mui-control-content mui-active coach">
        <!--操作模块-->
        <div class="coach-info">
            <ul class="mui-table-view mui-grid-view mui-grid-9">
                
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span class="mui-icon mui-icon-contact"></span>
                        <div class="mui-media-body">{$memberInfo['member']}</div>
                    </a>
                </li>
            </ul>
            <p class="coachid">ID:{$memberInfo['hot_id']}</p>
        </div>
        <!--最新消息-->
        <div class="page-header mb" style="background-color: #FFF;">
            <span class="course">最新消息：{notempty name="messageList"}{$messageList[0]['title']}{/notempty}</span>
            <span class="more">更多</span>
        </div>
        {volist name="campList" id="vol"}
        <div class="mb">
            <ul class="mui-table-view list">
                {if condition="($vol.type == '粉丝') or ($vol.type == '学生')" }
                <a href="{:url('camp/clientOfcamp',['camp_id'=>$vol['camp_id']])}">
                {else/}
                <a href="{:url('camp/powerCamp',['camp_id'=>$vol['camp_id']])}">
                {/if}
                    <li class="mui-table-view-cell listli"><i class="icon iconfont icon-hotbasketball-class1"></i> {$vol.camp}<span class="mui-navigate-right"></span> [{$vol.type}]</li>
                </a>
            </ul>
            <ul class="mui-table-view mui-grid-view mui-grid-9 choise-module2">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="{:url('camp/campInfo',['camp_id'=>$vol['camp_id']])}">
                        <span class="icon iconfont icon-hotbasketball-course"></span>
                        <div class="mui-media-body">训练营介绍</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="{:url('lesson/lessonList',['camp_id'=>$vol.id])}">
                        <!-- <a href="lesson/lessonList/?camp_id={$vol.id}"> -->
                        <span class="icon iconfont icon-hothome-course"></span>
                        <div class="mui-media-body">课程</div>
                    </a>
                </li>
                {if condition="($vol.type == '粉丝') or ($vol.type == '学生')" }
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="{:url('grade/gradeList',['camp_id'=>$vol['id']])}">
                        <span class="icon iconfont icon-hotbasketball-class1"></span>
                        <div class="mui-media-body colororange">班级</div>
                    </a>
                </li>
                {else/}
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="{:url('grade/gradeListWeek',['camp_id'=>$vol['id']])}">
                        <span class="icon iconfont icon-hotbasketball-Lesson1"></span>
                        <div class="mui-media-body colororange">录课</div>
                    </a>
                </li>
                {/if}
            </ul>
        </div>
        {/volist}


        <div class="success-frame success-frame2">
            <div class="choise">
                <a href="{:url('camp/camplist')}"><button type="button" class="mui-btn" style="font-size: 16px;">找训练营/俱乐部</button></a>
            </div>
        </div>

    </div>


    <!--底部导航-->
{layout name="Layout/footer"}

</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>
</html>