{extend name="layout/common"/}
{block name="page-content"}
<!--<div class="wrapper">-->
<div class="row col-lg-6 col-xs-12">
    <div class="box no-border">
        <form role="form" action="" method="post">
            {:token()}
            <input type="hidden" class="form-control" name="id" value="{$templateInfo.id}" >
            <div class="box-body">
                <div class="form-group">
                    <label>主模板名</label>
                    <input type="text" class="form-control" placeholder="请输入主模板名" name="template" value="{$templateInfo.template}" required="required">
                </div>
                <div class="form-group">
                    <label>模板编号</label>
                    <input type="text" class="form-control" placeholder="请输入主模板名" name="code" value="{$templateInfo.code}" required="required">
                </div>
                <div class="form-group">
                    <label>内容示例</label>
                    <!-- Main content -->
                    <textarea class="textarea" name="description" placeholder="请输入内容示例..." required="required">{$templateInfo.description}</textarea>
                </div>
                <div class="form-group">
                    <label>应用场景</label>
                    <!-- Main content -->
                    <textarea class="textarea" name="scene" placeholder="请输入应用场景..." required="required">{$templateInfo.scene}</textarea>
                </div>
                <div class="form-group">
                    <label>备注</label>
                    <!-- Main content -->
                    <textarea class="textarea" name="remarks" placeholder="请输入备注..." required="required">{$templateInfo.remarks}</textarea>
                </div>

                <div class="form-group">
                    <label>状态</label>
                    <select name="status">
                        <option value="1" selected="selected">启用</option>
                        <option value="-1">停用</option>
                    </select>
                    <div style="float:right">创建时间：{$templateInfo.create_time} &nbsp;&nbsp; 更新时间：{$templateInfo.update_time}</div>
                </div>

            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-success" style="width: 100px; padding: 5px;">保 存</button>
            </div>
        </form>
    </div>
</div>
<!--</div>-->
</body>
{/block}
{block name='js'}
<!-- JQ -->
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- CK Editor -->
<script src="/static/plugins/ckeditor/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script>
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('description',{ toolbarCanCollapse:true, toolbarStartupExpanded:false, height:120 });
        CKEDITOR.replace('scene',{ toolbarCanCollapse:true, toolbarStartupExpanded:false, height:80 });
        CKEDITOR.replace('remarks',{ toolbarCanCollapse:true, toolbarStartupExpanded:false, height:80 });
        //bootstrap WYSIHTML5 - text editor
//    $(".textarea").wysihtml5();



        //设置默认项目
        $('select[name="status"] option[value="{$templateInfo.status}"]').prop("selected", true);


    });

</script>
{/block}


