<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>活动订单支付</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .show {
            display: block;
        }
        
        .hide {
            display: none;
        }
    </style>
</head>

<body class=whitebg>

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">确认订单</h1>
    </header>
    <div class="mui-content">

        <div class="list">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media listli mb">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="{$eventInfo.cover}">
                        <div class="mui-media-body wd45">
                            {$eventInfo.event}
                            <p class="mui-ellipsis">{$eventInfo.event_type}</p>
                        </div>
                        <div class="price-frame">
                            <p class="price"><span class="nofloat">已报名{$eventInfo.participator}人</span></p>
                            <p class="price"><span class="nofloat">剩余名额</span></p>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="page-header">
                <span class="course">活动信息</span>
            </div>

            <ul class="mui-table-view">
                <input type="hidden" name="target_type" value="{$eventInfo.target_type}">
                <li class="mui-table-view-cell listli {eq name='eventInfo.organization' value='2||3'}show{else/}hide{/eq}">所属训练营<span>{$eventInfo.organization}</span></li>
                <li class="mui-table-view-cell listli {eq name='eventInfo.organization' value='3'}show{else/}hide{/eq}">所属班级<span>{$eventInfo.target}</span></li>
                <li class="mui-table-view-cell listli">活动单价<span><b class="colororange">￥{$eventInfo.price}</b>（元）</span></li>
                <li class="mui-table-view-cell listli">活动开始时间<span>{$eventInfo.starts}</span></li>
                <li class="mui-table-view-cell listli">活动结束时间<span>{$eventInfo.ends}</span></li>
                <li class="mui-table-view-cell listli">活动地点<span>{$eventInfo.location}</span></li>
                <li class="mui-table-view-cell listli">所属地区<span>{$eventInfo.province} {$eventInfo.city} {$eventInfo.area}</span></li>

            </ul>
            <div class="page-header">
                <span class="course">报名信息</span>
            </div>

            <div class="mui-input-group mb44">

                <div id="oldStudent">
                    <input type="hidden" name="__token__" class="data" value="{$Request.token}" />
                    <div class="mui-input-row">
                    <a href="#student" id="setStudentCBox" class="mui-navigate-right" style="display: flex">
                        <label>选择参与人员</label>
                        <span class="studentCont students domData" name="student_str"></span>
                        <div id="hideStList">
                        </div>
                    </a>
                    </div>
                    <div class="mui-input-row">
                        <label>报名人数</label>
                        <input type="text" name="participator" value="" class="eventNum data" readonly>
                    </div>
                    <div class="mui-input-row">
                        <label>联系人</label>
                        <input type="text" name="contract" class="data" value="{$eventInfo.member}">
                    </div>
                    <div class="mui-input-row">
                        <label>联系电话</label>
                        <input type="text" name="telephone" class="data" value="{$memberInfo.telephone}">
                    </div>
                    <div class="mui-input-row">
                        <label>备注</label>
                        <textarea rows="2" name="event_des" class="data" value="" placeholder="备注信息填写"></textarea>
                    </div>

                </div>

            </div>
            <ul class="mui-table-view operation">
                <li class="mui-table-view-cell mui-media mui-col-xs-6 opli">需要支付:<b class="colororange eventTotal">￥</b></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 opli" onclick="helpPay()">请人代付</li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 opli bggreen" onclick="wxpay()">立即支付</li>
            </ul>
        </div>
    </div>


    <!--学员名单-->
    <div id="student" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="page-header">
            <span class="course wd36"><strong>学员名单</strong></span>
            <span class="fr"><button class="mui-btn-blue" id="studentConfirm">确认</button></span>
        </div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <form id="newdiv" class="mui-input-group">

                </form>
            </div>
        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });


        var total=wooApi.GetQueryString('total');
        var total_fee = "{$eventInfo.price}"*total;
        var strBillInfo = '{$jsonBillInfo}';
        var objBillInfo = JSON.parse(strBillInfo);

        $(function () {

            $('.eventNum').val(total);
            $('.eventTotal').text("￥"+total_fee);

            //学员列表复选框赋值
            $("#setStudentCBox").on('tap', '', function () {
                //每次打开先清空所有选择
                $("input[name='checkbox-student']").prop("checked", false);
                //然后遍历出对应所选
                $(".stdList").each(function (i) {
                    //var id = $(this).attr("data-id");
                    var student_id = $(this).attr("data-student_id");
                    //var student = $(this).attr("data-student");
                    $("#newdiv").find("input[name='checkbox-student']").filter(function (index) {
                        return $(this).attr("data-student_id") == student_id
                    }).prop("checked", true);
                });
            });

            // 学员名单
            $("#studentConfirm").on('tap', '', function () {
                var inputList = "";
                var studentNames = "";
                studentList = [];
                $("input[name='checkbox-student']:checked").each(function (i) {
//                    var id = $(this).attr("data-id");
                    var student_id = $(this).attr("data-student_id");
                    var student = $(this).val();
                    var camp = $(this).attr("data-camp");
                    var camp_id = $(this).attr("data-camp_id");
                    var lesson = $(this).attr("data-lesson");
                    var lesson_id = $(this).attr("data-lesson_id");
                    var member = $(this).attr("data-member");
                    var member_id = $(this).attr("data-member_id");
                    studentList[i] = { student: student, student_id: student_id, camp:camp, camp_id:camp_id, lesson:lesson, lesson_id:lesson_id, member:member, member_id:member_id}
                    studentNames += student + ','
                });
                $(".students").text(studentNames.substring(0, studentNames.length - 1))
                console.log(studentList)
                console.log(studentNames)

                //班级成员
                $("input[name=students]").val(studentList.length)
                mui('#student').popover('toggle');
            })

            // 获取学生数据
            getStudentList();

        });

        // 获取学生数据
        function getStudentList(){
            // 获取学生列表
            var result = wooApi.asyncF("{:url('api/Student/getStudentListApi')}");

            var div = '';
            if (result.code == 200) {
                for (var i = 0; i <= result.data.length - 1; i++) {
                    div = div + '<div class="mui-input-row mui-checkbox mui-left"><label>' + result.data[i].student  + '</label><input name="checkbox-student" class="student" value="' + result.data[i].student + '" type="checkbox" data-student_id="' + result.data[i].student_id + '" data-student="' + result.data[i].student +'" data-camp="'+ result.data[i].camp +'" data-camp_id="'+ result.data[i].camp_id +'" data-lesson="'+ result.data[i].lesson +'" data-lesson_id="'+ result.data[i].lesson_id+'" data-member="'+ result.data[i].member +'" data-member_id="'+ result.data[i].member_id + '"></div>'
                }
                $("#newdiv").empty();
                $("#newdiv").append(div);
            }

        }



       // 立即支付
        function wxpay(){
            //创建订单
            var res =  createBill();
            if(res.code == 200){
                if (typeof WeixinJSBridge == "undefined"){
                    if( document.addEventListener ){
                        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                    }else if (document.attachEvent){
                        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                    }
                }else{
                   onBridgeReady();
                }
            }else{
                mui.alert('订单创建失败,请刷新页面或者重新登录','提示','确定',function(){
                    location.reload();
                })
            }
        }

        // 请他人代付
        function helpPay(){
            //条件1判断是否没数据
            if(!isStudent){
                mui.alert('请先 [ 添加学生 ] 信息，谢谢！');
                return false;
            }
            //创建订单
            var res =  createBill();
            if(res.code == 200){
                window.location.href="{:url('frontend/bill/billInfo',['bill_order'=>$billOrder])}";
            }else{
                mui.alert('订单创建失败,请刷新页面或者重新登录','提示','确定',function(){
                    location.reload();
                })
            }
        }


      function onBridgeReady(){
        var strJsApiParameters = '{$jsApiParameters}';
        var objJsApiParameters = JSON.parse(strJsApiParameters);
        WeixinJSBridge.invoke(
         'getBrandWCPayRequest', {
                   "appId":objJsApiParameters.appId,     //公众号名称，由商户传入
                   "timeStamp":"{:time()}",         //时间戳，自1970年以来的秒数
                   "nonceStr":objJsApiParameters.nonceStr, //随机串
                   "package":objJsApiParameters.package,
                   "signType":"MD5",         //微信签名方式：
                   "paySign":objJsApiParameters.paySign, //微信签名
                   'payType':objJsApiParameters.payType
                 },
                 function(res){
                   if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                      pay(JSON.stringify(res));
                   }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                 }
               );
      }


        //创建订单
        function createBill(){
            var remarks = $('.remarks').val();
            var student = $('.selectStudent').find("option:selected").text();
            var student_id = $('.selectStudent').val();
            objBillInfo.bill_order = "{$billOrder}";
            objBillInfo.goods_des = student+'购买'+objBillInfo.goods;
            objBillInfo.total = total;
            objBillInfo.student_id = "{$memberInfo.id}";
            objBillInfo.student = "{$memberInfo.member}";
            objBillInfo.remarks = remarks;
            objBillInfo.balance_pay = 0;
            var result = wooApi.asyncF("{:url('api/Bill/updateBillApi')}",objBillInfo);
            return result;
        }

        function pay(callback_str){
            var result = wooApi.asyncF("{:url('api/Bill/payApi',['bill_order'=>$billOrder])}",{
                'balance_pay' : total_fee,
                'callback_str':callback_str
            });

            if(result.code == 200){
                mui.alert('欢迎加入本训练营，您的课程购买已完成，请留意课程消息及公告。','购买成功','确定',function(){
                    window.location.href="{:url('frontend/bill/billInfo',['bill_order'=>$billOrder])}";
                  });
              }else{
                mui.toast(result.msg);
              }
        }
    </script>

</body>

</html>