<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>活动详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .show {
            display: block;
        }
        
        .hide {
            display: none;
        }
    </style>
</head>

<body class=whitebg>

    <header id="header" class="mui-bar mui-bar-nav subheader subheader-other">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
    </header>
    <!--活动详情页-->
    <div class="mui-content" style="padding: 0">
        <div class="list camp-list detalis-list">
            <div class="img4x3" style="background-image:url('{$eventInfo.cover}')"></div>
            <ul class="mui-table-view mb" style="margin-top: -4px">
                <li class="mui-table-view-cell mui-media listli" style="padding:11px 15px;">
                    <a href="javascript:;">
                        <div class="mui-media-body wd52">
                            <strong>{$eventInfo.event}</strong>
                            <p class="mui-ellipsis">{$eventInfo.event_type}</p>
                        </div>
                        <div class="price-frame">
                            <p class="price">￥{$eventInfo.price}<span class="nofloat"> / 费用</span></p>
                            <p class="price"><span class="nofloat">已报名{$eventInfo.participator}人</span></p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="mui-table-view mt55">
                <input type="hidden" name="target_type" value="{$eventInfo.target_type}">
                <li class="mui-table-view-cell listli {eq name='eventInfo.organization' value='2||3'}show{else/}hide{/eq}">所属训练营<span>{$eventInfo.organization}</span></li>
                <li class="mui-table-view-cell listli {eq name='eventInfo.organization' value='3'}show{else/}hide{/eq}">所属班级<span>{$eventInfo.target}</span></li>
                <li class="mui-table-view-cell listli">活动开始时间<span>{$eventInfo.starts}</span></li>
                <li class="mui-table-view-cell listli">活动结束时间<span>{$eventInfo.ends}</span></li>
                <!--<li class="mui-table-view-cell listli">活动时间<span>{$eventInfo.event_times}</span></li>-->
                <li class="mui-table-view-cell listli">所属地区<span>{$eventInfo.province} {$eventInfo.city} {$eventInfo.area}</span></li>
                <li class="mui-table-view-cell listli">活动地点<span>{$eventInfo.location}</span></li>
                <li class="mui-table-view-cell listli">人数范围<span>{$eventInfo.min}-{$eventInfo.max}人</span></li>
                <li class="mui-table-view-cell listli">联系人<span>{$eventInfo.contract}</span></li>
                <li class="mui-table-view-cell listli">联系电话<span>{$eventInfo.telephone}</span></li>
                <!--<li class="mui-table-view-cell listli detalisli" style="line-height:40px;">参加人员
                    <span class="mui-navigate-right wd73 " id="coachlist" style="height: 40px;overflow: hidden">
                        <img class="coachicon" src="/static/frontend/images/2.jpg">
                    </span>
                </li>-->
                <li class="mui-table-view-cell listli border-b">活动简介<span>{$eventInfo.event_des}</span></li>
            </ul>
            {switch name="variable"} {case value='1'}
            <!--报名状态-->
            <ul class="mui-table-view operation">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 opli"><a href="tel:{$eventInfo.telephone}"><span
                    class="mui-icon mui-icon-phone"></span>电话咨询</a></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 opli bgblue"><a href="#">剩余<font class="surplus"></font>个名额</a></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 opli bggreen signupbtn"><a href="{:url('event/comfirmBill',['event_id'=>$eventInfo['id']])}">报名</a></li>
            </ul>
            {/case} {case value='3'}
            <!--报名人数已满-->
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen">报名人数已满</a>
                </li>
            </ul>
            {/case} {case value='2'}
            <!--已下架-->
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen">已下架</a>
                </li>
            </ul>
            {/case} {case value='4'}
            <!--已过期-->
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen">已过期</a>
                </li>
            </ul>
            {/case} {/switch}
        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script type="text/javascript" src="/static/frontend/js/wooApi.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        $(function () {
            var surplus = "{$eventInfo.max}" - "{$eventInfo.participator}";
            $(".surplus").text(surplus)
        });
    </script>
</body>

</html>