<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>报名人员列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />

</head>

<body class=whitebg>

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"><span class="return">返回</span></a>
        <h1 class="mui-title">{$eventInfo.organization}</h1>
    </header>

    <div class="mui-content">


        <div id="refreshContainer" class="mui-scroll-wrapper coach" style="margin-top: 44px">
            <div class="mui-scroll">
                <ul class="mui-table-view detalis-list list border-b event">

                </ul>
            </div>
        </div>

    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <script src="/static/frontend/js/city.data-3.js"></script>
    <script>
        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        $(function () {

            //初始化全局变量
            var count = 1;

            mui.init({
                swipeBack: true, //启用右滑关闭功能
                pullRefresh: {
                    //下拉刷新上拉加载教练列表
                    container: "#refreshContainer",
                    down: {
                        //下拉刷新
                        height: 50,//可选.默认50.触发下拉刷新拖动距离
                        auto: true,//可选,默认false.自动下拉刷新一次
                        contentdown: "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                        contentover: "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                        contentrefresh: "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                        callback: pulldownRefresh
                    },
                    up: {
                        //上拉加载
                        height: 150,//可选.默认50.触发上拉加载拖动距离
                        //auto:true,//可选,默认false.自动上拉加载一次
                        contentrefresh: '正在加载...',
                        contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                        callback: pullupRefresh
                    }
                }
            });
            //下拉刷新具体业务实现
            function pulldownRefresh() {
                setTimeout(function () {
                    count = 1;//刷新并显示第一页
                    var page = count;
                    var gType = 1;//代表下拉刷新
                    toList(page, gType);//具体取数据的方法
                }, 100);
            }
            //上拉加载具体业务实现
            function pullupRefresh() {
                setTimeout(function () {
                    count++;//翻下一页
                    var page = count;
                    var gType = 2;//代表上拉加载
                    toList(page, gType);//具体取数据的方法
                }, 100);
            }
        });
        
        //接口获取数据并追加到页面
        var toList = function (page, gType) {
            //搜索关键字不能完全为空，否则查询为空
            var url = "{:url('api/event_member/getEventMemberListByPageApi',['event_id'=>$eventInfo.id])}" + '/?page=' + page;
            var event_id = "{$eventInfo.id}";
            mui.ajax({
                url: url,
                data: {
                    event_id: event_id
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                //processData:false,
                success: function (data) {
                    var newli = '';
                    console.log(data)
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.data.length - 1; i++) {
                            newli = newli + '<li class="mui-table-view-cell mui-media border-b"><ul class="mui-row table"><li class="mui-col-xs-6 mui-col-sm-6"><p>' + data.data.data[i].student + '</p><p>' + data.data.data[i].contact + '</p></li><li class="mui-col-xs-6 mui-col-sm-6 mui-text-right">' + data.data.data[i].create_time + '</li></ul></li>'
                        }
                    }
                    if (gType == 1) {
                        //上拉刷新
                        $("ul.event").empty().append(newli);
                        mui('#refreshContainer').pullRefresh().endPulldownToRefresh();
                        mui('#refreshContainer').pullRefresh().refresh(true);
                        if (newli == '') {
                            $("ul.event").html('<li class="nodata"><i class="icon iconfont icon-m-TrainingCamp1"></i><p>没有相关数据哦</p></li>');
                        }
                    } else {
                        //下拉加载 gType==2
                        $("ul.event").append(newli);
                    }
                    if (newli != '') {
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    } else {
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }

                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            });
        };
    </script>
</body>

</html>