{extend name="layout/common"/}
{block name="page-content"}
<div class="row">
    <!--bill data-->
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">订单详情</h3>
            </div>
            <div class="box-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">订单号</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>{$bill.bill_order}</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">商品类型</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>
                                {switch name="bill.goods_type"}
                                {case value="1"}课程{/case}
                                {default/} 其他
                                {/switch}
                            </h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">商品描述</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>{$bill.goods_dec}</h5>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">购买会员</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>{$bill.member}</h5>
                        </div>
                    </div>

                    {eq name="bill.goods_type" value="1"}
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">学员姓名</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>{$bill.student}</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">课程信息</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>
                                {$bill.lesson}
                                <a class="btn btn-info" href="{:url('lesson/detail', ['id'=>$bill['lesson_id']])}">查看课程信息</a>
                            </h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">课程单价</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>￥{$bill.price}/课时</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">课时数量</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>{$bill.total}</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">所属训练营</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>{$bill.camp}</h5>
                        </div>
                    </div>
                    {/eq}


                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">支付金额</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>￥{$bill.balance_pay}</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">支付积分</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>{$bill.score_pay}</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">支付类型</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>{$bill.pay_type}</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">支付状态</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>
                                {switch name="bill.is_pay"}
                                {case value="1"}已支付{/case}
                                {default/}未支付
                                {/switch}
                            </h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">订单状态</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>
                                {switch name="bill.status"}
                                {case value="1"}有效{/case}
                                {default/}过期
                                {/switch}
                            </h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">订单创建时间</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>{$bill.create_time}</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 col-sm-2 control-label">订单支付时间</label>
                        <div class="col-md-10 col-sm-10">
                            <h5>{$bill.pay_time}</h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end bill data-->
</div>



{/block}