{extend name="layout/common" /}

{block name="page-content"}
<div class="row">
<div class="col-xs-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">系统异常详情</h3>
        </div>
        <form method="post" action="">
            <input type="hidden" id="member-id" name="mid" value="">
            <div class="box-body">
                <div class="form-group">
                    <label >错误信息</label>
                    <p>{$systemExceptionInfo.message}</p>
                </div>
                <div class="form-group">
                    <label >错误文件位置</label>
                    <p>{$systemExceptionInfo.file}</p>
                </div>
                <div class="form-group">
                    <label >错误行</label>
                    <p>{$systemExceptionInfo.line}</p>
                </div>
                <div class="form-group">
                    <label >请求参数</label>
                    <p>{$systemExceptionInfo.data_json}</p>
                </div>
                <div class="form-group">
                    <label >用户ID</label>
                    <p>{$systemExceptionInfo.member_id}</p>
                </div>
                <div class="form-group">
                    <label >用户名</label>
                    <p>{$systemExceptionInfo.member}</p>
                </div>
                <div class="form-group">
                    <label >Trace</label>
                    <p>{$systemExceptionInfo.trace}</p>
                </div>
                <div class="form-group">
                    <label >处理状态</label>
                    <p>{$systemExceptionInfo.status}</p>
                </div>
                <div class="form-group">
                    <label >备注</label>
                    <p>{$systemExceptionInfo.remark}</p>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{/block}

{block name="js"}
{/block}