<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>搜索</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!---->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/mui.indexedlist.css"/>

</head>

<body class="whitebg">
<!--搜索-->
<!--头部搜索3-->
<header id="header" class="mui-bar mui-bar-nav search2 search3">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">
        <span class="value">课程</span>
        <input type="search" class="mui-input-clear " placeholder="点选下列选项切换搜索类型">
    </h1>
    <span class="mui-icon mui-icon-search searchicon"></span>
</header>
<div class="mui-content">
    <div class="search">
        <div id="segmentedControl" class="mui-segmented-control">
            <a class="mui-control-item mui-active choise-segment" href="#">课程</a>
            <a class="mui-control-item choise-segment" href="#">训练营</a>
            <a class="mui-control-item choise-segment" href="#">球队/班级</a>
            <a class="mui-control-item choise-segment" href="#">训练地点</a>
            <a class="mui-control-item choise-segment" href="#">教练员</a>
        </div>

        <div class="hot-search">
            <h4>热门搜索</h4>
            <ul class="mui-table-view mui-grid-view mui-grid-9 hot-search-frame">
                <li class="mui-table-view-cell mui-media mui-col-sm-4 mui-col-xs-4">

                    <button type="button" class="mui-btn mui-btn-outlined">
                        幼儿课程
                    </button>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-sm-4 mui-col-xs-4">
                    <button type="button" class="mui-btn mui-btn-outlined">
                        幼儿课程
                    </button>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-sm-4 mui-col-xs-4">
                    <button type="button" class="mui-btn mui-btn-outlined">
                        幼儿课程
                    </button>

                </li>
                <li class="mui-table-view-cell mui-media mui-col-sm-4 mui-col-xs-4">
                    <button type="button" class="mui-btn mui-btn-outlined">
                        幼儿课程
                    </button>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-sm-4 mui-col-xs-4">
                    <button type="button" class="mui-btn mui-btn-outlined">
                        幼儿课程
                    </button>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-sm-4 mui-col-xs-4">
                    <button type="button" class="mui-btn mui-btn-outlined">
                        幼儿课程
                    </button>

                </li>
                <li class="mui-table-view-cell mui-media mui-col-sm-4 mui-col-xs-4">
                    <button type="button" class="mui-btn mui-btn-outlined">
                        幼儿课程
                    </button>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-sm-4 mui-col-xs-4">
                    <button type="button" class="mui-btn mui-btn-outlined">
                        幼儿课程
                    </button>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-sm-4 mui-col-xs-4">
                    <button type="button" class="mui-btn mui-btn-outlined">
                        幼儿课程
                    </button>
                </li>
            </ul>
        </div>

        <div class="search-list">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell search-listli">大热小学课程</li>
                <li class="mui-table-view-cell search-listli">大热小学课程</li>
                <li class="mui-table-view-cell search-listli">大热小学课程</li>
                <li class="mui-table-view-cell search-listli">大热小学课程</li>
                <li class="mui-table-view-cell search-listli">大热小学课程</li>
                <li class="mui-table-view-cell search-listli">大热小学课程</li>
                <li class="mui-table-view-cell search-listli">大热小学课程</li>
                <li class="mui-table-view-cell search-listli">大热小学课程</li>
                <li class="mui-table-view-cell search-listli">大热小学课程</li>
            </ul>
        </div>

    </div>
</div>
<script src="static/frontend/js/jquery.min.js"></script>
<script src="static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

//    $(".mui-segmented-control").find(".mui-active").click(function () {
//        var segval = $(this).html;
//        $(".value").html(segval);
//    })

</script>
</body>

</html>