{extend name="layout/common" /} {block name="page-content"}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row hotTbHeader">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>课程名称</label>
                                <div class="input-group radius4">
                                    <input type="text" name="lesson" class="form-control pull-right radius4" placeholder="课程名称" style="border:none !important;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>负责教练</label>
                                <div class="input-group radius4">
                                    <input type="text" name="coach" class="form-control pull-right radius4" placeholder="教练名称" style="border:none !important;">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-success btn-flat radius4">搜索</button>
                                    <button type="reset" class="btn btn-default btn-flat radius4">重置</button>
                                    <a href="{:url('lesson/createLesson')}">
                                        <button type="button" class="btn btn-warning btn-flat radius4">发布课程</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="box-body">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>课程名称</th>
                                            <th>课程类型(父类)</th>
                                            <th>课程类型</th>
                                            <th>所属训练营</th>
                                            <th>负责教练</th>
                                            <th>训练时间</th>
                                            <th>场地</th>
                                            <th>历史赠课</th>
                                            <th>剩余赠课</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="lessonList" id="vo"}
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>{$vo.lesson}</td>
                                            <td>{$vo.gradecate_setion}</td>
                                            <td>{$vo.gradecate}</td>
                                            <td>{$vo.camp}</td>
                                            <td>{$vo.coach}</td>
                                            <td>{$vo.lesson_time}</td>
                                            <td>{$vo.court}</td>
                                            <td>{$vo.total_giftschedule}</td>
                                            <td>{$vo.resi_giftschedule}</td>
                                            <td>
                                                {$vo.status}
                                            </td>
                                            <td>
                                                <a href="{:url('lesson/updateLesson', ['lesson_id' => $vo['id'],'camp_id' => $vo['camp_id']])}"  class="btn btn-md btn-info" title="编辑">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="{:url('lesson/lessonInfo', ['lesson_id' => $vo['id'],'camp_id' => $vo['camp_id']])}"  class="btn btn-md btn-success" title="详情">
                                                    <i class="fa fa-inbox"></i>
                                                </a>
                                                <a href="{:url('lesson/sdel', ['id' => $vo['id']])}" class="btn btn-md btn-error" title="删除">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box-footer clearfix">
                                {$lessonList->render()}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}