<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>打卡</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <link href="/static/frontend/css/webuploader.css" rel="stylesheet">
    <!--自定义多色图标icon.js-->
    <script src="/static/frontend/iconfont/iconfont.js"></script>
    <style type="text/css">
        .mui-input-row a {
            display: table;
            width: 100%;
        }

        .coloricon {
            width: 2.3em;
            height: 2.3em;
            vertical-align: -0.7em;
            fill: currentColor;
            overflow: hidden;
        }


        .sportTypeActive {
            background: #ff7f00;
            color: #fff;
            border: none
        }

        .sportType {
            padding: 5px 10px;
            margin-top: 7px;
            font-size: 12px;
            text-align: center !important;
            border-bottom-right-radius: 10px !important;
            border-bottom-left-radius: 10px !important;
            border-top-left-radius: 10px !important;
            border-top-right-radius: 10px !important;
            width: initial !important;
            display: initial !important;
        }

        .publicTip {
            padding: 15px;
        }

        .publicTip .publicTitle {
            vertical-align: middle;
            display: inline-flex;
            line-height: 35px;
        }

        .publicTip .publicTitle strong {
            line-height: 40px;
        }

        .publicTip .publicTitle img {
            width: 15%;
            height: 15%;
        }

        .publicTip .publicText p {
            margin-bottom: 0;
            font-size: 12px
        }

        .secondUl {
            margin: 0 !important;
            padding: 11px !important;
        }

        .secondUl li {
            padding-left: 11px !important;
        }

        .secondUl li:after {
            left: 0 !important;
        }

        .showHbin {
            position: absolute;
            width: 100%;
            bottom: 0;
            background: #fff;
            border-top: 1px solid #ddd;
        }
    </style>
</head>

<body>

    <div class="mui-content">
        <div class="list">
            <input type="hidden" class="data" name="member" value="{$memberInfo.member}">
            <input type="hidden" class="data" name="member_id" value="{$memberInfo.id}">
            <input type="hidden" class="data" name="avatar" value="{$memberInfo.avatar}">
            
            <input type="hidden" class="data" name="punch" value="{:date('Y-m-d',time())}">
            <ul class="mui-table-view mb border-b">
                <li class="mui-table-view-cell listli">
                    <img class="mui-media-object mui-pull-left img45" src="{$memberInfo.avatar}">
                    <div class="mui-media-body wd45">
                        <strong class="f16">{$memberInfo.member}</strong>
                        <p class="mui-ellipsis lineHeight20">{$memberInfo.city} {$memberInfo.area}</p>
                    </div>
                    <div class="price-frame f12" style="margin-top: 19px;">
                        本月打卡
                        <text class="colororange f18">12</text>
                    </div>
                </li>
            </ul>

            <form action="" class="mui-input-group">

                <div class="mui-input-row">
                    <label class="wd49">
                        <i class="icon iconfont icon-activity-Startingtim colororange"></i>打开时间
                    </label>
                    <span class="domData" name="punch_time">2018-5-25</span>
                </div>

                <div class="mui-input-row">
                    <a href="#sportType" class="mui-navigate-right">
                        <label class="wd45">
                            <i class="icon iconfont icon-activity-Startingtim colororange"></i>选择运动类型</label>
                        <span class="wd45 punch_category"></span>
                        <input type="hidden" name="punch_category" value="" class="data">
                    </a>
                </div>

                <div class="mui-input-row">
                    <label class="wd45">
                        <i class="icon iconfont icon-activity-Startingtim colororange"></i>运动项目
                    </label>
                    <input type="text" class="data wd52" name="name" value="" placeholder="运动项目" />
                </div>

                <div class="mui-input-row">
                    <label class="wd45">
                        <i class="icon iconfont icon-activity-Startingtim colororange"></i>匿名打卡
                    </label>
                    <div class="mui-switch mui-switch-mini isAnonymous">
                        <div class="mui-switch-handle"></div>
                    </div>
                    <input type="hidden" name="is_anonymous" value="1" class="data">
                </div>

                <div class="mui-input-row h-auto">
                    <a class="portraits filePicker mui-navigate-right" onclick="add_id(1)">
                        <label>
                            <i class="icon iconfont icon-activity-Startingtim colororange"></i>上传照片</label>
                        <img id="preview_1" class="upload-preview" src="" alt="">
                        <input type="hidden" name="image_url" value="" class="data">
                    </a>
                </div>

                <div class="mui-input-row">
                    <a href="#groups" class="mui-navigate-right">
                        <label class="wd45">
                            <i class="icon iconfont icon-activity-Startingtim colororange"></i>选择社群</label>
                        <span class="wd45"></span>
                    </a>
                </div>
                <div class="operation-box border-b">
                    <div class="mui-input-row">
                        <label>社群名单</label>
                    </div>
                    <div class="box" id="inactiveList"></div>
                    <div class="box" id="hideStList" style="display: none"></div>
                    <div class="box" id="hideStListIni" style="display: none"></div>
                    <div class="operation-btn">
                        <span class="mui-badge">0</span>
                        <a class="all">全选</a>
                        <a class="cancel">取消</a>
                        <a class="del">[删除]</a>
                        <a href="#groups" id="setGroupBox" class="mui-icon mui-icon-personadd add"></a>
                    </div>
                </div>


            </form>

            <div class="publicTip mb44">
                <p class="publicTitle">
                    <img src="/static/frontend/images/hot.png" alt="">
                    <strong class="f16">温馨提示</strong>
                </p>
                <div class="publicText">
                    <p>1、开启匿名打卡、本次打卡将隐藏个人信息，但会正常进行统计，仅自己可见。</p>
                    <p>2、每次打卡多选所在社群</p>
                </div>
            </div>

            <ul class="mui-table-view operation">
                <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bgred" onclick="submitAction()">
                    提交打卡
                </li>
            </ul>

        </div>
    </div>

    <!--选择运动类型-->
    <div id="sportType" class="mui-popover" style="margin: 0">
        <div class="mui-popover-arrow"></div>
        <div class="page-header border-b">
            <span class="course wd45">
                <strong>选择运动类型</strong>
            </span>
            <span class="fr">
                <button class="mui-btn" id="trainDel">清除</button>
            </span>
        </div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view list">
                    <li class="mui-table-view-cell mui-collapse listli">
                        <a class="mui-navigate-right">
                            <p class="fl">训练</p>
                        </a>
                        <div class="mui-collapse-content" style="padding: 0">
                            <ul class="mui-table-view list secondUl">
                                <li class="mui-table-view-cell listli">跑步</li>
                                <li class="mui-table-view-cell listli">健身</li>
                                <li class="mui-table-view-cell listli">游泳</li>
                                <li class="mui-table-view-cell listli">球类</li>
                                <li class="mui-table-view-cell listli">综合</li>
                            </ul>
                        </div>
                    </li>
                    <li class="mui-table-view-cell mui-collapse listli">
                        <a class="mui-navigate-right">
                            <p class="fl">比赛</p>
                        </a>
                        <div class="mui-collapse-content" style="padding: 0">
                            <ul class="mui-table-view list secondUl">
                                <li class="mui-table-view-cell listli">球类</li>
                                <li class="mui-table-view-cell listli">综合</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--选择社群-->
    <div id="groups" class="mui-popover" style="margin: 0">
        <div class="mui-popover-arrow"></div>
        <div class="page-header">
            <span class="course wd45">
                <strong>请选择社群</strong>
            </span>
            <span class="fr">
                <button class="mui-btn" id="groupsDel">清除</button>
            </span>
        </div>
        <div class="page-header bggray2">
            <span class="course wd45">
                <strong>社群名称</strong>
            </span>
            <span class="fr f14">
                消耗
            </span>
        </div>
        <div class="mui-scroll-wrapper" style="top:88px !important;">
            <div class="mui-scroll">
                <form class="mui-input-group groupslist mb44">
                    {volist name="groupList" id="vol"}
                    <div class="mui-input-row mui-checkbox mui-left">
                        <label class="lineHeight20 groupName" style="width:85%"> {$vol.group} </label>
                        <span style="width:15%"> {$vol.stake}</span>
                        <input name="checkbox1" value="" type="checkbox" data-group_id="{$vol.group_id}" data-pool="{$vol.pool}" data-pool_id="{$vol.p_id}"
                            data-member="{$vol.member}" data-member_id="{$vol.member_id}" data-stake="{$vol.stake}">
                    </div>
                    {/volist}
                </form>
            </div>
        </div>
        <div class="page-header showHbin">
            <span class="course wd73">
                <i class="icon iconfont icon-activity-Startingtim colororange"></i>
                本次打卡消耗
                <text class="colororange 16">3</text>H币
            </span>
            <span class="fr">
                <button class="mui-btn bgred" id="groupConfirm">确认</button>
            </span>

        </div>

    </div>


    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <!-- 选择器 -->
    <script src="/static/frontend/js/mui.picker.min.js"></script>
    <script src="/static/frontend/js/mui.poppicker.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/libs/webuploader.min.js"></script>
    <script>
        var uploadApiUrl = "{:url('api/upload/imgwupload', ['usage' => 'punch'])}";
    </script>
    <script src="/static/frontend/libs/webuploader.cert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/uploadcert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/uploadduotu.js?v=<?php echo time();?>"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        //弹出框滚动必须写在mui专用的初始化
        (function ($) {
            $(".mui-scroll-wrapper").scroll({
                indicators: true //是否显示滚动条,默认是true
            });
            // 关闭弹出菜单
            $("body").on('tap', '.mui-backdrop', function () {
                mui(".mui-popover.mui-active").popover("toggle");
            })
        })(mui);

        //更新学员序号
        function changeIndex() {
            var i = 1;
            $(".checkboxCont").each(function () { //循环checkboxCont
                $(this).find("label").text(i++);//更新序号
            });
        }

        var totalNum = '';//序号总和的变量
        groupList = [];

        $(function () {
            // 是否发布通知
            $(".isAnonymous").on("tap", '', function () {
                var is_anonymous = $("input[name=is_anonymous]");
                if (is_anonymous.val() == "1") {
                    is_anonymous.val("-1");
                } else {
                    is_anonymous.val("1");
                }
            });

            //清除训练
            $("#trainDel").on('tap', '', function () {
                $("input[name=sportEvent]").val("");
                mui("#sportType").popover("toggle");
            });
            // 选择训练
            $(".secondUl").on('tap', 'li', function () {
                var name = $(this).text();
                var punch_category = $(this).parent().parent().siblings().children().text();
                $("input[name=name]").val(name);
                $(".punch_category").text(punch_category);
                if (punch_category == "训练") {
                    $("input[name=punch_category]").val(1);
                } else {
                    $("input[name=punch_category]").val(2);
                }
                mui("#sportType").popover("toggle");
            });


            //全选
            $(".all").click(function () {
                $(".checkboxCont").find('input').prop('checked', true)
            })

            //取消全选
            $(".cancel").click(function () {
                $(".checkboxCont").find('input').prop('checked', false)
            })

            //删除
            $(".del").click(function () {
                $("input[name='group']:checked").parents(".checkboxCont").remove();
                changeIndex();
                $("#hideStList").empty();
                $("#inactiveList input[type=checkbox]").each(function () {
                    var str = '<div class="mui-input-row mui-checkbox checkboxCont"><label class="number" style="width:19% !important"></label><font>' + $(this).val() + '</font><input name="group" value="' + $(this).val() + '" data-id="' + $(this).attr("data-id") + '" data-member="' + $(this).attr("data-member") + '" data-member_id="' + $(this).attr("data-member_id") + '" data-status="' + $(this).attr("data-status") + '" type="checkbox"><input type="hidden" class="stdList" data-id="' + $(this).attr("data-id") + '" data-member="' + $(this).attr("data-member") + '" data-member_id="' + $(this).attr("data-member_id") + '" data-status="' + $(this).attr("data-status") + '"></div>';
                    var group = $(this).siblings("font").text();
                    var group_id = $(this).attr("data-group_id");
                    var member = $(this).attr("data-member");
                    var member_id = $(this).attr("data-member_id");
                    var pool = $(this).attr("data-pool");
                    var pool_id = $(this).attr("data-pool_id");
                    var stake = $(this).attr("data-stake");
                    groupList.push({ group, group_id, member, member_id, pool, pool_id, stake });
                    $("#hideStList").append(str);
                })

            });

            //角标随checkboxCont的数量变化
            $(document).on('tap', '.del', function () {
                totalNum = $("#inactiveList .checkboxCont").length;
                $(".mui-badge").text(totalNum);
            });

            // 选择添加社群点击事件
            $("#groupConfirm").on('tap', function () {
                $("#inactiveList").empty();
                $("#hideStList").empty();
                $(".groupslist input[type=checkbox]:checked").each(function () {
                    var str = '<div class="mui-input-row mui-checkbox checkboxCont"><label class="lineHeight20" style="width:19% !important;"></label><font>' + $(this).siblings(".groupName").text() + '</font><input name="group" class="stdList" data-group_id="' + $(this).attr("data-group_id") + '" data-member="' + $(this).attr("data-member") + '" data-member_id="' + $(this).attr("data-member_id") + '"  data-pool="' + $(this).attr("data-pool") + '" data-pool_id="' + $(this).attr("data-pool_id") + '" data-stake="' + $(this).attr("data-stake") + '" type="checkbox"><input type="hidden" class="stdList" data-id="' + $(this).attr("data-id") + '" data-member="' + $(this).attr("data-member") + '" data-member_id="' + $(this).attr("data-member_id") + '" data-status="' + $(this).attr("data-status") + '"></div>';
                    $("#inactiveList").append(str);
                    $("#hideStList").append(str);
                });
                changeIndex();//调用-更新序号
                mui("#groups").popover("toggle");
                totalNum = $("#inactiveList .checkboxCont").length;
                $(".mui-badge").text(totalNum);
            });
        })

        // 获取数据并进行提交
        function submitAction() {
            $("#hideStList input[name=group]").each(function (i) {
                var group = $(this).siblings("font").text();
                var group_id = $(this).attr("data-group_id");
                var member = $(this).attr("data-member");
                var member_id = $(this).attr("data-member_id");
                var pool = $(this).attr("data-pool");
                var pool_id = $(this).attr("data-pool_id");
                var stake = $(this).attr("data-stake");
                groupList.push({ group, group_id, member, member_id, pool, pool_id, stake });
                console.log(groupList)
            });

            var data = wooApi.getInputData('input', 'data');
            datas = wooApi.getInputData('select', 'data', data);
            // 获取其他标签值
            arrData = wooApi.getDomData('domData', datas);
            var objData = wooApi.arrTOobj(arrData);
            objData.groupList = JSON.stringify(groupList);
            var url = "{:url('api/punch/createPunchApi')}";
            var ajaxResult = wooApi.asyncF(url, objData);
            if (ajaxResult.code == 200) {
                mui.alert(ajaxResult.msg, '创建成功', '确定', function () {
                    var goUrl = "{:url('group/index')}";
                    window.top.location.href = goUrl;
                })
            } else {
                mui.alert(ajaxResult.msg, '创建失败');
                mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                    if (data.code === 200) {
                    }
                }, 'json');
            }
        };

    </script>
</body>

</html>