<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>添加运动计划</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <style type="text/css">
        .mui-input-row a {
            display: table;
            width: 100%;
        }
    </style>
</head>

<body>
    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">
            添加运动计划
        </h1>
    </header>
    <div class="mui-content">
        <div class="list">
            <input type="hidden" class="data" name="member" value="{$memberInfo.member}">
            <input type="hidden" class="data" name="member_id" value="{$memberInfo.id}">
            <input type="hidden" class="data" name="avatar" value="{$memberInfo.avatar}">

            <form action="" class="mui-input-group">

                <div class="mui-input-row">
                    <label>计划主题</label>
                    <input type="text" name="plansport" class="data" value="" placeholder="请填写计划的主题">
                </div>
                <div class="mui-input-row">
                    <label>计划天数</label>
                    <input type="text" name="period" class="data" value="" placeholder="请填写实现计划的天数">
                </div>
                <div class="mui-input-row picker btnStart" data-options='{"type":"date"}'>
                    <div class="mui-navigate-right">
                        <label>开始时间</label>
                        <span id="resultStart" class="ui-alert domData" name="start"></span>
                    </div>
                </div>
                <div class="mui-input-row picker btnEnd" data-options='{"type":"date"}'>
                    <div class="mui-navigate-right">
                        <label>结束时间</label>
                        <span id="resultEnd" class="ui-alert domData" name="end"></span>
                    </div>
                </div>
                <div class="mui-input-row hide">
                    <label>运动次数</label>
                    <input type="text" name="sport_times" class="data" value="0">
                </div>
                <div class="mui-input-row">
                    <label>计划目标</label>
                    <input type="text" name="aim" class="data" value="" placeholder="请输入填写计划的目标">
                </div>
                <div class="mui-input-row h-auto">
                    <label>计划备注</label>
                    <textarea name="remarks" rows="3" value="" class="remarks" placeholder="请填写计划备注" style="text-align: left;width: 96%;margin: 0 auto;"></textarea>
                </div>

            </form>

            <ul class="mui-table-view operation">
                <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen" onclick="submitAction()">
                    提交计划
                </li>
            </ul>

        </div>
    </div>

    <!--选择运动类型-->
    <div id="sportType" class="mui-popover" style="margin: 0">
        <div class="mui-popover-arrow"></div>
        <div class="page-header border-b">
            <span class="course wd45">
                <strong>选择运动类型</strong>
            </span>
            <span class="fr">
                <button class="mui-btn" id="typeDel">清除</button>
            </span>
        </div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view list">
                    <li class="mui-table-view-cell listli">训练</li>
                    <li class="mui-table-view-cell listli">比赛</li>
                </ul>
            </div>
        </div>
    </div>


    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <!-- 选择器 -->
    <script src="/static/frontend/js/mui.picker.min.js"></script>
    <script src="/static/frontend/js/mui.poppicker.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>
       mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        (function ($, doc) {
            $.ready(function () {
                //开始时间
                var resultStart = $('#resultStart')[0];
                var btnStart = $('.btnStart');
                btnStart.each(function (i, btn) {
                    btn.addEventListener('tap', function () {
                        var optionsJson = this.getAttribute('data-options') || '{}';
                        var options = JSON.parse(optionsJson);
                        var id = this.getAttribute('id');
                        var picker = new $.DtPicker(options);

                        picker.show(function (rs) {
                            resultStart.innerText = rs.text;
                            picker.dispose();
                        });
                    }, false);
                });

                //结束时间
                var resultEnd = $('#resultEnd')[0];
                var btnEnd = $('.btnEnd');
                btnEnd.each(function (i, btn) {
                    btn.addEventListener('tap', function () {
                        var optionsJson = this.getAttribute('data-options') || '{}';
                        var options = JSON.parse(optionsJson);
                        var id = this.getAttribute('id');
                        var picker = new $.DtPicker(options);

                        picker.show(function (rs) {
                            resultEnd.innerText = rs.text;
                            picker.dispose();
                        });
                    }, false);
                });

            });
        })(mui, document);

        $(function () {


        })


        // 获取数据并进行提交
        function submitAction() {

            //提示框
            if ("{$memberInfo.id}" == 0) {
                mui.confirm('请完善您的信息，以便进行后续操作，谢谢！', '提示', ['取消', '前往完善'], function (e) {
                    if (e.index === 1) {
                        window.location.href = "{$fasturl}";
                    }
                });
                return false;
            }

            var start = $("#resultStart").text();
            var end = $("#resultEnd").text();

            if (start == '') {
                mui.toast("请选择开始时间");
                return false;
            }
            if (end == '') {
                mui.toast("请选择结束时间");
                return false;
            }

            if ($("input[name=plansport]").val() == '') {
                mui.toast("计划主题不能为空");
                return false;
            }
            if ($("input[name=period]").val() == '') {
                mui.toast("计划实现天数不能为空");
                return false;
            }
            if ($("input[name=aim]").val() == '') {
                mui.toast("计划目标不能为空");
                return false;
            }

            var data = wooApi.getInputData('input', 'data');
            datas = wooApi.getInputData('select', 'data', data);
            // 获取其他标签值
            arrData = wooApi.getDomData('domData', datas);
            var objData = wooApi.arrTOobj(arrData);
            let list = JSON.stringify(groupList);
            objData.groupList = list;
            var url = "{:url('api/sport_plan/createSportPlanApi')}";
            var ajaxResult = wooApi.asyncF(url, objData);
            if (ajaxResult.code == 200) {
                mui.alert("添加计划成功！请去填写计划日程", '提示', '确定', function () {
                    var goUrl = "{:url('punch/punchInfo')}" + '/punch_id/' + ajaxResult.data + '/?punch=create';
                    window.top.location.href = goUrl;
                })
            } else {
                mui.alert(ajaxResult.msg, '添加计划失败');
                mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                    if (data.code === 200) {
                    }
                }, 'json');
            }
        };

    </script>

</body>

</html>