<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>打卡</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--自定义多色图标icon.js-->
    <script src="/static/frontend/iconfont/iconfont.js"></script>
    <link rel="stylesheet" href="/static/frontend/css/mobile_date.css">
    <style type="text/css">
        .coloricon {
            width: 2.3em;
            height: 2.3em;
            vertical-align: -0.7em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>

<body>

    <div class="mui-content">
        <div class="list" style="margin-bottom: 94px;">

            <div class="box mb">
                <section class="date">
                    <div class="head">
                        <div class="hot">
                            <span class="icon iconfont logo-Big icon-logo-Big"></span>
                        </div>
                        <div class="tomon">
                            <span class="year"></span>年
                            <span class="month"></span>月</div>
                        <div class="prev">上一月</div>
                        <div class="next">下一月</div>
                    </div>
                    <ol>
                        <li>日</li>
                        <li>一</li>
                        <li>二</li>
                        <li>三</li>
                        <li>四</li>
                        <li>五</li>
                        <li>六</li>
                    </ol>
                    <ul>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                    </ul>
                </section>
            </div>

            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli">
                    <a href="">
                        <img src="/uploads/images/cert/2018/03/thumb_5aa63b388e679.jpg" class="img24">
                        <text style="margin-left: 5px;">陈易</text>
                        <span class="mui-navigate-right wd49 pdr15">本月打卡
                            <text class="colororange">12</text>次</span>
                    </a>
                </li>
            </ul>

            <div class="nav-list mb">
                <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-home-game"></use>
                            </svg>
                            <div class="mui-media-body" style="font-size: 14px !important">挑战</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-home-activity"></use>
                            </svg>
                            <div class="mui-media-body" style="font-size: 14px !important">计划</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="{:url('Group/index')}">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-home-team"></use>
                            </svg>
                            <div class="mui-media-body" style="font-size: 14px !important">群组</div>
                        </a>
                    </li>
                </ul>
            </div>
      
            <div class="page-header">
                <span class="course">
                    打卡记录
                </span>
                <span class="more pdr15">
                    <a href="{:url('team/teamMemberList')}" class="mui-navigate-right">更多</a>
                </span>
            </div>
            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli">
                    <div class="mui-row mui-text-center">
                        <div class="mui-col-sm-2 mui-col-xs-2">2</div>
                        <div class="mui-col-sm-3 mui-col-xs-3">2018-05-14</div>
                        <div class="mui-col-sm-7 mui-col-xs-7 mui-text-left" style="padding-left: 10px;">打比赛</div>
                    </div>
                </li>
                <li class="mui-table-view-cell listli">
                    <div class="mui-row mui-text-center">
                        <div class="mui-col-sm-2 mui-col-xs-2">1</div>
                        <div class="mui-col-sm-3 mui-col-xs-3">2018-05-14</div>
                        <div class="mui-col-sm-7 mui-col-xs-7 mui-text-left" style="padding-left: 10px;">跑步</div>
                    </div>
                </li>
            </ul>

            <ul class="mui-table-view operation" style="bottom: 51px;">
                <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bgred">
                    运动打卡
                </li>
            </ul>


        </div>
    </div>

    <!--底部导航-->
    {layout name="Layout/footer"}
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script src="/static/frontend/js/common.js"></script>
<script src="/static/frontend/js/mobile_date.js"></script>
<script>

</script>

</html>