<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>打卡</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--自定义多色图标icon.js-->
    <script src="/static/frontend/iconfont/iconfont.js"></script>
    <link rel="stylesheet" href="/static/frontend/css/mobile_date.css">
    <style type="text/css">
        .coloricon {
            width: 2.3em;
            height: 2.3em;
            vertical-align: -0.7em;
            fill: currentColor;
            overflow: hidden;
        }

        .sportDk {
            position: fixed;
            bottom: 60px;
            padding: 5px 10px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 70%;
            text-align: center;
        }

        .sportDkText {
            vertical-align: middle;
            display: inline-flex;
        }

        .sportDkText img {
            width: 30px;
            height: 30px;
        }

        .sportDkText span {
            margin-top: 5px;
        }

        .endDK {
            background: #ff7f00 !important;
            color: #fff;
        }

        .mui-grid-view.mui-grid-9 .mui-table-view-cell {
            border: none;
        }
    </style>
</head>

<body>

    <div class="mui-content">
        <div class="list" style="margin-bottom: 110px;">

            <div class="box mb">
                <section class="date">
                    <div class="head">
                        <div class="hot">
                            <span class="icon iconfont logo-Big icon-logo-Big"></span>
                        </div>
                        <div class="tomon">
                            <span class="year"></span>年
                            <span class="month"></span>月</div>
                        <div class="prev mui-icon mui-icon-arrowleft"></div>
                        <div class="next mui-icon mui-icon-arrowright"></div>
                    </div>
                    <ol>
                        <li>日</li>
                        <li>一</li>
                        <li>二</li>
                        <li>三</li>
                        <li>四</li>
                        <li>五</li>
                        <li>六</li>
                    </ol>
                    <ul class="dateClass">
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                        <li>日期</li>
                    </ul>
                </section>
            </div>
            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli">
                    <a href="">
                        <img src="{$memberInfo.avatar}" class="img24">
                        <text style="margin-left: 5px;">{$memberInfo.member}</text>
                        <span class="mui-navigate-right wd49 pdr15">本月打卡
                            <text class="colororange">12</text>次</span>
                    </a>
                </li>
            </ul>

            <div class="nav-list mb">
                <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                        <a href="">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-home-game"></use>
                            </svg>
                            <div class="mui-media-body" style="font-size: 14px !important">挑战</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                        <a href="">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-home-activity"></use>
                            </svg>
                            <div class="mui-media-body" style="font-size: 14px !important">计划</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                        <a href="{:url('Group/index')}">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-home-activity"></use>
                            </svg>
                            <div class="mui-media-body" style="font-size: 14px !important">社群</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                        <a href="{:url('Group/index')}">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-home-team"></use>
                            </svg>
                            <div class="mui-media-body" style="font-size: 14px !important">成就</div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="page-header">
                <span class="course">
                    打卡记录
                </span>
                <span class="more pdr15">
                    <a href="" class="mui-navigate-right">更多</a>
                </span>
            </div>

            <ul class="mui-table-view mb punchList"></ul>

            <a href="{:url('Punch/createPunch')}">
                <button class="bgred sportDk">
                    <div class="sportDkText">
                        <img src="/static/frontend/images/M-dui.png">
                        <span>运动打卡</span>
                    </div>
                </button>
            </a>

        </div>
    </div>

    <!--底部导航-->
    {layout name="Layout/footer"}
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script src="/static/frontend/js/common.js"></script>
<script src="/static/frontend/js/mobile_date.js"></script>
<script>    
    var count = 1
    $(function () {
        // var date = ''
        // $(".date .dateClass li").each(function () {
        //     date = $(this).attr("data-date");
        //     console.log(date)
        //     if (date == "2018-5-28") {
        //         $(this).addClass("endDK");
        //     }
        // });
        toCommentList(); //获取评论列表
    })
    //下拉刷新具体业务实现
    function pulldownRefresh() {
        setTimeout(function () {
            count = 1;//刷新并显示第一页
            var page = count;
            var gType = 1;//代表下拉刷新
            toCommentList(page, gType);//具体取数据的方法
        }, 100);
    }
    //上拉加载具体业务实现
    function pullupRefresh() {
        setTimeout(function () {
            count++;//翻下一页
            var page = count;
            var gType = 2;//代表上拉加载
            toCommentList(page, gType);//具体取数据的方法
        }, 100);
    }
    //获取评论列表
    function toCommentList(page, gType) {
        var url = "{:url('api/punch/getPunchListApi','','',true)}";
        var member_id = "{$memberInfo.id}"
        mui.ajax({
            url: url,
            data: {
                member_id: member_id,
                page: page,
            },
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: { 'Content-Type': 'application/json' },
            success: function (data) {
                console.log(data)
                var newli = "";
                // var thisDate = '';
                // var date = ''
                if (data.code == 200) {
                    for (var i = 0; i <= data.data.length - 1; i++) {

                        // thisDate = data.data[i].punch_time;
                        // $(".date .dateClass li").each(function () {
                        //     date = $(this).attr("data-date");
                        //     if (date == "thisDate") {
                        //         $(this).addClass("endDK");
                        //     }
                        // });
                        var urls = "{:url('punch/punchInfo')}/" + 'punch_id/' + data.data[i].id;
                        newli += ' <li class="mui-table-view-cell mui-media listli"><a href="' + urls + '" class="mui-navigate-right">';
                        newli += '<img class="mui-media-object mui-pull-left" src="' + data.data[i].image_urls + '"><div class="mui-media-body wd f16"><text style="font-weight: bold;">' + data.data[i].name + '</text>';
                        newli += '<p class="lineHeight20"><i class="icon iconfont icon-activity-Startingtim colororange f14"></i>' + data.data[i].punch_time + ' &nbsp;打卡金<text class="colororange">1</text> &nbsp;打赏<text class="colororange">' + data.data[i].rewords_money + '</text></p>';
                        newli += '</div></a></li>'
                    }
                    if (newli == '') {
                        $("ul.punchList").html('<li class="nodata"><i class="icon iconfont icon-m-Trainingteam1"></i><p>没有相关数据哦</p></li>');
                    }
                }

                if (gType == 1) {
                    //上拉刷新
                    $("ul.punchList").empty().append(newli);
                } else {
                    //下拉加载 gType==2
                    $("ul.punchList").append(newli);
                }
            },
            error: function (xhr, type, errerThrown) {
                mui.toast('网络异常,请稍候再试');
            }
        });
    };
</script>

</html>