<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$campInfo.camp}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!--等级星星样式-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/feedback.css"/>
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <style>
        .btnTime { padding-right: 15px; }
        .mui-col-xs-7 { padding-left: 8px; }
        .camp-num { margin: 5px; text-align: right; }
    </style>
</head>

<body>
<header id="header" class="mui-bar mui-bar-nav subheader">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow" href="{:url('frontend/salaryin/salaryofcamp/')}/camp_id/{$camp_id}"></a>
    <h1 class="mui-title">教练工资详情</h1>
</header>
<div class="mui-content">

    <div class="list course-list camp-list detalis-list coach">
        <ul class="mui-table-view mb" style="margin-top: -4px">
            <li class="mui-table-view-cell mui-media listli" style="padding:11px 15px;">
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left coachicon" src="{$coachInfo.portraits}">
                    <div class="mui-media-body">
                        {$coachInfo.coach} <i class="icon iconfont icon-sex{$coachInfo.sex}"></i>
                        <p class="mui-ellipsis">教龄:{$coachInfo.coach_year} 等级:{$coachInfo.coach_rank}</p>
                    </div>
                    <div class="camp-num">
                        <ul>
                            <li>
                                总结算工资：￥1000000
                            </li>
                            <li>
                                总课时收入：￥1000000
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>

        <div class="nav-list">
            <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4"><a href="#">
                    <span><text class="mtext">本</text>月课时收益</span>
                    <div class="mui-media-body colororange" id="scheduleSalary"></div>
                </a></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4"><a href="#">
                    <span><text class="mtext">本</text>月公益课收入</span>
                    <div class="mui-media-body colororange" id="schoolSalary"></div>
                </a></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="border-right: none;"><a href="#">
                    <span><text class="mtext">本</text>月结算工资</span>
                    <div class="mui-media-body colororange" id="settleSalary"></div>
                </a></li>
            </ul>
        </div>

        <ul class="mui-table-view mb">
            <li class="mui-table-view-cell">
                <ul class="mui-row table">
                    <li class="mui-col-xs-3" id="salaryTypeTitle" style="padding-left: 6px;">结算工资</li>
                    <li class="mui-col-xs-6">日期 / 班级</li>
                    <li class="mui-col-xs-3 mui-text-center">工资</li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="mui-scroll-wrapper coach" style="margin-top:240px; margin-bottom: 47px;">
        <div class="mui-scroll">
            <ul class="mui-table-view sList" id="settleSalaryList">
            </ul>
            <ul class="mui-table-view sList hide" id="scheduleSalaryList">
            </ul>
        </div>
    </div>

</div>


        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-col-sm-6 mui-col-xs-6 opli">
                <input id="year" type="hidden" name="year" value="{$year}">
                <input id="month" type="hidden" name="month" value="{$month}">
                <span class="mui-icon mui-icon-arrowdown mui-pull-right f16 colorgray" style="margin-right: 15px"></span>
                <a class="btnTime" id="mStatisticsTime" data-options='{"type":"month"}' style="margin: -11px 0px">{$year} - {$month} </a>
            </li>
            <li class="mui-table-view-cell mui-col-sm-6 mui-col-xs-6 opli">
                <span class="mui-icon mui-icon-arrowdown mui-pull-right f16 colorgray" style="margin-right: 15px"></span>
                <a class="" id="showUserPicker" style="margin: -11px 0px"><text id="salaryTypeResult">结算工资（0）</text></a>
            </li>
        </ul>


</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src='/static/frontend/js/jquery-3.2.1.min.js'></script>
<script src="/static/frontend/js/mui.picker.min.js"></script>
<script src="/static/frontend/js/mui.poppicker.js"></script>
<script src="/static/frontend/js/wooApi.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    var currSalaryType = 'settleSalaryList';
    var currSettleCount = '';
    var currScheduleCount = '';

    $(function() {

        //获取列表
        scheduleSalaryinList();
        settleSalaryinList();

        $(document).on('change', '#salaryType', function () {
           var salaryType = '#'+$('#salaryType').val();
           $(".sList").hide();
           $(salaryType).show();

            //滚动到低部
            mui('.mui-scroll-wrapper').scroll().refresh();
            mui(".mui-scroll-wrapper").scroll().scrollTo(0,0,100);

        })
    });

    (function ($, doc) {

        $(".mui-scroll-wrapper").scroll({
            //bounce: false,//滚动条是否有弹力默认是true
            indicators: true //是否显示滚动条,默认是true
        });

        $.ready(function () {
            var _getParam = function (obj, param) {
                return obj[param] || '';
            };
            //开始时间
            var btnTimes = $('.btnTime');
            btnTimes.each(function (i, btn) {
                btn.addEventListener('tap', function () {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var wTime = this;
                    var id = this.getAttribute('id');
                    var picker = new $.DtPicker(options);
                    picker.show(function (rs) {
                        //wTime.innerText = rs.text;
                        wTime.innerText = rs.y.text+' - '+rs.m.text;
                        document.getElementById('month').value=rs.m.text;
                        document.getElementById('year').value=rs.y.text;
                        
                        scheduleSalaryinList();
                        settleSalaryinList();

                        //滚动到低部
                        mui('.mui-scroll-wrapper').scroll().refresh();
                        mui(".mui-scroll-wrapper").scroll().scrollTo(0,0,100);

                        picker.dispose();
                    });
                }, false);
            });

            //普通示例
            var userPicker = new $.PopPicker();
            userPicker.setData([{
                value: 'settleSalaryList',
                text: '结算工资'
            }, {
                value: 'scheduleSalaryList', 
                text: '课时收益'
            }]);
            var showUserPickerButton = doc.getElementById('showUserPicker');
            var salaryTypeTitle = doc.getElementById('salaryTypeTitle');
            showUserPickerButton.addEventListener('tap', function(event) {
                userPicker.show(function(items) {
                    currSalaryType = items[0].value;
                    salaryTypeTitle.innerText = items[0].text;
                    changeList()
                    //返回 false 可以阻止选择框的关闭
                    //return false;
                });
            }, false);

        });
    })(mui, document);


    function changeList() {
        if(currSalaryType=='settleSalaryList'){
            $("#salaryTypeResult").html(currSettleCount);
        }else if(currSalaryType=='scheduleSalaryList'){
            $("#salaryTypeResult").html(currScheduleCount);
        }
        var salaryType = '#'+currSalaryType;
       $(".sList").hide();
       $(salaryType).show();

        //滚动到低部
        mui('.mui-scroll-wrapper').scroll().refresh();
        mui(".mui-scroll-wrapper").scroll().scrollTo(0,0,100);
    }

    function settleSalaryinList() {
        var year = $('input[name=year]').val();
        var month = $('input[name=month]').val();
        var coachID = "{$coachInfo.id}";
        var campID = "{$camp_id}";

        var mText = month.replace(/\b(0+)/gi,"");


        mui.ajax("{:url('api/salaryin/getScheduleSalaryListApi')}", {
            data: {
                camp_id: campID,
                y: year,
                m: month,
                orderby:'create_time',
                member_id:{$member_id}
            },
            dataType:'json',
            type:'post',
            timeout:10000,
            headers:{'Content-Type':'application/json'},
            success:function(data){
                //console.log(data);
                var newli = '';
                var salaryCount = 0;
                if (data.code === 200) {
                    // 返回为空 显示无数据
                    if (data.data.length != 0) {
                        var lessonTime = '';
                        var salaryNum = 0;
                        var noSettle = 0;
                        var urls = '#';
                        for (var i=0; i<data.data.length;i++) {

                            //刷选已结算的，并统计未结算的记录数用于下拉菜单上的统计扣除
                            if(data.data[i].is_settle==1){

                                lessonTime = wooApi.dateIt('Y-m-d H:i',data.data[i].lesson_time);

                                if(coachID==data.data[i].coach_id){
                                    salaryNum = data.data[i].s_coach_salary
                                }else{
                                    salaryNum = data.data[i].s_assistant_salary
                                }
                                salaryCount += parseInt(salaryNum);

                                urls = "/frontend/schedule/scheduleinfo" + '/schedule_id/' + data.data[i].schedule_id + '/camp_id/' + campID;

                                newli += '<li class="mui-table-view-cell"><a href="' + urls + '"><ul class="mui-row table">';
                                newli += '<li class="mui-col-xs-3"><font class="tipCorner bgblue">已结算</font></li><li class="mui-col-xs-6">'+ lessonTime + '<br /><text class="colorgray">'+data.data[i].grade+'</text></li>';
                                newli += '<li class="mui-col-xs-3 mui-text-center">'+ salaryNum +'</li>';
                                newli += '</ul></a></li>';

                            }else{

                                noSettle+=1; 

                            }
                        }
                        //保存当前结算工资记录数
                        currSettleCount = '结算工资 <b class="colororange">'+(data.data.length-noSettle)+'</b>';
                    } else {
                        newli = '<li class="nodata"><i class="icon iconfont icon-m-TrainingCamp1"></i><p>没有相关数据哦</p></li>';
                    }
                    //console.log(newli);
                    $('#settleSalaryList').html(newli);
                } else {
                    newli = '<li class="nodata settle thismonth"><i class="icon iconfont icon-m-TrainingCamp1"></i><p>没有相关数据哦</p></li>';
                    $('#settleSalaryList').html(newli);
                }
                //最终统计赋值
                $('#settleSalary').text(salaryCount);
                $(".mtext").text(mText);
                changeList();

            },
            error:function(xhr,type,errorThrown){
                mui.toast('网络异常,请稍候再试');
            }
        })

    }


    function scheduleSalaryinList() {
        var year = $('input[name=year]').val();
        var month = $('input[name=month]').val();
        var coachID = "{$coachInfo.id}";
        var campID = "{$camp_id}";

        mui.ajax("{:url('api/salaryin/getScheduleSalaryListApi')}", {
            data: {
                camp_id: campID,
                y: year,
                m: month,
                orderby: 'schedule_time',
                member_id:{$member_id}
            },
            dataType:'json',
            type:'post',
            timeout:10000,
            headers:{'Content-Type':'application/json'},
            success:function(data){
                //console.log(data);
                var newli = '';
                var salaryCount = 0;
                var schoolCount = 0;
                if (data.code === 200) {
                    // 返回为空 显示无数据
                    if (data.data.length != 0) {
                        var lessonTime = '';
                        var salaryNum = 0;
                        var scheduleTips = '';
                        var urls = '#';

                        for (var i=0; i<data.data.length;i++) {
                            lessonTime = wooApi.dateIt('Y-m-d H:i',data.data[i].lesson_time);

                            if(data.data[i].is_school==1){
                                scheduleTips = '<font class="tipCorner bggreen">公益课</font>';
                            }else if(data.data[i].is_settle==1){
                                scheduleTips = '<font class="tipCorner bgblue">已结算</font>';
                            }else{
                                scheduleTips = '<font class="tipCorner bggray">未结算</font>';
                            }

                            if(coachID==data.data[i].coach_id){
                                salaryNum = data.data[i].coach_salary+data.data[i].salary_base*data.data[i].students
                            }else{
                                salaryNum = data.data[i].assistant_salary+data.data[i].salary_base*data.data[i].students
                            }
                            salaryCount += parseInt(salaryNum);

                            if(data.data[i].is_school==1){
                                schoolCount+=salaryNum
                            }

                            urls = "/frontend/schedule/scheduleinfo" + '/schedule_id/' + data.data[i].schedule_id + '/camp_id/' + campID;
                           
                            newli += '<li class="mui-table-view-cell"><a href="' + urls + '"><ul class="mui-row table">';
                            newli += '<li class="mui-col-xs-3">'+scheduleTips+ '</li><li class="mui-col-xs-6">'+ lessonTime +'<br /><text class="colorgray">'+data.data[i].grade+'</text></li>';
                            newli += '<li class="mui-col-xs-3 mui-text-center">'+ salaryNum +'</li>';
                            newli += '</ul></a></li>';
                        }
                        
                        currScheduleCount = '课时收益 <b class="colororange">'+data.data.length+'</b>';

                    } else {
                        newli = '<li class="nodata settle thismonth"><i class="icon iconfont icon-m-TrainingCamp1"></i><p>没有相关数据哦</p></li>';
                    }
                    //console.log(newli);
                    $('#scheduleSalaryList').html(newli);
                } else {
                    newli = '<li class="nodata settle thismonth"><i class="icon iconfont icon-m-TrainingCamp1"></i><p>没有相关数据哦</p></li>';
                    $('#scheduleSalaryList').html(newli);
                }
                //最终统计赋值
                $('#schoolSalary').text(schoolCount);
                $('#scheduleSalary').text(salaryCount);
                changeList();
            },
            error:function(xhr,type,errorThrown){
                mui.toast('网络异常,请稍候再试');
            }
        })
    }


</script>
</html>