<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>教学分成</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!--等级星星样式-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/feedback.css"/>
</head>

<body class=whitebg>
<header id="header" class="mui-bar mui-bar-nav subheader">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
    <h1 class="mui-title">教学分成明细</h1>
</header>
<div class="mui-content">

    <div class="list camp-list detalis-list coach">
        <ul class="mui-table-view list detalis-list mb" style="margin-top: -4px">
            <li class="mui-table-view-cell mui-media listli">
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left coachicon" src="/static/frontend/images/shuijiao.jpg">
                    <div class="mui-media-body">
                        韦林<p class="mui-ellipsis">教龄:2 等级:5</p>
                    </div>
                    <div class="price-frame camp-num">
                        <ul>
                            <li>5.0                                <div class="icons mui-inline">
                                <i data-index="1" class="mui-icon mui-icon-star-filled"></i>
                                <i data-index="2" class="mui-icon mui-icon-star-filled"></i>
                                <i data-index="3" class="mui-icon mui-icon-star-filled"></i>
                            </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
        <div class="page-header location-frame mt">
            <ul class="mui-row table mui-text-center" style="margin: 0">
                <li class="mui-col-xs-6 location-choise location-chosie-initial">
                    <select class="wd52">
                        <option>7月教学分成</option>
                        <option>6月教学分成</option>
                        <option>5月教学分成</option>
                        <option>4月教学分成</option>
                    </select>
                    <i class="mui-icon mui-icon-arrowdown" style="float: none"></i>
                </li>
                <li class="mui-col-xs-6 location-choise location-chosie-initial">
                    <select class="wd52">
                        <option>2017年</option>
                        <option>2016年</option>
                        <option>2015年</option>
                        <option>2014年</option>
                    </select>
                    <i class="mui-icon mui-icon-arrowdown" style="float: none"></i>
                </li>
            </ul>
        </div>

        <ul class="mui-table-view mui-text-center">
            <li class="mui-table-view-cell">
                <ul class="mui-row table">
                    <li class="mui-col-xs-4">日期</li>
                    <li class="mui-col-xs-6">班级</li>
                    <li class="mui-col-xs-2">分成</li>
                </ul>
            </li>
            {volist name="salaryList" id="vol" empty="暂无数据"}
            <li class="mui-table-view-cell">
                <ul class="mui-row table">
                    <li class="mui-col-xs-4">{$vol.create_time}</li>
                    <li class="mui-col-xs-6">{$vol.grade}</li>
                    <li class="mui-col-xs-2">{$vol.salary}</li>
                </ul>
            </li>
            {/volist}
            <li class="mui-table-view-cell detalisli listli">
                <span>分成总额：{$count}</span>
            </li>
        </ul>

    </div>
</div>

</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

</script>
</html>