<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>教练工资详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!--等级星星样式-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/feedback.css"/>
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
</head>

<body class=whitebg>
<header id="header" class="mui-bar mui-bar-nav subheader">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow" href="{:url('frontend/salaryin/salaryofcamp/')}/camp_id/{$camp_id}"></a>
    <h1 class="mui-title">工资详情</h1>
</header>
<div class="mui-content">

    <div class="list course-list camp-list detalis-list coach">
        <ul class="mui-table-view mb" style="margin-top: -4px">
            <li class="mui-table-view-cell mui-media listli" style="padding:11px 15px;">
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left coachicon" src="{$coachInfo.portraits}">
                    <div class="mui-media-body">
                        {$coachInfo.coach} <i class="icon iconfont icon-sex{$coachInfo.sex}"></i>
                        <p class="mui-ellipsis">教龄:{$coachInfo.coach_year} 等级:{$coachInfo.coach_rank} {$coachInfo.area}</p>
                    </div>
                    <div class="camp-num mui-text-right">
                        <ul>
                            <li>
                                <div class="icons mui-inline">
                                    <i data-index="1" class="mui-icon mui-icon-star-filled"></i>
                                    <i data-index="2" class="mui-icon mui-icon-star-filled"></i>
                                    <i data-index="3" class="mui-icon mui-icon-star-filled"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>

        <div class="nav-list">
            <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6"><a href="#">
                    <span>本月工资总额</span>
                    <div class="mui-media-body">8989</div>
                </a></li>
            </ul>
        </div>
        <ul class="mui-table-view mb">
            <li class="mui-table-view-cell listli">
                <p class="mui-navigate-right">
                    上课工资单<span class="btnTime" id="mStatisticsTime" data-options='{"type":"month"}'>{$year}年 {$month}月</span>
                </p>
            </li>
            <input id="year" type="hidden" name="year" value="{$year}">
            <input id="month" type="hidden" name="month" value="{$month}">
        </ul>

        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <ul class="mui-row table">
                    <li class="mui-col-xs-4">日期</li>
                    <li class="mui-col-xs-4">班级</li>
                    <li class="mui-col-xs-4">工资</li>
                </ul>
            </li>
            <li class="mui-table-view-cell">
                <a class="">
                    <ul class="mui-row table">
                        <li class="mui-col-xs-4">8月</li>
                        <li class="mui-col-xs-4">2345</li>
                        <li class="mui-col-xs-4">8900</li>
                    </ul>
                </a>
            </li>
        </ul>

    </div>
</div>

</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<!--等级星星样式-->
<script src="/static/frontend/js/feedback.js"></script>
<script src="/static/frontend/js/mui.picker.min.js"></script>
<script src="/static/frontend/js/mui.poppicker.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    (function ($, doc) {
        $.ready(function () {
            var _getParam = function (obj, param) {
                return obj[param] || '';
            };
            //开始时间
            var btnTimes = $('.btnTime');
            btnTimes.each(function (i, btn) {
                btn.addEventListener('tap', function () {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var wTime = this;
                    var id = this.getAttribute('id');
                    var picker = new $.DtPicker(options);

                    picker.show(function (rs) {
                        //wTime.innerText = rs.text;
                        wTime.innerText = rs.y.text+'年 '+rs.m.text+'月';
                        document.getElementById('month').value=rs.m.text;
                        document.getElementById('year').value=rs.y.text;
                        picker.dispose();
                    });
                }, false);
            });

        });
    })(mui, document);

</script>
</html>