<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$campInfo.camp}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!--等级星星样式-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/feedback.css"/>
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <style>
        .btnTime { padding-right: 15px; }
    </style>
</head>

<body class=whitebg>
<header id="header" class="mui-bar mui-bar-nav subheader">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow" href="{:url('frontend/salaryin/salaryofcamp/')}/camp_id/{$camp_id}"></a>
    <h1 class="mui-title">教练工资详情</h1>
</header>
<div class="mui-content">

    <div class="list course-list camp-list detalis-list coach">
        <ul class="mui-table-view mb" style="margin-top: -4px">
            <li class="mui-table-view-cell mui-media listli" style="padding:11px 15px;">
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left coachicon" src="{$coachInfo.portraits}">
                    <div class="mui-media-body">
                        {$coachInfo.coach} <i class="icon iconfont icon-sex{$coachInfo.sex}"></i>
                        <p class="mui-ellipsis">教龄:{$coachInfo.coach_year} 等级:{$coachInfo.coach_rank} {$coachInfo.area}</p>
                    </div>
                    <div class="camp-num mui-text-right">
                        <ul>
                            <li>
                                <div class="icons mui-inline">
                                    <i data-index="1" class="mui-icon mui-icon-star-filled"></i>
                                    <i data-index="2" class="mui-icon mui-icon-star-filled"></i>
                                    <i data-index="3" class="mui-icon mui-icon-star-filled"></i>
                                </div><br />
                                <label class="starScore"></label>&nbsp;
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>

        <div class="nav-list">
            <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4"><a href="#">
                    <span>本月课时收入</span>
                    <div class="mui-media-body" id="salarysum"></div>
                </a></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4"><a href="#">
                    <span>本月结算工资</span>
                    <div class="mui-media-body" id="salarysum"></div>
                </a></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="border-right: none;"><a href="#">
                    <span>结算工资总额</span>
                    <div class="mui-media-body" id="salarysum"></div>
                </a></li>
            </ul>
        </div>
        <div class="location-frame">
            
            <span class="btnTime location-choise" id="mStatisticsTime" data-options='{"type":"month"}' style="float: left">{$year}年 {$month}月</span>
            <input id="year" type="hidden" name="year" value="{$year}">
            <input id="month" type="hidden" name="month" value="{$month}">
            <span class="location-choise">
                 <select id="sexSelect">
                        <option value="1">结算工资</option>
                        <option value="2">课时收入</option>
                </select>
            </span>
        </div>

        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <ul class="mui-row table">
                    <li class="mui-col-xs-5">日期</li>
                    <li class="mui-col-xs-5">班级</li>
                    <li class="mui-col-xs-2 mui-text-center">工资</li>
                </ul>
            </li>
        </ul>
        <ul class="mui-table-view" id="salary-ul">
        </ul>

    </div>
</div>
</div>

<div class="hide2">
    <ul class="mui-table-view" id="sourceList"></ul>
</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src='/static/frontend/js/jquery-3.2.1.min.js'></script>
<!--等级星星样式-->
<script src="/static/frontend/js/starshow.js"></script>
<script src="/static/frontend/js/feedback.js"></script>
<script src="/static/frontend/js/mui.picker.min.js"></script>
<script src="/static/frontend/js/mui.poppicker.js"></script>
<script src="/static/frontend/js/wooApi.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    (function ($, doc) {
        $.ready(function () {
            var _getParam = function (obj, param) {
                return obj[param] || '';
            };
            //开始时间
            var btnTimes = $('.btnTime');
            btnTimes.each(function (i, btn) {
                btn.addEventListener('tap', function () {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var wTime = this;
                    var id = this.getAttribute('id');
                    var picker = new $.DtPicker(options);
                    picker.show(function (rs) {
                        //wTime.innerText = rs.text;
                        wTime.innerText = rs.y.text+'年 '+rs.m.text+'月';
                        document.getElementById('month').value=rs.m.text;
                        document.getElementById('year').value=rs.y.text;
                        salaryinList();
                        picker.dispose();
                    });
                }, false);
            });

        });
    })(mui, document);

    $(function() {


        // 星星显示
        var star = Math.round("{$coachInfo.star}" / "{$coachInfo.star_num}");
        starShow(star);
        if (isNaN(star)) { star = 3 }
        $(".starScore").prepend('评分 ' + star + '.0');

        salaryinList();
    });

    function salaryinList() {
        var year = $('input[name=year]').val();
        var month = $('input[name=month]').val();

        //获取当前月份第一天和最后一天时间戳
        var firstdate = new Date(year + '-' + month + '-01 00:00:00');
        var day = new Date(year,month,0); 
        var lastdate =  new Date(year + '-' + month + '-' + day.getDate() +' 23:59:59');
        var firstTimestamp = Date.parse(firstdate)/1000;
        var endTimestamp = Date.parse(lastdate)/1000;

        console.log(firstTimestamp)
        console.log(endTimestamp)

        mui.ajax("{:url('api/salaryin/getScheduleSalaryListApi')}", {
            data: {
                camp_id: "{$camp_id}",
                y: year,
                m: month,
                member_id:{$member_id}
            },
            dataType:'json',
            type:'post',
            timeout:10000,
            headers:{'Content-Type':'application/json'},
            success:function(data){
                //console.log(data);
                var newli = '';
                var aClass = '';
                if (data.code === 200) {
                    // 返回为空 显示无数据
                    if (data.data.length != 0) {
                        var lessonTime = '';
                        for (var i=0; i<data.data.length;i++) {
                            
                            if(data.data[i].is_settle>0){
                                aClass += " settle1"
                            }
                            if(data.data[i].lesson_time>0){
                                aClass += " settle1"
                            }
                            lessonTime = wooApi.dateIt('Y-m-d H:i',data.data[i].lesson_time)
                            newli += '<li class="mui-table-view-cell'+aClass+'"><a class=""><ul class="mui-row table">';
                            newli += '<li class="mui-col-xs-5">'+ lessonTime +'</li>';
                            newli += '<li class="mui-col-xs-5 mui-ellipsis">'+ data.data[i].grade +'</li>';
                            newli += '<li class="mui-col-xs-2 mui-text-center">'+ data.data[i].s_coach_salary +'</li>';
                            newli += '</ul></a></li>';
                        }
                        $('#salarysum').text(data.sum);
                    } else {
                        newli = '<li class="nodata"><i class="icon iconfont icon-m-TrainingCamp1"></i><p>没有相关数据哦</p></li>';
                        $('#salarysum').text(0);
                    }
                    //console.log(newli);
                    $('#sourceList').html(newli);
                } else {
                    newli = '<li class="nodata"><i class="icon iconfont icon-m-TrainingCamp1"></i><p>没有相关数据哦</p></li>';
                    $('#sourceList').html(newli);
                    $('#salarysum').text(0);
                }
            },
            error:function(xhr,type,errorThrown){
                mui.toast('网络异常,请稍候再试');
            }
        })
    }


    function getFinalList(){
        for (var i=0; i<data.data.length;i++) {
            lessonTime = wooApi.dateIt('Y-m-d H:i',data.data[i].lesson_time)
            newli += '<li class="mui-table-view-cell"><a class=""><ul class="mui-row table">';
            newli += '<li class="mui-col-xs-5">'+ lessonTime +'</li>';
            newli += '<li class="mui-col-xs-5 mui-ellipsis">'+ data.data[i].grade +'</li>';
            newli += '<li class="mui-col-xs-2 mui-text-center">'+ data.data[i].s_coach_salary +'</li>';
            newli += '</ul></a></li>';
        }
    }

</script>
</html>