body {
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul, li {
    list-style: none;
}

.dashboard {
    color: #777 !important;
    text-decoration: none !important;
}

.panel-intro .panel-heading {
    padding: 15px;
    padding-bottom: 0;
    border-color: #e8edf0;
    position: relative;
    margin-bottom: 15px;
}
.panel-intro > .panel-heading .panel-lead {
    margin-bottom: 15px;
}
.panel-intro .nav-tabs{
    border-bottom: none;
}

.search-form .form-group {
    margin: 0 5px;
}


.info-box-number{
    margin-top: 5px;
    font-size: 20px;
}
.info-box-number small{
    font-weight: normal;
}

.logo .iconfont{ font-size: 30px; font-weight: 400; }
.logo b { font-size: 18px; vertical-align: top; }
.logo-lg .iconfont{ margin-right: 3px; }
.info-box .iconfont { font-size: 54px; font-weight:500; }
.radius4 { border:1px solid #d2d6de; border-top-left-radius:4px !important; border-bottom-left-radius:4px !important;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important; }

.box-body { padding:10px 15px; }
.nav-tabs-custom>.nav-tabs>li.header { padding-left: 15px; line-height: 40px; }
.nav-tabs-custom>.nav-tabs>li.header span{ font-size: 16px; margin-right: 15px; }

.modal .tableScroll { height: 300px;overflow:auto; position: relative; }
.modal .nodata td{ text-align: center; height: 200px; vertical-align: middle; }
.modal .modal-body table { margin-top: 15px; }
.modal .text-yellow a { color:#f39c12 !important; }

.panel-body { padding: 0px 15px; }

.pat10 { padding-top: 10px !important; }
.pat20 { padding-top: 20px !important; }
.pab10 { padding-bottom: 10px !important; }
.pab20 { padding-bottom: 20px !important; }


ul.dataCol-1,ul.dataCol-2,ul.dataCol-3,ul.dataCol-4,ul.dataCol-5{ float: left;}
ul.dataCol-1{ width: 100% }
ul.dataCol-2{ width: 50% }
ul.dataCol-3{ width: 33.3% }
ul.dataCol-4{ width: 25% }
ul.dataCol-5{ width: 20% }

div.dataTables_info, div.dataTables_paginate { margin: 10px 10px 0px; }
.hotTbHeader{ padding:10px; }
.hotTbHeader h3, .panel-heading h3{ font-size: 20px; }
.hotTbHeader .input-group{ margin-right: 20px;}
.hotTbHeader .form-control { border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-right:none; }
.hotTbHeader .form-control:focus { border:1px solid #d2d6de; }
.hotTbHeader .input-group-addon { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.totalRight { text-align: right !important; float: right !important; }
.totalRight span { margin-left: 20px !important;}
.colCount li span { cursor: pointer; }
.colCount li span:hover { color:#f39c12 !important; }

table.hotTable { margin-top: 20px;}
table.hotTable thead th>ul>li:first-child { border-bottom: 1px solid #F4F4F4; padding-bottom: 5px; margin-bottom: 5px; }
table.hotTable thead th { vertical-align: middle !important; padding: 5px 10px !important; }
table.hotTable tbody>tr>td { padding: 0px;}
table.hotTable tbody li{ padding: 5px 10px;}
table.hotTable tbody li.even{background-color:#FFF}
table.hotTable thead th.mixTitle{ padding: 5px 0px !important;}
table.hotTable thead th.mixTitle>ul>li { padding: 0px 10px !important;}