{extend name="layout/common"/}

{block name="page-content"}
    <div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="box box-info">
            <form action="" class="form-horizontal" method="post" enctype='application/json'>
                
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">所属部门</label>
                        <div class="col-sm-8 col-md-8">
                            <input type="text" class="form-control" value="{$infoP.name}" disabled="disabled">
                        </div>
                        <div class="col-sm-2 col-md-2"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">职位名称</label>
                        <div class="col-sm-8 col-md-8">
                            <input type="text" name="name" class="form-control" value="{$info.name}" required="required">
                        </div>
                        <div class="col-sm-2 col-md-2"></div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-2 col-md-2 control-label">权限</label>
                        <div class="col-sm-8 col-md-8">
                            <input type="hidden" name="pid" value="{$infoP.id}">
                            <input type="text" name="menu_auth" class="form-control" value="" required="required">
                        </div>
                        <div class="col-sm-2 col-md-2"></div>
                    </div>
                    <div class="form-group ">
                        <div class="box-header">
                            <button type="submit" class="btn btn-info btn-flat powerSubmit ">确认添加权限</button>
                        </div>
                        <div class="fixed-table-container no-border">
                            <div class="row">
                                {volist name="menuList" id="vo"}
                                <div class="col-sm-6 col-md-3 col-xs-12">
                                    <ul class="list-group">
                                        <li class="list-group-item bg-gray" data-id="{$vo.id}">
                                            <label>
                                                <input type="checkbox" class="power powerP"  value="{$vo.id}" {if array_intersect($powerP,$power)}  checked="checked" {/if} >
                                                <span class="" data-id="{$vo.id}"  >{$vo.title}
                                            </label>
                                        </li>
                                        {if condition="$vo['daughter']"}
                                        {volist name="vo['daughter']" id="vo2"}
                                            <li class="list-group-item clearfix">
                                                <label>
                                                    <input type="checkbox" class="power  power{$vo2.pid}" name="" value="{$vo2.id}" data="{$vo2.pid}"  {if array_intersect($powerP,$power)}  checked="checked" {/if} >
                                                    <span class="small" data-id="{$vo.id}"  >{$vo2.title}</span>
                                                </label>
                                            </li>
                                        {/volist}
                                        {/if}
                                    </ul>
                                </div>
                                {/volist}
                                
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="box-footer">
                            <div class="col-md-3 col-md-3 col-md-offset-7">
                                <button type="submit" class="btn btn-success btn-flat ">提 交</button>
                            </div>
                        </div>
                    </div>    
                </div>
                
            </form>

            <div class="box-body">
                

                <div class="col-sm-2 col-md-2"></div>
            </div>

        </div>
    </div>
</div>
{/block}

{block name="js"}
<script type="text/javascript">
    $(function(){
        // 提交权限
        $('.powerSubmit').on('click',function(){
            let power = [];
            $('.power:checked').each(function(k,i){
                power.push($(i).val());
            });
            // let power_str = power.join(',');
            let power_str = JSON.stringify(power);
            $('input[name=menu_auth]').val(power_str);
        })


        // 替父级选中
        $('.power').on('change',function(){

            let isc = $(this).prop("checked");
   
            if(isc){
                let pid = $(this).attr('data');
                $('.power[value='+pid+']').prop('checked',true);
            }
        })

        //全选和反选
        $('.powerP').on('change',function(){

            let isc = $(this).prop("checked");
            let pid = $(this).val();
            if(isc){
                $('.power'+pid).prop('checked',true);
            }else{
                $('.power'+pid).prop('checked',false);
            }
        })

    })

</script>
    
{/block}