<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>会员登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body class="whitebg">

<!--会员登陆-->
<div class="mui-content">
    <div class=login-frame>
        <!--logo-->
        <div class="logo">
            <img src="/static/frontend/images/logo.png" alt="大热篮球">
        </div>
        <!--账号密码登录-->
        <div class="loginbox">
            <form action="" class="login" method="post">
                <h3>会员账号登录</h3>
                <div class="mui-input-row">
                    <input type="text" name="hot_id" class="mui-input-clear inputname reg_user"
                           placeholder="输入会员账号"
                           data-input-clear="5" style="margin-bottom: 0">
                    <span class="regspan tip user_hint"></span>
                </div>
                <div class="mui-input-row">
                    <input type="password" class="mui-input-clear password reg_password" required placeholder="请输入用户密码"
                           data-input-clear="5" name="password"><span class="forgot-password"></span>
                    <span class="regspan tip password_hint"></span>
                </div>
                <div class="tjbtn">
                    <button type="submit" class="mui-btn btn">
                        登陆
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script>


</script>