<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>完善信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body>
    <header class="mui-action-back mui-bar mui-bar-nav subheader header1">
        <a class="mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">完善信息</h1>
    </header>

    <div class="mui-content pt">
        <strong class="tip-box colorred mt mb">welcome to Hot Basketball</strong>
        <div class="register">
            <form class="mui-input-group">
                <div class="mui-input-row">
                    <label>账号</label>
                    <input type="text" name="username" class="reg_user inputname" placeholder="请输入账号" {if condition="$userinfo"}value="{$userinfo.nickname}"{/if}>
                </div>
                <div class="mui-input-row">
                    <label>密码</label>
                    <input type="password" name="password" class="reg_password" placeholder="请输入密码">
                </div>
                <div class="mui-input-row">
                    <label>确认密码</label>
                    <input type="password" name="confim" class="reg_confirm" placeholder="请确认密码">
                </div>
                <div class="mui-input-row">
                    <label>手机号码</label>
                    <input id="telephone" type="text" name="mobile" class="reg_mobile" placeholder="请输入手机号码" id="telephone">
                </div>
                <div class="mui-input-row">
                    <label>短信验证码</label>
                    <input type="button" class="code-btn" value="获取验证码" onclick="sendCode(this)" >
                    <input id="code" type="text" class="input reg_code" placeholder="输入验证码" style="width: 40%;" >
                </div>
            </form>

            <span class="tip-box user_hint mobile_hint password_hint confirm_hint"></span>
            <div class="tjbtn">
                <button type="button" class="mui-btn btn registerBtn">
                    完成
                </button>
            </div>

            <div class="btmfixed"><h6>POWER BY HotTECH</h6></div>
        </div>

    </div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script src="/static/frontend/libs/yzvalidate.js"></script>
<script src="/static/frontend/js/smsCode.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    mui.get("{:url('api/member/checkopenid')}", {}, function(data) {
        console.log(data);
        if (data.code===200) {
            mui.alert('您已注册会员，确认登录平台', '', function(){
                setTimeout(function(){
                    window.history.back();
                },1000);
            });
        }
    }, 'json');

$(function(){
    $(".registerBtn").on("click", function () {
        var member = $(".reg_user").val();
        var telephone = $(".reg_mobile").val();
        var password = $(".reg_password").val();
        var repassword = $(".reg_confirm").val();
        var smscode = $('.reg_code').val();


            mui.ajax("{:url('api/login/registerApi')}", {
                data: {
                    'member': member,
                    'telephone': telephone,
                    'password': password,
                    'repassword': repassword
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: {'Content-Type': 'application/json'},
                success: function (data) {
                    //服务器返回响应，根据响应结果，分析是否登录成功；
                    console.log(data);
                    if (data.code == 100) {
                        mui.toast(data.msg);
                    } else {
                        //mui.toast(data.msg);
                        window.location.href = data.goto;
                    }

                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });


    });

    $(".inputname").on("blur", function () {
        var member = $(".reg_user").val();
        mui.ajax("{:url('api/login/isFieldRegisterApi')}", {
            data: {
                'field': 'member',
                'value': member
            },
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: {'Content-Type': 'application/json'},
            success: function (data) {
                console.log(data);
                if (data.msg == 1) {
                    mui.toast('账号已存在');
                }
            },
            error: function (xhr, type, errorThrown) {
                console.log(type);
            }
        });
    });

    //验证短信验证码
    $('#code').on("blur",function(){
        var code = document.getElementById('code').value;
        var codeReg = /^\d{6,6}$/;

        //console.log(code);
        if(!codeReg.test(code)){
            mui.toast('请填写正确的验证码');
            flag = false;
        }else{
            telephone = document.getElementById('telephone').value;
            var result = smsCode.validateSmsCodeApi(telephone,code,"{:url('api/sms/validateSmsCodeApi','','',true)}");
            if(result == 200){
                flag = true;
                mui.toast(result.msg);
            }else{
                flag = false;
                mui.toast(result.msg);
            }
        }

    });
});


    // 发送短信验证码
    function sendCode(obj){
        telephone = document.getElementById('telephone').value;
        var telephoneReg = /^\d{11,11}$/;
        if(!telephoneReg.test(telephone)){
            mui.toast('请填写正确的手机号码');
            flag = false;
        }else{
            var result = smsCode.getMobileCodeApi(obj,telephone,"{:url('api/sms/getMobileCodeApi','','',true)}");
            if(result.code == 200){
                flag = true;
                mui.toast(result.msg);
            }else{
                flag = false;
                mui.toast(result.msg);
            }
        }
    }

</script>
</html>