{extend name="layout/common"/}
{block name="css"}
<style>
    .img-md {float:none;}
</style>
{/block}
{block name="page-content"}
<div class="col-md-12 col-sm-12">
    <div class="box no-border">
        <form role="form" action="" method="post">
            {:token()}
            <div class="box-body">
                <div class="form-group">
                    <label for="">标题</label>
                    <input type="text" class="form-control" placeholder="用户名" name="member">
                </div>
                <div class="form-group">
                    <label for="">摘要</label>
                    <input type="text" class="form-control" placeholder="电话号码" name="telephone">
                </div>
                <div class="form-group">
                    <label for="">封面图</label>
                    <input type="text" class="form-control" placeholder="学生姓名" name="student">
                </div>
                <div class="form-group">
                    <label for="">内容</label>
                    <div class="row">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">CK Editor
                                    <small>Advanced and full of features</small>
                                </h3>
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                        <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                                            <i class="fa fa-times"></i></button>
                                </div>
                            <!-- /. tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body pad">
                                <textarea id="editor1" name="editor1" rows="10" cols="80">
                                    请在次编辑文章内容
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-success">提  交</button>
        </div>
        </form>
    </div>
</div>
</div>
{/block}




{block name='js'}
<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>

<script>
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor1');
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>
{/block}