<!DOCTYPE html>
<html>
<head>
    <title>添加会员</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/backend/adminlte/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/backend/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/backend/plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/backend/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/backend/adminlte/css/master.css">
</head>
<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="box no-border">
                    <form role="form" action="" method="post">
                        {:token()}
                        <div class="box-body">
                            <div class="form-group">
                                <label for="">用户名</label>
                                <input type="text" class="form-control" placeholder="用户名" name="member">
                            </div>
                            <div class="form-group">
                                <label for="">电话号码</label>
                                <input type="text" class="form-control" placeholder="电话号码" name="telephone">
                            </div>
                            <div class="form-group">
                                <label for="">学生姓名</label>
                                <input type="text" class="form-control" placeholder="学生姓名" name="student">
                            </div>
                            <div class="form-group">
                                <label for="">学生性别</label>
                                <select name="student_sex">
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                    <option value="3">未知</option>
                                </select>
                            </div>
                            
                        </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success">提  交</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/backend/layui/layui.js"></script>
</html>