{extend name="layout/common" /}

{block name="page-content"}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">会员学球意向详情</h3>
            </div>
            <form class="form-horizontal camp-form" method="post" action="">
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">姓名</div>
                        <div class="col-sm-5">
                            {$interion.name}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">年龄</div>
                        <div class="col-sm-5">
                            {$interion.age}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">电话号码</div>
                        <div class="col-sm-5">
                            {$interion.telephone}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">住址</div>
                        <div class="col-sm-5">
                            {$interion.address}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">学校</div>
                        <div class="col-sm-5">
                            {$interion.school}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-5">
                            {$interion.remarks}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>

                </div>
                <div class="box-footer">

                </div>
            </form>
        </div>
    </div>

    {if condition="$interion['member']"}
    <div class="col-sm-12 col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">会员 详细资料</h3>
            </div>
            <form class="form-horizontal" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户名</div>
                        <div class="col-sm-5">
                            {$interion.member.member}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">会员头像</div>
                        <div class="col-sm-5">
                            <img src="{$interion.member.avatar}" alt="">
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">微信昵称</div>
                        <div class="col-sm-5">
                            {$interion.member.nickname}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">真实姓名</div>
                        <div class="col-sm-5">
                            {$interion.member.realname}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">电话号码</div>
                        <div class="col-sm-5">
                            {$interion.member.telephone}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">电子邮箱</div>
                        <div class="col-sm-5">
                            {$interion.member.email}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">性别</div>
                        <div class="col-sm-5">
                            {switch name="$interion.member.sex"}
                            {case value="1"}男{/case}
                            {case value="2"}女{/case}
                            {default/}未知
                            {/switch}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">生日</div>
                        <div class="col-sm-5">
                            {$interion.member.birthday}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">所在地区</div>
                        <div class="col-sm-5">
                            {$interion.member.province}-{$interion.member.city}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">居住地址</div>
                        <div class="col-sm-5">
                            {$interion.member.location}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">流量</div>
                        <div class="col-sm-5">
                            {$interion.member.flow}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">阶衔</div>
                        <div class="col-sm-5">
                            {$interion.member.level}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">积分余额</div>
                        <div class="col-sm-5">
                            {$interion.member.score}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">人民币余额</div>
                        <div class="col-sm-5">
                            {$interion.member.balance}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">身高 体重 鞋码</div>
                        <div class="col-sm-5">
                            {$interion.member.height}cm  {$interion.member.weight}kg {$interion.member.shoe_code}码
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">注册时间</div>
                        <div class="col-sm-5">
                            {$interion.member.create_time}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">个人备注</div>
                        <div class="col-sm-5">
                            {$interion.member.remarks}
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {/if}
</div>
{/block}

{block name="js"}
<script>
    "use strict";

</script>
{/block}