<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>添加组织人员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />

</head>

<body class=whitebg>

    <header id="header" class="mui-bar mui-bar-nav search2">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">
            <input type="search" class="mui-input-clear keyword" placeholder="请输入会员名称或手机号">
        </h1>
        <span class="mui-icon mui-icon-search searchicon" id="searchBtn"></span>
    </header>

    <div class="mui-content coach">

        <div id="refreshContainer" class="mui-scroll-wrapper" style="margin-top: 44px">
            <div class="mui-scroll">
                <ul class="mui-table-view detalis-list list border-b memberList">
                    <li class="nodata">
                        <i class="icon iconfont icon-logo-Big"></i>
                        <p>请搜索你要邀请的会员名称</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <script>
        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        $(function () {

            //初始化全局变量
            var keyword = wooApi.GetQueryString('keyword');
            $('.keyword').val(keyword);
            //搜索
            $("#searchBtn").on("tap", function () {
                keyword = $(".keyword").val();
                if (keyword == '') {
                    mui.toast("请输入会员名称搜索");
                    return false;
                } else {
                    toList();
                }
            })
            var toList = function () {
                //搜索关键字不能完全为空，否则查询为空
                var url = "{:url('api/member/getmemberlistpage','','',true)}";
                mui.ajax({
                    url: url,
                    data: {
                        keyword: keyword,
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data)
                        var newli = '';
                        if (data.code == 200) {
                            for (var i = 0; i <= data.data.data.length - 1; i++) {
                                newli += '<li class="mui-table-view-cell mui-media listli">';
                                newli += '<img class="mui-media-object mui-pull-left coachicon" src="' + data.data.data[i].avatar + '" style="width: 45px !important;height: 45px !important;margin-top: 4px;"><div class="mui-media-body wd60">' + data.data.data[i].member;
                                newli += '<p>' + data.data.data[i].province + '&nbsp;' + data.data.data[i].city + '&nbsp;' + data.data.data[i].area + '</p></div><div class="price-frame"><button type="button" class="btn bgred" style="margin-top:5px" onclick="checkMember(' + data.data.data[i].id + ')">邀请</button></div>'
                                newli += '</li>';
                            }
                        }
                        $("ul.memberList").empty().append(newli);
                        if (newli == '') {
                            $("ul.memberList").html('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>');
                        }
                    },
                    error: function (xhr, type, errerThrown) {
                        mui.toast('网络异常,请稍候再试');
                    }
                });
            };
        })

        // 检查队员
        function checkMember(member_id) {
            console.log(member_id)
            var match_org_id = "{$org_id}";
            mui.ajax("{:url('api/league/checkmatchorgmember')}", {
                data: {
                    match_org_id: match_org_id,
                    member_id: member_id
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        var btnArray = ['取消', '确认'];
                        mui.confirm('已发送邀请，是否再次邀请？', '', btnArray, function (e) {
                            if (e.index == 1) {
                                addMember(member_id);
                            }
                        });
                    } else {
                        addMember(member_id);
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        }
        // 添加队员
        function addMember(member_id) {
            var match_org_id = "{$org_id}";
            mui.ajax("{:url('api/league/invitematchorgmebmer')}", {
                data: {
                    match_org_id: match_org_id,
                    member_id: member_id,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        mui.toast("已经发送邀请，请耐心等待回复");
                    } else {
                        mui.toast(data.msg);
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        }

    </script>
</body>

</html>