<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>训练营-课程编辑/添加-</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet"/>
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet"/>
    <style>
        .mui-popover-arrow {
            left: auto;
            right: 6px;
        }

        p {
            text-indent: 22px;
        }

        .mui-popover {
            height: 300px;
        }
    </style>
</head>

<body class=whitebg>

<header id="header" class="mui-bar mui-bar-nav subheader">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"><span class="return">返回</span></a>
    <h1 class="mui-title">训练营名称</h1>
</header>
<div class="mui-content">

    <div class="camp-list camp-lesson-list detalis-list" style="margin-top: 4px">

        <ul class="mui-table-view list mt55">
            <li class="mui-table-view-cell listli detalisli">
                课程名称
                <input type="text" class="input" value="">
            </li>
            <li class="mui-table-view-cell listli detalisli">
                <a href="#lessonType" class="mui-navigate-right">
                    课程类型
                    <span class="lessonTypeCont"></span>
                </a>
            </li>
            <li class="mui-table-view-cell listli detalisli">
                课程单价
                <input type="text" class="input" value=""  data-field="cost">
            </li>
            <li class="mui-table-view-cell listli detalisli">
                课程数量
                <input type="text" class="input" value='' data-field="">
            </li>
            <li class="mui-table-view-cell listli detalisli">
                课程所需积分
                <input type="text" class="input" value="">
            </li>
            <li class="mui-table-view-cell listli detalisli picker btn" id="demo5" data-options='{"type":"time"}'>
                 <a href="#" class="mui-navigate-right">
                    训练时间
                    <span id="result" class="ui-alert">00:00</span>
                </a>
                训练时间
            </li>
            <li class="mui-table-view-cell listli detalisli">
                训练日期
                <span>
                 <select class="select">
                            <option>周日</option>
                            <option>周一</option>
                            <option>周二</option>
                            <option>周三</option>
                            <option>周四</option>
                            <option>周五</option>
                            <option>周六</option>
                </select></span>
            </li>
            <li class="mui-table-view-cell listli detalisli" id='showCityPicker3'>
                <a href="#" class="mui-navigate-right">
                    所属地区
                    <span id="cityResult3" class="ui-alert">广东 深圳 南山</span>
                </a>
            </li>
            <li class="mui-table-view-cell listli detalisli">
                <a href="#trainLocation" class="mui-navigate-right">
                    训练地点
                    <span class="trainLocationCont"></span>
                </a>
            </li>


            <li class="mui-table-view-cell listli detalisli" >
                <a href="#" class="mui-navigate-right">
                    人数范围
                    <div class="mui-input-row">
                        <input type="text" class="input" value="" name="personNum" placeholder="">
                    </div>
                       <div class="mui-input-row">
                        <input type="text" class="input" value="" name="personNum" placeholder="">
                    </div>
                </a>
            </li>
            <li class="mui-table-view-cell listli detalisli">
                <a href="#mainCoach" class="mui-navigate-right">
                    主教练
                    <span class="mainCoachCont"></span>
                </a>
            </li>
            <li class="mui-table-view-cell listli detalisli">
                <a href="#assistantCoach" class="mui-navigate-right">
                    助理教练
                    <span class="assistantCoachCont"></span>
                </a>
            </li>
            <li class="mui-table-view-cell listli detalisli">
                <a href="#leader" class="mui-navigate-right">
                    领队
                    <span class="leaderCont"></span>
                </a>
            </li>
            <li class="mui-table-view-cell listli detalisli">
                <a href="#headMaster" class="mui-navigate-right">
                    班主任
                    <span class="headMasterCont"></span>
                </a>
            </li>
            <li class="mui-table-view-cell listli detalisli border-b">
                备注
                <input type="text" class="input" value="">
            </li>
        </ul>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen" style="color: #fff">
                提交
            </li>
        </ul>
    </div>
    
    <!--课程类型-->
    <div id="lessonType" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="camp-list camp-lesson-list detalis-list mt">
                    <div class="page-header">
                        <span class="course"><strong>课程类型</strong></span>
                    </div>
                    <ul class="mui-table-view list">
                    {volist name="gradeCategoryList" id="vol"}
                        <li class="mui-table-view-cell listli detalisli lessonType">
                            {$vol.name}
                        </li>
                    {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--训练地点-->
    <div id="trainLocation" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="camp-list camp-lesson-list detalis-list mt">
                    <div class="page-header">
                        <span class="course"><strong>训练地点</strong></span>
                    </div>
                    <ul class="mui-table-view list">
                    {volist name="courtList" id="vol"}
                        <li class="mui-table-view-cell listli detalisli trainLocation">
                            {$vol.court}
                        </li>
                    {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--主教练-->
    <div id="mainCoach" class="mui-popover" style="margin: 0">
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="camp-list camp-lesson-list detalis-list mt">
                    <div class="camp-lesson-list">
                        <div id="segmentedControl" class="mui-segmented-control mb">
                            <a class="mui-control-item mui-active" href="#item1">粉丝列表</a>
                            <a class="mui-control-item" href="#item2">教练列表</a>
                        </div>
                    </div>
                    <div id="item1" class="mui-control-content mui-active">
                        <div class="mui-scroll">
                            <ul class="mui-table-view list">
                            {volist name="coachList" id="vol"}
                                <li class="mui-table-view-cell listli detalisli mainFans">
                                    {$vol.member}
                                </li>
                            {/volist}
                            </ul>
                        </div>
                    </div>
                    <div id="item2" class="mui-control-content">
                        <div class="mui-scroll">
                            <ul class="mui-table-view list">
                            {volist name="coachList" id="vol"}
                                <li class="mui-table-view-cell listli detalisli mainCoach">
                                    {$vol.member}
                                </li>
                            {/volist}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--助理教练-->
    <div id="assistantCoach" class="mui-popover" style="margin: 0">
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="camp-list camp-lesson-list detalis-list mt">
                    <div class="camp-lesson-list">
                        <div id="segmentedControl" class="mui-segmented-control mb">
                            <a class="mui-control-item mui-active" href="#item1">粉丝列表</a>
                            <a class="mui-control-item" href="#item2">助理教练列表</a>
                        </div>
                    </div>
                    <div id="item1" class="mui-control-content mui-active">
                        <div class="mui-scroll">
                            <ul class="mui-table-view list">
                            {volist name="coachList" id="vol"}
                                <li class="mui-table-view-cell listli detalisli assistantFans">
                                    {$vol.member}
                                </li>
                            {/volist}
                            </ul>
                        </div>
                    </div>
                    <div id="item2" class="mui-control-content">
                        <div class="mui-scroll">
                            <ul class="mui-table-view list">
                            {volist name="coachList" id="vol"}
                                <li class="mui-table-view-cell listli detalisli assistantCoach">
                                    {$vol.member}
                                </li>
                            {/volist}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!--班主任-->
    <div id="headMaster" class="mui-popover">
        <div class="mui-popover-arrow"></div>
       <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="camp-list camp-lesson-list detalis-list mt">
                    <div class="page-header">
                        <span class="course"><strong>班主任</strong></span>
                    </div>
                    <ul class="mui-table-view list">
                    {volist name="courtList" id="vol"}
                        <li class="mui-table-view-cell listli detalisli headMaster">
                            {$vol.court}
                        </li>
                    {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
     <!--领队-->
    <div id="leader" class="mui-popover">
        <div class="mui-popover-arrow"></div>
       <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="camp-list camp-lesson-list detalis-list mt">
                    <div class="page-header">
                        <span class="course"><strong>领队</strong></span>
                    </div>
                    <ul class="mui-table-view list">
                    {volist name="courtList" id="vol"}
                        <li class="mui-table-view-cell listli detalisli leader">
                            {$vol.court}
                        </li>
                    {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<!-- 选择器 -->
<script src="/static/frontend/js/mui.picker.min.js"></script>
<script src="/static/frontend/js/mui.poppicker.js"></script>
<script src="/static/frontend/js/city.data.js"></script>
<script src="/static/frontend/js/city.data-3.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    //弹出菜单
    mui('.mui-scroll-wrapper').scroll();
    mui('body').on('shown', '.mui-popover', function (e) {
        //console.log('shown', e.detail.id);//detail为当前popover元素
    });
    mui('body').on('hidden', '.mui-popover', function (e) {
        //console.log('hidden', e.detail.id);//detail为当前popover元素
    });

    (function ($, doc) {
        $.ready(function () {
            var _getParam = function (obj, param) {
                return obj[param] || '';
            };
            // //级联示例
            // var cityPicker = new $.PopPicker({
            //     layer: 2
            // });
            // cityPicker.setData(cityData);
            // var showCityPickerButton = doc.getElementById('showCityPicker');
            // var cityResult = doc.getElementById('cityResult');
            // showCityPickerButton.addEventListener('tap', function (event) {
            //     cityPicker.show(function (items) {
            //         cityResult.innerText = items[0].text + "-" + items[1].text;
            //         //返回 false 可以阻止选择框的关闭
            //         //return false;
            //     });
            // }, false);
            ///级联示例
            var cityPicker3 = new $.PopPicker({
                layer: 3
            });
            cityPicker3.setData(cityData3);
            var showCityPickerButton = doc.getElementById('showCityPicker3');
            var cityResult3 = doc.getElementById('cityResult3');
            showCityPickerButton.addEventListener('tap', function (event) {
                cityPicker3.show(function (items) {
                    cityResult3.innerText = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(items[2], 'text');
                    //返回 false 可以阻止选择框的关闭
                    //return false;
                });
            }, false);

            //时间
            var result = $('#result')[0];
            var btns = $('.btn');
            btns.each(function (i, btn) {
                btn.addEventListener('tap', function () {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var id = this.getAttribute('id');
                    var picker = new $.DtPicker(options);

                    picker.show(function (rs) {
                        result.innerText = rs.text;
                        picker.dispose();
                    });
                }, false);
            });

        });
    })(mui, document);

    //弹出框选择
    $(function(){
        // 课程类型
        $(".lessonType").click(function(){
            var lessonType = $(this).html();
            $(".lessonTypeCont").html(lessonType);
            mui("#lessonType").popover("toggle");
       })
        // 训练地点
        $(".trainLocation").click(function(){
            var trainLocation = $(this).html();
            $(".trainLocationCont").html(trainLocation);
            mui("#trainLocation").popover("toggle");
       })
        // 主教练
        $(".mainCoach,.mainFans").click(function(){
            var mainCoach = $(this).html();
            var mainFans = $(this).html();
            $(".mainCoachCont").html(mainCoach);
            $(".mainCoachCont").html(mainFans);
            mui("#mainCoach").popover("toggle");
       })
        // 助理教练
        $(".assistantCoach,.assistantFans").click(function(){
            var assistantCoach = $(this).html();
            var assistantFans = $(this).html();
            $(".assistantCoachCont").html(assistantCoach);
             $(".assistantCoachCont").html(assistantFans);
            mui("#assistantCoach").popover("toggle");
       })
        // 班主任
        $(".headMaster").click(function(){
            var headMaster = $(this).html();
            $(".headMasterCont").html(headMaster);
            mui("#headMaster").popover("toggle");
       })
        // 领队
        $(".leader").click(function(){
            var leader = $(this).html();
            $(".leaderCont").html(leader);
            mui("#leader").popover("toggle");
       })
    })
</script>
</html>