<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>邀请加入课程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
</head>

<body class=whitebg>


<!--首页-->
<div class="mui-content">

    <!--课程详情页-->
    <div class="mui-content">
        <div class="course-list">
            <img src="/static/frontend/images/yuantiao.jpg" alt="">
            <ul class="mui-table-view mb" style="margin-top: -4px">
                <li class="mui-table-view-cell mui-media course-listli" style="padding:11px 15px;">
                    <a href="javascript:;">
                        <div class="mui-media-body">
                            {$lessonInfo.lesson}
                            <p class="mui-ellipsis">[{$lessonInfo.gradecate}]</p>
                        </div>
                        <div class="price-frame">
                            <p class="price">￥0<span>元/课时</span></p>
                        </div>
                    </a>
                </li>
            </ul>

            <ul class="mui-table-view">
                <li class="mui-table-view-cell course-detailsli">选择课量
                    <span>
                        <button type="button" class="mui-btn mui-btn-warning">0节</button>
                    </span>
                </li>
                <li class="mui-table-view-cell course-detailsli">
                    <a class="mui-navigate-right">
                        所属训练营<span>{$lessonInfo.camp}</span>
                    </a>
                </li>
                <li class="mui-table-view-cell course-detailsli">训练时间<span>{$lessonInfo.week} {$lessonInfo.lesson_time} </span></li>
                <li class="mui-table-view-cell course-detailsli">训练地点<span>{$lessonInfo.court}</span></li>
                <li class="mui-table-view-cell course-detailsli">所属地区<span>{$lessonInfo.province} {$lessonInfo.city} {$lessonInfo.area}</span></li>
                <li class="mui-table-view-cell course-detailsli">具体地址<span>{$lessonInfo.location}</span></li>
                <li class="mui-table-view-cell course-detailsli">人数范围<span>{$lessonInfo.min}-{$lessonInfo.max}人</span></li>
                <li class="mui-table-view-cell course-detailsli">主教练<span>{$lessonInfo.coach}</span></li>
                <li class="mui-table-view-cell course-detailsli">备注<span>{$lessonInfo.remarks}</span></li>
            </ul>

            <ul class="mui-table-view operation">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 opli"><a href="tel:{$lessonInfo.telephone}"><span class="mui-icon mui-icon-phone"></span>电话咨询</a></li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 opli bggreen"><a href="{:url('lesson/comfirmBill',['camp_id'=>$lessonInfo['camp_id']])}">加入课程</a></li>
            </ul>

        </div>
    </div>

</div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

</script>
</html>