<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css" />
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css" />
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--自定义多色图标icon.js-->
    <script src="/static/frontend/iconfont/iconfont.js"></script>
    <style type="text/css">
        .coloricon {
            width: 2.3em;
            height: 2.3em;
            vertical-align: -0.7em;
            fill: currentColor;
            overflow: hidden;
        }

        .goConfirm .mui-media-body {
            height: 24px !important;
            line-height: 24px !important;
        }

        .listli span {
            font-size: 12px;
            color: #999;
        }

        .shenghe span {
            border-radius: 5px;
            background-color: #62a60a;
            width: auto !important;
            color: #FFF;
            font-size: 10px;
            padding: 0px 6px;

        }

        .shenghe span.wSheng {
            background-color: #F90 !important;
        }

        .nav-list .nav-list-frame .navli {
            width: 20%;
            padding: 2px 0;
            border: 0;
        }
    </style>
</head>

<body>

    <div class="mui-content">

        <div id="tabbar" class="mui-control-content mui-active coach">
            <!--设置页面-->
            <!-- <div class="member-setup goConfirm" data-href="{:url('member/memberSetup')}"><span class="icon iconfont icon-personal-Setup"></span></div> -->
            <!--操作模块-->
            <div class="coach-info">
                <ul class="mui-table-view mui-grid-view mui-grid-9">
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="#">
                            <span class="num">{$memberInfo['level']}</span>
                            <div class="f12">阶衔</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="#">
                            <img class="coachicon" src="{$memberInfo['avatar']}" style="border: 1px solid #4e4e4e;">
                            <div class="f16">{$memberInfo['member']}</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="#">
                            <span class="num">{$memberInfo['level']}</span>
                            <div class="f12">等级</div>
                        </a>
                    </li>
                </ul>
                <p class="coachid f12">ID:{$memberInfo['hot_id']}</p>
            </div>
            <!--图文导航-->
            <div class="nav-list mb">
                <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame ptb4">
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 navli">
                        <div class="goConfirm" data-href="{:url('score/myScore',['member_id'=>$memberInfo['id']])}">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-personal-integral"></use>
                            </svg>
                            <div class="mui-media-body mb">积分</div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 navli">
                        <div class="goConfirm" data-href="{:url('member/myWallet',['member_id'=>$memberInfo['id']])}">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-personal-balance"></use>
                            </svg>
                            <div class="mui-media-body mb">钱包</div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 navli">
                        <div class="goConfirm" data-href="{:url('frontend/Coupon/itemCouponList')}">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-personal-coupon"></use>
                            </svg>
                            <!-- <span class="icon iconfont icon-training-management"></span> -->
                            <div class="mui-media-body mb">卡券</div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 navli">
                        <div class="goConfirm" data-href="{:url('bill/billList')}?member_id={$memberInfo['id']}">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-personal-order"></use>
                            </svg>
                            <div class="mui-media-body mb">订单</div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 navli">
                        <div class="goConfirm" data-href="{:url('keeper/Member/memberCenter')}">
                            <svg class="coloricon" aria-hidden="true">
                                <use xlink:href="#icon-personal-order"></use>
                            </svg>
                            <div class="mui-media-body mb">会员中心</div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--个人信息-->
            <ul class="mui-table-view list detalis-list" style="margin-bottom: 12px !important;">
                <li class="mui-table-view-cell listli listinitial">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('member/memberInfo')}">
                        会员档案
                    </div>
                </li>
                <li class="mui-table-view-cell listli listinitial">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('member/photoAlbum',['member_id'=>$memberInfo['id']])}">
                        相册
                    </div>
                </li>
                <li class="mui-table-view-cell listli listinitial">
                    <div class="mui-navigate-right goConfirm" data-href="">
                        收藏
                    </div>
                </li>
            </ul>
            {gt name="memberInfo.id" value="0"}
            <ul class="mui-table-view list detalis-list" style="margin-bottom: 12px !important;">

                <!--教练-->
                {if condition="$coach"}
                <li class="mui-table-view-cell listli listinitial shenghe">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('coach/updatecoach')}">教练员认证
                        <span class="{if $coach.status=='已审核'}ySheng{/if}">{$coach.status}</span>
                    </div>
                </li>
                {/if}

                <!--创建训练营-->
                {if condition="$camp"}
                <li class="mui-table-view-cell listli listinitial shenghe">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('camp/campsetting', ['camp_id' => $camp['id']])}?from={:url('member/index')}">训练营认证
                        <span class="{if $camp.status=='已审核'}ySheng{/if}">{$camp.status}</span>
                    </div>
                </li>
                {/if}
            </ul>
            {/gt}
            <ul class="mui-table-view list detalis-list" style="margin-bottom: 12px !important;">
                <li class="mui-table-view-cell listli listinitial">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('member/memberInfo')}">
                        邀请记录
                    </div>
                </li>
                <li class="mui-table-view-cell listli listinitial">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('member/share')}">
                        推荐
                    </div>
                </li>
                <li class="mui-table-view-cell listli listinitial">
                    <div class="mui-navigate-right goConfirm" data-href="">
                        关注
                    </div>
                </li>
            </ul>

            <!-- <div class="page-header">
                <span class="course">
                    <b>查看身份</b>
                </span>
            </div> -->
            <ul class="mui-table-view list detalis-list mb" style="margin-bottom: 12px !important;">
                <!-- <li class="mui-table-view-cell listli listinitial ">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('member/myCamp',['type'=>-1])}">
                        粉丝
                    </div>
                </li> -->
                <li class="mui-table-view-cell listli listinitial ">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('member/myCamp',['type'=>1])}">
                        学员
                    </div>
                </li>
                <li class="mui-table-view-cell listli listinitial">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('member/myCamp',['type'=>2])}">
                        教练
                    </div>
                </li>
                <!-- <li class="mui-table-view-cell listli listinitial">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('member/myCamp',['type'=>3])}">
                        管理员
                    </div>
                </li>
                <li class="mui-table-view-cell listli listinitial">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('member/myCamp',['type'=>4])}">
                        营主
                    </div>
                </li> -->
            </ul>

            <ul class="mui-table-view list mb" style="margin-bottom: 12px !important;">
                <li class="mui-table-view-cell listli">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('keeper/Member/customer')}">
                        客服中心
                    </div>
                </li>
                <li class="mui-table-view-cell listli">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('article/articleList')}/?organ_type=1&organ_id=0&category=1&organ_name=篮球管家">
                        操作指南
                    </div>
                </li>
            </ul>

            <ul class="mui-table-view list mt55">
                <li class="mui-table-view-cell listli listinitial">
                    <div class="mui-navigate-right goConfirm" data-href="{:url('member/memberSetup')}">
                        个人设置
                    </div>
                </li>
            </ul>

        </div>


        <!--底部导航-->
        {layout name="Layout/footer"}
    </div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    //轮播
    var slider = mui("#slider");
    slider.slider({
        interval: 5000
    });

    $(function () {

        //未开发提示
        $(".goConfirmIcon").click(function () {
            mui.toast('暂未开放，敬请期待');
        })

        //搜索子页：搜索提交
        $(".goConfirm").click(function () {
            var goUrl = $(this).attr("data-href");
            if ("{$memberInfo.id}" <= 0) {
                mui.confirm('请完善您的信息，以便进行后续操作，谢谢！', '提示', ['取消', '前往完善'], function (e) {
                    if (e.index === 1) {
                        window.location.href = "{$fasturl}";
                    }
                });
            } else {
                window.top.location.href = goUrl;
            }
        })

    })



</script>

</html>