<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>个人资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <style>
        .tipspan{
            font-size: 14px;
            text-align: center;
            display: block;
            padding: 10px;
            height: 41px;
        }
    </style>
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">修改密码</h1>
    </header>

    <div class="mui-content">

        <div class="page-header">
        <div class="course">密码设置</div>
        </div>

        <form action="" class="mui-input-group ">
            <div class="mui-input-row">
                <label>原密码</label>
                <input type="text" class="reg_password" placeholder="请输入原密码">
            </div>
            <div class="mui-input-row">
                <label>新密码</label>
                <input type="text" class="reg_password" placeholder="请输入新密码">
            </div>
            <div class="mui-input-row">
                <label>确认密码</label>
                <input type="text" class="reg_confirm" placeholder="请输入确认密码">
            </div>
        </form>
        <span class="tipspan password_hint confirm_hint"></span>
        <div class="tjbtn tjbtn-next">
            <button type="button" class="btn">
                修改
            </button>
        </div>

    </div>


    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/libs/yzvalidate.js"></script>
    <script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>
</body>
</html>