<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>个人资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <style>
        .tipspan{
            font-size: 14px;
            text-align: center;
            display: block;
            padding: 10px;
            height: 41px;
        }
        .success{
            padding: 20px 0;
            width: 60%;
            margin: 0 auto;
        }
        .success img{
            width: 40px;
            height: 40px;
        }
        .success span{
            float: right;
            line-height: 40px;
        }
    </style>
</head>

<body>

    <div class="mui-content">

        <!-- 第一步 -->
        <div class="step1">
           <header class="mui-bar mui-bar-nav subheader">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
            <h1 class="mui-title">更换手机号绑定</h1>
        </header>
        <div class="page-header mt44">
            <div class="course">验证原手机</div>
        </div>
        <form action="" class="mui-input-group ">
            <div class="mui-input-row">
                <label>原手机号码</label>
                <span>13526514467</span>
            </div>

            <div class="mui-input-row">
                <label>短信验证码</label>
                <input type="button" class="code-btn" value="获取验证码" >
                <input id="code" type="text" class="input verification reg_validate" placeholder="输入验证码" style="width: 40%;">
            </div>

        </form>
        <span class="tipspan mobile_hint validate_hint"></span>
        <div class="tjbtn tjbtn-next">
            <button type="button" class="btn stepBtn1">
                下一步
            </button>
        </div>
    </div>



    <!-- 第二步 -->
    <div class="step2" style="display: none;">
       <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-icon mui-icon-left-nav mui-pull-left arrow backstep1"></a>
        <h1 class="mui-title">更换手机号绑定</h1>
    </header>
    <div class="page-header mt44">
        <div class="course">验证新手机</div>
    </div>
    <form action="" class="mui-input-group ">
        <div class="mui-input-row">
            <label>新手机号码</label>
            <input type="text" name="" class="reg_mobile" value="" placeholder="请输入新手机号码">
        </div>

        <div class="mui-input-row">
            <label>短信验证码</label>
            <input type="button" class="code-btn" value="获取验证码" >
            <input id="code" type="text" class="input verification reg_validate" placeholder="输入验证码" style="width: 40%;">
        </div>

    </form>
    <span class="tipspan mobile_hint validate_hint"></span>
    <div class="tjbtn tjbtn-next">
        <button type="button" class="btn stepBtn2">
            确定更换
        </button>
    </div>
</div>

<div class="step3" style="display: none">
<header class="mui-bar mui-bar-nav subheader">
        <a class="mui-icon mui-icon-left-nav mui-pull-left arrow backstep"></a>
        <h1 class="mui-title">更换手机号绑定</h1>
    </header>
    <ul class="mui-table-view mb success-frame mt44" style="overflow: hidden;">
        <div class="success">
            <img src="/static/frontend/images/icon01.jpg" alt="">
            <span class="colorgreen">手机号更换成功</span>
        </div>
    </ul>
</div>

</div>


<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script src="/static/frontend/libs/yzvalidate.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    $(function () {
        // 1
        $(".stepBtn1").click(function () {
            $(".step1").hide();
            $(".step2").show();
        });
        $(".backstep1").click(function(){
            $(".step2").hide();
            $(".step1").show();
        })
        // 2
        $(".stepBtn2").click(function () {
            $(".step2").hide();
            $(".step3").show();
        })
        // 3
         $(".backstep").click(function(){
            window.location.href="{:url('member/membersetup')}"
        })
    })
</script>
</body>
</html>