<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>家庭成员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style type="text/css">

        .mui-row {
            padding: 15px;
            background-color: #FFF;
            margin: 0px 0px 5px;
        }
    </style>
</head>

<body class="whitebg">

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title f12">
        {if $familyInfo.member_id==$memberInfo.id}
            我邀请的
        {else/}
            邀请我的
        {/if}
    </h1>
    </header>

    <div class="mui-content">
        
            <ul class="mui-row">
                <li class="mui-col-xs-2 mui-col-sm-2">
                    <img src="{$memberInfo.avatar}" class="img50">
                </li>
                <li class="mui-col-xs-6 mui-col-sm-6" style="padding: 5px 10px">
                    <text class="f16">{$memberInfo.member}</text> <i class="icon iconfont icon-sex{$memberInfo.sex}"></i><br />
                    <text class="f12 colorgray">昵称：{$memberInfo.nickname}</text>
                </li>
                <li class="mui-col-xs-4 mui-col-sm-4 mui-text-right">
                    <span class="f12">{$memberInfo['city']} {$memberInfo['area']}</span>
                </li>
            </ul>


            <div class="page-header">
                <span class="course"><b>某某训练营1</b></span>
            </div>
            <ul class="mui-table-view list detalis-list">
                <li class="mui-table-view-cell listli listinitial ">
                    <a class="mui-navigate-right" href="{:url('student/studentInfoOfCamp')}">
                    某某学生名1
                    </a>
                </li>
                <li class="mui-table-view-cell listli listinitial ">
                    <a class="mui-navigate-right" href="{:url('student/studentInfoOfCamp')}">
                    某某学生名2
                    </a>
                </li>
            </ul>

            <div class="page-header">
                <span class="course"><b>某某训练营2</b></span>
            </div>
            <ul class="mui-table-view list detalis-list">
                <li class="mui-table-view-cell listli listinitial ">
                    <a class="mui-navigate-right" href="{:url('student/studentInfoOfCamp')}">
                    某某学生名3
                    </a>
                </li>
            </ul>



    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        $(function () {


        })

       
    </script>
</body>

</html>