<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>我的钱包</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css"/>
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/app.css"/>
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <style>
        .mui-iframe-wrapper {
            display: none;
            z-index: 9999;
            height: 300px;
        }
    </style>
</head>

<body class=whitebg>
<header id="header" class="mui-bar mui-bar-nav subheader subheader-other">
    <a class="mui-icon mui-icon-left-nav mui-pull-left arrow" href="{:url('member/index')}"></a>
    <h1 class="mui-title">我的钱包</h1>
</header>
<div class="mui-content" style="padding: 0">

    <div class="list camp-list camp-lesson-list detalis-list coach mine">
        <div class="wallet-show bggreen">
            <p><img src="/static/frontend/images/money.png" alt=""></p>
            <p>我的余额</p>
            <p>￥{$memberInfo['balance']}</p>
            <p class="f12">冻结金额(￥{$buffer})</p>
        </div>
        <div class="nav-list mb">
            <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#" class="goCharge">
                        <span>充值</span>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="{:url('member/withdraw')}">
                        <span>提现</span>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="{:url('member/salaryDetail',['member_id'=>$memberInfo['id']])}">
                        <span>收支</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mui-text-center whitebg" style="padding-top: 80px">
        <p><i class="icon iconfont icon-logo-line" style="font-size: 6em;"></i></p>

        <p>我的热币</p>
        <p class="colororange" style="font-size: 1.8em">888</p>
        <br /><br />
        <a href="{:url('member/myHotcoin',['member_id'=>$memberInfo['id']])}">
            <button type="button" class="btn">热币详情</button>
        </a>
    </div>

</div>

</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script src="/static/frontend/js/wooApi.js"></script>
<script>


    //初始化
    mui.init({
        swipeBack: false,
        statusBarBackground: '#f7f7f7',
        gestureConfig: {
            doubletap: true
        },
        subpages: [{
            id: "charge",
            url: "{:url('member/charge')}",
            styles: {
                top: 'auto',
                bottom: '0',
                bounce: 'vertical'
            }
        }]
    });

    var chargeType = "";
    var total = wooApi.GetQueryString('total');

    $(function () {

        if(total!=""&&total!=null){
            mask.show();
            $('.mui-iframe-wrapper').show();
            //看看如何将total值放入webview充值窗口里
        }

        $(".goCharge").click(function () {
            mask.show();
            $('.mui-iframe-wrapper').show();
        })

        //未开放提示
        $(".goConfirm").click(function () {
            mui.toast('暂未开放，敬请期待');
        })

    });


    var mask = mui.createMask(function(){
        $('.mui-iframe-wrapper').hide();
    });

    var closeWindow = function () {
        mask.close();
        $('.mui-iframe-wrapper').hide();
    };

    var reloadWindow = function () {
        location.reload();
    };


</script>
</html>
