{extend name="layout/common"/}
{block name="css"}
<style>
</style>
{/block}
{block name="page-content"}

<p>==================课程=================</p>
{volist name="lessonBill" id="vol"}
	<p>课程:{$vol.goods} &nbsp;&nbsp;&nbsp;&nbsp; 交费次数:{$vol.c_id} &nbsp;&nbsp;&nbsp;&nbsp; 交费金额: {$vol.total_pay}</p>
{/volist}

<p>==================活动=================</p>
{volist name="eventBill" id="vol"}
	<p>活动:{$vol.goods} &nbsp;&nbsp;&nbsp;&nbsp; 交费次数:{$vol.c_id} &nbsp;&nbsp;&nbsp;&nbsp; 交费金额: {$vol.total_pay}</p>
{/volist}



{/block}


{block name='js'}
{/block}