{extend name="layout/common"/}

{block name="page-content"}


<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-aqua"><i class="icon iconfont icon-training-wage"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">总收益</span>
				<span class="info-box-number">28960<small></small></span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-red"><i class="icon iconfont icon-training-giveaway"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">赠课总人次</span>
				<span class="info-box-number">1,410</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->

	<!-- fix for small devices only -->
	<div class="clearfix visible-sm-block"></div>

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-green"><i class="icon iconfont icon-team-member"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">学员上课总人次</span>
				<span class="info-box-number">760</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-yellow"><i class="icon iconfont icon-training-record"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">总课时</span>
				<span class="info-box-number">2,000</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
</div>

<section class="content">

	<div class="row">
		<div class="col-md-6">
			<!-- AREA CHART -->
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">学员分布（训练点） </h3>
				</div>
				<div class="box-body">
					<div class="hotChart">
						<canvas id="canvasLocation" width="550" height="500"></canvas>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<div class="col-md-6">
			<!-- AREA CHART -->
			<div class="box box-success">
				<div class="box-header with-border">
					<h3 class="box-title">课程购买（占比） </h3>
				</div>
				<div class="box-body">
					<div class="hotChart">
						<canvas id="canvasLesson" width="550" height="500"></canvas>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">

			<!-- LINE CHART -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">营业额折线图（本月）</h3>
				</div>
				<div class="box-body">
					<div class="hotChart">
						<canvas id="turnoverMonth" width="550" height="500"></canvas>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->


		</div>
		<!-- /.col (LEFT) -->
		<div class="col-md-6">

			<!-- LINE CHART -->
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">营业额折线图（本年）</h3>
				</div>
				<div class="box-body">
					<div class="hotChart">
						<canvas id="turnoverYear" width="550" height="500"></canvas>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

		</div>
		<!-- /.col (RIGHT) -->
	</div>
	<!-- /.row -->

	<div>
	</div>



	<div class="row">
		<div class="col-md-6">
			<div class="box">
				<div class="box-header with-border">
					<h4> 本月收入</h4>
				</div>
				<div class="box-body">
					<table class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
						<thead>
						<tr role="row">
							<th>类型</th>
							<th>金额</th>
						</tr>
						</thead>
						<tbody>
						<tr role="row" class="odd">
							<td>课程学费：</td>
							<td>228800</td>
						</tr>
						<tr role="row" class="odd">
							<td>活动费：</td>
							<td>40000</td>
						</tr>
						</tbody>
						<tfoot>
						<tr role="row">
							<th>合计</th>
							<th class="inTotal">￥268800</th>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>

			<div class="box">
				<div class="box-header with-border">
					<h4> 本月提现</h4>
				</div>
				<div class="box-body">
					<table class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
						<thead>
						<tr role="row">
							<th>类型</th>
							<th>金额</th>
						</tr>
						</thead>
						<tbody>
						<tr role="row" class="odd">
							<td>提现：</td>
							<td>0</td>
						</tr>
						</tbody>
						<tfoot>
						<tr role="row">
							<th>合计</th>
							<th class="inTotal">￥0</th>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box">
				<div class="box-header with-border">
					<h4> 本月支出</h4>
				</div>
				<div class="box-body">
					<table class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
						<thead>
						<tr role="row">
							<th>类型</th>
							<th>金额</th>
						</tr>
						</thead>
						<tbody>
						<tr role="row">
							<td>教练工资</td>
							<td>57750</td>
						</tr>
						<tr role="row">
							<td>赠课支出</td>
							<td>15000</td>
						</tr>
						<tr role="row">
							<td>课时退费</td>
							<td>0</td>
						</tr>
						<tr role="row">
							<td>平台分成</td>
							<td></td>
						</tr>
						<tr role="row">
							<td>其他</td>
							<td>0</td>
						</tr>
						</tbody>
						<tfoot>
						<tr role="row">
							<th>合计</th>
							<th class="eIDTotal">￥72750</th>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>

{/block}

{block name='js'}

<script src="/static/plugins/echart/echarts.min.js"></script>
<script src="/static/plugins/echart/hot.js"></script>

<script type="text/javascript">


    /////////////////////////////////////////////////////////////////////////////////////// 营业额折线图（本月）

    // 基于准备好的dom，初始化echarts实例
    var turnoverMonth = echarts.init(document.getElementById('turnoverMonth'),'hot');

    // 指定图表的配置项和数据
    optionTM = {
        title: {
            text: '2018年3月营业额折线图'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['培训','活动']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20','21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'培训购买',
                type:'line',
                data:[10000, 20000, 10000, 20000, 10500, 10000, 20000, 20000, 10400, 10000, 20000, 20000, 10000, 20000, 10000, 20000, 10000, 10000, 20000, 30000, 20000, 10000, 10000, 20000, 20000, 10000, 20000, 30000, 20000, 10000, 10000]
            },
            {
                name:'活动购买',
                type:'line',
                data:[1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1200, 1000, 1000, 1000, 1100, 1200, 1000, 1500, 1000, 1000, 1000, 1000, 1000, 1020, 1000, 1000, 1000, 1000, 1100]
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    turnoverMonth.setOption(optionTM);


    /////////////////////////////////////////////////////////////////////////////////////// 营业额折线图（本年）

    // 基于准备好的dom，初始化echarts实例
    var turnoverYear = echarts.init(document.getElementById('turnoverYear'),'hot');

    // 指定图表的配置项和数据
    optionTY = {
        title: {
            text: '2018 营业额折线图'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['培训','活动']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'培训购买',
                type:'line',
                data:[10000, 20000, 30000, 30000, 20000, 100000, 10000, 20000, 30000, 40000, 50000, 60000, 70000]
            },
            {
                name:'活动购买',
                type:'line',
                data:[10000, 10000, 10000, 10000, 10000, 20000, 20000, 10000, 10000, 10000, 10000, 10000, 10000]
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    turnoverYear.setOption(optionTY);


    /////////////////////////////////////////////////////////////////////////////////////// 学员分布


    // 基于准备好的dom，初始化echarts实例
    var canvasLocation = echarts.init(document.getElementById('canvasLocation'),'hot');

    // 指定图表的配置项和数据
    optionLCT = {
        title : {
            text: '学生训练点分布',
            subtext: '5个训练点',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['前海北头','鼎泰风华','南山小学','南外二小','松坪小学']
        },
        series : [
            {
                name: '学生分布',
                type: 'pie',
                radius : '55%',
                center: ['50%', '50%'],
                data:[
                    {value:335, name:'前海北头'},
                    {value:310, name:'鼎泰风华'},
                    {value:234, name:'南山小学'},
                    {value:135, name:'南外二小'},
                    {value:1548, name:'松坪小学'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    canvasLocation.setOption(optionLCT);

    /////////////////////////////////////////////////////////////////////////////////////// 学员分布


    // 基于准备好的dom，初始化echarts实例
    var canvasLesson = echarts.init(document.getElementById('canvasLesson'),'hot');

    // 指定图表的配置项和数据
    optionLS = {
        title : {
            text: '课程购买饼图',
            subtext: '5个课程',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['北头室外课程','鼎泰小学基础班','南小课后班','南外大课间','大热常规班']
        },
        series : [
            {
                name: '学生分布',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:[
                    {value:335, name:'北头室外课程'},
                    {value:310, name:'鼎泰小学基础班'},
                    {value:234, name:'南小课后班'},
                    {value:135, name:'南外大课间'},
                    {value:1548, name:'大热常规班'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    canvasLesson.setOption(optionLS);


    //调整canvas尺寸

</script>



{/block}
