{extend name="layout/common"/}
{block name="css"}
<style>
</style>
{/block}
{block name="page-content"}

{volist name="schedulList" id="vol"}
	<p>上课时间: {$vol.lesson_time|date="Y-m-d",###} &nbsp;&nbsp;&nbsp;&nbsp;
		班级:{$vol.grade} &nbsp;&nbsp;&nbsp;&nbsp;
		正式学员人数:{$vol.students} &nbsp;&nbsp;&nbsp;&nbsp;
		学员名单:{$vol.grade} &nbsp;&nbsp;&nbsp;&nbsp;
		<br>
		<strong>
		计算规则:总课时费{$vol.cost*$vol.students}-[主教练底薪{$vol.coach_salary}+助教底薪{$vol.assistant_salary}*助教人数
		<?php 
			$total_assistant = 0;
			if($vol['assistant']){
				$total_assistant = count(unserialize($vol['assistant']));
			} 
			echo $total_assistant;
		?> 
		+ 教练人数(1+{$total_assistant})*人头基数{$vol.salary_base}*学生总数{$vol.students}+平台分成{$vol.cost*$vol.students*$vol.schedule_rebate}]&nbsp;&nbsp;&nbsp;&nbsp;</strong>
		<br>
		金额:{$vol.schedule_income}
	</p>
{/volist}
{/block}


{block name='js'}
{/block}