<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>训练项目列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav for-tab">
        <div class="camp-lesson-list">
            <div id="segmentedControl" class="mui-segmented-control mb">
                <a class="mui-control-item" href="{:url('plan/planList',['camp_id'=>$camp_id])}">教案</a>
                <a class="mui-control-item mui-active" href="{:url('exercise/exerciseList',['camp_id'=>$camp_id])}">训练项目</a>
            </div>
        </div>

        <div class="mui-segmented-control seg-control whitebg" style="margin:10px;">
            <a class="mui-control-item" href="#onlineExerciseList">平台项目库</a>
            <a class="mui-control-item mui-active" href="#offlineExerciseList">我的项目库</a>
            <a class="mui-control-item" href="{:url('Exercise/createExercise',['camp_id'=>$camp_id])}">添加项目</a>
        </div>

    </header>

    <div class="mui-content" style="padding-top:100px;">

        <div class="tab-pullRefresh">
            <div id="onlineExerciseList" class="mui-control-content">
                <div class="sysList">
                    <div class="page-header">
                        <span class="course"><b>热身游戏</b></span>
                    </div>
                    <ul class="mui-table-view detalis-list list">
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="{:url('exercise/exerciseInfo')}" class="mui-navigate-right">
                                贴报纸跑(无球,运球)
                            </a>
                        </li>
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="" class="mui-navigate-right">
                                躲避报纸(橄榄球)
                            </a>
                        </li>
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="" class="mui-navigate-right">
                                穿越(无球,运球)
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sysList">
                    <div class="page-header">
                        <span class="course"><b>热身游戏</b></span>
                    </div>
                    <ul class="mui-table-view detalis-list list">
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="{:url('exercise/exerciseInfo')}" class="mui-navigate-right">
                                贴报纸跑(无球,运球)
                            </a>
                        </li>
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="" class="mui-navigate-right">
                                躲避报纸(橄榄球)
                            </a>
                        </li>
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="" class="mui-navigate-right">
                                穿越(无球,运球)
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sysList">
                    <div class="page-header">
                        <span class="course"><b>热身游戏</b></span>
                    </div>
                    <ul class="mui-table-view detalis-list list">
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="{:url('exercise/exerciseInfo')}" class="mui-navigate-right">
                                贴报纸跑(无球,运球)
                            </a>
                        </li>
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="" class="mui-navigate-right">
                                躲避报纸(橄榄球)
                            </a>
                        </li>
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="" class="mui-navigate-right">
                                穿越(无球,运球)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="offlineExerciseList" class="mui-control-content  mui-active">
                <div class="mui-scroll">
                    <ul class="mui-table-view detalis-list list border-b exercise2"></ul>
                </div>
            </div>
        </div>

    </div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script src="/static/frontend/js/wooApi.js"></script>
<script src="/static/frontend/js/common.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    mui("body").on("tap", "a", function () {
        window.top.location.href = this.href;
    });

    $(function () {

        //初始化全局变量

        toList('sysExerciseList', 0); //平台训练项目
        toList('myExerciseList', "{$camp_id}"); //平台训练项目

    })

    //自定义项目
    var toList = function (wList, page, gType, status) {
        //搜索关键字不能完全为空，否则查询为空
        var url = "{:url('api/exercise/getExerciseListApi')}";
        var camp_id = "{$camp_id}";
        mui.ajax({
            url: url,
            data: {
                camp_id: camp_id
            },
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: { 'Content-Type': 'application/json' },
            success: function (data) {
                console.log(data)
                var newli = '';
                if (data.code == 200) {
                    for (var i = 0; i <= data.data.data.length - 1; i++) {
                        var urls = "{:url('Exercise/exerciseInfo')}" + '/exercise_id/' + data.data.data[i].id ;
                        newli += '<li class="mui-table-view-cell listli "><a class="mui-navigate-right" href="' + urls + '"><div class="list-cont"><h5>' + data.data.data[i].exercise + '</h5><p>' + data.data.data[i].exercise_setion + '</p></div></a></li>';
                    }
                }


                if (gType == 1) {
                    //上拉刷新
                    $("ul.exercise2").empty().append(newli);

                    if (newli == '') {
                        $("ul.exercise2").append('<li class="nodata"><p>没有相关数据哦</p></li>');
                    }
                } else {
                    //下拉加载 gType==2
                    $("ul.exercise2").append(newli);
                }


            },
            error: function (xhr, type, errerThrown) {
                mui.toast('网络异常,请稍候再试');
                mui('#' + wList).pullRefresh().endPullupToRefresh(true);
            }
        });
    };

</script>

</html>