<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>训练项目列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav for-tab">
        <div class="camp-lesson-list">
            <div id="segmentedControl" class="mui-segmented-control mb">
                <a class="mui-control-item" href="{:url('plan/planList',['camp_id'=>$camp_id])}">教案</a>
                <a class="mui-control-item mui-active" href="{:url('exercise/exerciseList',['camp_id'=>$camp_id])}">训练项目</a>
            </div>
        </div>
        <div class="mui-segmented-control seg-control whitebg">
            <a class="mui-control-item" href="#onlineExerciseList">平台项目</a>
            <a class="mui-control-item mui-active" href="#offlineExerciseList">自定义项目</a>
            <a class="mui-control-item" href="{:url('Exercise/createExercise',['camp_id'=>$camp_id])}">添加项目</a>
        </div>
    </header>

    <div class="mui-content">

        <div class="tab-pullRefresh">
            <div id="onlineExerciseList" class="mui-scroll-wrapper mui-control-content" style="top: 80px">
                <div class="mui-scroll">
                    <ul class="mui-table-view detalis-list list border-b exercise1">
                        <div class="page-header">
                        <span class="course"><b>热身游戏</b></span>
                    </div>
                    <ul class="mui-table-view mb">
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="{:url('exercise/exerciseInfo')}" class="mui-navigate-right">
                                    贴报纸跑(无球,运球)
                                </a>
                        </li>
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="" class="mui-navigate-right">
                                    躲避报纸(橄榄球)
                                </a>
                        </li>
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="" class="mui-navigate-right">
                                    穿越(无球,运球)
                                </a>
                        </li>
                    </ul>
                    <div class="page-header">
                        <span class="course"><b>传球</b></span>
                    </div>
                    <ul class="mui-table-view mb">
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="" class="mui-navigate-right">
                                    摆脱防守传接球
                                </a>
                        </li>
                        <li class="mui-table-view-cell listli detalisli">
                            <a href="" class="mui-navigate-right">
                                    踩呼啦圈传球
                                </a>
                        </li>
                    </ul>
                    <div class="page-header">
                        <span class="course"><b>行进间运球</b></span>
                    </div>
                    <ul class="mui-table-view mb">
                        <li class="mui-table-view-cell listli detalisli">
                            <a class="mui-navigate-right">手拉手运球</a>
                        </li>
                    </ul>
                    </ul>
                </div>
            </div>
            <div id="offlineExerciseList" class="mui-scroll-wrapper mui-control-content  mui-active" style="top: 80px">
                <div class="mui-scroll">
                    <ul class="mui-table-view detalis-list list border-b exercise2"></ul>
                </div>
            </div>
        </div>

    </div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script src="/static/frontend/js/wooApi.js"></script>
<script src="/static/frontend/js/common.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    mui("body").on("tap", "a", function () {
        window.top.location.href = this.href;
    });

    $(function () {

        //初始化全局变量
        var offCount = 1;

        mui('#offlineExerciseList').pullRefresh({
            down: {
                //下拉刷新
                height: 50,//可选.默认50.触发下拉刷新拖动距离
                auto: true,//可选,默认false.自动下拉刷新一次
                contentdown: "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                contentover: "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                contentrefresh: "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                callback: pulldownRefreshOff
            },
            up: {
                //上拉加载
                height: 150,//可选.默认50.触发上拉加载拖动距离
                //auto:true,//可选,默认false.自动上拉加载一次
                contentrefresh: '正在加载...',
                contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                callback: pullupRefreshOff
            }
        });

        //下拉刷新具体业务实现（下架）
        function pulldownRefreshOff() {
            setTimeout(function () {
                offCount = 1;//刷新并显示第一页
                var page = offCount;
                var gType = 1;//代表下拉刷新
                toList('offlineExerciseList', page, gType);//具体取数据的方法
            }, 100);
        }

        //上拉加载具体业务实现（下架）
        function pullupRefreshOff() {
            setTimeout(function () {
                offCount++;//翻下一页
                var page = offCount;
                var gType = 2;//代表上拉加载
                toList('offlineExerciseList', page, gType);//具体取数据的方法
            }, 100);
        }

    })

    //自定义教案
    var toList = function (wList, page, gType, status) {
        //搜索关键字不能完全为空，否则查询为空
        var url = "{:url('api/exercise/getExerciseListByPageApi')}" + '/?page=' + page;
        var member = "{$memberInfo.member}";
        var member_id = "{$memberInfo.id}";
        mui.ajax({
            url: url,
            data: {
                member: member,
                member_id: member_id,
            },
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: { 'Content-Type': 'application/json' },
            success: function (data) {
                console.log(data)
                var newli = '';
                if (data.code == 200) {
                    for (var i = 0; i <= data.data.data.length - 1; i++) {
                        var urls = "{:url('Exercise/exerciseInfo')}" + '/exercise_id/' + data.data.data[i].id ;
                        newli += '<li class="mui-table-view-cell listli "><a class="mui-navigate-right" href="' + urls + '"><div class="list-cont"><h5>' + data.data.data[i].exercise + '</h5><p>' + data.data.data[i].exercise_detail + '</p></div></a></li>';
                    }
                }


                if (gType == 1) {
                    //上拉刷新
                    $("ul.exercise2").empty().append(newli);
                    mui('#' + wList).pullRefresh().endPulldownToRefresh();
                    mui('#' + wList).pullRefresh().refresh(true);
                    if (newli == '') {
                        $("ul.exercise2").append('<li class="nodata"><p>没有相关数据哦</p></li>');
                    }
                } else {
                    //下拉加载 gType==2
                    $("ul.exercise2").append(newli);
                }

                if (newli != '') {
                    mui('#' + wList).pullRefresh().endPullupToRefresh(false);
                } else {
                    mui('#' + wList).pullRefresh().endPullupToRefresh(true);
                }

            },
            error: function (xhr, type, errerThrown) {
                mui.toast('网络异常,请稍候再试');
                mui('#' + wList).pullRefresh().endPullupToRefresh(true);
            }
        });
    };

</script>

</html>