<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>训练项目详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
</head>

<body class=whitebg>

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-icon mui-icon-left-nav mui-pull-left arrow" href="{:url('exercise/exerciselist',['camp_id'=>$exerciseInfo['camp_id']])}">
            <span class="return">返回项目列表</span>
        </a>
    </header>

    <div class="mui-content whitebg">

        <div class="camp-list camp-lesson-list detalis-list grade-list editor program">
            <ul class="mui-table-view list">
                <li class="mui-table-view-cell mui-media listli listinitial">

                    <img class="mui-media-object mui-pull-left" src="/static/frontend/images/program.png" style="width: 45px !important;height: 45px !important; margin-right: 15px;">
                    <div class="mui-media-body wd52">
                        <strong>{$exerciseInfo.exercise}</strong>
                        <p class="mui-ellipsis" style="text-indent: 0">作者：{$exerciseInfo.member}</p>
                    </div>
                    {eq name="$power" value="1"}
                    <div class="price-frame">
                        <a href="{:url('exercise/updateexercise',['exercise_id'=>$exerciseInfo['id']])}" class="mui-navigate-right">
                            <span class="editor-btn">编辑</span>
                        </a>
                    </div>
                    {/eq}
                </li>
            </ul>


            <div class=program-view2>
                <span class=fl>类型：{$exerciseInfo.exercise_setion}</span>
                <span class=fr>{$exerciseInfo.camp}</span>
            </div>

            <ul class="mui-table-view list">
                <li class="mui-table-view-cell listli">项目要领
                    <span style="text-align: left">{$exerciseInfo.exercise_detail}</span>
                </li>
            </ul>

            <!--<div class="program-view5 border-b">-->
            <!--<div class="image-items">-->
            <!--<div class="imagef image">-->
            <!--视频区域-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!-- <div class="program-view6">
                <p>
                    <input type="checkbox" checked>对外开放
                </p>
            </div> -->
            {if $exerciseInfo.camp_id==0 }
            <ul class="mui-table-view operation">
                <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen" onclick="submitAction()">
                    添加到训练营项目库
                </li>
            </ul>
            {/if}
        </div>
    </div>


</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    $(function () {
//        addShow();
    })

    // 获取数据并进行提交
    function submitAction() {

        var objData=[];
        objData.member = "{$memberInfo.member}";
        objData.member_id = "{$memberInfo.id}";
        objData.camp = "{$campInfo.camp}";
        objData.camp_id = "{$campInfo.id}";
        objData.pid = "{$exerciseInfo.pid}";
        objData.exercise_setion = "{$exerciseInfo.exercise_setion}";
        objData.exercise = "{$exerciseInfo.exercise}";
        objData.exercise_detail = "{$exerciseInfo.exercise_detail}";
        var url = "{:url('api/Exercise/updateExerciseApi')}";
        var ajaxResult = wooApi.asyncF(url, objData);

        if (ajaxResult.code == 200) {
            mui.alert(ajaxResult.msg, '训练项目添加成功', '确定', function () {
                var goUrl = "{:url('exercise/exerciseList')}" + '/exercise_id/' + ajaxResult.data + '/camp_id/{$campInfo.id}';
                window.top.location.href = goUrl;
            })
        } else {
            mui.alert(ajaxResult.msg, '添加失败');
        }
    };


</script>

</html>