<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>编辑训练项目</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .mui-popover-arrow {
            left: auto;
            right: 6px;
        }

        .mui-input-row a {
            display: table;
            width: 100%;
        }
    </style>
</head>

<body>
    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow">
            <span class="return">返回</span>
        </a>
    </header>
    <div class="mui-content program mt">
        <input type="hidden" name="__token__" class="data" value="{$Request.token}" />
        <input type="hidden" name="exercise_id" class="data" value="{$ExerciseInfo.id}">
        <form class="mui-input-group">
            <div class="mui-input-row">
                <label>作者</label>
                <input type="text" name="{$memberInfo.member}" value="{$memberInfo.member}" disabled="1">
            </div>
            <div class="mui-input-row">
                <label>所属</label>
                <input type="text" name="camp" value="{$ExerciseInfo.camp}" class="data" disabled="1">
                <input type="hidden" name="camp_id" value="{$ExerciseInfo.camp_id}" class="data">
            </div>

            <div class="mui-input-row">
                <a href="#" class="mui-navigate-right">
                    <label>项目类型</label>
                    <span class="select-row">
                        <select id="exercise">
                            <option>--请选择--</option>
                            {volist name="ExerciseType" id="vol"}
                            <option value="{$vol.id}">{$vol.exercise}</option>
                            {/volist}
                        </select>
                        <input type="hidden" name="exercise" value="{$ExerciseInfo.exercise}" class="data">
                        <input type="hidden" name="pid" value="{$ExerciseInfo.pid}" class="data">
                    </span>
                </a>

            </div>
            <div class="mui-input-row">
                <label>项目名称</label>
                <input type="text" placeholder="请填写项目名称" name="exercise_setion" class="data" value="{$ExerciseInfo.exercise_setion}">
            </div>
            <div class="mui-input-row h-auto">
                <label>项目要领</label>
                <textarea rows="5" class="data" name="exercise_detail" placeholder="填写项目要领">{$ExerciseInfo.exercise_detail}</textarea>
            </div>

            <div class="mui-input-row">
                <label>上传视频</label>
            </div>

        </form>
        <!-- <div class="tip-box">
            <input type="checkbox" value="1" name="is_open" class="data" checked style="width:16px;height:16px;">
            <label>是否对外开放</label>
        </div> -->
        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen" style="color: #fff" onclick="submitAction()">
                提交
            </li>
        </ul>

    </div>



</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/frontend/js/wooApi.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    //弹出框滚动必须写在mui专用的初始化
    (function ($) {
        $(".mui-scroll-wrapper").scroll({
            //bounce: false,//滚动条是否有弹力默认是true
            indicators: true //是否显示滚动条,默认是true
        });
    })(mui);

    $(function () {

        // 关闭弹出菜单
        $("body").on('click', '.mui-backdrop', function () {
            mui(".mui-popover.mui-active").popover("toggle");
        })

        $('#exercise').find('option[value="{$ExerciseInfo.pid}"]').prop("selected", true);

        // 课程类型更改选择
        $('#exercise').on('change', function () {
            var exercise = $('#exercise option:selected').text();
            var pid = $('#exercise option:selected').val();
            $('input[name=exercise]').val(exercise);
            $('input[name=pid]').val(pid)
        })


        // 是否开放
        $('input[name=is_open]').on('change', function () {
            console.log($(this).val());
            if (($(this).val()) == 1) {
                $(this).val(0)
            } else {
                $(this).val(1)
            }
        })
    })

    // 获取数据并进行提交
    function submitAction() {
        var data = wooApi.getInputData('input', 'data');
        datas = wooApi.getInputData('select', 'data', data);
        // 获取其他标签值
        arrData = wooApi.getDomData('domData', datas);
        var objData = wooApi.arrTOobj(arrData);
        var exercise_detail = $('textarea.data').val();
        objData.exercise_detail = exercise_detail;
        var url = "{:url('api/Exercise/updateExerciseApi')}";
        var ajaxResult = wooApi.asyncF(url, objData);

        if (ajaxResult.code == 200) {
            mui.alert(ajaxResult.msg, '项目修改成功', '确定', function () {
                var goUrl = "{:url('exercise/exerciseList')}" + '/camp_id/{$ExerciseInfo.camp_id}';
                window.top.location.href = goUrl;
            })
        } else {
            mui.alert(ajaxResult.msg, '修改失败');
            mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                if (data.code === 200) {
                    $('input[name=__token__]').val(data.data);
                }
            }, 'json');
        }
    };

</script>

</html>