<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>训练营名称</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css"/>
    <style type="text/css">
    </style>
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav for-tab">
        <div class="camp-lesson-list">
            <div class="mui-segmented-control mb">
                <a class="mui-control-item mui-icon mui-icon-left-nav" href="{:url('camp/powerCamp',['camp_id'=>$camp_id])}"></a>
                <a class="mui-control-item monthlyTuition mui-active" href="#monthlyTuition">学费月表</a>
                <a class="mui-control-item tuitionStatistics" href="#tuitionStatistics">学费统计</a>
                <a class="mui-control-item earningsStatistics" href="#earningsStatistics">收益统计</a>
            </div>
        </div>


    </header>

    <div class="mui-content">
        <div class="list camp-list camp-lesson-list detalis-list coach">
            <div class="tab-pullRefresh">
                <!--学费月表-->
                <div class="nav-list">
                    <ul class="mui-table-view mb">
                        <li class="mui-table-view-cell listli">
                            <a href="/frontend/camp/powercamp/camp_id/9" class="mui-navigate-right">
                                当前月份<span>2017年 10月</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="mui-table-view mui-text-center border-b">
                        <li class="mui-table-view-cell">
                            <ul class="mui-row table">
                                <li class="mui-col-xs-3 mui-col-sm-3">交费日期</li>
                                <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                <li class="mui-col-xs-3 mui-col-sm-3">人数</li>
                                <li class="mui-col-xs-3 mui-col-sm-3">金额</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="mui-table-view mui-text-center operation bgorange">
                        <li class="mui-table-view-cell">
                            <ul class="mui-row table">
                                <li class="mui-col-xs-3 mui-col-sm-3">本月合计</li>
                                <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                <li class="mui-col-xs-3 mui-col-sm-3">32</li>
                                <li class="mui-col-xs-3 mui-col-sm-3">￥35830</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="monthlyTuition" class="mui-scroll-wrapper mui-control-content mui-active" style="top:135px;bottom:45px;">
                    <div class="mui-scroll">
                        <ul class="mui-table-view mui-text-center">
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-1</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">6</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-2</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">6</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-3</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">2</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-4</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">2</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-5</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">2</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-6</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">2</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-7</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">2</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-8</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">2</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-9</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">2</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-10</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">2</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-11</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">2</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mui-table-view-cell">
                                <a href="billlist.html" class="mui-navigate-right">
                                    <ul class="mui-row table">
                                        <li class="mui-col-xs-3 mui-col-sm-3">2017-10-12</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">2</li>
                                        <li class="mui-col-xs-3 mui-col-sm-3">￥3000</li>
                                    </ul>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!--学费统计-->
                <div id="tuitionStatistics" class="mui-scroll-wrapper mui-control-content">
                    <ul class="mui-table-view mb">
                        <li class="mui-table-view-cell listli">
                            <a href="#" class="mui-navigate-right">
                                统计时间段：<span>2017-10-1 至 2017-10-31</span>
                            </a>
                        </li>
                    </ul>
                    <div class="mui-scroll">
                        <ul class="mui-table-view mui-text-center">
                            <li class="mui-table-view-cell">
                                <ul class="mui-row table">
                                    <li class="mui-col-xs-3 mui-col-sm-3">统计类型</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">人数</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">交费金额</li>
                                </ul>
                            </li>
                            <li class="mui-table-view-cell">
                                <ul class="mui-row table">
                                    <li class="mui-col-xs-3 mui-col-sm-3">新报交费</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">10</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">￥15000</li>
                                </ul>
                            </li>
                            <li class="mui-table-view-cell">
                                <ul class="mui-row table">
                                    <li class="mui-col-xs-3 mui-col-sm-3">续报交费</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">30</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">￥45000</li>
                                </ul>
                            </li>
                            <li class="mui-table-view-cell mb">
                                <ul class="mui-row table">
                                    <li class="mui-col-xs-3 mui-col-sm-3">合计交费</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">40</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">￥60000</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="mui-table-view mui-text-center mb">
                            <li class="mui-table-view-cell">
                                <ul class="mui-row table">
                                    <li class="mui-col-xs-3 mui-col-sm-3">统计类型</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">人数</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">退费金额</li>
                                </ul>
                            </li>
                            <li class="mui-table-view-cell">
                                <ul class="mui-row table">
                                    <li class="mui-col-xs-3 mui-col-sm-3">退费</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3"></li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">1</li>
                                    <li class="mui-col-xs-3 mui-col-sm-3">￥1500</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--收支统计-->
                <div id="earningsStatistics" class="mui-scroll-wrapper mui-control-content">

                    <ul class="mui-table-view mb">
                        <li class="mui-table-view-cell listli">
                            <a href="/frontend/camp/powercamp/camp_id/9" class="mui-navigate-right">
                                结算月份<span>2017年 9月</span>
                            </a>
                        </li>
                    </ul>
                    <div class="mui-scroll">
                        <ul class="mui-table-view">
                            <li class="mui-table-view-cell">
                                <ul class="mui-row table">
                                    <li class="mui-col-xs-6 mui-col-sm-6">统计类型</li>
                                    <li class="mui-col-xs-6 mui-col-sm-6 mui-text-right">金额</li>
                                </ul>
                            </li>
                            <li class="mui-table-view-cell">
                                <ul class="mui-row table">
                                    <li class="mui-col-xs-6 mui-col-sm-6">课时结算总收入</li>
                                    <li class="mui-col-xs-6 mui-col-sm-6 mui-text-right">￥35000</li>
                                </ul>
                            </li>
                            <li class="mui-table-view-cell">
                                <ul class="mui-row table">
                                    <li class="mui-col-xs-6 mui-col-sm-6">平台服务支出</li>
                                    <li class="mui-col-xs-6 mui-col-sm-6 mui-text-right">￥2000</li>
                                </ul>
                            </li>
                            <li class="mui-table-view-cell">
                                <ul class="mui-row table">
                                    <li class="mui-col-xs-6 mui-col-sm-6">教练员工资支出</li>
                                    <li class="mui-col-xs-6 mui-col-sm-6 mui-text-right">￥20000</li>
                                </ul>
                            </li>
                            <li class="mui-table-view-cell">
                                <ul class="mui-row table">
                                    <li class="mui-col-xs-6 mui-col-sm-6">本月训练营收入</li>
                                    <li class="mui-col-xs-6 mui-col-sm-6 mui-text-right">￥13000</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script src="/static/frontend/js/wooApi.js"></script>
<script src="/static/frontend/js/common.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    mui("body").on("tap","a",function(){
        window.top.location.href=this.href;
    });

    mui('#monthlyTuition').pullRefresh({});

    $(function () {

        //切换tab的同时切换搜索框
        $(".mui-control-item").on("tap",'', function () {
            if($(this).hasClass("monthlyTuition")==true){
                $(".nav-list").show();
            }else{
                $(".nav-list").hide();
            }

        })

    })



</script>
</html>