<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>裁判员详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--等级星星样式-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/feedback.css" />
    <style>
        .choiseFont .mui-input-row {
            height: 37px !important
        }

        .choiseFont .bgorange {
            color: #fff !important
        }
    </style>
</head>


<body class=whitebg>

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">
            <button type="button" class="mui-btn mui-btn-danger follow" style="padding: 4px 12px;">关注</button>
        </h1>
    </header>
    <div class="mui-content">

        <div class="list camp-list detalis-list referee mt55">
            <ul class="mui-table-view mb" style="margin-top: -4px">
                <li class="mui-table-view-cell mui-media listli" style="padding:11px 15px;">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left refereeicon" src="{$refereeInfo.portraits}">
                        <div class="mui-media-body wd49">
                            {$refereeInfo.referee}
                            <i class="icon iconfont icon-sex{$refereeInfo.member.sex}"></i>
                            <p class="mui-ellipsis">执裁经验:{$refereeInfo.referee_year}年 | 等级:
                                <font class="level">{$refereeInfo.level}</font>
                            </p>
                        </div>
                        <div class="camp-num mui-text-right">
                            <ul>
                                <li>
                                    <div class="icons mui-inline">
                                        <i data-index="1" class="mui-icon mui-icon-star-filled"></i>
                                        <i data-index="2" class="mui-icon mui-icon-star-filled"></i>
                                        <i data-index="3" class="mui-icon mui-icon-star-filled"></i>
                                    </div>
                                </li>
                                <li class="fr">{$refereeInfo.area}</li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>

            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli detalisli listinitial">裁判宣言
                    <span class="description about">{$refereeInfo.description}
                        <a href="javascript:void(0)">......全文展示</a>
                    </span>
                </li>
            </ul>

            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli detalisli">个人认证
                    <span>
                        <img class="rzicon" src="/static/frontend/images/icon05.jpg">证书认证&nbsp;&nbsp;&nbsp;
                        <img class="rzicon" src="/static/frontend/images/icon05.jpg">身份认证
                    </span>
                </li>
                <li class="mui-table-view-cell listli detalisli listinitial">裁判等级
                    <span class="level">{$refereeInfo.level}</span>
                </li>
                <li class="mui-table-view-cell listli detalisli listinitial">执裁场次
                    <span>执裁过 {$refereeInfo.total_played} 场</span>
                </li>
                <li class="mui-table-view-cell listli detalisli listinitial">接单范围
                    <span>{$refereeInfo.province} {$refereeInfo.city} {$refereeInfo.area}</span>
                </li>
                <li class="mui-table-view-cell listli detalisli listinitial">出场费用
                    <span>{$refereeInfo.appearance_fee}元/场</span>
                </li>
            </ul>

            <!--裁判印象-->
            <div class="page-header">
                <span class="course">裁判印象</span>
                <span class="more pdr15">
                    <a href="#Impress" class="mui-navigate-right myimpress">发表我的印象</a>
                </span>
            </div>
            <div class="impress whitebg tagCommentList mb"></div>

            <!-- 裁判员简介-->
            <div class="page-header" style="background: #efeff4;">
                <span class="course">裁判员简介</span>
            </div>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell listli introBox" style="padding:0 !important">{$refereeInfo.introduction}</li>
            </ul>

            <!-- 会员评价 -->
            <div class="page-header">
                <span class="course wd52">会员评价</span>
                <span class="more f14">评论
                    <span class="comment_count">{:count($commentList)}</span>
                </span>
            </div>
            <ul class="mui-table-view coach comment-list ">
                {volist name='commentList' id="vol" empty="
                <li class='nodata'>
                    <i class='icon iconfont icon-logo-Big'></i>
                    <p>还没有评论哦，你来说几句吧！</p>
                </li>"}
                <li class="mui-table-view-cell listli">
                    <div class="mui-pull-right">{$vol.create_time|date='Y-m-d',###}</div>
                    <img class="mui-pull-left coachicon " src="{$vol.avatar}">{$vol.member}
                    <p>{$vol.comment}</p>
                </li>
                {/volist}
            </ul>

            <!--推荐人信息-->
            {notempty name="pmember"}
            <p class="pline"></p>
            <div class="mui-row recommend">
                <div class="mui-col-sm-3 mui-col-xs-3 recomLine"></div>
                <div class="mui-col-sm-2 mui-col-xs-2 recomTxt">分享者</div>
                <div class="mui-col-sm-2 mui-col-xs-2">
                    <img src="{$pmember['avatar']}">
                </div>
                <div class="mui-col-sm-2 mui-col-xs-2 recomTxt">{$pmember.nickname}</div>
                <div class="mui-col-sm-3 mui-col-xs-3 recomLine"></div>
            </div>
            {/notempty}

            <!-- 底部操作 -->
            <ul class="mui-table-view operation mt">
                <li class="mui-table-view-cell mui-media mui-col-xs-2 opli">
                    <a href="{$homeurl}">
                        <span class="mui-icon icon iconfont icon-nav-Home"></span>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-2 mui-col-sm-2 opli">
                    <a href="#shareGuide">分享</a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 opli">
                    <a href="#comment" id="typeBtn1">我要评价</a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 opli">
                    <a href="#invitation" class="typeBtn2">邀请执裁</a>
                </li>
            </ul>

        </div>

        <!--分享-->
        <div id="shareGuide" class="mui-popover">
            <div class="shareGuideText">1、点击右上角的
                <span class="shareEllipsis">···</span>
                <img src="/static/frontend/images/esp.png" alt="">
            </div>
            <div class="shareGuideText">2、选择发送给朋友或分享到朋友圈</div>
        </div>

        <!-- 发表印象 -->
        <div id="Impress" class="mui-popover mui-popover-action mui-popover-bottom actionsheet">
            <div class="list camp-list camp-lesson-list detalis-list grade-list referee">
                <ul class="mui-table-view operation">
                    <h5>
                        <span>我的印象</span>
                        <a href="#Impress" class="mui-icon mui-icon-closeempty"></a>
                    </h5>
                    <div class="impressSide whitebg tagAll"></div>
                    <li class="mui-col-xs-12 opli impressBtn" id="impressSubmit">提交</li>
                </ul>
            </div>
        </div>

        <!-- 评价弹框 -->
        <div id="comment" class="mui-popover mui-popover-action mui-popover-bottom actionsheet">
            <div class="list camp-list camp-lesson-list detalis-list grade-list referee">
                <ul class="mui-table-view operation">
                    <h5>
                        <span class="sstitle">评论裁判员</span>
                        <a href="#comment" class="mui-icon mui-icon-closeempty"></a>
                    </h5>
                    <li class="listli">
                        <textarea rows="4" class="data"></textarea>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-12 opli" id="commentSubmit">提交</li>
                </ul>
            </div>
        </div>

        <!-- 邀请弹框 -->
        <div id="invitation" class="mui-popover mui-popover-action mui-popover-bottom actionsheet">
            <ul class="mui-table-view operation" style="margin:0 !important">
                <h5>
                    <span class="type">请选择球队和比赛</span>
                    <a href="#invitation" class="mui-icon mui-icon-closeempty"></a>
                </h5>
                <div class="mui-card" style="margin:0 !important;border-radious:0 !important">
                    <ul class="mui-table-view mui-text-left" style="margin:0 !important">
                        <li class="mui-table-view-cell mui-collapse teamli">
                            <a class="mui-navigate-right" href="#">
                                <strong>所属球队</strong>
                            </a>
                            <div class="mui-collapse-content">
                                <form class="mui-input-group choiseFont">
                                    <div class="mui-input-row choiseTeam">
                                        <a href="{:url('team/createTeam')}">
                                            <label style="width:100% !important">
                                                创建球队
                                            </label>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="mui-table-view-cell mui-collapse matchli">
                            <a class="mui-navigate-right" href="#">
                                <strong>所属球队比赛</strong>
                            </a>
                            <div class="mui-collapse-content">
                                <form class="mui-input-group choiseFont">
                                    <div class="mui-input-row choiseMatch">
                                        <label class="createMatch" style="width:100% !important">
                                            创建比赛
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>

    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/starshow.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        $(function () {

            var introduction = "{$refereeInfo.introduction}";
            if (introduction == '') {
                $(".introBox").append("<p class='nohave'>还没有简介哦</p>")
            }

            // 裁判等级文字数字转换
            var level = "{$refereeInfo.level}"
            if (level == 1) {
                $(".level").text("国家级裁判员");
            } else if (level == 2) {
                $(".level").text("国家A级裁判员");
            } else if (level == 3) {
                $(".level").text("一级裁判员");
            } else if (level == 4) {
                $(".level").text("二级裁判员");
            } else if (level == 5) {
                $(".level").text("三级裁判员");
            } else if (level == 0) {
                $(".level").text("暂无考级");
            }

            // 印象评价
            $(document).on("tap", '.impressSide .choiseTag', function () {
                if ($(this).hasClass("bgorange")) {
                    $(this).removeClass("bgorange");
                } else {
                    $(this).addClass("bgorange");
                }
            });

            $(document).on("tap", '.myimpress', function () {
                $(".impressSide .bgorange").removeClass("bgorange");
            });

            //判断训练营宣言长度是否超过30字符
            var aboutlen = $(".about").text()
            if (aboutlen.length < 36) {
                $(".about a").hide();
            }
            //展示训练营介绍全文
            $(".about a").click(function () {
                $(".about").css("height", "auto");
                $(this).hide();
            });

            //发表评论
            $("#commentSubmit").on('click', function () {
                var comment = $('textarea.data').val();
                if (comment == "" || comment == null) {
                    mui.toast("您没填写评论内容哦");
                    return false;
                }
                var objData = {};
                objData.comment = comment;
                objData.referee = "{$refereeInfo.referee}";
                objData.referee_id = "{$refereeInfo.id}";
                var result = wooApi.asyncF("{:url('api/referee/createRefereeCommentApi')}", objData);
                if (result) {
                    mui.toast(result.msg);
                    mui('#comment').popover('toggle');
                    window.location.reload();
                }
            });

            // 关注裁判
            $(".follow").on("tap", '', function () {
                var member_id = "{$refereeInfo.member_id}";
                mui.ajax("{:url('api/follow/focus')}", {
                    data: {
                        type: 1,
                        member_id: member_id
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        //服务器返回响应，根据响应结果，分析是否登录成功；
                        console.log(data);
                        if (data.code == 200) {
                            mui.toast(data.msg);
                            followStatus();
                        } else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            // 发表印象标签
            $(".impressBtn").on("tap", '', function () {
                var commented = "{$refereeInfo.referee}";
                var commented_id = "{$refereeInfo.id}";

                var tags = $(".tagAll .bgorange").map(function () {
                    return $(this).attr("data-tag_name");
                }).get().join(",");

                var tag_ids = $(".tagAll .bgorange").map(function () {
                    return $(this).attr("data-id");
                }).get().join(",");

                if (!$(".tagAll .choiseTag").hasClass("bgorange")) {
                    mui.toast("你还没有选择印象标签哦");
                    return false;
                }

                mui.ajax("{:url('api/tag/addtagcomment')}", {
                    data: {
                        comment_type: 5,
                        commented: commented,
                        commented_id: commented_id,
                        tags: tags,
                        tag_ids: tag_ids,
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            mui.toast("发表成功，感谢你的评价！");
                            toTagCommentList();
                            mui('#Impress').popover('toggle');
                        } else {
                            mui.toast(data.msg);
                            mui('#Impress').popover('toggle');
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            toTeam()
            toTagAllList(); //所有标签列表
            toTagCommentList(); //已经评价的标签列表
            followStatus() //判断当前的关注状态;
        });

        // 判断当前的关注状态
        function followStatus() {
            var member_id = "{$refereeInfo.member_id}";
            mui.ajax("{:url('api/follow/getfollow')}", {
                data: {
                    type: 1,
                    member_id: member_id
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        if (data.data === 1) {
                            $(".follow").text("取消关注");
                        } else {
                            $(".follow").text("关注");
                        }
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        }

        //获取所有标签列表
        function toTagAllList() {
            mui.ajax("{:url('api/tag/tagall')}", {
                data: {
                    comment_type: 5
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var div = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            div = div + '<span class="choiseTag" data-tag_name="' + data.data[i].tag_name + '" data-id="' + data.data[i].id + '">' + data.data[i].tag_name + '</span>'
                        }
                        $(".tagAll").empty();
                        $(".tagAll").append(div);

                        if (div == '') {
                            $(".tagAll").append('<li class="nohave"><p>没有相关数据哦</p></li>');
                        }
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        };

        //获取已评价标签列表
        function toTagCommentList() {
            mui.ajax("{:url('api/tag/commentlist')}", {
                data: {
                    comment_type: 5,
                    commented_id: "{$refereeInfo.id}",
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var div = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            div = div + '<span class="choiseTag" data-tag_name="' + data.data[i].tag + '" data-tag_id="' + data.data[i].id + '">' + data.data[i].tag + '(<samll>' + data.data[i].count + '</samll>)</span>'
                        }
                        $(".tagCommentList").empty();
                        $(".tagCommentList").append(div);
                    } else {
                        $(".tagCommentList").append('<p class="mui-text-center">还没有印象标签哦</p>');
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        };

        var teamId = '';
        //获取在队的球队列表
        function toTeam() {
            var url = "{:url('api/team/myteamlist','','',true)}";
            mui.ajax({
                url: url,
                data: {},
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli = newli + '<div class="mui-input-row"><label class="choiseDiv" style="width:100% !important" data-team_id="' + data.data[i].team.id + '">' + data.data[i].team.name + '</label></div>'
                        }
                        $(newli).insertAfter(".choiseTeam");
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

        $(document).on("tap", ".choiseDiv", function () {
            $(".choiseDiv").removeClass("bgorange");
            $(this).addClass("bgorange");
            $(".teamli").removeClass("mui-active");
            $(".matchli").addClass("mui-active");
            teamId = $(this).attr("data-team_id");
            toMatch();
        });

        $(".createMatch").on("tap", function () {
            if (teamId == '') {
                mui.toast("请先选择球队");
            } else {
                var urls = "{:url('team/createMatch')}" + "/team_id/" + teamId + "/referee_id/{$refereeInfo['id']}";
                window.location.href = urls
            }
        })

        function toMatch() {
            //获取在队的球队比赛列表
            var url = "{:url('api/match/matchrecordlistall','','',true)}";
            mui.ajax({
                url: url,
                data: {
                    status: 1,
                    team_id: teamId,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    if (data.code == 200) {
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            var url = "{:url('team/createMatch')}" + "/team_id/" + teamId + "/referee_id/{$refereeInfo['id']}";
                            newli = newli + '<div class="mui-input-row"><label style="width:100% !important" data-match_id="' + data.data[i].id + '"><a href="' + url + '">' + data.data[i].match + '</a></label></div>'
                        }
                        $(".choiseMatch").nextAll().remove();
                        $(newli).insertAfter(".choiseMatch");
                    } else {
                        var btnArray = ['取消', '确认'];
                        mui.confirm('该球队还没有比赛记录，去创建比赛吧', '', btnArray, function (e) {
                            if (e.index == 1) {
                                window.location.href = "{:url('team/createMatch')}" + "/team_id/" + teamId;
                            }
                        });
                        $(".choiseMatch").nextAll().remove();
                        $("<div class='colorgray nomatch' style='padding: 11px 15px;'>该球队还没有比赛记录</div>").insertAfter(".choiseMatch");
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        }

    </script>
    <script>
        wx.config({
            //debug: true,
            appId: "{$jsapi['appId']}",
            timestamp: "{$jsapi['timestamp']}",
            nonceStr: "{$jsapi['nonceStr']}",
            signature: "{$jsapi['signature']}",
            jsApiList: [
                // 所有要调用的 API 都要加到这个列表中
                'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ'
            ]
        });
        wx.ready(function () {
            // 分享到朋友圈
            wx.onMenuShareTimeline({
                title: "{$refereeInfo.referee}",
                link: "{$shareurl}/pid/{$mid}",
                imgUrl: "{:request()->root(true)}/{$refereeInfo.portraits}",
                success: function () {

                },
                cancel: function () {

                }
            });

            // 分享给朋友
            wx.onMenuShareAppMessage({
                title: '{$refereeInfo.referee}',
                desc: '{$refereeInfo.introduction}',
                link: "{$shareurl}/pid/{$mid}",
                imgUrl: "{:request()->root(true)}/{$refereeInfo.portraits}",
                type: "",
                dataUrl: '',
                success: function () {

                },
                cancel: function () {

                }
            });

        });
    </script>
</body>

</html>