<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>裁判信息管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
</head>

<body class="whitebg">
    <div class="mui-content">
        <div id="tabbar" class="mui-control-content mui-active coach">

            <div class="img4x3" style="background-image: url()"></div>
            <div class="page-header">
                <a href="{:url('team/myteam')}" class="mui-icon mui-icon-left-nav mui-pull-left arrow" style="color: #737373;font-size: 21px"></a>
                <span class="more">裁判信息管理</span>
            </div>
            <div class="nav-list">
                <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="#">
                            <span>执裁场次</span>
                            <div class="mui-media-body num">{$totalMatch}</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="#">
                            <span>接单次数</span>
                            <div class="mui-media-body num">{$totalOrder}</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="#">
                            <span>受邀次数</span>
                            <div class="mui-media-body num">{$totalInvited}</div>
                        </a>
                    </li>
                </ul>
            </div>


            <ul class="mui-table-view mui-grid-view mui-grid-9 choise-module whitebg" style="margin-bottom:7px">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span class="icon iconfont icon-training-case"></span>
                        <div class="mui-media-body">接单</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="{:url('keeper/referee/applyList',['type'=>1])}">
                        <span class="icon iconfont icon-training-record"></span>
                        <div class="mui-media-body">接单列表</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="{:url('keeper/referee/applyList',['type'=>2])}">
                        <span class="icon iconfont icon-training-recruit"></span>
                        <div class="mui-media-body">受邀列表</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="#">
                        <span class="icon iconfont icon-training-coach"></span>
                        <div class="mui-media-body">执裁列表</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                    <a href="{:url('referee/updateReferee')}">
                        <span class="icon iconfont icon-training-Set"></span>
                        <div class="mui-media-body">编辑裁判信息</div>
                    </a>
                </li>
            </ul>

        </div>

    </div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
</script>

</html>