<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>球队</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        @media screen and (min-width: 320px) {
            .list .listli .mui-media-body {
                width: 55% !important;
            }
        }

        @media screen and (min-width: 375px) {
            .list .listli .mui-media-body {
                width: 62% !important;
            }
        }
    </style>
</head>

<body class=whitebg>

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">我的球队</h1>
    </header>

    <div class="mui-content">
        <div id="refreshContainer" class="mui-scroll-wrapper mt44">
            <div class="mui-scroll">
                <ul class="mui-table-view detalis-list list border-b team">
                    {if condition="empty($claimList)"}
                    <div class="nodata"><i class="icon iconfont icon-logo-Big"></i>
                        <p>没有相关数据</p>
                    </div>
                    {/if}
                    {notempty name="claimList"}
                    {volist name="claimList" id="vo"}
                    <li class="mui-table-view-cell mui-media listli">
                        <img class="img50 mui-pull-left" src="{$vo.team_logo}">
                        <div class="mui-media-body wd45">
                            <h5>球队名称：<font class="colororange">{$vo.team}</font>
                            </h5>
                            <p class="lineHeight20">队长：<font class="colororange">{$vo.leader}</font> 我的角色：<font class="colororange">{$vo.role}</font>
                            </p>
                            <p class="lineHeight20" style="white-space: normal;">所属联赛：<font class="colororange">{$vo.match}</font>
                            </p>
                        </div>
                        <div class="fr" style="margin-top: 8px;">
                            <button type="button" class="btn mui-btn-danger dataClaim" data-team_member_id="{$vo.team_member_id}">认领</button>
                        </div>
                    </li>
                    {/volist}
                    {/notempty}
                </ul>
            </div>
        </div>

    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>
        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        $(function () {
            $(".dataClaim").on("tap", function () {
                var team_member_id = $(this).attr("data-team_member_id");
                mui.ajax("{:url('api/claim/teamMember')}", {
                    data: {
                        team_member_id: team_member_id
                    },
                    dataType: 'json', //服务器返回json格式数据
                    type: 'post', //HTTP请求类型
                    timeout: 10000, //超时时间设置为10秒；
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            mui.toast(data.msg);
                            window.location.reload();
                        } else {
                            mui.toast(data.msg);
                            window.location.reload();
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            })
        })
    </script>
</body>

</html>