<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>添加比赛</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .mui-input-row a {
            display: table;
            width: 100%;
        }
    </style>
</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
    </header>

    <div class="mui-content pt">

        <input type="hidden" name="__token__" class="data" value="{$Request.token}" />
        <input type="hidden" name="team_id" value="{$team_id}" class="data">
        <input type="hidden" name="team" value="{$teamInfo.name}" class="data">

        <form action="" class="mui-input-group mb44">

            <div class="mui-input-row">
                <div class="mui-navigate-right">
                    <label class="wd45">联赛</label>
                    <span class="select-row">
                        <select class="data" name="">
                            <option value="">请选择联赛</option>
                            <option value="1">联赛1</option>
                            <option value="2">联赛2</option>
                            <option value="3">联赛3</option>
                        </select>
                    </span>
                </div>
            </div>

            <div class="mui-input-row">
                <div class="mui-navigate-right">
                    <label class="wd45">比赛</label>
                    <span class="select-row">
                        <select class="data" name="">
                            <option value="">请选择比赛</option>
                            <option value="1">比赛1</option>
                            <option value="2">比赛2</option>
                            <option value="3">比赛3</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="mui-input-row">
                <label>比赛类型</label>
                <span class="domData" name=""></span>
            </div>
            <div class="mui-input-row">
                <label>主队</label>
                <span class="domData" name=""></span>
            </div>
            <div class="mui-input-row">
                <label>客队</label>
                <span class="domData" name=""></span>
            </div>
            <div class="mui-input-row">
                <label>比赛场地</label>
                <span class="domData" name=""></span>
            </div>
            <div class="mui-input-row">
                <label>比赛时间</label>
                <span class="domData" name=""></span>
            </div>

            <div class="success-frame">
                <div class="choise">
                    <a href="{:url('team/createEvent',['team_id'=>$team_id])}/?val=1">
                        <button type="button" class="mui-btn bgblue">前往创建公开赛</button>
                    </a>
                </div>
            </div>

        </form>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-col-xs-12 opli bggreen" onclick="submitAction()">
                提交
            </li>
        </ul>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });
    </script>
</body>

</html>