<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>添加荣誉</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <link href="/static/frontend/css/webuploader.css" rel="stylesheet">
    <style>
        .mui-input-row a {
            display: table;
            width: 100%;
        }
    </style>
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow">
            <span class="return">返回</span>
        </a>
        <h1 class="mui-title">{$teamInfo.name}</h1>
    </header>

    <div class="mui-content pt">

        <input type="hidden" name="__token__" class="data" value="{$Request.token}" />
        <input type="hidden" name="team_id" value="{$team_id}" class="data">
        <input type="hidden" name="team" value="{$teamInfo.name}" class="data">

        <form action="" class="mui-input-group mt55">

            <div class="mui-input-row">
                <label>奖项名称</label>
                <input type="text" name="name" class="data" value="" placeholder="奖项名称">
            </div>

            <div class="mui-input-row">
                <label>赛事名称</label>
                <input type="text" name="match" class="data" value="" placeholder="赛事名称">
            </div>

            <div class="mui-input-row">
                <label>授奖单位</label>
                <input type="text" name="award_org" class="data" value="" placeholder="授奖单位">
            </div>

            <div class="mui-input-row picker btn" id="demo3">
                <div class="mui-navigate-right">
                    <label>授奖时间</label>
                    <span id="result" class="ui-alert domData" name="honor_time"></span>
                </div>
            </div>

            <div class="mui-input-row price-input-row h-auto">
                <a href="#honorMember" id="setCoachBox" class="mui-navigate-right">
                    <label>授奖人</label>
                    <span class="honorMember" style="width: 60%"></span>
                    <div id="hideList"></div>
                    <input type="hidden" name="prize_team_member" value="" class="data">
                </a>
            </div>

            <div class="mui-input-row h-auto">
                <a class="portraits filePicker mui-navigate-right" onclick="add_id(1)">
                    <label>荣誉证书</label>
                    <img id="preview_1" class="upload-preview" alt="">
                    <input type="hidden" name="cover" value='' class="data">
                </a>
            </div>

            <div class="page-header bggray2">
                <span class="course">荣誉简介</span>
            </div>
            <div class="mui-input-row tuwenEditor">
                <textarea name="introduction" class="data introduction" style="display: none"></textarea>
                <div class="introBox"></div>
                <div class="mui-row mui-text-center mui-row-operation">
                    <div class="mui-col-xs-3 mui-col-sm-3 muicol">
                        <a class="frame up pd">上移</a>
                        <a class="frame down pd">下移</a>
                    </div>
                    <div class="mui-col-xs-3 mui-col-sm-3 muicol">
                        <a class="frame titleClass">添加标题</a>
                    </div>
                    <div class="mui-col-xs-3 mui-col-sm-3 muicol">
                        <a class="frame textClass">添加正文</a>
                    </div>
                    <div class="mui-col-xs-3 mui-col-sm-3 muicol">
                        <a class="frame imageClass">
                            <div id="uploader-demo">
                                <div id="fileList" class="uploader-list"></div>
                                <div class="filePickerTwo">选择图片</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="page-header" style="background: #efeff4;">
                <img src="/static/frontend/images/hot.png" class="hotimg" alt="">
                <span class="f12">说明：点击添加均为插入一段文字或一张图片，不可换行，如需换行请再次点击添加。</span>
            </div>

        </form>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-media mui-col-xs-12 opli bggreen" onclick="submitAction()">
                添加荣誉
            </li>
        </ul>

    </div>

    <!--授奖人-->
    <div id="honorMember" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="page-header">
            <span class="course">
                <strong>授奖人</strong>
            </span>
            <span class="fr">
                <button class="mui-btn-blue" id="honorMemberConfirm">确认</button>
            </span>
        </div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <form id="honorMemberDiv" class="mui-input-group honorMemberList"></form>
            </div>
        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <!-- 选择器 -->
    <script src="/static/frontend/js/mui.picker.min.js"></script>
    <script src="/static/frontend/js/mui.poppicker.js"></script>
    <script src="/static/frontend/js/city.data-3.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/libs/webuploader.min.js"></script>
    <script>
        var uploadApiUrl = "{:url('api/upload/imgwupload', ['usage' => 'team_honor'])}";
    </script>
    <script src="/static/frontend/libs/webuploader.cert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/uploadcert.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/uploadduotu.js?v=<?php echo time();?>"></script>
    <script src="/static/frontend/js/tuwen.js?v=<?php echo time();?>"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });
        //弹出框滚动必须写在mui专用的初始化
        (function ($) {
            $(".mui-scroll-wrapper").scroll({
                //bounce: false,//滚动条是否有弹力默认是true
                indicators: true //是否显示滚动条,默认是true
            });
            // 关闭弹出菜单
            $("body").on('tap', '.mui-backdrop', function () {
                mui(".mui-popover.mui-active").popover("toggle");
            })
        })(mui);

        //选择器
        var getProvince = '';
        var getCity = '';
        var getArea = '';
        (function ($, doc) {
            $.ready(function () {
                var _getParam = function (obj, param) {
                    return obj[param] || '';
                };
                //开始时间
                var result = $('#result')[0];
                var btn = $('.btn');
                btn.each(function (i, btn) {
                    btn.addEventListener('tap', function () {
                        var optionsJson = this.getAttribute('data-options') || '{}';
                        var options = JSON.parse(optionsJson);
                        var id = this.getAttribute('id');
                        var picker = new $.DtPicker(options);

                        picker.show(function (rs) {
                            result.innerText = rs.text;
                            picker.dispose();
                        });
                    }, false);
                });

            });
        })(mui, document);

        $(function () {
            TeamMemberOfCocahList();

            // 选择授奖人
            $("#honorMemberConfirm").on('tap', '', function () {
                $(".honorMember").empty();
                $("input[name=prize_team_member]").val("");
                $("#hideList").empty();
                var honorMember = "";
                var honorMember_id = "";
                var honorMemberList = "";
                $(".honorMemberList input[type=checkbox]:checked").each(function () {
                    var member = $(this).attr("data-member");
                    var member_id = $(this).attr("data-member_id");
                    var name = $(this).attr("data-name");
                    var id = $(this).attr("data-id");
                    honorMember += name + ','
                    honorMember_id += id + ','
                    $(".honorMember").text(honorMember.substring(0, honorMember.length - 1));
                    $("input[name=prize_team_member]").val(honorMember_id.substring(0, honorMember_id.length - 1));
                    honorMemberList += '<input type="hidden" class="honorMemberList" data-member="' + member + '" data-member_id="' + member_id + '" data-name="' + name + '" data-id="' + id + '">';
                });
                $("#hideList").html(honorMemberList);
                mui("#honorMember").popover("toggle");
            });
        })

        // 获取数据并进行提交
        function submitAction() {

            //图文编辑状态转换浏览状态//////////////////////////////////////////
            tuwenToView()

            //获取最终含简单html标签的图文内容
            var introHtml = $(".introBox").html();
            $(".introduction").val(introHtml);
            /////////////////////////////////////////////////////////////////

            var data = wooApi.getInputData('input', 'data');
            datas = wooApi.getInputData('select', 'data', data);
            // 获取其他标签值
            arrData = wooApi.getDomData('domData', datas);
            var objData = wooApi.arrTOobj(arrData);
            var introduction = $('textarea.introduction').val();
            objData.introduction = introduction;
            var url = "{:url('api/team/createteamhonor')}";
            var ajaxResult = wooApi.asyncF(url, objData);
            if (ajaxResult.code == 200) {
                mui.alert(ajaxResult.msg, '荣誉添加成功', '确定', function () {
                    var goUrl = "{:url('team/honorlistOfTeam')}/team_id/" + "{$team_id}";
                    window.top.location.href = goUrl;
                })
            } else {
                mui.alert(ajaxResult.msg, '添加失败');
                tuwenToEdit(); //图文转换成可编辑状态
                mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                    if (data.code === 200) {
                        $('input[name=__token__]').val(data.data);
                    }
                }, 'json');
            }
        };

        //自定义获取球员列表(教练)
        var TeamMemberOfCocahList = function () {
            var url = "{:url('api/team/teammemberlist','','',true)}";
            var team_id = "{$teamInfo.id}";
            mui.ajax({
                url: url,
                data: {
                    team_id: team_id,
                    status: 1
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var newli = '';
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli += '<div class="mui-input-row mui-checkbox mui-left"><label>' + data.data[i].name + '</label><input name="checkbox-coach" class="coach" type="checkbox" data-member_id="' + data.data[i].member_id + '" data-member="' + data.data[i].member + '" data-id="' + data.data[i].id + '" data-name="' + data.data[i].name + '"></div>'
                        }
                        $("#honorMemberDiv").empty();
                        if (newli == '') {
                            newli = '<p class="mui-text-center">没有查找到数据哦</p>'
                        }
                        $("#honorMemberDiv").append(newli);

                    } else {
                        mui.toast('数据获取失败,请稍候再试');
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

    </script>
</body>

</html>