<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>活动列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <!--选择器样式-->
    <link href="/static/frontend/css/mui.picker.min.css" rel="stylesheet" />
    <link href="/static/frontend/css/mui.poppicker.css" rel="stylesheet" />
    <style>
        /* 日期选择器视图 */

        [data-type="month"] .mui-dtpicker-title h5 {
            width: 100% !important;
        }

        [data-type="month"] .mui-picker {
            width: 100% !important;
        }

        [data-type="month"] [data-id="title-m"] {
            display: none !important;
        }

        [data-type="month"] .mui-dtpicker-body [data-id="picker-m"] {
            display: none !important;
        }
    </style>
</head>

<body class=whitebg>

    <header id="header" class="mui-bar mui-bar-nav search2">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">
            <input type="search" class="mui-input-clear keyword" placeholder="请输入活动名称">
        </h1>
        <span class="mui-icon mui-icon-search searchicon" id="searchBtn"></span>
    </header>

    <div class="mui-content">

        <form action="" class="mui-input-group">
            <div class="mui-input-row">
                <div class="mui-navigate-right">
                    <label style="line-height:20px" class="location"></label>
                    <div class="picker btn" id="demo6" data-options='{"type":"month"}'>
                        <span id="result" class="ui-alert year">选择年份</span>
                    </div>
                    <span>
                        <select id="eventType" class="data" name="event_type">
                            <option value="">全部类型</option>
                            <option value="1">对内训练</option>
                            <option value="2">团队建设</option>
                            <option value="3">日常活动</option>
                        </select>
                    </span>
                </div>
            </div>
        </form>

        <div id="refreshContainer" class="mui-scroll-wrapper" style="margin-top: 94px">
            <div class="mui-scroll">
                <ul class="mui-table-view detalis-list list border-b event">
                </ul>
            </div>
        </div>

        <input type="hidden" name="eventID" class="eventID" />

    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <script src="/static/frontend/js/common.js"></script>
    <!-- 选择器 -->
    <script src="/static/frontend/js/mui.picker.min.js"></script>
    <script src="/static/frontend/js/mui.poppicker.js"></script>
    <script src="/static/frontend/js/city.data-3.js"></script>
    <script>
        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        (function ($) {
            var result = $('#result')[0];
            var btns = $('.btn');
            btns.each(function (i, btn) {
                btn.addEventListener('tap', function () {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var id = this.getAttribute('id');

                    var picker = new $.DtPicker(options);
                    picker.show(function (rs) {
                        result.innerText = rs.y.text;
                        picker.dispose();
                    });
                }, false);
            });
        })(mui);

        $(function () {

            //初始化全局变量
            var count = 1;
            var sEventType = '';
            var sArea = '';
            var sYear = '';
            var keyword = wooApi.GetQueryString('keyword');
            $('.keyword').val(keyword);
            var campID = wooApi.GetQueryString('camp_id');
            var campName = wooApi.GetQueryString('camp_name');

            //获取定位省市区
            var getLocationTB = getLocationApi("{:url('api/Location/getLocation')}");
            var sCity = getLocationTB['city'];
            var sProvince = getLocationTB['province'];
            var allArea = getLocationTB['areas'];
            $('.location').text(sCity);
            if (campName != '' && campName != null) {
                $('.location').text(campName);
                $('.keyword').attr('placeholder', '请输入' + campName + '活动名称');
                $("#areaSelect").parent().hide();
            }

            //生成区域选择下拉菜单
            var arrArea = allArea.split(',');
            var selectArea = '';
            $.each(arrArea, function (i, areaName) {
                selectArea += '<option value="' + areaName + '">' + areaName + '</option>';
            });
            $('#areaSelect').append(selectArea);
            //搜索活动
            $("#searchBtn").on("click", function () {
                keyword = $(".keyword").val();
                campID = '';
                searchToList();
            })
            //选择年份
            $(document).on('tap', '.mui-dtpicker-header .mui-btn', function () {
                sYear = $(".year").text();
                searchToList();
            });
            //选择活动类型下拉
            $("#eventType").on("change", function () {
                sEventType = $(this).find("option:checked").val();
                searchToList();
            });
            //选择地区下拉
            $("#areaSelect").on("change", function () {
                sArea = $(this).val();
                searchToList();
            });
            //搜索、下拉刷选后触发
            function searchToList() {
                count = 1;//显示第一页
                var page = count;
                var gType = 1;//代表下拉刷新
                toList(page, gType, campID);//具体取数据的方法
            }

            mui.init({
                swipeBack: true, //启用右滑关闭功能
                pullRefresh: {
                    //下拉刷新上拉加载教练列表
                    container: "#refreshContainer",
                    down: {
                        //下拉刷新
                        height: 50,//可选.默认50.触发下拉刷新拖动距离
                        auto: true,//可选,默认false.自动下拉刷新一次
                        contentdown: "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                        contentover: "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                        contentrefresh: "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                        callback: pulldownRefresh
                    },
                    up: {
                        //上拉加载
                        height: 150,//可选.默认50.触发上拉加载拖动距离
                        //auto:true,//可选,默认false.自动上拉加载一次
                        contentrefresh: '正在加载...',
                        contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                        callback: pullupRefresh
                    }
                }
            });
            //下拉刷新具体业务实现
            function pulldownRefresh() {
                setTimeout(function () {
                    count = 1;//刷新并显示第一页
                    var page = count;
                    var gType = 1;//代表下拉刷新
                    toList(page, gType, campID);//具体取数据的方法
                }, 100);
            }
            //上拉加载具体业务实现
            function pullupRefresh() {
                setTimeout(function () {
                    count++;//翻下一页
                    var page = count;
                    var gType = 2;//代表上拉加载
                    toList(page, gType, campID);//具体取数据的方法
                }, 100);
            }

            var toList = function (page, gType) {
                //搜索关键字不能完全为空，否则查询为空
                var url = "{:url('api/team/teameventlistpage','','',true)}" + '/?page=' + page;
                mui.ajax({
                    url: url,
                    data: {
                        status: 1,
                        // type:sEventType,
                        year: sYear,
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data)
                        var newli = '';
                        if (data.code == 200) {
                            for (var i = 0; i <= data.data.data.length - 1; i++) {

                                var urls = "{:url('team/eventInfo')}" + '/event_id/' + data.data.data[i].id + '/team_id/' + "{$team_id}";
                                newli += '<li class="mui-table-view-cell mui-media listli">'
                                newli += '<a href="' + urls + '" class="mui-navigate-right"><img class="mui-media-object mui-pull-left" src="' + data.data.data[i].cover + '" style="width:70px!important;height: 56px!important;"><div class="mui-media-body" style="width:51%">' + data.data.data[i].event + '';
                                if (data.data.data[i].is_max == "已满人") {
                                    newli += '<font class="tipCorner bgred">满人</font>';
                                }
                                if (data.data.data[i].is_finished == "已结束") {
                                    newli += '<font class="tipCorner bggray">结束</font>';
                                }
                                newli += '<p class="mui-ellipsis">' + data.data.data[i].create_time + '</p></div><div class="price-frame rightLocation">' + data.data.data[i].reg_number + '人参与</div></a>'
                                newli += '</li>';

                            }
                        }
                        if (gType == 1) {
                            //上拉刷新
                            $("ul.event").empty().append(newli);
                            mui('#refreshContainer').pullRefresh().endPulldownToRefresh();
                            mui('#refreshContainer').pullRefresh().refresh(true);
                            if (newli == '') {
                                $("ul.event").html('<li class="nodata"><i class="icon iconfont icon-m-TrainingCamp1"></i><p>没有相关数据哦</p></li>');
                            }
                        } else {
                            //下拉加载 gType==2
                            $("ul.event").append(newli);
                        }
                        if (newli != '') {
                            mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                        } else {
                            mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                        }

                    },
                    error: function (xhr, type, errerThrown) {
                        mui.toast('网络异常,请稍候再试');
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                });
            };

        })
    </script>
</body>

</html>