<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>约战列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
</head>

<body>

    <header class="mui-bar mui-bar-nav for-tab">
        <div class="camp-lesson-list">
            <div class="mui-segmented-control mb">
                <a class="mui-control-item mui-icon mui-icon-left-nav" href="{:url('team/teamManage',['team_id' => $team_id])}"></a>
                <a class="mui-control-item  mui-active" href="#initiateList">发起的约战</a>
                <a class="mui-control-item" href="#aboutList">约战我的</a>
            </div>
        </div>
    </header>

    <div class="mui-content">

        <div class="tab-pullRefresh">
            <div id="initiateList" class="mui-scroll-wrapper mui-control-content  mui-active">
                <div class="mui-scroll">
                    <ul class="mui-table-view list border-b initiate"></ul>
                </div>
            </div>
            <div id="aboutList" class="mui-scroll-wrapper mui-control-content">
                <div class="mui-scroll">
                    <ul class="mui-table-view list border-b about"></ul>
                </div>
            </div>
        </div>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                <a href="{:url('team/teamInfo',['team_id'=>$team_id])}">
                    <span class="mui-icon icon iconfont icon-nav-Home"></span>
                </a>
            </li>
            <li class="mui-table-view-cell mui-col-xs-10 mui-col-sm-10 opli bgred">
                <a href="{:url('team/createAboutMatch', ['team_id' => $team_id])}">发布约赛 </a>
            </li>
        </ul>

    </div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    mui("body").on("tap", "a", function () {
        window.top.location.href = this.href;
    });

    $(function () {

        //初始化全局变量
        var initiateCount = 1;
        var aboutCount = 1;

        mui('#initiateList').pullRefresh({
            down: {
                //下拉刷新
                height: 50, //可选.默认50.触发下拉刷新拖动距离
                auto: true, //可选,默认false.自动下拉刷新一次
                contentdown: "下拉可以刷新", //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                contentover: "释放立即刷新", //可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                contentrefresh: "正在刷新...", //可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                callback: pulldownRefreshInitiate
            },
            up: {
                //上拉加载
                height: 150, //可选.默认50.触发上拉加载拖动距离
                //auto:true,//可选,默认false.自动上拉加载一次
                contentrefresh: '正在加载...',
                contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
                callback: pullupRefreshInitiate
            }
        });


        mui('#aboutList').pullRefresh({
            down: {
                //下拉刷新
                height: 50, //可选.默认50.触发下拉刷新拖动距离
                auto: true, //可选,默认false.自动下拉刷新一次
                contentdown: "下拉可以刷新", //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                contentover: "释放立即刷新", //可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                contentrefresh: "正在刷新...", //可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                callback: pulldownRefreshAbout
            },
            up: {
                //上拉加载
                height: 150, //可选.默认50.触发上拉加载拖动距离
                //auto:true,//可选,默认false.自动上拉加载一次
                contentrefresh: '正在加载...',
                contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
                callback: pullupRefreshAbout
            }
        });


        //下拉刷新具体业务实现
        function pulldownRefreshInitiate() {
            setTimeout(function () {
                initiateCount = 1; //刷新并显示第一页
                var page = initiateCount;
                var gType = 1; //代表下拉刷新
                toInitiateList('initiateList', page, gType); //具体取数据的方法
            }, 100);
        }

        //上拉加载具体业务实现
        function pullupRefreshInitiate() {
            setTimeout(function () {
                initiateCount++; //翻下一页
                var page = initiateCount;
                var gType = 2; //代表上拉加载
                toInitiateList('initiateList', page, gType); //具体取数据的方法
            }, 100);
        }


        //下拉刷新具体业务实现
        function pulldownRefreshAbout() {
            setTimeout(function () {
                aboutCount = 1; //刷新并显示第一页
                var page = aboutCount;
                var gType = 1; //代表下拉刷新
                toAboutList('aboutList', page, gType); //具体取数据的方法
            }, 100);
        }

        //上拉加载具体业务实现
        function pullupRefreshAbout() {
            setTimeout(function () {
                aboutCount++; //翻下一页
                var page = aboutCount;
                var gType = 2; //代表上拉加载
                toAboutList('aboutList', page, gType); //具体取数据的方法
            }, 100);
        }

    })

    //我发起的
    var toInitiateList = function (wList, page, gType) {
        //搜索关键字不能完全为空，否则查询为空
        var url = "{:url('api/match/matchlistpage')}?page=" + page;
        var team_id = "{$team_id}"
        mui.ajax({
            url: url,
            data: {
                team_id: team_id,
                islive: 1,
                type: 2
            },
            dataType: 'json', //服务器返回json格式数据
            type: 'post', //HTTP请求类型
            timeout: 10000, //超时时间设置为10秒；
            headers: {
                'Content-Type': 'application/json'
            },
            success: function (data) {
                console.log(data)
                var newli = '';
                if (data.code == 200) {
                    for (var i = 0; i <= data.data.data.length - 1; i++) {
                        var urls = "{:url('team/matchinfoofteam')}" + '/match_id/' + data.data.data[i].id +
                            '/team_id/' + "{$team_id}";
                        newli += '<li class="mui-table-view-cell mui-media listli">'
                        newli += '<a href="' + urls +
                            '"><div class="mui-media-body wd83"><strong class="f14">' + data.data.data[
                                i].name + '</strong>';
                        if (data.data.data[i].court == '') {
                            newli += '<p class="mui-ellipsis lineHeight20">比赛场地待定</p>';
                        } else {
                            newli += '<p class="mui-ellipsis lineHeight20">' + data.data.data[i].court +
                                '</p>';
                        }
                        if (data.data.data[i].match_time == '') {
                            newli += '<p class="mui-ellipsis lineHeight20">比赛时间待定</p>';
                        } else {
                            newli += '<p class="mui-ellipsis lineHeight20">' + data.data.data[i].match_time +
                                '</p>'
                        }

                        newli += '</div><div class="price-frame">' + data.data.data[i].area + '</div>';
                        newli += '</li>';
                    }
                }

                if (gType == 1) {
                    //上拉刷新
                    $("ul.initiate").empty().append(newli);
                    mui('#' + wList).pullRefresh().endPulldownToRefresh();
                    mui('#' + wList).pullRefresh().refresh(true);
                    if (newli == '') {
                        $("ul.initiate").append(
                            '<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>'
                        );
                    }
                } else {
                    //下拉加载 gType==2
                    $("ul.initiate").append(newli);
                }

                if (newli != '') {
                    mui('#' + wList).pullRefresh().endPullupToRefresh(false);
                } else {
                    mui('#' + wList).pullRefresh().endPullupToRefresh(true);
                }
            },
            error: function (xhr, type, errerThrown) {
                mui.toast('网络异常,请稍候再试');
                mui('#' + wList).pullRefresh().endPullupToRefresh(true);
            }
        });
    };

    //约战我的
    var toAboutList = function (wList, page, gType) {
        //搜索关键字不能完全为空，否则查询为空
        var url = "{:url('api/match/matchapplypage','','',true)}" + '/?page=' + page;
        var team_id = "{$team_id}"
        mui.ajax({
            url: url,
            data: {
                team_id: team_id,
            },
            dataType: 'json', //服务器返回json格式数据
            type: 'post', //HTTP请求类型
            timeout: 10000, //超时时间设置为10秒；
            headers: {
                'Content-Type': 'application/json'
            },
            success: function (data) {
                console.log(data)
                var newli = '';
                if (data.code == 200) {
                    for (var i = 0; i <= data.data.data.length - 1; i++) {
                        var url = "{:url('team/matchapplyinfo')}" + '/apply_id/' + data.data.data[i].id +
                            '/team_id/' + data.data.data[i].team_id;
                        newli += '<li class="mui-table-view-cell mui-media listli">'
                        newli += '<a href="' + url + '"><div class="mui-media-body wd73">' + data.data.data[
                                i].team + '<p class="mui-ellipsis">' + data.data.data[i].create_time +
                            '</p></div>'
                        newli += '<div class="price-frame mui-text-center">';
                        if (data.data.data[i].status == 1) {
                            newli += '<p class="price"><strong>待审核</strong></p>';
                        } else if (data.data.data[i].status == 2) {
                            newli += '<p class="price"><strong>已同意</strong></p>';
                        } else {
                            newli += '<p class="price"><strong>拒绝</strong></p>';
                        }
                        newli += '</li>';
                    }
                }

                if (gType == 1) {
                    //上拉刷新
                    $("ul.about").empty().append(newli);
                    mui('#' + wList).pullRefresh().endPulldownToRefresh();
                    mui('#' + wList).pullRefresh().refresh(true);
                    if (newli == '') {
                        $("ul.about").append(
                            '<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>没有相关数据哦</p></li>'
                        );
                    }
                } else {
                    //下拉加载 gType==2
                    $("ul.about").append(newli);
                }

                if (newli != '') {
                    mui('#' + wList).pullRefresh().endPullupToRefresh(false);
                } else {
                    mui('#' + wList).pullRefresh().endPullupToRefresh(true);
                }
            },
            error: function (xhr, type, errerThrown) {
                mui.toast('网络异常,请稍候再试');
                mui('#' + wList).pullRefresh().endPullupToRefresh(true);
            }
        });
    };
</script>

</html>