<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>比赛详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css" />
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .teamLogo {
            width: 100%;
            border-radius: 50%;
        }

        @media screen and (min-width: 320px) {
            .teamLogo {
                height: 5.4rem;
            }
        }

        @media screen and (min-width: 375px) {
            .teamLogo {
                height: 6.6rem;
            }
        }

        @media screen and (min-width: 414px) {
            .teamLogo {
                height: 7.4rem;
            }
        }

        @media screen and (min-width: 768px) {
            .teamLogo {
                height: 14.8rem;
            }
        }
    </style>
    <style type="text/css">
        .mui-preview-image.mui-fullscreen {
            position: fixed;
            z-index: 20;
            background-color: #000;
        }

        .mui-preview-header,
        .mui-preview-footer {
            position: absolute;
            width: 100%;
            left: 0;
            z-index: 10;
        }

        .mui-preview-header {
            height: 44px;
            top: 0;
        }

        .mui-preview-footer {
            height: 50px;
            bottom: 0px;
        }

        .mui-preview-header .mui-preview-indicator {
            display: block;
            line-height: 50px;
            color: #fff;
            text-align: center;
            margin: 15px auto 4;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 12px;
            font-size: 16px;
        }

        .mui-preview-image {
            display: none;
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .mui-preview-image.mui-preview-in {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
        }

        .mui-preview-image.mui-preview-out {
            background: none;
            -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
        }

        .mui-preview-image.mui-preview-out .mui-preview-header,
        .mui-preview-image.mui-preview-out .mui-preview-footer {
            display: none;
        }

        .mui-zoom-scroller {
            position: absolute;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            -webkit-backface-visibility: hidden;
        }

        .mui-preview-image img.mui-transitioning {
            -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
            transition: transform 0.5s ease, opacity 0.5s ease;
        }

        @-webkit-keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        /* 底部按钮点击去除背景颜色 */

        .operation .opli a.mui-active {
            background-color: inherit
        }
    </style>
</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
    </header>

    <div class="mui-content">
        <div class="list mb44">
            <!-- 球队比分 -->
            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli mui-text-center" style="padding:35px 15px 25px 15px;">
                    <div class="mui-row">
                        <div class="mui-col-sm-4 mui-col-xs-4" style="padding:5px;margin-left:13px">
                            <img src="{$matchInfo.record.home_team_logo}" class="teamLogo">
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3" style="padding: 12% 0;">
                            <h3>VS</h3>
                        </div>
                        <div class="mui-col-sm-4 mui-col-xs-4" style="padding:5px">
                            <img src="{$matchInfo.record.away_team_logo}" class="teamLogo awayLogo">
                        </div>
                    </div>
                    <div class="mui-row">
                        <div class="mui-col-sm-4 mui-col-xs-4" style="margin-left:13px">
                            <strong class="f16 colororange">{$matchInfo.record.home_team}</strong>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3"></div>
                        <div class="mui-col-sm-4 mui-col-xs-4">
                            <strong class="f16 colororange away_team">{$matchInfo.record.away_team}</strong>
                        </div>
                    </div>
                    <div class="mui-row score">
                        <h2 class="mui-col-sm-4 mui-col-xs-4 colorred" style="margin-left:13px">{$matchInfo.record.home_score}</h2>
                        <div class="mui-col-sm-3 mui-col-xs-3"></div>
                        <h2 class="mui-col-sm-4 mui-col-xs-4 colorred">{$matchInfo.record.away_score}</h2>
                    </div>
                </li>
            </ul>

            <!-- 比赛信息 -->
            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-opponent colororange"></span>对手</label>
                    <span class="away_team">{$matchInfo.record.away_team}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-EndTime colororange"></span>时间</label>
                    <span class="match_time">{$matchInfo.match_time}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-Location colororange"></span>地区</label>
                    <span>{$matchInfo.province} {$matchInfo.city} {$matchInfo.area}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-EventLocati colororange"></span>比赛地点</label>
                    <span>{$matchInfo.court}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-opponent colororange"></span>场地费用</label>
                    <span>{$matchInfo.court_cost}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-EventLocati colororange"></span>场地付费方式</label>
                    <span class="wd60 courtCostBear">{$matchInfo.court_cost_bear}</span>
                </li>
                <li class="mui-table-view-cell listli refereeName">
                    <label>
                        <span class="icon iconfont icon-activity-EventLocati colororange"></span>裁判名单</label>
                    <span class="wd60 refereeList">{volist name="$refereeList" id="vol"}{$vol.referee},{/volist}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-EventLocati colororange"></span>裁判付费方式</label>
                    <span class="wd60 refereeCostBear">{$matchInfo.record.referee_cost_bear}</span>
                </li>
                <li class="mui-table-view-cell listli">
                    <label>
                        <span class="icon iconfont icon-activity-category colororange"></span>比赛类型</label>
                    <span class="match_time">{$matchInfo.type}</span>
                </li>
            </ul>

            <!-- 参赛人员 -->
            <div class="mui-table-view detalis-list list mainInfo">
                <div class="page-header">
                    <span class="course">参赛人员 出勤率
                        <b class="colororange rate">0%</b>
                    </span>
                    <span class="more f14">
                        <a href="{:url('team/matchSignupList',['team_id'=>$teamInfo['id'],'match_id'=>$matchInfo['id']])}/?matchofteam=1" class="mui-navigate-right">
                            <b class="colororange signup_num">0</b>/{$countTeamMember}
                        </a>
                    </span>
                </div>
                <div class="imgShow overflow-x"></div>
            </div>

            <!-- 比赛花絮 -->
            <div class="page-header">
                <span class="course">比赛花絮</span>
            </div>
            {notempty name="matchInfo.record.album"}
            <div class="mui-content-padded whitebg" style="margin: 0">
                <div class="mui-row" style="min-height: 97px;max-height:299px;overflow-y: hidden;">
                    {volist name="matchInfo.record.album" id="vol"}
                    <div class="mui-col-xs-4 mui-col-sm-4" style="padding:0 2px">
                        <img src="{$vol}" data-preview-src="" data-preview-group="1" style="width: 100%;height: 6rem;"> </div>
                    {/volist}
                </div>
            </div>
            {else/}
            <p class="nohave whitebg">还没有上传花絮图哦</p>
            {/notempty}

            <div class="page-header border-b ">
                <span class="course wd52">评论</span>
                <span class="more f14">评论
                    <span class="comment_count">0</span>&nbsp;|&nbsp;
                    <i class="mui-icon-extra mui-icon-extra-like f16 thumbsup"></i>&nbsp;
                    <span class="thumbup_count">0</span>
                </span>
            </div>
            <ul class="mui-table-view comment-list coach"></ul>

            <!-- 底部操作 -->
            <ul class="mui-table-view operation mt">
                <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                    <a href="{$homeurl}">
                        <span class="mui-icon icon iconfont icon-nav-Home"></span>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-5 mui-col-sm-5 opli bgblue matchpk apply-referee" style="display:none">申请执裁</li>
                <li class="mui-table-view-cell mui-col-xs-5 mui-col-sm-5 opli bgred signupBtn status1" style="display:none">参加</li>
                <li class="mui-table-view-cell mui-col-xs-10 mui-col-sm-10 opli bgblue status2" style="display:none">
                    <a href="#fbcomment">发表评论</a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-5 mui-col-sm-5 opli bggreen status3" style="display:none">
                    <a href="{:url('team/matchEdit',['team_id'=>$teamInfo['id'],'match_id'=>$matchInfo['id']])}">编辑/录入 </a>
                </li>
            </ul>

        </div>
    </div>

    <!-- 发表评论 -->
    <div id="fbcomment" class="mui-popover mui-popover-action mui-popover-bottom actionsheet">
        <div class="list coach">
            <ul class="mui-table-view operation">
                <h5>
                    <span class="type">评价一下</span>
                    <a href="#fbcomment" class="mui-icon mui-icon-closeempty"></a>
                </h5>
                <li class="listli">
                    <textarea rows="4" class="comment" placeholder="为这个比赛做做评价吧。"></textarea>
                </li>
                <li class="mui-col-xs-12 opli commentBtn">发表</li>
            </ul>
        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script type="text/javascript" src="/static/frontend/js/wooApi.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="/static/frontend/js/mui.zoom.js"></script>
    <script src="/static/frontend/js/mui.previewimage.js"></script>
    <script>
        mui.previewImage();
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        // a标签跳转
        mui(".mui-content").on("tap", "a", function () {
            window.top.location.href = this.href;
        });

        $(function () {

            var count = 1;
            pulldownRefresh(); //页面打开时获取一次最新评论信息
            isthumbsup(); //点赞状态
            toSignUpList(); // 报名/参赛人员

            // 去逗号
            var refereeList = $(".refereeList").text()
            $(".refereeList").text(refereeList.substring(0, refereeList.length - 1));

            // 没有对手比分不显示
            var homeTeam = "{$matchInfo.record.home_score}";
            var awayTeam = "{$matchInfo.record.away_score}";
            if (homeTeam == 0 && awayTeam == 0) {
                $(".score").hide();
            }

            // 如果对手为空
            if ($(".away_team").text() == '') {
                $(".away_team").text("暂无应战");
            }

            // 时间待定显示
            var match_time = "{$matchInfo.match_time}";
            if (match_time == 0) {
                $(".match_time").text("待定");
            }

            // 场地付费方式文字转换中文
            var court_cost_bear = "{$matchInfo.court_cost_bear}";
            if (court_cost_bear == 0) {
                $(".courtCostBear").text("免费");
            } else if (court_cost_bear == 1) {
                $(".courtCostBear").text("费用AA");
            } else if (court_cost_bear == 2) {
                $(".courtCostBear").text("主队负责");
            } else if (court_cost_bear == 3) {
                $(".courtCostBear").text("客队负责");
            }

            // 付费方式文字转换中文
            var referee_cost_bear = "{$matchInfo.record.referee_cost_bear}";
            if (referee_cost_bear == 0) {
                $(".refereeCostBear").text("免费");
            } else if (referee_cost_bear == 1) {
                $(".refereeCostBear").text("费用AA");
            } else if (referee_cost_bear == 2) {
                $(".refereeCostBear").text("主队负责");
            } else if (referee_cost_bear == 3) {
                $(".refereeCostBear").text("客队负责");
            }

            // 申请执裁
            $(".apply-referee").on("tap", function () {
                var match_id = "{$matchInfo.id}";
                var match_record_id = "{$matchInfo.record.id}";
                var referee_id = "{$memberRefereeInfo.id}";
                mui.ajax("{:url('api/referee/applymatchreferee')}", {
                    data: {
                        match_id: match_id,
                        match_record_id: match_record_id,
                        referee_id: referee_id
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            mui.toast("你已提交申请，请耐心等待回复");
                        }
                        else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            //报名功能
            $(".signupBtn").on('tap', function () {
                //判断是否登陆会员
                var match_id = "{$matchInfo.id}";
                mui.ajax("{:url('api/match/joinmatch')}", {
                    data: {
                        match_id: match_id,
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            mui.alert('报名成功', function () {
                                location.reload();
                            });
                        } else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            //评论功能
            $(".commentBtn").on('tap', function () {
                var commented_id = "{$matchInfo.id}";
                var comment = $(".comment").val();

                if (comment == '') {
                    mui.toast("评价内容不能为空哦");
                    return false;
                }

                mui.ajax("{:url('api/team/addteamcomment')}", {
                    data: {
                        commented_id: commented_id,
                        comment_type: 3,
                        comment: comment
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            mui.toast('评价成功，感谢你的评价！');
                            $(".comment-list").empty();
                            toCommentList();
                            mui('#fbcomment').popover('toggle');
                        } else {
                            mui.toast(data.msg);
                            mui('#fbcomment').popover('toggle');
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            //点赞功能
            $(".thumbsup").on('tap', function () {
                var commented_id = "{$matchInfo.id}";
                mui.ajax("{:url('api/team/dianzan')}", {
                    data: {
                        commented_id: commented_id,
                        comment_type: 3,
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            $(".thumbup_count").text(data.thumbup_count);
                            isthumbsup();
                        } else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            // 判断身份显示操作按钮
            var memberRefereeInfoId = "{$memberRefereeInfo.id}";
            var referee_type = '{$refereeList}';
            var teamrole = "{$teamrole}";
            var is_finished = "{$matchInfo.is_finished_num}";

            // 队委
            if (teamrole > 0 && is_finished == 1) {
                $(".status2").show();
                $(".status2").removeClass("mui-col-xs-10").addClass("mui-col-xs-5");
                $(".status2").removeClass("mui-col-sm-10").addClass("mui-col-sm-5");
                $(".status3").show();
            } else if (teamrole > 0 && is_finished == -1) {
                if (memberRefereeInfoId != '' && referee_type != '') {
                    $(".status1").show();
                    $(".status1").removeClass("mui-col-xs-5").addClass("mui-col-xs-3");
                    $(".status1").removeClass("mui-col-sm-5").addClass("mui-col-sm-3");
                    $(".status3").show();
                    $(".status3").removeClass("mui-col-xs-5").addClass("mui-col-xs-4");
                    $(".status3").removeClass("mui-col-sm-5").addClass("mui-col-sm-4");
                    $(".matchpk").show();
                    $(".matchpk").removeClass("mui-col-xs-5").addClass("mui-col-xs-3");
                    $(".matchpk").removeClass("mui-col-sm-5").addClass("mui-col-sm-3");
                    return false;
                } else {
                    $(".status1").show();
                    $(".status3").show();
                }
            }

            // 队员
            if (teamrole == 0 && is_finished == 1) {
                $(".status2").show();
            } else if (teamrole == 0 && is_finished == -1) {
                if (memberRefereeInfoId != '' && referee_type != '') {
                    $(".status1").show();
                    $(".matchpk").show();
                    return false;
                } else {
                    $(".status1").show();
                    $(".status1").removeClass("mui-col-xs-5").addClass("mui-col-xs-10");
                    $(".status1").removeClass("mui-col-sm-5").addClass("mui-col-sm-10");
                }
            }

            // 平台会员
            if (teamrole < 0 && is_finished == 1) {
                $(".status2").show();
            } else if (teamrole < 0 && is_finished == -1) {
                if (memberRefereeInfoId != '' && referee_type != '') {
                    $(".status1").show();
                    $(".matchpk").show();
                    return false;
                } else {
                    $(".status1").show();
                    $(".status1").removeClass("mui-col-xs-5").addClass("mui-col-xs-10");
                    $(".status1").removeClass("mui-col-sm-5").addClass("mui-col-sm-10");
                }
            }

        });

        // 点赞状态
        function isthumbsup() {
            var commented_id = "{$matchInfo.id}";
            mui.ajax("{:url('api/team/isthumbup')}", {
                data: {
                    commented_id: commented_id,
                    comment_type: 3,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        $(".thumbup_count").text(data.thumbsup_count);
                        if (data.thumbsup == 1) {
                            $(".thumbsup").css("color", "red");
                        } else {
                            $(".thumbsup").css("color", "#737373");
                        }
                    } else {
                        mui.toast(data.msg);
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        }

        //下拉刷新具体业务实现
        function pulldownRefresh() {
            setTimeout(function () {
                count = 1;//刷新并显示第一页
                var page = count;
                var gType = 1;//代表下拉刷新
                toCommentList(page, gType);//具体取数据的方法
            }, 100);
        }
        //上拉加载具体业务实现
        function pullupRefresh() {
            setTimeout(function () {
                count++;//翻下一页
                var page = count;
                var gType = 2;//代表上拉加载
                toCommentList(page, gType);//具体取数据的方法
            }, 100);
        }
        //获取评论列表
        function toCommentList(page, gType) {
            var url = "{:url('api/team/teamcommentlist','','',true)}/?page=" + page;
            var commented_id = "{$matchInfo.id}";
            mui.ajax({
                url: url,
                data: {
                    commented_id: commented_id,
                    comment_type: 3,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    if (data.code == 200) {
                        $(".comment_count").text(data.data.length);
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli = newli + '<li class="mui-table-view-cell listli border-b"><div class="mui-pull-right">' + data.data[i].create_time + '</div><img class="mui-pull-left coachicon" src="' + data.data[i].member_avatar + '">' + data.data[i].member + '<p>' + data.data[i].comment + '</p></li>'
                        }
                    }
                    if (gType == 1) {
                        //上拉刷新
                        $("ul.comment-list").empty().append(newli);
                        if (newli == '') {
                            $("ul.comment-list").html('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>还没有评论哦，你来说几句吧！</p></li>');
                        }
                    } else {
                        //下拉加载 gType==2
                        $("ul.comment-list").append(newli);
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

        //获取已经报名的活动人员列表
        function toSignUpList() {
            var url = "{:url('api/match/recordmemberlist')}";
            var match_id = "{$matchInfo.id}";
            mui.ajax({
                url: url,
                data: {
                    match_id: match_id,
                    status: 1,
                    // is_apply: 1
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var inactiveDiv = '';
                        $(".imgShow").empty();
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            $(".signup_num").text(data.data.length);
                            // 出勤率
                            var rateNum = data.data.length / "{$countTeamMember}" * 100;
                            $(".rate").text(parseInt(rateNum) + "%");
                            inactiveDiv += '<img src="' + data.data[i].avatar + '" style="margin-right:3px">'
                        };
                        $(".imgShow").append(inactiveDiv);
                    }
                    if (data.code == 100) {
                        $(".imgShow").append('<p class="mui-text-center">还没有参赛人员哦</p>');
                    }
                },
                error: function (xhr, type, errerThrown) {
                    console.log(type);
                }
            });
        };
    </script>

</body>

</html>