<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>记录数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .recordTable {
            width: 100%;
            text-align: center
        }

        .recordTable td {
            border: 1px solid #ddd;
        }

        .recordTable .name {
            border: none;
            padding: 10px;
        }

        .recordTable p {
            margin: 5px 0 0 0;
            font-size: 12px;
        }

        .recordTable input {
            padding: 0 4px;
            text-align: center;
        }
    </style>
</head>

<body>

    <header id="header" class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow">
            <span class="return">返回</span>
        </a>
    </header>

    <div class="mui-content">

        <input type="hidden" name="__token__" class="data" value="{$Request.token}" />

        <form class="mui-input-group mt55">

            <table class="recordTable">
                <tbody>
                    <tr>
                        <td colspan="6" class="name">
                            张三
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>号码</p>
                            <input type="text" value="2">
                        </td>
                        <td>
                            <p>位置</p>
                            <input type="text" value="中锋">
                        </td>
                        <td>
                            <p>时间</p>
                            <input type="text" value="15分">
                        </td>
                        <td>
                            <p>得分</p>
                            <input type="text" value="20">
                        </td>
                        <td>
                            <p>助攻</p>
                            <input type="text" value="3">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>篮板</p>
                            <input type="text" value="4">
                        </td>
                        <td>
                            <p>抢断</p>
                            <input type="text" value="1">
                        </td>
                        <td>
                            <p>盖帽</p>
                            <input type="text" value="1">
                        </td>
                        <td>
                            <p>失误</p>
                            <input type="text" value="0">
                        </td>
                        <td>
                            <p>犯规</p>
                            <input type="text" value="4">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p>篮板</p>
                            <input type="text" value="4">

                        </td>
                        <td colspan="2">
                            <p>抢断</p>
                            <input type="text" value="1">
                        </td>
                    </tr>
                </tbody>
            </table>

        </form>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-col-xs-12 opli bggreen" onclick="submitAction()">
                提交
            </li>
        </ul>

    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });
    </script>
</body>

</html>