<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>录入数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .mui-input-row a {
            display: table;
            width: 100%;
        }

        .addOperation {
            float: right;
            font-size: 14px;
            display: flex;
            color: #ff7f00;
        }

        .addInput {
            padding: 0 !important;
            height: 21px !important;
        }

        .addOperation text {
            padding-top: 2px;
        }

        .dataIcon text {
            width: 22px;
            height: 22px;
            display: inline-block;
            text-align: center;
            background-color: #ddd;
            border: 1px solid #ddd;
            border-radius: 25px;
            background-clip: padding-box;
        }

        .dataIcon i {
            color: #fff;
            font-size: 22px;
        }

        .dataCollapse .dataTitle {
            border: 1px solid #ddd;
            padding: 9px;
        }

        .dataCollapse,
        .dataCollapse input {
            text-align: center;
        }

        .dataCollapse input::-webkit-input-placeholder {
            color: #ff7f00;
        }

        .dataCollapse input {
            border-left: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            color: #ff7f00;
        }

        .dataCollapse .dataText {
            padding: 9px;
            border-bottom: 1px solid #ddd;
        }

        .dataCollapse .dataTextLeft {
            border-left: 1px solid #ddd;
        }

        .dataCollapse .sfText {
            padding: 9px;
        }

        .dataCollapse .sfButton,
        .dataCollapse .confirmBtn,
        .dataCollapse .delBtn {
            padding: 5px;
        }
    </style>
</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow">
            <span class="return">返回</span>
        </a>
    </header>

    <div class="mui-content">

        <input type="hidden" name="__token__" class="data" value="{$Request.token}" />
        <input type="hidden" name="team" value="" class="data">
        <input type="hidden" name="team_id" value="" class="data">

        <form action="" class="mui-input-group mb44">
            <div class="mui-input-row">
                <a href="#match" class="mui-navigate-right">
                    <label>比赛</label>
                    <span class="matchCont domData" name="match"></span>
                    <input type="hidden" name="match_id" value="" class="data">
                    <input type="hidden" name="match_record_id" value="" class="data">
                </a>
            </div>

            <div class="mui-input-row">
                <label>比赛日期</label>
                <span class="match_time domData" name="match_time" class="data"></span>
            </div>

            <div class="mui-input-row">
                <label>对手</label>
                <span class="away_team"></span>
            </div>

            <div class="mui-input-row">
                <label>最终比分</label>
                <span>我方
                    <text class="colororange home_score">0</text>分，对方
                    <text class="colororange away_score">0</text>分</span>
            </div>

            <!--球员数据-->
            <div class="page-header bggray2">
                <span class="course">球员数据</span>
                <a href="#member" class="addOperation">
                    <text>添加</text>
                    <i class="mui-icon mui-icon-plusempty"></i>
                </a>
            </div>
            <ul class="mui-table-view list border-b dataList"></ul>

        </form>

        <ul class="mui-table-view operation">
            <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                <a href="{:url('team/teamInfo',['team_id'=>$team_id])}">
                    <span class="mui-icon icon iconfont icon-nav-Home"></span>
                </a>
            </li>
            <li class="mui-table-view-cell mui-col-sm-10 mui-col-xs-10 opli bggreen" onclick="submitAction()">
                提交
            </li>
        </ul>

    </div>

    <!--比赛-->
    <div id="match" class="mui-popover" style="margin: 0">
        <div class="mui-popover-arrow"></div>
        <div class="page-header">
            <span class="course wd45">
                <strong>比赛列表</strong>
            </span>
            <span class="fr">
                <button class="mui-btn" id="matchDel">清除</button>
            </span>
        </div>
        <div class="pop-search">
            <input type="search" class="keywordLD" placeholder="请比赛名称搜索">
            <span class="mui-icon mui-icon-search searchicon" id="searchCR"></span>
        </div>
        <div class="mui-scroll-wrapper" style="top:88px !important;">
            <div class="mui-scroll">
                <ul class="mui-table-view list matchList"></ul>
                <ul class="mui-pager">
                    <li>
                        <a href="#" class="prev_page">上一页</a>
                    </li>
                    <li>
                        <span class="currPagemt">0</span>/
                        <span class="totalPagemt">0</span>
                    </li>
                    <li>
                        <a href="#" class="next_page">下一页</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--选择球员-->
    <div id="member" class="mui-popover" style="margin: 0">
        <div class="mui-popover-arrow"></div>
        <div class="page-header border-b">
            <span class="course wd36">
                <strong>选择球员</strong>
            </span>
            <span class="fr">
                <button class="mui-btn addTp">添加临时球员</button>
            </span>
        </div>
        <div class="camp-lesson-list">
            <div class="mui-segmented-control">
                <a class="mui-control-item mui-active" href="#item11">球员列表</a>
                <a class="mui-control-item" href="#item22">平台会员列表</a>
            </div>
        </div>
        <div id="item11" class="mui-control-content mui-active">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-table-view list teamMemberList">
                    </ul>
                </div>
            </div>
        </div>
        <div id="item22" class="mui-control-content">
            <div class="pop-search">
                <input type="search" class="keywordMB" placeholder="请输入会员手机号或会员名搜索">
                <span class="mui-icon mui-icon-search searchicon" id="searchMB"></span>
            </div>
            <div class="mui-scroll-wrapper" style="top:40px !important;">
                <div class="mui-scroll">
                    <ul class="mui-table-view list memberList">
                    </ul>
                    <ul class="mui-pager">
                        <li>
                            <a href="#" class="prev_page">上一页</a>
                        </li>
                        <li>
                            <span class="currPage">0</span>/
                            <span class="totalPage">0</span>
                        </li>
                        <li>
                            <a href="#" class="next_page">下一页</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/static/frontend/js/wooApi.js"></script>
    <!-- 选择器 -->
    <script src="/static/frontend/js/mui.picker.min.js"></script>
    <script src="/static/frontend/js/mui.poppicker.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能

        });

        //弹出框滚动必须写在mui专用的初始化
        (function ($) {
            $(".mui-scroll-wrapper").scroll({
                //bounce: false,//滚动条是否有弹力默认是true
                indicators: true //是否显示滚动条,默认是true
            });
            // 关闭弹出菜单
            $("body").on('tap', '.mui-backdrop', function () {
                mui(".mui-popover.mui-active").popover("toggle");
            });
        })(mui);

        $(function () {

            // 公共数据
            var dataPublic = `<div class="mui-collapse-content dataCollapse">
                        <div class="mui-row dataTitle">
                            <div class="mui-col-xs-6">出手次数</div>
                            <div class="mui-col-xs-6">命中次数</div>
                        </div>
                        <div class="mui-row">
                            <div class="mui-col-xs-2 dataText dataTextLeft">二分</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="fga" class="checkNum" value="" placeholder="0">
                            </div>
                            <div class="mui-col-xs-2 dataText">二分</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="fg" class="checkNum" value="" placeholder="0">
                            </div>
                        </div>
                        <div class="mui-row">
                            <div class="mui-col-xs-2 dataText dataTextLeft">三分</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="threepfga" class="checkNum" value="" placeholder="0">
                            </div>
                            <div class="mui-col-xs-2 dataText">三分</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="threepfg" class="checkNum" value="" placeholder="0">
                            </div>
                        </div>
                        <div class="mui-row">
                            <div class="mui-col-xs-2 dataText dataTextLeft">罚球</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="fta" class="checkNum" value="" placeholder="0">
                            </div>
                            <div class="mui-col-xs-2 dataText">罚中</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="ft" class="checkNum" value="" placeholder="0">
                            </div>
                        </div>
                        <p class="pline"></p>
                        <div class="mui-row">
                            <div class="mui-col-xs-2 dataText dataTextLeft">篮板</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="reb" class="checkNum" value="" placeholder="0">
                            </div>
                            <div class="mui-col-xs-2 dataText">助攻</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="ast" class="checkNum" value="" placeholder="0">
                            </div>
                        </div>
                        <div class="mui-row">
                            <div class="mui-col-xs-2 dataText dataTextLeft">抢断</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="stl" class="checkNum" value="" placeholder="0">
                            </div>
                            <div class="mui-col-xs-2 dataText">封盖</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="blk" class="checkNum" value="" placeholder="0">
                            </div>
                        </div>
                        <div class="mui-row">
                            <div class="mui-col-xs-2 dataText dataTextLeft">失误</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="turnover" class="checkNum" value="" placeholder="0">
                            </div>
                            <div class="mui-col-xs-2 dataText">犯规</div>
                            <div class="mui-col-xs-4">
                                <input type="text" name="foul" class="checkNum" value="" placeholder="0">
                            </div>
                        </div>
                        <div class="mui-row ">
                            <div class="mui-col-xs-2 sfText">首发</div>
                            <div class="mui-col-xs-4 sfButton">
                                <div class="mui-switch isLineup mui-switch-mini mui-switch-mini">
                                    <div class="mui-switch-handle"></div>
                                </div>
                                <input type="hidden" name="lineup" value="0">
                            </div>
                            <div class="mui-col-xs-3 mui-text-right delBtn">
                                <button type="button" class="mui-btn">删除</button>
                            </div>
                            <div class="mui-col-xs-3 mui-text-right confirmBtn">
                                <button type="button" class="mui-btn bggreen">确认</button>
                            </div>
                        </div>
                        <input type="hidden" name="personalScoreCont" value="">
                    </div>`;


            //添加球队队员操作 
            $(document).on("tap", ".teamMemberList li", function () {
                var addtmName = $(this).attr("data-name");
                var addtmId = $(this).attr("data-tmid");
                var addtmNumber = $(this).attr("data-number");
                var addMember = $(this).attr("data-Member");
                var addtmember_Id = $(this).attr("data-member_id");
                // 判断球员是否在列表中
                var isOk = true
                $(".dataList li").each(function () {
                    var tmId = $(this).attr("data-team_member_id");
                    if (addtmId == tmId) {
                        mui.toast("该队员已在列表中");
                        return isOk = false;
                    }
                });
                if (!isOk) { return isOk }

                var checkdisabled = 'disabled';
                if (addtmNumber == 'null') {
                    addtmNumber = '';
                    var checkdisabled = '';
                }
                var tmFormal = `<li class="mui-table-view-cell mui-collapse listli"  data-team_member_id="${addtmId}" data-member_id="${addtmember_Id}">
                    <a class="mui-navigate-right">
                        <div class="mui-row">
                            <div class="mui-col-xs-4"><input type="text" name="name" class="addInput" value="${addtmName}" data-member="${addMember}"  placeholder="球员姓名" disabled =${checkdisabled}></div>
                            <div class="mui-col-xs-4 colororange"><input type="text" name="number" class="addInput checkNum" value="${addtmNumber}" ${checkdisabled}  placeholder="球员号码" ></div>
                            <div class="mui-col-xs-4 mui-text-center dataIcon">
                                <text class="bgcolor">
                                    <i class="mui-icon mui-icon-checkmarkempty"></i>
                                </text>
                            </div>
                        </div>
                    </a>${dataPublic}
                </li>`;
                $(".dataList").append(tmFormal);
                mui('.mui-switch').switch();
                mui("#member").popover("toggle");
            });


            //添加平台会员操作 
            $(document).on("tap", ".memberList li", function () {
                var member = $(this).attr("data-member");
                var member_id = $(this).attr("data-member_id");
                // 判断球员是否在列表中
                var isOk = true
                $(".dataList li").each(function () {
                    var memberId = $(this).attr("data-member_id");
                    if (member_id == memberId) {
                        mui.toast("该队员已在列表中");
                        return isOk = false;
                    }
                });
                if (!isOk) { return isOk }

                var ptMember = `<li class="mui-table-view-cell mui-collapse listli" data-member_id="${member_id}">
                    <a class="mui-navigate-right">
                        <div class="mui-row">
                            <div class="mui-col-xs-4"><input type="text" name="name" class="addInput" value="${member}" data-member="${member}"   placeholder="球员姓名" disabled></div>
                            <div class="mui-col-xs-4 colororange"><input type="text" name="number" class="addInput checkNum" value="" placeholder="球员号码"></div>
                            <div class="mui-col-xs-4 mui-text-center dataIcon">
                                <text class="bgcolor">
                                    <i class="mui-icon mui-icon-checkmarkempty"></i>
                                </text>
                            </div>
                        </div>
                    </a>${dataPublic}
                </li>`;
                $(".dataList").append(ptMember);
                mui('.mui-switch').switch();
                mui("#member").popover("toggle");
            });

            //添加临时队员操作
            $(document).on("tap", ".addTp", function () {
                var tmTemporary = `<li class="mui-table-view-cell mui-collapse listli">
                    <a class="mui-navigate-right">
                        <div class="mui-row">
                            <div class="mui-col-xs-4"><input type="text" name="name" class="addInput" value="" data-id="" placeholder="球员姓名"></div>
                            <div class="mui-col-xs-4 colororange"><input type="text" name="number" class="addInput checkNum" value="" placeholder="球员号码"></div>
                            <div class="mui-col-xs-4 mui-text-center dataIcon">
                                <text class="bgcolor">
                                    <i class="mui-icon mui-icon-checkmarkempty"></i>
                                </text>
                            </div>
                        </div>
                    </a>${dataPublic}
                </li>`;
                $(".dataList").append(tmTemporary);
                mui('.mui-switch').switch();
                mui("#member").popover("toggle");
            });

            // 是否首发
            $(document).on("tap", ".isLineup", function () {
                var lineUp = $(this).siblings("input[name=lineup]");
                if (lineUp.val() == "0") {
                    lineUp.val("1");
                } else {
                    lineUp.val("0");
                }
            });

            var matchKeyword = '';
            var memberKeyword = '';
            var wMatch = '';
            var wMember = '';
            var pageCR = 1;
            var pageMB = 1;
            var keywordLD = '';
            var keywordMB = '';
            toMatchList(wMatch, matchKeyword, 1); //获取比赛列表
            toMemberList(wMember, memberKeyword, 1); //获取会员列表
            toTeamMemberList(); //获取球员列表
            //////////////////////比赛列表////////////////////////////////////
            // 选择比赛
            $(".matchList").on('tap', 'li', function () {
                $(".dataList").empty();
                var match_record_id = $(this).attr('data-match_record_id');
                $("input[name=match_record_id]").val(match_record_id);
                var match = $(this).find("font").text();
                $(".matchCont").text(match);
                var id = $(this).attr('data-id');
                $("input[name=match_id]").val(id);
                var match_time = $(this).attr('data-match_time');
                $(".match_time").text(match_time);
                var away_team = $(this).attr('data-away_team');
                $(".away_team").text(away_team);
                var home_team = $(this).attr('data-home_team');
                $("input[name=team]").val(home_team);
                var home_team_id = $(this).attr('data-home_team_id');
                $("input[name=team_id]").val(home_team_id);
                var home_score = $(this).attr('data-home_score');
                $(".home_score").text(home_score);
                var away_score = $(this).attr('data-away_score');
                $(".away_score").text(away_score);

                $(this).find(".tmInfo").each(function () {
                    var tmMember = $(this).attr("data-member");
                    var tmName = $(this).attr("data-name");
                    var tmNumber = $(this).attr("data-number");
                    var tmId = $(this).attr("data-team_member_id");
                    var tmemberId = $(this).attr("data-member_id");
                    var match_record_member_id = $(this).attr("data-match_record_member_id");
                    var checkdisabled = 'disabled';
                    if (tmNumber == 'null') {
                        tmNumber = '';
                        var checkdisabled = '';
                    }
                    var tmMatch = `<li class="mui-table-view-cell mui-collapse listli"  data-team_member_id="${tmId}" data-member_id="${tmemberId}" data-match_record_member_id="${match_record_member_id}">
                            <a class="mui-navigate-right">
                                <div class="mui-row">
                                    <div class="mui-col-xs-4"><input type="text" name="name" class="addInput" value="${tmName}" data-member="${tmMember}" placeholder="球员姓名" disabled =${checkdisabled}></div>
                                    <div class="mui-col-xs-4 colororange"><input type="text" name="number" class="addInput checkNum"  value="${tmNumber}" placeholder="球员号码" ${checkdisabled}></div>
                                    <div class="mui-col-xs-4 mui-text-center dataIcon">
                                        <text class="bgcolor">
                                            <i class="mui-icon mui-icon-checkmarkempty"></i>
                                        </text>
                                    </div>
                                </div>
                            </a>${dataPublic}
                        </li>`;
                    $(".dataList").append(tmMatch);
                    mui('.mui-switch').switch();
                });
                mui("#match").popover("toggle");
            })
            //清除比赛
            $("#matchDel").on('tap', '', function () {
                $(".matchCont").text('');
                $("input[name=match_id]").val("");
                $(".match_time").text('');
                $(".away_team").text('');
                $(".home_score").text('0');
                $(".away_score").text('0');
                $(".dataList").empty();
                mui("#match").popover("toggle");
            })
            //搜索比赛
            $("#searchCR").on("tap", function () {
                var keyword = $(".keywordLD").val();
                var pageCR = 1;
                toMatchList(keyword, "match", pageCR);
            })
            //比赛弹出框页码控制
            $("#match").on('tap', '.next_page', function () {
                var getTotalPage = $("#match .totalPage").text();
                pageCR++;
                if (pageCR > getTotalPage) {
                    mui.toast("已经最后一页了");
                } else {
                    var keyword = $(".keywordLD").val();
                    toMatchList(keyword, "match", pageCR);
                }
            })
            $("#match").on('tap', '.prev_page', function () {
                pageCR--;
                if (pageCR < 1) {
                    mui.toast("已经是第一页了");
                } else {
                    var keyword = $(".keywordLD").val();
                    toMatchList(keyword, "match", pageCR);
                }
            })
            //////////////////////比赛//////////////////////////////////
            /////////////////////会员//////////////////////////////////
            // 会员
            $(".member").on('click', 'li', function () {
                var member = $(this).text();
                $("input[name='member']").val(member);
                var member_id = $(this).attr('data-member_id');
                $(".member_id").val(id);
                mui("#member").popover("toggle");
            })
            //清除会员
            $("#memberDel").on('tap', '', function () {
                $("input[name='member']").val("");
                $(".member_id").val("");
                mui("#member").popover("toggle");
            })

            //搜索会员
            $("#searchMB").on("tap", function () {
                var keywordMB = $(".keywordMB").val();
                var pageMB = 1;
                toMemberList(keywordMB, "member", pageMB);
            })
            //会员弹出框页码控制
            $("#member").on('tap', '.next_page', function () {
                var getTotalPage = $("#member .totalPage").text();
                pageMB++;
                if (pageMB > getTotalPage) {
                    mui.toast("已经最后一页了");
                    pageMB = getTotalPage;
                } else {
                    var keywordMB = $(".keywordMB").val();
                    toMemberList(keywordMB, "member", pageMB);
                }
            })
            $("#member").on('tap', '.prev_page', function () {
                pageMB--;
                if (pageMB < 1) {
                    mui.toast("已经是第一页了");
                    pageMB = 1;
                } else {
                    var keywordMB = $(".keywordMB").val();
                    toMemberList(keywordMB, "member", pageMB);
                }
            })
            //////////////////////会员//////////////////////////////////


            // 确认标志完成
            $(document).on("tap", ".confirmBtn button", function () {
                var confirmText = $(this).text();
                if (confirmText == "确认") {
                    $(this).parents(".dataCollapse").siblings().find("text").css("background-color", "#59b200");
                    $(this).text("取消");
                } else {
                    $(this).parents(".dataCollapse").siblings().find("text").css("background-color", "#ddd");
                    $(this).text("确认");
                }
            });

            // 删除球员
            $(document).on("tap", ".delBtn button", function () {
                $(this).parents(".mui-collapse").remove();
            });

            // 输入数字判断
            $(document).on("blur", ".checkNum", function () {
                if (!(/^[0-9]*$/).test($(this).val())) {
                    $(this).val('').focus();
                    mui.toast("请输入数字");
                    return false;
                };
            });

            // 判断球衣号码不能重复
            $(document).on("blur", "input[name=number]", function () {
                var numberCount = 0;
                var thisNumber = $(this).val();
                $(".dataList input[name=number]").each(function () {
                    if (thisNumber === $(this).val() && thisNumber !== '') {
                        numberCount++;
                    }
                });
                if (numberCount > 1) {
                    mui.toast("球衣号码不能重复");
                    $(this).val('').focus();
                    return false;
                }
            });

            $(document).on("blur", "input[name=fg]", function () {
                var fga = $(this).parents().siblings().find("input[name=fga]").val(); //二分出手数
                if (parseInt($(this).val()) > parseInt(fga)) {
                    mui.toast("二分命中次数不能大于出手次数");
                    $(this).val('').focus();
                    return false;
                }
            });
            $(document).on("blur", "input[name=threepfg]", function () {
                var threepfga = $(this).parents().siblings().find("input[name=threepfga]").val();//三分出手数
                if (parseInt($(this).val()) > parseInt(threepfga)) {
                    mui.toast("三分命中次数不能大于出手次数");
                    $(this).val('').focus();
                    return false;
                }
            });
            $(document).on("blur", "input[name=ft]", function () {
                var fta = $(this).parents().siblings().find("input[name=fta]").val(); //罚球出手数
                if (parseInt($(this).val()) > parseInt(fta)) {
                    mui.toast("罚球命中次数不能大于罚球数");
                    $(this).val('').focus();
                    return false;
                }
            });

        });

        // 提交
        function submitAction() {
            var members = [];
            var personalScoreAll = 0;
            $(".dataCollapse").each(function () {
                var match_record_member_id = $(this).parents(".mui-collapse").attr("data-match_record_member_id");
                if (match_record_member_id == undefined) {
                    match_record_member_id = 0;
                }
                var team_member_id = $(this).parents(".mui-collapse").attr("data-team_member_id");
                if (team_member_id == undefined) {
                    team_member_id = 0;
                }
                var member = $(this).siblings().find("input[name=name]").attr("data-member");
                var member_id = $(this).parents(".mui-collapse").attr("data-member_id");
                var name = $(this).siblings().find("input[name=name]").val();
                var number = $(this).siblings().find("input[name=number]").val();
                var number01 = $(this).siblings().find("input[name=number]").val();
                var lineup = $(this).find("input[name=lineup]").val(); //首发
                var fga = $(this).find("input[name=fga]").val(); //二分出手次数
                var fg = $(this).find("input[name=fg]").val(); //二分命中数
                var threepfga = $(this).find("input[name=threepfga]").val(); //三分出手次数
                var threepfg = $(this).find("input[name=threepfg]").val(); //三分命中数
                var fta = $(this).find("input[name=fta]").val(); //罚球次数
                var ft = $(this).find("input[name=ft]").val(); //罚球命中数
                var reb = $(this).find("input[name=reb]").val(); //篮板
                var ast = $(this).find("input[name=ast]").val(); //助攻
                var stl = $(this).find("input[name=stl]").val(); //抢断
                var blk = $(this).find("input[name=blk]").val(); //封盖
                var turnover = $(this).find("input[name=turnover]").val(); //失误
                var foul = $(this).find("input[name=foul]").val(); //犯规

                personalScore = fg * 2 + threepfg * 3 + ft * 1; //单个球员得分
                $(this).find("input[name=personalScoreCont]").val(personalScore); //单个球员得分赋值在personalScoreCont变量中
                personalScoreCont = $(this).find("input[name=personalScoreCont]").val();
                members.push({ match_record_member_id, member, member_id, name, team_member_id, number, lineup, fga, fg, threepfga, threepfg, fta, ft, reb, ast, stl, blk, turnover, foul });
            });
            var teamScore = $(".home_score").text(); // 球队总得分
            // 遍历求和球员总得分
            $("input[name=personalScoreCont]").each(function () {
                personalScoreAll += parseInt($(this).val());
            })
            console.log(personalScoreAll)
            if (personalScoreAll > teamScore) {
                mui.toast("球员总得分不能大于球队总得分");
                return false;
            }
            console.log(members)

            // 提交api
            var data = wooApi.getInputData('input', 'data');
            datas = wooApi.getInputData('select', 'data', data);
            // 获取其他标签值
            arrData = wooApi.getDomData('domData', datas);
            var objData = wooApi.arrTOobj(arrData);
            objData.members = JSON.stringify(members);
            var url = "{:url('api/matchdata/savematchstatisticsbyteam')}";
            var ajaxResult = wooApi.asyncF(url, objData);
            if (ajaxResult.code == 200) {
                mui.alert(ajaxResult.msg, '创建数据成功', '确定', function () {
                    var goUrl = "{:url('team/dataOfTeam')}" + '/team_id/' + "{$team_id}";
                    window.top.location.href = goUrl;
                })
            } else {
                mui.alert(ajaxResult.msg, '创建失败');
                mui.get("{:url('api/frontend/reloadtoken')}", function (data) {
                    if (data.code === 200) {
                        $('input[name=__token__]').val(data.data);
                    }
                }, 'json');
            }

        }

        //获取比赛列表
        function toMatchList(keyword, wMatch, page) {
            var url = "{:url('api/match/matchpagewithrecord','','',true)}/?page=" + page;
            var wMatchList = "ul.matchList";
            var currPage = ".currPagemt";
            var totalPage = ".totalPagemt";
            var team_id = "{$team_id}";
            if (keyword != '' && wMatch != '') {
                wMatchList = "#" + wMatch + " ul.matchList";
                currPage = "#" + wMatch + " .currPagemt";
                totalPage = "#" + wMatch + " .totalPagemt";
            }
            mui.ajax({
                url: url,
                data: {
                    page: page,
                    keyword: keyword,
                    is_finished: 1,
                    team_id: team_id
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var newli = '';
                        for (var i = 0; i <= data.data.data.length - 1; i++) {
                            newli += '<li class="mui-table-view-cell listli" data-match_record_id="' + data.data.data[i].record.id + '"  data-id="' + data.data.data[i].id + '" data-match_time="' + data.data.data[i].match_time + '" data-away_team="' + data.data.data[i].record.away_team + '" data-home_team="' + data.data.data[i].record.home_team + '" data-home_team_id="' + data.data.data[i].record.home_team_id + '" data-home_score="' + data.data.data[i].record.home_score + '" data-away_score="' + data.data.data[i].record.away_score + '" data-away_score="' + data.data.data[i].record.away_score + '"><font class="court">' + data.data.data[i].name + '</font>';
                            newli += '<div class="hide">';
                            for (var j = 0; j <= data.data.data[i].record_members.length - 1; j++) {
                                newli += '<input type="hidden" class="tmInfo" data-member="' + data.data.data[i].record_members[j].member + '" data-name="' + data.data.data[i].record_members[j].name + '" data-number="' + data.data.data[i].record_members[j].number + '" data-team_member_id="' + data.data.data[i].record_members[j].team_member_id + '" data-member_id="' + data.data.data[i].record_members[j].member_id + '" data-match_record_member_id="' + data.data.data[i].record_members[j].id + '">'
                            }
                            newli += '</div></li>'
                        }
                        if (newli == '') {
                            var matchUrl = "{:url('keeper/team/createMatch')}/" + 'team_id/' + "{$team_id}"
                            newli = '<div class="mui-text-center"><p class="nohave">没有查找到数据，<a href="' + matchUrl + '" class="colororange">前往创建比赛</a></p></div>'
                        }
                        $(wMatchList).empty().append(newli);
                        $(currPage).text(data.data.current_page);
                        $(totalPage).text(data.data.last_page);
                    } else {
                        mui.toast('数据获取失败,请稍候再试');
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

        //自定义获取球员列表
        var toTeamMemberList = function () {
            var url = "{:url('api/team/teammemberlist','','',true)}";
            var team_id = "{$teamInfo.id}";
            mui.ajax({
                url: url,
                data: {
                    team_id: team_id,
                    status: 1
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var newli = '';
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli = newli + '<li class="mui-table-view-cell listli" data-number="' + data.data[i].number + '" data-name="' + data.data[i].name + '" data-tmid="' + data.data[i].id + '" data-member="' + data.data[i].member + '" data-member_id="' + data.data[i].member_id + '">' + data.data[i].name + '</li>'
                        }
                        $("ul.teamMemberList").empty();
                        if (newli == '') {
                            newli = '<p class="mui-text-center">没有查找到数据哦</p>'
                        }
                        $("ul.teamMemberList").append(newli);

                    } else {
                        mui.toast('数据获取失败,请稍候再试');
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

        //获取会员列表
        function toMemberList(keywordMB, wMember, page) {
            var url = "{:url('api/member/getmemberlistpage','','',true)}" + '/?page=' + page;
            var wMemberList = "ul.memberList";
            var currPage = ".currPage";
            var totalPage = ".totalPage";
            if (keywordMB != '' && wMember != '') {
                wMemberList = "#" + wMember + " ul.memberList";
                currPage = "#" + wMember + " .currPage";
                totalPage = "#" + wMember + " .totalPage";
            }
            mui.ajax({
                url: url,
                data: {
                    page: page,
                    keyword: keywordMB,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var newli = '';
                        for (var i = 0; i <= data.data.data.length - 1; i++) {
                            newli += '<li class="mui-table-view-cell listli"  data-member_id="' + data.data.data[i].id + '" data-member="' + data.data.data[i].member + '" ><font class="court">' + data.data.data[i].member + '</font>';
                            newli += '</div></li>'
                        }
                        if (newli == '') {
                            newli = '<div class="mui-text-center"><p class="nohave">没有查找到数据</p></div>'
                        }
                        $(wMemberList).empty().append(newli);
                        $(currPage).text(data.data.current_page);
                        $(totalPage).text(data.data.last_page);
                    } else {
                        mui.toast('数据获取失败,请稍候再试');
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

    </script>
</body>

</html>