<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>球员数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--icon扩展样式icons-extra.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/icons-extra.css" />
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .teamLogo {
            width: 100%;
            border-radius: 50%;
        }

        @media screen and (min-width: 320px) {
            .teamLogo {
                height: 4.5rem;
            }
        }

        @media screen and (min-width: 375px) {
            .teamLogo {
                height: 5.4rem;
            }
        }

        @media screen and (min-width: 414px) {
            .teamLogo {
                height: 6.0rem;
            }
        }

        @media screen and (min-width: 768px) {
            .teamLogo {
                height: 11.5rem;
            }
        }

        .teamCollapse {
            padding: 0 !important;
        }

        .teamCollapse .nav-list-frame {
            margin: 0 !important;
        }

        .teamCollapse .otherStyle {
            padding-left: 15px !important;
        }


        .teamCollapse span {
            float: initial !important;
        }

        .teamCollapse .otherStyle:after {
            height: 0 !important;
        }

        .teamCollapse .otherStyle2:after {
            right: 30px !important;
        }
    </style>

</head>

<body>

    <header class="mui-bar mui-bar-nav subheader">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left arrow"></a>
        <h1 class="mui-title">球员数据</h1>
    </header>

    <div class="mui-content">
        <div class="list coach">
            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell listli mui-text-center" style="padding:35px 15px 25px 15px;">
                    <div class="mui-row">
                        <div class="mui-col-sm-3 mui-col-xs-3">
                            <img src="{$matchInfo.record.home_team_logo}" class="teamLogo">
                        </div>
                        <div class="mui-col-sm-6 mui-col-xs-6" style="padding: 8% 0;">
                            <h3 class="colororange">{$matchInfo.record.home_score} ：{$matchInfo.record.away_score}</h3>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3">
                            <img src="{$matchInfo.record.away_team_logo}" class="teamLogo awayLogo">
                        </div>
                    </div>
                    <div class="mui-row">
                        <div class="mui-col-sm-3 mui-col-xs-3">
                            <strong class="f16 colororange">{$matchInfo.record.home_team}</strong>
                        </div>
                        <div class="mui-col-sm-6 mui-col-xs-6 colorgray">{$matchInfo.match_time}</div>
                        <div class="mui-col-sm-3 mui-col-xs-3">
                            <strong class="f16 colororange away_team">{$matchInfo.record.away_team}</strong>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="mui-table-view mb">
                <li class="mui-table-view-cell mui-media listli" style="padding:11px 15px;">
                    <img class="mui-media-object mui-pull-left" src="{$teamInfo.logo}" style="width:60px !important;height:60px !important;margin-top:5px">
                    <div>
                        <strong class="f16">{$teamInfo.name}</strong>
                    </div>
                    <div class="mui-media-body">
                        <p class="mui-ellipsis" style="line-height:20px;">{$teamInfo.city} {$teamInfo.area}</p>
                        <p class="mui-ellipsis" style="line-height:20px;">队员:
                            <strong class="colororange">{$teamInfo.member_num}</strong>&nbsp;粉丝数:
                            <strong class="colororange">{$teamInfo.fans_num}</strong>
                        </p>
                    </div>
                    <div class="price-frame">
                        <button class="mui-btn bgred opBtn follow fr">关注</button>
                    </div>
                </li>
            </ul>

            <ul class="mui-table-view border-b dataList">
                {volist name="teamMatchStaticList" id="vo"}
                <li class="mui-table-view-cell mui-collapse listli">
                    <a class="mui-navigate-right">
                        <div class="mui-row">
                            <div class="mui-col-xs-2">
                                <strong class=" colororange f18">{$vo.number}</strong>
                            </div>
                            <div class="mui-col-xs-3">{$vo.name}</div>
                            <div class="mui-col-xs-7">
                                <text class="colororange">{$vo.pts}</text>pts &nbsp;
                                <text class="colororange">{$vo.ast}</text>Ast &nbsp;
                                <text class="colororange">{$vo.reb}</text>Reb
                            </div>
                        </div>
                    </a>
                    <div class="mui-collapse-content teamCollapse">
                        <div class="nav-list">
                            <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 otherStyle">
                                    <a href="#">
                                        <span>得分</span>
                                        <div class="mui-media-body colorred">{$vo.pts}</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 otherStyle">
                                    <a href="#">
                                        <span>三分</span>
                                        <div class="mui-media-body colorred">{$vo.threepfg*3}</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 otherStyle">
                                    <a href="#">
                                        <span>篮板</span>
                                        <div class="mui-media-body colorred">{$vo.reb}</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 otherStyle">
                                    <a href="#">
                                        <span>助攻</span>
                                        <div class="mui-media-body colorred">{$vo.ast}</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 otherStyle">
                                    <a href="#">
                                        <span>抢断</span>
                                        <div class="mui-media-body colorred">{$vo.stl}</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 otherStyle">
                                    <a href="#">
                                        <span>封盖</span>
                                        <div class="mui-media-body colorred">{$vo.blk}</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 otherStyle">
                                    <a href="#">
                                        <span>失误</span>
                                        <div class="mui-media-body colorred">{$vo.turnover}</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 otherStyle">
                                    <a href="#">
                                        <span>犯规</span>
                                        <div class="mui-media-body colorred">{$vo.foul}</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <ul class="mui-table-view mui-text-center list mb">
                            <li class="mui-table-view-cell listli otherStyle2">
                                <div class="mui-row">
                                    <div class="mui-col-sm-3 mui-col-xs-3">
                                        <strong>首发</strong>
                                    </div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">
                                        <strong class="colorred">{$vo.lineup}</strong>
                                    </div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">
                                        <strong>命中率</strong>
                                    </div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">
                                        <strong class="colorred">{$vo.hitrate}</strong>
                                    </div>
                                </div>
                            </li>
                            <li class="mui-table-view-cell listli otherStyle2">
                                <div class="mui-row">
                                    <div class="mui-col-sm-3 mui-col-xs-3">投篮</div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">出手</div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">命中</div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">命中率</div>
                                </div>
                            </li>
                            <li class="mui-table-view-cell listli otherStyle2">
                                <div class="mui-row">
                                    <div class="mui-col-sm-3 mui-col-xs-3">
                                        <strong>二分球</strong>
                                    </div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">{$vo.fga}</div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">{$vo.fg}</div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">
                                        <strong class="colorred">{$vo.fg_hitrate}</strong>
                                    </div>
                                </div>
                            </li>
                            <li class="mui-table-view-cell listli otherStyle2">
                                <div class="mui-row">
                                    <div class="mui-col-sm-3 mui-col-xs-3">
                                        <strong>三分球</strong>
                                    </div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">{$vo.threepfga}</div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">{$vo.threepfg}</div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">
                                        <strong class="colorred">{$vo.threepfg_hitrate}</strong>
                                    </div>
                                </div>
                            </li>
                            <li class="mui-table-view-cell listli otherStyle2">
                                <div class="mui-row">
                                    <div class="mui-col-sm-3 mui-col-xs-3">
                                        <strong>罚球</strong>
                                    </div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">{$vo.fta}</div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">{$vo.ft}</div>
                                    <div class="mui-col-sm-3 mui-col-xs-3">
                                        <strong class="colorred">{$vo.ft_hitrate}</strong>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                {/volist}
            </ul>

        </div>

        <!-- 评论区 -->
        <div class="page-header border-b ">
            <span class="course wd52">评论</span>
            <span class="more f14">评论
                <span class="comment_count">0</span>&nbsp;|&nbsp;
                <i class="mui-icon-extra mui-icon-extra-like f16 thumbsup"></i>&nbsp;
                <span class="thumbup_count">0</span>
            </span>
        </div>
        <ul class="mui-table-view comment-list mt55"></ul>

        <!-- 底部操作 -->
        <ul class="mui-table-view operation mt">
            <li class="mui-table-view-cell mui-col-sm-2 mui-col-xs-2 opli">
                <a href="{$homeurl}">
                    <span class="mui-icon icon iconfont icon-nav-Home"></span>
                </a>
            </li>
            <li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3 opli">
                <a href="#shareGuide">分享</a>
            </li>
            <li class="mui-table-view-cell mui-col-xs-7 mui-col-sm-7 opli bgblue">
                <a href="#fbcomment">发表评论</a>
            </li>
        </ul>

    </div>

    <!--分享-->
    <div id="shareGuide" class="mui-popover">
        <div class="shareGuideText">1、点击右上角的
            <span class="shareEllipsis">···</span>
            <img src="/static/frontend/images/esp.png" alt="">
        </div>
        <div class="shareGuideText">2、选择发送给朋友或分享到朋友圈</div>
    </div>

    <!-- 发表评论 -->
    <div id="fbcomment" class="mui-popover mui-popover-action mui-popover-bottom actionsheet">
        <ul class="mui-table-view operation list">
            <h5>
                <span class="type">评价一下</span>
                <a href="#fbcomment" class="mui-icon mui-icon-closeempty"></a>
            </h5>
            <li class="listli">
                <textarea rows="4" class="comment" placeholder="为这个比赛做做评价吧。"></textarea>
            </li>
            <li class="mui-col-xs-12 opli commentBtn">发表</li>
        </ul>
    </div>
    </div>

    <script src="/static/frontend/js/mui.min.js"></script>
    <script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        //初始化
        mui.init({
            swipeBack: true //启用右滑关闭功能
        });

        $(function () {
            pulldownRefresh(); //页面打开时获取一次最新评论信息
            isthumbsup(); //点赞状态
            followStatus(); //判断当前的关注状态

            if ($(".dataList").html() == '') {
                $("")
            }

            // 关注球队
            $(".follow").on("tap", '', function () {
                var team_id = "{$teamInfo.id}";
                mui.ajax("{:url('api/follow/focus')}", {
                    data: {
                        type: 4,
                        team_id: team_id
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        //服务器返回响应，根据响应结果，分析是否登录成功；
                        console.log(data);
                        if (data.code == 200) {
                            mui.toast(data.msg);
                            followStatus();
                        } else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            var count = 1;
            //评论功能
            $(".commentBtn").on('tap', function () {
                var commented_id = "{$matchInfo.id}";
                var comment = $(".comment").val();

                if (comment == '') {
                    mui.toast("评价内容不能为空哦");
                    return false;
                }

                mui.ajax("{:url('api/team/addteamcomment')}", {
                    data: {
                        commented_id: commented_id,
                        comment_type: 3,
                        comment: comment
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            mui.toast('评价成功，感谢你的评价！');
                            $(".comment-list").empty();
                            toCommentList();
                            mui('#fbcomment').popover('toggle');
                        } else {
                            mui.toast(data.msg);
                            mui('#fbcomment').popover('toggle');
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

            //点赞功能
            $(".thumbsup").on('tap', function () {
                var commented_id = "{$matchInfo.id}";
                mui.ajax("{:url('api/team/dianzan')}", {
                    data: {
                        commented_id: commented_id,
                        comment_type: 3,
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'post',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            $(".thumbup_count").text(data.thumbup_count);
                            isthumbsup();
                        } else {
                            mui.toast(data.msg);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });
            });

        });
        // 判断当前的关注状态
        function followStatus() {
            var team_id = "{$teamInfo.id}"
            mui.ajax("{:url('api/follow/getfollow')}", {
                data: {
                    type: 4,
                    team_id: team_id
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        if (data.data === 1) {
                            $(".follow").text("取消关注");
                        } else {
                            $(".follow").text("关注");
                        }
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        }

        // 点赞状态
        function isthumbsup() {
            var commented_id = "{$matchInfo.id}";
            mui.ajax("{:url('api/team/isthumbup')}", {
                data: {
                    commented_id: commented_id,
                    comment_type: 3,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        $(".thumbup_count").text(data.thumbsup_count);
                        if (data.thumbsup == 1) {
                            $(".thumbsup").css("color", "red");
                        } else {
                            $(".thumbsup").css("color", "#737373");
                        }
                    } else {
                        mui.toast(data.msg);
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        }

        //下拉刷新具体业务实现
        function pulldownRefresh() {
            setTimeout(function () {
                count = 1;//刷新并显示第一页
                var page = count;
                var gType = 1;//代表下拉刷新
                toCommentList(page, gType);//具体取数据的方法
            }, 100);
        }
        //上拉加载具体业务实现
        function pullupRefresh() {
            setTimeout(function () {
                count++;//翻下一页
                var page = count;
                var gType = 2;//代表上拉加载
                toCommentList(page, gType);//具体取数据的方法
            }, 100);
        }
        //获取评论列表
        function toCommentList(page, gType) {
            var url = "{:url('api/team/teamcommentlist','','',true)}/?page=" + page;
            var commented_id = "{$matchInfo.id}";
            mui.ajax({
                url: url,
                data: {
                    commented_id: commented_id,
                    comment_type: 3,
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    console.log(data)
                    var newli = '';
                    if (data.code == 200) {
                        $(".comment_count").text(data.data.length);
                        for (var i = 0; i <= data.data.length - 1; i++) {
                            newli = newli + '<li class="mui-table-view-cell listli border-b"><div class="mui-pull-right">' + data.data[i].create_time + '</div><img class="mui-pull-left coachicon" src="' + data.data[i].member_avatar + '">' + data.data[i].member + '<p>' + data.data[i].comment + '</p></li>'
                        }
                    }
                    if (gType == 1) {
                        //上拉刷新
                        $("ul.comment-list").empty().append(newli);
                        if (newli == '') {
                            $("ul.comment-list").html('<li class="nodata"><i class="icon iconfont icon-logo-Big"></i><p>还没有评论哦，你来说几句吧！</p></li>');
                        }
                    } else {
                        //下拉加载 gType==2
                        $("ul.comment-list").append(newli);
                    }
                },
                error: function (xhr, type, errerThrown) {
                    mui.toast('网络异常,请稍候再试');
                }
            });
        };

    </script>

</body>

</html>