<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$teamInfo.name}-球队</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/frontend/css/mui.min.css">
    <!--自定义style.css-->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css" />
    <style>
        .nav-list .mui-grid-view.mui-grid-9 .mui-table-view-cell {
            border: none;
        }

        .mui-grid-view.mui-grid-9 .mui-table-view-cell {
            padding: 11px 9px !important;
        }
    </style>
</head>

<body class="whitebg">
    <div class="mui-content">
        <div id="tabbar" class="mui-control-content mui-active coach">

            <div class="img4x3" style="background-image: url({$teamInfo.cover})"></div>
            <div class="page-header">
                <a href="{:url('team/myteam')}" class="mui-icon mui-icon-left-nav mui-pull-left arrow" style="color: #737373;font-size: 21px"></a>
                <span class="more">{$teamInfo.name}球队管理</span>
            </div>
            <div class="nav-list">
                <ul class="mui-table-view mui-grid-view mui-grid-9 nav-list-frame">
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="#">
                            <span>成员</span>
                            <div class="mui-media-body colororange">{$teamInfo.member_num}</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="#">
                            <span>比赛</span>
                            <div class="mui-media-body colororange">{$teamInfo.match_num}</div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
                        <a href="#">
                            <span>活动</span>
                            <div class="mui-media-body colororange">{$teamInfo.event_num}</div>
                        </a>
                    </li>
                </ul>
            </div>


            <ul class="mui-table-view mui-grid-view mui-grid-9 choise-module whitebg" style="margin-bottom:7px">
                {eq name="teamrole" value="6"}
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="{:url('team/teamEdit',['team_id'=>$teamInfo['id']])}">
                        <span class="icon iconfont icon-training-Order"></span>
                        <div class="mui-media-body">编辑</div>
                    </a>
                </li>
                {/eq}
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="{:url('team/teamInfo',['team_id'=>$teamInfo['id']])}">
                        <span class="icon iconfont icon-team-homepage"></span>
                        <div class="mui-media-body">球队主页</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="{:url('team/matchListOfTeam',['team_id'=>$teamInfo['id']])}">
                        <span class="icon iconfont icon-training-game"></span>
                        <div class="mui-media-body">添加比赛</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="{:url('team/directMatch',['team_id'=>$teamInfo['id']])}">
                        <span class="icon iconfont icon-team-VS"></span>
                        <div class="mui-media-body">录入比赛</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="{:url('team/eventListOfTeam',['team_id'=>$teamInfo['id']])}">
                        <span class="icon iconfont icon-training-activity"></span>
                        <div class="mui-media-body">活动</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="">
                        <span class="icon iconfont icon-team-news"></span>
                        <div class="mui-media-body">消息</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="{:url('team/teamMember',['team_id'=>$teamInfo['id']])}">
                        <span class="icon iconfont icon-team-member"></span>
                        <div class="mui-media-body">成员</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="{:url('team/fans',['team_id'=>$teamInfo['id']])}">
                        <span class="icon iconfont icon-training-fans"></span>
                        <div class="mui-media-body">粉丝</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="">
                        <span class="icon iconfont icon-team-Album"></span>
                        <div class="mui-media-body">相册</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="{:url('team/teamApplyList',['team_id'=>$teamInfo['id']])}">
                        <span class="icon iconfont icon-team-Join"></span>
                        <div class="mui-media-body">加入</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="{:url('team/matchApplyList',['team_id'=>$teamInfo['id']])}">
                        <span class="icon iconfont icon-team-VS"></span>
                        <div class="mui-media-body">约战</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <!-- <a href="{:url('team/createAboutMatch',['team_id'=>$teamInfo['id']])}"> -->
                    <a >
                        <span class="icon iconfont icon-team-VS"></span>
                        <div class="mui-media-body">发起约战</div>
                    </a>
                </li>

                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="{:url('team/matchRefereeApplyList',['team_id'=>$teamInfo['id']])}">
                        <span class="icon iconfont icon-team-cost"></span>
                        <div class="mui-media-body">找裁判</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="#">
                        <span class="icon iconfont icon-team-cost"></span>
                        <div class="mui-media-body">队费</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="#">
                        <span class="icon iconfont icon-team-Charter"></span>
                        <div class="mui-media-body">章程</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="{:url('team/honorListOfTeam',['team_id'=>$teamInfo['id']])}">
                        <span class="icon iconfont icon-team-cost"></span>
                        <div class="mui-media-body">荣誉</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a >
                        <span class="icon iconfont icon-team-Charter"></span>
                        <div class="mui-media-body">数据</div>
                    </a>
                </li>
            </ul>

            <ul class="mui-table-view mui-grid-view mui-grid-9 choise-module whitebg" style="margin-bottom:0 !important">
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="">
                        <span class="icon iconfont icon-training-Set"></span>
                        <div class="mui-media-body">球队设置</div>
                    </a>
                </li>
            </ul>

        </div>

    </div>
</body>
<script src="/static/frontend/js/mui.min.js"></script>
<script src="/static/frontend/js/jquery-3.2.1.min.js"></script>
<script>
    //初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    $(function () {
        //未开发提示
        $(".goConfirm").on("tap", function () {
            mui.toast('暂未开放，敬请期待');
        })
    })
</script>

</html>